spring_rest_angularjs/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="pessoas" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="sexo" type="xs:anyType" />
        <xs:element name="datanasc" type="xs:dateTime" />
        <xs:element name="cpf" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoaendereco" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pessoas" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enderecos" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enderecos" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="logradouro" type="xs:string" />
        <xs:element name="numero" type="xs:long" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="cep" type="xs:long" />
        <xs:element name="estado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 