surveyor/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="serverimportrowt01readerimpltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importfileformatreaderimpltest" >
      <xs:sequence>
        <xs:element name="format2reader" type="importfileformatreader" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importerimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quartz" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenguard" >
      <xs:sequence>
        <xs:element name="authorization_token" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tokendao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenutils" >
      <xs:sequence>
        <xs:element name="//loggerlogger" type="xs:string" />
        <xs:element name="authorization_header" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noguarding" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serversexcelview" >
      <xs:complexContent>
       <xs:extension base="abstractexcelview">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tapesexcelview" >
      <xs:complexContent>
       <xs:extension base="abstractexcelview">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myexcelview" >
      <xs:complexContent>
       <xs:extension base="abstractexcelview">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
        <xs:element name="application_date_format_til_seconds" type="xs:string" />
        <xs:element name="application_date_format_til_minutes" type="xs:string" />
        <xs:element name="application_date_format_til_days" type="xs:string" />
        <xs:element name="ter_til_seconds" type="xs:anyType" />
        <xs:element name="ter_til_minutes" type="xs:anyType" />
        <xs:element name="ter_til_days" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ds1configuration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ds2configuration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ds1configuration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ds2configuration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corsfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importerprogressreporterimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="importprogresslogdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tapeexcelformatreaderimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tapeexcelformatreader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tapeexcelformat" >
      <xs:sequence>
        <xs:element name="taperows" type="taperow" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taperow" >
      <xs:complexContent>
       <xs:extension base="excelfilerow">
         <xs:sequence>
          <xs:element name="//instansnavntapename" type="xs:string" />
          <xs:element name="//corporationcorporation" type="xs:string" />
          <xs:element name="//applikationrelationapplicationname" type="xs:string" />
          <xs:element name="//miljoenvironment" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tapeimporterimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="importerprogressreporter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="backup" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tapeexcelformatreader" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tapedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="applicationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="environmentdao" nillable="true" minOccurs="0" />
        <xs:element name="folderpath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tapeimporter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excelutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backupimpl" >
      <xs:sequence>
        <xs:element name="data_tables" type="xs:string" />
        <xs:element name="backup_tables" type="xs:string" />
        <xs:element name="manual_backup_tables" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importerimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="folderpath" type="xs:string" />
        <xs:element name="separator" type="xs:string" />
        <xs:element name="GeneratedName" type="backup" nillable="true" minOccurs="0" />
        <xs:element name="format2reader" type="importfileformatreader" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="platformdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="servertypedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="serverdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="applicationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operatingsystemdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="technicalapplicationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="environmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="businessassignmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="assignmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="importerprogressreporter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationrelationrow" >
      <xs:complexContent>
       <xs:extension base="excelfilerow">
         <xs:sequence>
          <xs:element name="applikationrelation" type="xs:string" />
          <xs:element name="corporation" type="xs:string" />
          <xs:element name="applikationbeskrivelse" type="xs:string" />
          <xs:element name="assignment" type="xs:string" />
          <xs:element name="businessassignment" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignmentrow" >
      <xs:complexContent>
       <xs:extension base="excelfilerow">
         <xs:sequence>
          <xs:element name="assignment" type="xs:string" />
          <xs:element name="corporation" type="xs:string" />
          <xs:element name="assignmentdescription" type="xs:string" />
          <xs:element name="contactperson" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="importfileformatreader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importfileformat" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//1sttabcontainerbusinessassignmentrowlist" type="businessassignmentrow" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//2ndtabassignmentrowlist" type="assignmentrow" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//3rdtabapplicationrelationrowlist" type="applicationrelationrow" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//4rdtabtechnicalapplicationrowlist" type="technicalapplicationrow" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//5thtabserverrowlist" type="serverrow" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importfileformatreaderimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="business_table_upload_sheet_name" type="xs:string" />
        <xs:element name="assignment_table_upload_sheet_name" type="xs:string" />
        <xs:element name="app_table_upload_sheet_name" type="xs:string" />
        <xs:element name="technical_application_table_upload_sheet_name" type="xs:string" />
        <xs:element name="server_table_upload_sheet_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serverrow" >
      <xs:complexContent>
       <xs:extension base="excelfilerow">
         <xs:sequence>
          <xs:element name="//servernavnservername" type="xs:string" />
          <xs:element name="//corporationcorporation" type="xs:string" />
          <xs:element name="//serverbeskrivelseserverdescription" type="xs:string" />
          <xs:element name="//servertypeservertype" type="xs:string" />
          <xs:element name="//applikationrelationapplicationrelation" type="xs:string" />
          <xs:element name="//statusstatus" type="xs:string" />
          <xs:element name="//miljoenvironment" type="xs:string" />
          <xs:element name="//platformplatform" type="xs:string" />
          <xs:element name="//osos" type="xs:string" />
          <xs:element name="//tekniskapplikationtechnicalapplication" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="excelfilerow" >
      <xs:sequence>
        <xs:element name="rowinfo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="technicalapplicationrow" >
      <xs:complexContent>
       <xs:extension base="excelfilerow">
         <xs:sequence>
          <xs:element name="technicalapplication" type="xs:string" />
          <xs:element name="technicalresponsible" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="businessassignmentrow" >
      <xs:complexContent>
       <xs:extension base="excelfilerow">
         <xs:sequence>
          <xs:element name="businessassignmentname" type="xs:string" />
          <xs:element name="corporationname" type="xs:string" />
          <xs:element name="businessassignmentdescription" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="importer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importerprogressreporter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notransactionimporttask" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="importer" nillable="true" minOccurs="0" />
        <xs:element name="filename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importtask" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="importer" nillable="true" minOccurs="0" />
        <xs:element name="filename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="applicationclass" type="application" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="callcenteragent" nillable="true" minOccurs="0" />
          <xs:element name="" type="organisationdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="environmentdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="applicationdatadao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="callcenteragentimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="automaticexecutionlogdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="serverreportdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scriptdatafactory" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scriptexecutor" nillable="true" minOccurs="0" />
        <xs:element name="enabled" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="callcenteragent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scriptexecutorimpl" >
      <xs:sequence>
        <xs:element name="qm" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="script" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scriptexecutor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scriptdata" >
      <xs:sequence>
        <xs:element name="serverlist" type="server" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="GeneratedName" type="reportperiod" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reporttemplate" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reportinterval" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scriptdatafactory" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="serverdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="surveyorloginservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrole" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ldaploginservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="grouproledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticateduser" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="roles" type="userrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="groups" type="xs:anyType" />
        <xs:element name="GeneratedName" type="organisation" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="legacyldaploginservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataintegrityexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="technicalapplicationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="technicalapplicationdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serverreportcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="manualexecutionlogdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="serverreportdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="applicationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="technicalapplicationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operatingsystemdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="platformdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="environmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="servertypedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reportgenerationintervaldao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reportintervaldao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reportperioddao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reporttemplatedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reportreportingperioddao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="serverdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scriptexecutor" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scriptdatafactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manualexecutionlogcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="manualexecutionlogdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="departmentdao" type="applicationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="assignmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="businessassignmentdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operatingsystemcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="operatingsystemdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="serverdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="applicationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="technicalapplicationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operatingsystemdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="platformdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="environmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="servertypedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="statedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organisationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="applicationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="assignmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="businessassignmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="environmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="serverdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="serverreportdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reporttemplatecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="reporttemplatedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tapecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tapedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="applicationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="environmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportintervalcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="reportintervaldao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="environmentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="environmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tapeimportercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tapeimporter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businessassignmentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="businessassignmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportperiodcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="reportperioddao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="platformcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="platformdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="assignmentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisationdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="automaticexecutionlogcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="automaticexecutionlogdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grouprolecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="grouproledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="importer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="backup" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servertypecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="servertypedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importprogresslogcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="importprogresslogdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pingcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tokendao" nillable="true" minOccurs="0" />
        <xs:element name="db" type="loginservice" nillable="true" minOccurs="0" />
        <xs:element name="ldap" type="loginservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationdata" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="application" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationdatadao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<applicationdata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportinterval" >
      <xs:complexContent>
       <xs:extension base="defaultedparameter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="organisationid" type="xs:long" />
          <xs:element name="assignmentid" type="xs:long" />
          <xs:element name="businessassignmentid" type="xs:long" />
          <xs:element name="" type="organisation" nillable="true" minOccurs="0" />
          <xs:element name="" type="assignment" nillable="true" minOccurs="0" />
          <xs:element name="" type="businessassignment" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reporttemplate" >
      <xs:complexContent>
       <xs:extension base="defaultedparameter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="operatingsystem" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="servers" type="server" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverfilter" >
      <xs:sequence>
        <xs:element name="organisationid" type="xs:anyType" />
        <xs:element name="environmentid" type="xs:anyType" />
        <xs:element name="platformid" type="xs:anyType" />
        <xs:element name="technicalapplicationid" type="xs:anyType" />
        <xs:element name="operatingsystemid" type="xs:anyType" />
        <xs:element name="stateid" type="xs:anyType" />
        <xs:element name="servertypeid" type="xs:anyType" />
        <xs:element name="applicationid" type="xs:anyType" />
        <xs:element name="applicationids" type="xs:anyType" />
        <xs:element name="servername" type="xs:string" />
        <xs:element name="servernames" type="xs:anyType" />
        <xs:element name="serverdescription" type="xs:string" />
        <xs:element name="//stringapplicationdescriptionbefore" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportperiod" >
      <xs:complexContent>
       <xs:extension base="defaultedparameter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverreportfilter" >
      <xs:sequence>
        <xs:element name="organisationid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="servers" type="server" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverreport" >
      <xs:complexContent>
       <xs:extension base="component">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="server_report_interval_daily" type="xs:string" />
          <xs:element name="server_report_interval_weekly" type="xs:string" />
          <xs:element name="server_report_run_until_date" type="xs:string" />
          <xs:element name="//" type="application" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="applicationids" type="xs:anyType" />
          <xs:element name="//" type="xs:anyType" />
          <xs:element name="suspended" type="xs:anyType" />
          <xs:element name="lastrundate" type="xs:anyType" />
          <xs:element name="lastrunfeedback" type="xs:string" />
          <xs:element name="reportgenerationervalid" type="xs:long" />
          <xs:element name="reportgenerationdayid" type="xs:long" />
          <xs:element name="reportreportingperiodid" type="xs:long" />
          <xs:element name="reportervalid" type="xs:long" />
          <xs:element name="reportperiodid" type="xs:long" />
          <xs:element name="reporttemplateid" type="xs:long" />
          <xs:element name="" type="reportgenerationinterval" nillable="true" minOccurs="0" />
          <xs:element name="" type="reportreportingperiod" nillable="true" minOccurs="0" />
          <xs:element name="" type="reportinterval" nillable="true" minOccurs="0" />
          <xs:element name="" type="reportperiod" nillable="true" minOccurs="0" />
          <xs:element name="" type="reporttemplate" nillable="true" minOccurs="0" />
          <xs:element name="createdby" type="xs:string" />
          <xs:element name="updatedby" type="xs:string" />
          <xs:element name="servername" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="serverdescription" type="xs:string" />
          <xs:element name="excludedservers" type="server" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="excludedserversids" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servertype" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="servers" type="server" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="token" >
      <xs:sequence>
        <xs:element name="token" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="commaseparatedroles" type="xs:string" />
        <xs:element name="updatedate" type="xs:anyType" />
        <xs:element name="organisationid" type="xs:long" />
        <xs:element name="roles" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organisation" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="used" type="xs:anyType" />
          <xs:element name="referrersinfos" type="referrersinfo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="servers" type="server" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="applications" type="application" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="environments" type="environment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="domain" type="xs:string" />
          <xs:element name="providerurl" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="importstate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="technicalapplication" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="servers" type="server" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="contactperson" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="server" >
      <xs:complexContent>
       <xs:extension base="component">
         <xs:sequence>
          <xs:element name="excluded" type="xs:anyType" />
          <xs:element name="applicationid" type="xs:long" />
          <xs:element name="applicationname" type="xs:string" />
          <xs:element name="" type="application" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="organisation" type="xs:string" />
        <xs:element name="commaseparatedroles" type="xs:string" />
        <xs:element name="roles" type="userrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tape" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="" type="organisation" nillable="true" minOccurs="0" />
          <xs:element name="" type="environment" nillable="true" minOccurs="0" />
          <xs:element name="" type="application" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignment" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="" type="organisation" nillable="true" minOccurs="0" />
          <xs:element name="organisationid" type="xs:long" />
          <xs:element name="contactperson" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="importprogresslog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="executor" type="xs:string" />
        <xs:element name="file" type="xs:string" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="finish" type="xs:dateTime" />
        <xs:element name="status" type="importstate" nillable="true" minOccurs="0" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="hangingtoolong" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authentication" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tapemapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servermapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tapefilter" >
      <xs:sequence>
        <xs:element name="organisationid" type="xs:anyType" />
        <xs:element name="environmentid" type="xs:anyType" />
        <xs:element name="applicationid" type="xs:anyType" />
        <xs:element name="tapename" type="xs:string" />
        <xs:element name="tapedescription" type="xs:string" />
        <xs:element name="organisationname" type="xs:string" />
        <xs:element name="environmentname" type="xs:string" />
        <xs:element name="applicationname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportreportingperiod" >
      <xs:complexContent>
       <xs:extension base="defaultedparameter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="platform" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="servers" type="server" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultedparameter" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="defaultparameter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="component" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="organisationid" type="xs:long" />
          <xs:element name="environmentid" type="xs:long" />
          <xs:element name="platformid" type="xs:long" />
          <xs:element name="technicalapplicationid" type="xs:long" />
          <xs:element name="operatingsystemid" type="xs:long" />
          <xs:element name="stateid" type="xs:long" />
          <xs:element name="servertypeid" type="xs:long" />
          <xs:element name="organisationname" type="xs:string" />
          <xs:element name="environmentname" type="xs:string" />
          <xs:element name="platformname" type="xs:string" />
          <xs:element name="technicalapplicationname" type="xs:string" />
          <xs:element name="operatingsystemname" type="xs:string" />
          <xs:element name="statename" type="xs:string" />
          <xs:element name="servertypename" type="xs:string" />
          <xs:element name="" type="organisation" nillable="true" minOccurs="0" />
          <xs:element name="" type="environment" nillable="true" minOccurs="0" />
          <xs:element name="" type="platform" nillable="true" minOccurs="0" />
          <xs:element name="" type="technicalapplication" nillable="true" minOccurs="0" />
          <xs:element name="" type="operatingsystem" nillable="true" minOccurs="0" />
          <xs:element name="" type="state" nillable="true" minOccurs="0" />
          <xs:element name="" type="servertype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="automaticexecutionlog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="organisation" type="xs:string" />
        <xs:element name="report" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedata" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="updatedate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grouprole" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="admin" type="xs:anyType" />
        <xs:element name="importer" type="xs:anyType" />
        <xs:element name="reportsetup" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="referrersinfo" >
      <xs:sequence>
        <xs:element name="type" type="xs:string" />
        <xs:element name="referrers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businessassignment" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="" type="organisation" nillable="true" minOccurs="0" />
          <xs:element name="organisationid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="environment" >
      <xs:complexContent>
       <xs:extension base="basedata">
         <xs:sequence>
          <xs:element name="servers" type="server" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="organisation" nillable="true" minOccurs="0" />
          <xs:element name="organisationid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manualexecutionlog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="organisation" type="xs:string" />
        <xs:element name="report" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportgenerationinterval" >
      <xs:complexContent>
       <xs:extension base="defaultedparameter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverreportdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<serverreport,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="businessassignmentdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<businessassignment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<application,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="organisationdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<organisation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverspecification" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="serverfilter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="environmentspecification" >
      <xs:sequence>
        <xs:element name="applicationname" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationspecification" >
      <xs:sequence>
        <xs:element name="applicationname" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statedao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<state,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="environmentdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<environment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportperioddao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<reportperiod,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="importprogresslogdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<importprogresslog,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="platformdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<platform,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<server,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportreportingperioddao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<reportreportingperiod,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tapespecification" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tapefilter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manualexecutionlogdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<manualexecutionlog,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="businessassignmentspecification" >
      <xs:sequence>
        <xs:element name="assignmentname" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokendao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<token,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignmentdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<assignment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="operatingsystemdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<operatingsystem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportintervaldao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<reportinterval,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignmentspecification" >
      <xs:sequence>
        <xs:element name="assignmentname" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reporttemplatedao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<reporttemplate,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="technicalapplicationdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<technicalapplication,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverreportspecification" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="serverreportfilter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportgenerationintervaldao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<reportgenerationinterval,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servertypedao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<servertype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="grouproledao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<grouprole,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tapedao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<tape,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="automaticexecutionlogdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<automaticexecutionlog,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="animate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="environment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="os" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organisation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servertype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="platform" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="technicalapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="business-assignment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tape" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manual-execution-log" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="automatic-execution-log" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="server" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servers-export" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unused-import-without-transaction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="group-role" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report-interval" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report-period" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logs-left-menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report-setup-left-menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dictionary-left-menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="welcome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ngbootbox.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootbox.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 