NYU10/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="callrecord" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="fromnumber" type="xs:string" />
        <xs:element name="tonumber" type="xs:string" />
        <xs:element name="minutes" type="xs:long" />
        <xs:element name="seconds" type="xs:long" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phonebill" >
      <xs:sequence>
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="calls" type="callrecord" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="amountbase" type="xs:anyType" />
        <xs:element name="taxrate" type="xs:anyType" />
        <xs:element name="tax" type="xs:anyType" />
        <xs:element name="amounttotal" type="xs:anyType" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 