s2container17/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="job" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:long" />
        <xs:element name="/***/" type="jobtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="/***/addressid" type="xs:long" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/version" type="xs:long" />
        <xs:element name="/***/" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="largeobject" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/name" type="xs:string" />
        <xs:element name="/***/largename" type="xs:string" />
        <xs:element name="s" type="xs:anyType" />
        <xs:element name="larges" type="xs:anyType" />
        <xs:element name="/***/dto" type="xs:anyType" />
        <xs:element name="/***/largedto" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:long" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/version" type="xs:long" />
        <xs:element name="/***/employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequencestrategy3" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/employeeid" type="xs:long" />
        <xs:element name="/***/employeeno" type="xs:long" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/managerid" type="xs:long" />
        <xs:element name="/***/manager" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/departmentid" type="xs:long" />
        <xs:element name="/***/" type="department" nillable="true" minOccurs="0" />
        <xs:element name="/***/addressid" type="xs:long" />
        <xs:element name="/***/" type="address" nillable="true" minOccurs="0" />
        <xs:element name="/***/version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequencestrategy" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablestrategy3" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="concretedepartment" >
      <xs:complexContent>
       <xs:extension base="abstractdepartment">
         <xs:sequence>
          <xs:element name="/***/departmentid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department3" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:long" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/departmentname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablestrategy2" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authority" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:long" />
        <xs:element name="/***/" type="authoritytype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablestrategy" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="concreteemployee" >
      <xs:complexContent>
       <xs:extension base="abstractemployee">
         <xs:sequence>
          <xs:element name="/***/salary" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department2" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:long" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/departmentname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequencestrategy2" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitystrategy" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department4" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:long" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/transientdepartmentname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pattern" >
      <xs:sequence>
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablestrategy4" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noid" >
      <xs:sequence>
        <xs:element name="/***/value1" type="xs:long" />
        <xs:element name="/***/value2" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compkeydepartment" >
      <xs:sequence>
        <xs:element name="/***/departmentid1" type="xs:long" />
        <xs:element name="/***/departmentid2" type="xs:long" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/version" type="xs:long" />
        <xs:element name="/***/employees" type="compkeyemployee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tense" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:long" />
        <xs:element name="/***/" type="xs:dateTime" />
        <xs:element name="/***/time" type="xs:dateTime" />
        <xs:element name="/***/timestamp" type="xs:dateTime" />
        <xs:element name="/***/caldate" type="xs:anyType" />
        <xs:element name="/***/caltime" type="xs:anyType" />
        <xs:element name="/***/caltimestamp" type="xs:anyType" />
        <xs:element name="/***/sqldate" type="xs:anyType" />
        <xs:element name="/***/sql" type="xs:dateTime" />
        <xs:element name="/***/sql" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ownerofnoid" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:long" />
        <xs:element name="/***/" type="noid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compkeyemployee" >
      <xs:sequence>
        <xs:element name="/***/employeeid1" type="xs:long" />
        <xs:element name="/***/employeeid2" type="xs:long" />
        <xs:element name="/***/employeeno" type="xs:long" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/managerid1" type="xs:long" />
        <xs:element name="/***/managerid2" type="xs:long" />
        <xs:element name="/***/manager" type="compkeyemployee" nillable="true" minOccurs="0" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/departmentid1" type="xs:long" />
        <xs:element name="/***/departmentid2" type="xs:long" />
        <xs:element name="/***/department" type="compkeydepartment" nillable="true" minOccurs="0" />
        <xs:element name="/***/addressid1" type="xs:long" />
        <xs:element name="/***/addressid2" type="xs:long" />
        <xs:element name="/***/address" type="compkeyaddress" nillable="true" minOccurs="0" />
        <xs:element name="/***/version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department5" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/transientdepartmentname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autostrategy" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintchecking" >
      <xs:sequence>
        <xs:element name="/***/primarykey" type="xs:anyType" />
        <xs:element name="/***/uniquekey" type="xs:anyType" />
        <xs:element name="/***/foreignkey" type="xs:anyType" />
        <xs:element name="/***/checkconstraint" type="xs:anyType" />
        <xs:element name="/***/notnull" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="concreteaddress" >
      <xs:complexContent>
       <xs:extension base="abstractaddress">
         <xs:sequence>
          <xs:element name="/***/version" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tablestrategy5" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compkeyaddress" >
      <xs:sequence>
        <xs:element name="/***/addressid1" type="xs:long" />
        <xs:element name="/***/addressid2" type="xs:long" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/version" type="xs:long" />
        <xs:element name="/***/employee" type="compkeyemployee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 