Java2-Cursuri19/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="fisier" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
        <xs:element name="linii" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="magazin" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="departamente" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="folder" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
        <xs:element name="fisier" type="fisier" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoala" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="materii" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persoana" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//valoriirespectiveadrese" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adresa" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="strada" type="xs:string" />
        <xs:element name="numar" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organizatie" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="straziadrese" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 