mpaas12/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="pluginattributesentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***插件属性id*/pluginattributesid" type="xs:string" />
        <xs:element name="/***插件id*/pluginid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pluginentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***插件id*/pluginid" type="xs:string" />
        <xs:element name="/***包组*/groupid" type="xs:string" />
        <xs:element name="/***包id**@return*/artifactid" type="xs:string" />
        <xs:element name="/***包版本**@return*/version" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***插件属性*/attributesentity" type="pluginattributesentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pluginmanagementconfig" >
      <xs:sequence>
        <xs:element name="/***注入模块接口*/module" type="xs:anyType" />
        <xs:element name="/***注入hibernate处理接口*/hibernatebuilder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 