spring-dashboard-project/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="dashboardcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="infantservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="alarmservice" type="alertservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="deviceservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboardservice" nillable="true" minOccurs="0" />
        <xs:element name="mailservice" type="mailsenderservice" nillable="true" minOccurs="0" />
        <xs:element name="s3service" type="amazons3service" nillable="true" minOccurs="0" />
        <xs:element name="kakaoservice" type="alarmtalkservice" nillable="true" minOccurs="0" />
        <xs:element name="dbservice" type="dynamodbservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="alertservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="alarmcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="infantservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imageuploadcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appjoincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="thumbnailservice" nillable="true" minOccurs="0" />
        <xs:element name="talkservice" type="alarmtalkservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="counselcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="alertservice" nillable="true" minOccurs="0" />
        <xs:element name="mailservice" type="mailsenderservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="ipinfodb_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shippingaddresscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="addressservice" type="shippingaddressservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authcorpcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="//1.일반db로그인,naver로그인,google로그인기능response_unauthorized" type="xs:long" />
        <xs:element name="response_success" type="xs:long" />
        <xs:element name="naver_client_id" type="xs:string" />
        <xs:element name="naver_client_secret" type="xs:string" />
        <xs:element name="naver_callback_url" type="xs:string" />
        <xs:element name="naver_callback_invite_url" type="xs:string" />
        <xs:element name="naver_fail_url" type="xs:string" />
        <xs:element name="naver_app_client_id" type="xs:string" />
        <xs:element name="naver_app_secret" type="xs:string" />
        <xs:element name="google_client_id" type="xs:string" />
        <xs:element name="google_client_secret" type="xs:string" />
        <xs:element name="kakao_app_key" type="xs:string" />
        <xs:element name="kakao_redirect_url" type="xs:string" />
        <xs:element name="kakao_client_secret" type="xs:string" />
        <xs:element name="kakao_rest_api_key" type="xs:string" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="membermngservice" nillable="true" minOccurs="0" />
        <xs:element name="mngservice" type="membermngservice" nillable="true" minOccurs="0" />
        <xs:element name="corpservice" type="corporationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="sessionservice" type="redissessionservice" nillable="true" minOccurs="0" />
        <xs:element name="logservice" type="memberlogservice" nillable="true" minOccurs="0" />
        <xs:element name="remembermeservice" type="xs:anyType" />
        <xs:element name="mailsender" type="mailsenderservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="temp_social_member" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alarmcontroller" >
      <xs:sequence>
        <xs:element name="//simplemessagingtemplate은메시지를먼저받지않아도애플리케이션내의어느곳에서든지메시지를전송한다messagingtemplate" type="xs:anyType" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dynamodbservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appservice" nillable="true" minOccurs="0" />
        <xs:element name="data" type="alert" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="mngservice" type="membermngservice" nillable="true" minOccurs="0" />
        <xs:element name="corpservice" type="corporationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="thumbnailservice" nillable="true" minOccurs="0" />
        <xs:element name="sessionservice" type="redissessionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="amazons3service" nillable="true" minOccurs="0" />
        <xs:element name="addressservice" type="shippingaddressservice" nillable="true" minOccurs="0" />
        <xs:element name="mailservice" type="mailsenderservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="upload_count" type="xs:long" />
        <xs:element name="pw_renew_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gallerycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="boardservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboardservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="galleryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="amazons3service" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="mngservice" type="membermngservice" nillable="true" minOccurs="0" />
        <xs:element name="alarmservice" type="alertservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="infantservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bottlecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joincontroller" >
      <xs:sequence>
        <xs:element name="//1.일반가입,facebook계정으로가입,naver계정으로가입" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="mngservice" type="membermngservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="corporationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="thumbnailservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mailsenderservice" nillable="true" minOccurs="0" />
        <xs:element name="talkservice" type="alarmtalkservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="mailsender" type="mailsenderservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="alertservice" nillable="true" minOccurs="0" />
        <xs:element name="talkservice" type="alarmtalkservice" nillable="true" minOccurs="0" />
        <xs:element name="logservice" type="memberlogservice" nillable="true" minOccurs="0" />
        <xs:element name="sessionservice" type="redissessionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="mngservice" type="membermngservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="infantservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="amazons3service" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="boardservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="galleryservice" nillable="true" minOccurs="0" />
        <xs:element name="alarmservice" type="alertservice" nillable="true" minOccurs="0" />
        <xs:element name="search_result_count" type="xs:long" />
        <xs:element name="page_num" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="deviceservice" nillable="true" minOccurs="0" />
        <xs:element name="logservice" type="memberlogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="mngservice" type="membermngservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="infantservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="s3service" type="amazons3service" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboardservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="thumbnailservice" nillable="true" minOccurs="0" />
        <xs:element name="talkservice" type="alarmtalkservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appservice" nillable="true" minOccurs="0" />
        <xs:element name="dbservice" type="dynamodbservice" nillable="true" minOccurs="0" />
        <xs:element name="//simplemessagingtemplate은메시지를먼저받지않아도애플리케이션내의어느곳에서든지메시지를전송한다messagingtemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dynamodbcontroller" >
      <xs:sequence>
        <xs:element name="service" type="dynamodbservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="alertservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="messagingtemplate" type="xs:anyType" />
        <xs:element name="GeneratedName" type="appservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="deviceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="diaryresponse" >
      <xs:sequence>
        <xs:element name="event_date_start" type="xs:string" />
        <xs:element name="event_type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gcaptcharesponse" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
        <xs:element name="challenge_ts" type="xs:string" />
        <xs:element name="hostname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kakaoprofileresponse" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="properties" type="kakaoproperties" nillable="true" minOccurs="0" />
        <xs:element name="kakao_account" type="kakaoaccount" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipinfodbresponse" >
      <xs:sequence>
        <xs:element name="statuscode" type="xs:string" />
        <xs:element name="statusmessage" type="xs:string" />
        <xs:element name="ipaddress" type="xs:string" />
        <xs:element name="countrycode" type="xs:string" />
        <xs:element name="countryname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kakaoproperties" >
      <xs:sequence>
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="thumbnail_image" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infant_diary_response" >
      <xs:sequence>
        <xs:element name="result" type="xs:string" />
        <xs:element name="diary_list" type="infant_diary" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="googleuser" >
      <xs:sequence>
        <xs:element name="azp" type="xs:string" />
        <xs:element name="aud" type="xs:string" />
        <xs:element name="sub" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="email_verified" type="xs:string" />
        <xs:element name="at_hash" type="xs:string" />
        <xs:element name="exp" type="xs:string" />
        <xs:element name="iss" type="xs:string" />
        <xs:element name="jti" type="xs:string" />
        <xs:element name="iat" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="picture" type="xs:string" />
        <xs:element name="given_name" type="xs:string" />
        <xs:element name="family_name" type="xs:string" />
        <xs:element name="locale" type="xs:string" />
        <xs:element name="alg" type="xs:string" />
        <xs:element name="kid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="babybookresponse" >
      <xs:sequence>
        <xs:element name="schedule_response" type="scheduleresponse" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="diary_response" type="diaryresponse" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="naverprofileresponse" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="profile_image" type="xs:string" />
        <xs:element name="age" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="birthday" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gettokenbynaverlogin" >
      <xs:sequence>
        <xs:element name="access_token" type="xs:string" />
        <xs:element name="refresh_token" type="xs:string" />
        <xs:element name="token_type" type="xs:string" />
        <xs:element name="expires_in" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboarddevice" >
      <xs:sequence>
        <xs:element name="total_count" type="xs:long" />
        <xs:element name="date_time" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduleresponse" >
      <xs:sequence>
        <xs:element name="event_date_start" type="xs:string" />
        <xs:element name="event_date_end" type="xs:string" />
        <xs:element name="total_date" type="xs:anyType" />
        <xs:element name="event_type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kakaoaccount" >
      <xs:sequence>
        <xs:element name="has_email" type="xs:anyType" />
        <xs:element name="is_email_valid" type="xs:anyType" />
        <xs:element name="is_email_verified" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="has_age_range" type="xs:anyType" />
        <xs:element name="age_range" type="xs:string" />
        <xs:element name="has_birthday" type="xs:anyType" />
        <xs:element name="birthday" type="xs:string" />
        <xs:element name="has_gender" type="xs:anyType" />
        <xs:element name="gender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infant_schedule_response" >
      <xs:sequence>
        <xs:element name="result" type="xs:string" />
        <xs:element name="schedule_list" type="infant_schedule" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getprofilebynaverlogin" >
      <xs:sequence>
        <xs:element name="resultcode" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="response" type="naverprofileresponse" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id_likes" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="diary_idx" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infant_diary" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="GeneratedName" type="infant" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="member" nillable="true" minOccurs="0" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="contents" type="xs:string" />
        <xs:element name="event_date" type="xs:string" />
        <xs:element name="date_created" type="xs:string" />
        <xs:element name="date_updated" type="xs:string" />
        <xs:element name="hashtag" type="xs:string" />
        <xs:element name="share" type="xs:anyType" />
        <xs:element name="hits" type="xs:long" />
        <xs:element name="likes" type="xs:long" />
        <xs:element name="id_files" type="id_file" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="comments" type="id_comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id_comment" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="diary_idx" type="xs:long" />
        <xs:element name="GeneratedName" type="member" nillable="true" minOccurs="0" />
        <xs:element name="contents" type="xs:string" />
        <xs:element name="date_created" type="xs:string" />
        <xs:element name="date_updated" type="xs:string" />
        <xs:element name="likes" type="xs:long" />
        <xs:element name="likes_check" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shipping_address" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="recipient_name" type="xs:string" />
        <xs:element name="recipient_phone" type="xs:string" />
        <xs:element name="recipient_phone2" type="xs:string" />
        <xs:element name="address_name" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="default_check" type="xs:anyType" />
        <xs:element name="member_info" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tmpfileinfo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="original_file_name" type="xs:string" />
        <xs:element name="server_file_name" type="xs:string" />
        <xs:element name="file_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member_infant" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="member" nillable="true" minOccurs="0" />
        <xs:element name="/*	@column(name" type="infant" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corp_approval" >
      <xs:sequence>
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="license_url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id_file" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="diary_idx" type="xs:long" />
        <xs:element name="original_filename" type="xs:string" />
        <xs:element name="server_filename" type="xs:string" />
        <xs:element name="file_url" type="xs:string" />
        <xs:element name="represent" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corporation" >
      <xs:sequence>
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="corp_num" type="xs:string" />
        <xs:element name="corp_name" type="xs:string" />
        <xs:element name="//1.서비스업,2.제조업,3.도소매,4.기타field_code" type="xs:anyType" />
        <xs:element name="//1.지식서비스,2.전자상거래,3.지식서비스+전자상거래service_code" type="xs:anyType" />
        <xs:element name="approval" type="xs:anyType" />
        <xs:element name="dname" type="xs:string" />
        <xs:element name="dphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsondashboard" >
      <xs:sequence>
        <xs:element name="attr" type="xs:anyType" />
        <xs:element name="x" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coupon" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="rate" type="xs:long" />
        <xs:element name="start_date" type="xs:string" />
        <xs:element name="end_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="writebottledata" >
      <xs:sequence>
        <xs:element name="member_idx" type="xs:string" />
        <xs:element name="session_id" type="xs:string" />
        <xs:element name="serial_num" type="xs:string" />
        <xs:element name="bottles" type="bottle" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thumbnail" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="original_filename" type="xs:string" />
        <xs:element name="server_filename" type="xs:string" />
        <xs:element name="file_size" type="xs:long" />
        <xs:element name="category" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alarm_index" >
      <xs:sequence>
        <xs:element name="alarm" type="alarm" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="checkmaxsize" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchmember" >
      <xs:sequence>
        <xs:element name="search_phone" type="xs:string" />
        <xs:element name="//의미는닉네임search_name" type="xs:string" />
        <xs:element name="search_thumbnail" type="xs:string" />
        <xs:element name="search_idx" type="xs:long" />
        <xs:element name="group_request_check" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member_infant_id" >
      <xs:sequence>
        <xs:element name="member" type="xs:long" />
        <xs:element name="infant" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alert" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="requester" type="xs:long" />
        <xs:element name="recipient" type="xs:long" />
        <xs:element name="request_date" type="xs:string" />
        <xs:element name="//0:그룹수락알림,1:그룹신청알림,2:게시물댓글알림,3:갤러리댓글알림,4:그룹다이어리작성알림,5:그룹스케쥴작성알림,6:배변알림,7:수유알림,8:저체온알림,9:고체온알림event_type" type="xs:anyType" />
        <xs:element name="//읽음구분값.'f'또는't'read_chk" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infant_thumbnail" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="infant_idx" type="xs:long" />
        <xs:element name="origin_file" type="xs:string" />
        <xs:element name="server_file" type="xs:string" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="device" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="serial_num" type="xs:string" />
        <xs:element name="//temp:1/peepee:2/bottle:3type" type="xs:anyType" />
        <xs:element name="firmware" type="xs:string" />
        <xs:element name="mac_address" type="xs:string" />
        <xs:element name="unit" type="xs:anyType" />
        <xs:element name="switch_chk" type="xs:anyType" />
        <xs:element name="reg_time" type="xs:string" />
        <xs:element name="update_time" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infant_schedule" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="GeneratedName" type="infant" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="member" nillable="true" minOccurs="0" />
        <xs:element name="event_date_start" type="xs:string" />
        <xs:element name="event_date_end" type="xs:string" />
        <xs:element name="date_created" type="xs:string" />
        <xs:element name="date_updated" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="event_type" type="xs:anyType" />
        <xs:element name="//이벤트시작시간과종료시간차이를담을변수.db연동xinterval" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="board_index" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="//관리자가작성한게시글인경우공지로보여줄것member_idx" type="xs:long" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="contents" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="thumbnail" type="xs:string" />
        <xs:element name="attached_file" type="xs:anyType" />
        <xs:element name="hits" type="xs:long" />
        <xs:element name="likes" type="xs:long" />
        <xs:element name="comment_count" type="xs:long" />
        <xs:element name="date_created" type="xs:string" />
        <xs:element name="date_updated" type="xs:string" />
        <xs:element name="//당일인경우몇시간전,몇분전표기를위한리스트인덱스용날짜date_created2" type="xs:string" />
        <xs:element name="date_updated2" type="xs:string" />
        <xs:element name="new_check" type="xs:long" />
        <xs:element name="category" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="writepeepeedata" >
      <xs:sequence>
        <xs:element name="member_idx" type="xs:string" />
        <xs:element name="session_id" type="xs:string" />
        <xs:element name="serial_num" type="xs:string" />
        <xs:element name="peepees" type="peepee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard" >
      <xs:sequence>
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="temp" type="xs:string" />
        <xs:element name="peepee" type="xs:string" />
        <xs:element name="bottle" type="xs:string" />
        <xs:element name="/*@column(name" type="xs:string" />
        <xs:element name="group_info" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alarm" >
      <xs:sequence>
        <xs:element name="alarm_idx" type="xs:long" />
        <xs:element name="requester" type="xs:long" />
        <xs:element name="//실제의미는알람신청자닉네임requester_name" type="xs:string" />
        <xs:element name="requester_thumbnail" type="xs:string" />
        <xs:element name="recipient" type="xs:long" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="event_type" type="xs:anyType" />
        <xs:element name="read_chk" type="xs:anyType" />
        <xs:element name="//로바꾸면getoutputstream()오류남.alert_board와outerjoin을위해추가board_idx" type="xs:anyType" />
        <xs:element name="comment_idx" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infant" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="birth" type="xs:string" />
        <xs:element name="sex" type="xs:anyType" />
        <xs:element name="nationality" type="xs:string" />
        <xs:element name="weight" type="xs:double" />
        <xs:element name="height" type="xs:double" />
        <xs:element name="blood_type" type="xs:string" />
        <xs:element name="thumbnail" type="infant_thumbnail" nillable="true" minOccurs="0" />
        <xs:element name="/*@manytomany	@jointable(name" type="member_infant" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member_mng" >
      <xs:sequence>
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="po" type="xs:long" />
        <xs:element name="grade" type="xs:anyType" />
        <xs:element name="introduction" type="xs:string" />
        <xs:element name="last_login_date" type="xs:string" />
        <xs:element name="login_err_cnt" type="xs:long" />
        <xs:element name="dormant_chk" type="xs:anyType" />
        <xs:element name="unit" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="board" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="category" type="xs:anyType" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="contents" type="xs:string" />
        <xs:element name="hashtag" type="xs:string" />
        <xs:element name="hits" type="xs:long" />
        <xs:element name="likes" type="xs:long" />
        <xs:element name="date_created" type="xs:string" />
        <xs:element name="date_updated" type="xs:string" />
        <xs:element name="notice" type="xs:anyType" />
        <xs:element name="public_check" type="xs:anyType" />
        <xs:element name="comments" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="board_files" type="board_file" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="member" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="peepee" >
      <xs:sequence>
        <xs:element name="infant_idx" type="xs:long" />
        <xs:element name="date_time" type="xs:long" />
        <xs:element name="temp" type="xs:double" />
        <xs:element name="humid" type="xs:double" />
        <xs:element name="change_chk" type="xs:anyType" />
        <xs:element name="defec_chk" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alert_board" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="board_idx" type="xs:long" />
        <xs:element name="comment_idx" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment_data" >
      <xs:sequence>
        <xs:element name="result" type="xs:long" />
        <xs:element name="//@jsonbackreferencecomments" type="comment_check" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitymember" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gallerylikesinfo" >
      <xs:sequence>
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="thumbnail" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rememberme" >
      <xs:sequence>
        <xs:element name="series" type="xs:string" />
        <xs:element name="//email속성(회원아이디)username" type="xs:string" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="last_used" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member_log" >
      <xs:sequence>
        <xs:element name="session_id" type="xs:string" />
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="log_type" type="xs:anyType" />
        <xs:element name="ip_address" type="xs:string" />
        <xs:element name="browser" type="xs:string" />
        <xs:element name="login_date" type="xs:string" />
        <xs:element name="logout_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member_group" >
      <xs:sequence>
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="//@idgroup_idx" type="xs:long" />
        <xs:element name="authority" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temp" >
      <xs:sequence>
        <xs:element name="infant_idx" type="xs:long" />
        <xs:element name="date_time" type="xs:long" />
        <xs:element name="temp" type="xs:double" />
        <xs:element name="//필수xmemo" type="xs:string" />
        <xs:element name="//필수x.사용자가오늘날짜에서시간만설정memo_time" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="board_file" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="board_idx" type="xs:long" />
        <xs:element name="original_filename" type="xs:string" />
        <xs:element name="server_filename" type="xs:string" />
        <xs:element name="file_url" type="xs:string" />
        <xs:element name="file_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friends" >
      <xs:sequence>
        <xs:element name="friend_id" type="xs:long" />
        <xs:element name="member_idx1" type="xs:long" />
        <xs:element name="member_idx2" type="xs:long" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="request_time" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="family_group" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corpauthinfo" >
      <xs:sequence>
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="license_url" type="xs:string" />
        <xs:element name="corp_num" type="xs:string" />
        <xs:element name="corp_name" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="field_code" type="xs:anyType" />
        <xs:element name="service_code" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id_comment_likes" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="comment_idx" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gallery" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="GeneratedName" type="member" nillable="true" minOccurs="0" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="contents" type="xs:string" />
        <xs:element name="hashtag" type="xs:string" />
        <xs:element name="hits" type="xs:long" />
        <xs:element name="likes" type="xs:long" />
        <xs:element name="date_created" type="xs:string" />
        <xs:element name="date_updated" type="xs:string" />
        <xs:element name="original_filename" type="xs:string" />
        <xs:element name="server_filename" type="xs:string" />
        <xs:element name="file_url" type="xs:string" />
        <xs:element name="file_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupinfo" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="group_idx" type="xs:long" />
        <xs:element name="group_admin" type="xs:string" />
        <xs:element name="group_admin_idx" type="xs:long" />
        <xs:element name="group_members" type="member" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_listshared_" type="infant" nillable="true" minOccurs="0" />
        <xs:element name="//yyyy-mm-dddate" type="xs:string" />
        <xs:element name="//위date날짜의총수유횟수feed_cnt" type="xs:long" />
        <xs:element name="//위date날짜의총배변횟수defec_cnt" type="xs:long" />
        <xs:element name="//위date날짜의마지막체온last_temp" type="xs:string" />
        <xs:element name="//위date날짜의마지막측정시간temp_time" type="xs:string" />
        <xs:element name="//위date날짜의마지막측정시간peepee_time" type="xs:string" />
        <xs:element name="//위date날짜의마지막측정시간bottle_time" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imageupload" >
      <xs:sequence>
        <xs:element name="attatchpath" type="xs:string" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="upload" type="xs:anyType" />
        <xs:element name="ckeditorfuncnum" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="board_idx" type="xs:long" />
        <xs:element name="GeneratedName" type="member" nillable="true" minOccurs="0" />
        <xs:element name="category" type="xs:anyType" />
        <xs:element name="contents" type="xs:string" />
        <xs:element name="likes" type="xs:long" />
        <xs:element name="date_created" type="xs:string" />
        <xs:element name="date_updated" type="xs:string" />
        <xs:element name="likes_check" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="device_response" >
      <xs:sequence>
        <xs:element name="temp" type="device" nillable="true" minOccurs="0" />
        <xs:element name="peepee" type="device" nillable="true" minOccurs="0" />
        <xs:element name="bottle" type="device" nillable="true" minOccurs="0" />
        <xs:element name="count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="board_likes" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="board_idx" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment_likes" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="comment_idx" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gallery_index" >
      <xs:sequence>
        <xs:element name="diary_idx" type="xs:long" />
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="contents" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="thumbnail" type="xs:string" />
        <xs:element name="hits" type="xs:long" />
        <xs:element name="likes" type="xs:long" />
        <xs:element name="likes_check" type="xs:long" />
        <xs:element name="comment_count" type="xs:long" />
        <xs:element name="date_created" type="xs:string" />
        <xs:element name="file_url" type="xs:string" />
        <xs:element name="hashtag" type="xs:string" />
        <xs:element name="hashtag2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="writetempdata" >
      <xs:sequence>
        <xs:element name="infant_idx" type="xs:long" />
        <xs:element name="member_idx" type="xs:long" />
        <xs:element name="session_id" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="temperature" type="xs:double" />
        <xs:element name="serial_num" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="thumbnail" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="birth" type="xs:string" />
        <xs:element name="sex" type="xs:anyType" />
        <xs:element name="join_date" type="xs:string" />
        <xs:element name="pw_renew_date" type="xs:string" />
        <xs:element name="social_code" type="xs:anyType" />
        <xs:element name="country_code" type="xs:string" />
        <xs:element name="member_type" type="xs:anyType" />
        <xs:element name="dup_info" type="xs:string" />
        <xs:element name="/*@manytomany	@jointable(name" type="member_infant" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="babybook" >
      <xs:sequence>
        <xs:element name="diary_list" type="infant_diary" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="schedule_list" type="infant_schedule" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notify_email" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="date_created" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailsender" >
      <xs:sequence>
        <xs:element name="from" type="xs:string" />
        <xs:element name="to" type="xs:anyType" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment_check" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="board_idx" type="xs:long" />
        <xs:element name="writer_idx" type="xs:long" />
        <xs:element name="writer_thumbnail" type="xs:string" />
        <xs:element name="writer_nickname" type="xs:string" />
        <xs:element name="category" type="xs:anyType" />
        <xs:element name="contents" type="xs:string" />
        <xs:element name="likes" type="xs:long" />
        <xs:element name="date_created" type="xs:string" />
        <xs:element name="date_updated" type="xs:string" />
        <xs:element name="likes_check" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bottle" >
      <xs:sequence>
        <xs:element name="infant_idx" type="xs:long" />
        <xs:element name="date_time" type="xs:long" />
        <xs:element name="temp" type="xs:double" />
        <xs:element name="angle" type="xs:double" />
        <xs:element name="feed_chk" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infantthumbnailrepository" >
      <xs:complexContent>
       <xs:extension base="repository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="comment_likesrepository" >
      <xs:complexContent>
       <xs:extension base="repository<comment_likes,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idcommentrepository" >
      <xs:complexContent>
       <xs:extension base="repository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idlikesrepository" >
      <xs:complexContent>
       <xs:extension base="repository<id_likes,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shipping_addressrepository" >
      <xs:complexContent>
       <xs:extension base="repository<shipping_address,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="member_grouprepository" >
      <xs:complexContent>
       <xs:extension base="repository<member_group,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="member_logrepository" >
      <xs:complexContent>
       <xs:extension base="repository<member_log,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="devicerepository" >
      <xs:complexContent>
       <xs:extension base="repository<device,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="infant_diaryrepository" >
      <xs:complexContent>
       <xs:extension base="repository<infant_diary,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="corp_approvalrepository" >
      <xs:complexContent>
       <xs:extension base="repository<corp_approval,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="family_grouprepository" >
      <xs:complexContent>
       <xs:extension base="repository<family_group,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboardrepository" >
      <xs:complexContent>
       <xs:extension base="repository<dashboard,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notifyemailrepository" >
      <xs:complexContent>
       <xs:extension base="repository<notify_email,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="alert_boardrepository" >
      <xs:complexContent>
       <xs:extension base="repository<alert_board,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberrepository" >
      <xs:complexContent>
       <xs:extension base="repository<member,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="infant_schedulerepository" >
      <xs:complexContent>
       <xs:extension base="repository<infant_schedule,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="board_filerepository" >
      <xs:complexContent>
       <xs:extension base="repository<board_file,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentrepository" >
      <xs:complexContent>
       <xs:extension base="repository<comment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="alertrepository" >
      <xs:complexContent>
       <xs:extension base="repository<alert,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="infantrepository" >
      <xs:complexContent>
       <xs:extension base="repository<infant,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boardrepository" >
      <xs:complexContent>
       <xs:extension base="repository<board,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="corporationrepository" >
      <xs:complexContent>
       <xs:extension base="repository<corporation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="id_filerepository" >
      <xs:complexContent>
       <xs:extension base="repository<id_file,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="remembermerepository" >
      <xs:complexContent>
       <xs:extension base="repository<rememberme,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="board_likesrepository" >
      <xs:complexContent>
       <xs:extension base="repository<board_likes,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="grouprepository" >
      <xs:complexContent>
       <xs:extension base="repository<family_group,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="thumbnailrepository" >
      <xs:complexContent>
       <xs:extension base="repository<thumbnail,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="member_managementrepository" >
      <xs:complexContent>
       <xs:extension base="repository<member_mng,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="member_infantrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<member_infant,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="galleryrepository" >
      <xs:complexContent>
       <xs:extension base="repository<gallery,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idcommentlikesrepository" >
      <xs:complexContent>
       <xs:extension base="repository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boardservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appservice" >
      <xs:sequence>
        <xs:element name="logservice" type="memberlogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="membermngservice" >
      <xs:sequence>
        <xs:element name="member_mngrepository" type="member_managementrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shippingaddressservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corpapprovalservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alertserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="alertrepository" nillable="true" minOccurs="0" />
        <xs:element name="abrepository" type="alert_boardrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="boardrepository" nillable="true" minOccurs="0" />
        <xs:element name="board_likes_r" type="board_likesrepository" nillable="true" minOccurs="0" />
        <xs:element name="bfrepository" type="board_filerepository" nillable="true" minOccurs="0" />
        <xs:element name="crepository" type="commentrepository" nillable="true" minOccurs="0" />
        <xs:element name="clrepository" type="comment_likesrepository" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amazons3service" >
      <xs:sequence>
        <xs:element name="bucket_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="galleryserviceimpl" >
      <xs:sequence>
        <xs:element name="commentrepository" type="idcommentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="idlikesrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="idcommentlikesrepository" nillable="true" minOccurs="0" />
        <xs:element name="idrepository" type="infant_diaryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="galleryrepository" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetailsservice" >
      <xs:sequence>
        <xs:element name="repository" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardservice" >
      <xs:sequence>
        <xs:element name="idrepository" type="infant_diaryrepository" nillable="true" minOccurs="0" />
        <xs:element name="ifrepository" type="id_filerepository" nillable="true" minOccurs="0" />
        <xs:element name="commentrepository" type="idcommentrepository" nillable="true" minOccurs="0" />
        <xs:element name="commentlikesrepository" type="idcommentlikesrepository" nillable="true" minOccurs="0" />
        <xs:element name="isrepository" type="infant_schedulerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboardrepository" nillable="true" minOccurs="0" />
        <xs:element name="itrepository" type="infantthumbnailrepository" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corpapprovalserviceimpl" >
      <xs:sequence>
        <xs:element name="corpapprepository" type="corp_approvalrepository" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
        <xs:element name="passwordencoder" type="xs:anyType" />
        <xs:element name="userdetailsservice" type="customuserdetailsservice" nillable="true" minOccurs="0" />
        <xs:element name="s3service" type="amazons3service" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corporationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="corporationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="galleryservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceservice" >
      <xs:sequence>
        <xs:element name="repository" type="devicerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thumbnailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shippingaddressserviceimpl" >
      <xs:sequence>
        <xs:element name="addressrepository" type="shipping_addressrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailsenderservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="amazonsesserviceclient" type="xs:anyType" />
        <xs:element name="repository" type="notifyemailrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infantserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="infantrepository" nillable="true" minOccurs="0" />
        <xs:element name="itrepository" type="infantthumbnailrepository" nillable="true" minOccurs="0" />
        <xs:element name="mirepository" type="member_infantrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corporationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupserviceimpl" >
      <xs:sequence>
        <xs:element name="grepository" type="grouprepository" nillable="true" minOccurs="0" />
        <xs:element name="mgrepository" type="member_grouprepository" nillable="true" minOccurs="0" />
        <xs:element name="mirepository" type="member_infantrepository" nillable="true" minOccurs="0" />
        <xs:element name="fgrepository" type="family_grouprepository" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redissessionservice" >
      <xs:sequence>
        <xs:element name="redistemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infantservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dynamodbservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alarmtalkservice" >
      <xs:sequence>
        <xs:element name="api_store_id" type="xs:string" />
        <xs:element name="api_store_key" type="xs:string" />
        <xs:element name="api_send_profile_key" type="xs:string" />
        <xs:element name="msg_send_url" type="xs:string" />
        <xs:element name="result_url" type="xs:string" />
        <xs:element name="search_template_url" type="xs:string" />
        <xs:element name="register_call_num_url" type="xs:string" />
        <xs:element name="search_call_num_url" type="xs:string" />
        <xs:element name="auth_send_num_url" type="xs:string" />
        <xs:element name="api_version" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thumbnailserviceimpl" >
      <xs:sequence>
        <xs:element name="tnrepository" type="thumbnailrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberlogservice" >
      <xs:sequence>
        <xs:element name="repository" type="member_logrepository" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alertservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modifydiaryrequest" >
      <xs:sequence>
        <xs:element name="file_url" type="xs:string" />
        <xs:element name="idx" type="xs:string" />
        <xs:element name="update_file" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addmailingmembers" >
      <xs:sequence>
        <xs:element name="email_address" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kakaotokenrequest" >
      <xs:sequence>
        <xs:element name="access_token" type="xs:string" />
        <xs:element name="token_type" type="xs:string" />
        <xs:element name="refresh_token" type="xs:string" />
        <xs:element name="expires_in" type="xs:long" />
        <xs:element name="scope" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="diarymodifyfile" >
      <xs:sequence>
        <xs:element name="file_url" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alarmtalkrequest" >
      <xs:sequence>
        <xs:element name="//필수phone" type="xs:string" />
        <xs:element name="//필수callback" type="xs:string" />
        <xs:element name="reqdate" type="xs:string" />
        <xs:element name="//필수msg" type="xs:string" />
        <xs:element name="//필수template_code" type="xs:string" />
        <xs:element name="failed_type" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="url_button_txt" type="xs:string" />
        <xs:element name="failed_subject" type="xs:string" />
        <xs:element name="failed_msg" type="xs:string" />
        <xs:element name="//필수apiversion" type="xs:string" />
        <xs:element name="//필수client_id" type="xs:string" />
        <xs:element name="btn_types" type="xs:string" />
        <xs:element name="btn_txts" type="xs:string" />
        <xs:element name="btn_urls1" type="xs:string" />
        <xs:element name="btn_urls2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="littleoneapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customauthenticationfailurehandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="mngservice" type="membermngservice" nillable="true" minOccurs="0" />
        <xs:element name="remembermeservices" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="failureurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticationprovider" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customauthenticationsuccesshandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="mngservice" type="membermngservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupservice" nillable="true" minOccurs="0" />
        <xs:element name="sessionservice" type="redissessionservice" nillable="true" minOccurs="0" />
        <xs:element name="logservice" type="memberlogservice" nillable="true" minOccurs="0" />
        <xs:element name="remembermeservices" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="failureurl" type="xs:string" />
        <xs:element name="google_recaptcha_request_url" type="xs:string" />
        <xs:element name="google_recaptcha_secret_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorconfig" >
      <xs:complexContent>
       <xs:extension base="serverproperties">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customhttpsessionlistener" >
      <xs:sequence>
        <xs:element name="logservice" type="memberlogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="sessionservice" type="redissessionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remembermetokenrepository" >
      <xs:sequence>
        <xs:element name="repository" type="remembermerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localeconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="websocketconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="stomphandler" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardinterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
          <xs:element name="" type="infantservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="memberservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="groupservice" nillable="true" minOccurs="0" />
          <xs:element name="dbservice" type="dynamodbservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inputvalueauthinterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="httpsessionhandshakeinterceptor" >
      <xs:sequence>
        <xs:element name="//소켓연결전필요한핸드쉐이크전후이벤트가발생할때가로채어지는클래스logservice" type="memberlogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="deviceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stomphandler" >
      <xs:complexContent>
       <xs:extension base="channelinterceptoradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="redissessionconfig" >
      <xs:sequence>
        <xs:element name="redis_host" type="xs:string" />
        <xs:element name="redis_port" type="xs:string" />
        <xs:element name="redis_password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amazons3config" >
      <xs:sequence>
        <xs:element name="access_key" type="xs:string" />
        <xs:element name="secret_key" type="xs:string" />
        <xs:element name="end_point" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="certificationinterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberregistrequest" >
      <xs:sequence>
        <xs:element name="personal_email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="user_name" type="xs:string" />
        <xs:element name="user_birthdate" type="xs:string" />
        <xs:element name="user_gender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corporationregistrequest" >
      <xs:sequence>
        <xs:element name="personal_email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//숫자만입력.00000000000형태로db에들어가야함.국가코드를포함phone" type="xs:string" />
        <xs:element name="corp_num" type="xs:string" />
        <xs:element name="corp_name" type="xs:string" />
        <xs:element name="field_code" type="xs:string" />
        <xs:element name="service_code" type="xs:long" />
        <xs:element name="dname" type="xs:string" />
        <xs:element name="dphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infantregistrequest" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="birth" type="xs:string" />
        <xs:element name="//m또는fsex" type="xs:anyType" />
        <xs:element name="nationality" type="xs:string" />
        <xs:element name="//dbinsert시float로형변환필요weight" type="xs:string" />
        <xs:element name="//dbinsert시float로형변환필요height" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section17" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section16" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section14" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section10" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section15" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section11" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="find_ok" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="find" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="view" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="password_change_100" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address_view" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subscribe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notification" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="withdrawal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="404page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="500page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="403page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="peepee" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bottle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="board_update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypage_pw_check" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypage_pw_change" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypage_leave" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inquiryemail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="withdrawal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sns_leave_url" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="center-calendar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="right-diary" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="write" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="view" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="community_index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expirypassword" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dormant" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enterprise_join2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="withdrawal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin_login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="littleoneapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 