messenger/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="appuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="sender" type="appuser" nillable="true" minOccurs="0" />
        <xs:element name="recipient" type="appuser" nillable="true" minOccurs="0" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 