Pubhub200Master/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="localdatetimeattributeconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localdateattributeconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailutil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booksales" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="noofcopies" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="releaseddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="//@formula("fn_get_order_amount(id)")totalprice" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="orderitems" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ordereddate" type="xs:anyType" />
        <xs:element name="cancelleddate" type="xs:anyType" />
        <xs:element name="delivereddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="//@column(name" type="book" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bookservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bookservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookappjpaapplication" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booksalesresult" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="book" nillable="true" minOccurs="0" />
        <xs:element name="totalquantity" type="xs:long" />
        <xs:element name="totalsales" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboarddto" >
      <xs:sequence>
        <xs:element name="noofusers" type="xs:anyType" />
        <xs:element name="nooforders" type="xs:anyType" />
        <xs:element name="totalorderamount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailutil" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderitemrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bookrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="booksalesrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingaspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationform" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="booksalesrepository" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<order,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<book,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderitemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<orderitem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorpage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="add-to-cart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="view-cart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listmyorders" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summary" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar_layout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header_layout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="view-cart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="show" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="search_book" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesreport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slimscroll.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tether.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="light-bootstrap-dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_tables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_misc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_footers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_navbars" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_tabs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_social-buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_inputs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_vendor-prefixes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_labels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pe-icon-7-stroke" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow_right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow_left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="default-skin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loading-bubbles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v4__create_order_items" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookappjpaapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 