learning-jpa2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jpamain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="period02" >
      <xs:sequence>
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ddl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member02" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="workperiod" type="period02" nillable="true" minOccurs="0" />
        <xs:element name="homeaddress" type="address02" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address02" >
      <xs:sequence>
        <xs:element name="city" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member01" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//기본값타입name" type="xs:string" />
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ddl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectiondemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member03" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="homeaddress" type="address03" nillable="true" minOccurs="0" />
        <xs:element name="favoritefoods" type="xs:anyType" />
        <xs:element name="addresshistory" type="address03" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address03" >
      <xs:sequence>
        <xs:element name="city" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 