sourcecode3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="lastvisit" type="xs:dateTime" />
        <xs:element name="lastip" type="xs:string" />
        <xs:element name="credits" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginlog" >
      <xs:sequence>
        <xs:element name="loginlogid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="login" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 