MixTech/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="artistentity" >
      <xs:sequence>
        <xs:element name="aname" type="xs:string" />
        <xs:element name="spotify_uri" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="curatesentity" >
      <xs:sequence>
        <xs:element name="uid" type="xs:long" />
        <xs:element name="pid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchentity" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="//mnamespotifyuri1" type="xs:string" />
        <xs:element name="spotifyuri2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="songentity" >
      <xs:sequence>
        <xs:element name="spotifyid" type="xs:string" />
        <xs:element name="sname" type="xs:string" />
        <xs:element name="albumname" type="xs:string" />
        <xs:element name="artistname" type="xs:string" />
        <xs:element name="danceability" type="xs:double" />
        <xs:element name="energy" type="xs:double" />
        <xs:element name="skey" type="xs:anyType" />
        <xs:element name="loudness" type="xs:double" />
        <xs:element name="smode" type="xs:anyType" />
        <xs:element name="speechiness" type="xs:double" />
        <xs:element name="acousticness" type="xs:double" />
        <xs:element name="instrumentalness" type="xs:double" />
        <xs:element name="liveness" type="xs:double" />
        <xs:element name="valence" type="xs:double" />
        <xs:element name="tempo" type="xs:double" />
        <xs:element name="durationms" type="xs:long" />
        <xs:element name="timesignature" type="xs:anyType" />
        <xs:element name="popularity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createsentity" >
      <xs:sequence>
        <xs:element name="uid" type="xs:long" />
        <xs:element name="mid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="includesentity" >
      <xs:sequence>
        <xs:element name="spotifyuri" type="xs:string" />
        <xs:element name="pid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="uid" type="xs:long" />
        <xs:element name="uname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playlistentity" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="pname" type="xs:string" />
        <xs:element name="privacy" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="followsentity" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="uid" type="xs:long" />
        <xs:element name="access" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 