mitocode-javafullstack/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mediappbackendapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message_fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message_en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modelonotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptionresponse" >
      <xs:sequence>
        <xs:element name="fecha" type="xs:anyType" />
        <xs:element name="mensaje" type="xs:string" />
        <xs:element name="detalles" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responseexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cors" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaresumendto" >
      <xs:sequence>
        <xs:element name="cantidad" type="xs:anyType" />
        <xs:element name="fecha" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filtroconsultadto" >
      <xs:sequence>
        <xs:element name="dni" type="xs:string" />
        <xs:element name="nombrecompleto" type="xs:string" />
        <xs:element name="fechaconsulta" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultalistaexamendto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="consulta" nillable="true" minOccurs="0" />
        <xs:element name="lstexamen" type="examen" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="especialidadcontroller" >
      <xs:sequence>
        <xs:element name="service" type="iespecialidadservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examencontroller" >
      <xs:sequence>
        <xs:element name="service" type="iexamenservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pacientecontroller" >
      <xs:sequence>
        <xs:element name="service" type="ipacienteservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultacontroller" >
      <xs:sequence>
        <xs:element name="service" type="iconsultaservice" nillable="true" minOccurs="0" />
        <xs:element name="servicearchivo" type="iarchivoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaexamencontroller" >
      <xs:sequence>
        <xs:element name="service" type="iconsultaexamenservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicocontroller" >
      <xs:sequence>
        <xs:element name="service" type="imedicoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iespecialidadservice" >
      <xs:complexContent>
       <xs:extension base="icrud<especialidad,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ipacienteservice" >
      <xs:complexContent>
       <xs:extension base="icrud<paciente,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iexamenservice" >
      <xs:complexContent>
       <xs:extension base="icrud<examen,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="medicoserviceimpl" >
      <xs:complexContent>
       <xs:extension base="crudimpl<medico,">
         <xs:sequence>
          <xs:element name="repo" type="imedicorepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultaserviceimpl" >
      <xs:complexContent>
       <xs:extension base="crudimpl<consulta,">
         <xs:sequence>
          <xs:element name="repo" type="iconsultarepo" nillable="true" minOccurs="0" />
          <xs:element name="cerepo" type="iconsultaexamenrepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crudimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="especialidadserviceimpl" >
      <xs:complexContent>
       <xs:extension base="crudimpl<especialidad,">
         <xs:sequence>
          <xs:element name="repo" type="iespecialidadrepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultaexamenserviceimpl" >
      <xs:sequence>
        <xs:element name="repo" type="iconsultaexamenrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pacienteserviceimpl" >
      <xs:complexContent>
       <xs:extension base="crudimpl<paciente,">
         <xs:sequence>
          <xs:element name="repo" type="ipacienterepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="archivoserviceimpl" >
      <xs:sequence>
        <xs:element name="repo" type="iarchivorepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examenserviceimpl" >
      <xs:complexContent>
       <xs:extension base="crudimpl<examen,">
         <xs:sequence>
          <xs:element name="repo" type="iexamenrepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="icrud" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iconsultaexamenservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iarchivoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imedicoservice" >
      <xs:complexContent>
       <xs:extension base="icrud<medico,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iconsultaservice" >
      <xs:complexContent>
       <xs:extension base="icrud<consulta,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
        <xs:element name="idmenu" type="xs:anyType" />
        <xs:element name="icono" type="xs:string" />
        <xs:element name="nomber" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="roles" type="rol" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paciente" >
      <xs:sequence>
        <xs:element name="idpaciente" type="xs:anyType" />
        <xs:element name="nombres" type="xs:string" />
        <xs:element name="apellidos" type="xs:string" />
        <xs:element name="dni" type="xs:string" />
        <xs:element name="direccion" type="xs:string" />
        <xs:element name="telefono" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detalleconsulta" >
      <xs:sequence>
        <xs:element name="iddetalle" type="xs:anyType" />
        <xs:element name="GeneratedName" type="consulta" nillable="true" minOccurs="0" />
        <xs:element name="diagnostico" type="xs:string" />
        <xs:element name="tratamiento" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rol" >
      <xs:sequence>
        <xs:element name="idrol" type="xs:anyType" />
        <xs:element name="nomber" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examen" >
      <xs:sequence>
        <xs:element name="idexamen" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaexamenpk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="consulta" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="examen" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medico" >
      <xs:sequence>
        <xs:element name="idmedico" type="xs:anyType" />
        <xs:element name="nombres" type="xs:string" />
        <xs:element name="apellidos" type="xs:string" />
        <xs:element name="cmp" type="xs:string" />
        <xs:element name="fotourl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaexamen" >
      <xs:sequence>
        <xs:element name="pk" type="consulta" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="examen" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuario" >
      <xs:sequence>
        <xs:element name="idusuario" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:string" />
        <xs:element name="roles" type="rol" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="especialidad" >
      <xs:sequence>
        <xs:element name="idespecialidad" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archivo" >
      <xs:sequence>
        <xs:element name="idarchivo" type="xs:anyType" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="filetype" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consulta" >
      <xs:sequence>
        <xs:element name="idconsulta" type="xs:anyType" />
        <xs:element name="GeneratedName" type="paciente" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medico" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="especialidad" nillable="true" minOccurs="0" />
        <xs:element name="numconsultorio" type="xs:string" />
        <xs:element name="//jsonisodateyyyy-mmddthh:mm:ssfecha" type="xs:anyType" />
        <xs:element name="//mappedby" type="detalleconsulta" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="igenericrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<t,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iexamenrepo" >
      <xs:complexContent>
       <xs:extension base="igenericrepo<examen,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iconsultarepo" >
      <xs:complexContent>
       <xs:extension base="igenericrepo<consulta,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iespecialidadrepo" >
      <xs:complexContent>
       <xs:extension base="igenericrepo<especialidad,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imedicorepo" >
      <xs:complexContent>
       <xs:extension base="igenericrepo<medico,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iarchivorepo" >
      <xs:complexContent>
       <xs:extension base="igenericrepo<archivo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iconsultaexamenrepo" >
      <xs:complexContent>
       <xs:extension base="igenericrepo<consultaexamen,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ipacienterepo" >
      <xs:complexContent>
       <xs:extension base="igenericrepo<paciente,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mediappbackendapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 