setup1.0/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="editormd-logo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-paginator.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flowchart.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ambiance-mobile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="merge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="json-lint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="yaml-lint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="css-lint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchtags" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="html-hint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foldgutter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foldcode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment-fold" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mark-selection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="active-line" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selection-pointer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="worker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotatescrollbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scrollpastend" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplescrollbars" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multiplex" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="overlay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadmode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fullscreen" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="placeholder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchesonscrollbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchcursor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchesonscrollbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="properties" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scala" >
      <xs:complexContent>
       <xs:extension base="hasnewbuilder[a,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="json-ld" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="htmlembedded" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="less_test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esconfig" >
      <xs:sequence>
        <xs:element name="ipaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagesuperdto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrecorddto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="data" type="pagesdto" nillable="true" minOccurs="0" />
        <xs:element name="recordtype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resultdto" >
      <xs:sequence>
        <xs:element name="code" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="rsdaa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagesdto" >
      <xs:complexContent>
       <xs:extension base="pagesuperdto>">
         <xs:sequence>
          <xs:element name="data" type="xs:anyType" />
          <xs:element name="//各类记录总页数totalpage" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchdto" >
      <xs:complexContent>
       <xs:extension base="pagesdto">
         <xs:sequence>
          <xs:element name="totalcount" type="xs:long" />
          <xs:element name="otherkeyword" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tagdto" >
      <xs:sequence>
        <xs:element name="typename" type="xs:string" />
        <xs:element name="categoryname" type="xs:string" />
        <xs:element name="tags" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articleparam" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:anyType" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="authorid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerparam" >
      <xs:sequence>
        <xs:element name="account" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentparam" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:anyType" />
        <xs:element name="commentatorid" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="authorid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logrow" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="eventtype" type="eventtypeenum" nillable="true" minOccurs="0" />
        <xs:element name="articleid" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favorparam" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:anyType" />
        <xs:element name="articleauthor" type="xs:anyType" />
        <xs:element name="records" type="record" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//若无改变则接收null。1表示点赞，0表示取消点赞favorstate" type="xs:anyType" />
        <xs:element name="currentuserid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rating" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="articleid" type="xs:anyType" />
        <xs:element name="score" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="record" >
      <xs:sequence>
        <xs:element name="commentid" type="xs:anyType" />
        <xs:element name="commentatorid" type="xs:anyType" />
        <xs:element name="//0或11表示点赞0表示取消点赞state" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginparam" >
      <xs:sequence>
        <xs:element name="account" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sessionhandlerinterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionhandlerinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userhomecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrecordservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="searchservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="articleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="editcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articleservice" nillable="true" minOccurs="0" />
        <xs:element name="request" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="routecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="noticeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="noticedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorizecontroller" >
      <xs:sequence>
        <xs:element name="cookie_name" type="xs:string" />
        <xs:element name="GeneratedName" type="authorizeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="recommendservice" nillable="true" minOccurs="0" />
        <xs:element name="size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="favorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="noticeservice" nillable="true" minOccurs="0" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrecordenum" >
      <xs:sequence>
        <xs:element name="action" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favorstateenum" >
      <xs:sequence>
        <xs:element name="state" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internettag" >
      <xs:sequence>
        <xs:element name="remark" type="xs:string" />
        <xs:element name="list" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entertainmenttag" >
      <xs:sequence>
        <xs:element name="remark" type="xs:string" />
        <xs:element name="list" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generaltag" >
      <xs:sequence>
        <xs:element name="remark" type="xs:string" />
        <xs:element name="list" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sporttag" >
      <xs:sequence>
        <xs:element name="remark" type="xs:string" />
        <xs:element name="list" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventtypeenum" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticetypeenum" >
      <xs:sequence>
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="action" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlemodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="authorid" type="xs:anyType" />
        <xs:element name="commentcount" type="xs:anyType" />
        <xs:element name="viewcount" type="xs:anyType" />
        <xs:element name="likecount" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="tags" type="xs:string" />
        <xs:element name="author" type="usermodel" nillable="true" minOccurs="0" />
        <xs:element name="comments" type="commentmodel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//当前session用户是否喜欢该文章；若未登录默认为0favorstate" type="xs:anyType" />
        <xs:element name="relatedarticle" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="account" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticemodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="notifierid" type="xs:anyType" />
        <xs:element name="receiverid" type="xs:anyType" />
        <xs:element name="//1(commentid)，2(articleid),3(commentid)type" type="xs:anyType" />
        <xs:element name="parentid" type="xs:anyType" />
        <xs:element name="state" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="action" type="xs:string" />
        <xs:element name="notifier" type="usermodel" nillable="true" minOccurs="0" />
        <xs:element name="article" type="articlemodel" nillable="true" minOccurs="0" />
        <xs:element name="comment" type="commentmodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentfavormodel" >
      <xs:sequence>
        <xs:element name="commentid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="articleid" type="xs:anyType" />
        <xs:element name="//点赞状态：0表示取消点赞，1表示已点赞state" type="xs:anyType" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorymodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentfavorkey" >
      <xs:sequence>
        <xs:element name="commentid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlefavorkey" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentmodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="articleid" type="xs:anyType" />
        <xs:element name="commentatorid" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="likecount" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="commentator" type="usermodel" nillable="true" minOccurs="0" />
        <xs:element name="articletitle" type="xs:string" />
        <xs:element name="//当前session用户是否喜欢该评论；若未登录默认为0favorstate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlefavormodel" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="//点赞状态：0表示取消点赞，1表示已点赞state" type="xs:anyType" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recommendmodel" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="recommendids" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relatedarticlemodel" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:anyType" />
        <xs:element name="relatedids" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customizeexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customizeerrorcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customizeerrorcode" >
      <xs:sequence>
        <xs:element name="errorcode" type="xs:anyType" />
        <xs:element name="errormsg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customizeexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="errorcode" type="xs:anyType" />
          <xs:element name="errormsg" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ibaseexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jumpexcetion" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
          <xs:element name="errorcode" type="xs:anyType" />
          <xs:element name="errormsg" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="setupapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recommenddao" >
      <xs:complexContent>
       <xs:extension base="jparepository<recommendmodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<usermodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="articlefavordao" >
      <xs:complexContent>
       <xs:extension base="jparepository<articlefavormodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="relatedarticledao" >
      <xs:complexContent>
       <xs:extension base="jparepository<relatedarticlemodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="noticedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<noticemodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categorydao" >
      <xs:complexContent>
       <xs:extension base="jparepository<categorymodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentfavordao" >
      <xs:complexContent>
       <xs:extension base="jparepository<commentfavormodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="articledao" >
      <xs:complexContent>
       <xs:extension base="jparepository<articlemodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<commentmodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="favorservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articlefavordao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentfavordao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="articledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorizeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="articledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recommendservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="recommenddao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrecordservice" >
      <xs:complexContent>
       <xs:extension base="pagesuperdto>">
         <xs:sequence>
          <xs:element name="" type="userdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="articledao" nillable="true" minOccurs="0" />
          <xs:element name="" type="commentdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="articlefavordao" nillable="true" minOccurs="0" />
          <xs:element name="pagesize" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tagservice" >
      <xs:sequence>
        <xs:element name="tags" type="tagdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articleservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="categorydao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="relatedarticledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="favorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="searchservice" nillable="true" minOccurs="0" />
        <xs:element name="categorymodels" type="categorymodel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="noticedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="articledao" nillable="true" minOccurs="0" />
        <xs:element name="pagesize" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="articledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="noticeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseuserrecommend" >
      <xs:sequence>
        <xs:element name="transient" type="dataloader" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseitemrecommend" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="searchservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="articledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="relatedarticledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataloader" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="netutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setupapplicationtests" >
      <xs:sequence>
        <xs:element name="////articledaoarticledao//////userdaouserdao//////commentfavordaocommentfavordao//////commentdaocommentdao//////noticedaonoticedao//////favorservicefavorservicetransient" type="dataloader" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 