Java2-Cursuri7/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="serviceprovider" >
      <xs:sequence>
        <xs:element name="registry" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zborservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zborserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="zbordao" nillable="true" minOccurs="0" />
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avion" >
      <xs:sequence>
        <xs:element name="numeavion" type="xs:string" />
        <xs:element name="GeneratedName" type="tipavion" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tipavion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zbor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="plecare" type="xs:string" />
        <xs:element name="sosire" type="xs:string" />
        <xs:element name="oraplecare" type="xs:anyType" />
        <xs:element name="orasosire" type="xs:anyType" />
        <xs:element name="GeneratedName" type="avion" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zbordao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zbordaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 