Java2-Cursuri7/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="zbor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="plecare" type="xs:string" />
        <xs:element name="sosire" type="xs:string" />
        <xs:element name="oraplecare" type="xs:anyType" />
        <xs:element name="orasosire" type="xs:anyType" />
        <xs:element name="GeneratedName" type="avion" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 