Railway_09/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="lab3accountapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentservice" >
      <xs:sequence>
        <xs:element name="departmentrepository" type="idepartmentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idepartmentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
        <xs:element name="accrepository" type="iaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="departmentrepository" type="idepartmentrepository" nillable="true" minOccurs="0" />
        <xs:element name="positionrepository" type="ipositionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipositionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iaccountservice" >
      <xs:complexContent>
       <xs:extension base="userdetailsservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="positionservice" >
      <xs:sequence>
        <xs:element name="positionrepository" type="ipositionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="position" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="positionname" nillable="true" minOccurs="0" />
        <xs:element name="accounts" type="account" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="accounts" type="account" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="GeneratedName" type="department" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="position" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iaccountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<account,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idepartmentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<department,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ipositionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<position,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logininfodto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="fullname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="possitondto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accontdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="department" type="xs:string" />
        <xs:element name="position" type="positionname" nillable="true" minOccurs="0" />
        <xs:element name="create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lab3accountapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="positionname" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="positionnameconvert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountspecification" >
      <xs:sequence>
        <xs:element name="field" type="xs:string" />
        <xs:element name="operator" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecutiryconfiguration" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="accservice" type="iaccountservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authenticationconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="positioncontroller" >
      <xs:sequence>
        <xs:element name="service" type="ipositionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentcontroller" >
      <xs:sequence>
        <xs:element name="service" type="idepartmentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountcontroller" >
      <xs:sequence>
        <xs:element name="accservice" type="iaccountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="service" type="iaccountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountformforcreating" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="departmentid" type="xs:long" />
        <xs:element name="positionid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentformforupdating" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentformforcreating" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountformforupdating" >
      <xs:sequence>
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="departmentid" type="xs:long" />
        <xs:element name="positionid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 