pro-jpa-2-13139/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="logrecord" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="empno" type="xs:long" />
        <xs:element name="action" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:long" />
        <xs:element name="start" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 