Spring-demo/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="springbootsampleapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="page1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user_edit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myhttpsessionlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myservletcontextlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iuserdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iscoredao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<score,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myinterceptor1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myinterceptor2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configurationdynamicdatasourceregister" >
      <xs:sequence>
        <xs:element name="//如配置文件中未指定数据源类型，使用该默认值datasource_type_default" type="xs:anyType" />
        <xs:element name="//objectdatasource_type_default" type="xs:anyType" />
        <xs:element name="datasourceinfomap" type="xs:anyType" />
        <xs:element name="datasource" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dynamicdatasourceaspect" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dynamicdatasource" >
      <xs:complexContent>
       <xs:extension base="abstractroutingdatasource">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="targetdatasource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dynamicdatasourcecontextholder" >
      <xs:sequence>
        <xs:element name="contextholder" type="xs:anyType" />
        <xs:element name="datasourceids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dynamicdatasourceregister" >
      <xs:complexContent>
       <xs:extension base="datasource>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="datasource" type="xs:anyType" />
          <xs:element name="//如配置文件中未指定数据源类型，使用该默认值datasource_type_default" type="xs:anyType" />
          <xs:element name="//object_type_default" type="xs:anyType" />
          <xs:element name="customdatasources" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pagecontroller" >
      <xs:sequence>
        <xs:element name="//从application.properties中读取配置，如取不到默认值为helloshanhyhello" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scorecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="scoredao" type="iscoredao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hellocontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="studentservice" nillable="true" minOccurs="0" />
        <xs:element name="scoreservice" type="iscoredao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shirocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="userdao" type="iuserdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helloworldservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helloworldaspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="studentmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shanhya" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shanhydatasourceproperties" >
      <xs:complexContent>
       <xs:extension base="datasource>">
         <xs:sequence>
          <xs:element name="prefix" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="driverclassname" type="xs:string" />
          <xs:element name="url" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="type" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mywebappconfigurer" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="propertyresolver" type="xs:anyType" />
          <xs:element name="myurl" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shiroconfiguration" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shanhy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shanhyb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webjarscontroller" >
      <xs:sequence>
        <xs:element name="assetlocator" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourceurlprovidercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mybatisconfiguration" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mystartuprunner2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mystartuprunner1" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="stuservice" type="studentservice" nillable="true" minOccurs="0" />
        <xs:element name="scoredao" type="iscoredao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="helloworldservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myshirorealm" >
      <xs:complexContent>
       <xs:extension base="authorizingrealm{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="userdao" type="iuserdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myservlet2" >
      <xs:complexContent>
       <xs:extension base="httpservlet{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="permission" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="permissionname" type="xs:string" />
        <xs:element name="//一个权限对应一个角色" type="role" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="//一个用户具有多个角色rolelist" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="sumscore" type="xs:string" />
        <xs:element name="avgscore" type="xs:string" />
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="score" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="stuid" type="xs:long" />
        <xs:element name="subjectname" type="xs:string" />
        <xs:element name="score" type="xs:double" />
        <xs:element name="examtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="//一个角色对应多个权限permissionlist" type="permission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//一个角色对应多个用户userlist" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springbootsampleapplication" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-dev" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-staging" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ehcache-shiro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback-spring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 