JavaEE20/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="eid" type="xs:long" />
        <xs:element name="ename" type="xs:string" />
        <xs:element name="edesig" type="xs:string" />
        <xs:element name="edept" type="xs:string" />
        <xs:element name="esal" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 