JSFCRUD/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="usuario" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idusuario" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="GeneratedName" type="persona" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persona" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idpersona" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="apellido" type="xs:string" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="telefono" type="xs:string" />
        <xs:element name="usuariolist" type="usuario" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 