rewardpoint1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="article" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="//专栏idcolumnid" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="//是否公开：0(不公开),1(公开)ispublic" type="xs:string" />
        <xs:element name="//是否置顶：0(不置顶),1(置顶)istop" type="xs:string" />
        <xs:element name="//浏览量visits" type="xs:long" />
        <xs:element name="//点赞数thumbup" type="xs:long" />
        <xs:element name="//评论数comment" type="xs:long" />
        <xs:element name="//审核状态：0(未审核)，1(已审核)state" type="xs:string" />
        <xs:element name="//所属频道，频道表主键idchannelid" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="//文章类型，0(分享),1(专栏)type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 