SchoolWork5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="credits" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="credits" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cube" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compass" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monster" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monster" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skybox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boblamp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boblamp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="particle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quad" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="source" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="house" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buffer_pass_mess" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plane" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="terrain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="terrain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="netreader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userclient" >
      <xs:complexContent>
       <xs:extension base="jpanel{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverhandler" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="netwriter" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="sock" type="xs:anyType" />
          <xs:element name="out" type="xs:anyType" />
          <xs:element name="connected" type="xs:anyType" />
          <xs:element name="//sendmessagequeue...//adding" type="xs:anyType" />
          <xs:element name="q" type="xs:anyType" />
          <xs:element name="q_adding" type="xs:anyType" />
          <xs:element name="q_sending" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="netreader" >
      <xs:complexContent>
       <xs:extension base="observable">
         <xs:sequence>
          <xs:element name="sock" type="xs:anyType" />
          <xs:element name="in" type="xs:anyType" />
          <xs:element name="connected" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientserverstart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="netwriter" >
      <xs:sequence>
        <xs:element name="sock" type="xs:anyType" />
        <xs:element name="out" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="server" >
      <xs:complexContent>
       <xs:extension base="thread{">
         <xs:sequence>
          <xs:element name="serverport" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="clients" type="netwriter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objdbconverter" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="x" type="xs:double" />
        <xs:element name="y" type="xs:double" />
        <xs:element name="z" type="xs:double" />
        <xs:element name="veh_type" type="xs:string" />
        <xs:element name="identity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlitedb" >
      <xs:sequence>
        <xs:element name="//ourconnnectiontothedb-presistforlifeofprogramconn" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hsqldb" >
      <xs:sequence>
        <xs:element name="//ourconnnectiontothedb-presistforlifeofprogramconn" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummygame" >
      <xs:sequence>
        <xs:element name="mouse_sensitivity" type="xs:double" />
        <xs:element name="camerainc" type="xs:anyType" />
        <xs:element name="GeneratedName" type="renderer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="camera" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scene" nillable="true" minOccurs="0" />
        <xs:element name="camera_pos_step" type="xs:double" />
        <xs:element name="angleinc" type="xs:double" />
        <xs:element name="lightangle" type="xs:double" />
        <xs:element name="firsttime" type="xs:anyType" />
        <xs:element name="scenechanged" type="xs:anyType" />
        <xs:element name="pointlightpos" type="xs:anyType" />
        <xs:element name="recentitem" type="vehicle" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="server" nillable="true" minOccurs="0" />
        <xs:element name="gameitems" type="gameitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="client" nillable="true" minOccurs="0" />
        <xs:element name="lengthoflist" type="xs:long" />
        <xs:element name="terrain" type="gameitem" nillable="true" minOccurs="0" />
        <xs:element name="r" type="xs:anyType" />
        <xs:element name="//setflagtoindicatetoremoveallmeshes.removeall" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="address" type="xs:string" />
          <xs:element name="port" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="inputstream" type="xs:anyType" />
          <xs:element name="object" type="objdbconverter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mouseboxselectiondetector" >
      <xs:complexContent>
       <xs:extension base="cameraboxselectiondetector">
         <xs:sequence>
          <xs:element name="invprojectionmatrix" type="xs:anyType" />
          <xs:element name="invviewmatrix" type="xs:anyType" />
          <xs:element name="mousedir" type="xs:anyType" />
          <xs:element name="tmpvec" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gamegui" >
      <xs:sequence>
        <xs:element name="panelmain" type="xs:anyType" />
        <xs:element name="clearbutton" type="xs:anyType" />
        <xs:element name="resetbutton" type="xs:anyType" />
        <xs:element name="addbutton" type="xs:anyType" />
        <xs:element name="addland" type="xs:anyType" />
        <xs:element name="addair" type="xs:anyType" />
        <xs:element name="clearcommand" type="xs:anyType" />
        <xs:element name="resetcommand" type="xs:anyType" />
        <xs:element name="addcommand" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cameraboxselectiondetector" >
      <xs:sequence>
        <xs:element name="max" type="xs:anyType" />
        <xs:element name="min" type="xs:anyType" />
        <xs:element name="nearfar" type="xs:anyType" />
        <xs:element name="dir" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamegui" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummygame" >
      <xs:sequence>
        <xs:element name="mouse_sensitivity" type="xs:double" />
        <xs:element name="camerainc" type="xs:anyType" />
        <xs:element name="GeneratedName" type="renderer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="camera" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scene" nillable="true" minOccurs="0" />
        <xs:element name="camera_pos_step" type="xs:double" />
        <xs:element name="angleinc" type="xs:double" />
        <xs:element name="lightangle" type="xs:double" />
        <xs:element name="firsttime" type="xs:anyType" />
        <xs:element name="scenechanged" type="xs:anyType" />
        <xs:element name="pointlightpos" type="xs:anyType" />
        <xs:element name="recentitem" type="vehicle" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="server" nillable="true" minOccurs="0" />
        <xs:element name="gameitems" type="gameitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="query" type="objdbconverter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//sqlitedbdbemf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="r" type="xs:anyType" />
        <xs:element name="//setflagtoindicatetoremoveallmeshes.removeall" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hud" >
      <xs:sequence>
        <xs:element name="font_name" type="xs:string" />
        <xs:element name="vg" type="xs:long" />
        <xs:element name="colour" type="xs:anyType" />
        <xs:element name="fontbuffer" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="posx" type="xs:anyType" />
        <xs:element name="posy" type="xs:anyType" />
        <xs:element name="counter" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameengine" >
      <xs:sequence>
        <xs:element name="target_fps" type="xs:long" />
        <xs:element name="target_ups" type="xs:long" />
        <xs:element name="GeneratedName" type="window" nillable="true" minOccurs="0" />
        <xs:element name="gameloop" type="xs:anyType" />
        <xs:element name="GeneratedName" type="timer" nillable="true" minOccurs="0" />
        <xs:element name="gamelogic" type="igamelogic" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mouseinput" nillable="true" minOccurs="0" />
        <xs:element name="lastfps" type="xs:double" />
        <xs:element name="fps" type="xs:long" />
        <xs:element name="windowtitle" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="motorcycle" >
      <xs:complexContent>
       <xs:extension base="vehicle">
         <xs:sequence>
          <xs:element name="bike" type="mesh" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="skybox" >
      <xs:complexContent>
       <xs:extension base="gameitem">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="firesonicwave" >
      <xs:complexContent>
       <xs:extension base="projectileweapon">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:complexContent>
       <xs:extension base="gameitem">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sammissle" >
      <xs:complexContent>
       <xs:extension base="projectileweapon">
         <xs:sequence>
          <xs:element name="rand" type="xs:anyType" />
          <xs:element name="random" type="xs:double" />
          <xs:element name="//position" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="landvehicle" >
      <xs:complexContent>
       <xs:extension base="vehicle">
         <xs:sequence>
          <xs:element name="cube" type="mesh" nillable="true" minOccurs="0" />
          <xs:element name="thisis" type="xs:string" />
          <xs:element name="gaspedal" type="xs:double" />
          <xs:element name="brakepedal" type="xs:double" />
          <xs:element name="maxspeed" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="airvehicle" >
      <xs:complexContent>
       <xs:extension base="vehicle">
         <xs:sequence>
          <xs:element name="cube" type="mesh" nillable="true" minOccurs="0" />
          <xs:element name="//todomakethisclassusegameitem'scoordsysteminsteadofstoringlocally.propspeed" type="xs:double" />
          <xs:element name="maxspeed" type="xs:double" />
          <xs:element name="minspeed" type="xs:double" />
          <xs:element name="thisis" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attack" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stationaryweapon" >
      <xs:sequence>
        <xs:element name="position" type="xs:anyType" />
        <xs:element name="damage" type="xs:long" />
        <xs:element name="size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="health" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameitem" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="identity" type="xs:long" />
          <xs:element name="incindentity" type="xs:long" />
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="threshold" type="xs:double" />
          <xs:element name="selected" type="xs:anyType" />
          <xs:element name="thisis" type="xs:string" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="es" type="mesh" nillable="true" minOccurs="0" />
          <xs:element name="position" type="xs:anyType" />
          <xs:element name="velocity" type="xs:anyType" />
          <xs:element name="addedmaxtokeepmovingitemsinsidethefrustum.*/max" type="xs:anyType" />
          <xs:element name="scale" type="xs:double" />
          <xs:element name="rotation" type="xs:anyType" />
          <xs:element name="rotationvel" type="xs:anyType" />
          <xs:element name="textpos" type="xs:long" />
          <xs:element name="disablefrustumculling" type="xs:anyType" />
          <xs:element name="insidefrustum" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="textitem" >
      <xs:complexContent>
       <xs:extension base="gameitem">
         <xs:sequence>
          <xs:element name="zpos" type="xs:double" />
          <xs:element name="vertices_per_quad" type="xs:long" />
          <xs:element name="" type="fonttexture" nillable="true" minOccurs="0" />
          <xs:element name="text" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reardefensemine" >
      <xs:complexContent>
       <xs:extension base="stationaryweapon">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="firebullet" >
      <xs:complexContent>
       <xs:extension base="projectileweapon">
         <xs:sequence>
          <xs:element name="position" type="xs:anyType" />
          <xs:element name="velocity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="vehicle" >
      <xs:complexContent>
       <xs:extension base="gameitem">
         <xs:sequence>
          <xs:element name="cube" type="mesh" nillable="true" minOccurs="0" />
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="positionhealth" type="xs:double" />
          <xs:element name="//speedofvehicles.speed" type="xs:double" />
          <xs:element name="//directionoftravelonvirtualplanedirection" type="xs:double" />
          <xs:element name="accelerationvalue" type="xs:double" />
          <xs:element name="isexploded" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="terrain" >
      <xs:sequence>
        <xs:element name="s" type="gameitem" nillable="true" minOccurs="0" />
        <xs:element name="terrainsize" type="xs:long" />
        <xs:element name="verticespercol" type="xs:long" />
        <xs:element name="verticesperrow" type="xs:long" />
        <xs:element name="GeneratedName" type="heightmapmesh" nillable="true" minOccurs="0" />
        <xs:element name="boundingboxes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectileweapon" >
      <xs:complexContent>
       <xs:extension base="gameitem{">
         <xs:sequence>
          <xs:element name="obj" type="mesh" nillable="true" minOccurs="0" />
          <xs:element name="//vector3fpositionspeed" type="xs:double" />
          <xs:element name="damage" type="xs:long" />
          <xs:element name="size" type="xs:long" />
          <xs:element name="direction" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="chimneyblast" >
      <xs:complexContent>
       <xs:extension base="stationaryweapon{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="plane" >
      <xs:complexContent>
       <xs:extension base="gameitem">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="vertexweight" >
      <xs:sequence>
        <xs:element name="boneid" type="xs:long" />
        <xs:element name="vertexid" type="xs:long" />
        <xs:element name="weight" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bone" >
      <xs:sequence>
        <xs:element name="boneid" type="xs:long" />
        <xs:element name="bonename" type="xs:string" />
        <xs:element name="offsetmatrix" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animmeshesloader" >
      <xs:complexContent>
       <xs:extension base="staticmeshesloader">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="node" >
      <xs:sequence>
        <xs:element name="children" type="node" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="transformations" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="parent" type="node" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="texturecache" >
      <xs:sequence>
        <xs:element name="instance" type="texturecache" nillable="true" minOccurs="0" />
        <xs:element name="texturesmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="staticmeshesloader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="material" >
      <xs:sequence>
        <xs:element name="default_colour" type="xs:anyType" />
        <xs:element name="diffusecolour" type="xs:anyType" />
        <xs:element name="specularcolour" type="xs:anyType" />
        <xs:element name="shininess" type="xs:double" />
        <xs:element name="reflectance" type="xs:double" />
        <xs:element name="GeneratedName" type="texture" nillable="true" minOccurs="0" />
        <xs:element name="normalmap" type="texture" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animation" >
      <xs:sequence>
        <xs:element name="currentframe" type="xs:long" />
        <xs:element name="frames" type="animatedframe" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="duration" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animgameitem" >
      <xs:complexContent>
       <xs:extension base="gameitem">
         <xs:sequence>
          <xs:element name="animations" type="xs:anyType" />
          <xs:element name="current" type="animation" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="animatedframe" >
      <xs:sequence>
        <xs:element name="identity_matrix" type="xs:anyType" />
        <xs:element name="max_jos" type="xs:long" />
        <xs:element name="jointmatrices" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transformation" >
      <xs:sequence>
        <xs:element name="modelmatrix" type="xs:anyType" />
        <xs:element name="modelviewmatrix" type="xs:anyType" />
        <xs:element name="modellightviewmatrix" type="xs:anyType" />
        <xs:element name="lightviewmatrix" type="xs:anyType" />
        <xs:element name="ortho2dmatrix" type="xs:anyType" />
        <xs:element name="orthomodelmatrix" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowparticleemitter" >
      <xs:complexContent>
       <xs:extension base="gameitem>">
         <xs:sequence>
          <xs:element name="maxparticles" type="xs:long" />
          <xs:element name="active" type="xs:anyType" />
          <xs:element name="particles" type="gameitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="base" type="particle" nillable="true" minOccurs="0" />
          <xs:element name="creationperiodmillis" type="xs:long" />
          <xs:element name="lastcreationtime" type="xs:long" />
          <xs:element name="speedrndrange" type="xs:double" />
          <xs:element name="positionrndrange" type="xs:double" />
          <xs:element name="scalerndrange" type="xs:double" />
          <xs:element name="animrange" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iparticleemitter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="particle" >
      <xs:complexContent>
       <xs:extension base="gameitem">
         <xs:sequence>
          <xs:element name="updatetexturemillis" type="xs:long" />
          <xs:element name="currentanimtimemillis" type="xs:long" />
          <xs:element name="speed" type="xs:anyType" />
          <xs:element name="/***timetoliveforparticleinmilliseconds.*/ttl" type="xs:long" />
          <xs:element name="animframes" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="heightmapmesh" >
      <xs:sequence>
        <xs:element name="max_colour" type="xs:long" />
        <xs:element name="startx" type="xs:double" />
        <xs:element name="startz" type="xs:double" />
        <xs:element name="miny" type="xs:double" />
        <xs:element name="maxy" type="xs:double" />
        <xs:element name="GeneratedName" type="mesh" nillable="true" minOccurs="0" />
        <xs:element name="heightarray" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shadowrenderer" >
      <xs:sequence>
        <xs:element name="num_cascades" type="xs:long" />
        <xs:element name="cascade_splits" type="xs:double" />
        <xs:element name="depth" type="shaderprogram" nillable="true" minOccurs="0" />
        <xs:element name="shadowcascades" type="shadowcascade" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="shadowbuffer" nillable="true" minOccurs="0" />
        <xs:element name="filtereditems" type="gameitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shadowbuffer" >
      <xs:sequence>
        <xs:element name="shadow_map_width" type="xs:long" />
        <xs:element name="shadow_map_height" type="xs:long" />
        <xs:element name="depthmapfbo" type="xs:long" />
        <xs:element name="depthmap" type="arrtexture" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shadowcascade" >
      <xs:sequence>
        <xs:element name="frustum_corners" type="xs:long" />
        <xs:element name="projviewmatrix" type="xs:anyType" />
        <xs:element name="orthoprojmatrix" type="xs:anyType" />
        <xs:element name="lightviewmatrix" type="xs:anyType" />
        <xs:element name="/***centeroftheviewcuboidunworldspacecoordinates.*/centroid" type="xs:anyType" />
        <xs:element name="frustumcorners" type="xs:anyType" />
        <xs:element name="znear" type="xs:double" />
        <xs:element name="zfar" type="xs:double" />
        <xs:element name="tmpvec" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shadowtestrenderer" >
      <xs:sequence>
        <xs:element name="test" type="shaderprogram" nillable="true" minOccurs="0" />
        <xs:element name="quad" type="mesh" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mesh" >
      <xs:sequence>
        <xs:element name="max_weights" type="xs:long" />
        <xs:element name="vaoid" type="xs:long" />
        <xs:element name="vboidlist" type="xs:anyType" />
        <xs:element name="vertexcount" type="xs:long" />
        <xs:element name="GeneratedName" type="material" nillable="true" minOccurs="0" />
        <xs:element name="boundingradius" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fonttexture" >
      <xs:sequence>
        <xs:element name="image_format" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="charsetname" type="xs:string" />
        <xs:element name="charmap" type="xs:anyType" />
        <xs:element name="GeneratedName" type="texture" nillable="true" minOccurs="0" />
        <xs:element name="height" type="xs:long" />
        <xs:element name="width" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instancedmesh" >
      <xs:complexContent>
       <xs:extension base="mesh">
         <xs:sequence>
          <xs:element name="float_size_bytes" type="xs:long" />
          <xs:element name="vector4f_size_bytes" type="xs:long" />
          <xs:element name="matrix_size_floats" type="xs:long" />
          <xs:element name="matrix_size_bytes" type="xs:long" />
          <xs:element name="instance_size_bytes" type="xs:long" />
          <xs:element name="instance_size_floats" type="xs:long" />
          <xs:element name="numinstances" type="xs:long" />
          <xs:element name="instancedatavbo" type="xs:long" />
          <xs:element name="instancedatabuffer" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gbuffer" >
      <xs:sequence>
        <xs:element name="total_textures" type="xs:long" />
        <xs:element name="gbufferid" type="xs:long" />
        <xs:element name="textureids" type="xs:long" />
        <xs:element name="width" type="xs:long" />
        <xs:element name="height" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="camera" >
      <xs:sequence>
        <xs:element name="position" type="xs:anyType" />
        <xs:element name="rotation" type="xs:anyType" />
        <xs:element name="viewmatrix" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="renderer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="transformation" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="shadowrenderer" nillable="true" minOccurs="0" />
        <xs:element name="skybox" type="shaderprogram" nillable="true" minOccurs="0" />
        <xs:element name="particles" type="shaderprogram" nillable="true" minOccurs="0" />
        <xs:element name="gbuffer" type="shaderprogram" nillable="true" minOccurs="0" />
        <xs:element name="dirlight" type="shaderprogram" nillable="true" minOccurs="0" />
        <xs:element name="pointlight" type="shaderprogram" nillable="true" minOccurs="0" />
        <xs:element name="fog" type="shaderprogram" nillable="true" minOccurs="0" />
        <xs:element name="specularpower" type="xs:double" />
        <xs:element name="frustumfilter" type="frustumcullingfilter" nillable="true" minOccurs="0" />
        <xs:element name="filtereditems" type="gameitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="gbuffer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scenebuffer" nillable="true" minOccurs="0" />
        <xs:element name="bufferpass" type="mesh" nillable="true" minOccurs="0" />
        <xs:element name="bufferpassmodelmatrix" type="xs:anyType" />
        <xs:element name="tmpvec" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spotlight" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pointlight" nillable="true" minOccurs="0" />
        <xs:element name="conedirection" type="xs:anyType" />
        <xs:element name="cutoff" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="directionallight" >
      <xs:sequence>
        <xs:element name="color" type="xs:anyType" />
        <xs:element name="direction" type="xs:anyType" />
        <xs:element name="intensity" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pointlight" >
      <xs:sequence>
        <xs:element name="color" type="xs:anyType" />
        <xs:element name="position" type="xs:anyType" />
        <xs:element name="intensity" type="xs:double" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fog" >
      <xs:sequence>
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="colour" type="xs:anyType" />
        <xs:element name="density" type="xs:double" />
        <xs:element name="no" type="fog" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrtexture" >
      <xs:sequence>
        <xs:element name="ids" type="xs:long" />
        <xs:element name="width" type="xs:long" />
        <xs:element name="height" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="frustumcullingfilter" >
      <xs:complexContent>
       <xs:extension base="mesh,">
         <xs:sequence>
          <xs:element name="prjviewmatrix" type="xs:anyType" />
          <xs:element name="frustumint" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shaderprogram" >
      <xs:sequence>
        <xs:element name="programid" type="xs:long" />
        <xs:element name="vertexshaderid" type="xs:long" />
        <xs:element name="fragmentshaderid" type="xs:long" />
        <xs:element name="geometryshaderid" type="xs:long" />
        <xs:element name="uniforms" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="texture" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="width" type="xs:long" />
        <xs:element name="height" type="xs:long" />
        <xs:element name="numrows" type="xs:long" />
        <xs:element name="numcols" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scenebuffer" >
      <xs:sequence>
        <xs:element name="bufferid" type="xs:long" />
        <xs:element name="textureid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timer" >
      <xs:sequence>
        <xs:element name="lastlooptime" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scenelight" >
      <xs:sequence>
        <xs:element name="ambientlight" type="xs:anyType" />
        <xs:element name="skyboxlight" type="xs:anyType" />
        <xs:element name="list" type="pointlight" nillable="true" minOccurs="0" />
        <xs:element name="list" type="spotlight" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="directionallight" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="window" >
      <xs:sequence>
        <xs:element name="/***fieldofviewinradians*/fov" type="xs:double" />
        <xs:element name="/***distancetothenearplane*/z_near" type="xs:double" />
        <xs:element name="/***distancetothefarplane*/z_far" type="xs:double" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="width" type="xs:long" />
        <xs:element name="height" type="xs:long" />
        <xs:element name="windowhandle" type="xs:long" />
        <xs:element name="resized" type="xs:anyType" />
        <xs:element name="vsync" type="xs:anyType" />
        <xs:element name="opts" type="xs:anyType" />
        <xs:element name="projectionmatrix" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scene" >
      <xs:sequence>
        <xs:element name="meshmap" type="xs:anyType" />
        <xs:element name="instancedmeshmap" type="xs:anyType" />
        <xs:element name="GeneratedName" type="skybox" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scenelight" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fog" nillable="true" minOccurs="0" />
        <xs:element name="rendershadows" type="xs:anyType" />
        <xs:element name="particleemitters" type="iparticleemitter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="soundsource" >
      <xs:sequence>
        <xs:element name="sourceid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="soundbuffer" >
      <xs:sequence>
        <xs:element name="bufferid" type="xs:long" />
        <xs:element name="pcm" type="xs:anyType" />
        <xs:element name="vorbis" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="soundmanager" >
      <xs:sequence>
        <xs:element name="device" type="xs:long" />
        <xs:element name="context" type="xs:long" />
        <xs:element name="listener" type="soundlistener" nillable="true" minOccurs="0" />
        <xs:element name="soundbufferlist" type="soundbuffer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="soundsourcemap" type="xs:anyType" />
        <xs:element name="cameramatrix" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="soundlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="igamelogic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mouseinput" >
      <xs:sequence>
        <xs:element name="previouspos" type="xs:anyType" />
        <xs:element name="currentpos" type="xs:anyType" />
        <xs:element name="displvec" type="xs:anyType" />
        <xs:element name="inwindow" type="xs:anyType" />
        <xs:element name="leftbuttonpressed" type="xs:anyType" />
        <xs:element name="rightbuttonpressed" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="airvehicle" >
      <xs:complexContent>
       <xs:extension base="vehicle">
         <xs:sequence>
          <xs:element name="//todomakethisclassusegameitem'scoordsysteminsteadofstoringlocally.propspeed" type="xs:double" />
          <xs:element name="verticaldirection" type="xs:double" />
          <xs:element name="minvertdir" type="xs:double" />
          <xs:element name="maxvertdir" type="xs:double" />
          <xs:element name="tiltdirection" type="xs:anyType" />
          <xs:element name="maxspeed" type="xs:double" />
          <xs:element name="minspeed" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gameitem" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="threshold" type="xs:double" />
          <xs:element name="selected" type="xs:anyType" />
          <xs:element name="meshesposition" type="xs:anyType" />
          <xs:element name="velocity" type="xs:anyType" />
          <xs:element name="addedmaxtokeepmovingitemsinsidethefrustum.*/max" type="xs:anyType" />
          <xs:element name="scale" type="xs:double" />
          <xs:element name="rotation" type="xs:anyType" />
          <xs:element name="rotationvel" type="xs:anyType" />
          <xs:element name="textpos" type="xs:long" />
          <xs:element name="disablefrustumculling" type="xs:anyType" />
          <xs:element name="insidefrustum" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="health" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="motorcycle" >
      <xs:complexContent>
       <xs:extension base="vehicle">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="firesonicwave" >
      <xs:complexContent>
       <xs:extension base="projectileweapon">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="landvehicle" >
      <xs:complexContent>
       <xs:extension base="vehicle">
         <xs:sequence>
          <xs:element name="gaspedal" type="xs:double" />
          <xs:element name="brakepedal" type="xs:double" />
          <xs:element name="maxspeed" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attack" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectileweapon" >
      <xs:complexContent>
       <xs:extension base="gameitem{">
         <xs:sequence>
          <xs:element name="//vector3fpositionspeed" type="xs:double" />
          <xs:element name="damage" type="xs:long" />
          <xs:element name="size" type="xs:long" />
          <xs:element name="direction" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sammissle" >
      <xs:complexContent>
       <xs:extension base="projectileweapon">
         <xs:sequence>
          <xs:element name="rand" type="xs:anyType" />
          <xs:element name="random" type="xs:double" />
          <xs:element name="//position" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stationaryweapon" >
      <xs:sequence>
        <xs:element name="position" type="xs:anyType" />
        <xs:element name="damage" type="xs:long" />
        <xs:element name="size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vehicle" >
      <xs:complexContent>
       <xs:extension base="gameitem">
         <xs:sequence>
          <xs:element name="positionhealth" type="xs:double" />
          <xs:element name="projectileweapons" type="projectileweapon" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="//speedofvehicles.speed" type="xs:double" />
          <xs:element name="//directionoftravelonvirtualplanedirection" type="xs:double" />
          <xs:element name="accelerationvalue" type="xs:double" />
          <xs:element name="maxdirection" type="xs:double" />
          <xs:element name="mindirection" type="xs:double" />
          <xs:element name="maxheight" type="xs:long" />
          <xs:element name="maxthresholdx" type="xs:long" />
          <xs:element name="maxthresholdy" type="xs:long" />
          <xs:element name="mhresholdy" type="xs:long" />
          <xs:element name="steeringdirection" type="xs:anyType" />
          <xs:element name="isexploded" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gameitemtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameitemtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 