SchoolWork5/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="objdbconverter" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="x" type="xs:double" />
        <xs:element name="y" type="xs:double" />
        <xs:element name="z" type="xs:double" />
        <xs:element name="veh_type" type="xs:string" />
        <xs:element name="identity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="landvehicle" >
      <xs:complexContent>
       <xs:extension base="vehicle">
         <xs:sequence>
          <xs:element name="cube" type="mesh" nillable="true" minOccurs="0" />
          <xs:element name="thisis" type="xs:string" />
          <xs:element name="gaspedal" type="xs:double" />
          <xs:element name="brakepedal" type="xs:double" />
          <xs:element name="maxspeed" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="airvehicle" >
      <xs:complexContent>
       <xs:extension base="vehicle">
         <xs:sequence>
          <xs:element name="cube" type="mesh" nillable="true" minOccurs="0" />
          <xs:element name="//todomakethisclassusegameitem'scoordsysteminsteadofstoringlocally.propspeed" type="xs:double" />
          <xs:element name="maxspeed" type="xs:double" />
          <xs:element name="minspeed" type="xs:double" />
          <xs:element name="thisis" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gameitem" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="identity" type="xs:long" />
          <xs:element name="incindentity" type="xs:long" />
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="threshold" type="xs:double" />
          <xs:element name="selected" type="xs:anyType" />
          <xs:element name="thisis" type="xs:string" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="es" type="mesh" nillable="true" minOccurs="0" />
          <xs:element name="position" type="xs:anyType" />
          <xs:element name="velocity" type="xs:anyType" />
          <xs:element name="addedmaxtokeepmovingitemsinsidethefrustum.*/max" type="xs:anyType" />
          <xs:element name="scale" type="xs:double" />
          <xs:element name="rotation" type="xs:anyType" />
          <xs:element name="rotationvel" type="xs:anyType" />
          <xs:element name="textpos" type="xs:long" />
          <xs:element name="disablefrustumculling" type="xs:anyType" />
          <xs:element name="insidefrustum" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="vehicle" >
      <xs:complexContent>
       <xs:extension base="gameitem">
         <xs:sequence>
          <xs:element name="cube" type="mesh" nillable="true" minOccurs="0" />
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="positionhealth" type="xs:double" />
          <xs:element name="//speedofvehicles.speed" type="xs:double" />
          <xs:element name="//directionoftravelonvirtualplanedirection" type="xs:double" />
          <xs:element name="accelerationvalue" type="xs:double" />
          <xs:element name="isexploded" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 