mpaas2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="queryextractor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceprovider" >
      <xs:complexContent>
       <xs:extension base="metamodel>">
         <xs:sequence>
          <xs:element name="cache" type="xs:anyType" />
          <xs:element name="entitymanagerclassnames" type="xs:anyType" />
          <xs:element name="metamodelclassnames" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaclassutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proxyidaccessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classpathscanningpersistenceunitpostprocessor" >
      <xs:sequence>
        <xs:element name="/*,resourceloaderaware,environmentaware*/log" type="xs:anyType" />
        <xs:element name="basepackage" type="xs:string" />
        <xs:element name="mappingfileresolver" type="xs:anyType" />
        <xs:element name="//newstandard()" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mappingfilenamepattern" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mergingpersistenceunitmanager" >
      <xs:complexContent>
       <xs:extension base="{@link">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditingbeanfactorypostprocessor" >
      <xs:sequence>
        <xs:element name="bean_configurer_aspect_bean_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditingentitylistener" >
      <xs:sequence>
        <xs:element name="handler" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpasort" >
      <xs:complexContent>
       <xs:extension base="sort">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specificationcomposition" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractauditable" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="createdby" type="xs:anyType" />
          <xs:element name="created" type="xs:dateTime" />
          <xs:element name="lastmodifiedby" type="xs:anyType" />
          <xs:element name="lastmodified" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specification" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractpersistable" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reactivewrappers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reactivewrapperconverters" >
      <xs:complexContent>
       <xs:extension base="t>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpametamodelcachecleanup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpametamodel" >
      <xs:complexContent>
       <xs:extension base="singularattribute<?,">
         <xs:sequence>
          <xs:element name="cache" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="managedtypes" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beandefinitionutils" >
      <xs:sequence>
        <xs:element name="jndi_object_factory_bean" type="xs:string" />
        <xs:element name="emf_types" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateproxydetector" >
      <xs:sequence>
        <xs:element name="hibernate_proxy" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectionawareprojectionfactory" >
      <xs:complexContent>
       <xs:extension base="spelawareproxyprojectionfactory">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queryhints" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repositories" >
      <xs:sequence>
        <xs:element name="none" type="repositories" nillable="true" minOccurs="0" />
        <xs:element name="empty_repository_factory_info" type="xs:anyType" />
        <xs:element name="domain_type_must_not_be_null" type="xs:string" />
        <xs:element name="beanfactory" type="xs:anyType" />
        <xs:element name="repositorybeannames" type="xs:anyType" />
        <xs:element name="repositoryfactoryinfos" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderbysource" >
      <xs:sequence>
        <xs:element name="empty" type="orderbysource" nillable="true" minOccurs="0" />
        <xs:element name="block_split" type="xs:string" />
        <xs:element name="direction_split" type="xs:anyType" />
        <xs:element name="invalid_order_syntax" type="xs:string" />
        <xs:element name="direction_keywords" type="xs:anyType" />
        <xs:element name="orders" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parttree" >
      <xs:sequence>
        <xs:element name="/*	*welookforapatternof:keywordfollowedby	*	*anupper-caseletterthathasalower-casevariant\p{lu}	*or	*anyotherletternotinthebasic_latinuni-codeblock\\p{inbasic_latin}(likechinese,korean,japanese,etc.).	*	*@see<ahref" type="xs:string" />
        <xs:element name="query_pattern" type="xs:string" />
        <xs:element name="count_pattern" type="xs:string" />
        <xs:element name="exists_pattern" type="xs:string" />
        <xs:element name="delete_pattern" type="xs:string" />
        <xs:element name="prefix_template" type="xs:anyType" />
        <xs:element name="/***the,forexample"finddistinctuserbynameorderbyage"wouldhavethe"distinctuser".*/" type="xs:anyType" />
        <xs:element name="/***the,forexample"finddistinctuserbynameorderbyage"wouldhavethe"nameorderbyage".*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repositoryinvoker" >
      <xs:complexContent>
       <xs:extension base="repositoryinvocationinformation">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repositorybeandefinitionbuilder" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="registry" type="xs:anyType" />
        <xs:element name="extension" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="fragmentmetadata" nillable="true" minOccurs="0" />
        <xs:element name="implementationdetector" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaspecificationexecutor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modifying" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="query" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repositorybeannamegenerator" >
      <xs:sequence>
        <xs:element name="bean" type="xs:anyType" />
        <xs:element name="delegate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repositoryconfigurationsourcesupport" >
      <xs:sequence>
        <xs:element name="default_repository_impl_postfix" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="beannamegenerator" type="repositorybeannamegenerator" nillable="true" minOccurs="0" />
        <xs:element name="registry" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectretrievalfailureexception" >
      <xs:complexContent>
       <xs:extension base="dataretrievalfailureexception">
         <xs:sequence>
          <xs:element name="persistentclass" type="xs:anyType" />
          <xs:element name="identifier" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="repositoryfragmentsfactorybean" >
      <xs:sequence>
        <xs:element name="/*,beanfactoryaware*/fragmentbeannames" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repositoryfragments" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaobjectretrievalfailureexception" >
      <xs:complexContent>
       <xs:extension base="objectretrievalfailureexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpasystemexception" >
      <xs:complexContent>
       <xs:extension base="uncategorizeddataaccessexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactoryinfo" >
      <xs:complexContent>
       <xs:extension base="entitymanager>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mergedbeandefinitionpostprocessor" >
      <xs:complexContent>
       <xs:extension base="beanpostprocessor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaoptimisticlockingfailureexception" >
      <xs:complexContent>
       <xs:extension base="objectoptimisticlockingfailureexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpadialect" >
      <xs:complexContent>
       <xs:extension base="persistenceexceptiontranslator">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerproxy" >
      <xs:complexContent>
       <xs:extension base="entitymanager">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerholder" >
      <xs:complexContent>
       <xs:extension base="resourceholdersupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="transactionactive" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactoryutils" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***ordervalueforreactivetransactionsynchronizationobjectsthatcleanupjpa*entitymanagers.returndatasourceutils.connection_synchronization_order-100*toexecuteentitymanagercleanupbeforejdbcconnectioncleanup,ifany.*@seeghost.framework.jdbc.datasource.datasourceutils#connection_synchronization_order*/entity_manager_synchronization_order" type="xs:long" />
          <xs:element name="ger" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceannotationbeanpostprocessor" >
      <xs:complexContent>
       <xs:extension base="injectionmetadata.injectedelement">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="repositorybeandefinitionparser" >
      <xs:sequence>
        <xs:element name="extension" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectoptimisticlockingfailureexception" >
      <xs:complexContent>
       <xs:extension base="optimisticlockingfailureexception">
         <xs:sequence>
          <xs:element name="persistentclass" type="xs:anyType" />
          <xs:element name="identifier" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractquerycreator" >
      <xs:sequence>
        <xs:element name="parameters" type="xs:anyType" />
        <xs:element name="tree" type="parttree" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitygraph" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpacontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repositoryinvocationinformation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jparepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<t,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fragmentmetadata" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temporal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="part" >
      <xs:sequence>
        <xs:element name="ignore_case" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="ignorecase" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queryutils" >
      <xs:complexContent>
       <xs:extension base="annotation>>">
         <xs:sequence>
          <xs:element name="count_query_" type="xs:string" />
          <xs:element name="delete_all_query_" type="xs:string" />
          <xs:element name="//usedregex/unicodecategories(seehttps://www.unicode.org/reports/tr18/#general_category_property)://zseparator//cccontrol//cfformat//punctpunctuationidentifier" type="xs:string" />
          <xs:element name="colon_no_double_colon" type="xs:string" />
          <xs:element name="identifier_group" type="xs:string" />
          <xs:element name="count_replacement_template" type="xs:string" />
          <xs:element name="simple_count_value" type="xs:string" />
          <xs:element name="complex_count_value" type="xs:string" />
          <xs:element name="complex_count_last_value" type="xs:string" />
          <xs:element name="order_by_part" type="xs:string" />
          <xs:element name="alias_match" type="xs:anyType" />
          <xs:element name="count_match" type="xs:anyType" />
          <xs:element name="projection_clause" type="xs:anyType" />
          <xs:element name="no_digits" type="xs:anyType" />
          <xs:element name="join" type="xs:string" />
          <xs:element name="join_" type="xs:anyType" />
          <xs:element name="equals_condition_" type="xs:string" />
          <xs:element name="order_by" type="xs:anyType" />
          <xs:element name="named_parameter" type="xs:anyType" />
          <xs:element name="constructor_expression" type="xs:anyType" />
          <xs:element name="association_types" type="xs:anyType" />
          <xs:element name="query_join_alias_group_index" type="xs:long" />
          <xs:element name="variable_name_group_index" type="xs:long" />
          <xs:element name="complex_count_first_index" type="xs:long" />
          <xs:element name="punctation_" type="xs:anyType" />
          <xs:element name="function_" type="xs:anyType" />
          <xs:element name="field_alias_" type="xs:anyType" />
          <xs:element name="unsafe_property_reference" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaparametersparameteraccessor" >
      <xs:complexContent>
       <xs:extension base="parametersparameteraccessor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaquerymethod" >
      <xs:complexContent>
       <xs:extension base="querymethod">
         <xs:sequence>
          <xs:element name="/***@see<ahref" type="xs:anyType" />
          <xs:element name="" type="storedprocedureattributesource" nillable="true" minOccurs="0" />
          <xs:element name="extractor" type="queryextractor" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="storedprocedureattributes" nillable="true" minOccurs="0" />
          <xs:element name="lockmodetype" type="xs:anyType" />
          <xs:element name="queryhints" type="queryhints" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="jpaentitygraph" type="jpaentitygraph" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="modifying" type="modifying" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="isnativequery" type="xs:anyType" />
          <xs:element name="iscollectionquery" type="xs:anyType" />
          <xs:element name="isprocedurequery" type="xs:anyType" />
          <xs:element name="entitymetadata" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simplejpaquery" >
      <xs:complexContent>
       <xs:extension base="abstractstringbasedjpaquery">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="escapecharacter" >
      <xs:sequence>
        <xs:element name="default" type="escapecharacter" nillable="true" minOccurs="0" />
        <xs:element name="to_replace" type="xs:anyType" />
        <xs:element name="escapeacter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jparesultconverters" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parttreejpaquery" >
      <xs:complexContent>
       <xs:extension base="abstractjpaquery">
         <xs:sequence>
          <xs:element name="tree" type="parttree" nillable="true" minOccurs="0" />
          <xs:element name="parameters" type="jpaparameters" nillable="true" minOccurs="0" />
          <xs:element name="query" type="xs:anyType" />
          <xs:element name="countquery" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="escape" type="escapecharacter" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storedprocedureattributes" >
      <xs:sequence>
        <xs:element name="//asyntheticoutputparameternametobeusedincaseofderivedstoredproceduresandnamedparameterssynthetic_output_parameter_name" type="xs:string" />
        <xs:element name="namedstoredprocedure" type="xs:anyType" />
        <xs:element name="procedurename" type="xs:string" />
        <xs:element name="outputparameternames" type="xs:anyType" />
        <xs:element name="outputparametertypes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spelquerycontext" >
      <xs:complexContent>
       <xs:extension base="spelquerycontext">
         <xs:sequence>
          <xs:element name="spel_pattern_" type="xs:string" />
          <xs:element name="spel_" type="xs:anyType" />
          <xs:element name="parameternamesource" type="xs:anyType" />
          <xs:element name="replacementsource" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querybyexampleexecutor" >
      <xs:complexContent>
       <xs:extension base="t>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaentitygraph" >
      <xs:sequence>
        <xs:element name="empty_attribute_paths" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="attributepaths" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queryparametersetter" >
      <xs:complexContent>
       <xs:extension base="query>">
         <xs:sequence>
          <xs:element name="/***noopimplementation*/noop" type="queryparametersetter" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parametersparameteraccessor" >
      <xs:sequence>
        <xs:element name="parameters" type="xs:anyType" />
        <xs:element name="values" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="declaredquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spelevaluator" >
      <xs:sequence>
        <xs:element name="parser" type="xs:anyType" />
        <xs:element name="evaluationcontextprovider" type="xs:anyType" />
        <xs:element name="parameters" type="xs:anyType" />
        <xs:element name="extractor" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpa21utils" >
      <xs:sequence>
        <xs:element name="get_entity_graph_" type="xs:anyType" />
        <xs:element name="jpa21_available" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultjpaentitymetadata" >
      <xs:sequence>
        <xs:element name="domaintype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querycreationexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="message_template" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parameterbinder" >
      <xs:complexContent>
       <xs:extension base="query>">
         <xs:sequence>
          <xs:element name="parameter_needs_to_be_named" type="xs:string" />
          <xs:element name="parameters" type="jpaparameters" nillable="true" minOccurs="0" />
          <xs:element name="parametersetters" type="queryparametersetter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="usejpaforpaging" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stringquery" >
      <xs:complexContent>
       <xs:extension base="parameterbinding">
         <xs:sequence>
          <xs:element name="query" type="xs:string" />
          <xs:element name="bindings" type="xs:anyType" />
          <xs:element name="alias" type="xs:string" />
          <xs:element name="hasconstructorexpression" type="xs:anyType" />
          <xs:element name="containspageableinspel" type="xs:anyType" />
          <xs:element name="usesjdbcstyleparameters" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parametermetadataprovider" >
      <xs:complexContent>
       <xs:extension base="parameter>">
         <xs:sequence>
          <xs:element name="builder" type="xs:anyType" />
          <xs:element name="parameters" type="xs:anyType" />
          <xs:element name="expressions" type="xs:anyType" />
          <xs:element name="bindableparametervalues" type="xs:anyType" />
          <xs:element name="escape" type="escapecharacter" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invalidjpaquerymethodexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expressionbasedstringquery" >
      <xs:complexContent>
       <xs:extension base="stringquery">
         <xs:sequence>
          <xs:element name="expression_parameter" type="xs:string" />
          <xs:element name="quoted_expression_parameter" type="xs:string" />
          <xs:element name="expression_parameter_quoting" type="xs:anyType" />
          <xs:element name="expression_parameter_unquoting" type="xs:anyType" />
          <xs:element name="entity_name" type="xs:string" />
          <xs:element name="entity_name_variable" type="xs:string" />
          <xs:element name="entity_name_variable_expression" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpacountquerycreator" >
      <xs:complexContent>
       <xs:extension base="jpaquerycreator">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractjpaquery" >
      <xs:complexContent>
       <xs:extension base="query>">
         <xs:sequence>
          <xs:element name="method" type="jpaquerymethod" nillable="true" minOccurs="0" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="metamodel" type="jpametamodel" nillable="true" minOccurs="0" />
          <xs:element name="provider" type="persistenceprovider" nillable="true" minOccurs="0" />
          <xs:element name="execution" type="jpaqueryexecution" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="parameterbinder" type="parameterbinder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nativejpaquery" >
      <xs:complexContent>
       <xs:extension base="abstractstringbasedjpaquery">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storedprocedurejpaquery" >
      <xs:complexContent>
       <xs:extension base="abstractjpaquery">
         <xs:sequence>
          <xs:element name="procedureattributes" type="storedprocedureattributes" nillable="true" minOccurs="0" />
          <xs:element name="usenamedparameters" type="xs:anyType" />
          <xs:element name="metadatacache" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queryparametersetterfactory" >
      <xs:complexContent>
       <xs:extension base="queryparametersetterfactory">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractstringbasedjpaquery" >
      <xs:complexContent>
       <xs:extension base="abstractjpaquery">
         <xs:sequence>
          <xs:element name="query" type="declaredquery" nillable="true" minOccurs="0" />
          <xs:element name="countquery" type="declaredquery" nillable="true" minOccurs="0" />
          <xs:element name="evaluationcontextprovider" type="xs:anyType" />
          <xs:element name="parser" type="xs:anyType" />
          <xs:element name="metadatacache" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaqueryfactory" >
      <xs:sequence>
        <xs:element name="parser" type="xs:anyType" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaquerylookupstrategy" >
      <xs:complexContent>
       <xs:extension base="abstractquerylookupstrategy">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaquerycreator" >
      <xs:complexContent>
       <xs:extension base="abstractquerycreator<criteriaquery<?">
         <xs:sequence>
          <xs:element name="builder" type="xs:anyType" />
          <xs:element name="root" type="xs:anyType" />
          <xs:element name="query" type="xs:anyType" />
          <xs:element name="provider" type="parametermetadataprovider" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="tree" type="parttree" nillable="true" minOccurs="0" />
          <xs:element name="escape" type="escapecharacter" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaentitymetadata" >
      <xs:complexContent>
       <xs:extension base="entitymetadata<t>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parameterbinderfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repositoryquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namedquery" >
      <xs:complexContent>
       <xs:extension base="abstractjpaquery">
         <xs:sequence>
          <xs:element name="cannot_extract_query" type="xs:string" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="queryname" type="xs:string" />
          <xs:element name="countqueryname" type="xs:string" />
          <xs:element name="countprojection" type="xs:string" />
          <xs:element name="extractor" type="queryextractor" nillable="true" minOccurs="0" />
          <xs:element name="namedcountqueryispresent" type="xs:anyType" />
          <xs:element name="" type="declaredquery" nillable="true" minOccurs="0" />
          <xs:element name="metadatacache" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaqueryexecution" >
      <xs:complexContent>
       <xs:extension base="jpaqueryexecution">
         <xs:sequence>
          <xs:element name="conversion_service" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaquerymethodfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaparameters" >
      <xs:complexContent>
       <xs:extension base="parameters<jpaparameters,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emptydeclaredquery" >
      <xs:sequence>
        <xs:element name="/***animplementationimplementingthenull-objectpatternforsituationswherethereisnoquery.*/empty_query" type="declaredquery" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storedprocedureattributesource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="procedure" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultjpaquerymethodfactory" >
      <xs:sequence>
        <xs:element name="extractor" type="queryextractor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpapersistableentityinformation" >
      <xs:complexContent>
       <xs:extension base="persistable<id>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querydsljpapredicateexecutor" >
      <xs:sequence>
        <xs:element name="entityinformation" type="xs:anyType" />
        <xs:element name="path" type="xs:anyType" />
        <xs:element name="GeneratedName" type="querydsl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="metadata" type="crudmethodmetadata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jparepositoryfactory" >
      <xs:complexContent>
       <xs:extension base="repositoryfactorysupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="extractor" type="queryextractor" nillable="true" minOccurs="0" />
          <xs:element name="" type="crudmethodmetadatapostprocessor" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="escapecharacter" nillable="true" minOccurs="0" />
          <xs:element name="querymethodfactory" type="jpaquerymethodfactory" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparepositoryconfig" >
      <xs:sequence>
        <xs:element name="coreinterface" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="surroundingtransactiondetectormethodinterceptor" >
      <xs:sequence>
        <xs:element name="surrounding_tx_active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplejparepository" >
      <xs:complexContent>
       <xs:extension base="t>">
         <xs:sequence>
          <xs:element name="id_must_not_be_null" type="xs:string" />
          <xs:element name="entityinformation" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="provider" type="persistenceprovider" nillable="true" minOccurs="0" />
          <xs:element name="metadata" type="crudmethodmetadata" nillable="true" minOccurs="0" />
          <xs:element name="" type="escapecharacter" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querydsl" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="provider" type="persistenceprovider" nillable="true" minOccurs="0" />
        <xs:element name="builder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpametamodelentityinformation" >
      <xs:complexContent>
       <xs:extension base="jpaentityinformationsupport<t,">
         <xs:sequence>
          <xs:element name="idmetadata" type="xs:anyType" />
          <xs:element name="versionattribute" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="entityname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queryhints" >
      <xs:complexContent>
       <xs:extension base="iterable<entry<string,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerbeandefinitionregistrarpostprocessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultjpacontext" >
      <xs:sequence>
        <xs:element name="entitymanagers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaevaluationcontextextension" >
      <xs:sequence>
        <xs:element name="root" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crudmethodmetadata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jparepositoryimplementation" >
      <xs:complexContent>
       <xs:extension base="jparepository<t,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaentityinformation" >
      <xs:complexContent>
       <xs:extension base="entityinformation<t,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querydsljparepository" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="path" type="xs:anyType" />
          <xs:element name="builder" type="xs:anyType" />
          <xs:element name="" type="querydsl" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crudmethodmetadatapostprocessor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querydslrepositorysupport" >
      <xs:sequence>
        <xs:element name="builder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="querydsl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractentityinformation" >
      <xs:sequence>
        <xs:element name="domainclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jparepositoryfactorybean" >
      <xs:complexContent>
       <xs:extension base="repository<s,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="escapecharacter" nillable="true" minOccurs="0" />
          <xs:element name="querymethodfactory" type="jpaquerymethodfactory" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultqueryhints" >
      <xs:sequence>
        <xs:element name="information" type="xs:anyType" />
        <xs:element name="metadata" type="crudmethodmetadata" nillable="true" minOccurs="0" />
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="forcounts" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaentityinformationsupport" >
      <xs:complexContent>
       <xs:extension base="abstractentityinformation<t,">
         <xs:sequence>
          <xs:element name="metadata" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="repositoryfactoryinformation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpametamodelmappingcontextfactorybean" >
      <xs:complexContent>
       <xs:extension base="abstractfactorybean<jpametamodelmappingcontext>">
         <xs:sequence>
          <xs:element name="/*implementsapplicationcontextaware*/log" type="xs:anyType" />
          <xs:element name="beanfactory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="repositorybeandefinitionregistrarsupport" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="/*,resourceloaderaware,environmentaware*/" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deferredrepositoryinitializationlistener" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="beanfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditingbeandefinitionparser" >
      <xs:sequence>
        <xs:element name="auditing_entity_listener_class_name" type="xs:string" />
        <xs:element name="auditing_bfpp_class_name" type="xs:string" />
        <xs:element name="auditinghandlerparser" type="xs:anyType" />
        <xs:element name="springconfiguredparser" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repositorycomponentprovider" >
      <xs:complexContent>
       <xs:extension base="classpathscanningcandidatecomponentprovider">
         <xs:sequence>
          <xs:element name="considernestedrepositoryinterfaces" type="xs:anyType" />
          <xs:element name="registry" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="namedqueriesbeandefinitionbuilder" >
      <xs:sequence>
        <xs:element name="defaultlocation" type="xs:string" />
        <xs:element name="locations" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beandefinitionnames" >
      <xs:sequence>
        <xs:element name="jpa_mapping_context_bean_name" type="xs:string" />
        <xs:element name="jpa_context_bean_name" type="xs:string" />
        <xs:element name="em_bean_definition_registrar_post_processor_bean_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inspectionclassloader" >
      <xs:complexContent>
       <xs:extension base="shadowingclassloader">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparepositoryconfigextension" >
      <xs:complexContent>
       <xs:extension base="repositoryconfigurationextensionsupport">
         <xs:sequence>
          <xs:element name="pab_post_processor" type="xs:anyType" />
          <xs:element name="default_transaction_manager_bean_name" type="xs:string" />
          <xs:element name="enable_default_transactions_attribute" type="xs:string" />
          <xs:element name="jpa_metamodel_cache_cleanup_classname" type="xs:string" />
          <xs:element name="escape_character_property" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaauditingregistrar" >
      <xs:complexContent>
       <xs:extension base="auditingbeandefinitionregistrarsupport">
         <xs:sequence>
          <xs:element name="bean_configurer_aspect_class_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lazyrepositoryinjectionpointresolver" >
      <xs:complexContent>
       <xs:extension base="contextannotationautowirecandidateresolver">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="configurations" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enablejparepositories" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repositoryconfigurationdelegate" >
      <xs:complexContent>
       <xs:extension base="repositoryconfigurationsource>">
         <xs:sequence>
          <xs:element name="repository_registration" type="xs:string" />
          <xs:element name="multiple_modules" type="xs:string" />
          <xs:element name="non_default_autowire_candidate_resolver" type="xs:string" />
          <xs:element name="factory_bean_object_type" type="xs:string" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="configurationsource" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="isxml" type="xs:anyType" />
          <xs:element name="inmultistoremode" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparepositoriesregistrar" >
      <xs:complexContent>
       <xs:extension base="repositorybeandefinitionregistrarsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="xmlrepositoryconfigurationsource" >
      <xs:complexContent>
       <xs:extension base="repositoryconfigurationsourcesupport">
         <xs:sequence>
          <xs:element name="query_lookup_strategy" type="xs:string" />
          <xs:element name="base_package" type="xs:string" />
          <xs:element name="named_queries_location" type="xs:string" />
          <xs:element name="repository_impl_postfix" type="xs:string" />
          <xs:element name="repository_factory_bean_class_name" type="xs:string" />
          <xs:element name="repository_base_class_name" type="xs:string" />
          <xs:element name="consider_nested_repositories" type="xs:string" />
          <xs:element name="bootstrap_mode" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="context" type="xs:anyType" />
          <xs:element name="includefilters" type="xs:anyType" />
          <xs:element name="excludefilters" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enablejpaauditing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jparepositorynamespacehandler" >
      <xs:complexContent>
       <xs:extension base="namespacehandlersupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparepositoryextension" >
      <xs:complexContent>
       <xs:extension base="cdirepositoryextensionsupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="coreinterface" type="xs:anyType" />
          <xs:element name="entitymanagers" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdirepositorycontext" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="detector" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="metdata" type="fragmentmetadata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jparepositorybean" >
      <xs:complexContent>
       <xs:extension base="cdirepositorybean<t>">
         <xs:sequence>
          <xs:element name="entitymanagerbean" type="xs:anyType" />
          <xs:element name="coreinterface" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cdirepositoryextensionsupport" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="repositorytypes" type="xs:anyType" />
          <xs:element name="eagerrepositories" type="xs:anyType" />
          <xs:element name="context" type="cdirepositorycontext" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cdirepositoryconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdirepositorybean" >
      <xs:complexContent>
       <xs:extension base="annotation>>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="default_configuration" type="cdirepositoryconfiguration" nillable="true" minOccurs="0" />
          <xs:element name="qualifiers" type="xs:anyType" />
          <xs:element name="repositorytype" type="xs:anyType" />
          <xs:element name="context" type="cdirepositorycontext" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="passivationid" type="xs:string" />
          <xs:element name="ransienrepoinsance" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpapersistententityimpl" >
      <xs:complexContent>
       <xs:extension base="basicpersistententity<t,">
         <xs:sequence>
          <xs:element name="invalid_version_annotation" type="xs:string" />
          <xs:element name="" type="proxyidaccessor" nillable="true" minOccurs="0" />
          <xs:element name="metamodel" type="jpametamodel" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpapersistentpropertyimpl" >
      <xs:complexContent>
       <xs:extension base="annotationbasedpersistentproperty<jpapersistentproperty>">
         <xs:sequence>
          <xs:element name="association_annotations" type="xs:anyType" />
          <xs:element name="id_annotations" type="xs:anyType" />
          <xs:element name="updateable_annotations" type="xs:anyType" />
          <xs:element name="usepropertyaccess" type="xs:anyType" />
          <xs:element name="associationtargettype" type="xs:anyType" />
          <xs:element name="updateable" type="xs:anyType" />
          <xs:element name="isidproperty" type="xs:anyType" />
          <xs:element name="isassociation" type="xs:anyType" />
          <xs:element name="isentity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpapersistententity" >
      <xs:complexContent>
       <xs:extension base="persistententity<t,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpapersistentproperty" >
      <xs:complexContent>
       <xs:extension base="persistentproperty<jpapersistentproperty>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpametamodelmappingcontext" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="models" type="xs:anyType" />
          <xs:element name="" type="persistenceprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querybyexamplepredicatebuilder" >
      <xs:sequence>
        <xs:element name="association_types" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="threetenbackportjpaconverters" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsr310jpaconverters" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 