mpaas2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jpametamodelentityinformation" >
      <xs:complexContent>
       <xs:extension base="jpaentityinformationsupport<t,">
         <xs:sequence>
          <xs:element name="idmetadata" type="xs:anyType" />
          <xs:element name="versionattribute" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="entityname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 