sourcecode23/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="abtestingroute" >
      <xs:sequence>
        <xs:element name="servicename" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="endpoint" type="xs:string" />
        <xs:element name="weight" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 