sandbox/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jpaclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categories" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="categoryname" type="xs:string" />
        <xs:element name="picture" type="xs:anyType" />
        <xs:element name="products" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplier" >
      <xs:sequence>
        <xs:element name="supplierid" type="xs:long" />
        <xs:element name="companyname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="unitprice" type="xs:double" />
        <xs:element name="s" type="supplier" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="categories" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 