M6_UF24/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="clientess" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vehiculos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vehiculos" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jframe">
         <xs:sequence>
          <xs:element name="emf" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesjbutton1" type="xs:anyType" />
          <xs:element name="jbutton2" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jlabel2" type="xs:anyType" />
          <xs:element name="jlabel3" type="xs:anyType" />
          <xs:element name="jlabel4" type="xs:anyType" />
          <xs:element name="jlabel5" type="xs:anyType" />
          <xs:element name="jlabel6" type="xs:anyType" />
          <xs:element name="jlabel7" type="xs:anyType" />
          <xs:element name="jlabel8" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="jseparator1" type="xs:anyType" />
          <xs:element name="jseparator2" type="xs:anyType" />
          <xs:element name="jtable1" type="xs:anyType" />
          <xs:element name="jtextfield1" type="xs:anyType" />
          <xs:element name="jtextfield2" type="xs:anyType" />
          <xs:element name="jtextfield3" type="xs:anyType" />
          <xs:element name="jtextfield4" type="xs:anyType" />
          <xs:element name="jtextfield5" type="xs:anyType" />
          <xs:element name="jtextfield6" type="xs:anyType" />
          <xs:element name="jtextfield7" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientess" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jframe">
         <xs:sequence>
          <xs:element name="emf" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesjbutton1" type="xs:anyType" />
          <xs:element name="jbutton2" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jlabel2" type="xs:anyType" />
          <xs:element name="jlabel3" type="xs:anyType" />
          <xs:element name="jlabel4" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="jseparator1" type="xs:anyType" />
          <xs:element name="jseparator2" type="xs:anyType" />
          <xs:element name="jtable1" type="xs:anyType" />
          <xs:element name="jtextfield1" type="xs:anyType" />
          <xs:element name="jtextfield2" type="xs:anyType" />
          <xs:element name="jtextfield3" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesjbutton1" type="xs:anyType" />
          <xs:element name="jbutton2" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jseparator1" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="correo" type="xs:string" />
        <xs:element name="telefono" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vehiculo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="marca" type="xs:string" />
        <xs:element name="modelo" type="xs:string" />
        <xs:element name="//@onetomanypropietariopropietario" type="xs:long" />
        <xs:element name="fechainicio" type="xs:dateTime" />
        <xs:element name="operacion" type="xs:string" />
        <xs:element name="seguro" type="xs:anyType" />
        <xs:element name="preciooperacion" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 