M6_UF24/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="correo" type="xs:string" />
        <xs:element name="telefono" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vehiculo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="marca" type="xs:string" />
        <xs:element name="modelo" type="xs:string" />
        <xs:element name="//@onetomanypropietariopropietario" type="xs:long" />
        <xs:element name="fechainicio" type="xs:dateTime" />
        <xs:element name="operacion" type="xs:string" />
        <xs:element name="seguro" type="xs:anyType" />
        <xs:element name="preciooperacion" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 