Spring_Pjs1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="requestlogin" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responseuser" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="orders" type="responseorder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestuser" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="pwd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responseorder" >
      <xs:sequence>
        <xs:element name="productid" type="xs:string" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="unitprice" type="xs:anyType" />
        <xs:element name="totalprice" type="xs:anyType" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="orderid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greeting" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="greeting" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticationfilter" >
      <xs:complexContent>
       <xs:extension base="usernamepasswordauthenticationfilter">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="env" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="websecurity" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="env" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pwd" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="encryptedpwd" type="xs:string" />
        <xs:element name="orders" type="responseorder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feignerrordecoder" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<userentity,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="encryptedpwd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:complexContent>
       <xs:extension base="userdetailsservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="passwordencoder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="orderserviceclient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderserviceclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 