springbootmapping/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemby" >
      <xs:sequence>
        <xs:element name="itmid" type="xs:anyType" />
        <xs:element name="itmname" type="xs:string" />
        <xs:element name="itmdescription" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemcustom" >
      <xs:sequence>
        <xs:element name="itmid" type="xs:anyType" />
        <xs:element name="itmname" type="xs:string" />
        <xs:element name="itmdescription" type="xs:string" />
        <xs:element name="itmactive" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brand" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marketplace" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="branditem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="brand" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="item" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemrepositorycustom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<item,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itemrepositorycustomimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marketplacerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<marketplace,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="practiceappapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemresource" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itemservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marketplaceresource" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="marketplaceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itemrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marketplaceservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="marketplacerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="practiceappapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 