springbootmapping/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brand" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marketplace" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="branditem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="brand" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="item" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 