spring-study6/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="singersummaryserviceimpltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="ctx" type="xs:anyType" />
        <xs:element name="GeneratedName" type="singersummaryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singerserviceimpltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="ctx" type="xs:anyType" />
        <xs:element name="GeneratedName" type="singerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singersummary" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="latestalbum" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singersummaryservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singersummaryserviceimpl" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singerserviceimpl" >
      <xs:sequence>
        <xs:element name="all_singer_native_query" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instrument_" >
      <xs:sequence>
        <xs:element name="singers" type="xs:anyType" />
        <xs:element name="instrumentid" type="xs:anyType" />
        <xs:element name="singers" type="xs:string" />
        <xs:element name="instrument_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="album" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="release" type="xs:dateTime" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="GeneratedName" type="singer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instrument" >
      <xs:sequence>
        <xs:element name="instrumentid" type="xs:string" />
        <xs:element name="singers" type="singer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singer_" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:anyType" />
        <xs:element name="lastname" type="xs:anyType" />
        <xs:element name="albums" type="xs:anyType" />
        <xs:element name="instruments" type="xs:anyType" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="birthdate" type="xs:anyType" />
        <xs:element name="first_name" type="xs:string" />
        <xs:element name="last_name" type="xs:string" />
        <xs:element name="albums" type="xs:string" />
        <xs:element name="instruments" type="xs:string" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="version" type="xs:string" />
        <xs:element name="birth_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singer" >
      <xs:sequence>
        <xs:element name="find_all" type="xs:string" />
        <xs:element name="find_singer_by_id" type="xs:string" />
        <xs:element name="find_all_with_album" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="albums" type="album" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="instruments" type="instrument" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="album_" >
      <xs:sequence>
        <xs:element name="singer" type="xs:anyType" />
        <xs:element name="releasedate" type="xs:anyType" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="title" type="xs:anyType" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="singer" type="xs:string" />
        <xs:element name="release_date" type="xs:string" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="version" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 