supermanager/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="playerleaguestateentity" >
      <xs:sequence>
        <xs:element name="matchnumber" type="xs:long" />
        <xs:element name="team" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
        <xs:element name="points" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 