-JAVA_JEE_1_713/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="receivepointsbean" >
      <xs:sequence>
        <xs:element name="//@jmsconnectionfactory("java:comp/defaultjmsconnectionfactory")context" type="xs:anyType" />
        <xs:element name="points" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendpointsbean" >
      <xs:sequence>
        <xs:element name="//@jmsconnectionfactory("java:comp/defaultjmsconnectionfactory")context" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="points" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieclientbean" >
      <xs:sequence>
        <xs:element name="bean" type="moviebackingbean" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="target" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviebackingbean" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="moviename" type="xs:string" />
        <xs:element name="actors" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="showtiming" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="timingid" type="timeslot" nillable="true" minOccurs="0" />
        <xs:element name="id" type="theater" nillable="true" minOccurs="0" />
        <xs:element name="id" type="movie" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sales" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="amount" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theater" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="capacity" type="xs:long" />
        <xs:element name="showtimingcollection" type="showtiming" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeslot" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="starttime" type="xs:string" />
        <xs:element name="endtime" type="xs:string" />
        <xs:element name="showtimingcollection" type="showtiming" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="actors" type="xs:string" />
        <xs:element name="showtimingcollection" type="showtiming" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="starttime" type="xs:string" />
        <xs:element name="starttimeid" type="xs:long" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesbean" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesprocessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesreader" >
      <xs:complexContent>
       <xs:extension base="abstractitemreader">
         <xs:sequence>
          <xs:element name="reader" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="saleswriter" >
      <xs:complexContent>
       <xs:extension base="abstractitemwriter">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="theaterfacaderest" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<theater>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractfacade" >
      <xs:sequence>
        <xs:element name="entityclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="showtimingfacaderest" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<showtiming>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moviefacaderest" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<movie>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timeslotfacaderest" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<timeslot>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="salesfacaderest" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<sales>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationconfig" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moviewriter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviereader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chatserver" >
      <xs:sequence>
        <xs:element name="peers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sales" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eod-sales" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 