NHN_MovieSwan_web/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="movieswanticketappapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieservicetest" >
      <xs:sequence>
        <xs:element name="service" type="movieservice" nillable="true" minOccurs="0" />
        <xs:element name="repository" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="parameters" type="xs:anyType" />
        <xs:element name="generator" type="xs:anyType" />
        <xs:element name="GeneratedName" type="moviedto" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movie" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seatservicetests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="seatrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="seatservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="seatdto" nillable="true" minOccurs="0" />
        <xs:element name="timetableid" type="xs:string" />
        <xs:element name="reservationid" type="xs:string" />
        <xs:element name="memberid1" type="xs:string" />
        <xs:element name="seatcode" type="xs:string" />
        <xs:element name="memberid2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timetableservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="timetablerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="timetableservice" nillable="true" minOccurs="0" />
        <xs:element name="movieid" type="xs:string" />
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="datetime" type="xs:anyType" />
        <xs:element name="testentity" type="timetable" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scroll_to_top_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="question_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getmemberinfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessioncheck" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="500" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="404" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="405" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin_movie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main_header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scroll_to_top_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin_ticket" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin_answer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="question_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="my_page_read_question" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie_detail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin_question_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="my_page_myreview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin_answer_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="my_page_mymovie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservation_result" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="common_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login_common_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register_common_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="my_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seatserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="seatrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservationserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="reservationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authservice" >
      <xs:sequence>
        <xs:element name="cookiename" type="xs:string" />
        <xs:element name="cookieage" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberserviceimpl" >
      <xs:sequence>
        <xs:element name="accounturl" type="xs:string" />
        <xs:element name="GeneratedName" type="externalloginconfiguration" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="template" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seatservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webhookimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="baseurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timetableserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="timetablerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timetableservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisauthservice" >
      <xs:sequence>
        <xs:element name="redistemplateauth" type="xs:anyType" />
        <xs:element name="redistemplateauthcheck" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="timetablerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questionserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="questionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monitorserviceimpl" >
      <xs:sequence>
        <xs:element name="l7state" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoriteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answerserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="answerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="reviewrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoriteserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="favoriterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storageservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="secretticketdatadto" nillable="true" minOccurs="0" />
        <xs:element name="storageurl" type="xs:string" />
        <xs:element name="containername" type="xs:string" />
        <xs:element name="authurl" type="xs:string" />
        <xs:element name="tenantid" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="tokenrequest" type="tokenrequestdto" nillable="true" minOccurs="0" />
        <xs:element name="token" type="tokendto" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbauthservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="authrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authcheckrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webhook" >
      <xs:sequence>
        <xs:element name="botname" type="xs:string" />
        <xs:element name="boticonimage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monitorservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoritedto" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:string" />
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="regdate,moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenrequestdto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="auth" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberiddto" >
      <xs:sequence>
        <xs:element name="memberid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservationdetaildto" >
      <xs:sequence>
        <xs:element name="reservationid" type="xs:string" />
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="poster" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="youngnum" type="xs:long" />
        <xs:element name="adultnum" type="xs:long" />
        <xs:element name="eldernum" type="xs:long" />
        <xs:element name="totalnum" type="xs:long" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="seats" type="xs:anyType" />
        <xs:element name="starttime" type="xs:anyType" />
        <xs:element name="paydate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timetabledto" >
      <xs:sequence>
        <xs:element name="timetableid" type="xs:string" />
        <xs:element name="movieid" type="xs:string" />
        <xs:element name="starttime" type="xs:anyType" />
        <xs:element name="regdate,moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenresponsedto" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservationalarmdto" >
      <xs:sequence>
        <xs:element name="botname" type="xs:string" />
        <xs:element name="boticonimage" type="xs:string" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="attachments" type="attachmentdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviedto" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="director" type="xs:string" />
        <xs:element name="actor" type="xs:string" />
        <xs:element name="runtime" type="xs:long" />
        <xs:element name="rating" type="xs:double" />
        <xs:element name="reservationavailable" type="xs:anyType" />
        <xs:element name="genre" type="xs:string" />
        <xs:element name="story" type="xs:string" />
        <xs:element name="poster" type="xs:string" />
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
        <xs:element name="regdate,moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokendto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="externallogindto" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberauthdomaindto" >
      <xs:sequence>
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="iddomain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questiondto" >
      <xs:sequence>
        <xs:element name="questionid" type="xs:anyType" />
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="regdate" type="xs:anyType" />
        <xs:element name="moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberregisterdto" >
      <xs:sequence>
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberidnamedto" >
      <xs:sequence>
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservationdto" >
      <xs:sequence>
        <xs:element name="reservationid" type="xs:string" />
        <xs:element name="timetableid" type="xs:string" />
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="youngnum" type="xs:long" />
        <xs:element name="adultnum" type="xs:long" />
        <xs:element name="eldernum" type="xs:long" />
        <xs:element name="totalnum" type="xs:long" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="paydate,regdate,moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seatdto" >
      <xs:sequence>
        <xs:element name="timetableid" type="xs:string" />
        <xs:element name="seatcode" type="xs:string" />
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="reservationid" type="xs:string" />
        <xs:element name="regdate,moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagerequestdto" >
      <xs:sequence>
        <xs:element name="page" type="xs:long" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="keyword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seatstatedto" >
      <xs:sequence>
        <xs:element name="seatcode" type="xs:string" />
        <xs:element name="available" type="xs:anyType" />
        <xs:element name="myseat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secretkeymanagerdto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="header" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewdto" >
      <xs:sequence>
        <xs:element name="reviewid" type="xs:string" />
        <xs:element name="movieid" type="xs:string" />
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="rating" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="regdate,moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discountdto" >
      <xs:sequence>
        <xs:element name="discountratio" type="xs:double" />
        <xs:element name="discounttype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberresponsedto" >
      <xs:sequence>
        <xs:element name="httpcode" type="xs:anyType" />
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="content" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberauthdto" >
      <xs:sequence>
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledto" >
      <xs:sequence>
        <xs:element name="detail" type="xs:anyType" />
        <xs:element name="date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answerdto" >
      <xs:sequence>
        <xs:element name="questionid" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="regdate" type="xs:anyType" />
        <xs:element name="moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attachmentdto" >
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="titlelink" type="xs:string" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="color" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageresultdto" >
      <xs:sequence>
        <xs:element name="dtolist" type="xs:anyType" />
        <xs:element name="totalpage" type="xs:long" />
        <xs:element name="page" type="xs:long" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="start" type="xs:long" />
        <xs:element name="end" type="xs:long" />
        <xs:element name="prev" type="xs:anyType" />
        <xs:element name="next" type="xs:anyType" />
        <xs:element name="pagelist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timetableinputdto" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:string" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="starttime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberdto" >
      <xs:sequence>
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="regdate,moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secretticketdatadto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="secretkey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketcontrolleradvice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reservationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="questionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reviewservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="favoriteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="seatservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="webhook" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoritecontroller" >
      <xs:sequence>
        <xs:element name="service" type="favoriteservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewcontroller" >
      <xs:sequence>
        <xs:element name="service" type="reviewservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="timetableservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reservationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="seatservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="webhook" nillable="true" minOccurs="0" />
        <xs:element name="number_of_row" type="xs:long" />
        <xs:element name="number_of_column" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerrorcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reviewservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="storageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
        <xs:element name="accounturl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="questionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seatcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="seatservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timetablecontroller" >
      <xs:sequence>
        <xs:element name="service" type="timetableservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="membercontroller" >
      <xs:sequence>
        <xs:element name="accounturl" type="xs:string" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monitorcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="monitorservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="questionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="answerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clicontroller" >
      <xs:sequence>
        <xs:element name="service" type="reservationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usernotfounderrorexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movieswanticketappapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoriteid" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:string" />
        <xs:element name="memberid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservation" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="reservationid" type="xs:string" />
          <xs:element name="timetableid" type="xs:string" />
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="youngnum" type="xs:long" />
          <xs:element name="adultnum" type="xs:long" />
          <xs:element name="eldernum" type="xs:long" />
          <xs:element name="totalnum" type="xs:long" />
          <xs:element name="price" type="xs:long" />
          <xs:element name="paydate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="seatid" >
      <xs:sequence>
        <xs:element name="timetableid" type="xs:string" />
        <xs:element name="seatcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="movieid" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="director" type="xs:string" />
          <xs:element name="actor" type="xs:string" />
          <xs:element name="runtime" type="xs:anyType" />
          <xs:element name="genre" type="xs:string" />
          <xs:element name="story" type="xs:string" />
          <xs:element name="poster" type="xs:string" />
          <xs:element name="startdate" type="xs:anyType" />
          <xs:element name="enddate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="seat" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="timetableid" type="xs:string" />
          <xs:element name="seatcode" type="xs:string" />
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="reservationid" type="xs:string" />
          <xs:element name="isnew" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="reviewid" type="xs:string" />
          <xs:element name="movieid" type="xs:string" />
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="rating" type="xs:long" />
          <xs:element name="content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="regdate" type="xs:anyType" />
        <xs:element name="moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answer" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="questionid" type="xs:anyType" />
          <xs:element name="content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timetable" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="timetableid" type="xs:string" />
          <xs:element name="movieid" type="xs:string" />
          <xs:element name="starttime" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auth" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="authkey" type="xs:string" />
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="question" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="questionid" type="xs:anyType" />
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="favorite" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="movieid" type="xs:string" />
          <xs:element name="memberid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authcheck" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="authkey" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberauthinterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
          <xs:element name="" type="authservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springconfiguration" >
      <xs:sequence>
        <xs:element name="skmurl" type="xs:string" />
        <xs:element name="appkey" type="xs:string" />
        <xs:element name="keyid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisconnectionconfiguration" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="secretticketdatadto" nillable="true" minOccurs="0" />
        <xs:element name="redishost" type="xs:string" />
        <xs:element name="redisport" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceconfiguration" >
      <xs:sequence>
        <xs:element name="driverclassname" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="GeneratedName" type="secretticketdatadto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisconfiguration" >
      <xs:sequence>
        <xs:element name="0" type="xs:anyType" />
        <xs:element name="1" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="externalloginconfiguration" >
      <xs:sequence>
        <xs:element name="url" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mvcconfiguration" >
      <xs:sequence>
        <xs:element name="//pattern추가로검사할영역을지정할수있습니다.pattern" type="xs:anyType" />
        <xs:element name="GeneratedName" type="authservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movierepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<movie,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="questionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<question,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authcheckrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<authcheck,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="seatrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<seat,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reservationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<reservation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timetablerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<timetable,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="favoriterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<favorite,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="answerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<answer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<review,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<auth,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 