NHN_MovieSwan_web/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="reservation" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="reservationid" type="xs:string" />
          <xs:element name="timetableid" type="xs:string" />
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="youngnum" type="xs:long" />
          <xs:element name="adultnum" type="xs:long" />
          <xs:element name="eldernum" type="xs:long" />
          <xs:element name="totalnum" type="xs:long" />
          <xs:element name="price" type="xs:long" />
          <xs:element name="paydate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="movieid" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="director" type="xs:string" />
          <xs:element name="actor" type="xs:string" />
          <xs:element name="runtime" type="xs:anyType" />
          <xs:element name="genre" type="xs:string" />
          <xs:element name="story" type="xs:string" />
          <xs:element name="poster" type="xs:string" />
          <xs:element name="startdate" type="xs:anyType" />
          <xs:element name="enddate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="seat" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="timetableid" type="xs:string" />
          <xs:element name="seatcode" type="xs:string" />
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="reservationid" type="xs:string" />
          <xs:element name="isnew" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="reviewid" type="xs:string" />
          <xs:element name="movieid" type="xs:string" />
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="rating" type="xs:long" />
          <xs:element name="content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="regdate" type="xs:anyType" />
        <xs:element name="moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answer" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="questionid" type="xs:anyType" />
          <xs:element name="content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timetable" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="timetableid" type="xs:string" />
          <xs:element name="movieid" type="xs:string" />
          <xs:element name="starttime" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auth" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="authkey" type="xs:string" />
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="question" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="questionid" type="xs:anyType" />
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="favorite" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="movieid" type="xs:string" />
          <xs:element name="memberid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authcheck" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="memberid" type="xs:string" />
          <xs:element name="authkey" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 