SmppGW/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="classname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowslistviewentity" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="classname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="extid" type="xs:string" />
        <xs:element name="ownerid" type="xs:anyType" />
        <xs:element name="messagetext" type="xs:string" />
        <xs:element name="datacoding" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smsmodel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smsmodelimpl" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webinitializer" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memdbconfig" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistdbconfig" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="default" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="smsmodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smppgw.uml.diagram" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mem-db-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 