SmppGW/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="flowsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="classname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowslistviewentity" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="classname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 