RPO/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="educationaldetails" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nameofschool" type="xs:string" />
        <xs:element name="degree" type="addqualification" nillable="true" minOccurs="0" />
        <xs:element name="durationform" type="xs:dateTime" />
        <xs:element name="durationto" type="xs:dateTime" />
        <xs:element name="currentpursuing" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incentiveconfigurations" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="target" type="xs:anyType" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="valuetype" type="xs:string" />
        <xs:element name="rule" type="xs:string" />
        <xs:element name="is_countable" type="xs:anyType" />
        <xs:element name="min_ctc" type="xs:double" />
        <xs:element name="max_ctc" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="notetype" type="xs:string" />
        <xs:element name="notedata" type="xs:string" />
        <xs:element name="registrationid" type="xs:long" />
        <xs:element name="requirementid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="experiencedetails" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="occupation" type="xs:string" />
        <xs:element name="durationform" type="xs:dateTime" />
        <xs:element name="durationto" type="xs:dateTime" />
        <xs:element name="currentworkinghere" type="xs:anyType" />
        <xs:element name="workexperience" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interviewnotes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="notetype" type="xs:string" />
        <xs:element name="notedata" type="xs:string" />
        <xs:element name="registrationid" type="xs:long" />
        <xs:element name="interviewid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 