Java2-Cursuri8/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="imagex" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="image" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="frame" >
      <xs:complexContent>
       <xs:extension base="jframe">
         <xs:sequence>
          <xs:element name="panel" type="xs:anyType" />
          <xs:element name="label" type="xs:anyType" />
          <xs:element name="emf" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="image" type="imagex" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 