OSS23/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="bookmarkentitycollection" type="bookmarkentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookmarkentity" >
      <xs:sequence>
        <xs:element name="/***embeddedidprimarykeyfield*/" type="bookmarkentitypk" nillable="true" minOccurs="0" />
        <xs:element name="uri" type="xs:string" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="ldesc" type="xs:string" />
        <xs:element name="sdesc" type="xs:string" />
        <xs:element name="GeneratedName" type="userentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 