sourcecode29/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="organization" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="contactname" type="xs:string" />
        <xs:element name="contactemail" type="xs:string" />
        <xs:element name="contactphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 