order/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="orderstatus" type="xs:string" />
        <xs:element name="orderid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 