s2container177/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/name" type="xs:string" />
        <xs:element name="/***/employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/firstname" type="xs:string" />
        <xs:element name="/***/age" type="xs:anyType" />
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/" type="department" nillable="true" minOccurs="0" />
        <xs:element name="/***/" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/city" type="xs:string" />
        <xs:element name="/***/" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="doubleentity" >
      <xs:sequence>
        <xs:element name="/***/1property" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bytearrayentity" >
      <xs:sequence>
        <xs:element name="arrayproperty" type="xs:anyType" />
        <xs:element name="blobproperty" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldateentity" >
      <xs:sequence>
        <xs:element name="/***/sqlproperty" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="byteentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shortentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="integerentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitycheck" >
      <xs:sequence>
        <xs:element name="/***/aaa" type="xs:anyType" />
        <xs:element name="/***/bbb" type="xs:anyType" />
        <xs:element name="/***/ccc" type="xs:anyType" />
        <xs:element name="/***/ddd" type="xs:long" />
        <xs:element name="/***/eee" type="xs:long" />
        <xs:element name="/***/fff" type="xs:long" />
        <xs:element name="/***/ggg" type="xs:double" />
        <xs:element name="/***/hhh" type="xs:double" />
        <xs:element name="/***/iii" type="xs:string" />
        <xs:element name="/***/jjj" type="xs:anyType" />
        <xs:element name="/***/kkk" type="xs:anyType" />
        <xs:element name="/***/lll" type="xs:dateTime" />
        <xs:element name="/***/mmm" type="xs:anyType" />
        <xs:element name="/***/nnn" type="xs:dateTime" />
        <xs:element name="/***/ppp" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:dateTime" />
        <xs:element name="/***/timeproperty" type="xs:dateTime" />
        <xs:element name="/***/timestampproperty" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="longentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/firstname" type="xs:string" />
        <xs:element name="/***/lastname" type="xs:string" />
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/" type="department" nillable="true" minOccurs="0" />
        <xs:element name="/***/" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booleanentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:string" />
        <xs:element name="/***/clobproperty" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serializableentity" >
      <xs:sequence>
        <xs:element name="/***/serializableproperty" type="myserializable" nillable="true" minOccurs="0" />
        <xs:element name="/***/blobproperty" type="myserializable" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumentity" >
      <xs:sequence>
        <xs:element name="/***/enumproperty" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bigdecimalentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="calendarentity" >
      <xs:sequence>
        <xs:element name="/***/dateproperty" type="xs:anyType" />
        <xs:element name="/***/timeproperty" type="xs:anyType" />
        <xs:element name="/***/timestampproperty" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="/***識別子*/id" type="xs:anyType" />
        <xs:element name="/***都市*/city" type="xs:string" />
        <xs:element name="/***従業員*/" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timestampentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="document" >
      <xs:complexContent>
       <xs:extension base="file">
         <xs:sequence>
          <xs:element name="/***/documentid" type="xs:anyType" />
          <xs:element name="/***/documentsize" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="characterentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/name" type="xs:string" />
        <xs:element name="/***/employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bigintegerentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="floatentity" >
      <xs:sequence>
        <xs:element name="/***/property" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/firstname" type="xs:string" />
        <xs:element name="/***/age" type="xs:anyType" />
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/" type="department" nillable="true" minOccurs="0" />
        <xs:element name="/***/" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/city" type="xs:string" />
        <xs:element name="/***/" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/id2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/name" type="xs:string" />
        <xs:element name="/***/employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 