Pavan-Java-10/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="springbootfileuploadingapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springbootfileuploadingapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imageentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="file" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filecontroller" >
      <xs:sequence>
        <xs:element name="uploaded_folder" type="xs:string" />
        <xs:element name="filerepo" type="filerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagecontroller" >
      <xs:sequence>
        <xs:element name="uploaded_folder" type="xs:string" />
        <xs:element name="read_data" type="xs:string" />
        <xs:element name="repo" type="imagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<fileentity,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<imageentity,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 