Pavan-Java-10/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="imageentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="file" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 