M1_D24_Exam_XML/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="equipementculturel" >
      <xs:sequence>
        <xs:element name="/****************internstate***************/id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="postalcode" type="xs:long" />
        <xs:element name="websiteurl" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="theme" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="libcategory" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="libtheme" type="xs:string" />
        <xs:element name="localisation" type="xs:double" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="category" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 