SkillSurvey1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="locationdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<location>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertypeneedspk" >
      <xs:sequence>
        <xs:element name="idusertype" type="xs:long" />
        <xs:element name="idneed" type="xs:long" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleassignment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//@embeddedid//roleassignmentpkidpkroleid" type="xs:long" />
        <xs:element name="individualid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="survey" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idsurvey" type="xs:long" />
        <xs:element name="completedat" type="xs:dateTime" />
        <xs:element name="startedat" type="xs:dateTime" />
        <xs:element name="////bi-directionalmany-to-oneassociationtosurveryanswer//@onetomany//@joincolumn(name" type="individual" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dapssco" nillable="true" minOccurs="0" />
        <xs:element name="//bi-directionalmany-to-oneassociationtopathway" type="need" nillable="true" minOccurs="0" />
        <xs:element name="uocquestions" type="uocquestion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supervisionpk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//@column(name" type="xs:long" />
        <xs:element name="//@column(name" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="usertype" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="needs" type="need" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dapsscoskillspk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//@columndapsscoid" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleassignmentpk" >
      <xs:sequence>
        <xs:element name="//defaultserialversionid,requiredforserializableclasses.serialversionuid" type="xs:long" />
        <xs:element name="individualid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="surveryanswerpk" >
      <xs:sequence>
        <xs:element name="//defaultserialversionid,requiredforserializableclasses.serialversionuid" type="xs:long" />
        <xs:element name="uocquestionid" type="xs:string" />
        <xs:element name="surveyid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="functionoccupations" >
      <xs:sequence>
        <xs:element name="occupationid" type="xs:long" />
        <xs:element name="functionid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uocgroup" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//@generatedvalue(strategy" type="xs:string" />
        <xs:element name="notes" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-oneassociationto" type="need" nillable="true" minOccurs="0" />
        <xs:element name="uocs" type="uoc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//publicpathwaygetpathway(){//returnthis.pathway//}////publicvoidsetpathway(pathwaypathway){//this.pathway" type="dapssco" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="claim" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idclaim" type="xs:long" />
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="individual" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idindividual" type="xs:long" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="pathway" type="xs:long" />
        <xs:element name="ansofqtn1" type="xs:string" />
        <xs:element name="ansofqtn2" type="xs:string" />
        <xs:element name="mylock" type="xs:anyType" />
        <xs:element name="mylockedon" type="xs:dateTime" />
        <xs:element name="pwchangeon" type="xs:dateTime" />
        <xs:element name="//longsupervisorid//longsupervisedid//bi-directionalmany-to-oneassociationtodepartmentfk" type="usertype" nillable="true" minOccurs="0" />
        <xs:element name="//@joincolumn(name" type="location" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="function" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="occupation" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="level" nillable="true" minOccurs="0" />
        <xs:element name="//bi-directionalmany-to-oneassociationtofunctionsurveyes" type="survey" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//bi-directionalmany-to-manyassociationtoindividualsubordinates" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="iddepartment" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="////bi-directionalmany-to-oneassociationtoindividualindividuals" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="functionoccupationspk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="functionid" type="xs:long" />
        <xs:element name="occupationid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="level" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idlevel" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-oneassociationtoindividualindividuals" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//bi-directionalmany-to-manyassociationtodapsscodapsscos" type="dapssco" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="claimassignmentspk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="claimid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uocgroupmembers" >
      <xs:sequence>
        <xs:element name="//publicgetuoc_id(){//returnuoc_id//}////publicvoidsetuoc_id(uoc_id){//this.uoc_id" type="xs:long" />
        <xs:element name="//longuoc_iduoc_id" type="xs:string" />
        <xs:element name="uoc_groupid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dapsscolevelpk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="dapsscoid" type="xs:string" />
        <xs:element name="levelid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supervisons" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="supervisorid" type="xs:long" />
        <xs:element name="supervisedid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="occupationlevel" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="occupationid" type="xs:long" />
        <xs:element name="levelid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="function" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idfunction" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-oneassociationtoindividualindividuals" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="individuals){//this.individuals" type="occupation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="occupation" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idoccupation" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//*****startupdation////bi-directionalmany-to-oneassociationtodapsscodapsscos" type="dapssco" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="individuals" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="levels" type="level" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertypeneeds" >
      <xs:sequence>
        <xs:element name="idusertype" type="xs:long" />
        <xs:element name="idneed" type="xs:long" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uocgroupmemberspk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="uoc_groupid" type="xs:string" />
        <xs:element name="//longuoc_iduoc_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dapsscolevel" >
      <xs:sequence>
        <xs:element name="dapsscoid" type="xs:string" />
        <xs:element name="levelid" type="xs:long" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dapssco" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//@generatedvalue(strategy" type="xs:string" />
        <xs:element name="id" type="level" nillable="true" minOccurs="0" />
        <xs:element name="//bi-directionalmany-to-oneassociationto" type="occupation" nillable="true" minOccurs="0" />
        <xs:element name="///newlyadded" type="function" nillable="true" minOccurs="0" />
        <xs:element name="//*************bysanjayuocgroups" type="uocgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//bi-directionalmany-to-manyassociationtouocgrouplevel" type="level" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//*****************endsanjay//bi-directionalmany-to-oneassociationtosurveysurveys" type="survey" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="occupationlevelpk" >
      <xs:sequence>
        <xs:element name="occupationid" type="xs:long" />
        <xs:element name="levelid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="need" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idneed" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-oneassociationtouocgroupuocgroups" type="uocgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idrole" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="claims" type="claim" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="individuals" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uocquestion" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="iduocquestion" type="xs:string" />
        <xs:element name="//publicgettext(){//returntext//}////publicvoidsettext(text){//this.text" type="xs:string" />
        <xs:element name="//@column(name" type="xs:anyType" />
        <xs:element name="isprimay" type="xs:long" />
        <xs:element name="GeneratedName" type="uoc" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dapsscoskills" >
      <xs:sequence>
        <xs:element name="uocgroupid" type="xs:string" />
        <xs:element name="dapsscoid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provider" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="courseurl" type="xs:anyType" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbqueries" >
      <xs:sequence>
        <xs:element name="get_claimassignment" type="xs:string" />
        <xs:element name="get_claim" type="xs:string" />
        <xs:element name="get_dapssco" type="xs:string" />
        <xs:element name="get_dapsscolevel" type="xs:string" />
        <xs:element name="get_dapsscoskills" type="xs:string" />
        <xs:element name="get_department" type="xs:string" />
        <xs:element name="get_function" type="xs:string" />
        <xs:element name="get_functionoccuptions" type="xs:string" />
        <xs:element name="get_individual" type="xs:string" />
        <xs:element name="get_level" type="xs:string" />
        <xs:element name="get_need" type="xs:string" />
        <xs:element name="get_occupation" type="xs:string" />
        <xs:element name="get_pathway" type="xs:string" />
        <xs:element name="get_question" type="xs:string" />
        <xs:element name="get_role" type="xs:string" />
        <xs:element name="get_roleassingment" type="xs:string" />
        <xs:element name="get_supervisons" type="xs:string" />
        <xs:element name="get_survey" type="xs:string" />
        <xs:element name="get_surveyanswer" type="xs:string" />
        <xs:element name="get_uoc" type="xs:string" />
        <xs:element name="get_uocgroup" type="xs:string" />
        <xs:element name="get_uocgroup_members" type="xs:string" />
        <xs:element name="get_uocquestion" type="xs:string" />
        <xs:element name="get_user_by_user_id" type="xs:string" />
        <xs:element name="get_all_managed_user" type="xs:string" />
        <xs:element name="get_logged_in_user" type="xs:string" />
        <xs:element name="get_dapssco_by_level_occup_func" type="xs:string" />
        <xs:element name="get_answer_count" type="xs:string" />
        <xs:element name="get_profile_status" type="xs:string" />
        <xs:element name="get_function_by_id" type="xs:string" />
        <xs:element name="get_primary_answers" type="xs:string" />
        <xs:element name="get_primary_answers_by_answertype" type="xs:string" />
        <xs:element name="get_all_secondary_answers" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="surveryanswer" >
      <xs:sequence>
        <xs:element name="surveyid" type="xs:long" />
        <xs:element name="uocquestionid" type="xs:string" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="answeredat" type="xs:dateTime" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="claimassignments" >
      <xs:sequence>
        <xs:element name="claimid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uoc" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="////@generatedvalue(strategy" type="xs:string" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="uid" type="xs:string" />
        <xs:element name="////bi-directionalmany-to-manyassociationtouocgroupuocgroups" type="uocgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//bi-directionalmany-to-oneassociationtouocquestionuocquestions" type="uocquestion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="provider" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idbentity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="claimdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<claim>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="functionoccupationsdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<functionoccupations>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertypedao" >
      <xs:complexContent>
       <xs:extension base="basicdao<usertype>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="needdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<need>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<department>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uocgroupmembersdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<uocgroupmembers>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicdao" >
      <xs:complexContent>
       <xs:extension base="idbentity>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleassignmentdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<roleassignment>{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="leveldao" >
      <xs:complexContent>
       <xs:extension base="basicdao<level>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="functiondao" >
      <xs:complexContent>
       <xs:extension base="basicdao<function>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="supervisonsdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<supervisons>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="individualdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<individual>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="occupationdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<occupation>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="claimassingmentsdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<claimassignments>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roledao" >
      <xs:complexContent>
       <xs:extension base="basicdao<role>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="surveyanswerdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<surveryanswer>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uocgroupdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<uocgroup>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dapsscoleveldao" >
      <xs:complexContent>
       <xs:extension base="basicdao<dapsscolevel>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="surveydao" >
      <xs:complexContent>
       <xs:extension base="basicdao<survey>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uocquestiondao" >
      <xs:complexContent>
       <xs:extension base="basicdao<uocquestion>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uocdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<uoc>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dapsscodao" >
      <xs:complexContent>
       <xs:extension base="basicdao<dapssco>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencemanager" >
      <xs:sequence>
        <xs:element name="instance" type="persistencemanager" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="emprovider" type="entitymanagerproviderimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceprovider" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="instance" type="datasourceprovider" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactoryprovider" >
      <xs:sequence>
        <xs:element name="instance" type="entitymanagerfactoryprovider" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerproviderimpl" >
      <xs:sequence>
        <xs:element name="entity_manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dapsscoskillsdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<dapsscoskills>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="emprovider" type="entitymanagerprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 