SkillSurvey1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="roleassignment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//@embeddedid//roleassignmentpkidpkroleid" type="xs:long" />
        <xs:element name="individualid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="survey" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idsurvey" type="xs:long" />
        <xs:element name="completedat" type="xs:dateTime" />
        <xs:element name="startedat" type="xs:dateTime" />
        <xs:element name="////bi-directionalmany-to-oneassociationtosurveryanswer//@onetomany//@joincolumn(name" type="individual" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dapssco" nillable="true" minOccurs="0" />
        <xs:element name="//bi-directionalmany-to-oneassociationtopathway" type="need" nillable="true" minOccurs="0" />
        <xs:element name="uocquestions" type="uocquestion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="usertype" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="needs" type="need" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="functionoccupations" >
      <xs:sequence>
        <xs:element name="occupationid" type="xs:long" />
        <xs:element name="functionid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uocgroup" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//@generatedvalue(strategy" type="xs:string" />
        <xs:element name="notes" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-oneassociationto" type="need" nillable="true" minOccurs="0" />
        <xs:element name="uocs" type="uoc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//publicpathwaygetpathway(){//returnthis.pathway//}////publicvoidsetpathway(pathwaypathway){//this.pathway" type="dapssco" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="claim" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idclaim" type="xs:long" />
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="individual" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idindividual" type="xs:long" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="pathway" type="xs:long" />
        <xs:element name="ansofqtn1" type="xs:string" />
        <xs:element name="ansofqtn2" type="xs:string" />
        <xs:element name="mylock" type="xs:anyType" />
        <xs:element name="mylockedon" type="xs:dateTime" />
        <xs:element name="pwchangeon" type="xs:dateTime" />
        <xs:element name="//longsupervisorid//longsupervisedid//bi-directionalmany-to-oneassociationtodepartmentfk" type="usertype" nillable="true" minOccurs="0" />
        <xs:element name="//@joincolumn(name" type="location" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="function" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="occupation" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="level" nillable="true" minOccurs="0" />
        <xs:element name="//bi-directionalmany-to-oneassociationtofunctionsurveyes" type="survey" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//bi-directionalmany-to-manyassociationtoindividualsubordinates" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="iddepartment" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="////bi-directionalmany-to-oneassociationtoindividualindividuals" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="level" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idlevel" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-oneassociationtoindividualindividuals" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//bi-directionalmany-to-manyassociationtodapsscodapsscos" type="dapssco" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uocgroupmembers" >
      <xs:sequence>
        <xs:element name="//publicgetuoc_id(){//returnuoc_id//}////publicvoidsetuoc_id(uoc_id){//this.uoc_id" type="xs:long" />
        <xs:element name="//longuoc_iduoc_id" type="xs:string" />
        <xs:element name="uoc_groupid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supervisons" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="supervisorid" type="xs:long" />
        <xs:element name="supervisedid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="occupationlevel" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="occupationid" type="xs:long" />
        <xs:element name="levelid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="function" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idfunction" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-oneassociationtoindividualindividuals" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="individuals){//this.individuals" type="occupation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="occupation" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idoccupation" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//*****startupdation////bi-directionalmany-to-oneassociationtodapsscodapsscos" type="dapssco" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="individuals" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="levels" type="level" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertypeneeds" >
      <xs:sequence>
        <xs:element name="idusertype" type="xs:long" />
        <xs:element name="idneed" type="xs:long" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dapsscolevel" >
      <xs:sequence>
        <xs:element name="dapsscoid" type="xs:string" />
        <xs:element name="levelid" type="xs:long" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dapssco" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//@generatedvalue(strategy" type="xs:string" />
        <xs:element name="id" type="level" nillable="true" minOccurs="0" />
        <xs:element name="//bi-directionalmany-to-oneassociationto" type="occupation" nillable="true" minOccurs="0" />
        <xs:element name="///newlyadded" type="function" nillable="true" minOccurs="0" />
        <xs:element name="//*************bysanjayuocgroups" type="uocgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//bi-directionalmany-to-manyassociationtouocgrouplevel" type="level" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//*****************endsanjay//bi-directionalmany-to-oneassociationtosurveysurveys" type="survey" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="need" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idneed" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-oneassociationtouocgroupuocgroups" type="uocgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idrole" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="claims" type="claim" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="individuals" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uocquestion" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="iduocquestion" type="xs:string" />
        <xs:element name="//publicgettext(){//returntext//}////publicvoidsettext(text){//this.text" type="xs:string" />
        <xs:element name="//@column(name" type="xs:anyType" />
        <xs:element name="isprimay" type="xs:long" />
        <xs:element name="GeneratedName" type="uoc" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dapsscoskills" >
      <xs:sequence>
        <xs:element name="uocgroupid" type="xs:string" />
        <xs:element name="dapsscoid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provider" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="courseurl" type="xs:anyType" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="surveryanswer" >
      <xs:sequence>
        <xs:element name="surveyid" type="xs:long" />
        <xs:element name="uocquestionid" type="xs:string" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="answeredat" type="xs:dateTime" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="claimassignments" >
      <xs:sequence>
        <xs:element name="claimid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uoc" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="////@generatedvalue(strategy" type="xs:string" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="uid" type="xs:string" />
        <xs:element name="////bi-directionalmany-to-manyassociationtouocgroupuocgroups" type="uocgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//bi-directionalmany-to-oneassociationtouocquestionuocquestions" type="uocquestion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="provider" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 