jukeb/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="partycontrollerpicturetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="partyrepository" nillable="true" minOccurs="0" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="rafa" type="party" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partycontrollertest" >
      <xs:sequence>
        <xs:element name="/*mediatypecontenttype" type="partyrepository" nillable="true" minOccurs="0" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="rafa" type="party" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testupload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="picturelistchangedevent" >
      <xs:complexContent>
       <xs:extension base="applicationevent">
         <xs:sequence>
          <xs:element name="//longserialversionuid" type="picture" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jukebconfigurablemapper" >
      <xs:complexContent>
       <xs:extension base="configurablemapper">
         <xs:sequence>
          <xs:element name="context" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="websocketmessagebrokerconfigurer" >
      <xs:complexContent>
       <xs:extension base="abstractwebsocketmessagebrokerconfigurer">
         <xs:sequence>
          <xs:element name="queue" type="xs:string" />
          <xs:element name="topic" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="partycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="partyservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyresource" >
      <xs:complexContent>
       <xs:extension base="resource">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="owner" type="userresource" nillable="true" minOccurs="0" />
          <xs:element name="playlist" type="songresource" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userresource" >
      <xs:complexContent>
       <xs:extension base="resource">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="picture" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="picturelistchangedlistener" >
      <xs:sequence>
        <xs:element name="template" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumresource" >
      <xs:complexContent>
       <xs:extension base="resource">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="picture" type="xs:anyType" />
          <xs:element name="artist" type="artistresource" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="artistresource" >
      <xs:complexContent>
       <xs:extension base="resource">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="picture" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="songresource" >
      <xs:complexContent>
       <xs:extension base="resource">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="album" type="albumresource" nillable="true" minOccurs="0" />
          <xs:element name="location" type="xs:anyType" />
          <xs:element name="lyrics" type="xs:string" />
          <xs:element name="upvotes" type="xs:long" />
          <xs:element name="downvotes" type="xs:long" />
          <xs:element name="proposer" type="userresource" nillable="true" minOccurs="0" />
          <xs:element name="listposition" type="xs:long" />
          <xs:element name="" type="songstatus" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="voteresource" >
      <xs:complexContent>
       <xs:extension base="resource">
         <xs:sequence>
          <xs:element name="vote" type="xs:long" />
          <xs:element name="voter" type="userresource" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resource" >
      <xs:sequence>
        <xs:element name="_links" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pictureresoure" >
      <xs:complexContent>
       <xs:extension base="resource">
         <xs:sequence>
          <xs:element name="uploader" type="partyuser" nillable="true" minOccurs="0" />
          <xs:element name="party" type="xs:string" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mainconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teste" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="picture" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<partyuser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="picture" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="file" type="xs:anyType" />
        <xs:element name="//filefileuploader" type="partyuser" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="party" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="picturerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<picture,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="songstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="song" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="party" nillable="true" minOccurs="0" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="album" nillable="true" minOccurs="0" />
        <xs:element name="location" type="xs:anyType" />
        <xs:element name="lyrics" type="xs:string" />
        <xs:element name="votes" type="vote" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="listposition" type="xs:long" />
        <xs:element name="//@manytoone//partyuserproposer//@type(type" type="xs:anyType" />
        <xs:element name="GeneratedName" type="songstatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="googleimageresult" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="responsedata" nillable="true" minOccurs="0" />
        <xs:element name="responsedetails" type="xs:anyType" />
        <xs:element name="responsestatus" type="xs:anyType" />
        <xs:element name="additionalproperties" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="page" >
      <xs:sequence>
        <xs:element name="start" type="xs:string" />
        <xs:element name="label" type="xs:anyType" />
        <xs:element name="additionalproperties" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsedata" >
      <xs:sequence>
        <xs:element name="results" type="result" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="cursor" nillable="true" minOccurs="0" />
        <xs:element name="additionalproperties" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cursor" >
      <xs:sequence>
        <xs:element name="resultcount" type="xs:string" />
        <xs:element name="pages" type="page" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="estimatedresultcount" type="xs:string" />
        <xs:element name="currentpageindex" type="xs:anyType" />
        <xs:element name="moreresultsurl" type="xs:string" />
        <xs:element name="searchresulttime" type="xs:string" />
        <xs:element name="additionalproperties" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gimagesearch" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="result" >
      <xs:sequence>
        <xs:element name="gsearchresultclass" type="xs:string" />
        <xs:element name="width" type="xs:string" />
        <xs:element name="height" type="xs:string" />
        <xs:element name="imageid" type="xs:string" />
        <xs:element name="tbwidth" type="xs:string" />
        <xs:element name="tbheight" type="xs:string" />
        <xs:element name="unescapedurl" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="visibleurl" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="titlenoformatting" type="xs:string" />
        <xs:element name="originalcontexturl" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="contentnoformatting" type="xs:string" />
        <xs:element name="tburl" type="xs:string" />
        <xs:element name="additionalproperties" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="songprovider" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="artistrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="albumrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artist" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="picture" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vote" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="vote" type="xs:long" />
        <xs:element name="voter" type="partyuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artistrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<artist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="voterepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<vote,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="albumrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<album,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="songrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<song,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="album" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="picture" type="xs:anyType" />
        <xs:element name="GeneratedName" type="artist" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<party,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="party" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="picturerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="partyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="songrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="artistrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="albumrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="voterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="songprovider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="publisher" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jukebapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletepicture" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playlist2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadsuccess" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partynotfound" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadfail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletepicturesucess" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jukebmodule" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vcs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modules" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="misc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webapp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexmodel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="underscore-min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ngdialog-custom-width" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="snap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jumbotron" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="breadcrumbs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popovers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="close" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="input-groups" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clearfix" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="text-emphasis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reset-filter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="background-variant" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendor-prefixes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grid-framework" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="border-radius" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tab-focus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="size" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hide-text" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="opacity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table-row" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nav-vertical-align" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagination" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reset-text" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsive-visibility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resize" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alerts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="text-overflow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="center-block" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="media" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component-animations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagination" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scaffolding" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modals" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".csscomb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list-group" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsive-embed" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="badges" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thumbnails" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="button-groups" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alerts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsive-utilities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configbridge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-carousel.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-animate.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license-mit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-filestyle.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license-mit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="export" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spoof-window" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="default-props" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alpha" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scale" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="function-break" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="history" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modify-ease" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="function-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scale" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alpha" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="history" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modify-ease" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-route.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ui-bootstrap-csp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="copying" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fixed-width" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rotated-flipped" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="larger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stacked" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="core" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bordered-pulled" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coffeelint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webworker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocket" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="integration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".travis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mit-license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deprecated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sizzle.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data_user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data_priv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accepts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="global" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selector-sizzle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="intro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="outro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajax" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alias" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tween" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animatedselector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dimensions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_evalurl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rcheckabletype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="effects" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="callbacks" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="traversing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="access" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ready" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parsehtml" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="curcss" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addgethookif" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultdisplay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hiddenvisibleselectors" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getstyles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rnumnonpx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cssexpand" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ishidden" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmargin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rneedscontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexof" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="class2type" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="concat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="push" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hasown" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tostring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="strundefined" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deferred" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xhr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="script" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parsexml" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parsejson" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonce" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="load" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-touch.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 