Outback/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="outbackv2applicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-mysql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="join" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replylist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="write" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="write" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replylist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="head" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myscript" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="outbackv2application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypageconfiguration" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="filesrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="replyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="jpamemberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storeserviceimpl" >
      <xs:sequence>
        <xs:element name="mapper" type="storemapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailserviceimpl" >
      <xs:sequence>
        <xs:element name="sender" type="xs:anyType" />
        <xs:element name="repository" type="varificationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jpaboardrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storemapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replycontroller" >
      <xs:sequence>
        <xs:element name="service" type="replyservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="membercontroller" >
      <xs:sequence>
        <xs:element name="service" type="memberservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailcontroller" >
      <xs:sequence>
        <xs:element name="service" type="mailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filecontroller" >
      <xs:sequence>
        <xs:element name="service" type="filesservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storecontroller" >
      <xs:sequence>
        <xs:element name="service" type="storeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardcontroller" >
      <xs:sequence>
        <xs:element name="service" type="boardservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logindto" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="pw" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replydto" >
      <xs:sequence>
        <xs:element name="content" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="b_no" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaboarddto" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="count" type="xs:long" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="reg_date" type="xs:anyType" />
        <xs:element name="user_ip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boarddto" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="count" type="xs:long" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="reg_date" type="xs:anyType" />
        <xs:element name="user_ip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesdto" >
      <xs:sequence>
        <xs:element name="t_text" type="xs:string" />
        <xs:element name="b_text" type="xs:string" />
        <xs:element name="filename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailcheckreqdto" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesresdto" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="t_text" type="xs:string" />
        <xs:element name="b_text" type="xs:string" />
        <xs:element name="used" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joindto" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pw" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyresdto" >
      <xs:sequence>
        <xs:element name="//댓글번호r_no" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="b_no" type="xs:long" />
        <xs:element name="reg_date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagemaker" >
      <xs:sequence>
        <xs:element name="//페이지표현할개수block" type="xs:long" />
        <xs:element name="//시작번호from" type="xs:long" />
        <xs:element name="//끝번호to" type="xs:long" />
        <xs:element name="//마지막번호totalpages" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageinfo" >
      <xs:sequence>
        <xs:element name="//페이지표현할개수block" type="xs:long" />
        <xs:element name="//시작번호from" type="xs:long" />
        <xs:element name="//끝번호to" type="xs:long" />
        <xs:element name="//마지막번호totalpages" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="varification" >
      <xs:sequence>
        <xs:element name="vno" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<files,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="replyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<reply,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpamemberrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<jpamember,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="varificationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<varification,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaboardrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<jpaboard,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="files" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="t_text" type="xs:string" />
        <xs:element name="b_text" type="xs:string" />
        <xs:element name="used" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaboard" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="count" type="xs:long" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="reg_date" type="xs:anyType" />
        <xs:element name="user_ip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpamember" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pw" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reply" >
      <xs:sequence>
        <xs:element name="//댓글번호r_no" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="reg_date" type="xs:anyType" />
        <xs:element name="//게시글번호b_no" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 