Outback/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="varification" >
      <xs:sequence>
        <xs:element name="vno" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="files" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="t_text" type="xs:string" />
        <xs:element name="b_text" type="xs:string" />
        <xs:element name="used" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaboard" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="count" type="xs:long" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="reg_date" type="xs:anyType" />
        <xs:element name="user_ip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpamember" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pw" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reply" >
      <xs:sequence>
        <xs:element name="//댓글번호r_no" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="reg_date" type="xs:anyType" />
        <xs:element name="//게시글번호b_no" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 