petCare1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="petrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<pets,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourceserverconfig" >
      <xs:complexContent>
       <xs:extension base="resourceserverconfigureradapter">
         <xs:sequence>
          <xs:element name="sso" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animalform" >
      <xs:sequence>
        <xs:element name="animalname" type="xs:string" />
        <xs:element name="pettype" type="xs:anyType" />
        <xs:element name="animalbreed" type="xs:string" />
        <xs:element name="birthdate" type="xs:anyType" />
        <xs:element name="animalsex" type="xs:string" />
        <xs:element name="animalbehavior" type="xs:string" />
        <xs:element name="animalcomplication" type="xs:string" />
        <xs:element name="comments" type="xs:string" />
        <xs:element name="//addressguardianaddressisvaccinated" type="xs:anyType" />
        <xs:element name="isneutered" type="xs:anyType" />
        <xs:element name="request" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventoryapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="petserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="petrepository" nillable="true" minOccurs="0" />
        <xs:element name="kafkatemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserinfotokenservices" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="principal_keys" type="xs:string" />
        <xs:element name="userinfoendpointurl" type="xs:string" />
        <xs:element name="clientid" type="xs:string" />
        <xs:element name="resttemplate" type="xs:anyType" />
        <xs:element name="tokentype" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="petservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventorycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="petservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="status" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
        <xs:element name="error" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pets" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="animalname" type="xs:string" />
        <xs:element name="birthdate" type="xs:anyType" />
        <xs:element name="animaltype" type="pettype" nillable="true" minOccurs="0" />
        <xs:element name="animalbreed" type="xs:string" />
        <xs:element name="animalage" type="xs:anyType" />
        <xs:element name="animalsex" type="xs:string" />
        <xs:element name="animalbehavior" type="xs:string" />
        <xs:element name="animalcomplication" type="xs:string" />
        <xs:element name="comments" type="xs:string" />
        <xs:element name="isvaccinated" type="xs:anyType" />
        <xs:element name="isneutered" type="xs:anyType" />
        <xs:element name="request" type="xs:dateTime" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pettype" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 