NetVendas1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ternarymapentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="map" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notauditedsubclassentity" >
      <xs:complexContent>
       <xs:extension base="auditedallmappedsuperclass">
         <xs:sequence>
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="notauditedstr" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notauditedsubclassentity" >
      <xs:complexContent>
       <xs:extension base="auditedmethodmappedsuperclass">
         <xs:sequence>
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="notauditedstr" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="explicittransitivechildentity" >
      <xs:complexContent>
       <xs:extension base="transitiveparententity">
         <xs:sequence>
          <xs:element name="child" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="implicittransitivechildentity" >
      <xs:complexContent>
       <xs:extension base="transitiveparententity">
         <xs:sequence>
          <xs:element name="child" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="childsingleparententity" >
      <xs:complexContent>
       <xs:extension base="mappedparententity">
         <xs:sequence>
          <xs:element name="child" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="childmultipleparentsentity" >
      <xs:complexContent>
       <xs:extension base="mappedparententity">
         <xs:sequence>
          <xs:element name="child" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="babycompleteentity" >
      <xs:complexContent>
       <xs:extension base="childcompleteentity">
         <xs:sequence>
          <xs:element name="baby" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="versionsjointabletestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="collection" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionsjointablerangetestentity" >
      <xs:complexContent>
       <xs:extension base="		versionsjointablerangetestentitysuperclass">
         <xs:sequence>
          <xs:element name="value" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="joinmulidnamingrefedentity" >
      <xs:sequence>
        <xs:element name="id1" type="xs:anyType" />
        <xs:element name="id2" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reffering" type="joinmulidnamingrefingentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joinmulidnamingrefingentity" >
      <xs:sequence>
        <xs:element name="id1" type="xs:anyType" />
        <xs:element name="id2" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reference" type="joinmulidnamingrefedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joinembidnamingrefedentity" >
      <xs:sequence>
        <xs:element name="id" type="embidnaming" nillable="true" minOccurs="0" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reffering" type="joinembidnamingrefingentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joinembidnamingrefingentity" >
      <xs:sequence>
        <xs:element name="id" type="embidnaming" nillable="true" minOccurs="0" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reference" type="joinembidnamingrefedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionsjointablerangecomponenttestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="/***anembeddedcomponent,containingalistof*{@linkversionsjointablerangetestentity}-instances.*/component1" type="versionsjointablerangetestentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***anembeddedcomponent,containingalistof*{@linkversionsjointablerangetestalternateentity}-instances.*/component2" type="versionsjointablerangetestalternateentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***anembeddedcomponent,containingalistofnotaudited*{@linkversionsjointablerangetestalternateentity}-instances.*/component3" type="component1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionsjointablerangetestalternateentity" >
      <xs:complexContent>
       <xs:extension base="		versionsjointablerangetestentitysuperclass">
         <xs:sequence>
          <xs:element name="alternatevalue" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="joinnamingrefingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reference" type="joinnamingrefedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detachednamingtestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="collection" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namingtestentity1" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quotedfieldsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="data1" type="xs:string" />
        <xs:element name="data2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joinnamingrefedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reffering" type="joinnamingrefingentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serializabletestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="obj" type="serobject" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumtestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="enum1" type="xs:anyType" />
        <xs:element name="enum2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lobserializabletestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="obj" type="serobject" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lobtestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="lob" type="xs:string" />
        <xs:element name="lob" type="xs:anyType" />
        <xs:element name="lob" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basictestentity2" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="str1" type="xs:string" />
        <xs:element name="str2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basictestentity3" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="str1" type="xs:string" />
        <xs:element name="str2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basictestentity1" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="str1" type="xs:string" />
        <xs:element name="1" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basictestentity4" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="str1" type="xs:string" />
        <xs:element name="str2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childentity" >
      <xs:complexContent>
       <xs:extension base="parententity">
         <xs:sequence>
          <xs:element name="number" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emptychildentity" >
      <xs:complexContent>
       <xs:extension base="parententity">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childprimarykeyjoinentity" >
      <xs:complexContent>
       <xs:extension base="parententity">
         <xs:sequence>
          <xs:element name="number" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="childingentity" >
      <xs:complexContent>
       <xs:extension base="parentingentity">
         <xs:sequence>
          <xs:element name="number" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parentingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="referenced" type="referencedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractcontainedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractsetentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="entities" type="abstractcontainedentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setentity" >
      <xs:complexContent>
       <xs:extension base="abstractsetentity">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="referencedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="referencing" type="parentingentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personalcontact" >
      <xs:complexContent>
       <xs:extension base="contact">
         <xs:sequence>
          <xs:element name="firstname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="GeneratedName" type="contact" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contact" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="addresses" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childingentity" >
      <xs:complexContent>
       <xs:extension base="parentnotingentity">
         <xs:sequence>
          <xs:element name="number" type="xs:long" />
          <xs:element name="referenced" type="referencedentity" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="referencedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="referencing" type="childingentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parentnotingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="normalactivity" >
      <xs:complexContent>
       <xs:extension base="abstractactivity">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractactivity" >
      <xs:sequence>
        <xs:element name="id" type="activityid" nillable="true" minOccurs="0" />
        <xs:element name="sequencenumber" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkinactivity" >
      <xs:complexContent>
       <xs:extension base="abstractcheckactivity">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractcheckactivity" >
      <xs:complexContent>
       <xs:extension base="abstractactivity">
         <xs:sequence>
          <xs:element name="durationinminutes" type="xs:anyType" />
          <xs:element name="related" type="activity" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personalcontact" >
      <xs:complexContent>
       <xs:extension base="contact">
         <xs:sequence>
          <xs:element name="firstname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="GeneratedName" type="contact" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contact" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="addresses" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parentingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="referenced" type="referencedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childingentity" >
      <xs:complexContent>
       <xs:extension base="parentingentity">
         <xs:sequence>
          <xs:element name="number" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="referencedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="referencing" type="parentingentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childentity" >
      <xs:complexContent>
       <xs:extension base="parententity">
         <xs:sequence>
          <xs:element name="number" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parentnotingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="referencedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="referencing" type="childingentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childingentity" >
      <xs:complexContent>
       <xs:extension base="parentnotingentity">
         <xs:sequence>
          <xs:element name="number" type="xs:long" />
          <xs:element name="referenced" type="referencedentity" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="childingentity" >
      <xs:complexContent>
       <xs:extension base="parentingentity">
         <xs:sequence>
          <xs:element name="number" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="referencedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="referencing" type="parentingentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parentingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="referenced" type="referencedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childentity" >
      <xs:complexContent>
       <xs:extension base="parententity">
         <xs:sequence>
          <xs:element name="number" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parententity" >
      <xs:sequence>
        <xs:element name="discriminator_query" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="typeid" type="xs:long" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childentity" >
      <xs:complexContent>
       <xs:extension base="parententity">
         <xs:sequence>
          <xs:element name="specificdata" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classtypeentity" >
      <xs:sequence>
        <xs:element name="parent_type" type="xs:string" />
        <xs:element name="child_type" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="referencedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="referencing" type="childingentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parentnotingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childingentity" >
      <xs:complexContent>
       <xs:extension base="parentnotingentity">
         <xs:sequence>
          <xs:element name="number" type="xs:long" />
          <xs:element name="referenced" type="referencedentity" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personalcontact" >
      <xs:complexContent>
       <xs:extension base="contact">
         <xs:sequence>
          <xs:element name="firstname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="GeneratedName" type="contact" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contact" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="addresses" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setrefingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reference" type="isetrefedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setrefedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componenttestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="comp1" type="icomponent" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditedtestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="str1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notauditedtestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="str1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sameidtestentity1" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="str1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sameidtestentity2" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="str1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="longrevnumberreventity" >
      <xs:sequence>
        <xs:element name="customid" type="xs:long" />
        <xs:element name="customtimestamp" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionlistenerreventity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="timestamp" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customboxedreventity" >
      <xs:sequence>
        <xs:element name="customid" type="xs:anyType" />
        <xs:element name="customtimestamp" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listenerreventity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="timestamp" type="xs:long" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inheritedreventity" >
      <xs:complexContent>
       <xs:extension base="defaultrevisionentity">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="staff" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="sizeininches" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertiestestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="str" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unversionedoptimisticlockingfieldentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="str" type="xs:string" />
        <xs:element name="optlocking" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wikipage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="links" type="xs:anyType" />
        <xs:element name="images" type="wikiimage" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wikiimage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondarynamingtestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="s1" type="xs:string" />
        <xs:element name="s2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondarymulidtestentity" >
      <xs:sequence>
        <xs:element name="id1" type="xs:anyType" />
        <xs:element name="id2" type="xs:anyType" />
        <xs:element name="s1" type="xs:string" />
        <xs:element name="s2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondaryembidtestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="s1" type="xs:string" />
        <xs:element name="s2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondarytestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="s1" type="xs:string" />
        <xs:element name="s2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixedaccesstypeentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="dataset" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="code" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertyaccesstypeentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="idset" type="xs:anyType" />
        <xs:element name="dataset" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldaccesstypeentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="refingmapkeyentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="reference" type="refedmapkeyentity" nillable="true" minOccurs="0" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="refedmapkeyentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idmapkeyentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentmapkeyentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="name" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="names" type="name" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notinsertabletestentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="datacopy" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notinsertableentitytype" >
      <xs:sequence>
        <xs:element name="typeid" type="xs:anyType" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manytoonenotinsertableentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="number" type="xs:anyType" />
        <xs:element name="type" type="notinsertableentitytype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingsetpo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="greetings" type="greetingpo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingpo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="thegreeting" type="xs:string" />
        <xs:element name="greetingset" type="greetingsetpo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="birefedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="referencing" type="birefingentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="birefingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reference" type="birefedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="biembidrefingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reference" type="biembidrefedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="biembidrefedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="referencing" type="biembidrefingentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bimulidrefingentity" >
      <xs:sequence>
        <xs:element name="id1" type="xs:anyType" />
        <xs:element name="id2" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reference" type="bimulidrefedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bimulidrefedentity" >
      <xs:sequence>
        <xs:element name="id1" type="xs:anyType" />
        <xs:element name="id2" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="referencing" type="bimulidrefingentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unirefedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unirefingmulidentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reference" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unirefingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="reference" type="unirefedentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childentity1" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="child1" type="childentity2" nillable="true" minOccurs="0" />
        <xs:element name="child2" type="childentity2" nillable="true" minOccurs="0" />
        <xs:element name="data1" type="xs:string" />
        <xs:element name="data2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childentity2" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="number" type="xs:anyType" />
        <xs:element name="strings" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rootentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="data1" type="xs:string" />
        <xs:element name="data2" type="xs:string" />
        <xs:element name="number1" type="xs:anyType" />
        <xs:element name="number2" type="xs:anyType" />
        <xs:element name="1" type="xs:dateTime" />
        <xs:element name="child1" type="childentity1" nillable="true" minOccurs="0" />
        <xs:element name="child2" type="childentity1" nillable="true" minOccurs="0" />
        <xs:element name="child3" type="childentity1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="streetname" type="xs:string" />
        <xs:element name="housenumber" type="xs:anyType" />
        <xs:element name="flatnumber" type="xs:anyType" />
        <xs:element name="persons" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 