OSS11/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="serializabletypeoraclebuilder" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="/***compares{@linkjtype}saccordingtotheirqualifiedsourcenames.*/jtype_comparator" type="xs:anyType" />
          <xs:element name="/***notypefilteringbydefault..*/default_type_filter" type="typefilter" nillable="true" minOccurs="0" />
          <xs:element name="/***areferencetotheannotationclass*javax.jdo.annotations.persistencecapableusedbythejdoapi.maybenull*ifjdoisnotpresentintheruntimeenvironment.*/jdo_persistence_capable_annotation" type="xs:anyType" />
          <xs:element name="/***areferencetothe'string*javax.jdo.annotations.persistencecapable.detachable()'.*/jdo_persistence_capable_detachable_" type="xs:anyType" />
          <xs:element name="/***areferencetotheannotationclassjavax.persistence.entityusedbythe*jpaapi.maybenullifjpaisnotpresentintheruntimeenvironment.*/jpa_entity_annotation" type="xs:anyType" />
          <xs:element name="alreadycheckedobject" type="xs:anyType" />
          <xs:element name="/***cacheofthe{@linkjclasstype}for{@linkcollection}.*/collectionclass" type="xs:anyType" />
          <xs:element name="context" type="xs:anyType" />
          <xs:element name="enhancedclasses" type="xs:anyType" />
          <xs:element name="logoutputwriter" type="xs:anyType" />
          <xs:element name="/***cacheofthe{@linkjclasstype}for{@linkmap}.*/mapclass" type="xs:anyType" />
          <xs:element name="roottypes" type="xs:anyType" />
          <xs:element name="wewillnotwarnifaserializabletypecontainsa*non-field.wewarnbecausethesefieldsarenotserialized.*/suppressnonfieldwarnings" type="xs:anyType" />
          <xs:element name="" type="typeconstrainer" nillable="true" minOccurs="0" />
          <xs:element name="" type="typefilter" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="typeparameterexposurecomputer" nillable="true" minOccurs="0" />
          <xs:element name="/***thesetoftypeparametersthatappearinoneoftheroottypes.*todo(spoon):itwouldbecleanertodeletethisfield,andinsteadtohave*{@link#addroottype(treelogger,jtype)}replaceparameterswithwildcard*types.thentheroottypeswouldnotcontainanyparameters.*/typeparametersinroottypes" type="xs:anyType" />
          <xs:element name="typetotypeinfocomputed" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 