magazine-spring1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="rest-services" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="script" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ba-throttle-debounce.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tiles-defs" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="root-context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="init" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restauthenticationprovider" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="headerinterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="headerpreparer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile" >
      <xs:sequence>
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="commentid" type="xs:long" />
        <xs:element name="datecomment" type="xs:anyType" />
        <xs:element name="commentarticle" type="xs:string" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="author" type="xs:long" />
        <xs:element name="auhtorname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section" >
      <xs:sequence>
        <xs:element name="sectionid" type="xs:long" />
        <xs:element name="sectionarticle" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="profile" type="xs:string" />
        <xs:element name="profileid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="article" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="datearticle" type="xs:anyType" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="article" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="sectionid" type="xs:long" />
        <xs:element name="sectionname" type="xs:string" />
        <xs:element name="comments" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="commentscount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rest-client" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="language_en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="language_es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internationalization" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 