magazine-spring1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="commentid" type="xs:long" />
        <xs:element name="datecomment" type="xs:anyType" />
        <xs:element name="commentarticle" type="xs:string" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="author" type="xs:long" />
        <xs:element name="auhtorname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section" >
      <xs:sequence>
        <xs:element name="sectionid" type="xs:long" />
        <xs:element name="sectionarticle" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="profile" type="xs:string" />
        <xs:element name="profileid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="article" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="datearticle" type="xs:anyType" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="article" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="sectionid" type="xs:long" />
        <xs:element name="sectionname" type="xs:string" />
        <xs:element name="comments" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="commentscount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 