MasterThesisUSEF4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="requestpenaltydataparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectsmartmeterdataevent" >
      <xs:sequence>
        <xs:element name="periodinmonth" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalizeinitiatesettlementevent" >
      <xs:sequence>
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
        <xs:element name="meterdatasets" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectsmartmeterdataeventtrigger" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="collectsmartmeterdataevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestcalculateprocuredflexibilityparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpinitiatesettlementparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalizeunfinishedinitiatesettlementeventtrigger" >
      <xs:sequence>
        <xs:element name="eventmanager" type="finalizeunfinishedinitiatesettlementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalizeunfinishedinitiatesettlementevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpinitiatesettlementcoordinator" >
      <xs:complexContent>
       <xs:extension base="abstractsettlementcoordinator">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="configbrp" nillable="true" minOccurs="0" />
          <xs:element name="" type="brpbusinessservice" nillable="true" minOccurs="0" />
          <xs:element name="checkinitiatesettlementdoneevent" type="checkinitiatesettlementdoneevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="brpsettlementmessagedispositiontimer" >
      <xs:complexContent>
       <xs:extension base="abstracttriggerregisterhelperservice">
         <xs:sequence>
          <xs:element name="task_name" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="configbrp" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="brpsettlementmessageresponsecoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendsettlementmessageevent" >
      <xs:sequence>
        <xs:element name="year" type="xs:anyType" />
        <xs:element name="month" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpsendsettlementmessagescoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="sendsettlementmessageeventmanager" type="sendsettlementmessageevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkinitiatesettlementdoneevent" >
      <xs:sequence>
        <xs:element name="year" type="xs:anyType" />
        <xs:element name="month" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcommonreferencequeryeventtrigger" >
      <xs:complexContent>
       <xs:extension base="abstracttriggerregisterhelperservice">
         <xs:sequence>
          <xs:element name="eventmanager" type="commonreferencequeryevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="configbrp" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="brpcreatemissingaplanscoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcreatemissingaplansparamater" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalizeaplanseventtrigger" >
      <xs:complexContent>
       <xs:extension base="abstracttriggerregisterhelperservice">
         <xs:sequence>
          <xs:element name="one_day" type="xs:long" />
          <xs:element name="eventmanager" type="finalizeaplansevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="configbrp" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="brpfinalizeaplanscoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalizeaplansevent" >
      <xs:sequence>
        <xs:element name="period" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpflexofferrevocationerror" >
      <xs:sequence>
        <xs:element name="error" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpflexofferrevocationcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="planboardbusinessservice" type="xs:anyType" />
        <xs:element name="planboardvalidatorservice" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexofferrevocationevent" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prepareflexrequestworkflowparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="receivedaplanworkflowparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpaplancoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="prepareflexrequestseventmanager" type="prepareflexrequestsevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="createflexrequesteventmanager" type="createflexrequestevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="receivedaplanevent" >
      <xs:sequence>
        <xs:element name="period" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prepareflexrequestsevent" >
      <xs:sequence>
        <xs:element name="period" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcommonreferencequerycoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="brpbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createflexrequestevent" >
      <xs:sequence>
        <xs:element name="flexrequestdtos" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcreateflexrequestcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpflexorderacknowledgementcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="eventmanager" type="prepareflexrequestsevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexorderacknowledgementevent" >
      <xs:sequence>
        <xs:element name="flexordersequence" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="aggregatordomain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpflexordercoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getnotdesirableflexoffersparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="placeflexordersstepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexordereventtrigger" >
      <xs:complexContent>
       <xs:extension base="abstracttriggerregisterhelperservice">
         <xs:sequence>
          <xs:element name="flexordereventmanager" type="flexorderevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="configbrp" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexorderevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateresponseevent" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateeventtrigger" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="commonreferenceupdateevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcommonreferenceupdatecoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="businessservice" type="brpbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jmsservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcommonreferenceupdateresponsecoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="businessservice" type="brpbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brphousekeepingcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectiontransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpworkflowstep" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexorderendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="flexordereventmanager" type="flexorderevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="balanceresponsiblepartytopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="balanceresponsiblepartytopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prepareflexrequestsendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="prepareflexrequestseventmanager" type="prepareflexrequestsevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aplancontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingmessagecontroller<prognosis>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="brpplanboardvalidatorservice" nillable="true" minOccurs="0" />
          <xs:element name="receivedaplaneventmanager" type="receivedaplanevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexorderresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<flexorderresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="flexorderacknowledgementeventmanager" type="flexorderacknowledgementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexofferrevocationcontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingmessagecontroller<flexofferrevocation>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="eventmanager" type="flexofferrevocationevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="settlementmessageresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<settlementmessageresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="coordinator" type="brpsettlementmessageresponsecoordinator" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexoffercontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingmessagecontroller<flexoffer>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="jmsservice" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<commonreferenceupdateresponse>">
         <xs:sequence>
          <xs:element name="eventmanager" type="commonreferenceupdateresponseevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<commonreferencequeryresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="configbrp" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexrequestresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<flexrequestresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meterdataqueryresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<meterdataqueryresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="eventmanager" type="finalizeinitiatesettlementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartytopologybusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="json_date_time_format" type="xs:string" />
        <xs:element name="validationservice" type="balanceresponsiblepartyvalidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionstatusrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpdefaultsettlementmessagecontent" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpplanboardvalidatorservice" >
      <xs:sequence>
        <xs:element name="minutes_per_day" type="xs:long" />
        <xs:element name="max_power" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartyvalidationbusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpbusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionstatusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpplanboardbusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configbrp" >
      <xs:complexContent>
       <xs:extension base="abstractconfig">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="configbrpparam" >
      <xs:sequence>
        <xs:element name="propertyclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionstatustype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionstatus" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="commonreferenceoperator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnection" nillable="true" minOccurs="0" />
        <xs:element name="status" type="synchronisationconnectionstatustype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompany" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperator" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnection" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="lastsynchronisationtime" type="xs:dateTime" />
        <xs:element name="lastmodificationtime" type="xs:dateTime" />
        <xs:element name="statusses" type="synchronisationconnectionstatus" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantactiondto" >
      <xs:sequence>
        <xs:element name="method" type="xs:string" />
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionactiondto" >
      <xs:sequence>
        <xs:element name="method" type="xs:string" />
        <xs:element name="entityaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptupowerconsumptiondto" >
      <xs:sequence>
        <xs:element name="ptudate" type="xs:anyType" />
        <xs:element name="ptuindex" type="xs:anyType" />
        <xs:element name="usefidentifier" type="xs:string" />
        <xs:element name="powerconsumption" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectiondto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="lastmodificationtime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpbusinesserror" >
      <xs:sequence>
        <xs:element name="errormessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<commonreferenceoperator>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionstatusrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<synchronisationconnectionstatus>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanyrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<meterdatacompany>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<synchronisationconnection>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="connection-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settlement-message-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="common_reference_query" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummy-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplelogger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpinitiatesettlementcoordinatortest" >
      <xs:sequence>
        <xs:element name="start_date" type="xs:anyType" />
        <xs:element name="end_date" type="xs:anyType" />
        <xs:element name="coordinator" type="brpinitiatesettlementcoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="configdso" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="checkinitiatesettlementdoneevent" type="checkinitiatesettlementdoneevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="brpbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestpenaltydataparametertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="collectsmartmeterdataeventtriggertest" >
      <xs:sequence>
        <xs:element name="eventmanager" type="collectsmartmeterdataevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="trigger" type="collectsmartmeterdataeventtrigger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalizeunfinishedinitiatesettlementeventtriggertest" >
      <xs:sequence>
        <xs:element name="eventmanager" type="finalizeunfinishedinitiatesettlementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="trigger" type="finalizeunfinishedinitiatesettlementeventtrigger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestcalculateprocuredflexibilityparametertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="brpsettlementmessagedispositiontimertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="brpsettlementmessagedispositiontimer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpsettlementmessageresponsecoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="brpsettlementmessageresponsecoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpsendsettlementmessagescoordinatortest" >
      <xs:sequence>
        <xs:element name="agr_domain" type="xs:string" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="expiration_days" type="xs:long" />
        <xs:element name="coordinator" type="brpsendsettlementmessagescoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectiontransformertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpflexofferrevocationcoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="brpflexofferrevocationcoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="planboardbusinessservice" type="xs:anyType" />
        <xs:element name="planboardvalidatorservice" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcommonreferenceupdatecoordinatortest" >
      <xs:sequence>
        <xs:element name="coordinator" type="brpcommonreferenceupdatecoordinator" nillable="true" minOccurs="0" />
        <xs:element name="businessservice" type="brpbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jmsservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcommonreferenceupdateresponsecoordinatortest" >
      <xs:sequence>
        <xs:element name="coordinator" type="brpcommonreferenceupdateresponsecoordinator" nillable="true" minOccurs="0" />
        <xs:element name="businessservice" type="brpbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateeventtriggertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commonreferenceupdateeventtrigger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="commonreferenceupdateevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpflexorderacknowledgementcoordinatortest" >
      <xs:sequence>
        <xs:element name="coordinator" type="brpflexorderacknowledgementcoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="eventmanager" type="prepareflexrequestsevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexordereventtriggertest" >
      <xs:sequence>
        <xs:element name="trigger" type="flexordereventtrigger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="flexordereventmanager" type="flexorderevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpflexordercoordinatortest" >
      <xs:sequence>
        <xs:element name="agr1_domain" type="xs:string" />
        <xs:element name="agr2_domain" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="workflowstubloader" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="brpflexordercoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcommonreferencequeryeventtriggertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="commonreferencequeryevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="trigger" type="brpcommonreferencequeryeventtrigger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcreatemissingaplanscoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="brpcreatemissingaplanscoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpfinalizeaplanscoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="brpfinalizeaplanscoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalizeaplanseventtriggertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="finalizeaplansevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="trigger" type="finalizeaplanseventtrigger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpaplancoordinatortest" >
      <xs:sequence>
        <xs:element name="aplan_sequence_1" type="xs:long" />
        <xs:element name="aplan_sequence_2" type="xs:long" />
        <xs:element name="period" type="xs:string" />
        <xs:element name="aggregator_domain_1" type="xs:string" />
        <xs:element name="aggregator_domain_2" type="xs:string" />
        <xs:element name="ptu_duration" type="xs:anyType" />
        <xs:element name="coordinator" type="brpaplancoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="prepareflexrequestseventmanager" type="prepareflexrequestsevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="createflexrequesteventmanager" type="createflexrequestevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcommonreferencequerycoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="brpbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="coordinator" type="brpcommonreferencequerycoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpcreateflexrequestcoordinatortest" >
      <xs:sequence>
        <xs:element name="coordinator" type="brpcreateflexrequestcoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdataqueryresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="finalizeinitiatesettlementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="controller" type="meterdataqueryresponsecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settlementmessageresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="controller" type="settlementmessageresponsecontroller" nillable="true" minOccurs="0" />
        <xs:element name="coordinator" type="brpsettlementmessageresponsecoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexrequestresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="controller" type="flexrequestresponsecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexorderresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="controller" type="flexorderresponsecontroller" nillable="true" minOccurs="0" />
        <xs:element name="flexorderacknowledgementeventmanager" type="flexorderacknowledgementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="controller" type="commonreferencequeryresponsecontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aplancontrollertest" >
      <xs:sequence>
        <xs:element name="controller" type="aplancontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="brpplanboardvalidatorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="receivedaplaneventmanager" type="receivedaplanevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="commonreferenceupdateresponecontroller" type="commonreferenceupdateresponsecontroller" nillable="true" minOccurs="0" />
        <xs:element name="eventmanager" type="commonreferenceupdateresponseevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexoffercontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jmsservice" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="controller" type="flexoffercontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexorderendpointtest" >
      <xs:complexContent>
       <xs:extension base="baseresourcetest">
         <xs:sequence>
          <xs:element name="url" type="xs:string" />
          <xs:element name="" type="flexorderendpoint" nillable="true" minOccurs="0" />
          <xs:element name="request" type="xs:anyType" />
          <xs:element name="flexordereventmanager" type="flexorderendpoint" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prepareflexrequestsendpointtest" >
      <xs:complexContent>
       <xs:extension base="baseresourcetest">
         <xs:sequence>
          <xs:element name="url" type="xs:string" />
          <xs:element name="correct_param" type="xs:string" />
          <xs:element name="wrong_param" type="xs:string" />
          <xs:element name="" type="prepareflexrequestsendpoint" nillable="true" minOccurs="0" />
          <xs:element name="request" type="xs:anyType" />
          <xs:element name="prepareflexrequestseventmanager" type="prepareflexrequestsevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reflectionutiltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reflectionutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpplanboardvalidatorservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="brpplanboardvalidatorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartytopologybusinessservicetest" >
      <xs:sequence>
        <xs:element name="service" type="balanceresponsiblepartytopologybusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="validationservice" type="balanceresponsiblepartyvalidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionstatusrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpplanboardbusinessservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="brpplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartyvalidationbusinessservicetest" >
      <xs:sequence>
        <xs:element name="service" type="balanceresponsiblepartyvalidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpbusinessservicetest" >
      <xs:sequence>
        <xs:element name="service" type="brpbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionstatusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectiontest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionstatusrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="synchronisationconnectionstatusrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanyrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configbrptest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configbrp" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 