Pavan-Java-6/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="hibernatecompositeprimarykeysapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<customer,customerid>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerrepo2" >
      <xs:complexContent>
       <xs:extension base="jparepository<customer2,customerid>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerid" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerid2" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="customername" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer2" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customerid2" nillable="true" minOccurs="0" />
        <xs:element name="customername" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatecompositeprimarykeysapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customercontroller" >
      <xs:sequence>
        <xs:element name="custrepo" type="customerrepo" nillable="true" minOccurs="0" />
        <xs:element name="custrepo2" type="customerrepo2" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 