Practical-JSF-Java-EE-8/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="topictest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glassfish-resources" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryservice" >
      <xs:sequence>
        <xs:element name="_em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryeditor" >
      <xs:sequence>
        <xs:element name="category" type="xs:string" />
        <xs:element name="_" type="xs:anyType" />
        <xs:element name="_" type="categoryservice" nillable="true" minOccurs="0" />
        <xs:element name="_" type="topics" nillable="true" minOccurs="0" />
        <xs:element name="_deletedcategories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_categories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorytranslation" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topics" >
      <xs:sequence>
        <xs:element name="_activetopic" type="topic" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_topics" type="topic" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilities" >
      <xs:sequence>
        <xs:element name="_" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topic" >
      <xs:sequence>
        <xs:element name="_key" type="xs:string" />
        <xs:element name="_title" type="xs:string" />
        <xs:element name="_outcome" type="xs:string" />
        <xs:element name="_info" type="xs:string" />
        <xs:element name="_imageenabled" type="xs:string" />
        <xs:element name="_imagedisabled" type="xs:string" />
        <xs:element name="_isenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 