Practical-JSF-Java-EE-8/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="categorytranslation" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 