javax3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="reply" type="xs:string" />
        <xs:element name="GeneratedName" type="post" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="comments" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 