spring-2019/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="chineseword" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="cn" type="xs:string" />
          <xs:element name="spell" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="chinesewords" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="cn" type="xs:string" />
          <xs:element name="similar" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classnum" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="count" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="age" type="xs:anyType" />
          <xs:element name="mobile" type="xs:string" />
          <xs:element name="openid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="room" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="//房间名称name" type="xs:string" />
          <xs:element name="//房间编号code" type="xs:string" />
          <xs:element name="//建筑物编号buildingcode" type="xs:string" />
          <xs:element name="//容量capacity" type="xs:long" />
          <xs:element name="//面积areasize" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="school" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="schoolcode" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="building" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="type" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="studentcode" type="xs:string" />
          <xs:element name="classcode" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="teachingmaterial" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="mobile" type="xs:string" />
          <xs:element name="tags" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="schooluser" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="personid" type="xs:string" />
          <xs:element name="userid" type="xs:string" />
          <xs:element name="usercode" type="xs:string" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personrole" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="rolecode" type="xs:string" />
          <xs:element name="openid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userliving" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="usercode" type="xs:string" />
          <xs:element name="buildingcode" type="xs:string" />
          <xs:element name="roomcode" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="author" type="xs:string" />
          <xs:element name="remark" type="xs:string" />
          <xs:element name="tags" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="college" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="code" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classschedule" >
      <xs:complexContent>
       <xs:extension base="jpabasepo">
         <xs:sequence>
          <xs:element name="rolecode" type="xs:string" />
          <xs:element name="openid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpabasepo" >
      <xs:complexContent>
       <xs:extension base="basepo">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="createdt" type="xs:dateTime" />
          <xs:element name="lastupdt" type="xs:dateTime" />
          <xs:element name="createby" type="xs:string" />
          <xs:element name="lastupdateby" type="xs:string" />
          <xs:element name="deleted" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 