mirel-promarker/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="filemanagement" >
      <xs:sequence>
        <xs:element name="/***ファイルid*/fileid" type="xs:string" />
        <xs:element name="/***ファイル名*/filename" type="xs:string" />
        <xs:element name="/***ファイルパス*/filepath" type="xs:string" />
        <xs:element name="/***期日日*/expire" type="xs:dateTime" />
        <xs:element name="/***バージョン*/version" type="xs:long" />
        <xs:element name="/***削除フラグ*/deleteflag" type="xs:anyType" />
        <xs:element name="/***作成ユーザ*/createuserid" type="xs:string" />
        <xs:element name="/***作成日*/create" type="xs:dateTime" />
        <xs:element name="/***更新ユーザ*/updateuserid" type="xs:string" />
        <xs:element name="/***更新日*/up" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
        <xs:element name="/****/" type="xs:anyType" />
        <xs:element name="/***テキスト*/text" type="xs:string" />
        <xs:element name="/***ソート*/sort" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileaccessauthority" >
      <xs:sequence>
        <xs:element name="/***ファイルid*/fileid" type="xs:string" />
        <xs:element name="/***ロールid*/roleid" type="xs:string" />
        <xs:element name="/***権限id*/authoryid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codecategory" >
      <xs:sequence>
        <xs:element name="/***ファイル名*/" type="xs:anyType" />
        <xs:element name="/***コード分類名*/codecategoryname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aruruns" >
      <xs:sequence>
        <xs:element name="/***id*/id" type="xs:string" />
        <xs:element name="/***名前*/name" type="xs:string" />
        <xs:element name="/***説明*/explanation" type="xs:string" />
        <xs:element name="/***実行開始日時*/executestarttime" type="xs:dateTime" />
        <xs:element name="/***実行終了日時*/executeendtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mstestencil" >
      <xs:sequence>
        <xs:element name="/***ステンシルコード*/stencilcd" type="xs:string" />
        <xs:element name="/***ステンシル名*/stencilname" type="xs:string" />
        <xs:element name="/***項目種類*//**0：ステンシル分類,1：ステンシル*/itemkind" type="xs:string" />
        <xs:element name="/***ソート*/sort" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 