s2container337/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="sqlmain" >
      <xs:sequence>
        <xs:element name="sql" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getcountmain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletemain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfilemain" >
      <xs:sequence>
        <xs:element name="sql_file" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getresultlistmain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagingmain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wheremapmain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wheremain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getsingleresultmain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatemain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlmapmain" >
      <xs:sequence>
        <xs:element name="sql" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfile2main" >
      <xs:sequence>
        <xs:element name="sql_file" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="insertmain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joinmain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfile4main" >
      <xs:sequence>
        <xs:element name="sql_file" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderbymain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfile3main" >
      <xs:sequence>
        <xs:element name="sql_file" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfiledto" >
      <xs:sequence>
        <xs:element name="minsalary" type="xs:anyType" />
        <xs:element name="maxsalary" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="departmentid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="department" nillable="true" minOccurs="0" />
        <xs:element name="addressid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="employeelist" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convention" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2container" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="env_ut" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="env" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 