JSP7Cotizaciones/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="incotermfaccostosadic" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="idincoterm" type="xs:string" />
        <xs:element name="idfaccostosadic" type="xs:string" />
        <xs:element name="GeneratedName" type="incoterm" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="faccostosadic" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mercado" >
      <xs:sequence>
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="merc" type="xs:string" />
        <xs:element name="desmerc" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embalaje" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cemb" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clicontacto" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="nit" type="xs:string" />
        <xs:element name="cargo" type="xs:string" />
        <xs:element name="percargo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precio" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cod" type="xs:string" />
        <xs:element name="cri" type="xs:string" />
        <xs:element name="pven" type="xs:double" />
        <xs:element name="fecha" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuage" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="usuario" type="xs:string" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faccostosadic" >
      <xs:sequence>
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="moneda" type="xs:string" />
        <xs:element name="ccta" type="xs:string" />
        <xs:element name="cret" type="xs:string" />
        <xs:element name="civa" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="tipo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="criterio" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cri" type="xs:string" />
        <xs:element name="des" type="xs:string" />
        <xs:element name="mon" type="xs:string" />
        <xs:element name="act" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="nide" type="xs:string" />
        <xs:element name="cri" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="municipio" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cpai" type="xs:string" />
        <xs:element name="cdpto" type="xs:string" />
        <xs:element name="cmnpo" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicio" >
      <xs:sequence>
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cod" type="xs:string" />
        <xs:element name="mon" type="xs:string" />
        <xs:element name="pven" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cotseccionessinonimos" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="codseccion" type="xs:string" />
        <xs:element name="idioma" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idioma" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="idioma" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proveedor" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="nide" type="xs:string" />
        <xs:element name="nche" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cotencsecciones" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="per" type="xs:string" />
        <xs:element name="cagr" type="xs:string" />
        <xs:element name="cot" type="xs:string" />
        <xs:element name="rev" type="xs:long" />
        <xs:element name="codseccion" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="etiqueta" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="succli" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="nide" type="xs:string" />
        <xs:element name="csuc" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faccostoscot" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cagr" type="xs:string" />
        <xs:element name="per" type="xs:string" />
        <xs:element name="numdoc" type="xs:string" />
        <xs:element name="rev" type="xs:anyType" />
        <xs:element name="codcosto" type="xs:string" />
        <xs:element name="valor" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoriacomercial" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="codcat" type="xs:string" />
        <xs:element name="nombrecat" type="xs:string" />
        <xs:element name="codcatpadre" type="xs:string" />
        <xs:element name="items" type="categoriacomercial" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parametros" >
      <xs:sequence>
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="emp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cotenc" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="per" type="xs:string" />
        <xs:element name="cagr" type="xs:string" />
        <xs:element name="cot" type="xs:string" />
        <xs:element name="rev" type="xs:anyType" />
        <xs:element name="emi" type="xs:dateTime" />
        <xs:element name="ven" type="xs:dateTime" />
        <xs:element name="perct" type="xs:string" />
        <xs:element name="totd" type="xs:double" />
        <xs:element name="iva" type="xs:double" />
        <xs:element name="nide" type="xs:string" />
        <xs:element name="cven" type="xs:string" />
        <xs:element name="codsuc" type="xs:string" />
        <xs:element name="idioma" type="xs:string" />
        <xs:element name="codincoterm" type="xs:string" />
        <xs:element name="origen" type="xs:string" />
        <xs:element name="despacho" type="xs:string" />
        <xs:element name="terminopago" type="xs:string" />
        <xs:element name="tiempoentrega" type="xs:string" />
        <xs:element name="est" type="xs:string" />
        <xs:element name="lugardestino" type="xs:string" />
        <xs:element name="obs" type="xs:string" />
        <xs:element name="contacto" type="clicontacto" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pais" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="embalaje" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="criterio" nillable="true" minOccurs="0" />
        <xs:element name="////@joincolumns({@joincolumn(name" type="fctterceros" nillable="true" minOccurs="0" />
        <xs:element name="vendedor" type="nits" nillable="true" minOccurs="0" />
        <xs:element name="detalle" type="cotdet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="secciones" type="cotencsecciones" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="cargos" type="faccostoscot" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nits" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="nide" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="est" type="xs:string" />
        <xs:element name="csuc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incoterm" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="codincoterm" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuarios" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="activo" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fctterceros" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="nide" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="est" type="xs:string" />
        <xs:element name="csuc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prospectocliente" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="nide" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="est" type="xs:string" />
        <xs:element name="dir" type="xs:string" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="cpai" type="xs:string" />
        <xs:element name="dep" type="xs:string" />
        <xs:element name="ciu" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embalajesinonimo" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="codemb" type="xs:string" />
        <xs:element name="idioma" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="label" type="xs:string" />
        <xs:element name="link" type="xs:string" />
        <xs:element name="idpadre" type="menu" nillable="true" minOccurs="0" />
        <xs:element name="items" type="menu" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewclientes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="codempresa" type="xs:string" />
        <xs:element name="nitcliente" type="xs:string" />
        <xs:element name="nombrecliente" type="xs:string" />
        <xs:element name="iva" type="xs:string" />
        <xs:element name="zona" type="xs:string" />
        <xs:element name="sucursal" type="xs:string" />
        <xs:element name="mercado" type="xs:string" />
        <xs:element name="direccion" type="xs:string" />
        <xs:element name="telefono" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="pais" type="xs:string" />
        <xs:element name="departamento" type="xs:string" />
        <xs:element name="ciudad" type="xs:string" />
        <xs:element name="contactocargo" type="xs:string" />
        <xs:element name="contactopersona" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pais" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cpai" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cotdet" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="per" type="xs:string" />
        <xs:element name="cagr" type="xs:string" />
        <xs:element name="cot" type="xs:string" />
        <xs:element name="rev" type="xs:anyType" />
        <xs:element name="cod" type="xs:string" />
        <xs:element name="can" type="xs:double" />
        <xs:element name="lis" type="xs:double" />
        <xs:element name="ven" type="xs:double" />
        <xs:element name="pdes" type="xs:double" />
        <xs:element name="inf7" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="orden" type="xs:anyType" />
        <xs:element name="GeneratedName" type="articulo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cotseccionesdetsinonimos" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="codseccion" type="xs:string" />
        <xs:element name="codval" type="xs:string" />
        <xs:element name="idioma" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendedor" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="nide" type="xs:string" />
        <xs:element name="usuario" type="xs:string" />
        <xs:element name="est" type="xs:string" />
        <xs:element name="nit" type="nits" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paramfac" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="incparr" type="xs:long" />
        <xs:element name="incpabj" type="xs:long" />
        <xs:element name="seguroaut" type="xs:string" />
        <xs:element name="porcsegaut" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cotseccionesdet" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="codseccion" type="xs:string" />
        <xs:element name="codval" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cotsecciones" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="codseccion" type="xs:string" />
        <xs:element name="nombresec" type="xs:string" />
        <xs:element name="tiposeccion" type="xs:string" />
        <xs:element name="orden" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agencia" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cage" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zona" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="zon" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articulo" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cod" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="uni" type="xs:string" />
        <xs:element name="nomlargo" type="xs:string" />
        <xs:element name="rama" type="xs:string" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="iva" type="xs:string" />
        <xs:element name="clase" type="xs:string" />
        <xs:element name="idiva" type="desctoegr" nillable="true" minOccurs="0" />
        <xs:element name="id" type="clase" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departamento" >
      <xs:sequence>
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cpai" type="xs:string" />
        <xs:element name="cdpto" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articulodescom" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cod" type="xs:string" />
        <xs:element name="idioma" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="desctoegr" >
      <xs:sequence>
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="cdes" type="xs:string" />
        <xs:element name="ndes" type="xs:string" />
        <xs:element name="pctj" type="xs:double" />
        <xs:element name="tipoimp" type="xs:string" />
        <xs:element name="usoimp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clase" >
      <xs:sequence>
        <xs:element name="cemp" type="xs:string" />
        <xs:element name="clase" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="afinvent" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 