prizy2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="osgiintegrationspringtestsupport" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="applicationcontext" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="disruptortest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="disruptorvmtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jmstest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="leveldbaggregateroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hl7mllpcodec2test" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hl7dataformattest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hl7mllpcodectest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="xstreamblueprintroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sampleobject" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xstreamroutebuilder" >
      <xs:complexContent>
       <xs:extension base="routebuilder">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="osgiintegrationmanagedcamelcontexttest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockxpathtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="validatorroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fileroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filecomponenttest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fileroutedelaytest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datasetroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="dataset" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logroutewithloggerspresentinregistrytest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logroutewithnondefaultloggertest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serializationdataformattest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myserialbean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeconverterloadertest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="vmtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reffileendpointtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="jndi" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="propertiesroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="browseroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myroutebuilder" >
      <xs:complexContent>
       <xs:extension base="routebuilder">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="osgipackagescantest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timerfiredtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpletest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="languageroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="xsltblueprintroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
          <xs:element name="" type="camelcontext" nillable="true" minOccurs="0" />
          <xs:element name="mytemplate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="xsltroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fooservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myfoobean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sedatest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="osgifactoryfindertest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="directtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpablueprintroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sendemail" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myprocessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jparoutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
          <xs:element name="applicationcontext" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enrichbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cxfproxyexampletest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cxfbeanspringroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerserviceresource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="products" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerservice" >
      <xs:sequence>
        <xs:element name="currentid" type="xs:long" />
        <xs:element name="customers" type="xs:anyType" />
        <xs:element name="orders" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportincidentendpointservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="realwebservicebean" >
      <xs:sequence>
        <xs:element name="//shouldbethesameaddressaswehaveinourrouteurl" type="xs:string" />
        <xs:element name="service" type="reportincidentendpointservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cxfbeanblueprintroutertest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cxfrsblueprintroutertest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
          <xs:element name="put_request" type="xs:string" />
          <xs:element name="post_request" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cxfblueprintroutertest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="freemarkertest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="freemarkerfiletest" >
      <xs:complexContent>
       <xs:extension base="freemarkertest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dozertest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="streetname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carwithoutannotations" >
      <xs:sequence>
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="licenseplate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carwithannotations" >
      <xs:sequence>
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="licenseplate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optionalchecks" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanvalidatortest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="base64test" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="encoded" type="xs:string" />
          <xs:element name="decoded" type="xs:anyType" />
          <xs:element name="format" type="xs:anyType" />
          <xs:element name="result" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blueprintpropertiesjasyptroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myerrorbean" >
      <xs:sequence>
        <xs:element name="counter" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="camelblueprinttest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myserialbean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="camelblueprintmanagednamepatternfixedtest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="camelblueprint6test" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="osgiblueprinttestsupport" >
      <xs:complexContent>
       <xs:extension base="abstractintegrationtest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testproducer" >
      <xs:sequence>
        <xs:element name="testendpoint" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testinterceptstrategy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractintegrationtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="default_timeout" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="camelblueprinttccltest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
          <xs:element name="bundle_symbolicname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="camelblueprint8test" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="camelblueprint7test" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testproxysender" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="camelblueprint4test" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testroutebuilder" >
      <xs:complexContent>
       <xs:extension base="routebuilder">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="camelblueprint3test" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blueprintexplicitpropertiesroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsseutiltester" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="camelblueprint5test" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="osgiblueprinthelloworldtest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blueprintpropertiesroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="camelmultiversionblueprinttest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="camelblueprint2test" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mveltest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nettytest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsseutiltest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="velocityblueprinttest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
          <xs:element name="" type="camelcontext" nillable="true" minOccurs="0" />
          <xs:element name="mytemplate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="velocityfiletest" >
      <xs:complexContent>
       <xs:extension base="velocitytest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="velocitytest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="osgiintegrationtestsupport" >
      <xs:complexContent>
       <xs:extension base="cameltestsupport">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="counter" type="xs:anyType" />
          <xs:element name="workdir" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="syslogtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="serverport" type="xs:long" />
          <xs:element name="messagecount" type="xs:long" />
          <xs:element name="message" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groovytest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleobject" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hazelcasttest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shiroauthenticationtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="successendpoint" type="xs:anyType" />
          <xs:element name="failureendpoint" type="xs:anyType" />
          <xs:element name="passphrase" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="minatest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="domainservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkdomainavailabilityresult" >
      <xs:sequence>
        <xs:element name="requestid" type="xs:string" />
        <xs:element name="responsebody" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="products" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkdomainavailabilityrestresponse" >
      <xs:sequence>
        <xs:element name="requestid" type="xs:string" />
        <xs:element name="responsebody" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restletdomainservicetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checkdomainrequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restlettest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="salary" type="xs:long" />
        <xs:element name="hire" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bindydataformatcsvtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="fixed_data" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bindyspringdataformatcsvtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
          <xs:element name="fixed_data" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bindyspringdataformatcsvjavaroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
          <xs:element name="fixed_data" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myroutes" >
      <xs:complexContent>
       <xs:extension base="routebuilder">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="someobject" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kratiroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="applicationcontext" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kratiblueprintroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="protobufroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="emailaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mybatistest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exectest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ftpserverbean" >
      <xs:sequence>
        <xs:element name="ftp_root_dir" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="port" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftpconsumetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ftptest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hawtdbaggregateroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awssesintegrationtest" >
      <xs:complexContent>
       <xs:extension base="awstestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awssnsintegrationtest" >
      <xs:complexContent>
       <xs:extension base="awstestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awssdbintegrationtest" >
      <xs:complexContent>
       <xs:extension base="awstestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="amazonsesclientmock" >
      <xs:complexContent>
       <xs:extension base="amazonsimpleemailserviceclient">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awssnstest" >
      <xs:complexContent>
       <xs:extension base="awstestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="amazons3clientmock" >
      <xs:complexContent>
       <xs:extension base="amazons3client">
         <xs:sequence>
          <xs:element name="objects" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awssdbtest" >
      <xs:complexContent>
       <xs:extension base="awstestsupport">
         <xs:sequence>
          <xs:element name="amazonsdbclient" type="amazonsdbclientmock" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awss3integrationtest" >
      <xs:complexContent>
       <xs:extension base="awstestsupport">
         <xs:sequence>
          <xs:element name="result" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awssestest" >
      <xs:complexContent>
       <xs:extension base="awstestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awssqsintegrationtest" >
      <xs:complexContent>
       <xs:extension base="awstestsupport">
         <xs:sequence>
          <xs:element name="result" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awss3test" >
      <xs:complexContent>
       <xs:extension base="awstestsupport">
         <xs:sequence>
          <xs:element name="result" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="amazonsnsclientmock" >
      <xs:complexContent>
       <xs:extension base="amazonsnsclient">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awstestsupport" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="amazonsdbclientmock" >
      <xs:complexContent>
       <xs:extension base="amazonsimpledbclient">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="awssqstest" >
      <xs:complexContent>
       <xs:extension base="awstestsupport">
         <xs:sequence>
          <xs:element name="result" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="amazonsqsclientmock" >
      <xs:complexContent>
       <xs:extension base="amazonsqsclient">
         <xs:sequence>
          <xs:element name="messages" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cacheroutesmanagementtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="cache_uri" type="xs:string" />
          <xs:element name="route1_id" type="xs:string" />
          <xs:element name="route2_id" type="xs:string" />
          <xs:element name="cmfref" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cachetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cachemanagerfactoryreftest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="cache_uri" type="xs:string" />
          <xs:element name="cmfref" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jasypttest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="streamtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jaxbfallbackconverterspringtest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jaxbfallbackconvertertest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persontype" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectfactory" >
      <xs:sequence>
        <xs:element name="person" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jaxbdataformattest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="xmljsonroutebuilder" >
      <xs:complexContent>
       <xs:extension base="routebuilder">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="xmljsonblueprintroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="osgijettycamelcontextsclassloadertest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jettyprocessor" >
      <xs:sequence>
        <xs:element name="prefix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jettyclassloadercheckprocessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osgimulitjettycamelcontextstest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rubyosgitest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groovyscriptosgitest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="httptest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="httptypeconvertertest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="servletresponse" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletprocessor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletcomponenttest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
          <xs:element name="context_path" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletservicestest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletactivator" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="registerservice" type="xs:anyType" />
        <xs:element name="/***httpservicereference.*/httpserviceref" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="http4test" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scptest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlblueprintroute" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="driverclass" type="xs:string" />
          <xs:element name="applicationcontext" type="xs:anyType" />
          <xs:element name="ds" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="databasemanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beaniodataformatsimpletest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="fixed_data" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="salary" type="xs:long" />
        <xs:element name="hire" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ahctest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="quartzcronroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hdfsroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="//hadoopdoesn'trunonibmjdkskip" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hdfsblueprintroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blobstoreblueprintroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiblueprinttestsupport">
         <xs:sequence>
          <xs:element name="test_container" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blobstoreroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="test_container" type="xs:string" />
          <xs:element name="applicationcontext" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
          <xs:element name="expectedbody" type="xs:anyType" />
          <xs:element name="uri" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springbeanroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationspringtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mailroutetest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="zookeeperosgitestsupport" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="server" type="xs:anyType" />
          <xs:element name="client" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="zookeeperosgitest" >
      <xs:complexContent>
       <xs:extension base="zookeeperosgitestsupport">
         <xs:sequence>
          <xs:element name="//todo:shouldnotusehardcodedportnumbers,buttheavailableportfinderzookeeperuri" type="xs:string" />
          <xs:element name="testpayload" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rsspollingconsumertest" >
      <xs:complexContent>
       <xs:extension base="osgiintegrationtestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addressbookprotos" >
      <xs:complexContent>
       <xs:extension base="com.google.protobuf.messageorbuilder">
         <xs:sequence>
          <xs:element name="internal__org_apache_camel_dataformat_protobuf_generated_person_descriptor" type="xs:anyType" />
          <xs:element name="internal__org_apache_camel_dataformat_protobuf_generated_person_fieldaccessortable" type="xs:anyType" />
          <xs:element name="internal__org_apache_camel_dataformat_protobuf_generated_person_phonenumber_descriptor" type="xs:anyType" />
          <xs:element name="internal__org_apache_camel_dataformat_protobuf_generated_person_phonenumber_fieldaccessortable" type="xs:anyType" />
          <xs:element name="internal__org_apache_camel_dataformat_protobuf_generated_addressbook_descriptor" type="xs:anyType" />
          <xs:element name="internal__org_apache_camel_dataformat_protobuf_generated_addressbook_fieldaccessortable" type="xs:anyType" />
          <xs:element name="descriptor" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report_incident" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraints-car" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cxfbeanblueprintrouter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cxfrsblueprintrouter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprintcamelcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xsltblueprintrouter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprintcamelcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprintcamelcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-tccl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-fixed" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-24" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filerouteblueprint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-18" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-11" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-10" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-19" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-25" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-14" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-13" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-21" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-20" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-12" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-15" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint-7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprintsqlcamelcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprintblobstoreservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprintcamelcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="velocityblueprintrouter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlmapconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmljsonblueprintcamelcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dozer-mapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 