Pavan-Java-7/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="customerrestcontroller" >
      <xs:sequence>
        <xs:element name="customerservice" type="customerserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customermodel" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:anyType" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="customeremail" type="xs:string" />
        <xs:element name="customerssn" type="xs:string" />
        <xs:element name="customermobilenum" type="xs:long" />
        <xs:element name="customeraccountno" type="xs:long" />
        <xs:element name="customeraddress" type="xs:string" />
        <xs:element name="customerpin" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerexceptions" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customeridnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springreactivepocapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerserviceimpl" >
      <xs:sequence>
        <xs:element name="customerrepo" type="customerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerinitializer" >
      <xs:sequence>
        <xs:element name="customerrepo" type="customerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerentity" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:anyType" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="customeremail" type="xs:string" />
        <xs:element name="customerssn" type="xs:string" />
        <xs:element name="customermobilenum" type="xs:long" />
        <xs:element name="customeraccountno" type="xs:long" />
        <xs:element name="customeraddress" type="xs:string" />
        <xs:element name="customerpin" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<customerentity,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerdata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="editcustomerdata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerlogin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springreactivepocapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 