Pavan-Java-7/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="customerentity" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:anyType" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="customeremail" type="xs:string" />
        <xs:element name="customerssn" type="xs:string" />
        <xs:element name="customermobilenum" type="xs:long" />
        <xs:element name="customeraccountno" type="xs:long" />
        <xs:element name="customeraddress" type="xs:string" />
        <xs:element name="customerpin" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 