intouristing/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="request" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="sender" type="user" nillable="true" minOccurs="0" />
        <xs:element name="destination" type="user" nillable="true" minOccurs="0" />
        <xs:element name="type" type="relationshiptype" nillable="true" minOccurs="0" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="acceptedat" type="xs:anyType" />
        <xs:element name="declinedat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="privatechat" >
      <xs:sequence>
        <xs:element name="firstuser" type="xs:long" />
        <xs:element name="seconduser" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userposition" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
        <xs:element name="accuracy" type="xs:double" />
        <xs:element name="speed" type="xs:double" />
        <xs:element name="heading" type="xs:double" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationship" >
      <xs:sequence>
        <xs:element name="firstuser" type="xs:long" />
        <xs:element name="seconduser" type="xs:long" />
        <xs:element name="type" type="relationshiptype" nillable="true" minOccurs="0" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chatgroup" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="type" type="chatgrouptype" nillable="true" minOccurs="0" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedat" type="xs:anyType" />
        <xs:element name="excludedat" type="xs:anyType" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedat" type="xs:anyType" />
        <xs:element name="lastlogin" type="xs:anyType" />
        <xs:element name="avatarimage" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userposition" nillable="true" minOccurs="0" />
        <xs:element name="chatgroups" type="chatgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="requestsasdestination" type="request" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="requestsassender" type="request" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 