Spring_Security_Review2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paperrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<paper,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paperservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paperrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paper" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="tutorid" type="xs:string" />
        <xs:element name="studentids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="papercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paperservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cacheconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aclglobalmethodsecurityconfiguration" >
      <xs:complexContent>
       <xs:extension base="globalmethodsecurityconfiguration">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aclsecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorityaclapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cachetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paperrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paperacltest" >
      <xs:sequence>
        <xs:element name="port" type="xs:long" />
        <xs:element name="GeneratedName" type="paperrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 