s2013-wepa9/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="sleep" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="feeling" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 