jamb-spring/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="maintests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="diceid" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="form" type="gameform" nillable="true" minOccurs="0" />
        <xs:element name="ordinalnumber" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columnid" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="form" type="gameform" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="columntype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boxid" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="column" type="gamecolumn" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="boxtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginrequest" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preferencerequest" >
      <xs:sequence>
        <xs:element name="volume" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerrequest" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="role" type="xs:anyType" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagerequest" >
      <xs:sequence>
        <xs:element name="sender" type="xs:string" />
        <xs:element name="reciever" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="content" type="xs:anyType" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtresponse" >
      <xs:sequence>
        <xs:element name="token" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="roles" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageresponse" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="type" type="messagetype" nillable="true" minOccurs="0" />
        <xs:element name="content" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authrole" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="label" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetailsimpl" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="authorities" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="scores" type="gamescore" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="form" type="gameform" nillable="true" minOccurs="0" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="roles" type="authrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="preference" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameform" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user" type="authuser" nillable="true" minOccurs="0" />
        <xs:element name="columns" type="gamecolumn" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dice" type="gamedice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="rollcount" type="xs:long" />
        <xs:element name="announcement" type="boxtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boxtype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columntype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamedice" >
      <xs:sequence>
        <xs:element name="form" type="gameform" nillable="true" minOccurs="0" />
        <xs:element name="ordinalnumber" type="xs:long" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamescore" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user" type="authuser" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preference" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user" type="authuser" nillable="true" minOccurs="0" />
        <xs:element name="volume" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamebox" >
      <xs:sequence>
        <xs:element name="column" type="gamecolumn" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="boxtype" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="filled" type="xs:anyType" />
        <xs:element name="available" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamecolumn" >
      <xs:sequence>
        <xs:element name="form" type="gameform" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="columntype" nillable="true" minOccurs="0" />
        <xs:element name="boxes" type="gamebox" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameconstants" >
      <xs:sequence>
        <xs:element name="num_of_dice" type="xs:long" />
        <xs:element name="num_of_rolls" type="xs:long" />
        <xs:element name="num_of_columns" type="xs:long" />
        <xs:element name="num_of_boxes" type="xs:long" />
        <xs:element name="bonus_trips" type="xs:long" />
        <xs:element name="bonus_straight_small" type="xs:long" />
        <xs:element name="bonus_straight_big" type="xs:long" />
        <xs:element name="bonus_full" type="xs:long" />
        <xs:element name="bonus_poker" type="xs:long" />
        <xs:element name="bonus_jamb" type="xs:long" />
        <xs:element name="numbersum_bonus_threshold" type="xs:long" />
        <xs:element name="numbersum_bonus" type="xs:long" />
        <xs:element name="leaderboard_limit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="startup" >
      <xs:sequence>
        <xs:element name="rolerepo" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="columntyperepo" type="columntyperepository" nillable="true" minOccurs="0" />
        <xs:element name="boxtyperepo" type="boxtyperepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authentrypointjwt" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jwtsecret" type="xs:string" />
        <xs:element name="jwtexpirationms" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamefactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authtokenfilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
          <xs:element name="" type="jwtutils" nillable="true" minOccurs="0" />
          <xs:element name="userdetailsservice" type="userdetailsserviceimpl" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="authservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scorecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="scoreservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="formservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="socketcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jwtutils" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="socketservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boxrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<gamebox,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columnrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<gamecolumn,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scorerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<gamescore,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dicerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<gamedice,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<gameform,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="preferencerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<preference,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<authrole,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boxtyperepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<boxtype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<authuser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columntyperepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<columntype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdetailsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="userrepo" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="prefrepo" type="preferencerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="socketservice" >
      <xs:sequence>
        <xs:element name="usermap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoreservice" >
      <xs:sequence>
        <xs:element name="scorerepo" type="scorerepository" nillable="true" minOccurs="0" />
        <xs:element name="userrepo" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formservice" >
      <xs:sequence>
        <xs:element name="formrepo" type="formrepository" nillable="true" minOccurs="0" />
        <xs:element name="scorerepo" type="scorerepository" nillable="true" minOccurs="0" />
        <xs:element name="columnrepo" type="columnrepository" nillable="true" minOccurs="0" />
        <xs:element name="columntyperepo" type="columntyperepository" nillable="true" minOccurs="0" />
        <xs:element name="boxrepo" type="boxrepository" nillable="true" minOccurs="0" />
        <xs:element name="boxtyperepo" type="boxtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="dicerepo" type="dicerepository" nillable="true" minOccurs="0" />
        <xs:element name="userrepo" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="userrepo" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="rolerepo" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="encoder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="jwtutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoreutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidownershipexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usernametakenexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="illegalmoveexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="websocketconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stompprincipal" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="userdetailsservice" type="userdetailsserviceimpl" nillable="true" minOccurs="0" />
          <xs:element name="unauthorizedhandler" type="authentrypointjwt" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customhandshakehandler" >
      <xs:complexContent>
       <xs:extension base="defaulthandshakehandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 