jamb-spring/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="authrole" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="label" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="scores" type="gamescore" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="form" type="gameform" nillable="true" minOccurs="0" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="roles" type="authrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="preference" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameform" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user" type="authuser" nillable="true" minOccurs="0" />
        <xs:element name="columns" type="gamecolumn" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dice" type="gamedice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="rollcount" type="xs:long" />
        <xs:element name="announcement" type="boxtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boxtype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columntype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamedice" >
      <xs:sequence>
        <xs:element name="form" type="gameform" nillable="true" minOccurs="0" />
        <xs:element name="ordinalnumber" type="xs:long" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamescore" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user" type="authuser" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preference" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user" type="authuser" nillable="true" minOccurs="0" />
        <xs:element name="volume" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamebox" >
      <xs:sequence>
        <xs:element name="column" type="gamecolumn" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="boxtype" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="filled" type="xs:anyType" />
        <xs:element name="available" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamecolumn" >
      <xs:sequence>
        <xs:element name="form" type="gameform" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="columntype" nillable="true" minOccurs="0" />
        <xs:element name="boxes" type="gamebox" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 