MSA3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="loginapicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webfluxapicontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="saveuserrq" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="account" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authoritytype" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="version" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="license" type="xs:string" />
        <xs:element name="license_url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="h2config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globalexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="account" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionmessage" >
      <xs:sequence>
        <xs:element name="not_exist_user_account" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<userentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="account" type="xs:string" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="modifydt" type="xs:anyType" />
        <xs:element name="regdt" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jinwonapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jinwonapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coffeeapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 