s2container124/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="valuetypestest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dxointerceptortigertest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="empno" type="xs:long" />
        <xs:element name="ename" type="xs:string" />
        <xs:element name="job" type="xs:string" />
        <xs:element name="mgr" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="hiredate" type="xs:anyType" />
        <xs:element name="sal" type="xs:double" />
        <xs:element name="comm" type="xs:double" />
        <xs:element name="deptno" type="xs:anyType" />
        <xs:element name="password" type="xs:anyType" />
        <xs:element name="dummy" type="xs:string" />
        <xs:element name="GeneratedName" type="department" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beantobeandxocommandbuildertigertest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="builder" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beantomapdxocommandbuildertigertest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="builder" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tigerannotationreadertest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
        <xs:element name="foo" type="xs:long" />
        <xs:element name="bar" type="xs:string" />
        <xs:element name="baz" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empdto" >
      <xs:sequence>
        <xs:element name="ename" type="xs:string" />
        <xs:element name="job" type="xs:string" />
        <xs:element name="dname" type="xs:string" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="sal" type="xs:string" />
        <xs:element name="comm" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchpage" >
      <xs:sequence>
        <xs:element name="search_name_like" type="xs:string" />
        <xs:element name="search_age_gt" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:anyType" />
        <xs:element name="hoge" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="deptno" type="xs:long" />
        <xs:element name="dname" type="xs:string" />
        <xs:element name="loc" type="xs:string" />
        <xs:element name="versionno" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beantobeandxocommandtigertest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="builder" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beantomapdxocommandtigertest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="builder" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="color" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hogehoge" >
      <xs:sequence>
        <xs:element name="foo" type="xs:string" />
        <xs:element name="bar" type="xs:anyType" />
        <xs:element name="baz" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dxotigerutiltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchdto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="name_like" type="xs:string" />
        <xs:element name="age" type="xs:anyType" />
        <xs:element name="age_gt" type="xs:anyType" />
        <xs:element name="hoge" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bar" >
      <xs:sequence>
        <xs:element name="ordinal" type="color" nillable="true" minOccurs="0" />
        <xs:element name="name" type="color" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="ordinal" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerpropertyannotationhandlertest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="path" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tigerpropertyannotationhandlertarget" >
      <xs:sequence>
        <xs:element name="readfield_" type="xs:long" />
        <xs:element name="writefield_" type="xs:long" />
        <xs:element name="readwritefield_" type="xs:long" />
        <xs:element name="nonefield_" type="xs:long" />
        <xs:element name="/***/field_" type="xs:long" />
        <xs:element name="/***/field_" type="xs:long" />
        <xs:element name="field_" type="xs:long" />
        <xs:element name="nonannotatedfield_" type="xs:long" />
        <xs:element name="field_" type="xs:anyType" />
        <xs:element name="arrayfield_" type="xs:string" />
        <xs:element name="arrayfield_" type="xs:long" />
        <xs:element name="test" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerpropertyannotationhandlertarget2" >
      <xs:sequence>
        <xs:element name="defaultfield" type="xs:long" />
        <xs:element name="readfield" type="xs:long" />
        <xs:element name="writefield" type="xs:long" />
        <xs:element name="readwritefield" type="xs:long" />
        <xs:element name="nonefield" type="xs:long" />
        <xs:element name="hasgetter" type="xs:long" />
        <xs:element name="hassetter" type="xs:long" />
        <xs:element name="hasgettersetter" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tracetest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="synctest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tracethrowstest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="returnvalueinterceptor" >
      <xs:sequence>
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="returnvaluetest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="removesessiontest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tostringtest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="returnvalue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2tigeraopproxytest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
        <xs:element name="foo" type="ifoo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2tigertestcasetest" >
      <xs:complexContent>
       <xs:extension base="s2tigertestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="map" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge2" >
      <xs:sequence>
        <xs:element name="foo" type="ifoo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ifoo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="easymocktestcasetest" >
      <xs:complexContent>
       <xs:extension base="easymocktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="map" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleinternaltestcontexttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="testctx" type="internaltestcontext" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expecteddatareaderimpltest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="reader" type="expecteddatareader" nillable="true" minOccurs="0" />
          <xs:element name="" type="testcontext" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationtestintrospectortest" >
      <xs:complexContent>
       <xs:extension base="easymocktestcase">
         <xs:sequence>
          <xs:element name="introspector" type="annotationtestintrospector" nillable="true" minOccurs="0" />
          <xs:element name="context" type="internaltestcontext" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ognlexpressiontest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testdatapreparerimpltest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="testdatapreparer" nillable="true" minOccurs="0" />
          <xs:element name="" type="testcontext" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="conventiontestintrospectortest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="introspector" type="conventiontestintrospector" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="seasar2test" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="log" type="xs:string" />
          <xs:element name="count" type="xs:long" />
          <xs:element name="txactive" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge15" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptor1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge12" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge19" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge11a" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge16" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
        <xs:element name="bbb" type="xs:string" />
        <xs:element name="ccc" type="xs:string" />
        <xs:element name="ddd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge19derived" >
      <xs:complexContent>
       <xs:extension base="hoge19base">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge13" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge18" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge17" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationhandlertest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="handler" type="tigerannotationhandler" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge14" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge20" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge11" >
      <xs:sequence>
        <xs:element name="foo" type="xs:string" />
        <xs:element name="em1" type="xs:anyType" />
        <xs:element name="em2" type="xs:anyType" />
        <xs:element name="em3" type="xs:anyType" />
        <xs:element name="em4" type="xs:anyType" />
        <xs:element name="em5" type="xs:anyType" />
        <xs:element name="em6" type="xs:anyType" />
        <xs:element name="emf1" type="xs:anyType" />
        <xs:element name="emf2" type="xs:anyType" />
        <xs:element name="emf3" type="xs:anyType" />
        <xs:element name="emf4" type="xs:anyType" />
        <xs:element name="emf5" type="xs:anyType" />
        <xs:element name="emf6" type="xs:anyType" />
        <xs:element name="ds1" type="xs:anyType" />
        <xs:element name="ds2" type="xs:anyType" />
        <xs:element name="ds3" type="xs:anyType" />
        <xs:element name="ds4" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge11b" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge15" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge12" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge3" >
      <xs:sequence>
        <xs:element name="/***/component" type="xs:string" />
        <xs:element name="/***/aspect" type="xs:string" />
        <xs:element name="/***/inter_type" type="xs:string" />
        <xs:element name="/***/aaa_binding" type="xs:string" />
        <xs:element name="/***/bbb_binding" type="xs:string" />
        <xs:element name="/***/init_method" type="xs:string" />
        <xs:element name="/***/destroy_method" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge19base" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge16" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptor2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge13" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge18" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge2" >
      <xs:sequence>
        <xs:element name="fff" type="xs:string" />
        <xs:element name="ggg" type="xs:string" />
        <xs:element name="hhh" type="xs:string" />
        <xs:element name="lll" type="xs:string" />
        <xs:element name="mmm" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge17" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge21" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge10" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationhandlerfactorytest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge14" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmls2containerbuilderxincludetest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singletons2containertest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="propertydescimpltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="methodutiltigertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reflectionutiltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationutiltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericutiltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tigermaputiltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tigerbigdecimalconversiontest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="saxparserfactoryutiltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="included" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aroundinvokesupportinterceptortest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstejb3txinterceptortest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childfirstclassloadertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="classname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aaa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitmanagerimpltest" >
      <xs:complexContent>
       <xs:extension base="s2tigertestcase">
         <xs:sequence>
          <xs:element name="pum" type="persistenceunitmanager" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitinfofactoryimpltest" >
      <xs:complexContent>
       <xs:extension base="s2tigertestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceclasstransformerimpltest" >
      <xs:complexContent>
       <xs:extension base="s2tigertestcase">
         <xs:sequence>
          <xs:element name="hoge" type="xs:string" />
          <xs:element name="foo" type="xs:string" />
          <xs:element name="bar" type="xs:string" />
          <xs:element name="aaa" type="xs:string" />
          <xs:element name="loader" type="childfirstclassloader" nillable="true" minOccurs="0" />
          <xs:element name="names" type="xs:anyType" />
          <xs:element name="root" type="xs:anyType" />
          <xs:element name="jarfile" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitconfigurationimpltest" >
      <xs:complexContent>
       <xs:extension base="s2tigertestcase">
         <xs:sequence>
          <xs:element name="cfg" type="persistenceunitconfigurationimpl" nillable="true" minOccurs="0" />
          <xs:element name="unitmanager" type="persistenceunitmanager" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="resourcedetector" type="xs:anyType" />
          <xs:element name="classdetector" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="containerpersistenceunitprovidertest" >
      <xs:complexContent>
       <xs:extension base="s2tigertestcase">
         <xs:sequence>
          <xs:element name="unitinforegistry" type="persistenceunitinforegistry" nillable="true" minOccurs="0" />
          <xs:element name="unitconfiguration" type="persistenceunitconfiguration" nillable="true" minOccurs="0" />
          <xs:element name="classtransformer" type="persistenceclasstransformer" nillable="true" minOccurs="0" />
          <xs:element name="unitinfo" type="persistenceunitinfoimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="selectableentitymanagerproxytest" >
      <xs:complexContent>
       <xs:extension base="s2tigertestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="entitymanagerprovider" nillable="true" minOccurs="0" />
          <xs:element name="proxy" type="selectableentitymanagerproxy" nillable="true" minOccurs="0" />
          <xs:element name="foo" type="xs:anyType" />
          <xs:element name="bar" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceclassautodetectortest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="detector" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mappingfileautodetectortest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="detector" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2junit4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmls2containerbuilderxincludetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationhandlertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmls2containerbuilderxincludetest_included" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test$nonautoincludingtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test.s2testintrospector2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test$autoincludingtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test.s2testclassmethodsrunner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test.s2testintrospector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test_convention" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test.seasar2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2tigertestcasetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleinternaltestcontexttest2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expecteddatareaderimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conventiontestintrospectortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdatapreparerimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleinternaltestcontexttest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test$mocktest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test$simpleinternaltestcontexttest.s2junit4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="included" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="include" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hogeorm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="barorm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="barorm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hogeorm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitmanagerimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappingfileautodetectortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceclassautodetectortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerpropertyannotationhandlertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="removesessiontest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dxointerceptortigertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationreadertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooorm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="server" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="site_ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singletons2container" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3initmethoddefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2initmethoddefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2destroymethoddefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="destroymethoddefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationhandler" >
      <xs:complexContent>
       <xs:extension base="constantannotationhandler">
         <xs:sequence>
          <xs:element name="*/initialized" type="xs:anyType" />
          <xs:element name="*/enableejb3" type="xs:anyType" />
          <xs:element name="/***{@linkcomponentdefbuilder}の配列*/componentdefbuilders" type="componentdefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/***{@linkpropertydefbuilder}の配列*/propertydefbuilders" type="propertydefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/***{@linkaspectdefbuilder}の配列*/aspectdefbuilders" type="aspectdefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/***{@linkintertypedefbuilder}の配列*/intertypedefbuilders" type="intertypedefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/***{@linkinitmethoddefbuilder}の配列*/initmethoddefbuilders" type="initmethoddefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/***{@linkdestroymethoddefbuilder}の配列*/destroymethoddefbuilders" type="destroymethoddefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="initmethoddefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertydefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentdefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bindingpropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitpropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractpropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="/***アノテーションハンドラ*/handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ejbpropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="abstractpropertydefbuilder<ejb>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcepropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencecontextpropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="intertypedefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aspectdefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractaspectdefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aspectannotationaspectdefbuilder" >
      <xs:complexContent>
       <xs:extension base="abstractaspectdefbuilder">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ejb3annotationaspectdefbuilder" >
      <xs:complexContent>
       <xs:extension base="abstractaspectdefbuilder">
         <xs:sequence>
          <xs:element name="txinterceptors" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metaannotationaspectdefbuilder" >
      <xs:complexContent>
       <xs:extension base="abstractaspectdefbuilder">
         <xs:sequence>
          <xs:element name="/***メタアノテーションの型*/metaannotationtype" type="xs:anyType" />
          <xs:element name="/***インターセプタの名前空間*/interceptornamespace" type="xs:string" />
          <xs:element name="/***インターセプタの接尾辞*/interceptorsuffix" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3componentdefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojocomponentdefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3intertypedefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2intertypedefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initmethod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accesstype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="property" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binding" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instancetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="intertype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autobindingtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bindingtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertytype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="destroymethod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="illegalclassformatruntimeexception" >
      <xs:complexContent>
       <xs:extension base="sruntimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="classname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schemafactoryutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerbigdecimalconversion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schemautil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="concurrentmapfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reflectionutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iterableadapter" >
      <xs:sequence>
        <xs:element name="enumeration" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectionsutil" >
      <xs:complexContent>
       <xs:extension base="e>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ejb3interceptordesc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3desc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sejbexception" >
      <xs:complexContent>
       <xs:extension base="ejbexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="messagecode" type="xs:string" />
          <xs:element name="args" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ejb3businessmethoddesc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aroundinvokesupportinterceptor" >
      <xs:sequence>
        <xs:element name="/***{@linkaroundinvoke}で注釈されたメソッド*/aroundinvoke" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3interceptorsupportintertype" >
      <xs:complexContent>
       <xs:extension base="abstractintertype">
         <xs:sequence>
          <xs:element name="/***セッションビーンに適用するejb3インターセプタの{@linklist}*/interceptorclasses" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ejb3interceptordescimpl" >
      <xs:sequence>
        <xs:element name="/***このインターセプタ定義が適用される{@link}*/" type="ejb3desc" nillable="true" minOccurs="0" />
        <xs:element name="/***インターセプタのクラス*/interceptorclass" type="xs:anyType" />
        <xs:element name="/***このインターセプタが適用されるセッションビーンのビジネスメソッドの{@linklist}*/interceptormethods" type="xs:anyType" />
        <xs:element name="/***{@linkaroundinvoke}で注釈されたインターセプタのメソッド*/postconstructmethods" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3descimpl" >
      <xs:sequence>
        <xs:element name="/***セッションビーンのクラス*/beanclass" type="xs:anyType" />
        <xs:element name="/***セッションビーンのクラス名*/beanclassname" type="xs:string" />
        <xs:element name="/***このセッションビーンがステートレスなら{@codetrue}*/stateless" type="xs:anyType" />
        <xs:element name="/***このセッションビーンがステートフルなら{@codetrue}*/stateful" type="xs:anyType" />
        <xs:element name="/***このセッションビーンの名前*/name" type="xs:string" />
        <xs:element name="/***このセッションビーンが実装するビジネスインターフェースの{@linklist}*/businessinterfaces" type="xs:anyType" />
        <xs:element name="/***このセッションビーンがコンテナ管理トランザクションを使用する場合は{@codetrue}*/cmt" type="xs:anyType" />
        <xs:element name="/***このセッションビーンに適用されるインターセプタ定義の{@linklist}*/interceptors" type="ejb3interceptordesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***このセッションビーンが持つビジネスメソッドの{@linklist}*/businessmethods" type="ejb3businessmethoddesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***{@linkaroundinvoke}で注釈されたメソッドの{@linklist}*/aroundinvokemethods" type="xs:anyType" />
        <xs:element name="/***{@linkpostconstruct}で注釈されたメソッドの{@linklist}*/postconstructmethods" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3interceptorsupportinterceptor" >
      <xs:sequence>
        <xs:element name="/***ejb3インターセプタのクラス*/interceptorclass" type="xs:anyType" />
        <xs:element name="/***{@linkaroundinvoke}で注釈されたejb3インターセプタのメソッド*/interceptor" type="xs:anyType" />
        <xs:element name="*/interceptor" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invocationcontextimpl" >
      <xs:sequence>
        <xs:element name="/***aopalliance準拠のメソッド呼び出しコンテキスト*/context" type="xs:anyType" />
        <xs:element name="/***ライフサイクルコールバックの場合は{@codetrue}*/lifecyclecallback" type="xs:anyType" />
        <xs:element name="contextdata" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3businessmethoddescimpl" >
      <xs:sequence>
        <xs:element name="/***このビジネスメソッドを含むejb3セッションビーン定義*/" type="ejb3desc" nillable="true" minOccurs="0" />
        <xs:element name="/***このビジネスメソッドの{@link}*/" type="xs:anyType" />
        <xs:element name="/***このビジネスメソッドの{@link}*/" type="xs:anyType" />
        <xs:element name="/***このビジネスメソッドに適用されるインターセプタ定義の{@linklist}*/interceptors" type="ejb3interceptordesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3descfactory" >
      <xs:sequence>
        <xs:element name="initialized" type="xs:anyType" />
        <xs:element name="ejb3descs" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractejb3txinterceptor" >
      <xs:complexContent>
       <xs:extension base="abstracttxinterceptor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ejb3requiresnewinterceptor" >
      <xs:complexContent>
       <xs:extension base="abstractejb3txinterceptor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ejb3requiredinterceptor" >
      <xs:complexContent>
       <xs:extension base="abstractejb3txinterceptor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitinforegistry" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitmanager" >
      <xs:sequence>
        <xs:element name="/***デフォルトの永続ユニット名*/default_persistence_unit_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummyentityreaderprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityreaderprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityreader" >
      <xs:complexContent>
       <xs:extension base="datareader">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityreaderfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydesc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummyentitydescprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydescprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydescfactory" >
      <xs:sequence>
        <xs:element name="/***クラスに対応する{@link}が存在しないことを示すオブジェクト*/not_found" type="entitydesc" nillable="true" minOccurs="0" />
        <xs:element name="/***初期化されているかどうかを表すフラグ*/initialized" type="xs:anyType" />
        <xs:element name="entitydescs" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributedesc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceclasstransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialectmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceclasstransformerimpl" >
      <xs:sequence>
        <xs:element name="/***トランスフォームした永続クラスをロードする対象から除外するクラスローダのクラス名*/ignoreloaderclassnames" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectableentitymanagerproxy" >
      <xs:sequence>
        <xs:element name="/***{@link}のインスタンス*/" type="entitymanagerprovider" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummyentitymanager" >
      <xs:sequence>
        <xs:element name="/***データソース*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummyentitymanagerdialect" >
      <xs:sequence>
        <xs:element name="/***このインスタンスを管理するマネージャ*/" type="dialectmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialectmanagerimpl" >
      <xs:sequence>
        <xs:element name="dialects" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerproviderimpl" >
      <xs:sequence>
        <xs:element name="/***このコンポーネントを定義しているs2コンテナ*/container" type="xs:anyType" />
        <xs:element name="/***データソース・ファクトリ*/" type="xs:anyType" />
        <xs:element name="/***デフォルトの{@linkentitymanager}のコンポーネント名*/entitymanagerbasename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitinfofactoryimpl" >
      <xs:complexContent>
       <xs:extension base="taghandlerrule">
         <xs:sequence>
          <xs:element name="/***デフォルトの永続ユニットプロバイダクラス名(hibernateentitymanager)*/default_provider" type="xs:string" />
          <xs:element name="/***デフォルトのデータソース名*/default_datasource" type="xs:string" />
          <xs:element name="のパス名*/persistence_xml" type="xs:string" />
          <xs:element name="を検証するxmlschemaのパス名*/persistence_schema_name" type="xs:string" />
          <xs:element name="/***永続ユニットルートurlのコンテキストキー*/persistence_unit_root_url" type="xs:string" />
          <xs:element name="をロードするクラスローダ*/" type="xs:anyType" />
          <xs:element name="を検証するxml*/persistencexml" type="xs:anyType" />
          <xs:element name="/***s2コンテナ*/container" type="xs:anyType" />
          <xs:element name="*/usedatasourceproxy" type="xs:anyType" />
          <xs:element name="/***デフォルトの永続ユニットプロバイダクラス名*/defaultproviderclassname" type="xs:string" />
          <xs:element name="/***jta用のデフォルトのデータソース名*/defaultjtadatasource" type="xs:string" />
          <xs:element name="/***非jta用のデフォルトのデータソース名*/defaultnonjtadatasource" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="containerpersistenceunitprovider" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="/***永続ユニットのコンフィギュレーション*/" type="persistenceunitconfiguration" nillable="true" minOccurs="0" />
          <xs:element name="/***永続ユニット情報のレジストリ*/" type="persistenceunitinforegistry" nillable="true" minOccurs="0" />
          <xs:element name="/***永続クラスのトランスフォーマ*/" type="persistenceclasstransformer" nillable="true" minOccurs="0" />
          <xs:element name="/***永続プロバイダのクラス名*/providerclassname" type="xs:string" />
          <xs:element name="properties" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitinfoimpl" >
      <xs:sequence>
        <xs:element name="/***クラスローダ*/classloader" type="transformclassloader" nillable="true" minOccurs="0" />
        <xs:element name="/***永続ユニットのルート*/persistenceunitroot" type="xs:anyType" />
        <xs:element name="/***永続ユニット名*/persistenceunitname" type="xs:string" />
        <xs:element name="/***トランザクションタイプ*/transactiontype" type="xs:anyType" />
        <xs:element name="/***永続プロバイダのクラス名*/persistenceproviderclassname" type="xs:string" />
        <xs:element name="/***jtaデータソース*/jta" type="xs:anyType" />
        <xs:element name="/***非jtaデータソース*/nonjta" type="xs:anyType" />
        <xs:element name="/***マッピングファイル名のリスト*/mappingfilenames" type="xs:anyType" />
        <xs:element name="/***jarファイルのurlのリスト*/jarfileurls" type="xs:anyType" />
        <xs:element name="/***管理対象となるクラス名のリスト*/managedclassnames" type="xs:anyType" />
        <xs:element name="*/excludeunlistedclasses" type="xs:anyType" />
        <xs:element name="/***プロパティリスト*/" type="xs:anyType" />
        <xs:element name="/***クラストランスファーマのリスト*/transformers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitconfigurationimpl" >
      <xs:sequence>
        <xs:element name="/***永続ユニットマネージャ*/" type="persistenceunitmanager" nillable="true" minOccurs="0" />
        <xs:element name="mappingfiles" type="xs:anyType" />
        <xs:element name="persistenceclasses" type="xs:anyType" />
        <xs:element name="mappingfileautodetectors" type="xs:anyType" />
        <xs:element name="persistenceclassautodetectors" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitinforegistryimpl" >
      <xs:sequence>
        <xs:element name="のパス名*/persistence_xml" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="/***永続ユニット情報のファクトリ*/" type="persistenceunitinfofactory" nillable="true" minOccurs="0" />
        <xs:element name="unitinfomap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitmanagerimpl" >
      <xs:sequence>
        <xs:element name="/***なコンテキストマップ*/" type="xs:anyType" />
        <xs:element name="/***コンテキストマップ*/" type="xs:anyType" />
        <xs:element name="*/usecontext" type="xs:anyType" />
        <xs:element name="/***デフォルトの永続ユニット名*/defaultpersistenceunitname" type="xs:string" />
        <xs:element name="/***デフォルトの{@link}*/defaultunitprovider" type="persistenceunitprovider" nillable="true" minOccurs="0" />
        <xs:element name="/***エンティティマネージャのプロバイダ*/" type="entitymanagerprovider" nillable="true" minOccurs="0" />
        <xs:element name="/***ネーミング規約*/convention" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractpersistenceunitprovider" >
      <xs:sequence>
        <xs:element name="/***永続ユニットマネージャ*/" type="persistenceunitmanager" nillable="true" minOccurs="0" />
        <xs:element name="/***{@link}*/" type="entitydescprovider" nillable="true" minOccurs="0" />
        <xs:element name="/***{@link}*/" type="entityreaderprovider" nillable="true" minOccurs="0" />
        <xs:element name="/***(具象)永続ユニット名*/unitname" type="xs:string" />
        <xs:element name="/***抽象永続ユニット名*/abstractunitname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultpersistenceunitprovider" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jndipersistenceunitprovider" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="jndinames" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitcontextimpl" >
      <xs:sequence>
        <xs:element name="entitymanagers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txscopedentitymanagerproxy" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="/***トランザクションマネージャ*/tm" type="xs:anyType" />
        <xs:element name="/***永続マネージャファクトリ*/emf" type="xs:anyType" />
        <xs:element name="/***永続ユニットマネージャ*/pum" type="persistenceunitmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractclassloader" >
      <xs:complexContent>
       <xs:extension base="classloader">
         <xs:sequence>
          <xs:element name="/***親クラスローダに委譲せずに自身で処理する対象となるクラス名のセット*/includednames" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transformclassloader" >
      <xs:complexContent>
       <xs:extension base="abstractclassloader">
         <xs:sequence>
          <xs:element name="/***永続クラスのトランスフォーマ*/" type="persistenceclasstransformer" nillable="true" minOccurs="0" />
          <xs:element name="/***永続ユニット情報*/" type="xs:anyType" />
          <xs:element name="/***クラストランスフォーマのリスト*/transformers" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="temporaltypeutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classloaderlistener" >
      <xs:complexContent>
       <xs:extension base="eventlistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classloaderevent" >
      <xs:complexContent>
       <xs:extension base="eventobject">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="/***クラス名*/classname" type="xs:string" />
          <xs:element name="code" type="xs:anyType" />
          <xs:element name="/***定義されたクラス*/definedclass" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classtransformerutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childfirstclassloader" >
      <xs:complexContent>
       <xs:extension base="abstractclassloader">
         <xs:sequence>
          <xs:element name="/***{@linkclassloaderlistener}のリスト*/listeners" type="classloaderlistener" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerprovider" >
      <xs:sequence>
        <xs:element name="/***デフォルトの{@linkentitymanager}のコンポーネント名*/default_entity_manager_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitinfofactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappingfileautodetector" >
      <xs:complexContent>
       <xs:extension base="abstractresourceautodetector">
         <xs:sequence>
          <xs:element name="/***命名規約*/" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceclassautodetector" >
      <xs:complexContent>
       <xs:extension base="abstractclassautodetector">
         <xs:sequence>
          <xs:element name="/***アノテーションのリスト*/annotations" type="xs:anyType" />
          <xs:element name="/***命名規約*/" type="xs:anyType" />
          <xs:element name="/***エンティティをロードするためのクラスローダ*/" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialectnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="sruntimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitnodfoundexception" >
      <xs:complexContent>
       <xs:extension base="sruntimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitmanagerlocater" >
      <xs:sequence>
        <xs:element name="/***永続ユニットマネージャ*/instance" type="persistenceunitmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parametername" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2testintrospector" >
      <xs:complexContent>
       <xs:extension base="throwable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mocks" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="easymock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registernamingconvention" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="easymocktype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warmdeploy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txbehaviortype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rootdicon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prerequisite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txbehavior" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="easymocktestcase" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="//instancefields/***easymockとの対話をサポートするオブジェクト*/" type="easymocksupport" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2testclassrunner" >
      <xs:complexContent>
       <xs:extension base="testclassrunner">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expression" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2parameterized" >
      <xs:complexContent>
       <xs:extension base="s2testclassrunner">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expecteddatareader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2" >
      <xs:complexContent>
       <xs:extension base="runner">
         <xs:sequence>
          <xs:element name="/***s2junit4の振る舞いを設定するためのコンフィグレーションファイルのキー*/s2junit4_config_key" type="xs:string" />
          <xs:element name="/***s2junit4の振る舞いを設定するためのコンフィグレーションファイルのパス*/s2junit4_config_path" type="xs:string" />
          <xs:element name="/***コンフィグレーションファイルから構築されたコンフィグレーションs2コンテナ*/configurationcontainer" type="xs:anyType" />
          <xs:element name="/***{@linkseasar2}の振る舞いを提供するプロバイダ*/" type="xs:anyType" />
          <xs:element name="delegate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testdatapreparer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preparationtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configfileincluder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationtestintrospector" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="/***テストクラスの初期化メソッドに注釈可能なアノテーションクラス*/beforeclassannotation" type="xs:anyType" />
          <xs:element name="/***テストクラスの解放メソッドに注釈可能なアノテーションクラス*/afterclassannotation" type="xs:anyType" />
          <xs:element name="/***全テストケースに共通の初期化メソッドに注釈可能なアノテーションクラス*/beforeannotation" type="xs:anyType" />
          <xs:element name="/***全テストケースに共通の解放メソッドに注釈可能なアノテーションクラス*/afterannotation" type="xs:anyType" />
          <xs:element name="*/enableignore" type="xs:anyType" />
          <xs:element name="*/enableprerequisite" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expecteddatareaderimpl" >
      <xs:sequence>
        <xs:element name="/***ロガー*/" type="xs:anyType" />
        <xs:element name="/***期待値が記述されたexcelのパスのリスト*/expecteddataxlspaths" type="xs:anyType" />
        <xs:element name="/***データアクセッサー*/" type="dataaccessor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conventiontestintrospector" >
      <xs:complexContent>
       <xs:extension base="annotationtestintrospector">
         <xs:sequence>
          <xs:element name="/***テストメソッドとして解釈すべきでないメソッドに付与されるアノテーションのセット*/nontestannotations" type="xs:anyType" />
          <xs:element name="/***テストメソッドとして解釈すべきでないメソッド名の正規表現*/nontestmethodnamepatterns" type="xs:anyType" />
          <xs:element name="/***テストクラスの初期化メソッドの名前*/beforeclassmethodname" type="xs:string" />
          <xs:element name="/***テストクラスの解放メソッドの名前*/afterclassmethodname" type="xs:string" />
          <xs:element name="/***全テストケースの初期化メソッドの名前*/beforemethodname" type="xs:string" />
          <xs:element name="/***全テストケースの解放メソッドを名前*/aftermethodname" type="xs:string" />
          <xs:element name="/***テストケース個別にモックの振る舞いを記録するメソッドの名前のプレフィックス*/recordmethodname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleinternaltestcontext" >
      <xs:complexContent>
       <xs:extension base="t>">
         <xs:sequence>
          <xs:element name="/***tigerのアノテーションハンドラー*/handler" type="tigerannotationhandler" nillable="true" minOccurs="0" />
          <xs:element name="/***モックインターセプターのリスト*/mockinterceptors" type="xs:anyType" />
          <xs:element name="/***ルートのs2コンテナ*/container" type="xs:anyType" />
          <xs:element name="/***命名規約*/" type="xs:anyType" />
          <xs:element name="/***テストクラス*/testclass" type="xs:anyType" />
          <xs:element name="/***テストメソッド*/test" type="xs:anyType" />
          <xs:element name="*/autoincluding" type="xs:anyType" />
          <xs:element name="*/autopreparing" type="xs:anyType" />
          <xs:element name="/***テストデータの準備方法*/" type="preparationtype" nillable="true" minOccurs="0" />
          <xs:element name="*/trimstring" type="xs:anyType" />
          <xs:element name="*/ejb3enabled" type="xs:anyType" />
          <xs:element name="*/jtaenabled" type="xs:anyType" />
          <xs:element name="/***s2コンテナが初期化されたかどうかを表すフラグ*/containerinitialized" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataaccessorimpl" >
      <xs:sequence>
        <xs:element name="/***テストコンテキスト*/" type="testcontext" nillable="true" minOccurs="0" />
        <xs:element name="/***トランザクションマネジャー*/tm" type="xs:anyType" />
        <xs:element name="/***エンティティマネジャー*/em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="dbmetadata" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdatapreparerimpl" >
      <xs:sequence>
        <xs:element name="/***ロガー*/" type="xs:anyType" />
        <xs:element name="/***テストデータを持つexcelのパスのリスト*/testdataxlspaths" type="xs:anyType" />
        <xs:element name="/***データアクセッサー*/" type="dataaccessor" nillable="true" minOccurs="0" />
        <xs:element name="*/replacedb" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internaltestcontextimpl" >
      <xs:complexContent>
       <xs:extension base="simpleinternaltestcontext">
         <xs:sequence>
          <xs:element name="/***{@linkservletcontext}のモック*/servletcontext" type="xs:anyType" />
          <xs:element name="/***サーブレット*/" type="xs:anyType" />
          <xs:element name="/***{@linkservletconfig}のモック*/servletconfig" type="xs:anyType" />
          <xs:element name="/***{@linkhttpservletrequest}のモック*/request" type="xs:anyType" />
          <xs:element name="/***{@linkhttpservletresponse}のモック*/response" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ognlexpression" >
      <xs:sequence>
        <xs:element name="source" type="xs:string" />
        <xs:element name="root" type="xs:anyType" />
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configfileincluderimpl" >
      <xs:sequence>
        <xs:element name="/***ロガー*/" type="xs:anyType" />
        <xs:element name="/***s2コンテナ*/container" type="xs:anyType" />
        <xs:element name="/***設定ファイルのパスのリスト*/configfiles" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internaltestcontext" >
      <xs:complexContent>
       <xs:extension base="testcontext">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataaccessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2testclassmethodsrunner" >
      <xs:complexContent>
       <xs:extension base="runner">
         <xs:sequence>
          <xs:element name="/***{@links2testclassmethodsrunner}の振る舞いを提供するプロバイダ*/" type="xs:anyType" />
          <xs:element name="/***テストメソッドのリスト*/testmethods" type="xs:anyType" />
          <xs:element name="/***テストクラス*/testclass" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testcontext" >
      <xs:complexContent>
       <xs:extension base="t>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="easymocksupport" >
      <xs:sequence>
        <xs:element name="//instancefields/***モックのリスト*/mocks" type="xs:anyType" />
        <xs:element name="/***モックがバインディングされたフィールド*/boundfields" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2assert" >
      <xs:complexContent>
       <xs:extension base="assert">
         <xs:sequence>
          <xs:element name="/***{@links2testcase}のアダプタ*/adapter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2testmethodrunner" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="/***s2junit4のデフォルトの設定ファイルのパス*/default_s2junit4_path" type="xs:string" />
          <xs:element name="/***このランナーで使用する環境名設定ファイルのパス*/env_path" type="xs:string" />
          <xs:element name="/***環境名設定ファイルのパスにファイルが存在しない場合の環境名*/env_value" type="xs:string" />
          <xs:element name="/***s2junit4の設定ファイルのパス*/s2junit4path" type="xs:string" />
          <xs:element name="/***テストオブジェクト*/test" type="xs:anyType" />
          <xs:element name="/***テストクラス*/testclass" type="xs:anyType" />
          <xs:element name="/***テストメソッド*/" type="xs:anyType" />
          <xs:element name="/***ノティファイアー*/notifier" type="xs:anyType" />
          <xs:element name="/***テストのディスクリプション*/" type="xs:anyType" />
          <xs:element name="/***テストクラスのイントロスペクター*/introspector" type="s2testintrospector" nillable="true" minOccurs="0" />
          <xs:element name="/***{@link#unitテストで使用するクラスローダー}で置き換えられる前のオリジナルのクラスローダー*/original" type="xs:anyType" />
          <xs:element name="/***テストで使用するクラスローダー*/" type="xs:anyType" />
          <xs:element name="/***s2junit4の内部的なテストコンテキスト*/testcontext" type="internaltestcontext" nillable="true" minOccurs="0" />
          <xs:element name="/***バインディングが行われたフィールドのリスト*/boundfields" type="xs:anyType" />
          <xs:element name="/***easymockとの対話をサポートするオブジェクト*/" type="easymocksupport" nillable="true" minOccurs="0" />
          <xs:element name="/***テストが失敗したことを表すフラグ*/testfailed" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2tigertestcase" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="//instancefields/***easymockとの対話をサポートするオブジェクト*/" type="easymocksupport" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpletrace" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tracethrows" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trace" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tostring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lifecycleadapter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="removesession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sync" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hotawaredelegate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerpropertyannotationhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dxotigerutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conversionrule" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timestamppattern" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationreader" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="/***s2コンテナ*/container" type="xs:anyType" />
          <xs:element name="/***後続の{@link}*/next" type="xs:anyType" />
          <xs:element name="converterscache" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datepattern" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excludenull" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dxoconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sourceprefix" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timepattern" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tigersupportimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumtype" >
      <xs:complexContent>
       <xs:extension base="enum>">
         <xs:sequence>
          <xs:element name="enumclass" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requiredtx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requiresnewtx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nevertx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mandatorytx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notsupportedtx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpa-support-smart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-dialect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-customize" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3tx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javaee5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 