pro-jpa-2-1385/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="projectservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeehomebean" >
      <xs:sequence>
        <xs:element name="//@persistencecontext(unitname" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmenthome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeehome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectservicebean" >
      <xs:sequence>
        <xs:element name="//@persistencecontext(name" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmenthomebean" >
      <xs:sequence>
        <xs:element name="//@persistencecontext(name" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeserviceservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="title" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="depthome" type="departmenthome" nillable="true" minOccurs="0" />
          <xs:element name="emphome" type="employeehome" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmenthome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="projecthome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeehome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeebean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:long" />
        <xs:element name="GeneratedName" type="department" nillable="true" minOccurs="0" />
        <xs:element name="manager" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="directs" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressentitydao" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managerstats" >
      <xs:sequence>
        <xs:element name="managername" type="xs:string" />
        <xs:element name="employeecount" type="xs:long" />
        <xs:element name="avgsalary" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressdao" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicelocator" >
      <xs:sequence>
        <xs:element name="instance" type="servicelocator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 