SwingSaverAdmin/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="dob" type="xs:dateTime" />
        <xs:element name="gender" type="xs:dateTime" />
        <xs:element name="photo" type="xs:anyType" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="groupmember" type="xs:string" />
        <xs:element name="availablepoints" type="xs:anyType" />
        <xs:element name="userspace" type="xs:anyType" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="phototype" type="xs:string" />
        <xs:element name="average" type="xs:anyType" />
        <xs:element name="handicap" type="xs:anyType" />
        <xs:element name="distance" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marketproentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="lessonprice" type="xs:anyType" />
        <xs:element name="rating" type="xs:double" />
        <xs:element name="prolevel" type="xs:anyType" />
        <xs:element name="profile" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="profile_img" type="xs:string" />
        <xs:element name="use_yn" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupmemberentity" >
      <xs:sequence>
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="memberid" type="xs:anyType" />
        <xs:element name="membertype" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="createdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenentity" >
      <xs:sequence>
        <xs:element name="memberid" type="xs:string" />
        <xs:element name="accesstoken" type="xs:string" />
        <xs:element name="expiredate" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="groupname" type="xs:string" />
        <xs:element name="grouptype" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="quota" type="xs:long" />
        <xs:element name="storagespace" type="xs:long" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="groupadminid" type="xs:anyType" />
        <xs:element name="register" type="xs:dateTime" />
        <xs:element name="del_yn" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 