optimumsupply/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="pessoacontrollerintegrationtest" >
      <xs:sequence>
        <xs:element name="resttemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globalexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="errordetails" >
      <xs:sequence>
        <xs:element name="timestamp" type="xs:dateTime" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="details" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="exception{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pessoarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoadto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="datanascimento" type="xs:anyType" />
        <xs:element name="estado" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="skype" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="datacadastro" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoa" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="datanascimento" type="xs:anyType" />
        <xs:element name="estado" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="skype" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="datacadastro" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<pessoa,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessoaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoaserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pessoarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="pessoaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 