optimumsupply/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="pessoa" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="datanascimento" type="xs:anyType" />
        <xs:element name="estado" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="skype" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="datacadastro" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 