s2container215/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:long" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/job" type="jobtype" nillable="true" minOccurs="0" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/manager" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="/***/assistants" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***/" type="department" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 