SpringImdbNotepad/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="profilerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<profile,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="settingrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<setting,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movierepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<movie,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movieservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="filterservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sortservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="imdbparserservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="settingservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settingservice" >
      <xs:complexContent>
       <xs:extension base="enum<t>>">
         <xs:sequence>
          <xs:element name="" type="settingrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="sessionservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filterservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="settingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profileservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="profilerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imdbparserservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionservice" >
      <xs:sequence>
        <xs:element name="default_view" type="xs:string" />
        <xs:element name="//tododoitsomewhereelseempty_" type="profile" nillable="true" minOccurs="0" />
        <xs:element name="//{//empty_profile" type="xs:anyType" />
        <xs:element name="GeneratedName" type="profileservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="profile" nillable="true" minOccurs="0" />
        <xs:element name="lastview" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatecomponent" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="imdbparserservice" nillable="true" minOccurs="0" />
        <xs:element name="eventpublisher" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="updatecomponent" nillable="true" minOccurs="0" />
        <xs:element name="futurelist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateeventlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="profileid" type="xs:long" />
        <xs:element name="//todowillneedsomeautomicservicetocleanupstuff(shoulddeletesettingsforremovedprofile)value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="imageurl" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="genres" type="xs:anyType" />
        <xs:element name="duration" type="xs:string" />
        <xs:element name="datepublished" type="xs:string" />
        <xs:element name="rating" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="watched" type="xs:anyType" />
        <xs:element name="profileid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settingid" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="profileid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localeconfiguration" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="asynctaskexecutorconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genrescontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="settingservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setwatchedmoviecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addmoviecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consolidatedprofilecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="profileservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="editmoviecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="profileservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatemoviecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="updateservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="removemoviecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultviewcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sessionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablemoviecontroller" >
      <xs:complexContent>
       <xs:extension base="movieviewcontroller{">
         <xs:sequence>
          <xs:element name="//todoexporttofile,simplewithnamesandyearsofreleaseandonewithlinkstoreimportagain" type="updateservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movieviewcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="filterservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="profileservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="settingservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configurationviewcontroller" >
      <xs:complexContent>
       <xs:extension base="movieviewcontroller{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tilesviewcontroller" >
      <xs:complexContent>
       <xs:extension base="movieviewcontroller{">
         <xs:sequence>
          <xs:element name="" type="sessionservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sortingmoviecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="settingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imdbnotepadapplication" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="urlrefiner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieinformation" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="genre" type="xs:anyType" />
        <xs:element name="duration" type="xs:string" />
        <xs:element name="datepublished" type="xs:string" />
        <xs:element name="rating" type="xs:string" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ownershipcriteria" >
      <xs:sequence>
        <xs:element name="label" type="xs:string" />
        <xs:element name="predicaterecipe" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortingcriteria" >
      <xs:sequence>
        <xs:element name="label" type="xs:string" />
        <xs:element name="comparator" type="movie" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="watchedcriteria" >
      <xs:sequence>
        <xs:element name="label" type="xs:string" />
        <xs:element name="comparator" type="movie" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="predicate" type="movie" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile_selection_view" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile_filter_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="watched_sort_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="add_profile_form" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sort_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update_modal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_pl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-dev" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dockerfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imdbnotepadapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 