pg/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="entitymojo" >
      <xs:complexContent>
       <xs:extension base="abstractmojo">
         <xs:sequence>
          <xs:element name="designs" type="xs:string" />
          <xs:element name="outputdirectory" type="xs:string" />
          <xs:element name="tablepattern" type="xs:string" />
          <xs:element name="targetmodule" type="xs:string" />
          <xs:element name="maxsymbollength" type="xs:anyType" />
          <xs:element name="/***使用新的基于sequencestylegenerator的id支持，同时要求hibernate版本4.1以上。如果为false，则使用nativegenerator，向下兼容。*/useenhancedsequencegenerator" type="xs:anyType" />
          <xs:element name="/***是否在entity中加入常量table_name,以便于在客户端之类的环境下得到对应的表名*/tablenameconstant" type="xs:anyType" />
          <xs:element name="project" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="generators" type="generator" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 