shop/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="article" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="idchannel" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="author" type="xs:string" />
          <xs:element name="img" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="banner" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="url" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="type" type="xs:string" />
          <xs:element name="idfile" type="xs:string" />
          <xs:element name="page" type="xs:string" />
          <xs:element name="param" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="avatar" type="xs:string" />
          <xs:element name="account" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="salt" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="birthday" type="xs:dateTime" />
          <xs:element name="sex" type="xs:anyType" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="roleid" type="xs:string" />
          <xs:element name="deptid" type="xs:long" />
          <xs:element name="status" type="xs:anyType" />
          <xs:element name="version" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="tplcode" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="receiver" type="xs:string" />
          <xs:element name="type" type="xs:anyType" />
          <xs:element name="state" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attrval" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="idattrkey" type="xs:long" />
          <xs:element name="attrval" type="xs:string" />
          <xs:element name="" type="attrkey" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attrkey" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="attrname" type="xs:string" />
          <xs:element name="idcategory" type="xs:long" />
          <xs:element name="attrvals" type="attrval" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="favorite" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="iduser" type="xs:long" />
          <xs:element name="user" type="shopuser" nillable="true" minOccurs="0" />
          <xs:element name="idgoods" type="xs:long" />
          <xs:element name="" type="goods" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="topic" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="title" type="xs:string" />
          <xs:element name="idarticle" type="xs:long" />
          <xs:element name="" type="article" nillable="true" minOccurs="0" />
          <xs:element name="idgoodslist" type="xs:string" />
          <xs:element name="pv" type="xs:long" />
          <xs:element name="disabled" type="xs:anyType" />
          <xs:element name="goodslist" type="goods" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shopuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="salt" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="avatar" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="lastlogintime" type="xs:dateTime" />
        <xs:element name="wechatopenid" type="xs:string" />
        <xs:element name="wechatnickname" type="xs:string" />
        <xs:element name="wechatheadimgurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goods" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="pic" type="xs:string" />
          <xs:element name="gallery" type="xs:string" />
          <xs:element name="idcategory" type="xs:long" />
          <xs:element name="" type="category" nillable="true" minOccurs="0" />
          <xs:element name="descript" type="xs:string" />
          <xs:element name="detail" type="xs:string" />
          <xs:element name="/***如果商品是多规格，则存所有库存之和*/stock" type="xs:anyType" />
          <xs:element name="/***如果商品是多规格，则存最低价*/price" type="xs:anyType" />
          <xs:element name="isdelete" type="xs:anyType" />
          <xs:element name="isonsale" type="xs:anyType" />
          <xs:element name="isnew" type="xs:anyType" />
          <xs:element name="ishot" type="xs:anyType" />
          <xs:element name="likenum" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goodssku" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="codename" type="xs:string" />
          <xs:element name="idgoods" type="xs:long" />
          <xs:element name="price" type="xs:anyType" />
          <xs:element name="marketingprice" type="xs:anyType" />
          <xs:element name="stock" type="xs:anyType" />
          <xs:element name="isdeleted" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categorybannerrel" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="idcategory" type="xs:long" />
          <xs:element name="idbanner" type="xs:long" />
          <xs:element name="" type="category" nillable="true" minOccurs="0" />
          <xs:element name="" type="banner" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="url" type="xs:string" />
          <xs:element name="icon" type="xs:string" />
          <xs:element name="pid" type="xs:long" />
          <xs:element name="descript" type="xs:string" />
          <xs:element name="isdelete" type="xs:anyType" />
          <xs:element name="/***改字段只对一级菜单生效，也即：只有一级菜单可以显示在首页*/showindex" type="xs:anyType" />
          <xs:element name="sort" type="xs:anyType" />
          <xs:element name="bannerlist" type="banner" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cart" >
      <xs:complexContent>
       <xs:extension base="shopbaseentity">
         <xs:sequence>
          <xs:element name="iduser" type="xs:long" />
          <xs:element name="user" type="shopuser" nillable="true" minOccurs="0" />
          <xs:element name="idgoods" type="xs:long" />
          <xs:element name="" type="goods" nillable="true" minOccurs="0" />
          <xs:element name="idsku" type="xs:long" />
          <xs:element name="sku" type="goodssku" nillable="true" minOccurs="0" />
          <xs:element name="count" type="xs:anyType" />
          <xs:element name="price" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 