MasterThesisUSEF/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="simplelogger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummy-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatortopologybusinessservicetest" >
      <xs:sequence>
        <xs:element name="service" type="commonreferenceoperatortopologybusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="validationservice" type="commonreferenceoperatorvalidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequerybusinessservicetest" >
      <xs:sequence>
        <xs:element name="agr_domain" type="xs:string" />
        <xs:element name="brp_domain" type="xs:string" />
        <xs:element name="service" type="commonreferencequerybusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="congestionpointrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencemodetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorvalidationbusinessservicetest" >
      <xs:sequence>
        <xs:element name="service" type="commonreferenceoperatorvalidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdatebusinessservicetest" >
      <xs:sequence>
        <xs:element name="congestion_point_entity_address" type="xs:string" />
        <xs:element name="congestion_point_another_entity_address" type="xs:string" />
        <xs:element name="connection_entity_address" type="xs:string" />
        <xs:element name="dso_domain" type="xs:string" />
        <xs:element name="agr_domain" type="xs:string" />
        <xs:element name="dso_another_domain" type="xs:string" />
        <xs:element name="brp_domain" type="xs:string" />
        <xs:element name="service" type="commonreferenceupdatebusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="congestionpointrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="configcro" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="connectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperatorrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanyrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="congestionpointrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="congestionpointrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartyrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregatortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configcrotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configcro" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdatecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commonreferenceupdatebusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="controller" type="commonreferenceupdatecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequerycontrollertest" >
      <xs:sequence>
        <xs:element name="sender_domain" type="xs:string" />
        <xs:element name="dso_domain" type="xs:string" />
        <xs:element name="agr_domain" type="xs:string" />
        <xs:element name="GeneratedName" type="commonreferenceupdatebusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferencequerybusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configcro" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferencequerycontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanyrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<meterdatacompany>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperatorrepository" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="congestionpointrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<congestionpoint>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aggregatorrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<aggregator>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="connectionrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<connection>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartyrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<balanceresponsibleparty>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperator" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="congestionpoint" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="GeneratedName" type="distributionsystemoperator" nillable="true" minOccurs="0" />
        <xs:element name="connections" type="connection" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connection" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="GeneratedName" type="congestionpoint" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="balanceresponsibleparty" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregator" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="domain" type="xs:string" />
        <xs:element name="connections" type="connection" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompany" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsibleparty" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="domain" type="xs:string" />
        <xs:element name="connections" type="connection" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantaction" >
      <xs:sequence>
        <xs:element name="method" type="xs:string" />
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequerycontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingmessagecontroller<commonreferencequery>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="commonreferenceupdatebusinessservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="commonreferencequerybusinessservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="configcro" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdatecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingmessagecontroller<commonreferenceupdate>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="jmsservice" type="xs:anyType" />
          <xs:element name="" type="commonreferenceupdatebusinessservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperatorendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="exception_tag" type="xs:string" />
        <xs:element name="service" type="commonreferenceoperatortopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanyendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="commonreferenceoperatortopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartyendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="commonreferenceoperatortopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregatorendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="commonreferenceoperatortopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crohousekeepingcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdatebusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="congestionpointrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="configcro" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorvalidationbusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="aggregatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequerybusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="congestionpointrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatortopologybusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="aggregatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
        <xs:element name="validationservice" type="commonreferenceoperatorvalidationbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencemode" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configcro" >
      <xs:complexContent>
       <xs:extension base="abstractconfig">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configcroparam" >
      <xs:sequence>
        <xs:element name="propertyclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 