mpaas6/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mysqlentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mariadbentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db2entity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hsqldbentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="derbyentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapdbentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlserveentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timescaledbentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postgresqlentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oracleentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memcachedentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/datasourceid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mongodbentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="berkeleydbentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hbaseentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***名称*/name" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***状态*/status" type="xs:long" />
        <xs:element name="/***描述*/description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 