szakdolgozat/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testingwebapplicationtests" >
      <xs:sequence>
        <xs:element name="user_name" type="xs:string" />
        <xs:element name="user_id" type="xs:long" />
        <xs:element name="court_id" type="xs:long" />
        <xs:element name="GeneratedName" type="appcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="homecontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="courtrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userinformationrepository" nillable="true" minOccurs="0" />
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="reservationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="participantrepository" nillable="true" minOccurs="0" />
        <xs:element name="handleradapter" type="xs:anyType" />
        <xs:element name="handlermapping" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timetable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="membershiprepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<membership,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reservationrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<reservation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<payment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="participantrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<participant,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userinformationrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<userinformation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="courtrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<court,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="membership" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
        <xs:element name="startofmembership" type="xs:anyType" />
        <xs:element name="endofmembership" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="court" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="chargeid" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="paymentdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinformation" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="ismember" type="xs:string" />
        <xs:element name="startofmembership" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="customer" type="xs:long" />
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
        <xs:element name="courtid" type="xs:long" />
        <xs:element name="reason" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="dateofpayment" type="xs:anyType" />
        <xs:element name="dateofstart" type="xs:anyType" />
        <xs:element name="dateofexpiration" type="xs:anyType" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recorddto" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="customer" type="xs:string" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="courtid" type="xs:long" />
        <xs:element name="reason" type="xs:string" />
        <xs:element name="participants" type="participant" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chargerequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="amount" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="stripeemail" type="xs:string" />
        <xs:element name="stripetoken" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetimerecorddto" >
      <xs:sequence>
        <xs:element name="customer" type="xs:string" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="starttime" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="endtime" type="xs:string" />
        <xs:element name="courtid" type="xs:long" />
        <xs:element name="reason" type="xs:string" />
        <xs:element name="participants" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="courtrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reservationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="participantrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="courtrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reservationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="participantrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="membershiprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinformationcontroller" >
      <xs:sequence>
        <xs:element name="stripepublickey" type="xs:string" />
        <xs:element name="paymentsservice" type="stripeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="courtrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userinformationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paymentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reservationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="membershiprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcontroller" >
      <xs:sequence>
        <xs:element name="paymentsservice" type="stripeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="courtrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paymentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reservationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="membershiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="participantrepository" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="passwordencoder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="courtrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reservationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="participantrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myuserdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="membershiprepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stripeservice" >
      <xs:sequence>
        <xs:element name="secretkey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 