szakdolgozat/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="membership" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
        <xs:element name="startofmembership" type="xs:anyType" />
        <xs:element name="endofmembership" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="court" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="chargeid" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="paymentdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinformation" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="ismember" type="xs:string" />
        <xs:element name="startofmembership" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="customer" type="xs:long" />
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
        <xs:element name="courtid" type="xs:long" />
        <xs:element name="reason" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 