pc-old-tutorial-content/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="course" >
      <xs:sequence>
        <xs:element name="courseid" type="xs:long" />
        <xs:element name="coursename" type="xs:string" />
        <xs:element name="coursefee" type="xs:double" />
        <xs:element name="courseduration" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nativesqltheory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listinfoentityquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listinfoscalarquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateutil" >
      <xs:sequence>
        <xs:element name="sfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 