SE452_GROUP_3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="windycityflyersapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventory-add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventory-edit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="store-edit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="store-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="store-add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department-add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department-edit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product-add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product-edit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerindex" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer-review" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order-delivered-by-me" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order-waiting-for-delivery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order-delivering-by-me" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runner-review" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema-h2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-dev" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema-postgresql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerrolecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="storeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="shoppingcartservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="storeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerregistrationcontroller" >
      <xs:sequence>
        <xs:element name="userservice" type="customerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paymentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="storeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="departmentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="storageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productimgservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventorycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="storeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="departmentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="storeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="departmentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcartcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="shoppingcartservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cartproductsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="storeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="shoppingcartservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runnercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="runnerreviewservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingaccessdeniedhandler" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfiguration" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="accessdeniedhandler" type="loggingaccessdeniedhandler" nillable="true" minOccurs="0" />
          <xs:element name="userservice" type="userserviceimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="windycityflyersapplication" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="orderdate" type="xs:anyType" />
        <xs:element name="orderstatus" type="xs:long" />
        <xs:element name="//todo:addrelationtopaymenttablepaymentid" type="xs:long" />
        <xs:element name="//todo:addrelationtodeliverytabledeliveryid" type="xs:long" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="totalcost" type="xs:anyType" />
        <xs:element name="products" type="orderproducts" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="payment_type" type="xs:string" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="card_num" type="xs:long" />
        <xs:element name="payment_" type="xs:dateTime" />
        <xs:element name="cust_name" type="xs:string" />
        <xs:element name="cust_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventory" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="brand" type="xs:string" />
        <xs:element name="count" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logs" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="contenttype" type="xs:string" />
        <xs:element name="httpmethod" type="xs:string" />
        <xs:element name="statuscode" type="xs:string" />
        <xs:element name="protocol" type="xs:string" />
        <xs:element name="useragent" type="xs:string" />
        <xs:element name="headers" type="xs:anyType" />
        <xs:element name="cookies" type="xs:anyType" />
        <xs:element name="requestdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="store" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runnerreview" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="first_name" type="xs:string" />
        <xs:element name="last_name" type="xs:string" />
        <xs:element name="review" type="xs:string" />
        <xs:element name="reviewcomment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="product_brand" type="xs:string" />
        <xs:element name="product_name" type="xs:string" />
        <xs:element name="product_description" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="dept" type="department" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="store" nillable="true" minOccurs="0" />
        <xs:element name="imglist" type="productimg" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountprofiles" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="payment" type="xs:string" />
        <xs:element name="phone" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user_name" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderproducts" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="store" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="store_name" type="xs:string" />
        <xs:element name="street_address" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="deptlist" type="department" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="prodlist" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="dob" type="xs:anyType" />
        <xs:element name="//usermaynotwanttoregisterpassword" type="xs:string" />
        <xs:element name="telno" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartproducts" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cart" type="shoppingcart" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runner" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productimg" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="prod" type="product" nillable="true" minOccurs="0" />
        <xs:element name="imgpath" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcart" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="products" type="cartproducts" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="totalcost" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<admin,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="runnerreviewrepository" >
      <xs:complexContent>
       <xs:extension base="mongorepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<product,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<store,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productimgrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<productimg,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<department,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shoppingcartrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<shoppingcart,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="runnerrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<runner,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<payment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logsrepository" >
      <xs:complexContent>
       <xs:extension base="mongorepository<logs,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cartproductsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<cartproducts,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<customer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<order,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerregistrationdto" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="confirmemail" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="confirmpassword" type="xs:string" />
        <xs:element name="dob" type="xs:anyType" />
        <xs:element name="telno" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runnerreviewservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="storerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="userrepository" type="customerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="runnerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="adminrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentserviceimpl" >
      <xs:sequence>
        <xs:element name="productrepository" type="departmentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productimgserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productimgrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartproductsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productimgservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerserviceimpl" >
      <xs:sequence>
        <xs:element name="userrepository" type="customerrepository" nillable="true" minOccurs="0" />
        <xs:element name="passwordencoder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcartservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcartserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="shoppingcartrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesystemstorageservice" >
      <xs:sequence>
        <xs:element name="rootlocation" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartproductsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cartproductsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runnerreviewserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="runnerreviewrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runnerserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="runnerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runnerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 