organizer-app-data-service-ms/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="todolistitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="listid" type="xs:string" />
        <xs:element name="completed" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todomasterlistitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="//addedthelistmanuallytodolist" type="todolistitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 