mstore-cloud2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="init-client-data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1__init_schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="init-authority-data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="init-user-data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="confirm_access" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activation_email" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authinitializer" >
      <xs:sequence>
        <xs:element name="authorityrepo" type="authorityrepository" nillable="true" minOccurs="0" />
        <xs:element name="clientrepo" type="clientrepository" nillable="true" minOccurs="0" />
        <xs:element name="userrepo" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrest" >
      <xs:sequence>
        <xs:element name="userrepo" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="authorityrepo" type="authorityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mailservice" nillable="true" minOccurs="0" />
        <xs:element name="authbaseurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="roles" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonconfig" >
      <xs:sequence>
        <xs:element name="mailprops" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorizationserverconfig" >
      <xs:complexContent>
       <xs:extension base="authorizationserverconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdetailsserviceimpl" >
      <xs:sequence>
        <xs:element name="accountrepo" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientdetailsserviceimpl" >
      <xs:sequence>
        <xs:element name="clientrepo" type="clientrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailserviceimpl" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="templateengine" type="xs:anyType" />
        <xs:element name="sender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="activated" type="xs:anyType" />
        <xs:element name="activationkey" type="xs:string" />
        <xs:element name="resetkey" type="xs:string" />
        <xs:element name="reset" type="xs:dateTime" />
        <xs:element name="authorities" type="authority" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<client,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="secretkey" type="xs:string" />
        <xs:element name="redirecturi" type="xs:string" />
        <xs:element name="authorities" type="authority" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<authority,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authority" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 