JavaLearningSamples6/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bookentity" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="isbn" type="xs:string" />
          <xs:element name="overview" type="xs:string" />
          <xs:element name="ofpublish" type="xs:dateTime" />
          <xs:element name="ofreprint" type="xs:dateTime" />
          <xs:element name="acknowledgement" type="xs:string" />
          <xs:element name="copyright" type="xs:string" />
          <xs:element name="fact" type="xs:string" />
          <xs:element name="printedby" type="xs:string" />
          <xs:element name="coverdesigner" type="xs:string" />
          <xs:element name="coverphotourl" type="xs:string" />
          <xs:element name="price" type="xs:double" />
          <xs:element name="publishers" type="publisherentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="authors" type="authorentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="tags" type="tagentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorentity" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="mobile" type="xs:string" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="birth" type="xs:dateTime" />
          <xs:element name="country" type="xs:string" />
          <xs:element name="biography" type="xs:string" />
          <xs:element name="background" type="xs:string" />
          <xs:element name="nickname" type="xs:string" />
          <xs:element name="photourl" type="xs:string" />
          <xs:element name="books" type="bookentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookshelfentity" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="category" type="xs:string" />
          <xs:element name="capability" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="publisherentity" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="mobile" type="xs:string" />
          <xs:element name="contactpersonname" type="xs:string" />
          <xs:element name="contactpersonmobile" type="xs:string" />
          <xs:element name="website" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="facebookpage" type="xs:string" />
          <xs:element name="about" type="xs:string" />
          <xs:element name="background" type="xs:string" />
          <xs:element name="photourl" type="xs:string" />
          <xs:element name="books" type="bookentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tagentity" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="category" type="xs:string" />
          <xs:element name="books" type="bookentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 