mediapp-backend/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="detalleconsulta" >
      <xs:sequence>
        <xs:element name="iddetalle" type="xs:anyType" />
        <xs:element name="GeneratedName" type="consulta" nillable="true" minOccurs="0" />
        <xs:element name="diagnostico" type="xs:string" />
        <xs:element name="tratamiento" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuario" >
      <xs:sequence>
        <xs:element name="idusuario" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="//pordefectotodaslosmanytomanytieneunfetchtypeeagerroles" type="rol" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paciente" >
      <xs:sequence>
        <xs:element name="sql//select*frompacienteetpidpaciente" type="xs:anyType" />
        <xs:element name="nombres" type="xs:string" />
        <xs:element name="apellidos" type="xs:string" />
        <xs:element name="dni" type="xs:string" />
        <xs:element name="direccion" type="xs:string" />
        <xs:element name="telefono" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="especialidad" >
      <xs:sequence>
        <xs:element name="idespecialidad" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
        <xs:element name="idmenu" type="xs:anyType" />
        <xs:element name="icono" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="roles" type="rol" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaexamen" >
      <xs:sequence>
        <xs:element name="id" type="consulta" nillable="true" minOccurs="0" />
        <xs:element name="id" type="examen" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medico" >
      <xs:sequence>
        <xs:element name="idmedico" type="xs:anyType" />
        <xs:element name="nombres" type="xs:string" />
        <xs:element name="apellidos" type="xs:string" />
        <xs:element name="cmp" type="xs:string" />
        <xs:element name="//enspringdatacuandoseusaunavariableescritaencamelcase,cadavezqueencuentreunamayusculacolocaraguionbajofotourl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examen" >
      <xs:sequence>
        <xs:element name="idexamen" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rol" >
      <xs:sequence>
        <xs:element name="idrol" type="xs:anyType" />
        <xs:element name="//eltamañopordefectoes250yaceptanulosnombre" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consulta" >
      <xs:sequence>
        <xs:element name="idconsulta" type="xs:anyType" />
        <xs:element name="//integerid" type="paciente" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medico" nillable="true" minOccurs="0" />
        <xs:element name="especialidad" type="paciente" nillable="true" minOccurs="0" />
        <xs:element name="numconsultorio" type="xs:string" />
        <xs:element name="fecha" type="xs:anyType" />
        <xs:element name="detalleconsulta" type="detalleconsulta" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 