siasd/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="desacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="desarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="desaservices" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kecamatanrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kkmcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kkmrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kkmservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mapelrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kelasrepository" nillable="true" minOccurs="0" />
        <xs:element name="idsekolah" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kelascontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kelasrepository" nillable="true" minOccurs="0" />
        <xs:element name="idsekolah" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapelcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mapelrepository" nillable="true" minOccurs="0" />
        <xs:element name="idsekolah" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nilaimapelcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="nilaimapelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kelassiswacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kelassiswarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mengajarcontroller" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="GeneratedName" type="mengajarrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mengajarservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="gururepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kelasrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mapelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kecamatancontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kecamatanrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kecamatanservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kabupatenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="walikelascontroller" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="GeneratedName" type="walikelasrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="walikelasservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="gururepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kelasrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mstglobalcontroller" >
      <xs:sequence>
        <xs:element name="globalrepository" type="mstglobalrepository" nillable="true" minOccurs="0" />
        <xs:element name="globalservice" type="mstglobalservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pendidikancontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pendidikanservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provinsicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="provinsirepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siswacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="siswarepository" nillable="true" minOccurs="0" />
        <xs:element name="globalrepository" type="mstglobalrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="provinsirepository" nillable="true" minOccurs="0" />
        <xs:element name="idsekolah" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="gururepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nilaiekskulcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="nilaiekskulrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sekolahcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sekolahrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sekolahservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gurucontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="gururepository" nillable="true" minOccurs="0" />
        <xs:element name="idsekolah" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ekskulcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ekskulrepository" nillable="true" minOccurs="0" />
        <xs:element name="idsekolah" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kkmrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jenisnilaicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jenisnilairepository" nillable="true" minOccurs="0" />
        <xs:element name="idsekolah" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bahasibucontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bahasaibuservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kabupatencontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kabupatenrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kabupatenservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="provinsirepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httpsessionconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siasdpplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="walikelasrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<walikelasentity,integer>,pagingandsortingrepository<walikelasentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kecamatanrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<kecamatanentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mstglobalrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<globalentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kkmrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<kkm,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adminrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,integer>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bahasaiburepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<bahasaibu,string>,pagingandsortingrepository<bahasaibu,string>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nilaiekskulrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<nilaiekskulentity,integer>,pagingandsortingrepository<nilaiekskulentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="provinsirepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<provinsientity,integer>,pagingandsortingrepository<provinsientity,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gururepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<guruentity,integer>,pagingandsortingrepository<guruentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nilaimapelrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<nilaimapelentity,integer>,pagingandsortingrepository<nilaimapelentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sekolahrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<sekolahentity,long>,pagingandsortingrepository<sekolahentity,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="siswarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<siswaentity,integer>,pagingandsortingrepository<siswaentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kelassiswarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<kelassiswaentity,integer>,pagingandsortingrepository<kelassiswaentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jenisnilairepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<jenisnilai,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kabupatenrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<kabupatenentity,integer>,pagingandsortingrepository<kabupatenentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ekskulrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ekskulentity,integer>,pagingandsortingrepository<ekskulentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="randomcityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<randomcity,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kelasrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<kelasentity,integer>,pagingandsortingrepository<kelasentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pendidikanrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<pendidikan,string>,pagingandsortingrepository<pendidikan,string>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mapelrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mapelentity,integer>,pagingandsortingrepository<mapelentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="desarepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<desaentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mengajarrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mengajarentity,integer>,pagingandsortingrepository<mengajarentity,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="desaservices" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mengajarservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guruservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mstglobalservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="walikelasservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sekolahservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kecamatanservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pendidikanservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pendidikanrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kkmservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bahasaibuservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bahasaiburepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kabupatenservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitymvcconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="usersquery" type="xs:string" />
          <xs:element name="rolesquery" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="active" type="xs:string" />
        <xs:element name="non_active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resterror" >
      <xs:sequence>
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="code" type="xs:long" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessioncontext" >
      <xs:sequence>
        <xs:element name="nip" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="id_sekolah" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="qrcode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basepagintaion" >
      <xs:sequence>
        <xs:element name="sortby" type="xs:string" />
        <xs:element name="searchby" type="xs:string" />
        <xs:element name="searchvalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapeldto" >
      <xs:sequence>
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="namamapel" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mengajardto" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idmengajar" type="xs:long" />
        <xs:element name="idguru" type="xs:long" />
        <xs:element name="namaguru" type="xs:string" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="namakelas" type="xs:string" />
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="namamapel" type="xs:string" />
        <xs:element name="tahunajaran" type="xs:string" />
        <xs:element name="semester" type="xs:long" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siswadto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kecamatandto" >
      <xs:sequence>
        <xs:element name="idkecamatan" type="xs:long" />
        <xs:element name="idkabupaten" type="xs:long" />
        <xs:element name="namakabupaten" type="xs:string" />
        <xs:element name="kodekecamatan" type="xs:string" />
        <xs:element name="namakecamatan" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kelasdto" >
      <xs:sequence>
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="namakelas" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kkmdto" >
      <xs:sequence>
        <xs:element name="idkkm" type="xs:long" />
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="namamapel" type="xs:string" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="namakelas" type="xs:string" />
        <xs:element name="nilaikkm" type="xs:long" />
        <xs:element name="predikat" type="xs:string" />
        <xs:element name="active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="desadto" >
      <xs:sequence>
        <xs:element name="iddesa" type="xs:long" />
        <xs:element name="idkecamatan" type="xs:anyType" />
        <xs:element name="namakecamatan" type="xs:string" />
        <xs:element name="kodedesa" type="xs:string" />
        <xs:element name="namadesa" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gurudto" >
      <xs:sequence>
        <xs:element name="idguru" type="xs:long" />
        <xs:element name="namaguru" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sekolahdto" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="kodesekolah" type="xs:string" />
        <xs:element name="namasekolah" type="xs:string" />
        <xs:element name="tipesekolah" type="xs:anyType" />
        <xs:element name="nomorizinsekolah" type="xs:string" />
        <xs:element name="akreditasi" type="xs:string" />
        <xs:element name="alamat" type="xs:string" />
        <xs:element name="telepon" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="walikelasdto" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idwakel" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="namakelas" type="xs:string" />
        <xs:element name="idguru" type="xs:long" />
        <xs:element name="namaguru" type="xs:string" />
        <xs:element name="tahunajaran" type="xs:string" />
        <xs:element name="semester" type="xs:long" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kabupatendto" >
      <xs:sequence>
        <xs:element name="idkabupaten" type="xs:long" />
        <xs:element name="idprovinsi" type="xs:anyType" />
        <xs:element name="namaprovinsi" type="xs:string" />
        <xs:element name="kodekabupaten" type="xs:string" />
        <xs:element name="namakabupaten" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ekskulentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idekskul" type="xs:long" />
        <xs:element name="namaekskul" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nilaiekskulentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idnilaiekskul" type="xs:long" />
        <xs:element name="idsiswa" type="xs:long" />
        <xs:element name="idekskul" type="xs:long" />
        <xs:element name="nilai" type="xs:anyType" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jenisnilai" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idjenisnilai" type="xs:long" />
        <xs:element name="namajenisnilai" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kabupatenentity" >
      <xs:sequence>
        <xs:element name="idkabupaten" type="xs:long" />
        <xs:element name="idprovinsi" type="xs:anyType" />
        <xs:element name="kodekabupaten" type="xs:string" />
        <xs:element name="namakabupaten" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nilaimapelentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idnilaimapel" type="xs:long" />
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="idguru" type="xs:long" />
        <xs:element name="idsiswa" type="xs:long" />
        <xs:element name="kkm" type="xs:anyType" />
        <xs:element name="ki12" type="xs:anyType" />
        <xs:element name="ki3" type="xs:anyType" />
        <xs:element name="ki4" type="xs:anyType" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kelasentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="namakelas" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sekolahentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="kodesekolah" type="xs:string" />
        <xs:element name="namasekolah" type="xs:string" />
        <xs:element name="tipesekolah" type="xs:anyType" />
        <xs:element name="nomorizinsekolah" type="xs:string" />
        <xs:element name="akreditasi" type="xs:string" />
        <xs:element name="alamat" type="xs:string" />
        <xs:element name="telepon" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kkm" >
      <xs:sequence>
        <xs:element name="idkkm" type="xs:long" />
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="nilaikkm" type="xs:long" />
        <xs:element name="predikat" type="xs:string" />
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guruentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idguru" type="xs:long" />
        <xs:element name="nip" type="xs:string" />
        <xs:element name="namaguru" type="xs:string" />
        <xs:element name="jeniskelamin" type="xs:string" />
        <xs:element name="alamat" type="xs:string" />
        <xs:element name="telepon" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kelassiswaentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idkelassiswa" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="idsiswa" type="xs:long" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="walikelasentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idwakel" type="xs:long" />
        <xs:element name="idkelas" type="xs:anyType" />
        <xs:element name="idguru" type="xs:anyType" />
        <xs:element name="tahunajaran" type="xs:string" />
        <xs:element name="semester" type="xs:anyType" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mengajarentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idmengajar" type="xs:long" />
        <xs:element name="idguru" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="tahunajaran" type="xs:string" />
        <xs:element name="semester" type="xs:long" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="randomcity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapelentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="kodemapel" type="xs:string" />
        <xs:element name="namamapel" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="updateat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kecamatanentity" >
      <xs:sequence>
        <xs:element name="idkecamatan" type="xs:long" />
        <xs:element name="idkabupaten" type="xs:long" />
        <xs:element name="kodekecamatan" type="xs:string" />
        <xs:element name="namakecamatan" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="desaentity" >
      <xs:sequence>
        <xs:element name="iddesa" type="xs:long" />
        <xs:element name="idkecamatan" type="xs:anyType" />
        <xs:element name="kodedesa" type="xs:string" />
        <xs:element name="namadesa" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globalentity" >
      <xs:sequence>
        <xs:element name="idglobal" type="xs:long" />
        <xs:element name="kodeglobal" type="xs:string" />
        <xs:element name="typemaster" type="xs:string" />
        <xs:element name="keterangan" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pendidikan" >
      <xs:sequence>
        <xs:element name="idpendidikan" type="xs:string" />
        <xs:element name="namapendidikan" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="updateat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provinsientity" >
      <xs:sequence>
        <xs:element name="idprovinsi" type="xs:long" />
        <xs:element name="kodeprovinsi" type="xs:anyType" />
        <xs:element name="namaprovinsi" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pekerjaanentity" >
      <xs:sequence>
        <xs:element name="idpekerjaan" type="xs:long" />
        <xs:element name="namapekerjaan" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="active" type="xs:long" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bahasaibu" >
      <xs:sequence>
        <xs:element name="idbahasaibu" type="xs:string" />
        <xs:element name="namabahasaibu" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="updateat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siswaentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idsiswa" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="nis" type="xs:string" />
        <xs:element name="nisn" type="xs:string" />
        <xs:element name="namalengkap" type="xs:string" />
        <xs:element name="namapanggilan" type="xs:string" />
        <xs:element name="jeniskelamin" type="xs:string" />
        <xs:element name="agama" type="xs:string" />
        <xs:element name="kewarganegaraan" type="xs:string" />
        <xs:element name="tempatlahir" type="xs:string" />
        <xs:element name="tanggallahir" type="xs:dateTime" />
        <xs:element name="pendidikansebelumnya" type="xs:string" />
        <xs:element name="alamatsiswa" type="xs:string" />
        <xs:element name="namaayah" type="xs:string" />
        <xs:element name="tanggallahirayah" type="xs:dateTime" />
        <xs:element name="agamaayah" type="xs:string" />
        <xs:element name="pendidikanayah" type="xs:string" />
        <xs:element name="pekerjaanayah" type="xs:anyType" />
        <xs:element name="namaibu" type="xs:string" />
        <xs:element name="tanggallahiribu" type="xs:dateTime" />
        <xs:element name="agamaibu" type="xs:string" />
        <xs:element name="pendidikanibu" type="xs:string" />
        <xs:element name="pekerjaanibu" type="xs:anyType" />
        <xs:element name="alamatorangtua" type="xs:string" />
        <xs:element name="teleponorangtua" type="xs:string" />
        <xs:element name="iddesa" type="xs:anyType" />
        <xs:element name="idkecamatan" type="xs:anyType" />
        <xs:element name="idkabupaten" type="xs:anyType" />
        <xs:element name="idprovinsi" type="xs:anyType" />
        <xs:element name="kodepos" type="xs:long" />
        <xs:element name="rt" type="xs:long" />
        <xs:element name="rw" type="xs:long" />
        <xs:element name="namawali" type="xs:string" />
        <xs:element name="tanggallahirwali" type="xs:dateTime" />
        <xs:element name="agamawali" type="xs:string" />
        <xs:element name="pendidikanwali" type="xs:string" />
        <xs:element name="pekerjaanwali" type="xs:anyType" />
        <xs:element name="alamatwali" type="xs:string" />
        <xs:element name="teleponwali" type="xs:string" />
        <xs:element name="hubungandengankeluarga" type="xs:string" />
        <xs:element name="anakke" type="xs:long" />
        <xs:element name="saudarakandung" type="xs:anyType" />
        <xs:element name="saudaratiri" type="xs:anyType" />
        <xs:element name="saudaraangkat" type="xs:anyType" />
        <xs:element name="idbahasaibu" type="xs:anyType" />
        <xs:element name="photo" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userlogin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="randomcityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bundle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sekolah-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jenis-nilai-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jenis-nilai-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provinsi-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provinsi-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kelas-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kelas-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapel-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapel-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kecamatan-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kecamatan-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ekskul-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ekskul-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mstglobal-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="walikelas-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="walikelas-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="access-denied" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kkm-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kkm-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siswa-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siswa-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siswa-detail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kabupaten-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kabupaten-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navigation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sidebar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bahasa-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bahasa-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pendidikan-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pendidikan-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="desa-update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="desa-create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 