siasd/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ekskulentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idekskul" type="xs:long" />
        <xs:element name="namaekskul" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nilaiekskulentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idnilaiekskul" type="xs:long" />
        <xs:element name="idsiswa" type="xs:long" />
        <xs:element name="idekskul" type="xs:long" />
        <xs:element name="nilai" type="xs:anyType" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jenisnilai" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idjenisnilai" type="xs:long" />
        <xs:element name="namajenisnilai" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kabupatenentity" >
      <xs:sequence>
        <xs:element name="idkabupaten" type="xs:long" />
        <xs:element name="idprovinsi" type="xs:anyType" />
        <xs:element name="kodekabupaten" type="xs:string" />
        <xs:element name="namakabupaten" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nilaimapelentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idnilaimapel" type="xs:long" />
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="idguru" type="xs:long" />
        <xs:element name="idsiswa" type="xs:long" />
        <xs:element name="kkm" type="xs:anyType" />
        <xs:element name="ki12" type="xs:anyType" />
        <xs:element name="ki3" type="xs:anyType" />
        <xs:element name="ki4" type="xs:anyType" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kelasentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="namakelas" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sekolahentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="kodesekolah" type="xs:string" />
        <xs:element name="namasekolah" type="xs:string" />
        <xs:element name="tipesekolah" type="xs:anyType" />
        <xs:element name="nomorizinsekolah" type="xs:string" />
        <xs:element name="akreditasi" type="xs:string" />
        <xs:element name="alamat" type="xs:string" />
        <xs:element name="telepon" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kkm" >
      <xs:sequence>
        <xs:element name="idkkm" type="xs:long" />
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="nilaikkm" type="xs:long" />
        <xs:element name="predikat" type="xs:string" />
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guruentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idguru" type="xs:long" />
        <xs:element name="nip" type="xs:string" />
        <xs:element name="namaguru" type="xs:string" />
        <xs:element name="jeniskelamin" type="xs:string" />
        <xs:element name="alamat" type="xs:string" />
        <xs:element name="telepon" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kelassiswaentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idkelassiswa" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="idsiswa" type="xs:long" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="walikelasentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idwakel" type="xs:long" />
        <xs:element name="idkelas" type="xs:anyType" />
        <xs:element name="idguru" type="xs:anyType" />
        <xs:element name="tahunajaran" type="xs:string" />
        <xs:element name="semester" type="xs:anyType" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mengajarentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idmengajar" type="xs:long" />
        <xs:element name="idguru" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="tahunajaran" type="xs:string" />
        <xs:element name="semester" type="xs:long" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="randomcity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapelentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idmapel" type="xs:long" />
        <xs:element name="kodemapel" type="xs:string" />
        <xs:element name="namamapel" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kecamatanentity" >
      <xs:sequence>
        <xs:element name="idkecamatan" type="xs:long" />
        <xs:element name="idkabupaten" type="xs:long" />
        <xs:element name="kodekecamatan" type="xs:string" />
        <xs:element name="namakecamatan" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="desaentity" >
      <xs:sequence>
        <xs:element name="iddesa" type="xs:long" />
        <xs:element name="idkecamatan" type="xs:anyType" />
        <xs:element name="kodedesa" type="xs:string" />
        <xs:element name="namadesa" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globalentity" >
      <xs:sequence>
        <xs:element name="idglobal" type="xs:long" />
        <xs:element name="kodeglobal" type="xs:string" />
        <xs:element name="typemaster" type="xs:string" />
        <xs:element name="keterangan" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pendidikan" >
      <xs:sequence>
        <xs:element name="idpendidikan" type="xs:string" />
        <xs:element name="namapendidikan" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="updateat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provinsientity" >
      <xs:sequence>
        <xs:element name="idprovinsi" type="xs:long" />
        <xs:element name="kodeprovinsi" type="xs:anyType" />
        <xs:element name="namaprovinsi" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pekerjaanentity" >
      <xs:sequence>
        <xs:element name="idpekerjaan" type="xs:long" />
        <xs:element name="namapekerjaan" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="active" type="xs:long" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bahasaibu" >
      <xs:sequence>
        <xs:element name="idbahasaibu" type="xs:string" />
        <xs:element name="namabahasaibu" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="updateat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siswaentity" >
      <xs:sequence>
        <xs:element name="idsekolah" type="xs:long" />
        <xs:element name="idsiswa" type="xs:long" />
        <xs:element name="idkelas" type="xs:long" />
        <xs:element name="nis" type="xs:string" />
        <xs:element name="nisn" type="xs:string" />
        <xs:element name="namalengkap" type="xs:string" />
        <xs:element name="namapanggilan" type="xs:string" />
        <xs:element name="jeniskelamin" type="xs:string" />
        <xs:element name="agama" type="xs:string" />
        <xs:element name="kewarganegaraan" type="xs:string" />
        <xs:element name="tempatlahir" type="xs:string" />
        <xs:element name="tanggallahir" type="xs:dateTime" />
        <xs:element name="pendidikansebelumnya" type="xs:string" />
        <xs:element name="alamatsiswa" type="xs:string" />
        <xs:element name="namaayah" type="xs:string" />
        <xs:element name="tanggallahirayah" type="xs:dateTime" />
        <xs:element name="agamaayah" type="xs:string" />
        <xs:element name="pendidikanayah" type="xs:string" />
        <xs:element name="pekerjaanayah" type="xs:anyType" />
        <xs:element name="namaibu" type="xs:string" />
        <xs:element name="tanggallahiribu" type="xs:dateTime" />
        <xs:element name="agamaibu" type="xs:string" />
        <xs:element name="pendidikanibu" type="xs:string" />
        <xs:element name="pekerjaanibu" type="xs:anyType" />
        <xs:element name="alamatorangtua" type="xs:string" />
        <xs:element name="teleponorangtua" type="xs:string" />
        <xs:element name="iddesa" type="xs:anyType" />
        <xs:element name="idkecamatan" type="xs:anyType" />
        <xs:element name="idkabupaten" type="xs:anyType" />
        <xs:element name="idprovinsi" type="xs:anyType" />
        <xs:element name="kodepos" type="xs:long" />
        <xs:element name="rt" type="xs:long" />
        <xs:element name="rw" type="xs:long" />
        <xs:element name="namawali" type="xs:string" />
        <xs:element name="tanggallahirwali" type="xs:dateTime" />
        <xs:element name="agamawali" type="xs:string" />
        <xs:element name="pendidikanwali" type="xs:string" />
        <xs:element name="pekerjaanwali" type="xs:anyType" />
        <xs:element name="alamatwali" type="xs:string" />
        <xs:element name="teleponwali" type="xs:string" />
        <xs:element name="hubungandengankeluarga" type="xs:string" />
        <xs:element name="anakke" type="xs:long" />
        <xs:element name="saudarakandung" type="xs:anyType" />
        <xs:element name="saudaratiri" type="xs:anyType" />
        <xs:element name="saudaraangkat" type="xs:anyType" />
        <xs:element name="idbahasaibu" type="xs:anyType" />
        <xs:element name="photo" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="usercreated" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="userupdated" type="xs:anyType" />
        <xs:element name="update" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 