jLearn/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="updateshiptest" >
      <xs:complexContent>
       <xs:extension base="abstracttest">
         <xs:sequence>
          <xs:element name="" type="testshelper" nillable="true" minOccurs="0" />
          <xs:element name="mapper" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createshiptest" >
      <xs:complexContent>
       <xs:extension base="abstracttest">
         <xs:sequence>
          <xs:element name="mapper" type="xs:anyType" />
          <xs:element name="expected" type="shipinfotest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getshiptest" >
      <xs:complexContent>
       <xs:extension base="abstracttest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstracttest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getalltest" >
      <xs:complexContent>
       <xs:extension base="abstracttest">
         <xs:sequence>
          <xs:element name="" type="testshelper" nillable="true" minOccurs="0" />
          <xs:element name="mapper" type="xs:anyType" />
          <xs:element name="typereference" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getcounttest" >
      <xs:complexContent>
       <xs:extension base="abstracttest">
         <xs:sequence>
          <xs:element name="" type="testshelper" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deleteshiptest" >
      <xs:complexContent>
       <xs:extension base="abstracttest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shipinfotest" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="planet" type="xs:string" />
        <xs:element name="GeneratedName" type="shiptype" nillable="true" minOccurs="0" />
        <xs:element name="proddate" type="xs:long" />
        <xs:element name="isused" type="xs:anyType" />
        <xs:element name="speed" type="xs:double" />
        <xs:element name="crewsize" type="xs:anyType" />
        <xs:element name="rating" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testshelper" >
      <xs:sequence>
        <xs:element name="normal_json" type="xs:string" />
        <xs:element name="normal_json_with_id" type="xs:string" />
        <xs:element name="normal_json_with_rating" type="xs:string" />
        <xs:element name="no_speed_json" type="xs:string" />
        <xs:element name="empty_name_json" type="xs:string" />
        <xs:element name="negative_prod_date_json" type="xs:string" />
        <xs:element name="too_big_crew_size_json" type="xs:string" />
        <xs:element name="negative_crew_size_json" type="xs:string" />
        <xs:element name="too_big_planet_length_json" type="xs:string" />
        <xs:element name="no_is_used_json" type="xs:string" />
        <xs:element name="is_used_true_json" type="xs:string" />
        <xs:element name="is_used_false_json" type="xs:string" />
        <xs:element name="correct_compute_rating_json" type="xs:string" />
        <xs:element name="json_skeleton" type="xs:string" />
        <xs:element name="json_skeleton_2" type="xs:string" />
        <xs:element name="allships" type="shipinfotest" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shiporder" >
      <xs:sequence>
        <xs:element name="fieldname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shipcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="shipservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shipservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shipserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="shiprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mywebappinit" >
      <xs:complexContent>
       <xs:extension base="abstractannotationconfigdispatcherservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shiprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ship,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shipnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="badrequestexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shipspecification" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shiptype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ship" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="planet" type="xs:string" />
        <xs:element name="GeneratedName" type="shiptype" nillable="true" minOccurs="0" />
        <xs:element name="prod" type="xs:dateTime" />
        <xs:element name="isused" type="xs:anyType" />
        <xs:element name="speed" type="xs:double" />
        <xs:element name="crewsize" type="xs:anyType" />
        <xs:element name="rating" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.min.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 