Practical-JSF-Java-EE-84/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="topictest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewlistcontroller" >
      <xs:sequence>
        <xs:element name="_" type="reviewservice" nillable="true" minOccurs="0" />
        <xs:element name="_" type="sessiontools" nillable="true" minOccurs="0" />
        <xs:element name="_recentreviewlist" type="review" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_reviewinfos" type="reviewinfo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_field" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booklistcontroller" >
      <xs:sequence>
        <xs:element name="_" type="bookservice" nillable="true" minOccurs="0" />
        <xs:element name="_" type="sessiontools" nillable="true" minOccurs="0" />
        <xs:element name="_booklist" type="book" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_field" type="xs:string" />
        <xs:element name="_searchtext" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookeditor" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="_" type="xs:anyType" />
        <xs:element name="_" type="categoryservice" nillable="true" minOccurs="0" />
        <xs:element name="_" type="bookservice" nillable="true" minOccurs="0" />
        <xs:element name="_" type="xs:anyType" />
        <xs:element name="_" type="sessiontools" nillable="true" minOccurs="0" />
        <xs:element name="_categories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_selcategories" type="xs:anyType" />
        <xs:element name="_" type="book" nillable="true" minOccurs="0" />
        <xs:element name="_" type="topics" nillable="true" minOccurs="0" />
        <xs:element name="_languages" type="topics" nillable="true" minOccurs="0" />
        <xs:element name="_info" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryeditor" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="_" type="xs:anyType" />
        <xs:element name="_" type="categoryservice" nillable="true" minOccurs="0" />
        <xs:element name="_" type="sessiontools" nillable="true" minOccurs="0" />
        <xs:element name="_" type="topics" nillable="true" minOccurs="0" />
        <xs:element name="_deletedcategories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_categories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewlink" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="book" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="_id" type="xs:long" />
        <xs:element name="_title" type="xs:string" />
        <xs:element name="_subtitle" type="xs:string" />
        <xs:element name="_author" type="xs:string" />
        <xs:element name="_publisher" type="xs:string" />
        <xs:element name="_year" type="xs:long" />
        <xs:element name="_language" type="xs:string" />
        <xs:element name="_isbn" type="xs:string" />
        <xs:element name="_shorttext" type="xs:string" />
        <xs:element name="_reference" type="xs:string" />
        <xs:element name="_adreference" type="xs:string" />
        <xs:element name="_categories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_reviewlinks" type="reviewlink" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_reviews" type="review" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_translations" type="booktrans" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorytranslation" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:dateTime" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="book" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booktrans" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="page" >
      <xs:sequence>
        <xs:element name="_url" type="xs:string" />
        <xs:element name="_pages" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilities" >
      <xs:sequence>
        <xs:element name="_" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryconverter" >
      <xs:sequence>
        <xs:element name="_" type="categoryservice" nillable="true" minOccurs="0" />
        <xs:element name="_" type="sessiontools" nillable="true" minOccurs="0" />
        <xs:element name="_categories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewinfo" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topic" >
      <xs:sequence>
        <xs:element name="_key" type="xs:string" />
        <xs:element name="_title" type="xs:string" />
        <xs:element name="_outcome" type="xs:string" />
        <xs:element name="_info" type="xs:string" />
        <xs:element name="_imageenabled" type="xs:string" />
        <xs:element name="_imagedisabled" type="xs:string" />
        <xs:element name="_isenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessiontools" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="_" type="xs:anyType" />
        <xs:element name="_" type="mode" nillable="true" minOccurs="0" />
        <xs:element name="_language" type="xs:string" />
        <xs:element name="_searchtext" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topics" >
      <xs:sequence>
        <xs:element name="_activetopic" type="topic" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_topics" type="topic" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractservice" >
      <xs:sequence>
        <xs:element name="_em" type="xs:anyType" />
        <xs:element name="_entityclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewservice" >
      <xs:complexContent>
       <xs:extension base="abstractservice<review>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryservice" >
      <xs:complexContent>
       <xs:extension base="abstractservice<category>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookservice" >
      <xs:complexContent>
       <xs:extension base="abstractservice<book>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewpresenter" >
      <xs:sequence>
        <xs:element name="_" type="reviewservice" nillable="true" minOccurs="0" />
        <xs:element name="_" type="review" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookpresenter" >
      <xs:sequence>
        <xs:element name="_" type="sessiontools" nillable="true" minOccurs="0" />
        <xs:element name="_booklist" type="book" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_" type="bookservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glassfish-resources" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 