Practical-JSF-Java-EE-84/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="reviewlink" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="book" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="_id" type="xs:long" />
        <xs:element name="_title" type="xs:string" />
        <xs:element name="_subtitle" type="xs:string" />
        <xs:element name="_author" type="xs:string" />
        <xs:element name="_publisher" type="xs:string" />
        <xs:element name="_year" type="xs:long" />
        <xs:element name="_language" type="xs:string" />
        <xs:element name="_isbn" type="xs:string" />
        <xs:element name="_shorttext" type="xs:string" />
        <xs:element name="_reference" type="xs:string" />
        <xs:element name="_adreference" type="xs:string" />
        <xs:element name="_categories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_reviewlinks" type="reviewlink" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_reviews" type="review" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="_translations" type="booktrans" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorytranslation" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:dateTime" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="book" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booktrans" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 