swe-meetup/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="appengine-web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="useravailability" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="day" type="xs:string" />
        <xs:element name="start_" type="xs:dateTime" />
        <xs:element name="end_" type="xs:dateTime" />
        <xs:element name="user" type="applicationuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meeting" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="meeting_day" type="xs:string" />
        <xs:element name="meeting_start_" type="xs:dateTime" />
        <xs:element name="meeting_end_" type="xs:dateTime" />
        <xs:element name="//formeetingcalculationmeeting_duration" type="xs:double" />
        <xs:element name="group" type="meetupgroup" nillable="true" minOccurs="0" />
        <xs:element name="user" type="applicationuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetingpossibility" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="day" type="xs:string" />
        <xs:element name="start_" type="xs:dateTime" />
        <xs:element name="end_" type="xs:dateTime" />
        <xs:element name="vote_count" type="xs:long" />
        <xs:element name="group" type="meetupgroup" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupmembership" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="group" type="meetupgroup" nillable="true" minOccurs="0" />
        <xs:element name="user" type="applicationuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="memberships" type="groupmembership" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="groups" type="meetupgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetupgroup" >
      <xs:sequence>
        <xs:element name="group_id" type="xs:long" />
        <xs:element name="group_name" type="xs:string" />
        <xs:element name="user" type="applicationuser" nillable="true" minOccurs="0" />
        <xs:element name="memberships" type="groupmembership" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationfilter" >
      <xs:complexContent>
       <xs:extension base="usernamepasswordauthenticationfilter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconstants" >
      <xs:sequence>
        <xs:element name="secret" type="xs:string" />
        <xs:element name="//10daysexpiration_time" type="xs:long" />
        <xs:element name="token_prefix" type="xs:string" />
        <xs:element name="header_" type="xs:string" />
        <xs:element name="sign_up_url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurity" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="userdetailsservice" type="userdetailsserviceimpl" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwtauthorizationfilter" >
      <xs:complexContent>
       <xs:extension base="basicauthenticationfilter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationuserrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<applicationuser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meetupgrouprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<meetupgroup,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groupmembershiprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<groupmembership,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meetingpossibilityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<meetingpossibility,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meetingrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<meeting,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="useravailabilityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<useravailability,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meetupapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduleengine" >
      <xs:sequence>
        <xs:element name="day" type="xs:string" />
        <xs:element name="allschedules" type="fulldailyschedule" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fulldailyschedule" >
      <xs:sequence>
        <xs:element name="day" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="dailyschedule" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetailsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="applicationuserrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetingcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="meetingpossibilityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meetupgrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="applicationuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meetingrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="applicationuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="useravailabilityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetupgroupcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="meetupgrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groupmembershiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useravailabilityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meetingrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 