movies-api/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="geodata" >
      <xs:sequence>
        <xs:element name="state" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="cinemaid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cinema" >
      <xs:sequence>
        <xs:element name="cinemaid" type="xs:string" />
        <xs:element name="cinemaname" type="xs:string" />
        <xs:element name="cityname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviedata" >
      <xs:sequence>
        <xs:element name="cinemaid" type="xs:string" />
        <xs:element name="moviename" type="xs:string" />
        <xs:element name="movietiming" type="xs:anyType" />
        <xs:element name="totalseats" type="xs:long" />
        <xs:element name="availableseats" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 