sourcecode14/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="license" >
      <xs:sequence>
        <xs:element name="licenseid" type="xs:string" />
        <xs:element name="organizationid" type="xs:string" />
        <xs:element name="organizationname" type="xs:string" />
        <xs:element name="contactname" type="xs:string" />
        <xs:element name="contactphone" type="xs:string" />
        <xs:element name="contactemail" type="xs:string" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="licensetype" type="xs:string" />
        <xs:element name="licensemax" type="xs:anyType" />
        <xs:element name="licenseallocated" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 