s2container382/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="uncaughtexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emplist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empcreate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empcreateconfirm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empedit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empdaoimpl" >
      <xs:complexContent>
       <xs:extension base="jpadaosupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emp" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="empno" type="xs:anyType" />
        <xs:element name="empname" type="xs:string" />
        <xs:element name="mgrid" type="xs:anyType" />
        <xs:element name="hire" type="xs:dateTime" />
        <xs:element name="sal" type="xs:anyType" />
        <xs:element name="deptid" type="xs:anyType" />
        <xs:element name="versionno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empserviceimpl" >
      <xs:sequence>
        <xs:element name="dao" type="empdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crudtype" >
      <xs:sequence>
        <xs:element name="create" type="xs:long" />
        <xs:element name="read" type="xs:long" />
        <xs:element name="update" type="xs:long" />
        <xs:element name="delete" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emplistpage" >
      <xs:complexContent>
       <xs:extension base="abstractemppage">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractemppage" >
      <xs:complexContent>
       <xs:extension base="abstractcrudpage">
         <xs:sequence>
          <xs:element name="service" type="empservice" nillable="true" minOccurs="0" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="empno" type="xs:anyType" />
          <xs:element name="empname" type="xs:string" />
          <xs:element name="mgrid" type="xs:anyType" />
          <xs:element name="hire" type="xs:dateTime" />
          <xs:element name="sal" type="xs:anyType" />
          <xs:element name="deptid" type="xs:anyType" />
          <xs:element name="versionno" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="empeditpage" >
      <xs:complexContent>
       <xs:extension base="abstractemppage">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="empcreatepage" >
      <xs:complexContent>
       <xs:extension base="abstractemppage">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="empdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="empno" type="xs:anyType" />
        <xs:element name="empname" type="xs:string" />
        <xs:element name="mgrid" type="xs:anyType" />
        <xs:element name="hire" type="xs:dateTime" />
        <xs:element name="sal" type="xs:anyType" />
        <xs:element name="deptid" type="xs:anyType" />
        <xs:element name="versionno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empeditconfirmpage" >
      <xs:complexContent>
       <xs:extension base="abstractemppage">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="empcreateconfirmpage" >
      <xs:complexContent>
       <xs:extension base="abstractemppage">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractcrudpage" >
      <xs:sequence>
        <xs:element name="crudtype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 