MFL_REST/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="restcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="facilitiesrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="facilities" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="countfacilitiesbyprovincerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="countfacilitiesbytyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ownershiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operationstatusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="facilitytypesrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="facilitytypes" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="wardsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="wards" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="constituenciesrepository" nillable="true" minOccurs="0" />
        <xs:element name="constituency" type="constituencies" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="districtsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="districts" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="districttypesrepository" nillable="true" minOccurs="0" />
        <xs:element name="districttype" type="districttypes" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="provincesrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="provinces" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wards" >
      <xs:sequence>
        <xs:element name="//@jsonignoreid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="population" type="xs:string" />
        <xs:element name="populationdensity" type="xs:string" />
        <xs:element name="areasquarekilometer" type="xs:string" />
        <xs:element name="geometricalcoordinates" type="xs:string" />
        <xs:element name="constituency" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="province" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="districts" >
      <xs:sequence>
        <xs:element name="//@jsonignoreid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="population" type="xs:string" />
        <xs:element name="populationdensity" type="xs:string" />
        <xs:element name="areasquarekilometer" type="xs:string" />
        <xs:element name="geometricalcoordinates" type="xs:string" />
        <xs:element name="districttype" type="xs:string" />
        <xs:element name="province" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provinces" >
      <xs:sequence>
        <xs:element name="//@jsonignoreid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="population" type="xs:string" />
        <xs:element name="populationdensity" type="xs:string" />
        <xs:element name="areasquarekilometer" type="xs:string" />
        <xs:element name="geometricalcoordinates" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ownership" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operationstatus" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facilitytypecounts" >
      <xs:sequence>
        <xs:element name="count" type="xs:long" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constituencies" >
      <xs:sequence>
        <xs:element name="//@jsonignoreid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="population" type="xs:string" />
        <xs:element name="populationdensity" type="xs:string" />
        <xs:element name="areasquarekilometer" type="xs:string" />
        <xs:element name="geometricalcoordinates" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="province" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facilitytypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facilitybyprovince" >
      <xs:sequence>
        <xs:element name="count" type="xs:long" />
        <xs:element name="province" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="districttypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationtype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facilities" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="dhis2uid" type="xs:string" />
        <xs:element name="hmisuid" type="xs:string" />
        <xs:element name="smartcareguid" type="xs:string" />
        <xs:element name="elmisid" type="xs:string" />
        <xs:element name="ihrisid" type="xs:string" />
        <xs:element name="ownersip" type="xs:string" />
        <xs:element name="operationstatus" type="xs:string" />
        <xs:element name="facilitytype" type="xs:string" />
        <xs:element name="numberofbeds" type="xs:anyType" />
        <xs:element name="numberofcots" type="xs:anyType" />
        <xs:element name="numberofnurses" type="xs:anyType" />
        <xs:element name="numberofdoctors" type="xs:anyType" />
        <xs:element name="addressline" type="xs:string" />
        <xs:element name="addressline2" type="xs:string" />
        <xs:element name="postaladdress" type="xs:string" />
        <xs:element name="webaddress" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
        <xs:element name="catchmentpopulationheadcount" type="xs:anyType" />
        <xs:element name="catchmentpopulationcso" type="xs:anyType" />
        <xs:element name="longitude" type="xs:string" />
        <xs:element name="latitude" type="xs:string" />
        <xs:element name="geom" type="xs:string" />
        <xs:element name="locationtype" type="xs:string" />
        <xs:element name="ward" type="xs:string" />
        <xs:element name="constituency" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="numberofparamedics" type="xs:anyType" />
        <xs:element name="numberofmidwives" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="resourcename" type="xs:string" />
          <xs:element name="fieldname" type="xs:string" />
          <xs:element name="fieldvalue" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="badrequestexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="max_age_secs" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="districttypesrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<districttypes,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="provincesrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<provinces,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wardsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<wards,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="countfacilitiesbyprovincerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<facilitybyprovince,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="countfacilitiesbytyperepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<facilitytypecounts,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="operationstatusrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<operationstatus,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="districtsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<districts,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ownershiprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ownership,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="constituenciesrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<constituencies,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="facilitiesrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<facilities,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="facilitytypesrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<facilitytypes,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mflapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apiresponse" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mflapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 