MFL_REST/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="wards" >
      <xs:sequence>
        <xs:element name="//@jsonignoreid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="population" type="xs:string" />
        <xs:element name="populationdensity" type="xs:string" />
        <xs:element name="areasquarekilometer" type="xs:string" />
        <xs:element name="geometricalcoordinates" type="xs:string" />
        <xs:element name="constituency" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="province" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="districts" >
      <xs:sequence>
        <xs:element name="//@jsonignoreid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="population" type="xs:string" />
        <xs:element name="populationdensity" type="xs:string" />
        <xs:element name="areasquarekilometer" type="xs:string" />
        <xs:element name="geometricalcoordinates" type="xs:string" />
        <xs:element name="districttype" type="xs:string" />
        <xs:element name="province" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provinces" >
      <xs:sequence>
        <xs:element name="//@jsonignoreid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="population" type="xs:string" />
        <xs:element name="populationdensity" type="xs:string" />
        <xs:element name="areasquarekilometer" type="xs:string" />
        <xs:element name="geometricalcoordinates" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ownership" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operationstatus" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facilitytypecounts" >
      <xs:sequence>
        <xs:element name="count" type="xs:long" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constituencies" >
      <xs:sequence>
        <xs:element name="//@jsonignoreid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="population" type="xs:string" />
        <xs:element name="populationdensity" type="xs:string" />
        <xs:element name="areasquarekilometer" type="xs:string" />
        <xs:element name="geometricalcoordinates" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="province" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facilitytypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facilitybyprovince" >
      <xs:sequence>
        <xs:element name="count" type="xs:long" />
        <xs:element name="province" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="districttypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationtype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facilities" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="dhis2uid" type="xs:string" />
        <xs:element name="hmisuid" type="xs:string" />
        <xs:element name="smartcareguid" type="xs:string" />
        <xs:element name="elmisid" type="xs:string" />
        <xs:element name="ihrisid" type="xs:string" />
        <xs:element name="ownersip" type="xs:string" />
        <xs:element name="operationstatus" type="xs:string" />
        <xs:element name="facilitytype" type="xs:string" />
        <xs:element name="numberofbeds" type="xs:anyType" />
        <xs:element name="numberofcots" type="xs:anyType" />
        <xs:element name="numberofnurses" type="xs:anyType" />
        <xs:element name="numberofdoctors" type="xs:anyType" />
        <xs:element name="addressline" type="xs:string" />
        <xs:element name="addressline2" type="xs:string" />
        <xs:element name="postaladdress" type="xs:string" />
        <xs:element name="webaddress" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
        <xs:element name="catchmentpopulationheadcount" type="xs:anyType" />
        <xs:element name="catchmentpopulationcso" type="xs:anyType" />
        <xs:element name="longitude" type="xs:string" />
        <xs:element name="latitude" type="xs:string" />
        <xs:element name="geom" type="xs:string" />
        <xs:element name="locationtype" type="xs:string" />
        <xs:element name="ward" type="xs:string" />
        <xs:element name="constituency" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="numberofparamedics" type="xs:anyType" />
        <xs:element name="numberofmidwives" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 