mstore-cloud/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="cart" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="owner" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="details" type="detailcartitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartitem" >
      <xs:sequence>
        <xs:element name="cartid" type="xs:string" />
        <xs:element name="itemid" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 