sandbox1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="watch-impl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phonegap-impl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="packager-impl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plugin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codegen" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plugin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spec" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ios7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icomoon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tizen-icon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="file-header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_dock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_card" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_abstract" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_float" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_box" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_table" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_img" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_default" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_dataview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toast" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_listpaging" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_field" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_spinner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_messagebox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toast" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indicator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mask" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_palette" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_radio" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mask" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_radio" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_spinner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_field" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_checkbox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indicator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_messagebox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toast" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indicator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_messagebox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_radio" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_spinner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_field" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_checkbox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mask" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_messagebox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indicator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toast" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mask" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_spinner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_checkbox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_radio" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_field" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_messagebox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mask" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indicator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_field" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_radio" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_checkbox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_spinner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_listpaging" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indexbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_spinner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indexbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toast" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_dock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indicator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_radio" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indexbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_field" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="info_plain2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ofl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_recipes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_shadow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_layout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_vertical-align" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_flexible-box-model" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_effect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_houndstooth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_striped" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_cicada" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_noise" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_polka-dot" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_tablecloth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_stripes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_gradients" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_madras" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list-inline-block" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_pseudo-element" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_user-select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_block-inline-block" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_clearfix" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_keyframes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_drop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_top-edge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_shape" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_element" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_inline" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_skin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_media-queries" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_google-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_form" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_helper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_dropdown" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_overlay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_background" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_ui" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_infinity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_heart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_symbol" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_ellipse" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_square" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_pentagon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_rectangle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_octagon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_hexagon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_parallelogram" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_trapezoid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_polygon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_cutout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_tape" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_shared" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gemfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ios7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tizen-icon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theme_images" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updates" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="array" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="number" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="date" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="droppable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="build" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="packager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carparking" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icomoon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ios7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tizen-icon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carparking" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pkginfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ios7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tizen-icon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tizen-icon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ios7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icomoon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="c522acfaf60fe3e7b82a299fc6bb9672b7e05949" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="d871b75554bff12c623b8ff086411d68563a7ed3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="75d72daad4ff8177e5e1a6556e5b25625a1c6a55" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="c4b90104479edb60ba98c23a5fdbbcd7bef2c7b8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="full-page-master-bundle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cmd-packages" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cmd-packages" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="full-page-master-bundle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tizen-icon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ios7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="packager.temp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendance" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="" type="xs:dateTime" />
          <xs:element name="" type="employee" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="base" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="modifiedon" type="xs:dateTime" />
        <xs:element name="isdeleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="rolename" type="xs:string" />
          <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parkingslotresult" >
      <xs:sequence>
        <xs:element name="ps_id" type="xs:string" />
        <xs:element name="fk_employee" type="xs:string" />
        <xs:element name="parking" type="xs:dateTime" />
        <xs:element name="pr_id" type="xs:string" />
        <xs:element name="employeename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityuser" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parkingslot" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="slottype" type="xs:string" />
          <xs:element name="slotposition" type="xs:long" />
          <xs:element name="isavailable" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="file" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="parent" type="base" nillable="true" minOccurs="0" />
          <xs:element name="filename" type="xs:string" />
          <xs:element name="fileimagefile" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="isactive" type="xs:anyType" />
          <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parkingrequest" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="" type="employee" nillable="true" minOccurs="0" />
          <xs:element name="" type="parkingslot" nillable="true" minOccurs="0" />
          <xs:element name="parking" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="employeename" type="xs:string" />
          <xs:element name="employeeid" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="image" type="file" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parkingrequestserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<parkingrequest>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parkingrequestdaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roledaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendancedaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parkingslotjpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filedaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roledao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parkingrequestdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parkingslotdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendancedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fileservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parkingrequestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="parkingrequestservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="parkingslotservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parkingsloteditor" >
      <xs:complexContent>
       <xs:extension base="propertyeditorsupport">
         <xs:sequence>
          <xs:element name="" type="parkingslotservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attendancecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attendanceservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parkingslotcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="parkingslotservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="logger" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parkingrequesteditor" >
      <xs:complexContent>
       <xs:extension base="propertyeditorsupport">
         <xs:sequence>
          <xs:element name="" type="employeeservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parkingslotserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="parkingslotdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetailsservice" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="userdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parkingrequestserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="parkingrequestdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendanceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parkingslotservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parkingrequestservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="filedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="filedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendanceserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attendancedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="customsuccesshandler" type="xs:anyType" />
          <xs:element name="customfailurehandler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securitywebapplicationinitializer" >
      <xs:complexContent>
       <xs:extension base="abstractsecuritywebapplicationinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customsuccesshandler" >
      <xs:complexContent>
       <xs:extension base="simpleurlauthenticationsuccesshandler{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customfailurehandler" >
      <xs:complexContent>
       <xs:extension base="simpleurlauthenticationfailurehandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 