sandbox1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="attendance" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="" type="xs:dateTime" />
          <xs:element name="" type="employee" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="base" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="modifiedon" type="xs:dateTime" />
        <xs:element name="isdeleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="rolename" type="xs:string" />
          <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parkingslot" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="slottype" type="xs:string" />
          <xs:element name="slotposition" type="xs:long" />
          <xs:element name="isavailable" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="file" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="parent" type="base" nillable="true" minOccurs="0" />
          <xs:element name="filename" type="xs:string" />
          <xs:element name="fileimagefile" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="isactive" type="xs:anyType" />
          <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parkingrequest" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="" type="employee" nillable="true" minOccurs="0" />
          <xs:element name="" type="parkingslot" nillable="true" minOccurs="0" />
          <xs:element name="parking" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="employeename" type="xs:string" />
          <xs:element name="employeeid" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="image" type="file" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 