PersonInformation/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="addressline1" type="xs:string" />
        <xs:element name="addressline2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personinformation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptionadvisercontroller" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personinfotest" >
      <xs:sequence>
        <xs:element name="resttemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 