Spring_Pjs13/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="movieapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<member,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movierepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<movie,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movieimagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<movieimage,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<review,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movieservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movieimagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="mno" type="xs:long" />
          <xs:element name="title" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="mid" type="xs:long" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="nickname" type="xs:string" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="regdate" type="xs:anyType" />
        <xs:element name="moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="reviewnum" type="xs:long" />
          <xs:element name="grade" type="xs:long" />
          <xs:element name="comment" type="xs:string" />
          <xs:element name="" type="movie" nillable="true" minOccurs="0" />
          <xs:element name="" type="member" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movieimage" >
      <xs:sequence>
        <xs:element name="inum" type="xs:long" />
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="imgname" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="GeneratedName" type="movie" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moviecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadcontroller" >
      <xs:sequence>
        <xs:element name="/*1.이미지파일만저장2.동일한이름덮어쓰기문제3.파일저장폴더이름설정**/uploadpath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieimagedto" >
      <xs:sequence>
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="imgname" type="xs:string" />
        <xs:element name="path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadresultdto" >
      <xs:sequence>
        <xs:element name="filename" type="xs:string" />
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="folderpath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviedto" >
      <xs:sequence>
        <xs:element name="mno" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="imagedtolist" type="movieimagedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.min.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jquery.slim.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-lock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".travis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reviewrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movierepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movieimagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reviewrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 