Spring_Pjs14/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="reviewrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reviewrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="replyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movierepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movieimagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="boardrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadcontrollertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyserviceimpltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="replyservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardserviceimpltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="boardservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="boardrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springboot02applicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sign-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simple-link" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-oauth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-lock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consoleemailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmessage" >
      <xs:sequence>
        <xs:element name="to" type="xs:string" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="htmlemailservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="replyservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="boardservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="appproperties" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movieservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="membercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="signupvalidator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signupvalidator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nicknamevalidator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentuser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authmember" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="" type="member" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boardeventlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="boardrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notificationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardcreateevent" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="board" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<reply,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<member,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boardsearchrepositoryimpl" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notificationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<notification,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movierepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<movie,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boardrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<board,long>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boardsearchrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieimagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<movieimage,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<review,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="asyncconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationinterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appproperties" >
      <xs:sequence>
        <xs:element name="host" type="xs:string" />
        <xs:element name="uploadpath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagerequestdto" >
      <xs:sequence>
        <xs:element name="page" type="xs:long" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="keyword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boarddto" >
      <xs:sequence>
        <xs:element name="bno" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="replycount" type="xs:long" />
        <xs:element name="regdate,moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageresultdto" >
      <xs:sequence>
        <xs:element name="객체타입을dto객체로변환,화면에필요한페이지정보구성dtolist" type="xs:anyType" />
        <xs:element name="totalpage" type="xs:long" />
        <xs:element name="page" type="xs:long" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="start,end" type="xs:long" />
        <xs:element name="prev,next" type="xs:anyType" />
        <xs:element name="pagelist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviedto" >
      <xs:sequence>
        <xs:element name="mno" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="imagedtolist" type="movieimagedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadresultdto" >
      <xs:sequence>
        <xs:element name="filename" type="xs:string" />
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="folderpath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signupdto" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replydto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="replyer" type="xs:string" />
        <xs:element name="bno" type="xs:long" />
        <xs:element name="regdate,moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieimagedto" >
      <xs:sequence>
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="imgname" type="xs:string" />
        <xs:element name="path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springboot02application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="replyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="boardrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventpublisher" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="boardrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oauth2userdetailsservice" >
      <xs:complexContent>
       <xs:extension base="defaultoauth2userservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
        <xs:element name="//javamailsenderjavamailsender" type="xs:anyType" />
        <xs:element name="GeneratedName" type="appproperties" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movieimagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberservice" >
      <xs:complexContent>
       <xs:extension base="userdetailsservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reply" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="text" type="xs:string" />
          <xs:element name="replyer" type="xs:string" />
          <xs:element name="" type="board" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberrole" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="title" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="board" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="bno" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="writer" type="member" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistentlogins" >
      <xs:sequence>
        <xs:element name="series" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="lastused" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieimage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="imgname" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="GeneratedName" type="movie" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notification" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="number" type="xs:long" />
        <xs:element name="checked" type="xs:anyType" />
        <xs:element name="createdatetime" type="xs:anyType" />
        <xs:element name="GeneratedName" type="member" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notificationtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="nickname" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="fromsocial" type="xs:anyType" />
          <xs:element name="roleset" type="memberrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notificationtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="" type="movie" nillable="true" minOccurs="0" />
          <xs:element name="" type="member" nillable="true" minOccurs="0" />
          <xs:element name="grade" type="xs:long" />
          <xs:element name="content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="regdate" type="xs:anyType" />
        <xs:element name="moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationinterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 