OSS34/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mysqltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mysqltestservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="mydb" type="xs:anyType" />
          <xs:element name="myembeddeddb" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="utx" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="profession" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 