spring-boot-demos/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="book" >
      <xs:complexContent>
       <xs:extension base="domain">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="authorrefs" type="authorref" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorref" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="book" nillable="true" minOccurs="0" />
        <xs:element name="authorid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventrecord" >
      <xs:sequence>
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="event" type="xs:string" />
        <xs:element name="occuredat" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 