s2container331/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="listtest" >
      <xs:sequence>
        <xs:element name="fempty" type="xs:anyType" />
        <xs:element name="ffull" type="xs:anyType" />
        <xs:element name="fgheavy" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="empno" type="xs:long" />
        <xs:element name="ename" type="xs:string" />
        <xs:element name="deptno" type="xs:long" />
        <xs:element name="dname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedaoimpl" >
      <xs:sequence>
        <xs:element name="getemployeehandler" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedaoimpltest" >
      <xs:sequence>
        <xs:element name="ctx" type="testcontext" nillable="true" minOccurs="0" />
        <xs:element name="dao" type="employeedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greeting" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingmain" >
      <xs:sequence>
        <xs:element name="path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingclientimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="greeting" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jndi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingmain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parametername" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityreaderfactory" >
      <xs:sequence>
        <xs:element name="initialized" type="xs:anyType" />
        <xs:element name="providers" type="entityreaderprovider" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityreaderprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityreader" >
      <xs:complexContent>
       <xs:extension base="datareader">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mappingfileautodetector" >
      <xs:complexContent>
       <xs:extension base="abstractresourceautodetector">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceclassautodetector" >
      <xs:complexContent>
       <xs:extension base="abstractclassautodetector">
         <xs:sequence>
          <xs:element name="annotations" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydescprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydescfactory" >
      <xs:sequence>
        <xs:element name="initialized" type="xs:anyType" />
        <xs:element name="providers" type="entitydescprovider" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entitydescs" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributedesc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydesc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultpersistenceunitprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectableentitymanagerproxy" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entitymanagerprovider" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialectmanagerimpl" >
      <xs:sequence>
        <xs:element name="dialects" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitmanagerimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="usecontext" type="xs:anyType" />
        <xs:element name="providers" type="persistenceunitprovider" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummyentitymanagerdialect" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dialectmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitcontextimpl" >
      <xs:sequence>
        <xs:element name="entitymanagers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txscopedentitymanagerproxy" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="tm" type="xs:anyType" />
        <xs:element name="emf" type="entitymanagerfactory" nillable="true" minOccurs="0" />
        <xs:element name="pum" type="persistenceunitmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerproviderimpl" >
      <xs:sequence>
        <xs:element name="default_entity_manager_name" type="xs:string" />
        <xs:element name="container" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="entitymanagerbasename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummyentitymanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialectmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialectnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="sruntimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dialect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3desc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3requiresnewinterceptor" >
      <xs:complexContent>
       <xs:extension base="abstractejb3txinterceptor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractejb3txinterceptor" >
      <xs:complexContent>
       <xs:extension base="abstracttxinterceptor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ejb3requiredinterceptor" >
      <xs:complexContent>
       <xs:extension base="abstractejb3txinterceptor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ejb3interceptorsupportintertype" >
      <xs:complexContent>
       <xs:extension base="abstractintertype">
         <xs:sequence>
          <xs:element name="interceptorclasses" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aroundinvokesupportinterceptor" >
      <xs:sequence>
        <xs:element name="aroundinvoke" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3interceptorsupportinterceptor" >
      <xs:sequence>
        <xs:element name="interceptorclass" type="xs:anyType" />
        <xs:element name="interceptor" type="xs:anyType" />
        <xs:element name="interceptor" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3descimpl" >
      <xs:sequence>
        <xs:element name="beanclass" type="xs:anyType" />
        <xs:element name="beanclassname" type="xs:string" />
        <xs:element name="stateless" type="xs:anyType" />
        <xs:element name="stateful" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="businessinterfaces" type="xs:anyType" />
        <xs:element name="cmt" type="xs:anyType" />
        <xs:element name="interceptors" type="ejb3interceptordesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="businessmethods" type="ejb3businessmethoddesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="aroundinvokemethods" type="xs:anyType" />
        <xs:element name="postconstructmethods" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3interceptordescimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ejb3desc" nillable="true" minOccurs="0" />
        <xs:element name="interceptorclass" type="xs:anyType" />
        <xs:element name="interceptormethods" type="xs:anyType" />
        <xs:element name="postconstructmethods" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3businessmethoddescimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ejb3desc" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transactionattributetype" nillable="true" minOccurs="0" />
        <xs:element name="interceptors" type="ejb3interceptordesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invocationcontextimpl" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="lifecyclecallback" type="xs:anyType" />
        <xs:element name="contextdata" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3businessmethoddesc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3descfactory" >
      <xs:sequence>
        <xs:element name="initialized" type="xs:anyType" />
        <xs:element name="ejb3descs" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3interceptordesc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sejbexception" >
      <xs:complexContent>
       <xs:extension base="ejbexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="messagecode" type="xs:string" />
          <xs:element name="args" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="property" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binding" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="destroymethod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autobindingtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertytype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bindingtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="intertype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initmethod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accesstype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instancetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationhandler" >
      <xs:complexContent>
       <xs:extension base="constantannotationhandler">
         <xs:sequence>
          <xs:element name="initialized" type="xs:anyType" />
          <xs:element name="componentdefbuilders" type="componentdefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="propertydefbuilders" type="propertydefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="aspectdefbuilders" type="aspectdefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="intertypedefbuilders" type="intertypedefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="initmethoddefbuilders" type="initmethoddefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="destroymethoddefbuilders" type="destroymethoddefbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractaspectdefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3annotationaspectdefbuilder" >
      <xs:complexContent>
       <xs:extension base="abstractaspectdefbuilder">
         <xs:sequence>
          <xs:element name="txinterceptors" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aspectannotationaspectdefbuilder" >
      <xs:complexContent>
       <xs:extension base="abstractaspectdefbuilder">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="metaannotationaspectdefbuilder" >
      <xs:complexContent>
       <xs:extension base="abstractaspectdefbuilder">
         <xs:sequence>
          <xs:element name="metaannotationtype" type="xs:anyType" />
          <xs:element name="interceptornamespace" type="xs:string" />
          <xs:element name="interceptorsuffix" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2destroymethoddefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initmethoddefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertydefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentdefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitpropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencecontextpropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractpropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bindingpropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcepropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ejbpropertydefbuilder" >
      <xs:complexContent>
       <xs:extension base="abstractpropertydefbuilder<ejb>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="intertypedefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="destroymethoddefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3componentdefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojocomponentdefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3initmethoddefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2initmethoddefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2intertypedefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3intertypedefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aspectdefbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerpropertyannotationhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tostring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tracethrows" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trace" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sync" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="removesession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lifecycleadapter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectionsutil" >
      <xs:complexContent>
       <xs:extension base="e>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reflectionutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2assert" >
      <xs:complexContent>
       <xs:extension base="assert">
         <xs:sequence>
          <xs:element name="adapter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2testclassmethodsrunner" >
      <xs:complexContent>
       <xs:extension base="runner">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="testmethods" type="xs:anyType" />
          <xs:element name="testclass" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2testintrospector" >
      <xs:complexContent>
       <xs:extension base="throwable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2parameterized" >
      <xs:complexContent>
       <xs:extension base="s2testclassrunner">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testdatapreparer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataaccessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txbehaviortype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prerequisite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txbehavior" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configfileincluder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internaltestcontext" >
      <xs:complexContent>
       <xs:extension base="testcontext">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataaccessorimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="testcontext" nillable="true" minOccurs="0" />
        <xs:element name="tm" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="em" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="dbmetadata" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expecteddatareaderimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="expecteddataxlspaths" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dataaccessor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configfileincluderimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="configfiles" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationtestintrospector" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="beforeclassannotation" type="xs:anyType" />
          <xs:element name="afterclassannotation" type="xs:anyType" />
          <xs:element name="beforeannotation" type="xs:anyType" />
          <xs:element name="afterannotation" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="conventiontestintrospector" >
      <xs:complexContent>
       <xs:extension base="annotationtestintrospector">
         <xs:sequence>
          <xs:element name="nontestannotations" type="xs:anyType" />
          <xs:element name="nontestmethodnamepatterns" type="xs:anyType" />
          <xs:element name="beforeclassmethodname" type="xs:string" />
          <xs:element name="afterclassmethodname" type="xs:string" />
          <xs:element name="beforemethodname" type="xs:string" />
          <xs:element name="aftermethodname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testdatapreparerimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="testdataxlspaths" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dataaccessor" nillable="true" minOccurs="0" />
        <xs:element name="replacedb" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internaltestcontextimpl" >
      <xs:sequence>
        <xs:element name="handler" type="tigerannotationhandler" nillable="true" minOccurs="0" />
        <xs:element name="container" type="xs:anyType" />
        <xs:element name="servletcontext" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="servletconfig" type="xs:anyType" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="response" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="testclass" type="xs:anyType" />
        <xs:element name="test" type="xs:anyType" />
        <xs:element name="autoincluding" type="xs:anyType" />
        <xs:element name="autopreparing" type="xs:anyType" />
        <xs:element name="containerinitialized" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expecteddatareader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2easymocktestcase" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="//instancefieldsmocks" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="seasar2" >
      <xs:complexContent>
       <xs:extension base="runner">
         <xs:sequence>
          <xs:element name="s2junit4_config_key" type="xs:string" />
          <xs:element name="s2junit4_config_path" type="xs:string" />
          <xs:element name="configurationcontainer" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="delegate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2testclassrunner" >
      <xs:complexContent>
       <xs:extension base="testclassrunner">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2testmethodrunner" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="s2junit4_path" type="xs:string" />
          <xs:element name="test" type="xs:anyType" />
          <xs:element name="testclass" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="notifier" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="introspector" type="s2testintrospector" nillable="true" minOccurs="0" />
          <xs:element name="original" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="testcontext" type="internaltestcontext" nillable="true" minOccurs="0" />
          <xs:element name="boundfields" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="easymocktestcase" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="//instancefieldsmocks" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="requiredtx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notsupportedtx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mandatorytx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nevertx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requiresnewtx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dxoconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conversionrule" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datepattern" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationreader" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="next" type="xs:anyType" />
          <xs:element name="converterscache" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timestamppattern" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timepattern" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionattributetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionmanagementtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stateful" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="local" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionmanagement" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activationconfigproperty" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="predestroy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stateless" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remove" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejbs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagedriven" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postconstruct" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postactivate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remotehome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prepassivate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="init" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localhome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cascadetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namednativequeries" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlresultsetmappings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappedsuperclass" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preremove" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uniqueconstraint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discriminatorvalue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
        <xs:element name="persistence_provider" type="xs:string" />
        <xs:element name="providers" type="persistenceprovider" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="noncomment" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preupdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlresultsetmapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumerated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joincolumn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namedquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceproperty" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postpersist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondarytables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noresultexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="postupdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="column" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityexistsexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fieldresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embedded" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitytransaction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="onetoone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablegenerator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flushmodetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columnresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postremove" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitylisteners" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatedvalue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joincolumns" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencecontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inheritancetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queryhint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributeoverride" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="onetomany" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributeoverrides" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primarykeyjoincolumn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temporal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idclass" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencecontexttype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discriminatortype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapkey" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitynotfoundexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunittransactiontype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitinfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classtransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="associationoverride" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequencegenerator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transactionrequiredexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="discriminatorcolumn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="query" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excludesuperclasslisteners" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderby" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excludedefaultlisteners" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embeddedid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embeddable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generationtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jointable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondarytable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namedqueries" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonuniqueresultexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencecontexts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunits" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inheritance" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manytomany" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lob" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prepersist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lockmodetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manytoone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temporaltype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optimisticlockexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="entity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rollbackexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="primarykeyjoincolumns" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="associationoverrides" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namednativequery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptors" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excludeclassinterceptors" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excludedefaultinterceptors" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aroundinvoke" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invocationcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resources" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="declareroles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="denyall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runas" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permitall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolesallowed" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3tx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javaee5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="server" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooorm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dxointerceptortigertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationreadertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hogeorm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="barorm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceclassautodetectortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappingfileautodetectortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationhandlertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmls2containerbuilderxincludetest_included" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmls2containerbuilderxincludetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test$autoincludingtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test.s2testclassmethodsrunner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test.seasar2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test.s2testintrospector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conventiontestintrospectortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcontextimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcontextimpltest2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdatapreparerimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expecteddatareaderimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test$nonautoincludingtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="removesessiontest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerpropertyannotationhandlertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2junit4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aroundinvokesupportinterceptortest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceclassautodetectortest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="detector" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mappingfileautodetectortest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="detector" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectableentitymanagerproxytest" >
      <xs:complexContent>
       <xs:extension base="s2easymocktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="entitymanagerprovider" nillable="true" minOccurs="0" />
          <xs:element name="proxy" type="selectableentitymanagerproxy" nillable="true" minOccurs="0" />
          <xs:element name="foo" type="entitymanager" nillable="true" minOccurs="0" />
          <xs:element name="bar" type="entitymanager" nillable="true" minOccurs="0" />
          <xs:element name="" type="query" nillable="true" minOccurs="0" />
          <xs:element name="" type="entitytransaction" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityreaderfactorytest" >
      <xs:complexContent>
       <xs:extension base="easymocktestcase">
         <xs:sequence>
          <xs:element name="reader1" type="entityreader" nillable="true" minOccurs="0" />
          <xs:element name="reader2" type="entityreader" nillable="true" minOccurs="0" />
          <xs:element name="provider1" type="entityreaderprovider" nillable="true" minOccurs="0" />
          <xs:element name="provider2" type="entityreaderprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitydescfactorytest" >
      <xs:complexContent>
       <xs:extension base="easymocktestcase">
         <xs:sequence>
          <xs:element name="1" type="entitydesc" nillable="true" minOccurs="0" />
          <xs:element name="2" type="entitydesc" nillable="true" minOccurs="0" />
          <xs:element name="provider1" type="entitydescprovider" nillable="true" minOccurs="0" />
          <xs:element name="provider2" type="entitydescprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge19derived" >
      <xs:complexContent>
       <xs:extension base="hoge19base">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge14" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge15" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge10" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge21" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge19" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge18" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptor1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge18" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge11b" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge19base" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge15" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge14" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge11" >
      <xs:sequence>
        <xs:element name="foo" type="xs:string" />
        <xs:element name="em1" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="em2" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="em3" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="em4" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="em5" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="em6" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="emf1" type="entitymanagerfactory" nillable="true" minOccurs="0" />
        <xs:element name="emf2" type="entitymanagerfactory" nillable="true" minOccurs="0" />
        <xs:element name="emf3" type="entitymanagerfactory" nillable="true" minOccurs="0" />
        <xs:element name="emf4" type="entitymanagerfactory" nillable="true" minOccurs="0" />
        <xs:element name="emf5" type="entitymanagerfactory" nillable="true" minOccurs="0" />
        <xs:element name="emf6" type="entitymanagerfactory" nillable="true" minOccurs="0" />
        <xs:element name="ds1" type="xs:anyType" />
        <xs:element name="ds2" type="xs:anyType" />
        <xs:element name="ds3" type="xs:anyType" />
        <xs:element name="ds4" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge20" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge3" >
      <xs:sequence>
        <xs:element name="component" type="xs:string" />
        <xs:element name="aspect" type="xs:string" />
        <xs:element name="inter_type" type="xs:string" />
        <xs:element name="aaa_binding" type="xs:string" />
        <xs:element name="bbb_binding" type="xs:string" />
        <xs:element name="init_method" type="xs:string" />
        <xs:element name="destroy_method" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptor2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge12" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmls2containerbuilderxincludetest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge17" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge16" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge13" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerannotationhandlerfactorytest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tigerannotationhandlertest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="handler" type="tigerannotationhandler" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ihoge13" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
        <xs:element name="bbb" type="xs:string" />
        <xs:element name="ccc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge16" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge17" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge12" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge2" >
      <xs:sequence>
        <xs:element name="fff" type="xs:string" />
        <xs:element name="ggg" type="xs:string" />
        <xs:element name="hhh" type="xs:string" />
        <xs:element name="lll" type="xs:string" />
        <xs:element name="mmm" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge11a" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seasar2test" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="log" type="xs:string" />
          <xs:element name="count" type="xs:long" />
          <xs:element name="txactive" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationtestintrospectortest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="introspector" type="annotationtestintrospector" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testdatapreparerimpltest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="testdatapreparer" nillable="true" minOccurs="0" />
          <xs:element name="" type="testcontext" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="conventiontestintrospectortest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="introspector" type="conventiontestintrospector" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expecteddatareaderimpltest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="reader" type="expecteddatareader" nillable="true" minOccurs="0" />
          <xs:element name="" type="testcontext" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="internaltestcontextimpltest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="testctx" type="internaltestcontext" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
        <xs:element name="foo" type="ifoo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ifoo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hoge2" >
      <xs:sequence>
        <xs:element name="foo" type="ifoo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ihoge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerpropertyannotationhandlertarget" >
      <xs:sequence>
        <xs:element name="readfield_" type="xs:long" />
        <xs:element name="writefield_" type="xs:long" />
        <xs:element name="readwritefield_" type="xs:long" />
        <xs:element name="nonefield_" type="xs:long" />
        <xs:element name="field_" type="xs:long" />
        <xs:element name="field_" type="xs:long" />
        <xs:element name="field_" type="xs:long" />
        <xs:element name="nonannotatedfield_" type="xs:long" />
        <xs:element name="field_" type="xs:anyType" />
        <xs:element name="arrayfield_" type="xs:string" />
        <xs:element name="arrayfield_" type="xs:long" />
        <xs:element name="test" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerpropertyannotationhandlertarget2" >
      <xs:sequence>
        <xs:element name="defaultfield" type="xs:long" />
        <xs:element name="readfield" type="xs:long" />
        <xs:element name="writefield" type="xs:long" />
        <xs:element name="readwritefield" type="xs:long" />
        <xs:element name="nonefield" type="xs:long" />
        <xs:element name="hasgetter" type="xs:long" />
        <xs:element name="hassetter" type="xs:long" />
        <xs:element name="hasgettersetter" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tigerpropertyannotationhandlertest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="path" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aopproxytest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="removesessiontest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="returnvaluetest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tracetest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="synctest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="returnvalueinterceptor" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tostringtest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tracethrowstest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="container" type="xs:anyType" />
          <xs:element name="handler" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="returnvalue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="methodutiltigertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationutiltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reflectionutiltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beantomapdxocommandtigertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="map_conversion" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beantobeandxocommandtigertest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="builder" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hogehoge" >
      <xs:sequence>
        <xs:element name="foo" type="xs:string" />
        <xs:element name="bar" type="xs:anyType" />
        <xs:element name="baz" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dxointerceptortigertest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tigerannotationreadertest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beantobeandxocommandbuildertigertest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="builder" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beantomapdxocommandbuildertigertest" >
      <xs:complexContent>
       <xs:extension base="s2frameworktestcase">
         <xs:sequence>
          <xs:element name="builder" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hoge" >
      <xs:sequence>
        <xs:element name="foo" type="xs:long" />
        <xs:element name="bar" type="xs:string" />
        <xs:element name="baz" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 