ShallWe/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="kakaouserinfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtservice" >
      <xs:sequence>
        <xs:element name="encrypt_" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="data_key" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kakaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="likecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="likedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="postdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="likedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="articletagdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tagdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="participantdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="participantdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="postdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="likedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="templateengine" type="xs:anyType" />
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
        <xs:element name="kakao" type="kakaoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kakaouserinfo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="likedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="articletagdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tagdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="participantdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commentdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="postdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accusedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<participant,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accusedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<accuse,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="postdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<post,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tagdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<tag,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="articletagdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<articletag,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<auth,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="likedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<like,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<comment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwtexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webblogapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articletagresponse" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="tagid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articletag" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="tagid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tagresponse" >
      <xs:sequence>
        <xs:element name="tagid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="articleid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tag" >
      <xs:sequence>
        <xs:element name="tagid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="articleid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="like" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="articleid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="likeresponse" >
      <xs:sequence>
        <xs:element name="isliked" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accuseres" >
      <xs:sequence>
        <xs:element name="accuseid" type="xs:long" />
        <xs:element name="reporter" type="xs:string" />
        <xs:element name="defendant" type="xs:string" />
        <xs:element name="accusekind" type="xs:long" />
        <xs:element name="accusereason" type="xs:string" />
        <xs:element name="accuseurl" type="xs:string" />
        <xs:element name="accuseconfirm" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accuselistresponse" >
      <xs:sequence>
        <xs:element name="accuselist" type="accuseresponse" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accuseresponse" >
      <xs:sequence>
        <xs:element name="accuseid" type="xs:long" />
        <xs:element name="reporter" type="xs:string" />
        <xs:element name="defendant" type="xs:string" />
        <xs:element name="accusekind" type="xs:long" />
        <xs:element name="accusereason" type="xs:string" />
        <xs:element name="accuseurl" type="xs:string" />
        <xs:element name="accuseconfirm" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accuse" >
      <xs:sequence>
        <xs:element name="accuseid" type="xs:long" />
        <xs:element name="reporter" type="xs:string" />
        <xs:element name="defendant" type="xs:string" />
        <xs:element name="accusekind" type="xs:long" />
        <xs:element name="accusereason" type="xs:string" />
        <xs:element name="accuseurl" type="xs:string" />
        <xs:element name="accuseconfirm" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accuserequest" >
      <xs:sequence>
        <xs:element name="accuseid" type="xs:long" />
        <xs:element name="accusekind" type="xs:long" />
        <xs:element name="reporter" type="xs:string" />
        <xs:element name="defendant" type="xs:string" />
        <xs:element name="accusereason" type="xs:string" />
        <xs:element name="accuseurl" type="xs:string" />
        <xs:element name="accuseconfirm" type="xs:long" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryresponse" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userresponse" >
      <xs:sequence>
        <xs:element name="//useruserid" type="xs:long" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="birthday" type="xs:anyType" />
        <xs:element name="userpo" type="xs:long" />
        <xs:element name="articlecount" type="xs:long" />
        <xs:element name="reviewcount" type="xs:long" />
        <xs:element name="likecount" type="xs:long" />
        <xs:element name="tempcount" type="xs:long" />
        <xs:element name="articlelist" type="post" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="reviewlist" type="post" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="likelist" type="post" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="templist" type="post" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="grade" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="grade" type="xs:long" />
        <xs:element name="userpo" type="xs:long" />
        <xs:element name="birthday" type="xs:anyType" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signuprequest" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="grade" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="authnumber" type="xs:long" />
        <xs:element name="birthday" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authrequest" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenrequest" >
      <xs:sequence>
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginrequest" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="minprice" type="xs:long" />
        <xs:element name="sumprice" type="xs:long" />
        <xs:element name="likenum" type="xs:long" />
        <xs:element name="commentnum" type="xs:long" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="urllink" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="temp" type="xs:long" />
        <xs:element name="endtime" type="xs:anyType" />
        <xs:element name="//생성시간은자동생성createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postrequest" >
      <xs:sequence>
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="minprice" type="xs:long" />
        <xs:element name="myprice" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="urllink" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="likenum" type="xs:long" />
        <xs:element name="commentnum" type="xs:long" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="tags" type="xs:string" />
        <xs:element name="temp" type="xs:long" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="endtime" type="xs:string" />
        <xs:element name="endt" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postresponse" >
      <xs:sequence>
        <xs:element name="//postarticleid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="temp" type="xs:long" />
        <xs:element name="minprice" type="xs:long" />
        <xs:element name="endtime" type="xs:anyType" />
        <xs:element name="urllink" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="likenum" type="xs:long" />
        <xs:element name="commentnum" type="xs:long" />
        <xs:element name="isliked" type="xs:anyType" />
        <xs:element name="sumprice" type="xs:long" />
        <xs:element name="tags" type="xs:anyType" />
        <xs:element name="commentlist" type="commentres" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="timeago" type="xs:string" />
        <xs:element name="partlist" type="participant" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postsearchrequest" >
      <xs:sequence>
        <xs:element name="subject" type="xs:string" />
        <xs:element name="word" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postlistresponse" >
      <xs:sequence>
        <xs:element name="postlist" type="postresponse" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantrequest" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantresponse" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantlistresponse" >
      <xs:sequence>
        <xs:element name="participantlist" type="participant" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant" >
      <xs:sequence>
        <xs:element name="no" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auth" >
      <xs:sequence>
        <xs:element name="authid" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="authnumber" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="commentid" type="xs:long" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentrequest" >
      <xs:sequence>
        <xs:element name="commentid" type="xs:long" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentres" >
      <xs:sequence>
        <xs:element name="commentid" type="xs:long" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="timeago" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentresponse" >
      <xs:sequence>
        <xs:element name="content" type="xs:string" />
        <xs:element name="commentlist" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app.23d215b4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chunk-vendors.05a0fedd.js" >
      <xs:complexContent>
       <xs:extension base="and">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="app.23d215b4.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app.6677d2eb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mail-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chunk-vendors.05a0fedd.js" >
      <xs:complexContent>
       <xs:extension base="and">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="app.23d215b4.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app.23d215b4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app.6677d2eb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 