spring-boot-demos1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="demoapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v0_0_2__create_event_records_table" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v0_0_0__init" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v0_0_1__create_authors_table" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="outgoingevent" >
      <xs:complexContent>
       <xs:extension base="domain>">
         <xs:sequence>
          <xs:element name="event" type="xs:string" />
          <xs:element name="occuredat" type="xs:anyType" />
          <xs:element name="id" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="domainevent" >
      <xs:complexContent>
       <xs:extension base="aggregate<?>>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commandevent" >
      <xs:complexContent>
       <xs:extension base="baseevent<t>{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventrecordrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventrecord" >
      <xs:sequence>
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="occuredat" type="xs:anyType" />
        <xs:element name="event" type="xs:string" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseevent" >
      <xs:complexContent>
       <xs:extension base="applicationevent{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="occuredat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appeventlogger" >
      <xs:sequence>
        <xs:element name="repository" type="eventrecordrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domain" >
      <xs:complexContent>
       <xs:extension base="aggregate<long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aggregate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deleteauthorcommandreceived" >
      <xs:complexContent>
       <xs:extension base="commandevent<deleteauthorcommand>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="domaineventrecord" >
      <xs:sequence>
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="occuredat" type="xs:anyType" />
        <xs:element name="event" type="xs:string" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorupdated" >
      <xs:complexContent>
       <xs:extension base="domainevent<author>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorcreated" >
      <xs:complexContent>
       <xs:extension base="domainevent<author>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authordeleted" >
      <xs:complexContent>
       <xs:extension base="domainevent<author>{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updateauthorcommandreceived" >
      <xs:complexContent>
       <xs:extension base="commandevent<updateauthorcommand>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createauthorcommandreceived" >
      <xs:complexContent>
       <xs:extension base="commandevent<createauthorcommand>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorcontroller" >
      <xs:sequence>
        <xs:element name="service" type="authorservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorview" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author" >
      <xs:complexContent>
       <xs:extension base="domain">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorspec" >
      <xs:sequence>
        <xs:element name="specs" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createauthorcommand" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateauthorcommand" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deleteauthorcommand" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="author" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queryparamnotsupportedexception" >
      <xs:complexContent>
       <xs:extension base="illegalargumentexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authornotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<author,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultauthorservice" >
      <xs:sequence>
        <xs:element name="repository" type="authorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="publisher" type="xs:anyType" />
        <xs:element name="authoreventbinding" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 