spring-boot-demos1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="eventrecord" >
      <xs:sequence>
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="occuredat" type="xs:anyType" />
        <xs:element name="event" type="xs:string" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domaineventrecord" >
      <xs:sequence>
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="occuredat" type="xs:anyType" />
        <xs:element name="event" type="xs:string" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author" >
      <xs:complexContent>
       <xs:extension base="domain">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 