s2container259/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="faces-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empconfirm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empedit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emplist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teedaerrorpage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customizer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oc4j-jta" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="env" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appmessages_ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teedacustomize" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app_aop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convention" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="label" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="label" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2container" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="empno" type="xs:anyType" />
        <xs:element name="empname" type="xs:string" />
        <xs:element name="mgrid" type="xs:anyType" />
        <xs:element name="hire" type="xs:dateTime" />
        <xs:element name="sal" type="xs:anyType" />
        <xs:element name="deptid" type="xs:anyType" />
        <xs:element name="versionno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emp" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="empno" type="xs:anyType" />
        <xs:element name="empname" type="xs:string" />
        <xs:element name="mgrid" type="xs:anyType" />
        <xs:element name="hire" type="xs:dateTime" />
        <xs:element name="sal" type="xs:anyType" />
        <xs:element name="deptid" type="xs:anyType" />
        <xs:element name="versionno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractcrudpage" >
      <xs:sequence>
        <xs:element name="crudtype" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crudtype" >
      <xs:sequence>
        <xs:element name="create" type="xs:long" />
        <xs:element name="read" type="xs:long" />
        <xs:element name="update" type="xs:long" />
        <xs:element name="delete" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empdxo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emplistpage" >
      <xs:complexContent>
       <xs:extension base="abstractemppage">
         <xs:sequence>
          <xs:element name="empitems" type="empdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="empindex" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="empservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empeditpage" >
      <xs:complexContent>
       <xs:extension base="abstractemppage">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractemppage" >
      <xs:complexContent>
       <xs:extension base="abstractcrudpage">
         <xs:sequence>
          <xs:element name="" type="empservice" nillable="true" minOccurs="0" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="empno" type="xs:anyType" />
          <xs:element name="empname" type="xs:string" />
          <xs:element name="mgrid" type="xs:anyType" />
          <xs:element name="hire" type="xs:dateTime" />
          <xs:element name="sal" type="xs:anyType" />
          <xs:element name="deptid" type="xs:anyType" />
          <xs:element name="versionno" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="empconfirmpage" >
      <xs:complexContent>
       <xs:extension base="abstractemppage">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="empserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="empdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="empdxo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 