spring-boot-java-ref6/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mockwebtestclientexampletests" >
      <xs:sequence>
        <xs:element name="webclient" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recipeserviceimpltest" >
      <xs:sequence>
        <xs:element name="recipeservice" type="recipeserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reciperepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5recipeappapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5recipeappapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<category,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unitofmeasurerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<unitofmeasure,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reciperepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<recipe,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="recipeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recipeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reciperepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recipebootstrap" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categoryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reciperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="unitofmeasurerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="recipeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="difficulty" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="recipe" nillable="true" minOccurs="0" />
        <xs:element name="recipenotes" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="recipes" type="recipe" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recipe" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="preptime" type="xs:anyType" />
        <xs:element name="cooktime" type="xs:anyType" />
        <xs:element name="servings" type="xs:anyType" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="directions" type="xs:string" />
        <xs:element name="ingredients" type="ingredient" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="image" type="xs:anyType" />
        <xs:element name="GeneratedName" type="difficulty" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notes" nillable="true" minOccurs="0" />
        <xs:element name="categories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unitofmeasure" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ingredient" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="uom" type="unitofmeasure" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="recipe" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 