Store/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discount" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="showalert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="directory" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="file" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="datahandler" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constant" >
      <xs:sequence>
        <xs:element name="file" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:string" />
        <xs:element name="image" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userauthorization" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datahandlerimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datahandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="file" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrole" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restemployee" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="branchrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restproduct" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="controller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="branchrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restbranch" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="branchrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="standardentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="code" type="xs:long" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="author" type="xs:string" />
          <xs:element name="date" type="xs:string" />
          <xs:element name="photo" type="xs:string" />
          <xs:element name="dataphoto" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="" type="discount" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="branch" >
      <xs:complexContent>
       <xs:extension base="standardentity">
         <xs:sequence>
          <xs:element name="address" type="xs:string" />
          <xs:element name="startwork" type="xs:long" />
          <xs:element name="endwork" type="xs:long" />
          <xs:element name="contactnumber" type="xs:string" />
          <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="discount" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="numberdiscount" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
          <xs:element name="bonuses" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="standardentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="upts" type="xs:dateTime" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="delete" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="standardentity">
         <xs:sequence>
          <xs:element name="login" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="birth" type="xs:dateTime" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="surname" type="xs:string" />
          <xs:element name="middlename" type="xs:string" />
          <xs:element name="phonenumber" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="overwritepassword" type="xs:anyType" />
          <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="branch" type="branch" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shopapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="userauthorization" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateproxytypeadapter" >
      <xs:complexContent>
       <xs:extension base="typeadapter<hibernateproxy>">
         <xs:sequence>
          <xs:element name="factory" type="xs:anyType" />
          <xs:element name="context" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateutil" >
      <xs:sequence>
        <xs:element name="registry" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="branchrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<branch,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<employee,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<product,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<employee,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 