Store/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="standardentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="code" type="xs:long" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="author" type="xs:string" />
          <xs:element name="date" type="xs:string" />
          <xs:element name="photo" type="xs:string" />
          <xs:element name="dataphoto" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="" type="discount" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="branch" >
      <xs:complexContent>
       <xs:extension base="standardentity">
         <xs:sequence>
          <xs:element name="address" type="xs:string" />
          <xs:element name="startwork" type="xs:long" />
          <xs:element name="endwork" type="xs:long" />
          <xs:element name="contactnumber" type="xs:string" />
          <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="discount" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="numberdiscount" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
          <xs:element name="bonuses" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="standardentity">
         <xs:sequence>
          <xs:element name="login" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="birth" type="xs:dateTime" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="surname" type="xs:string" />
          <xs:element name="middlename" type="xs:string" />
          <xs:element name="phonenumber" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="overwritepassword" type="xs:anyType" />
          <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="branch" type="branch" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 