repo2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jpatest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpqltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="/***:声明主键的配置*@generatedvalue:配置主键的生成策略identity自增（mysql）swquence序列(oracle)*@column配置属性和字段的映射关系*///客户主键custid" type="xs:long" />
        <xs:element name="//客户名称custname" type="xs:string" />
        <xs:element name="//客户来源custsource" type="xs:string" />
        <xs:element name="//客户所属行业custindustry" type="xs:string" />
        <xs:element name="//客户级别custlevel" type="xs:string" />
        <xs:element name="//客户地址custaddress" type="xs:string" />
        <xs:element name="//客户的联系方式custphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpautils" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 