JustGrocery/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login_details_ad_test" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="" type="login_details_ad" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="retailertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="_ret" type="retailer" nillable="true" minOccurs="0" />
          <xs:element name="id" type="xs:double" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="//chair_description" type="xs:string" />
          <xs:element name="location" type="xs:string" />
          <xs:element name="contact" type="xs:string" />
          <xs:element name="post_code" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wishlist_tests" >
      <xs:complexContent>
       <xs:extension base="testcase{">
         <xs:sequence>
          <xs:element name="" type="wish_list" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="retailercontrollertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wishlistdaotest" >
      <xs:complexContent>
       <xs:extension base="testcase{">
         <xs:sequence>
          <xs:element name="" type="wishlistmanager" nillable="true" minOccurs="0" />
          <xs:element name="sf" type="xs:anyType" />
          <xs:element name="wishlist1" type="wish_list" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="comparisondaotest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="" type="comparisondao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="database" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createwishlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createwish_list-ps" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wish_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="root-context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="success_profile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="regsuccess" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wrongusername" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsuccess" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="savedwishlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postcomparison" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="include" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wishlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userlogininfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notlogged" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="include_login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchcomparisonpage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="database" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin_user_history" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="logged_" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin_product_history" >
      <xs:sequence>
        <xs:element name="searchid" type="xs:long" />
        <xs:element name="product" type="xs:string" />
        <xs:element name="searched_" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product_prices" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="price_" type="xs:dateTime" />
        <xs:element name="product_id" type="xs:long" />
        <xs:element name="//@joincolumn(name" type="xs:string" />
        <xs:element name="product_image" type="xs:string" />
        <xs:element name="GeneratedName" type="retailer" nillable="true" minOccurs="0" />
        <xs:element name="product_name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="retailer" >
      <xs:sequence>
        <xs:element name="//@joincolumn(name" type="xs:double" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="contact" type="xs:string" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="post_code" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login_details_ad" >
      <xs:sequence>
        <xs:element name="login_number" type="xs:long" />
        <xs:element name="email_id" type="xs:string" />
        <xs:element name="login_time" type="xs:anyType" />
        <xs:element name="logout_time" type="xs:anyType" />
        <xs:element name="elapsed_minutes" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wish_list" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email_id" type="xs:string" />
        <xs:element name="wishlist_name" type="xs:string" />
        <xs:element name="list_of_products" type="xs:string" />
        <xs:element name="upd_time" type="xs:dateTime" />
        <xs:element name="is_active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="passwd" type="xs:string" />
        <xs:element name="email_id" type="xs:string" />
        <xs:element name="first_name" type="xs:string" />
        <xs:element name="last_name" type="xs:string" />
        <xs:element name="post_code" type="xs:string" />
        <xs:element name="mobile_no" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="adminmanager" nillable="true" minOccurs="0" />
        <xs:element name="retail" type="retailer" nillable="true" minOccurs="0" />
        <xs:element name="email_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wishlistcomparisoncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="comparisondao" type="comparisondaoint" nillable="true" minOccurs="0" />
        <xs:element name="comparisonservicelayer" type="comparisonserviceint" nillable="true" minOccurs="0" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="loginmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="loginservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="loginmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logoutcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loginmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="loginservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wishlistcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="wishlistmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="wishlistservicemanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="productservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user_controller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comparisondao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginmanager" >
      <xs:complexContent>
       <xs:extension base="serializable{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wishlistservicemanager" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adminmanager" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="comparisonservicelayer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="comparisondao" type="comparisondaoint" nillable="true" minOccurs="0" />
        <xs:element name="obj" type="xs:anyType" />
        <xs:element name="unique_retailers" type="retailer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="byretailer_map" type="xs:anyType" />
        <xs:element name="byretailer_map_tbl" type="xs:anyType" />
        <xs:element name="full_prices_for_avg_map" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loginmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productdaoimplementation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comparisondaoint" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productserviceimplementation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productmanager" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wishlistservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="wishlistmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbadminmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="email_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbwishlistmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wishlistmanager" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="databaseproductmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comparisonserviceint" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dbloginmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 