JustGrocery/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="admin_product_history" >
      <xs:sequence>
        <xs:element name="searchid" type="xs:long" />
        <xs:element name="product" type="xs:string" />
        <xs:element name="searched_" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product_prices" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="price_" type="xs:dateTime" />
        <xs:element name="product_id" type="xs:long" />
        <xs:element name="//@joincolumn(name" type="xs:string" />
        <xs:element name="product_image" type="xs:string" />
        <xs:element name="GeneratedName" type="retailer" nillable="true" minOccurs="0" />
        <xs:element name="product_name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="retailer" >
      <xs:sequence>
        <xs:element name="//@joincolumn(name" type="xs:double" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="contact" type="xs:string" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="post_code" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login_details_ad" >
      <xs:sequence>
        <xs:element name="login_number" type="xs:long" />
        <xs:element name="email_id" type="xs:string" />
        <xs:element name="login_time" type="xs:anyType" />
        <xs:element name="logout_time" type="xs:anyType" />
        <xs:element name="elapsed_minutes" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wish_list" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email_id" type="xs:string" />
        <xs:element name="wishlist_name" type="xs:string" />
        <xs:element name="list_of_products" type="xs:string" />
        <xs:element name="upd_time" type="xs:dateTime" />
        <xs:element name="is_active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="passwd" type="xs:string" />
        <xs:element name="email_id" type="xs:string" />
        <xs:element name="first_name" type="xs:string" />
        <xs:element name="last_name" type="xs:string" />
        <xs:element name="post_code" type="xs:string" />
        <xs:element name="mobile_no" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 