learning-jpa4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="memberid" type="xs:long" />
        <xs:element name="order" type="xs:dateTime" />
        <xs:element name="status" type="orderstatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="itemid" type="xs:long" />
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="//주문가격orderprice" type="xs:long" />
        <xs:element name="//주문수량count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//이름name" type="xs:string" />
        <xs:element name="//가격price" type="xs:long" />
        <xs:element name="//재고수량stockquantity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 