Spring_Assignment6/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="circlecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="circleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="circlerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<circle,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="activitystreamstep6backendapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="circleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="circleserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="circlerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingaspectcircleservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingaspectcircle" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="circle" >
      <xs:sequence>
        <xs:element name="circlename" type="xs:string" />
        <xs:element name="creatorid" type="xs:string" />
        <xs:element name="createddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingtestcase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="circlecontrollertest" >
      <xs:sequence>
        <xs:element name="circle" type="xs:anyType" />
        <xs:element name="userauth" type="xs:anyType" />
        <xs:element name="GeneratedName" type="circle" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="circleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="circlecontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 