springcloud-kubernetes-jenkins-terraform1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archivoentidad" >
      <xs:complexContent>
       <xs:extension base="auditoriaentidad<string>">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="nombre" type="xs:string" />
          <xs:element name="grupo" type="xs:string" />
          <xs:element name="data" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tipoerror" >
      <xs:sequence>
        <xs:element name="nombreclase" type="xs:string" />
        <xs:element name="procesar" type="xs:anyType" />
        <xs:element name="estado" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manejadorerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaconfiguracion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfiguracion" >
      <xs:sequence>
        <xs:element name="ruta_principal" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generalconfiguracion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archivorepositorio" >
      <xs:complexContent>
       <xs:extension base="crudrepository<archivoentidad,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="archivoservicio" >
      <xs:complexContent>
       <xs:extension base="serviciobase<string,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="archivoservicioimpl" >
      <xs:complexContent>
       <xs:extension base="serviciobaseimpl<string,">
         <xs:sequence>
          <xs:element name="" type="archivorepositorio" nillable="true" minOccurs="0" />
          <xs:element name="" type="archivomodelotoarchivoentidadconvertidor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usuariosesion" >
      <xs:sequence>
        <xs:element name="usuario_sesion" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archivocontrolador" >
      <xs:complexContent>
       <xs:extension base="controladorbaseimpl<string,">
         <xs:sequence>
          <xs:element name="" type="archivoservicio" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="archivoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archivomodelotoarchivoentidadconvertidor" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 