springcloud-kubernetes-jenkins-terraform1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="archivoentidad" >
      <xs:complexContent>
       <xs:extension base="auditoriaentidad<string>">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="nombre" type="xs:string" />
          <xs:element name="grupo" type="xs:string" />
          <xs:element name="data" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 