SMPUOS_2017_Tim_33/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="rezervacijaservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rezervacijaservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rezervacijarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="projekcijaservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="projekcijarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rezervacijaapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_update_white_36px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_delete_forever_white_36px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_power_settings_new_white_36px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pregledrezervacija" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pregledaktivnihotkazanih" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pocetna" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rezervacijekorisnika" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rezervacijaapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rezervacijatip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projekcija" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="idfilma" type="xs:long" />
        <xs:element name="nazivfilma" type="xs:string" />
        <xs:element name="idbioskopa" type="xs:long" />
        <xs:element name="nazivbioskopa" type="xs:string" />
        <xs:element name="idsale" type="xs:long" />
        <xs:element name="oznakasale" type="xs:string" />
        <xs:element name="datumprojekcije" type="xs:dateTime" />
        <xs:element name="rezervacije" type="rezervacija" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="brojaktivnihrezervacija" type="xs:long" />
        <xs:element name="brojotkazanihrezervacija" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rezervacija" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="idkorisnika" type="xs:long" />
        <xs:element name="datumrezervacije" type="xs:dateTime" />
        <xs:element name="datumistekarezervacije" type="xs:dateTime" />
        <xs:element name="tip" type="rezervacijatip" nillable="true" minOccurs="0" />
        <xs:element name="brojsedista" type="xs:long" />
        <xs:element name="brojredasedista" type="xs:long" />
        <xs:element name="//@jsonbackreference" type="projekcija" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projekcijarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<projekcija,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rezervacijarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<rezervacija,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rezervacijaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projekcijaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projekcijaservicejpa" >
      <xs:sequence>
        <xs:element name="repository" type="projekcijarepository" nillable="true" minOccurs="0" />
        <xs:element name="//feignclient" type="xs:anyType" />
        <xs:element name="//feignclient" type="xs:anyType" />
        <xs:element name="//feignclient" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rezervacijaservicejpa" >
      <xs:sequence>
        <xs:element name="repository" type="rezervacijarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="projekcijarepository" nillable="true" minOccurs="0" />
        <xs:element name="//feignclient" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projekcijacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projekcijaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rezervacijacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rezervacijaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 