SMPUOS_2017_Tim_33/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="projekcija" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="idfilma" type="xs:long" />
        <xs:element name="nazivfilma" type="xs:string" />
        <xs:element name="idbioskopa" type="xs:long" />
        <xs:element name="nazivbioskopa" type="xs:string" />
        <xs:element name="idsale" type="xs:long" />
        <xs:element name="oznakasale" type="xs:string" />
        <xs:element name="datumprojekcije" type="xs:dateTime" />
        <xs:element name="rezervacije" type="rezervacija" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="brojaktivnihrezervacija" type="xs:long" />
        <xs:element name="brojotkazanihrezervacija" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rezervacija" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="idkorisnika" type="xs:long" />
        <xs:element name="datumrezervacije" type="xs:dateTime" />
        <xs:element name="datumistekarezervacije" type="xs:dateTime" />
        <xs:element name="tip" type="rezervacijatip" nillable="true" minOccurs="0" />
        <xs:element name="brojsedista" type="xs:long" />
        <xs:element name="brojredasedista" type="xs:long" />
        <xs:element name="//@jsonbackreference" type="projekcija" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 