Jobfind/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="companysize" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="companies" type="company" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="website" type="xs:string" />
        <xs:element name="about" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="location" type="xs:long" />
        <xs:element name="industryid" type="xs:long" />
        <xs:element name="numbere" type="xs:long" />
        <xs:element name="transient" type="industry" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="countries" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="companysize" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="passwordconfirm" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countries" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="company" type="company" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="industry" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="industryname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="job" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="position" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="minimumexperienceyears" type="xs:long" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="minimumdegree" type="xs:string" />
        <xs:element name="slots" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="contrat" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="published" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 