Java2-Cursuri23/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pisicaserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pisicadao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceprovider" >
      <xs:sequence>
        <xs:element name="registry" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pisicaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pisicadaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pisicadao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mainframe" >
      <xs:sequence>
        <xs:element name="textfield1" type="xs:anyType" />
        <xs:element name="adaugabutton" type="xs:anyType" />
        <xs:element name="textfield2" type="xs:anyType" />
        <xs:element name="findbutton" type="xs:anyType" />
        <xs:element name="textfield3" type="xs:anyType" />
        <xs:element name="modificabutton" type="xs:anyType" />
        <xs:element name="textfield4" type="xs:anyType" />
        <xs:element name="stergebutton1" type="xs:anyType" />
        <xs:element name="textfield5" type="xs:anyType" />
        <xs:element name="textfield6" type="xs:anyType" />
        <xs:element name="actualizeazabutton" type="xs:anyType" />
        <xs:element name="mainpanel" type="xs:anyType" />
        <xs:element name="GeneratedName" type="pisicaservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pisica" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mainframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pisica" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 