planflow/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="planflowapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="palletservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="locationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="palletservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="palletrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="locationrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planflowapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="locid" type="xs:long" />
        <xs:element name="rack" type="xs:string" />
        <xs:element name="xcoor" type="xs:string" />
        <xs:element name="ycoor" type="xs:string" />
        <xs:element name="GeneratedName" type="pallet" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pallet" >
      <xs:sequence>
        <xs:element name="palletid" type="xs:long" />
        <xs:element name="ptype" type="xs:string" />
        <xs:element name="GeneratedName" type="location" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="palletrepo" >
      <xs:complexContent>
       <xs:extension base="crudrepository<pallet,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="locationrepo" >
      <xs:complexContent>
       <xs:extension base="crudrepository<location,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportdata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assumptions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="erd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="opsvariables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planningtools" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="success" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 