myeyes1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mybeanpostprocessor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanlifecycle" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myinstantiationawarebeanpostprocessor" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="humaninterface" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mybeanfactorypostprocessor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicea" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="beanname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testjpa" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typestest" >
      <xs:sequence>
        <xs:element name="a" type="xs:anyType" />
        <xs:element name="b" type="xs:anyType" />
        <xs:element name="c" type="xs:anyType" />
        <xs:element name="d" type="xs:anyType" />
        <xs:element name="e" type="xs:anyType" />
        <xs:element name="f" type="xs:anyType" />
        <xs:element name="mapstringinteger" type="xs:anyType" />
        <xs:element name="innerfloatdouble" type="xs:anyType" />
        <xs:element name="listsetstringarray" type="xs:anyType" />
        <xs:element name="liststring" type="xs:anyType" />
        <xs:element name="setstring" type="xs:anyType" />
        <xs:element name="outerinner" type="xs:anyType" />
        <xs:element name="setstringarray" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generictest" >
      <xs:sequence>
        <xs:element name="list" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="startdbmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testpropereditor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sleephelper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javatools" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testinvocationhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bussness" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testspringaop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="t" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sleepaspectj" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bussnesimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="human" >
      <xs:sequence>
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sleepable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myeyes-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myeyes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ehcache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uservalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testjpa" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modelsqlbuilder" >
      <xs:sequence>
        <xs:element name="tablename" type="xs:string" />
        <xs:element name="idname" type="xs:string" />
        <xs:element name="mappedclass" type="t" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mappedfields" type="xs:anyType" />
        <xs:element name="mappedpropertiesfields" type="xs:anyType" />
        <xs:element name="mappedproperties" type="xs:anyType" />
        <xs:element name="parametervalues" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpatohibernateutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="uid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="productdesc" type="xs:string" />
        <xs:element name="productname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persondao" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="basedao<t>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdaoimpl" >
      <xs:complexContent>
       <xs:extension base="inheritabledao<user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genericdaoimp" >
      <xs:complexContent>
       <xs:extension base="abstractbasedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inheritabledao" >
      <xs:complexContent>
       <xs:extension base="abstractbasedao<t>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractbasedao" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="entityclass" type="t" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="modelsqlbuilder" type="t" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persondaoimpl" >
      <xs:sequence>
        <xs:element name="//@persistencecontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myservletrequestlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mycontrolleradvice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myresponsebodyadvice" >
      <xs:complexContent>
       <xs:extension base="httpmessageconverter<?>>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="uservalidator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="regcontroller" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexcontroller" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myhttpsessionattributelistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="userdao" type="userdaoimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="genericdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personserviceimpl" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="persondao" nillable="true" minOccurs="0" />
        <xs:element name="//@persistencecontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 