rewardpoint4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="adminservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="serverport" type="xs:string" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="encoder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="GeneratedName" type="baseclient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="admindao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="encoder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="loginname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="state" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="birthday" type="xs:dateTime" />
        <xs:element name="avator" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="reg" type="xs:dateTime" />
        <xs:element name="up" type="xs:dateTime" />
        <xs:element name="last" type="xs:dateTime" />
        <xs:element name="online" type="xs:long" />
        <xs:element name="interest" type="xs:string" />
        <xs:element name="personality" type="xs:string" />
        <xs:element name="fanscount" type="xs:anyType" />
        <xs:element name="followcount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisclusterconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="interceptorconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigurationsupport">
         <xs:sequence>
          <xs:element name="" type="jwtinterceptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwtinterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="admindao" >
      <xs:complexContent>
       <xs:extension base="jparepository<admin,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appuser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseclientimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 