Spring_Pjs10/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="settingscontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tagrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="eventservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enrollmentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studycontrollertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="withmockcustomusersecuritycontextfactory" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="withaccount" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studycafeapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="packagedependencytests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="password" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notifications" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="check-email" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sign-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="email-log" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checked-email" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simple-link" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-lock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zone_city" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studycafeapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zoneservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="zonerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:complexContent>
       <xs:extension base="userdetailsservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="zonerepository" nillable="true" minOccurs="0" />
        <xs:element name="//javamailsenderjavamailsender" type="emailservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="appproperties" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tagservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tagrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studyservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tagrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="zonerepository" nillable="true" minOccurs="0" />
        <xs:element name="eventpublisher" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="enrollmentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zoneform" >
      <xs:sequence>
        <xs:element name="zones" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tagform" >
      <xs:sequence>
        <xs:element name="tagtitle" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="descriptionform" >
      <xs:sequence>
        <xs:element name="shortdescription" type="xs:string" />
        <xs:element name="fulldescription" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nicknameform" >
      <xs:sequence>
        <xs:element name="nickname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bannerimageform" >
      <xs:sequence>
        <xs:element name="image" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studyform" >
      <xs:sequence>
        <xs:element name="path_pattern" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="shortdescription" type="xs:string" />
        <xs:element name="fulldescription" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notifications" >
      <xs:sequence>
        <xs:element name="//스터디개설studycreatedbyemail" type="xs:anyType" />
        <xs:element name="studycreatedbyweb" type="xs:anyType" />
        <xs:element name="//스터디가입신청결과studyenrollmentresultbyemail" type="xs:anyType" />
        <xs:element name="studyenrollmentresultbyweb" type="xs:anyType" />
        <xs:element name="studyupdatedbyweb" type="xs:anyType" />
        <xs:element name="studyupdatedbyemail" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventform" >
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="eventtype" nillable="true" minOccurs="0" />
        <xs:element name="limitofenrollments" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="endenrolldatetime" type="xs:anyType" />
        <xs:element name="startdatetime" type="xs:anyType" />
        <xs:element name="enddatetime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile" >
      <xs:sequence>
        <xs:element name="bio" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="occupation" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="profileimage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmessage" >
      <xs:sequence>
        <xs:element name="to" type="xs:string" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signupform" >
      <xs:sequence>
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordform" >
      <xs:sequence>
        <xs:element name="newpassword" type="xs:string" />
        <xs:element name="newpasswordconfirm" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zonerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<zone,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<study,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<event,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notificationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<notification,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tagrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<tag,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studyrepositoryextension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enrollmentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<enrollment,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<account,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studyrepositoryextensionimpl" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studycreateevent" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="study" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studyeventlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="appproperties" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notificationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appproperties" >
      <xs:sequence>
        <xs:element name="host" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationinterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationinterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asyncconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="htmlemailservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consoleemailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nicknamevalidator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studyformvalidator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordformvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signupformvalidator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studyservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventvalidator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studyservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studyformvalidator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="zoneservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tagservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notificationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settingscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="nicknamevalidator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tagrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="zoneservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="signupformvalidator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notificationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentuser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccount" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="" type="account" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="study" nillable="true" minOccurs="0" />
        <xs:element name="createby" type="account" nillable="true" minOccurs="0" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createddatetime" type="xs:anyType" />
        <xs:element name="endenrolldatetime" type="xs:anyType" />
        <xs:element name="startdatetime" type="xs:anyType" />
        <xs:element name="enddatetime" type="xs:anyType" />
        <xs:element name="limitofenrollments" type="xs:anyType" />
        <xs:element name="enrollments" type="enrollment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="eventtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enrollment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="event" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="account" nillable="true" minOccurs="0" />
        <xs:element name="enrolledat" type="xs:anyType" />
        <xs:element name="accepted" type="xs:anyType" />
        <xs:element name="attended" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistentlogins" >
      <xs:sequence>
        <xs:element name="series" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="lastused" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zone" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="localname" type="xs:string" />
        <xs:element name="province" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountpredicates" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notification" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="link" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="checked" type="xs:anyType" />
        <xs:element name="GeneratedName" type="account" nillable="true" minOccurs="0" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="GeneratedName" type="notificationtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="study" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//권한이임및managers" type="account" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="members" type="account" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="shortdescription" type="xs:string" />
        <xs:element name="fulldescription" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="tags" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="zones" type="zone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="publisheddatetime" type="xs:anyType" />
        <xs:element name="closeddatetime" type="xs:anyType" />
        <xs:element name="recruitupdatedatetime" type="xs:anyType" />
        <xs:element name="recruiting" type="xs:anyType" />
        <xs:element name="published" type="xs:anyType" />
        <xs:element name="closed" type="xs:anyType" />
        <xs:element name="usebanner" type="xs:anyType" />
        <xs:element name="membercount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="emailverified" type="xs:anyType" />
        <xs:element name="emailchecktoken" type="xs:string" />
        <xs:element name="joinedat" type="xs:anyType" />
        <xs:element name="//인증메일재전송방지confirmemailat" type="xs:anyType" />
        <xs:element name="bio" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="occupation" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="tags" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="zones" type="zone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="profileimage" type="xs:string" />
        <xs:element name="/*알림*///스터디개설studycreatedbyemail" type="xs:anyType" />
        <xs:element name="studycreatedbyweb" type="xs:anyType" />
        <xs:element name="//스터디가입신청결과studyenrollmentresultbyemail" type="xs:anyType" />
        <xs:element name="studyenrollmentresultbyweb" type="xs:anyType" />
        <xs:element name="studyupdatedbyweb" type="xs:anyType" />
        <xs:element name="studyupdatedbyemail" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tag" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 