JavaLearningSamples27/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="imageurl" type="xs:string" />
        <xs:element name="emailverified" type="xs:anyType" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="provider" type="authprovider" nillable="true" minOccurs="0" />
        <xs:element name="providerid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 