integrationService1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hh-tc-addrequirenments" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hh-tc-addcontacts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hh-personal-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monsterrussia-tc-login-createresume-addpersonalinf0-logout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hh-tc-login-createresume-addpersonalinf0-logout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="headhuntermdb" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="answer" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monstermdb" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="answer" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monstertransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hhtransformer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jobtitledao" nillable="true" minOccurs="0" />
        <xs:element name="mounths" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="professiondao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericdaoimpl" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="//hibernatesearchprocessorsearchprocessor//sessionsessionentityclass" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="professiondaoimpl" >
      <xs:complexContent>
       <xs:extension base="genericdaoimpl<professionentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jobtitledaoimpl" >
      <xs:complexContent>
       <xs:extension base="genericdaoimpl<jobtitleentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jobtitledao" >
      <xs:complexContent>
       <xs:extension base="genericdao{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jobtitleentity" >
      <xs:sequence>
        <xs:element name="jobtitleid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="profession" type="xs:anyType" />
        <xs:element name="referencevaluehh" type="xs:anyType" />
        <xs:element name="referencevaluemonster" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobtitlemonsterentity" >
      <xs:sequence>
        <xs:element name="jobtitlemonsterid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="professionhhentity" >
      <xs:sequence>
        <xs:element name="professionhhid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobtitlehhentity" >
      <xs:sequence>
        <xs:element name="jobtitlehhid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="professionmonsterentity" >
      <xs:sequence>
        <xs:element name="professionmonsterid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="professionentity" >
      <xs:sequence>
        <xs:element name="professionid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="referencevaluemonster" type="xs:anyType" />
        <xs:element name="referencevaluehh" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resumeprofilemapper" >
      <xs:complexContent>
       <xs:extension base="webdrivermanager">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonprocessor" >
      <xs:sequence>
        <xs:element name="transformer" type="itransformer" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="imapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webdrivermanager" >
      <xs:sequence>
        <xs:element name="driver" type="xs:anyType" />
        <xs:element name="baseurl" type="xs:string" />
        <xs:element name="acceptnextalert" type="xs:anyType" />
        <xs:element name="verificationerrors" type="xs:anyType" />
        <xs:element name="exchangemessage" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="destinationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monsterprofilemapper" >
      <xs:complexContent>
       <xs:extension base="resumeprofilemapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hhresumeprofilemapper" >
      <xs:complexContent>
       <xs:extension base="resumeprofilemapper">
         <xs:sequence>
          <xs:element name="link_open_resume" type="xs:string" />
          <xs:element name="link_view_resume" type="xs:string" />
          <xs:element name="link_change_personal" type="xs:string" />
          <xs:element name="link_change_contacts" type="xs:string" />
          <xs:element name="link_change_position" type="xs:string" />
          <xs:element name="link_change_edu" type="xs:string" />
          <xs:element name="field_edu_primary" type="xs:string" />
          <xs:element name="field_edu_language" type="xs:string" />
          <xs:element name="link_change_experiance" type="xs:string" />
          <xs:element name="link_change_additional" type="xs:string" />
          <xs:element name="resumeprofile" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jobtitledaotest" >
      <xs:sequence>
        <xs:element name="jt_name" type="xs:string" />
        <xs:element name="GeneratedName" type="jobtitledao" nillable="true" minOccurs="0" />
        <xs:element name="container" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 