practice-spring-jpa/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="schoolrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="courserepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountmongorepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountmongorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="accountpagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountdslsupportrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="accountdynamicqueryrepository" type="accountdslsuprepository" nillable="true" minOccurs="0" />
        <xs:element name="accountdynamicqueryrepositorysupport" type="accountdslsuprepositorysupport" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountdslcusrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountdslcusrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="practicespringjpaapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountserviceintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hellorunner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registercourse" >
      <xs:sequence>
        <xs:element name="stugentid" type="xs:long" />
        <xs:element name="courseid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courserepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<course,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="registercourseid" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="stugentid" type="xs:long" />
        <xs:element name="courseid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<student,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="stugentid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="course" >
      <xs:sequence>
        <xs:element name="courseid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="practicespringjpaapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateutil" >
      <xs:sequence>
        <xs:element name="pattern_date_time_yyyymmddhhmmss" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
        <xs:element name="modifytime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<account,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountmongorepository" >
      <xs:complexContent>
       <xs:extension base="mongorepository<accountmongo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountmongo" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="registdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querydslconfiguration" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountdslcusrepositorycustom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountdslcus" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountdslcusrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<accountdslcus,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountdslcusrepositoryimpl" >
      <xs:sequence>
        <xs:element name="queryfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountdslsuprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<accountdslsup,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountdslsup" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountdslsuprepositorysupport" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
          <xs:element name="queryfactory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountpagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<accountpage,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountpage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaauditingconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 