JMP-2015-2016-Valiantsin_Charkashyn-Group-21/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="personid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="passnumber" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="accounts" type="account" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:long" />
        <xs:element name="number" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="money" type="xs:double" />
        <xs:element name="client" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apphelper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
        <xs:element name="dao" type="accountdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservice" >
      <xs:sequence>
        <xs:element name="dao" type="persondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persondao" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountdao" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 