MasterThesisUSEF1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummy-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplelogger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregatorrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="aggregatorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregatorconnectionrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="aggregatorconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequerystaterepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="commonreferencequerystaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartyrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdcconnectionrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="mdcconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdccommonreferencequeryeventtriggertest" >
      <xs:sequence>
        <xs:element name="trigger" type="mdccommonreferencequeryeventtrigger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="configmdc" nillable="true" minOccurs="0" />
        <xs:element name="commonreferencequeryeventmanager" type="commonreferencequeryevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdccommonreferencequerycoordinatortest" >
      <xs:sequence>
        <xs:element name="coordinator" type="mdccommonreferencequerycoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdccorebusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdcmeterdataquerycoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdccorebusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="mdcmeterdataquerycoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdccorebusinessservicetest" >
      <xs:sequence>
        <xs:element name="service" type="mdccorebusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mdcconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregatorconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferencequerystaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanyvalidationbusinessservicetest" >
      <xs:sequence>
        <xs:element name="service" type="meterdatacompanyvalidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="connectionrepository" type="mdcconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanytopologybusinessservicetest" >
      <xs:sequence>
        <xs:element name="service" type="meterdatacompanytopologybusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="validationservice" type="meterdatacompanyvalidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mdcconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdataquerycontrollertest" >
      <xs:sequence>
        <xs:element name="eventmanager" type="meterdataqueryevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="controller" type="commonreferencequeryresponsecontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mdccorebusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configmdctest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configmdc" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connection-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsibleparty" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregator" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequerystate" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="period" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="status" type="commonreferencequerystatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperator" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequerystatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregatorconnection" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="connection" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperator" nillable="true" minOccurs="0" />
        <xs:element name="validfrom" type="xs:dateTime" />
        <xs:element name="validuntil" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connection" >
      <xs:sequence>
        <xs:element name="entityaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperator" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperatorendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="meterdatacompanytopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="meterdatacompanytopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="meterdatacompanytopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartyendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="meterdatacompanytopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdcworkflowstep" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdataquerystepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdcmeterdataquerycoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdccorebusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdataqueryevent" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdccommonreferencequerycoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdccorebusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdccommonreferencequeryeventtrigger" >
      <xs:complexContent>
       <xs:extension base="abstracttriggerregisterhelperservice">
         <xs:sequence>
          <xs:element name="" type="configmdc" nillable="true" minOccurs="0" />
          <xs:element name="commonreferencequeryeventmanager" type="commonreferencequeryevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mdchousekeepingcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mdchousekeepingbusinessservice" type="meterdatacompanyhousekeepingbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanytopologybusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mdcconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="validationservice" type="meterdatacompanyvalidationbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdccorebusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdcconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregatorconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="balanceresponsibleparty" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferencequerystaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanyhousekeepingbusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="aggregatorconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferencequerystaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanyvalidationbusinessservice" >
      <xs:sequence>
        <xs:element name="connectionrepository" type="mdcconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="balanceresponsiblepartyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="distributionsystemoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configmdc" >
      <xs:complexContent>
       <xs:extension base="abstractconfig">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="configmdcparam" >
      <xs:sequence>
        <xs:element name="propertyclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequerystaterepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<commonreferencequerystate>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aggregatorconnectionrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<aggregatorconnection>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aggregatorrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<aggregator>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mdcconnectionrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<connection>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperatorrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<distributionsystemoperator>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="balanceresponsiblepartyrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<balanceresponsibleparty>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<commonreferenceoperator>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="connectionmeterdatadto" >
      <xs:sequence>
        <xs:element name="ptumeterdatadtos" type="ptumeterdatadto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="entitycount" type="xs:anyType" />
        <xs:element name="agrdomain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionaction" >
      <xs:sequence>
        <xs:element name="method" type="xs:string" />
        <xs:element name="entityaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptumeterdatadto" >
      <xs:sequence>
        <xs:element name="power" type="xs:anyType" />
        <xs:element name="start" type="xs:anyType" />
        <xs:element name="duration" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantaction" >
      <xs:sequence>
        <xs:element name="method" type="xs:string" />
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatadto" >
      <xs:sequence>
        <xs:element name="connectionmeterdatadtos" type="connectionmeterdatadto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="connectionmetereventdtos" type="xs:anyType" />
        <xs:element name="period" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdataquerycontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingmessagecontroller<meterdataquery>">
         <xs:sequence>
          <xs:element name="eventmanager" type="meterdataqueryevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<commonreferencequeryresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="mdccorebusinessservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meterdatatransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 