MasterThesisUSEF1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="balanceresponsibleparty" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregator" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequerystate" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="period" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="status" type="commonreferencequerystatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperator" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregatorconnection" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="connection" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperator" nillable="true" minOccurs="0" />
        <xs:element name="validfrom" type="xs:dateTime" />
        <xs:element name="validuntil" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connection" >
      <xs:sequence>
        <xs:element name="entityaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperator" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 