memberList/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="firstcupuser" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="birthday" type="xs:anyType" />
        <xs:element name="agedifference" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dukesbday" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dukesbirthdaybean" nillable="true" minOccurs="0" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="yourbd" type="xs:dateTime" />
        <xs:element name="agediff" type="xs:long" />
        <xs:element name="absagediff" type="xs:long" />
        <xs:element name="averageagedifference" type="xs:double" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dukesbirthdaybean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greeting" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 