jdbc-java5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="demo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pos" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quiz" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="questions" type="question" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="question" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="body" type="xs:string" />
        <xs:element name="s" type="option" nillable="true" minOccurs="0" />
        <xs:element name="validoption" type="xs:long" />
        <xs:element name="pos" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="option" >
      <xs:sequence>
        <xs:element name="option1" type="xs:string" />
        <xs:element name="option2" type="xs:string" />
        <xs:element name="option3" type="xs:string" />
        <xs:element name="option4" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypersistence" >
      <xs:sequence>
        <xs:element name="//publicmypersistencejava5" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerdemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quizcontroller" >
      <xs:sequence>
        <xs:element name="answers" type="xs:anyType" />
        <xs:element name="GeneratedName" type="quizservice" nillable="true" minOccurs="0" />
        <xs:element name="questions" type="question" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="current" type="question" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questionrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quizapp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quizrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quizservicejpa" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="quizrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questionrepositoryjpa" >
      <xs:sequence>
        <xs:element name="persistence" type="mypersistence" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quizrepositoryjpa" >
      <xs:sequence>
        <xs:element name="persistence" type="mypersistence" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quizservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createtablestatementdemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateandinsertdemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metadataresultsetdemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectiondemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="player" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pos" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crudapp" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectdemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scrollresultsetdemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sticky" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="calculator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="position" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pozycjonowanie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="calculator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 