Sample-java-programs/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerespository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfiguration" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="users_query" type="xs:string" />
          <xs:element name="roles_query" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springloginandregisterapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerespository" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="active" type="xs:long" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="access_denied" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springloginandregisterapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 