SMPUOS_2017_Tim_31/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pocetna" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_power_settings_new_white_36px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_delete_forever_white_36px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_update_white_36px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_done_white_36px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="korisnikcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="korisnikservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="adresaservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="korisnikapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adresakoordinate" >
      <xs:sequence>
        <xs:element name="geoduzinacentar" type="xs:double" />
        <xs:element name="geosirinacentar" type="xs:double" />
        <xs:element name="poluprecnik" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tipkorisnika" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="korisniklogin" >
      <xs:sequence>
        <xs:element name="korisnickoime" type="xs:string" />
        <xs:element name="lozinka" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tippola" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tipstatusakorisnika" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adresa" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nazivnaseljenogmesta" type="xs:string" />
        <xs:element name="nazivulice" type="xs:string" />
        <xs:element name="broj" type="xs:long" />
        <xs:element name="geoduzina" type="xs:double" />
        <xs:element name="geosirina" type="xs:double" />
        <xs:element name="//morazbogpregledakorisnikanaosnovukoordinatamestastanovanjakorisnici" type="korisnik" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="korisnik" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ime" type="xs:string" />
        <xs:element name="prezime" type="xs:string" />
        <xs:element name="datumrodjenja" type="xs:dateTime" />
        <xs:element name="pol" type="tippola" nillable="true" minOccurs="0" />
        <xs:element name="stanovanja" type="adresa" nillable="true" minOccurs="0" />
        <xs:element name="korisnickoime" type="xs:string" />
        <xs:element name="lozinka" type="xs:string" />
        <xs:element name="GeneratedName" type="tipkorisnika" nillable="true" minOccurs="0" />
        <xs:element name="datumregistracije" type="xs:dateTime" />
        <xs:element name="statuskorisnika" type="tipstatusakorisnika" nillable="true" minOccurs="0" />
        <xs:element name="ulogovan" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adresaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="korisnikservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="korisnikservicejpa" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="korisnikrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="adresarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adresaservicejpa" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="adresarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adresarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<adresa,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="korisnikrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<korisnik,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="korisnikapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="korisnikservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="korisnikservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="korisnikrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="adresarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 