SMPUOS_2017_Tim_31/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="adresa" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nazivnaseljenogmesta" type="xs:string" />
        <xs:element name="nazivulice" type="xs:string" />
        <xs:element name="broj" type="xs:long" />
        <xs:element name="geoduzina" type="xs:double" />
        <xs:element name="geosirina" type="xs:double" />
        <xs:element name="//morazbogpregledakorisnikanaosnovukoordinatamestastanovanjakorisnici" type="korisnik" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="korisnik" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ime" type="xs:string" />
        <xs:element name="prezime" type="xs:string" />
        <xs:element name="datumrodjenja" type="xs:dateTime" />
        <xs:element name="pol" type="tippola" nillable="true" minOccurs="0" />
        <xs:element name="stanovanja" type="adresa" nillable="true" minOccurs="0" />
        <xs:element name="korisnickoime" type="xs:string" />
        <xs:element name="lozinka" type="xs:string" />
        <xs:element name="GeneratedName" type="tipkorisnika" nillable="true" minOccurs="0" />
        <xs:element name="datumregistracije" type="xs:dateTime" />
        <xs:element name="statuskorisnika" type="tipstatusakorisnika" nillable="true" minOccurs="0" />
        <xs:element name="ulogovan" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 