mpaas4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="apipathentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="//@notnull(message" type="xs:string" />
        <xs:element name="/***api权限id*{@linkapipermissionentity::id}*/apipermissionid" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="/***状态*/status" type="xs:anyType" />
        <xs:element name="/***接口*/type" type="xs:anyType" />
        <xs:element name="/***api接口路径*/path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apipermissionentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***状态*/status" type="xs:anyType" />
        <xs:element name="/***管理员id*{@linkghost.framework.admin.entity.adminentity::adminid}*/adminid" type="xs:string" />
        <xs:element name="/***管理组id*{@linkghost.framework.admin.entity.admingroupentity::groupid}*/groupid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 