NetVendas/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="fornecedor" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="cnome" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="telefone" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="datanascimento" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pedido" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="cliente" nillable="true" minOccurs="0" />
        <xs:element name="itens" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="GeneratedName" type="fornecedor" nillable="true" minOccurs="0" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="valor" type="xs:double" />
        <xs:element name="quantidade" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="produto" nillable="true" minOccurs="0" />
        <xs:element name="quant" type="xs:anyType" />
        <xs:element name="valor" type="xs:double" />
        <xs:element name="tvalor" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 