JavaLearningSamples10/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeeidentity" nillable="true" minOccurs="0" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 