Project-Collaborative-Development-Platform1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="pcdpapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamrepositorytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="targzutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rarutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ziputils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projectrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesystemservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="filesystemrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userteamservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userteamrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="teamrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetingservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="meetingrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projectservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="teamservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesystemcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="filesystemservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="teamservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userteamservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetingcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="meetingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userteamservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="teamservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="key" >
      <xs:sequence>
        <xs:element name="user_id" type="xs:long" />
        <xs:element name="team_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="project_id" type="xs:anyType" />
        <xs:element name="project_name" type="xs:string" />
        <xs:element name="team_id" type="xs:anyType" />
        <xs:element name="create_" type="xs:dateTime" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamposition" >
      <xs:sequence>
        <xs:element name="user_id" type="xs:long" />
        <xs:element name="user_name" type="xs:string" />
        <xs:element name="user_position" type="xs:string" />
        <xs:element name="team_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user_team" >
      <xs:sequence>
        <xs:element name="user_id" type="xs:long" />
        <xs:element name="team_id" type="xs:long" />
        <xs:element name="position" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="team" >
      <xs:sequence>
        <xs:element name="team_id" type="xs:anyType" />
        <xs:element name="team_name" type="xs:string" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="create_" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="file" >
      <xs:sequence>
        <xs:element name="file_id" type="xs:anyType" />
        <xs:element name="project_id" type="xs:anyType" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="create_" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="photo" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="regdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesystem" >
      <xs:sequence>
        <xs:element name="fileid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="parentid" type="xs:string" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meeting" >
      <xs:sequence>
        <xs:element name="meeting_id" type="xs:long" />
        <xs:element name="team_id" type="xs:long" />
        <xs:element name="meeting_name" type="xs:string" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="file" type="xs:string" />
        <xs:element name="start_date" type="xs:string" />
        <xs:element name="place" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesystemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<filesystem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meetingrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<meeting,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="teamrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<team,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userteamrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user_team,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="projectrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<project,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logininterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preferences" >
      <xs:sequence>
        <xs:element name="meetingfile_path" type="xs:string" />
        <xs:element name="external_path" type="xs:string" />
        <xs:element name="head_img_path" type="xs:string" />
        <xs:element name="default_photo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcdpapplication" >
      <xs:sequence>
        <xs:element name="root" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myteams" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupinformation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesystem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectadmin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projects" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupmemberinf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cookie.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mit-license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_es_ar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_vi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_pl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ru" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_it" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_sd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_sr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_he" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_tr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_el" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_hr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_hy_am" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_mk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_pt_br" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_my" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_fa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_sv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_pt_pt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_hu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_id" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_kk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ur" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_is" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_nl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_sr_lat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_gl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_tj" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_eu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_et" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_cs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_lt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_lv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_no" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_si" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_th" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ka" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_zh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_fi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_sl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_uk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_az" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_es_pe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_da" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_bn_bd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ca" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_bg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetingfilemeetings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontastic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="custom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a3_1" >
      <xs:sequence>
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="input" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a1_1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main-icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="current-folder-breadcrumb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main-table-modal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sidebar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spinner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countries" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresses" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 