lowcode-designer-backend/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="flowdef" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="module" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="up" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 