JavaLearningSamples36/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="noteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noteserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="noterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="note" >
      <xs:sequence>
        <xs:element name="////@generatedvalue(strategy" type="xs:long" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="done" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notecontroller" >
      <xs:sequence>
        <xs:element name="service" type="noteservice" nillable="true" minOccurs="0" />
        <xs:element name="sortdatemethod" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<note,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="thymeleafsampleapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="head" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="new" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thymeleafsampleapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 