JavaLearningSamples36/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="note" >
      <xs:sequence>
        <xs:element name="////@generatedvalue(strategy" type="xs:long" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="done" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 