spring-data-jpa-DATAJPA-413/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="salesdevice" >
      <xs:sequence>
        <xs:element name="/***theid.*/id" type="xs:anyType" />
        <xs:element name="/***the.*/" type="site" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="/***theid.*/id" type="xs:anyType" />
        <xs:element name="/***thesalesdeviceid.*/" type="salesdevice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="site" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="/***theid.*/id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemsite" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="item" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="site" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 