spring-boot-java-ref4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="isn" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="publisher" type="xs:string" />
        <xs:element name="authors" type="xs:string" />
        <xs:element name="publisheddate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 