SpringSecurityDemo/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userauthrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<userauth,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="feibonaqiuserrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<feibonaqiuser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="findusermapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feibonaqiauthrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<feibonaqiauth,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securitycomponent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsecuritydemoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dailycontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="securitycomponent" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userauth" >
      <xs:sequence>
        <xs:element name="openid" type="xs:string" />
        <xs:element name="authid" type="xs:anyType" />
        <xs:element name="createtime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userauthid" >
      <xs:sequence>
        <xs:element name="openid" type="xs:string" />
        <xs:element name="authid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feibonaqiauth" >
      <xs:sequence>
        <xs:element name="authid" type="xs:anyType" />
        <xs:element name="authname" type="xs:string" />
        <xs:element name="authorityname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feibonaqiuser" >
      <xs:sequence>
        <xs:element name="openid" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="loginusername" type="xs:string" />
        <xs:element name="loginpassword" type="xs:string" />
        <xs:element name="createtime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="openid" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="showingusername" type="xs:string" />
        <xs:element name="loginusername" type="xs:string" />
        <xs:element name="loginpassword" type="xs:string" />
        <xs:element name="authid" type="xs:string" />
        <xs:element name="authname" type="xs:string" />
        <xs:element name="authorityname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="daily" >
      <xs:sequence>
        <xs:element name="dailytime" type="xs:string" />
        <xs:element name="breakfast" type="xs:double" />
        <xs:element name="before" type="xs:double" />
        <xs:element name="after" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="findusermapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inmemoryuser" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="email" type="xs:string" />
          <xs:element name="openid" type="xs:string" />
          <xs:element name="showingusername" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createuser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsecuritydemoapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feibonaqisecuritytester" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 