SpringSecurityDemo/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userauth" >
      <xs:sequence>
        <xs:element name="openid" type="xs:string" />
        <xs:element name="authid" type="xs:anyType" />
        <xs:element name="createtime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feibonaqiauth" >
      <xs:sequence>
        <xs:element name="authid" type="xs:anyType" />
        <xs:element name="authname" type="xs:string" />
        <xs:element name="authorityname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feibonaqiuser" >
      <xs:sequence>
        <xs:element name="openid" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="loginusername" type="xs:string" />
        <xs:element name="loginpassword" type="xs:string" />
        <xs:element name="createtime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 