SuiviRecherches/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="historique" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="rechercheid" type="xs:long" />
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="modification" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recherche" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="contact" type="xs:dateTime" />
        <xs:element name="poste" type="xs:string" />
        <xs:element name="client" type="xs:string" />
        <xs:element name="statut" type="xs:string" />
        <xs:element name="GeneratedName" type="entreprise" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personne" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personne" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="prenom" type="xs:string" />
        <xs:element name="telephone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="GeneratedName" type="recherche" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entreprise" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="telephone" type="xs:string" />
        <xs:element name="GeneratedName" type="adresse" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="recherche" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adresse" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="rue" type="xs:string" />
        <xs:element name="ville" type="xs:string" />
        <xs:element name="cp" type="xs:string" />
        <xs:element name="GeneratedName" type="entreprise" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 