rerpoexce/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springbootrestdataapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderserviceimpl" >
      <xs:sequence>
        <xs:element name="repo" type="orderrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderresponse" >
      <xs:sequence>
        <xs:element name="response" type="orderrequest" nillable="true" minOccurs="0" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="statuscode" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="emailid" type="xs:string" />
        <xs:element name="isdiscountable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercontroller" >
      <xs:sequence>
        <xs:element name="service" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="orderprodname" type="xs:string" />
        <xs:element name="custname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<order,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springbootrestdataapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 