study-spring-data-jpa/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="auditperson" >
      <xs:complexContent>
       <xs:extension base="abstractauditdomain">
         <xs:sequence>
          <xs:element name="personname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="audituser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
        <xs:element name="createdby" type="audituser" nillable="true" minOccurs="0" />
        <xs:element name="lastmodifiedby" type="audituser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="bookname" type="xs:string" />
        <xs:element name="publishdate" type="xs:anyType" />
        <xs:element name="/***书和门类是多对一的关系*/" type="category" nillable="true" minOccurs="0" />
        <xs:element name="/***书和作者是多对多的关系，我们让book为关联拥有放，添加@jointable注解。*/authors" type="author" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="GeneratedName" type="sex" nillable="true" minOccurs="0" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="birthday" type="xs:anyType" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idclassdemo" >
      <xs:sequence>
        <xs:element name="idone" type="xs:string" />
        <xs:element name="idtwo" type="xs:string" />
        <xs:element name="context" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="authorname" type="xs:string" />
        <xs:element name="birthday" type="xs:anyType" />
        <xs:element name="GeneratedName" type="sex" nillable="true" minOccurs="0" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="/***&#064onetoone指定一对一关联关系*&#064joincolumnname本表中外键列的列名，referencedcolumnname，关联表中与name进行对应的列名*/" type="authorinfo" nillable="true" minOccurs="0" />
        <xs:element name="/***作者和书籍是多对多关系，我们让作者作为非拥有方，使用mappedby指向拥有放属性*/books" type="book" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***使用两个双向一对多/多对一来替代多对多*///@onetomany(mappedby" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organization" >
      <xs:complexContent>
       <xs:extension base="abstractid{">
         <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaannotationdemo" >
      <xs:sequence>
        <xs:element name="/***&#064id定义属性为数据库中的主键列，一个实体里面必须有一个。**&#064generatedvalue,主键生成策略。*属性strategy，id的生成策略，generationtype.table，通过表产生主键，框架由表模拟序列产生主键，使用该策略可以使应用更易于数据库移植；*generationtype.sequence，通过序列产生主键，通过@sequencegenerator注解指定序列名，mysql不支持这种方式；*generationtype.identity,数据库id自增长，多用于mysql；*generationtype.auto,jpa自动选择合适的策略，默认选项。*属性generator：通过sequence生成id，常见orcale数据库id生成，需要配合@sequencegenerator使用。*/id" type="xs:long" />
        <xs:element name="/***&#064basic，表示属性是到数据库表字段的映射。如果实体的字段上没有任何注解，默认即为；*属性fetch，抓取方式，默认fetchtype.eager(立即加载)，fetchtype.lazy(延迟加载，主要应用在大字段上面)；*属性optional，设置这个字段是否可以为null，默认是true。*/name" type="xs:string" />
        <xs:element name="xxx" type="xs:string" />
        <xs:element name="/***&#064transient,非持久化属性，表示该属性并非是一个到数据库表的字段的映射，与@basic作用相反。jpa映射数据库的时候忽略它。*/yyy" type="xs:string" />
        <xs:element name="/***&#064column,定义该属性对应数据库中的列名。*属性name，数据库中的列名。如果不写默认和实体属性名一致；*属性unique，是否唯一。默认false；*属性nullable，是否允许为空。默认为true；*属性insertable，执行insert操作的时候是否包含此字段，默认为true；*属性updatable，执行updatable操作的时候是否包含此字段，默认为true；*属性columndefinition，表示该字段在数据库中的实际类型。*属性length，数据库字段的长度，默认255；*属性table,precision，scale，一般不设置。*/ddd" type="xs:anyType" />
        <xs:element name="/***&#064temporal:用来设置类型的属性映射到对应精度的字段。temporaltype.，映射为数据库，temporaltype.time映射为数据库time，temporaltype.timestamp，映射为time。*/create" type="xs:dateTime" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="/***jdk8可以使用以下新的时间类型替代date*/" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="/***&#064enumerated：映射枚举字段。属性value，默认是enumtype.ordinal(枚举字段的下标)，enumtype.string枚举字段的name；*/" type="sex" nillable="true" minOccurs="0" />
        <xs:element name="、char和将被映射成clob类型。*blob（binarylargeobjects）类型是字节类型，java.sql.blob、byte、byte和实现了serializable接口的类型将被映射为blob类型。*clob、blob占用内存空间较大，一般配合@basic(fetch" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ebook" >
      <xs:complexContent>
       <xs:extension base="book{">
         <xs:sequence>
          <xs:element name="/***格式*/format" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="categoryname" type="xs:string" />
        <xs:element name="/***父门类，通过parent_id来维护父子关系。*使用，解决lombok的tostring方法循环引用问题。*/parent" type="category" nillable="true" minOccurs="0" />
        <xs:element name="childrenchildren" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***门类和书是一对多的关系*由多的一方来维护关联关系*/books" type="book" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractauditdomain" >
      <xs:complexContent>
       <xs:extension base="abstractid">
         <xs:sequence>
          <xs:element name="createddate" type="xs:anyType" />
          <xs:element name="lastmodifieddate" type="xs:anyType" />
          <xs:element name="createdbyuserid" type="xs:long" />
          <xs:element name="lastmodifieduserby" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:complexContent>
       <xs:extension base="abstractauditdomain{">
         <xs:sequence>
          <xs:element name="orderno" type="xs:string" />
          <xs:element name="" type="orderstatus" nillable="true" minOccurs="0" />
          <xs:element name="price" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="printbook" >
      <xs:complexContent>
       <xs:extension base="book{">
         <xs:sequence>
          <xs:element name="/***印刷时间*/printdate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="GeneratedName" type="rolecode" nillable="true" minOccurs="0" />
        <xs:element name="admins" type="admin" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorinfo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="idcardnumber" type="xs:string" />
        <xs:element name="/***如果在详情方需要获取作者，也添加@onetoone，并指定mappedby*/" type="author" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:complexContent>
       <xs:extension base="abstractid">
         <xs:sequence>
          <xs:element name="/***简单代表一下账户所属人*/accountname" type="xs:string" />
          <xs:element name="balance" type="xs:anyType" />
          <xs:element name="/***乐观锁version*///@versionversion" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
        <xs:element name="age" type="xs:anyType" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="role" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookauthor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userorder" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ordername" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 