kpsec/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="statement" >
      <xs:sequence>
        <xs:element name="//거래일자statementdate" type="xs:long" />
        <xs:element name="//계좌번호accountno" type="xs:string" />
        <xs:element name="//거래번호statementno" type="xs:string" />
        <xs:element name="//금액price" type="xs:long" />
        <xs:element name="//수수료charge" type="xs:long" />
        <xs:element name="//취소여부cancelat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="//계좌번호accountno" type="xs:string" />
        <xs:element name="//계좌명accountname" type="xs:string" />
        <xs:element name="//관리점코드branchcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="branch" >
      <xs:sequence>
        <xs:element name="//관리점코드branchcode" type="xs:string" />
        <xs:element name="//관리점명branchname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 