SaudeFacil/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bd_saude_logico_v2.1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="12_tabelaespecialidadespatologia" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="11_tabelasintomaspatologia" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="14_tabelapaciente" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="6_tabelaclinicaplanosaude" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="18_tabelasintomaspaciente" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appmain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoadao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pacientedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profissionaldao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planosaudedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relatoriodao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatesutil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clinicadao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultapacientedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="especialidadesdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sintomadao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="getpaciente" type="sintoma" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clinica" >
      <xs:sequence>
        <xs:element name="clinicaid" type="xs:anyType" />
        <xs:element name="formapagamento" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="statusclinica" type="xs:anyType" />
        <xs:element name="razaosocial" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultapaciente" >
      <xs:sequence>
        <xs:element name="nome" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="especialidade" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sintoma" >
      <xs:sequence>
        <xs:element name="sintomasid" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoa" >
      <xs:sequence>
        <xs:element name="pessoaid" type="xs:anyType" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="rg" type="xs:string" />
        <xs:element name="sexo" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="datanascimento" type="xs:dateTime" />
        <xs:element name="tiposanguineo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relatorio" >
      <xs:sequence>
        <xs:element name="clinica" type="xs:string" />
        <xs:element name="especialidade" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="especialidades" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="especialidadeid" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planosaude" >
      <xs:sequence>
        <xs:element name="planoid" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="statusplan" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paciente" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="pacienteid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="pessoa" nillable="true" minOccurs="0" />
        <xs:element name="statuspaciente" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relatorioid" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="clinica" type="xs:string" />
        <xs:element name="especialidade" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profissional" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="credencial" type="xs:string" />
        <xs:element name="GeneratedName" type="pessoa" nillable="true" minOccurs="0" />
        <xs:element name="statusautonomo" type="xs:anyType" />
        <xs:element name="atendeclinica" type="xs:anyType" />
        <xs:element name="statusprofissional" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemdata" >
      <xs:sequence>
        <xs:element name="systemversion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clinicaexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sintomaexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessoaexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="profissionalexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pacienteexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="especialidadesview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clinicaview" >
      <xs:sequence>
        <xs:element name="leteclado" type="xs:anyType" />
        <xs:element name="nova" type="clinica" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="clinicacontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultapacienteview" >
      <xs:sequence>
        <xs:element name="leteclado" type="xs:anyType" />
        <xs:element name="GeneratedName" type="consultapacientecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planosaudeview" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relatorioview" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="relatoriocontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoaview" >
      <xs:sequence>
        <xs:element name="leteclado" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sintomaview" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sintomacontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sintoma" nillable="true" minOccurs="0" />
        <xs:element name="leteclado" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pacienteview" >
      <xs:complexContent>
       <xs:extension base="pessoaview">
         <xs:sequence>
          <xs:element name="paciente_ativo" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="profissionalview" >
      <xs:complexContent>
       <xs:extension base="pessoaview">
         <xs:sequence>
          <xs:element name="profissional_ativo" type="xs:long" />
          <xs:element name="leteclado" type="xs:anyType" />
          <xs:element name="" type="profissionalcontroller" nillable="true" minOccurs="0" />
          <xs:element name="" type="profissional" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessoacontroller" >
      <xs:sequence>
        <xs:element name="tamanho_maximo_do_nome" type="xs:long" />
        <xs:element name="tamanho_cpf" type="xs:long" />
        <xs:element name="tamanho_rg" type="xs:long" />
        <xs:element name="GeneratedName" type="pessoadao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pacientecontroller" >
      <xs:sequence>
        <xs:element name="paciente_desativado" type="xs:long" />
        <xs:element name="GeneratedName" type="pacientedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planosaudecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="planosaudedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sintomacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sintomadao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profissionalcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="profissionaldao" nillable="true" minOccurs="0" />
        <xs:element name="profissional_desativado" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultapacientecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="consultapacientedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clinicacontroller" >
      <xs:sequence>
        <xs:element name="status_clinica_ativado" type="xs:long" />
        <xs:element name="GeneratedName" type="clinicadao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="especialidadescontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="especialidadesdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relatoriocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="relatoriodao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="especialidadesdaotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="especialidades" nillable="true" minOccurs="0" />
        <xs:element name="especielidades" type="especialidades" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="especialidadedao" type="especialidadesdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="testreport" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sintomadaotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sintoma" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sintomadao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sintomaview" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="testreport" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pacientedaotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paciente" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pacientedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="testreport" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoadaotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pessoa" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pessoadao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="testreport" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profissionaldaotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="profissional" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="profissionaldao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="testreport" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 