Spring_Assignment63/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="loggingtestcase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercirclecontrollertest" >
      <xs:sequence>
        <xs:element name="usercircle" type="xs:anyType" />
        <xs:element name="userauth" type="xs:anyType" />
        <xs:element name="GeneratedName" type="usercircleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usercirclecontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercircleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercircleserviceimpl" >
      <xs:sequence>
        <xs:element name="/*	*autowiringshouldbeimplementedfortherepository.pleasenote	*thatweshouldnotcreateanyobjectusingthenewkeyword	*/" type="usercircle" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercirclerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<usercircle,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loggingaspectusercircleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingaspectusercircle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercirclecontroller" >
      <xs:sequence>
        <xs:element name="/*	*autowiringshouldbeimplementedfortheservice,.	*pleasenotethatweshouldnotcreateanyobjectusingthenewkeyword	*/" type="usercircle" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usercircleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitystreamstep6backendapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercircle" >
      <xs:sequence>
        <xs:element name="/*	*thisclassshouldhavethreefields(usercircleid,username,circlename).out	*ofthesethreefields,thefieldusercircleidshouldbetheprimarykeyand	*shouldbegenerated.thisclassshouldalsocontainthegettersandsetters	*forthefields.	*/usercircleid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="circlename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 