Spring_Assignment63/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="usercircle" >
      <xs:sequence>
        <xs:element name="/*	*thisclassshouldhavethreefields(usercircleid,username,circlename).out	*ofthesethreefields,thefieldusercircleidshouldbetheprimarykeyand	*shouldbegenerated.thisclassshouldalsocontainthegettersandsetters	*forthefields.	*/usercircleid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="circlename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 