Nevini/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="osubeatmapviewdata" >
      <xs:sequence>
        <xs:element name="approved" type="xs:anyType" />
        <xs:element name="submitdate" type="xs:long" />
        <xs:element name="approveddate" type="xs:long" />
        <xs:element name="lastupdate" type="xs:long" />
        <xs:element name="artist" type="xs:string" />
        <xs:element name="beatmapid" type="xs:anyType" />
        <xs:element name="beatmapsetid" type="xs:anyType" />
        <xs:element name="bpm" type="xs:double" />
        <xs:element name="creatorname" type="xs:string" />
        <xs:element name="creatorid" type="xs:anyType" />
        <xs:element name="/***stardifficulty*/difficultyrating" type="xs:double" />
        <xs:element name="difficultyaim" type="xs:double" />
        <xs:element name="difficultyspeed" type="xs:double" />
        <xs:element name="/***circlesize(cs)*/difficultysize" type="xs:double" />
        <xs:element name="/***overalldifficulty(od)*/difficultyoverall" type="xs:double" />
        <xs:element name="/***approachrate(ar)*/difficultyapproach" type="xs:double" />
        <xs:element name="/***hpdrainrate(hp)*/difficultydrain" type="xs:double" />
        <xs:element name="hitlength" type="xs:anyType" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="genre" type="xs:anyType" />
        <xs:element name="language" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="totallength" type="xs:anyType" />
        <xs:element name="version" type="xs:string" />
        <xs:element name="filemd5" type="xs:string" />
        <xs:element name="mode" type="xs:anyType" />
        <xs:element name="convertedmode" type="xs:anyType" />
        <xs:element name="mods" type="xs:anyType" />
        <xs:element name="tags" type="xs:string" />
        <xs:element name="favouritecount" type="xs:anyType" />
        <xs:element name="rating" type="xs:double" />
        <xs:element name="playcount" type="xs:anyType" />
        <xs:element name="passcount" type="xs:anyType" />
        <xs:element name="countnormal" type="xs:anyType" />
        <xs:element name="countslider" type="xs:anyType" />
        <xs:element name="countspinner" type="xs:anyType" />
        <xs:element name="maxcombo" type="xs:anyType" />
        <xs:element name="maxpp" type="xs:double" />
        <xs:element name="downloadunavailable" type="xs:anyType" />
        <xs:element name="audiounavailable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osuscoredata" >
      <xs:sequence>
        <xs:element name="scoreid" type="xs:long" />
        <xs:element name="beatmapid" type="xs:anyType" />
        <xs:element name="mode" type="xs:anyType" />
        <xs:element name="mods" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="score" type="xs:anyType" />
        <xs:element name="count300" type="xs:anyType" />
        <xs:element name="count100" type="xs:anyType" />
        <xs:element name="count50" type="xs:anyType" />
        <xs:element name="countmiss" type="xs:anyType" />
        <xs:element name="maxcombo" type="xs:anyType" />
        <xs:element name="countkatu" type="xs:anyType" />
        <xs:element name="countgeki" type="xs:anyType" />
        <xs:element name="perfect" type="xs:anyType" />
        <xs:element name="date" type="xs:long" />
        <xs:element name="rank" type="xs:string" />
        <xs:element name="pp" type="xs:double" />
        <xs:element name="replayavailable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osubeatmapdifficultydata" >
      <xs:sequence>
        <xs:element name="beatmapid" type="xs:anyType" />
        <xs:element name="mode" type="xs:anyType" />
        <xs:element name="mods" type="xs:anyType" />
        <xs:element name="/***stardifficulty*/difficultyrating" type="xs:double" />
        <xs:element name="difficultyaim" type="xs:double" />
        <xs:element name="difficultyspeed" type="xs:double" />
        <xs:element name="maxcombo" type="xs:anyType" />
        <xs:element name="maxpp" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osubeatmapsetdata" >
      <xs:sequence>
        <xs:element name="beatmapsetid" type="xs:anyType" />
        <xs:element name="approved" type="xs:anyType" />
        <xs:element name="submitdate" type="xs:long" />
        <xs:element name="approveddate" type="xs:long" />
        <xs:element name="lastupdate" type="xs:long" />
        <xs:element name="artist" type="xs:string" />
        <xs:element name="creatorname" type="xs:string" />
        <xs:element name="creatorid" type="xs:anyType" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="genre" type="xs:anyType" />
        <xs:element name="language" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="tags" type="xs:string" />
        <xs:element name="downloadunavailable" type="xs:anyType" />
        <xs:element name="audiounavailable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osubeatmapdata" >
      <xs:sequence>
        <xs:element name="beatmapid" type="xs:anyType" />
        <xs:element name="beatmapsetid" type="xs:anyType" />
        <xs:element name="bpm" type="xs:double" />
        <xs:element name="/***circlesize(cs)*/difficultysize" type="xs:double" />
        <xs:element name="/***overalldifficulty(od)*/difficultyoverall" type="xs:double" />
        <xs:element name="/***approachrate(ar)*/difficultyapproach" type="xs:double" />
        <xs:element name="/***hpdrainrate(hp)*/difficultydrain" type="xs:double" />
        <xs:element name="hitlength" type="xs:anyType" />
        <xs:element name="totallength" type="xs:anyType" />
        <xs:element name="version" type="xs:string" />
        <xs:element name="filemd5" type="xs:string" />
        <xs:element name="mode" type="xs:anyType" />
        <xs:element name="favouritecount" type="xs:anyType" />
        <xs:element name="rating" type="xs:double" />
        <xs:element name="playcount" type="xs:anyType" />
        <xs:element name="passcount" type="xs:anyType" />
        <xs:element name="countnormal" type="xs:anyType" />
        <xs:element name="countslider" type="xs:anyType" />
        <xs:element name="countspinner" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osuuserdata" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="mode" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="joindate" type="xs:long" />
        <xs:element name="count300" type="xs:anyType" />
        <xs:element name="count100" type="xs:anyType" />
        <xs:element name="count50" type="xs:anyType" />
        <xs:element name="playcount" type="xs:anyType" />
        <xs:element name="rankedscore" type="xs:long" />
        <xs:element name="totalscore" type="xs:long" />
        <xs:element name="pprank" type="xs:anyType" />
        <xs:element name="level" type="xs:double" />
        <xs:element name="ppraw" type="xs:double" />
        <xs:element name="accuracy" type="xs:double" />
        <xs:element name="countrankss" type="xs:anyType" />
        <xs:element name="countrankssh" type="xs:anyType" />
        <xs:element name="countranks" type="xs:anyType" />
        <xs:element name="countranksh" type="xs:anyType" />
        <xs:element name="countranka" type="xs:anyType" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="totalsecondsplayed" type="xs:anyType" />
        <xs:element name="ppcountryrank" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inactivitydata" >
      <xs:sequence>
        <xs:element name="guild" type="xs:long" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="days" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feeddata" >
      <xs:sequence>
        <xs:element name="guild" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="channel" type="xs:long" />
        <xs:element name="uts" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitydata" >
      <xs:sequence>
        <xs:element name="user" type="xs:long" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="source" type="xs:long" />
        <xs:element name="uts" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tributeroledata" >
      <xs:sequence>
        <xs:element name="guild" type="xs:long" />
        <xs:element name="role" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tributetimeoutdata" >
      <xs:sequence>
        <xs:element name="guild" type="xs:long" />
        <xs:element name="timeout" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tributememberdata" >
      <xs:sequence>
        <xs:element name="guild" type="xs:long" />
        <xs:element name="member" type="xs:long" />
        <xs:element name="start" type="xs:long" />
        <xs:element name="delay" type="xs:long" />
        <xs:element name="flag" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoroledata" >
      <xs:sequence>
        <xs:element name="guild" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="role" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="igndata" >
      <xs:sequence>
        <xs:element name="guild" type="xs:long" />
        <xs:element name="user" type="xs:long" />
        <xs:element name="game" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameidmapdata" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="icon" type="xs:string" />
        <xs:element name="multi" type="xs:anyType" />
        <xs:element name="reject" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamenamemapdata" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamedata" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="icon" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissiondata" >
      <xs:sequence>
        <xs:element name="guild" type="xs:long" />
        <xs:element name="channel" type="xs:long" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="node" type="xs:string" />
        <xs:element name="flag" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moduledata" >
      <xs:sequence>
        <xs:element name="guild" type="xs:long" />
        <xs:element name="module" type="xs:string" />
        <xs:element name="flag" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prefixdata" >
      <xs:sequence>
        <xs:element name="guild" type="xs:long" />
        <xs:element name="prefix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 