springcloud-book-greenwich12/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="blogserviceapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="public" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httputils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userutils" >
      <xs:sequence>
        <xs:element name="authorization" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservicehystrix" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogdetaildto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="blog" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogserviceapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="blogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtconfiguration" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rabbitconfig" >
      <xs:sequence>
        <xs:element name="queuename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globalmethodsecurityconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourceserverconfiguration" >
      <xs:complexContent>
       <xs:extension base="resourceserverconfigureradapter{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sysloggeraspect" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loggerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<blog,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="suject" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="syslog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//用户名username" type="xs:string" />
        <xs:element name="//用户操作operation" type="xs:string" />
        <xs:element name="//请求方法method" type="xs:string" />
        <xs:element name="//请求参数params" type="xs:string" />
        <xs:element name="//ip地址ip" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggerservice" >
      <xs:sequence>
        <xs:element name="rabbittemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="blogdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userserviceclient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 