Java2-Cursuri14/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="transmisie" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="mesaj" type="xs:string" />
        <xs:element name="transmisie" type="tiptransmisie" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produs" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
        <xs:element name="pret" type="xs:double" />
        <xs:element name="solutie" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 