restaurant/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="restaurantapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flaticon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="normalize" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modernizr-3.6.0.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.scrollup.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.waypoints.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="freefontsdownload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="www.freefontsdownload.net" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordersservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientsservice" >
      <xs:sequence>
        <xs:element name="repo" type="clientsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersservice" >
      <xs:sequence>
        <xs:element name="repo" type="usersrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodcategoryservice" >
      <xs:sequence>
        <xs:element name="repo" type="foodcategoryrepository" nillable="true" minOccurs="0" />
        <xs:element name="repomenu" type="foodmenurepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodmenuservice" >
      <xs:sequence>
        <xs:element name="repo" type="foodmenurepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicebaseoperations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodcategorywithmenudto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="foodmenulist" type="foodmenu" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemdto" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="orderitemscomment" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooditemdatadto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="foodmenuname" type="xs:string" />
        <xs:element name="size" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="foodmenuid" type="xs:long" />
        <xs:element name="foodsizeid" type="xs:long" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="foodpriceid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportmenudataqtydto" >
      <xs:sequence>
        <xs:element name="qty" type="xs:anyType" />
        <xs:element name="sizeid" type="xs:anyType" />
        <xs:element name="itemname" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="total" type="xs:anyType" />
        <xs:element name="sizename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cheuqedto" >
      <xs:sequence>
        <xs:element name="order" type="orders" nillable="true" minOccurs="0" />
        <xs:element name="fooditemdata" type="fooditemdatadto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="client" type="clients" nillable="true" minOccurs="0" />
        <xs:element name="user" type="users" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="reporttype" type="xs:string" />
        <xs:element name="cashername" type="xs:string" />
        <xs:element name="deliveryname" type="xs:string" />
        <xs:element name="from" type="xs:string" />
        <xs:element name="totalamount" type="xs:long" />
        <xs:element name="to" type="xs:string" />
        <xs:element name="from" type="xs:dateTime" />
        <xs:element name="to" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodsize" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="isactive" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roles" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dayreset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="isactive" type="xs:long" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orders" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitems" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodcategory" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clients" >
      <xs:sequence>
        <xs:element name="address" type="xs:string" />
        <xs:element name="blockedreason" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="isactive" type="xs:long" />
        <xs:element name="isblocked" type="xs:long" />
        <xs:element name="mobile1" type="xs:string" />
        <xs:element name="mobile2" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="notes" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodprices" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderscontrol" >
      <xs:sequence>
        <xs:element name="errormsg_wrongsize" type="xs:string" />
        <xs:element name="success_mssg" type="xs:string" />
        <xs:element name="GeneratedName" type="sessiondata" nillable="true" minOccurs="0" />
        <xs:element name="serv" type="ordersservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="foodcategoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="foodmenuservice" nillable="true" minOccurs="0" />
        <xs:element name="mv" type="xs:anyType" />
        <xs:element name="menudata" type="xs:anyType" />
        <xs:element name="foodcategorylist" type="foodcategorywithmenudto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="foodmenulist" type="foodmenu" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="orderitemdata" type="orderitems" nillable="true" minOccurs="0" />
        <xs:element name="orderitemcount" type="xs:long" />
        <xs:element name="totalprice" type="xs:long" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="clientinorder" type="clients" nillable="true" minOccurs="0" />
        <xs:element name="fooditemorderlist" type="fooditemdatadto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menucontrol" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientscontrol" >
      <xs:sequence>
        <xs:element name="clientserv" type="clientsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessiondata" nillable="true" minOccurs="0" />
        <xs:element name="newcl" type="clients" nillable="true" minOccurs="0" />
        <xs:element name="cl" type="clients" nillable="true" minOccurs="0" />
        <xs:element name="msg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontrol" >
      <xs:sequence>
        <xs:element name="userserv" type="usersservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assigndeliverycontrol" >
      <xs:sequence>
        <xs:element name="renderorder" type="orders" nillable="true" minOccurs="0" />
        <xs:element name="or" type="orders" nillable="true" minOccurs="0" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="delivery" type="users" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="serv" type="ordersservice" nillable="true" minOccurs="0" />
        <xs:element name="userserv" type="usersservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontrol" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportcontrol" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<orderitems,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usersrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<users,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<clients,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foodcategoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<foodcategory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foodpricerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<foodprices,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolesrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<roles,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foodmenurepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<foodmenu,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ordersrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<orders,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="javautils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessiondata" >
      <xs:sequence>
        <xs:element name="loggeduser" type="users" nillable="true" minOccurs="0" />
        <xs:element name="clientinorder" type="clients" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restaurantapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="requestfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pdfexporter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 