restaurant/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="foodsize" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="isactive" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roles" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="isactive" type="xs:long" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orders" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitems" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodcategory" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clients" >
      <xs:sequence>
        <xs:element name="address" type="xs:string" />
        <xs:element name="blockedreason" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="isactive" type="xs:long" />
        <xs:element name="isblocked" type="xs:long" />
        <xs:element name="mobile1" type="xs:string" />
        <xs:element name="mobile2" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="notes" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodprices" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 