spring-study5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<album,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singerauditrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<singeraudit,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singersummary" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="latestalbum" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datajpaconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singerserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="singerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singerrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<singer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singerauditserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="singerauditrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singersummaryservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="albumrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singerauditservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singersummaryserviceimpl" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorawarebean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springauditjpademo" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="album" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="release" type="xs:dateTime" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="GeneratedName" type="singer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singeraudit" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="lastmodifiedby" type="xs:string" />
        <xs:element name="lastmodified" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singer" >
      <xs:sequence>
        <xs:element name="find_all" type="xs:string" />
        <xs:element name="find_singer_by_id" type="xs:string" />
        <xs:element name="find_all_with_album" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="albums" type="album" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="instruments" type="instrument" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instrument" >
      <xs:sequence>
        <xs:element name="instrumentid" type="xs:string" />
        <xs:element name="singers" type="singer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singerserviceimpltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="ctx" type="xs:anyType" />
        <xs:element name="GeneratedName" type="singerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumserviceimpltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="ctx" type="xs:anyType" />
        <xs:element name="GeneratedName" type="albumservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 