JavaLearningSamples39/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="notification" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="source" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="is_active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 