java-jsonrpc-game1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="arenamail" >
      <xs:complexContent>
       <xs:extension base="quartzjobbean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletemail" >
      <xs:complexContent>
       <xs:extension base="quartzjobbean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boss" >
      <xs:complexContent>
       <xs:extension base="quartzjobbean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="areanareward" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="online" >
      <xs:complexContent>
       <xs:extension base="quartzjobbean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addpillage" >
      <xs:complexContent>
       <xs:extension base="quartzjobbean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datenumdao" >
      <xs:sequence>
        <xs:element name="rediskey" type="xs:string" />
        <xs:element name="redistemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="giftdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dailytaskdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
          <xs:element name="rediskey" type="xs:string" />
          <xs:element name="" type="basedailytaskdao" nillable="true" minOccurs="0" />
          <xs:element name="redistemplate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basestorydao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="" type="baseitemdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="datenumdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseactivitydao" nillable="true" minOccurs="0" />
          <xs:element name="copys" type="basestory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="whitelistdao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="copystardao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basedao2" >
      <xs:sequence>
        <xs:element name="base" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokendao" >
      <xs:sequence>
        <xs:element name="token_key" type="xs:string" />
        <xs:element name="user_id_key" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseskilldao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="skills" type="baseskill" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseachievementdao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="mytime" type="xs:long" />
          <xs:element name="achievements" type="baseachievement" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roledao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
          <xs:element name="" type="missiondao" nillable="true" minOccurs="0" />
          <xs:element name="level_action_value" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basemakeitemdao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="items" type="basemakeitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checkindao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="arenadao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
          <xs:element name="rediskey" type="xs:string" />
          <xs:element name="redistemplate" type="xs:anyType" />
          <xs:element name="" type="roledao" nillable="true" minOccurs="0" />
          <xs:element name="" type="maildao" nillable="true" minOccurs="0" />
          <xs:element name="" type="herodao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="versiondao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseitemdao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="items" type="baseitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basebossdao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="bosses" type="xs:anyType" />
          <xs:element name="damages" type="xs:anyType" />
          <xs:element name="date" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basemissiondao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="missions" type="basemission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="noticedao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="frienddao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="powerdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="activitydao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseheroequipdao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="heroequips" type="baseheroequip" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basecheckindao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storydao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
          <xs:element name="" type="dailytaskdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="missiondao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="killrankdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crusadedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseherodao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="heros" type="basehero" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="arenalogdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseitemshopdao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="mytime" type="xs:long" />
          <xs:element name="list" type="baseitemshop" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bosskillerdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="skilldao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
          <xs:element name="" type="baseskilldao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="maildao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="missiondao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
          <xs:element name="cache" type="xs:anyType" />
          <xs:element name="" type="herodao" nillable="true" minOccurs="0" />
          <xs:element name="" type="storydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="basemissiondao" nillable="true" minOccurs="0" />
          <xs:element name="type_copy" type="xs:string" />
          <xs:element name="type_hero_copy" type="xs:string" />
          <xs:element name="type_levelup" type="xs:string" />
          <xs:element name="type_hero_num" type="xs:string" />
          <xs:element name="type_item_num" type="xs:string" />
          <xs:element name="type_hero_class" type="xs:string" />
          <xs:element name="type_call_hero" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itemshopdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
          <xs:element name="rediskey" type="xs:string" />
          <xs:element name="" type="baseitemshopdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="herodao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
          <xs:element name="max_level" type="xs:long" />
          <xs:element name="" type="achievementdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseherodao" nillable="true" minOccurs="0" />
          <xs:element name="missondao" type="missiondao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bossdamagedao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="battlelogdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basespecialcopydao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseheroshopdao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="mytime" type="xs:long" />
          <xs:element name="list" type="baseheroshop" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="baseherodao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseitemdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basepayshopdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="financelogdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rewarddao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
          <xs:element name="" type="itemdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="roledao" nillable="true" minOccurs="0" />
          <xs:element name="" type="dailytaskdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseitemdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseactivitydao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="achievementdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
          <xs:element name="" type="herodao" nillable="true" minOccurs="0" />
          <xs:element name="" type="storydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseachievementdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basedailytaskdao" >
      <xs:complexContent>
       <xs:extension base="basedao2">
         <xs:sequence>
          <xs:element name="list" type="basedailytask" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderdao" >
      <xs:complexContent>
       <xs:extension base="basedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="versioncontroller" >
      <xs:sequence>
        <xs:element name="imeidao" type="whitelistdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="versiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="version2controller" >
      <xs:sequence>
        <xs:element name="imeidao" type="whitelistdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="versiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="callbackcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="achievementdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dailytaskdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vcontroller" >
      <xs:sequence>
        <xs:element name="imeidao" type="whitelistdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="versiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bosscontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mmcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="whitelist" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="imei" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseheroequip" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="pk" type="baseheroequippk" nillable="true" minOccurs="0" />
        <xs:element name="equip1" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="equip2" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="equip3" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="equip4" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="equip5" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="equip6" type="baseitem" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseshopdiscount" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="discount" type="xs:anyType" />
        <xs:element name="begintime" type="xs:anyType" />
        <xs:element name="endtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basespecialcopy" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="week" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="begintime" type="xs:anyType" />
        <xs:element name="endtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseitem" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="baseid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="sellcoin" type="xs:anyType" />
        <xs:element name="makecoin" type="xs:anyType" />
        <xs:element name="color" type="xs:anyType" />
        <xs:element name="exp" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseitemshop" >
      <xs:sequence>
        <xs:element name="money_type_coin" type="xs:long" />
        <xs:element name="money_type_gold" type="xs:long" />
        <xs:element name="//竞技场币money_type_3" type="xs:long" />
        <xs:element name="//远征币money_type_4" type="xs:long" />
        <xs:element name="//远征币money_type_5" type="xs:long" />
        <xs:element name="//普通商店shop_type_1" type="xs:long" />
        <xs:element name="//竞技场商店shop_type_3" type="xs:long" />
        <xs:element name="//远征商店shop_type_4" type="xs:long" />
        <xs:element name="//boss商店shop_type_5" type="xs:long" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="itemid" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="moneytype" type="xs:anyType" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="num" type="xs:anyType" />
        <xs:element name="sold" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basestorypk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basestory" >
      <xs:sequence>
        <xs:element name="copy_type" type="xs:long" />
        <xs:element name="hero_copy_type" type="xs:long" />
        <xs:element name="special_copy_type" type="xs:long" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="teamexp" type="xs:anyType" />
        <xs:element name="exp" type="xs:anyType" />
        <xs:element name="coin" type="xs:anyType" />
        <xs:element name="//等级限制unlocklevel" type="xs:anyType" />
        <xs:element name="//掉落道具items" type="xs:string" />
        <xs:element name="//扫荡掉落wipeoutitems" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseheroshop" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="quality" type="xs:anyType" />
        <xs:element name="itemid" type="xs:anyType" />
        <xs:element name="minnum" type="xs:anyType" />
        <xs:element name="maxnum" type="xs:anyType" />
        <xs:element name="weight" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basemakeitem" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="pk" type="basemakeitempk" nillable="true" minOccurs="0" />
        <xs:element name="num" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseskill" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="maxlevel" type="xs:long" />
        <xs:element name="basecoin" type="xs:long" />
        <xs:element name="levelupcoin" type="xs:long" />
        <xs:element name="combo" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basemakeitempk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="material" type="baseitem" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseachievement" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="type_crusade" type="xs:string" />
        <xs:element name="type_hero_class" type="xs:string" />
        <xs:element name="type_hero_id" type="xs:string" />
        <xs:element name="type_kill_num" type="xs:string" />
        <xs:element name="type_pk" type="xs:string" />
        <xs:element name="type_vip" type="xs:string" />
        <xs:element name="type_star" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="goal" type="xs:long" />
        <xs:element name="money" type="xs:long" />
        <xs:element name="target" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="reward" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="other" type="xs:string" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="moneytype" type="xs:long" />
        <xs:element name="complete" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basespecialcopypk" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="week" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedailytask" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="goal" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="reward" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="complete" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseboss" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="hp" type="xs:long" />
        <xs:element name="skill1level" type="xs:long" />
        <xs:element name="skill2level" type="xs:long" />
        <xs:element name="skill3level" type="xs:long" />
        <xs:element name="skill4level" type="xs:long" />
        <xs:element name="atk" type="xs:long" />
        <xs:element name="def" type="xs:long" />
        <xs:element name="magic" type="xs:long" />
        <xs:element name="//魔抗mr" type="xs:long" />
        <xs:element name="crtical" type="xs:long" />
        <xs:element name="dex" type="xs:long" />
        <xs:element name="vampire" type="xs:long" />
        <xs:element name="other" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseheroequippk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="basehero" nillable="true" minOccurs="0" />
        <xs:element name="class" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basehero" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="star" type="xs:anyType" />
        <xs:element name="skill1" type="baseskill" nillable="true" minOccurs="0" />
        <xs:element name="skill2" type="baseskill" nillable="true" minOccurs="0" />
        <xs:element name="skill3" type="baseskill" nillable="true" minOccurs="0" />
        <xs:element name="skill4" type="baseskill" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basemission" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//longserialversionuid" type="xs:anyType" />
        <xs:element name="parentid" type="xs:anyType" />
        <xs:element name="goal" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="target" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="reward" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="complete" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="md5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springcontextutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dailytaskmodel" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="tasklist" type="basedailytask" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="date" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playermodel" >
      <xs:sequence>
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="avatar" type="xs:long" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="generallist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specialcopymodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="items" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="token" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="tokens" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseactivityinstance" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chat" >
      <xs:sequence>
        <xs:element name="//广播broadcast" type="xs:long" />
        <xs:element name="//私聊privatechat" type="xs:long" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="//0广播1私聊type" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="avatar" type="xs:long" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="time" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datenummodel" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="date" type="xs:long" />
        <xs:element name="buyapnum" type="xs:long" />
        <xs:element name="buycoinnum" type="xs:long" />
        <xs:element name="barcoinnum" type="xs:long" />
        <xs:element name="specialcopy1" type="xs:long" />
        <xs:element name="specialcopy2" type="xs:long" />
        <xs:element name="specialcopy3" type="xs:long" />
        <xs:element name="specialcopy4" type="xs:long" />
        <xs:element name="specialcopy5" type="xs:long" />
        <xs:element name="specialcopy6" type="xs:long" />
        <xs:element name="specialcopy7" type="xs:long" />
        <xs:element name="specialcopycooltime1" type="xs:long" />
        <xs:element name="specialcopycooltime2" type="xs:long" />
        <xs:element name="specialcopycooltime3" type="xs:long" />
        <xs:element name="specialcopycooltime4" type="xs:long" />
        <xs:element name="specialcopycooltime5" type="xs:long" />
        <xs:element name="specialcopycooltime6" type="xs:long" />
        <xs:element name="specialcopycooltime7" type="xs:long" />
        <xs:element name="pillagebuynum" type="xs:long" />
        <xs:element name="//在线奖励online" type="xs:long" />
        <xs:element name="buyarenanum" type="xs:long" />
        <xs:element name="arenabattlenum" type="xs:long" />
        <xs:element name="arenatime" type="xs:long" />
        <xs:element name="//铜币抽的时间bartime" type="xs:long" />
        <xs:element name="arenacd" type="xs:long" />
        <xs:element name="dropitemtime" type="xs:long" />
        <xs:element name="dropitemnum" type="xs:long" />
        <xs:element name="soulshopnum" type="xs:long" />
        <xs:element name="chatnum" type="xs:long" />
        <xs:element name="boss" type="xs:long" />
        <xs:element name="buyboss" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arenaplayermodel" >
      <xs:sequence>
        <xs:element name="rank" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="avatar" type="xs:anyType" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="wins" type="xs:long" />
        <xs:element name="generallist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reward" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="exp" type="xs:anyType" />
        <xs:element name="coin" type="xs:anyType" />
        <xs:element name="gold" type="xs:anyType" />
        <xs:element name="//竞技场的币money3" type="xs:anyType" />
        <xs:element name="//讨伐天下的币money4" type="xs:anyType" />
        <xs:element name="//讨伐天下的币money5" type="xs:anyType" />
        <xs:element name="//体力ap" type="xs:anyType" />
        <xs:element name="//体力vip" type="xs:anyType" />
        <xs:element name="//体力card" type="xs:anyType" />
        <xs:element name="item_id" type="xs:long" />
        <xs:element name="item_num" type="xs:long" />
        <xs:element name="has" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="missionmodel" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="missionmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="copystarmodel" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="chapter" type="xs:long" />
        <xs:element name="star" type="xs:long" />
        <xs:element name="items" type="xs:long" />
        <xs:element name="have" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playermodel2" >
      <xs:sequence>
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="avatar" type="xs:long" />
        <xs:element name="level" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemshopmodel" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="itemlist" type="baseitemshop" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="date" type="xs:long" />
        <xs:element name="discount" type="xs:long" />
        <xs:element name="refreshnum" type="xs:long" />
        <xs:element name="refreshtime" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crusademodel" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="date" type="xs:long" />
        <xs:element name="list" type="battleplayermodel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="hpmap" type="xs:anyType" />
        <xs:element name="cdmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boss" >
      <xs:sequence>
        <xs:element name="hp" type="xs:long" />
        <xs:element name="date" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="battleplayermodel" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="avatar" type="xs:anyType" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="rewardnum" type="xs:long" />
        <xs:element name="rewards" type="reward" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="heros" type="hero" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
        <xs:element name="//购买体力次数用尽error_buy_over_num" type="xs:long" />
        <xs:element name="code" type="xs:long" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="result" >
      <xs:sequence>
        <xs:element name="map" type="xs:anyType" />
        <xs:element name="generallist" type="xs:anyType" />
        <xs:element name="itemlist" type="xs:anyType" />
        <xs:element name="missionlist" type="basemission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="achievements" type="baseachievement" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dailytasklist" type="basedailytask" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="copylist" type="xs:anyType" />
        <xs:element name="herocopylist" type="xs:anyType" />
        <xs:element name="random_result" type="xs:anyType" />
        <xs:element name="money" type="xs:anyType" />
        <xs:element name="team" type="xs:anyType" />
        <xs:element name="ap" type="xs:long" />
        <xs:element name="addap" type="xs:long" />
        <xs:element name="arena_money" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorresult" >
      <xs:sequence>
        <xs:element name="notenoughgold" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="error" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="orderdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="basepayshopdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="noticeservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="noticedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checkinservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="basecheckindao" nillable="true" minOccurs="0" />
          <xs:element name="" type="checkindao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="missionservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="basemissiondao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="activityservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="baseactivitydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="activitydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="serverdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="maildao" nillable="true" minOccurs="0" />
          <xs:element name="" type="financelogdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mailservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="maildao" nillable="true" minOccurs="0" />
          <xs:element name="" type="missiondao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="friendservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="frienddao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storyservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="achievementdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="storydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="basestorydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="battlelogdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="copystardao" nillable="true" minOccurs="0" />
          <xs:element name="" type="powerdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specialcopyservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="max_num" type="xs:long" />
          <xs:element name="" type="basestorydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="battlelogdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="powerdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="basespecialcopydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseachievementdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="achievementdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="killrankdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itemdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="herodao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="baseitemdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="baseherodao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rewarddao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dailytaskdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="missiondao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tokendao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="datenumdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arenaservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="maxchallenger_num" type="xs:long" />
          <xs:element name="battle_max_time" type="xs:long" />
          <xs:element name="" type="achievementdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="arenadao" nillable="true" minOccurs="0" />
          <xs:element name="" type="arenalogdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="powerdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="serverdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseactivitydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="maildao" nillable="true" minOccurs="0" />
          <xs:element name="" type="skilldao" nillable="true" minOccurs="0" />
          <xs:element name="" type="killrankdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crusadeservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="achievementdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="powerdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="crusadedao" nillable="true" minOccurs="0" />
          <xs:element name="" type="battlelogdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="skilldao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:complexContent>
       <xs:extension base="baseclass">
         <xs:sequence>
          <xs:element name="" type="tokendao" nillable="true" minOccurs="0" />
          <xs:element name="" type="userdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="sensitives" type="xs:string" />
          <xs:element name="" type="arenadao" nillable="true" minOccurs="0" />
          <xs:element name="" type="tokendao" nillable="true" minOccurs="0" />
          <xs:element name="" type="storydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="basestorydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseheroshopdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="serverdao" nillable="true" minOccurs="0" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="achservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="baseachievementdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="achievementdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="arenadao" nillable="true" minOccurs="0" />
          <xs:element name="" type="storydao" nillable="true" minOccurs="0" />
          <xs:element name="" type="killrankdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bossservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="basebossdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="bossdamagedao" nillable="true" minOccurs="0" />
          <xs:element name="" type="bosskillerdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="maildao" nillable="true" minOccurs="0" />
          <xs:element name="" type="serverdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exchangecodeservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="giftdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messageservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shopservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="itemshopdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseitemdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onlineservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exchangecode" >
      <xs:complexContent>
       <xs:extension base="baseclass">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="skillservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="skilldao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseskilldao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itemservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="basemakeitemdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="imeidao" type="whitelistdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="serverdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="tokendao" nillable="true" minOccurs="0" />
          <xs:element name="" type="userdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="chatservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseclass" >
      <xs:sequence>
        <xs:element name="//@resource" type="xs:anyType" />
        <xs:element name="GeneratedName" type="roledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itemdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="herodao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="baseitemdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="baseherodao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rewarddao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dailytaskdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="missiondao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tokendao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="datenumdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pay" >
      <xs:complexContent>
       <xs:extension base="baseclass">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="giftservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="giftdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="heroservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="achievementdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseheroshopdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="baseheroequipdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="basemakeitemdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="financelogdao" nillable="true" minOccurs="0" />
          <xs:element name="type_coin_random" type="xs:long" />
          <xs:element name="type_gold_random" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pillageservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="powerdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="battlelogdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="skilldao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="versionservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="versiondao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="request" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="service" type="xs:string" />
        <xs:element name="method" type="xs:string" />
        <xs:element name="params" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="success" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="result" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mail" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="//privatelongserialversionuid" type="xs:long" />
        <xs:element name="deleted" type="xs:long" />
        <xs:element name="//publicintsystem" type="xs:anyType" />
        <xs:element name="fromname" type="xs:string" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="attachment" type="xs:string" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="sendtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friend" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="roleid2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bosskiller" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="date" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendap" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="roleid2" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="avatar" type="xs:long" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="date" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basespecialcopy" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="week" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="begintime" type="xs:anyType" />
        <xs:element name="endtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="status_create" type="xs:long" />
        <xs:element name="status_pay" type="xs:long" />
        <xs:element name="status_success" type="xs:long" />
        <xs:element name="moon_card" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="gold" type="xs:long" />
        <xs:element name="addgold" type="xs:long" />
        <xs:element name="money" type="xs:long" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="platformid" type="xs:long" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="desc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="killrank" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="avatar" type="xs:long" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="time" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="achievementpk" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="aroleid" type="xs:anyType" />
        <xs:element name="achievementid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="normal_reg" type="xs:long" />
        <xs:element name="quick_reg" type="xs:long" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="imei" type="xs:string" />
        <xs:element name="//@column(name" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="registertype" type="xs:long" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="signintime" type="xs:anyType" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseheroequip" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="pk" type="baseheroequippk" nillable="true" minOccurs="0" />
        <xs:element name="equip1" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="equip2" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="equip3" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="equip4" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="equip5" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="equip6" type="baseitem" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="onlinelog" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="time" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basecheckin" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="month" type="xs:anyType" />
        <xs:element name="reward" type="xs:string" />
        <xs:element name="//累计签到奖励lj" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notice" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="begintime" type="xs:string" />
        <xs:element name="endtime" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basehero" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="star" type="xs:anyType" />
        <xs:element name="skill1" type="baseskill" nillable="true" minOccurs="0" />
        <xs:element name="skill2" type="baseskill" nillable="true" minOccurs="0" />
        <xs:element name="skill3" type="baseskill" nillable="true" minOccurs="0" />
        <xs:element name="skill4" type="baseskill" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseskill" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="//name" type="xs:string" />
        <xs:element name="//maxlevel" type="xs:anyType" />
        <xs:element name="//basecoin" type="xs:anyType" />
        <xs:element name="//levelupcoin" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="itemid" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="num" type="xs:anyType" />
        <xs:element name="roleid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ljcheckin" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="num" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heropk" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="aroleid" type="xs:anyType" />
        <xs:element name="heroid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendmsg" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="roleid2" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="avatar" type="xs:long" />
        <xs:element name="level" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basespecialcopypk" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="week" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="server" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="state" type="xs:anyType" />
        <xs:element name="enable" type="xs:anyType" />
        <xs:element name="haveplayer" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="power" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="power" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="avatar" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="serverid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="giftcode" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="giftid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseitemshop" >
      <xs:sequence>
        <xs:element name="money_type_coin" type="xs:long" />
        <xs:element name="money_type_gold" type="xs:long" />
        <xs:element name="//竞技场币money_type_3" type="xs:long" />
        <xs:element name="//远征币money_type_4" type="xs:long" />
        <xs:element name="//普通商店shop_type_1" type="xs:long" />
        <xs:element name="//竞技场商店shop_type_3" type="xs:long" />
        <xs:element name="//远征商店shop_type_4" type="xs:long" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="itemid" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="moneytype" type="xs:anyType" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="num" type="xs:anyType" />
        <xs:element name="sold" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basepayshop" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="m_card" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="addgold" type="xs:anyType" />
        <xs:element name="gold" type="xs:anyType" />
        <xs:element name="money" type="xs:anyType" />
        <xs:element name="order" type="xs:anyType" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="recommend" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="copystar" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="chapter" type="xs:long" />
        <xs:element name="star" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basestory" >
      <xs:sequence>
        <xs:element name="copy_type" type="xs:long" />
        <xs:element name="hero_copy_type" type="xs:long" />
        <xs:element name="special_copy_type" type="xs:long" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="teamexp" type="xs:anyType" />
        <xs:element name="exp" type="xs:anyType" />
        <xs:element name="coin" type="xs:anyType" />
        <xs:element name="//等级限制unlocklevel" type="xs:anyType" />
        <xs:element name="//掉落道具items" type="xs:string" />
        <xs:element name="//扫荡掉落wipeoutitems" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basemakeitempk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="baseitem" nillable="true" minOccurs="0" />
        <xs:element name="material" type="baseitem" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basestorypk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mission" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="aroleid" type="xs:long" />
        <xs:element name="missionid" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="complete" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="battlelog" >
      <xs:sequence>
        <xs:element name="//新战斗battle_log_init" type="xs:long" />
        <xs:element name="//胜利battle_log_win" type="xs:long" />
        <xs:element name="//失败battle_log_lost" type="xs:long" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="storyid" type="xs:anyType" />
        <xs:element name="storytype" type="xs:anyType" />
        <xs:element name="//0无发送结果1胜利2失败battleresult" type="xs:anyType" />
        <xs:element name="begintime" type="xs:anyType" />
        <xs:element name="endtime" type="xs:anyType" />
        <xs:element name="heroid1" type="xs:anyType" />
        <xs:element name="heroid2" type="xs:anyType" />
        <xs:element name="heroid3" type="xs:anyType" />
        <xs:element name="heroid4" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="roleid2" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activity" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="actid" type="xs:anyType" />
        <xs:element name="key" type="xs:long" />
        <xs:element name="time" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basemakeitem" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="pk" type="basemakeitempk" nillable="true" minOccurs="0" />
        <xs:element name="num" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseshopdiscount" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="discount" type="xs:anyType" />
        <xs:element name="begintime" type="xs:anyType" />
        <xs:element name="endtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skillpk" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="aroleid" type="xs:anyType" />
        <xs:element name="skillid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bossdamage" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="avatar" type="xs:long" />
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="damage" type="xs:long" />
        <xs:element name="date" type="xs:long" />
        <xs:element name="heros" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arena" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="rank" type="xs:anyType" />
        <xs:element name="battlenum" type="xs:anyType" />
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="battletime" type="xs:long" />
        <xs:element name="winnum" type="xs:anyType" />
        <xs:element name="generalid1" type="xs:anyType" />
        <xs:element name="generalid2" type="xs:anyType" />
        <xs:element name="generalid3" type="xs:anyType" />
        <xs:element name="generalid4" type="xs:anyType" />
        <xs:element name="//购买挑战次数buynum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseheroshop" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="quality" type="xs:anyType" />
        <xs:element name="itemid" type="xs:anyType" />
        <xs:element name="minnum" type="xs:anyType" />
        <xs:element name="maxnum" type="xs:anyType" />
        <xs:element name="weight" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="actioncooltime" type="xs:long" />
        <xs:element name="//体力最大值-等级anum" type="xs:long" />
        <xs:element name="exp" type="xs:long" />
        <xs:element name="vip_gold" type="xs:long" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="coin" type="xs:long" />
        <xs:element name="gold" type="xs:long" />
        <xs:element name="exp" type="xs:long" />
        <xs:element name="ap" type="xs:long" />
        <xs:element name="aptime" type="xs:long" />
        <xs:element name="vip" type="xs:long" />
        <xs:element name="bargoldtime" type="xs:long" />
        <xs:element name="//@column(name" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="avatar" type="xs:long" />
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="money3" type="xs:long" />
        <xs:element name="money4" type="xs:long" />
        <xs:element name="money5" type="xs:long" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="createtime" type="xs:anyType" />
        <xs:element name="enable" type="xs:anyType" />
        <xs:element name="str" type="xs:string" />
        <xs:element name="countgold" type="xs:long" />
        <xs:element name="pillagetime" type="xs:long" />
        <xs:element name="pillagenum" type="xs:long" />
        <xs:element name="rank" type="xs:long" />
        <xs:element name="winnum" type="xs:long" />
        <xs:element name="cardtime" type="xs:long" />
        <xs:element name="killnum" type="xs:long" />
        <xs:element name="disablemsg" type="xs:anyType" />
        <xs:element name="crusadenum" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="version" >
      <xs:sequence>
        <xs:element name="type_zip" type="xs:long" />
        <xs:element name="type_apk" type="xs:long" />
        <xs:element name="enable" type="xs:long" />
        <xs:element name="versioncode" type="xs:anyType" />
        <xs:element name="versiontype" type="xs:anyType" />
        <xs:element name="versionname" type="xs:string" />
        <xs:element name="versionurl" type="xs:string" />
        <xs:element name="versionenable" type="xs:anyType" />
        <xs:element name="channel" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gifttemplate" >
      <xs:sequence>
        <xs:element name="//可重复type_0" type="xs:long" />
        <xs:element name="type_1" type="xs:long" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="reward" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ranklog" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="date" type="xs:long" />
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="rank" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendpk" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="roleid2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemtable" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="itemid" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="num" type="xs:anyType" />
        <xs:element name="roleid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skill" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="aroleid" type="xs:long" />
        <xs:element name="skillid" type="xs:long" />
        <xs:element name="level" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseactivity" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="icon" type="xs:string" />
        <xs:element name="begintime" type="xs:anyType" />
        <xs:element name="endtime" type="xs:anyType" />
        <xs:element name="reward" type="xs:string" />
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="enable" type="xs:anyType" />
        <xs:element name="order" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="achievement" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="aroleid" type="xs:long" />
        <xs:element name="achievementid" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="complete" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkin" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="month" type="xs:anyType" />
        <xs:element name="day" type="xs:anyType" />
        <xs:element name="num" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="financelog" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="status_gen_skill_levelup" type="xs:long" />
        <xs:element name="status_gen_star_up" type="xs:long" />
        <xs:element name="status_random_gen_one_times_coin" type="xs:long" />
        <xs:element name="status_random_gen_one_times_gold" type="xs:long" />
        <xs:element name="status_random_gen_ten_times_coin" type="xs:long" />
        <xs:element name="status_random_gen_ten_times_gold" type="xs:long" />
        <xs:element name="status_reset_skill" type="xs:long" />
        <xs:element name="status_reset_po" type="xs:long" />
        <xs:element name="status_random_soul" type="xs:long" />
        <xs:element name="status_equip_make" type="xs:long" />
        <xs:element name="status_item_sell" type="xs:long" />
        <xs:element name="//status_mail_get_coin" type="xs:long" />
        <xs:element name="status_sign_get_gold" type="xs:long" />
        <xs:element name="status_pay_get_gold" type="xs:long" />
        <xs:element name="status_shop_refresh" type="xs:long" />
        <xs:element name="status_shop_buy_coin" type="xs:long" />
        <xs:element name="status_shop_buy_gold" type="xs:long" />
        <xs:element name="status_story_get_coin" type="xs:long" />
        <xs:element name="status_wipe_out_get" type="xs:long" />
        <xs:element name="status_buy_physical_strengthp" type="xs:long" />
        <xs:element name="//status_task_get_coin" type="xs:long" />
        <xs:element name="//status_activity_pay_coin" type="xs:long" />
        <xs:element name="status_activity_pay" type="xs:long" />
        <xs:element name="status_daily_task_get" type="xs:long" />
        <xs:element name="status_buy_wipe_out" type="xs:long" />
        <xs:element name="status_code_get" type="xs:long" />
        <xs:element name="status_task_get" type="xs:long" />
        <xs:element name="status_arena_buy" type="xs:long" />
        <xs:element name="status_update_name" type="xs:long" />
        <xs:element name="status_battle_in_world" type="xs:long" />
        <xs:element name="//扫荡status_gold_wipe_out" type="xs:long" />
        <xs:element name="status_shop_buy_money3" type="xs:long" />
        <xs:element name="status_shop_buy_money4" type="xs:long" />
        <xs:element name="status_coin_equip_exp" type="xs:long" />
        <xs:element name="status_chat" type="xs:long" />
        <xs:element name="//投资计划status_touzijihua" type="xs:long" />
        <xs:element name="//成就获得status_ach_get" type="xs:long" />
        <xs:element name="//成就消费status_buy_ach" type="xs:long" />
        <xs:element name="status_shop_buy_money5" type="xs:long" />
        <xs:element name="status_reset_boss" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="//1coin2goldmoneytype" type="xs:anyType" />
        <xs:element name="oldmoney" type="xs:anyType" />
        <xs:element name="newmoney" type="xs:anyType" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="desc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedailytask" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="goal" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="reward" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="complete" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arenalog" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="begintime" type="xs:long" />
        <xs:element name="endtime" type="xs:long" />
        <xs:element name="roleid1" type="xs:anyType" />
        <xs:element name="roleid2" type="xs:anyType" />
        <xs:element name="battleresult" type="xs:anyType" />
        <xs:element name="rank1" type="xs:anyType" />
        <xs:element name="rank2" type="xs:anyType" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="name1" type="xs:string" />
        <xs:element name="name2" type="xs:string" />
        <xs:element name="avatar1" type="xs:anyType" />
        <xs:element name="avatar2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseheroequippk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="basehero" nillable="true" minOccurs="0" />
        <xs:element name="class" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="giftlog" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="giftid" type="xs:anyType" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="time" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basemission" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//longserialversionuid" type="xs:anyType" />
        <xs:element name="parentid" type="xs:anyType" />
        <xs:element name="goal" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="target" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="reward" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="complete" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storypk" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="aroleid" type="xs:anyType" />
        <xs:element name="storyid" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseitem" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="baseid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="sellcoin" type="xs:anyType" />
        <xs:element name="makecoin" type="xs:anyType" />
        <xs:element name="color" type="xs:anyType" />
        <xs:element name="exp" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hero" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="exp" type="xs:long" />
        <xs:element name="aroleid" type="xs:long" />
        <xs:element name="heroid" type="xs:long" />
        <xs:element name="exp" type="xs:long" />
        <xs:element name="str" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:long" />
        <xs:element name="dex" type="xs:long" />
        <xs:element name="class" type="xs:long" />
        <xs:element name="star" type="xs:long" />
        <xs:element name="isbattle" type="xs:anyType" />
        <xs:element name="position" type="xs:long" />
        <xs:element name="skill1level" type="xs:long" />
        <xs:element name="skill2level" type="xs:long" />
        <xs:element name="skill3level" type="xs:long" />
        <xs:element name="skill4level" type="xs:long" />
        <xs:element name="equip1" type="xs:anyType" />
        <xs:element name="equip2" type="xs:anyType" />
        <xs:element name="equip3" type="xs:anyType" />
        <xs:element name="equip4" type="xs:anyType" />
        <xs:element name="equip5" type="xs:anyType" />
        <xs:element name="equip6" type="xs:anyType" />
        <xs:element name="//这个是专属神器//@jsonserialize(include" type="xs:long" />
        <xs:element name="equip1exp" type="xs:long" />
        <xs:element name="equip2exp" type="xs:long" />
        <xs:element name="equip3exp" type="xs:long" />
        <xs:element name="equip4exp" type="xs:long" />
        <xs:element name="equip5exp" type="xs:long" />
        <xs:element name="equip6exp" type="xs:long" />
        <xs:element name="equip7exp" type="xs:long" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="hp" type="xs:anyType" />
        <xs:element name="cd" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="missionpk" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="aroleid" type="xs:anyType" />
        <xs:element name="missionid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="story" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="copy_type" type="xs:long" />
        <xs:element name="hero_copy_type" type="xs:long" />
        <xs:element name="aroleid" type="xs:anyType" />
        <xs:element name="storyid" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="star" type="xs:anyType" />
        <xs:element name="num" type="xs:anyType" />
        <xs:element name="buynum" type="xs:anyType" />
        <xs:element name="date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bossbroadcast" >
      <xs:sequence>
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="msg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="echohandler" >
      <xs:complexContent>
       <xs:extension base="textwebsockethandler">
         <xs:sequence>
          <xs:element name="connections" type="handler" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="sessionmap" type="xs:anyType" />
          <xs:element name="bossplayers" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="broadcast" >
      <xs:sequence>
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="msg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="handler" >
      <xs:sequence>
        <xs:element name="session" type="xs:anyType" />
        <xs:element name="requestid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="serverid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocketconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocket" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 