KR_Developing-a-New-Audit-Methodology-for-Electronic-Public-Tenders-back1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application-prod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappingsdto" >
      <xs:sequence>
        <xs:element name="procurementmethoddetails" type="procurementmethoddetailsdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="risklevels" type="riskleveldto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="indicators" type="indicatordto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="regions" type="regiondto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="questionanswers" type="answertypedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="indicatoranswers" type="answertypedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="componentimpacts" type="componentimpactdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="checklistscores" type="checklistscoredto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="checkliststatuses" type="checkliststatusdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="templatetypes" type="templatetypedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="okgz" type="okgzdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dashboardtenderchecklistfilter" type="dashboardtenderchecklistfilterdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="indicatorstatuses" type="indicatorstatusdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatedto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="base" type="xs:anyType" />
        <xs:element name="type" type="templatetypedto" nillable="true" minOccurs="0" />
        <xs:element name="modifieddate" type="xs:anyType" />
        <xs:element name="categories" type="questioncategorydto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardtenderchecklistfilterdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="descriptionen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderindicatordto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissiondto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="descriptionen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questiondto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="base" type="xs:anyType" />
        <xs:element name="number" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkliststatusdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditornamedto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indicatordto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="risks" type="xs:string" />
        <xs:element name="lawviolation" type="xs:string" />
        <xs:element name="riskleveltext" type="xs:string" />
        <xs:element name="descriptionen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyerdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="identifierid" type="xs:string" />
        <xs:element name="identifierlegalnameru" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortingoptiondto" >
      <xs:sequence>
        <xs:element name="field" type="xs:string" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorsettingsdto" >
      <xs:sequence>
        <xs:element name="tendervaluerank" type="xs:double" />
        <xs:element name="tenderrisklevelrank" type="xs:double" />
        <xs:element name="buyervaluerank" type="xs:double" />
        <xs:element name="buyerrisklevelrank" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorsresponse" >
      <xs:sequence>
        <xs:element name="auditors" type="auditordto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answerdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="npa" type="xs:string" />
        <xs:element name="answertype" type="answertypedto" nillable="true" minOccurs="0" />
        <xs:element name="componentimpact" type="componentimpactdto" nillable="true" minOccurs="0" />
        <xs:element name="categoryname" type="xs:string" />
        <xs:element name="categorynumber" type="xs:string" />
        <xs:element name="questiondescription" type="xs:string" />
        <xs:element name="basequestion" type="xs:anyType" />
        <xs:element name="questionnumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
        <xs:element name="modifieddate" type="xs:anyType" />
        <xs:element name="tenderscomment" type="xs:string" />
        <xs:element name="tendersimpact" type="componentimpactdto" nillable="true" minOccurs="0" />
        <xs:element name="autoscore" type="checklistscoredto" nillable="true" minOccurs="0" />
        <xs:element name="manualscore" type="checklistscoredto" nillable="true" minOccurs="0" />
        <xs:element name="manualtendersscore" type="checklistscoredto" nillable="true" minOccurs="0" />
        <xs:element name="autotendersscore" type="checklistscoredto" nillable="true" minOccurs="0" />
        <xs:element name="answers" type="answerdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="indicators" type="checklistindicatordto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="status" type="checkliststatusdto" nillable="true" minOccurs="0" />
        <xs:element name="buyer" type="buyerdto" nillable="true" minOccurs="0" />
        <xs:element name="auditor" type="auditordto" nillable="true" minOccurs="0" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="auditname" type="xs:string" />
        <xs:element name="contractnumber" type="xs:string" />
        <xs:element name="contractamount" type="xs:double" />
        <xs:element name="contractdescription" type="xs:string" />
        <xs:element name="supplier" type="xs:string" />
        <xs:element name="templatename" type="xs:string" />
        <xs:element name="templatetypeid" type="xs:anyType" />
        <xs:element name="tender" type="tenderdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="riskleveldto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answertypedto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistindicatordto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="indicator" type="indicatordto" nillable="true" minOccurs="0" />
        <xs:element name="answertype" type="answertypedto" nillable="true" minOccurs="0" />
        <xs:element name="componentimpact" type="componentimpactdto" nillable="true" minOccurs="0" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncategorydto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="questions" type="questiondto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columndetailsdto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="translate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistscoredto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="procurementmethoddetailsdto" >
      <xs:sequence>
        <xs:element name="nameen" type="xs:string" />
        <xs:element name="nameenfull" type="xs:string" />
        <xs:element name="nameru" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditordto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="disabled" type="xs:anyType" />
        <xs:element name="permissions" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infodto" >
      <xs:sequence>
        <xs:element name="tenderscount" type="xs:long" />
        <xs:element name="tendersamount" type="xs:long" />
        <xs:element name="risktenderscount" type="xs:long" />
        <xs:element name="risktendersamount" type="xs:long" />
        <xs:element name="risktenderspercent" type="xs:double" />
        <xs:element name="risktendersamountpercent" type="xs:double" />
        <xs:element name="buyerscount" type="xs:long" />
        <xs:element name="riskbuyerscount" type="xs:long" />
        <xs:element name="riskbuyerspercent" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valuebyfieldinpercentdto" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="indicatorid" type="xs:anyType" />
        <xs:element name="value" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valuebyfielddto" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="indicatorid" type="xs:anyType" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyertopdto" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="riskvalue" type="xs:long" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyertopbyindicatorcountdto" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topokgzbyrisktendersvaluedto" >
      <xs:sequence>
        <xs:element name="cpv" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="risktendersvaluebymethoddto" >
      <xs:sequence>
        <xs:element name="method" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="percent" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tendertopdto" >
      <xs:sequence>
        <xs:element name="tenderid" type="xs:long" />
        <xs:element name="result" type="xs:long" />
        <xs:element name="link" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="datepublished" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valuebymonthdto" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="valuewithrisk" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basetopdto" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="result" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topinfodto" >
      <xs:sequence>
        <xs:element name="tender" type="xs:long" />
        <xs:element name="buyer" type="xs:string" />
        <xs:element name="indicator" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatetypedto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
        <xs:element name="procurementmethods" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistquestioncategorydto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyerprioritizationdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="identifierid" type="xs:string" />
        <xs:element name="identifierlegalnameru" type="xs:string" />
        <xs:element name="risklevel" type="xs:anyType" />
        <xs:element name="procedurenumber" type="xs:anyType" />
        <xs:element name="proceduresexpectedvalue" type="xs:long" />
        <xs:element name="contractsamount" type="xs:long" />
        <xs:element name="riskedprocedures" type="xs:anyType" />
        <xs:element name="riskedprocedureswithcontract" type="xs:anyType" />
        <xs:element name="riskedproceduresexpectedvalue" type="xs:long" />
        <xs:element name="riskedproceduresexpectedvaluewithcontract" type="xs:long" />
        <xs:element name="procedureswithbaddata" type="xs:anyType" />
        <xs:element name="weightedrank" type="xs:double" />
        <xs:element name="passedindicatorscount" type="xs:anyType" />
        <xs:element name="passedindicators" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentimpactdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="okgzdto" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="originalcode" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderprioritizationdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="procedureexpectedvalue" type="xs:long" />
        <xs:element name="completedlotvalue" type="xs:long" />
        <xs:element name="procurementmethoddetails" type="xs:string" />
        <xs:element name="datepublished" type="xs:anyType" />
        <xs:element name="contractdate" type="xs:anyType" />
        <xs:element name="contractsigningdate" type="xs:string" />
        <xs:element name="completedlotscount" type="xs:anyType" />
        <xs:element name="tendererscount" type="xs:anyType" />
        <xs:element name="disqualifiedscount" type="xs:anyType" />
        <xs:element name="supplierscount" type="xs:anyType" />
        <xs:element name="passedindicatorscount" type="xs:anyType" />
        <xs:element name="cpvcount" type="xs:anyType" />
        <xs:element name="risklevel" type="xs:anyType" />
        <xs:element name="weightedrank" type="xs:double" />
        <xs:element name="identifierid" type="xs:string" />
        <xs:element name="identifierlegalnameru" type="xs:string" />
        <xs:element name="passedindicatornamelist" type="xs:string" />
        <xs:element name="periodstartdate" type="xs:anyType" />
        <xs:element name="periodenddate" type="xs:anyType" />
        <xs:element name="datedisclosed" type="xs:anyType" />
        <xs:element name="guaranteeamount" type="xs:double" />
        <xs:element name="checklistid" type="xs:anyType" />
        <xs:element name="auditorid" type="xs:anyType" />
        <xs:element name="checklistname" type="xs:string" />
        <xs:element name="checkliststatus" type="xs:anyType" />
        <xs:element name="checklistauditorname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="regiondto" >
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="regionru" type="xs:string" />
        <xs:element name="regionen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indicatorstatusdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditnamedto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="auditname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityconverterimpl" >
      <xs:sequence>
        <xs:element name="tenderdao" type="tenderdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="buyerdao" type="buyerdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mappingsdao" type="mappingsdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="auditordao" type="auditordaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="procurement_method_details_title" type="xs:string" />
        <xs:element name="current_stage_title" type="xs:string" />
        <xs:element name="risk_level_title" type="xs:string" />
        <xs:element name="prioritization_parameter_title" type="xs:string" />
        <xs:element name="checklist_status_title" type="xs:string" />
        <xs:element name="with_checklist_tender_dashboard_filter_type" type="xs:anyType" />
        <xs:element name="without_checklist_tender_dashboard_filter_type" type="xs:anyType" />
        <xs:element name="risk_level_description_column_name" type="xs:string" />
        <xs:element name="completed_checklist_status_id" type="xs:anyType" />
        <xs:element name="user_is_disabled_error_json_message" type="xs:string" />
        <xs:element name="bad_credentials_error_json_message" type="xs:string" />
        <xs:element name="procurement_method_details_mapping" type="procurementmethoddetailsdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="procurement_method_details_map" type="xs:anyType" />
        <xs:element name="current_stage_map" type="xs:anyType" />
        <xs:element name="number_type_field_list" type="xs:anyType" />
        <xs:element name="tender_dashboard_checklist_filter" type="dashboardtenderchecklistfilterdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="checklist_status" type="xs:anyType" />
        <xs:element name="regions" type="regiondto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="indicator_status" type="indicatorstatusdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apiapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistpdfgenerator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="headerpageevent" nillable="true" minOccurs="0" />
        <xs:element name="checklistdao" type="checklistdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="buyerpdfgenerator" type="checklistbuyerpdfgenerator" nillable="true" minOccurs="0" />
        <xs:element name="tenderpdfgenerator" type="checklisttenderpdfgenerator" nillable="true" minOccurs="0" />
        <xs:element name="buyer_template_type_id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistbuyerpdfgenerator" >
      <xs:complexContent>
       <xs:extension base="checklistpdfgeneratorabs">
         <xs:sequence>
          <xs:element name="font" type="pdffont" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checklisttenderpdfgenerator" >
      <xs:complexContent>
       <xs:extension base="checklistpdfgeneratorabs">
         <xs:sequence>
          <xs:element name="font" type="pdffont" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cellsettings" >
      <xs:sequence>
        <xs:element name="backgroundcolor" type="xs:anyType" />
        <xs:element name="bordercolor" type="xs:anyType" />
        <xs:element name="border" type="xs:anyType" />
        <xs:element name="verticalalignment" type="xs:anyType" />
        <xs:element name="horizontalalignment" type="xs:anyType" />
        <xs:element name="colspan" type="xs:anyType" />
        <xs:element name="paddingleft" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cellbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pdffont" >
      <xs:sequence>
        <xs:element name="calibri11italic" type="xs:anyType" />
        <xs:element name="calibri9normal" type="xs:anyType" />
        <xs:element name="calibri9bold" type="xs:anyType" />
        <xs:element name="calibri11normal" type="xs:anyType" />
        <xs:element name="calibri10italic" type="xs:anyType" />
        <xs:element name="calibri11bluebold" type="xs:anyType" />
        <xs:element name="calibri10bluenormal" type="xs:anyType" />
        <xs:element name="calibri10normal" type="xs:anyType" />
        <xs:element name="calibri12whitebold" type="xs:anyType" />
        <xs:element name="calibri9whitebold" type="xs:anyType" />
        <xs:element name="calibri11blackbold" type="xs:anyType" />
        <xs:element name="calibri10greenbold" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistpdfgeneratorabs" >
      <xs:sequence>
        <xs:element name="writer" type="xs:anyType" />
        <xs:element name="font" type="pdffont" nillable="true" minOccurs="0" />
        <xs:element name="answercomparator" type="answerentitycomparator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="prioritizationdaoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="headerpageevent" >
      <xs:complexContent>
       <xs:extension base="pdfpageeventhelper">
         <xs:sequence>
          <xs:element name="font" type="pdffont" nillable="true" minOccurs="0" />
          <xs:element name="templatetype" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checklistcontroller" >
      <xs:sequence>
        <xs:element name="service" type="checklistwebservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbuyercontroller" >
      <xs:sequence>
        <xs:element name="service" type="dashboardbuyerwebservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappingscontroller" >
      <xs:sequence>
        <xs:element name="service" type="mappingswebservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prioritizationcontroller" >
      <xs:sequence>
        <xs:element name="service" type="prioritizationwebservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardtendercontroller" >
      <xs:sequence>
        <xs:element name="service" type="dashboardtenderwebservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorcontroller" >
      <xs:sequence>
        <xs:element name="service" type="auditorwebservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncategorycontroller" >
      <xs:sequence>
        <xs:element name="service" type="questioncategoryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionhandlercontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tendercontroller" >
      <xs:sequence>
        <xs:element name="service" type="tenderwebservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatecontroller" >
      <xs:sequence>
        <xs:element name="service" type="templateservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncontroller" >
      <xs:sequence>
        <xs:element name="service" type="questionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbasecontroller" >
      <xs:sequence>
        <xs:element name="service" type="dashboardbasewebservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="calendarcontroller" >
      <xs:sequence>
        <xs:element name="service" type="workdatedaoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchcontroller" >
      <xs:sequence>
        <xs:element name="service" type="searchwebservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filtercontroller" >
      <xs:sequence>
        <xs:element name="service" type="filterwebservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answerentitycomparator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorycomparator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncomparator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answercomparator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prioritizationwebserviceimpl" >
      <xs:sequence>
        <xs:element name="dao" type="prioritizationdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="tenderdao" type="tenderdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="auditordaoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderwebserviceimpl" >
      <xs:sequence>
        <xs:element name="daoservice" type="tenderdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="converter" type="entityconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateserviceimpl" >
      <xs:sequence>
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
        <xs:element name="templatedao" type="templatedaoservice" nillable="true" minOccurs="0" />
        <xs:element name="auditordao" type="auditordaoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappingswebserviceimpl" >
      <xs:sequence>
        <xs:element name="dao" type="mappingsdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyerwebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbasewebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailsenderserviceimpl" >
      <xs:sequence>
        <xs:element name="tool_name" type="xs:string" />
        <xs:element name="recovery_subject" type="xs:string" />
        <xs:element name="recoveryredirecturl" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="from" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistwebserviceimpl" >
      <xs:sequence>
        <xs:element name="without_impact_id" type="xs:long" />
        <xs:element name="critical_impact_id" type="xs:long" />
        <xs:element name="checklistdao" type="checklistdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mappingsdao" type="mappingsdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
        <xs:element name="converter" type="entityconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="auditordaoservice" nillable="true" minOccurs="0" />
        <xs:element name="pdfgenerator" type="checklistpdfgenerator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="answercomparator" nillable="true" minOccurs="0" />
        <xs:element name="prioritizationdao" type="prioritizationdaoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncategoryservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardtenderwebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncategoryserviceimpl" >
      <xs:sequence>
        <xs:element name="categorydao" type="questioncategorydaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="categorycomparator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchwebserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="buyerdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="checklistdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="auditordaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbuyerwebserviceimpl" >
      <xs:sequence>
        <xs:element name="service" type="dashboardbuyerdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterwebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailsenderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchwebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyerwebserviceimpl" >
      <xs:sequence>
        <xs:element name="dao" type="buyerdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorwebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterwebserviceimpl" >
      <xs:sequence>
        <xs:element name="service" type="filterdaoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardtenderwebserviceimpl" >
      <xs:sequence>
        <xs:element name="service" type="dashboardtenderdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="tender_info_url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistwebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questionserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="questiondaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbasewebserviceimpl" >
      <xs:sequence>
        <xs:element name="service" type="dashboardbasedaoservice" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="indicatorpercent" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prioritizationwebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorwebserviceimpl" >
      <xs:sequence>
        <xs:element name="default_value_rank" type="xs:double" />
        <xs:element name="passwordencoder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="auditorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="permissionrepository" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="dtoentitymapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="checklistdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="tokenstorageservice" type="confirmationtokenstorageservice" nillable="true" minOccurs="0" />
        <xs:element name="emailsender" type="emailsenderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderwebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappingswebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbuyerwebservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorauthinfo" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconstants" >
      <xs:sequence>
        <xs:element name="token_prefix" type="xs:string" />
        <xs:element name="secret_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="confirmationtokenstorageservice" >
      <xs:sequence>
        <xs:element name="tokenstorage" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationfilter" >
      <xs:complexContent>
       <xs:extension base="usernamepasswordauthenticationfilter">
         <xs:sequence>
          <xs:element name="repository" type="auditorrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auditorsdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="auditorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="auditorsdetailsservice" nillable="true" minOccurs="0" />
          <xs:element name="passwordencoder" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usersstorageservice" >
      <xs:sequence>
        <xs:element name="users_storage" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthorizationfilter" >
      <xs:complexContent>
       <xs:extension base="basicauthenticationfilter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dtoentitymapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="datepublished" type="xs:anyType" />
        <xs:element name="periodstartdate" type="xs:anyType" />
        <xs:element name="periodenddate" type="xs:anyType" />
        <xs:element name="guaranteeamount" type="xs:double" />
        <xs:element name="bids" type="bidentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="contracts" type="contractentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderprioritizationentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="procedureexpectedvalue" type="xs:long" />
        <xs:element name="completedlotvalue" type="xs:long" />
        <xs:element name="procurementmethoddetails" type="xs:string" />
        <xs:element name="datepublished" type="xs:anyType" />
        <xs:element name="contractdate" type="xs:anyType" />
        <xs:element name="contractsigningdate" type="xs:string" />
        <xs:element name="completedlotscount" type="xs:anyType" />
        <xs:element name="tendererscount" type="xs:anyType" />
        <xs:element name="disqualifiedscount" type="xs:anyType" />
        <xs:element name="supplierscount" type="xs:anyType" />
        <xs:element name="passedindicatorscount" type="xs:anyType" />
        <xs:element name="cpvcount" type="xs:anyType" />
        <xs:element name="risklevel" type="xs:anyType" />
        <xs:element name="weightedrank" type="xs:double" />
        <xs:element name="identifierid" type="xs:string" />
        <xs:element name="identifierlegalnameru" type="xs:string" />
        <xs:element name="passedindicatornamelist" type="xs:string" />
        <xs:element name="checklistid" type="xs:anyType" />
        <xs:element name="auditorid" type="xs:anyType" />
        <xs:element name="checklistname" type="xs:string" />
        <xs:element name="checklistauditorname" type="xs:string" />
        <xs:element name="checkliststatus" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistindicatorentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="indicator" type="indicatorentity" nillable="true" minOccurs="0" />
        <xs:element name="answertype" type="answertypeentity" nillable="true" minOccurs="0" />
        <xs:element name="componentimpact" type="componentimpactentity" nillable="true" minOccurs="0" />
        <xs:element name="checklist" type="checklistentity" nillable="true" minOccurs="0" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answertypeentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkliststatusentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workdateentity" >
      <xs:sequence>
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="isworking" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissionentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="descriptionen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistscoreentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
        <xs:element name="leftbound" type="xs:anyType" />
        <xs:element name="rightbound" type="xs:anyType" />
        <xs:element name="buyerleftbound" type="xs:anyType" />
        <xs:element name="buyerrightbound" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
        <xs:element name="templatename" type="xs:string" />
        <xs:element name="templatetypeid" type="xs:anyType" />
        <xs:element name="answers" type="answerentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="indicators" type="checklistindicatorentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="autoscore" type="checklistscoreentity" nillable="true" minOccurs="0" />
        <xs:element name="manualscore" type="checklistscoreentity" nillable="true" minOccurs="0" />
        <xs:element name="manualtendersscore" type="checklistscoreentity" nillable="true" minOccurs="0" />
        <xs:element name="autotendersscore" type="checklistscoreentity" nillable="true" minOccurs="0" />
        <xs:element name="tenderscomment" type="xs:string" />
        <xs:element name="tendersimpact" type="componentimpactentity" nillable="true" minOccurs="0" />
        <xs:element name="status" type="checkliststatusentity" nillable="true" minOccurs="0" />
        <xs:element name="buyer" type="buyerentity" nillable="true" minOccurs="0" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
        <xs:element name="auditor" type="auditorentity" nillable="true" minOccurs="0" />
        <xs:element name="modifieddate" type="xs:anyType" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="auditname" type="xs:string" />
        <xs:element name="contractnumber" type="xs:string" />
        <xs:element name="contractamount" type="xs:double" />
        <xs:element name="contractdescription" type="xs:string" />
        <xs:element name="supplier" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="okgzentity" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="originalcode" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="risklevelentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyerentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="identifierid" type="xs:string" />
        <xs:element name="identifierlegalnameru" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answerentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="npa" type="xs:string" />
        <xs:element name="answertype" type="answertypeentity" nillable="true" minOccurs="0" />
        <xs:element name="componentimpact" type="componentimpactentity" nillable="true" minOccurs="0" />
        <xs:element name="categoryname" type="xs:string" />
        <xs:element name="categorynumber" type="xs:string" />
        <xs:element name="questiondescription" type="xs:string" />
        <xs:element name="basequestion" type="xs:anyType" />
        <xs:element name="questionnumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyerprioritizationentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="identifierid" type="xs:string" />
        <xs:element name="identifierlegalnameru" type="xs:string" />
        <xs:element name="risklevel" type="xs:anyType" />
        <xs:element name="procedurenumber" type="xs:anyType" />
        <xs:element name="proceduresexpectedvalue" type="xs:long" />
        <xs:element name="contractsamount" type="xs:long" />
        <xs:element name="riskedprocedures" type="xs:anyType" />
        <xs:element name="riskedprocedureswithcontract" type="xs:anyType" />
        <xs:element name="riskedproceduresexpectedvalue" type="xs:long" />
        <xs:element name="riskedproceduresexpectedvaluewithcontract" type="xs:long" />
        <xs:element name="procedureswithbaddata" type="xs:anyType" />
        <xs:element name="weightedrank" type="xs:double" />
        <xs:element name="passedindicatorscount" type="xs:anyType" />
        <xs:element name="passedindicators" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questionentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="base" type="xs:anyType" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="number" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistquestionentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="category" type="questioncategoryentity" nillable="true" minOccurs="0" />
        <xs:element name="checklist" type="checklistentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderindicatorentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="indicatorvalue" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentimpactentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
        <xs:element name="impact" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="disabled" type="xs:anyType" />
        <xs:element name="accountlocked" type="xs:anyType" />
        <xs:element name="tendervaluerank" type="xs:double" />
        <xs:element name="tenderrisklevelrank" type="xs:double" />
        <xs:element name="buyervaluerank" type="xs:double" />
        <xs:element name="buyerrisklevelrank" type="xs:double" />
        <xs:element name="permissions" type="permissionentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncategoryentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="templateid" type="xs:anyType" />
        <xs:element name="questions" type="questionentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contractentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="datesigned" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="base" type="xs:anyType" />
        <xs:element name="type" type="templatetypeentity" nillable="true" minOccurs="0" />
        <xs:element name="categories" type="questioncategoryentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="auditor" type="auditorentity" nillable="true" minOccurs="0" />
        <xs:element name="modifieddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indicatorentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="risks" type="xs:string" />
        <xs:element name="lawviolation" type="xs:string" />
        <xs:element name="riskleveltext" type="xs:string" />
        <xs:element name="descriptionen" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatetypeentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nameen" type="xs:string" />
        <xs:element name="procurementmethods" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bidentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="datedisclosed" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valuebymonthmodel" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="valuewithrisk" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tendertopmodel" >
      <xs:sequence>
        <xs:element name="tenderid" type="xs:long" />
        <xs:element name="result" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="datepublished" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="risktendersvaluebymethodmodel" >
      <xs:sequence>
        <xs:element name="method" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topokgzbyrisktendersvaluemodel" >
      <xs:sequence>
        <xs:element name="cpv" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyertopmodel" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="riskvalue" type="xs:long" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basetopmodel" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="result" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prioritizationinfomodel" >
      <xs:sequence>
        <xs:element name="tenderscount" type="xs:long" />
        <xs:element name="tendersamount" type="xs:long" />
        <xs:element name="risktenderscount" type="xs:long" />
        <xs:element name="risktendersamount" type="xs:long" />
        <xs:element name="buyerscount" type="xs:long" />
        <xs:element name="riskbuyerscount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valuebyfieldmodel" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="indicatorid" type="xs:anyType" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="okgzrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<okgzentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checklistscorerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<checklistscoreentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="indicatorrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<indicatorentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checkliststatusrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<checkliststatusentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checklistrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<checklistentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="componentimpactrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<componentimpactentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="workdaterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<workdateentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="templaterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<templateentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="questioncategoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<questioncategoryentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="partyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<buyerentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tenderrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<tenderentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="questionrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<questionentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checklistquestionrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<checklistquestionentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auditorrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<auditorentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="answertyperepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<answertypeentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="templatetyperepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<templatetypeentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="permissionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<permissionentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checklistspecification" >
      <xs:sequence>
        <xs:element name="request" type="checklistrequest" nillable="true" minOccurs="0" />
        <xs:element name="auditor" type="auditorentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prioritizationexporthandler" >
      <xs:complexContent>
       <xs:extension base="rowcountcallbackhandler">
         <xs:sequence>
          <xs:element name="numberformat" type="xs:long" />
          <xs:element name="doubleformat" type="xs:long" />
          <xs:element name="columndetails" type="columndetailsdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="selectedexportids" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="rowcount" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auditordaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prioritizationdaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditordaoserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="auditorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbasedaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbuyerdaoserviceimpl" >
      <xs:sequence>
        <xs:element name="template" type="xs:anyType" />
        <xs:element name="prioritization_info_query" type="xs:string" />
        <xs:element name="top_by_risk_tenders_count_query" type="xs:string" />
        <xs:element name="top_by_risk_tenders_amount_query" type="xs:string" />
        <xs:element name="top_by_indicators_count_query" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbuyerdaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterdaoserviceimpl" >
      <xs:sequence>
        <xs:element name="tender_prioritization_indicator_filter" type="xs:string" />
        <xs:element name="buyer_prioritization_indicator_filter" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyerdaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workdatedaoserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="workdaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questiondaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prioritizationdaoserviceimpl" >
      <xs:sequence>
        <xs:element name="tender_prioritization" type="xs:string" />
        <xs:element name="buyers_prioritization" type="xs:string" />
        <xs:element name="tender_prioritization_by_id_and_contract_date" type="xs:string" />
        <xs:element name="tender_prioritization_by_id" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="okgzdaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistdaoserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="checklistrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatedaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyerdaoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="partyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardtenderdaoserviceimpl" >
      <xs:sequence>
        <xs:element name="template" type="xs:anyType" />
        <xs:element name="prioritization_info_request" type="xs:string" />
        <xs:element name="top_risk_tenders_by_amount_request" type="xs:string" />
        <xs:element name="top_tenders_by_indicator_count_request" type="xs:string" />
        <xs:element name="tenders_count_by_method_and_indicator_request" type="xs:string" />
        <xs:element name="tenders_amount_by_method_and_indicator_request" type="xs:string" />
        <xs:element name="tenders_count_info_by_month_request" type="xs:string" />
        <xs:element name="tenders_amount_info_by_month_request" type="xs:string" />
        <xs:element name="risk_tenders_amount_info_by_method_request" type="xs:string" />
        <xs:element name="risk_tenders_count_info_by_method_request" type="xs:string" />
        <xs:element name="top_okgz_by_risk_tenders_count_request" type="xs:string" />
        <xs:element name="top_okgz_by_risk_tenders_amount_request" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workdatedaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardtenderdaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterdaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questiondaoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="questionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="checklistquestionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbasedaoserviceimpl" >
      <xs:sequence>
        <xs:element name="template" type="xs:anyType" />
        <xs:element name="prioritization_info_query" type="xs:string" />
        <xs:element name="top_regions_by_risk_tenders_count_query" type="xs:string" />
        <xs:element name="top_methods_by_risk_tenders_count_query" type="xs:string" />
        <xs:element name="top_okgz_by_risk_tenders_count_query" type="xs:string" />
        <xs:element name="top_regions_by_amount_query" type="xs:string" />
        <xs:element name="top_methods_by_amount_query" type="xs:string" />
        <xs:element name="top_okgz_by_amount_query" type="xs:string" />
        <xs:element name="tender_count_by_region_and_indicator_query" type="xs:string" />
        <xs:element name="tender_amount_by_region_and_indicator_query" type="xs:string" />
        <xs:element name="tender_count_by_month_query" type="xs:string" />
        <xs:element name="tender_amount_by_month_query" type="xs:string" />
        <xs:element name="top_tender_query" type="xs:string" />
        <xs:element name="top_buyer_query" type="xs:string" />
        <xs:element name="top_indicator_query" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncategorydaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappingsdaoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="answertyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="componentimpactrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="checklistscorerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="okgzdaoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="indicatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="templatetyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="checkliststatusrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappingsdaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatedaoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="templaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="templatetyperepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistdaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderdaoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncategorydaoserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="questioncategoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderdaoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tenderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="okgzdaoserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="okgzrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistdeleteexception" >
      <xs:complexContent>
       <xs:extension base="exceptionabs">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prioritizationexportexception" >
      <xs:complexContent>
       <xs:extension base="exceptionabs">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resetpasswordexception" >
      <xs:complexContent>
       <xs:extension base="exceptionabs">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatepasswordexception" >
      <xs:complexContent>
       <xs:extension base="exceptionabs">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checklistexportexception" >
      <xs:complexContent>
       <xs:extension base="exceptionabs">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checklistsavingexception" >
      <xs:complexContent>
       <xs:extension base="exceptionabs">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auditorregisterexception" >
      <xs:complexContent>
       <xs:extension base="exceptionabs">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptionabs" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="code" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="questionsresponse" >
      <xs:sequence>
        <xs:element name="questions" type="questiondto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prioritizationbuyersresponse" >
      <xs:sequence>
        <xs:element name="buyers" type="buyerprioritizationdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatesresponse" >
      <xs:sequence>
        <xs:element name="templates" type="templatedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionresponse" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basetopresponse" >
      <xs:sequence>
        <xs:element name="data" type="basetopdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topokgzbyrisktendersvalueresponse" >
      <xs:sequence>
        <xs:element name="data" type="topokgzbyrisktendersvaluedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="risktendersvaluebymethodresponse" >
      <xs:sequence>
        <xs:element name="data" type="risktendersvaluebymethoddto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tendertopresponse" >
      <xs:sequence>
        <xs:element name="data" type="tendertopdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bymonthresponse" >
      <xs:sequence>
        <xs:element name="data" type="valuebymonthdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valuebyfieldresponse" >
      <xs:sequence>
        <xs:element name="data" type="valuebyfielddto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valuebyfieldinpercentresponse" >
      <xs:sequence>
        <xs:element name="data" type="valuebyfieldinpercentdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyertopresponse" >
      <xs:sequence>
        <xs:element name="data" type="buyertopdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyertopbyindicatorcountresponse" >
      <xs:sequence>
        <xs:element name="data" type="buyertopbyindicatorcountdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyersresponse" >
      <xs:sequence>
        <xs:element name="buyers" type="buyerdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderindicatorsresponse" >
      <xs:sequence>
        <xs:element name="indicators" type="tenderindicatordto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatetypesresponse" >
      <xs:sequence>
        <xs:element name="types" type="templatetypedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistsresponse" >
      <xs:sequence>
        <xs:element name="checklists" type="checklistdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questioncategoriesresponse" >
      <xs:sequence>
        <xs:element name="categories" type="questioncategorydto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditornameresponse" >
      <xs:sequence>
        <xs:element name="auditornamedetails" type="auditornamedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cpvresponse" >
      <xs:sequence>
        <xs:element name="cpv" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissionsresponse" >
      <xs:sequence>
        <xs:element name="permissions" type="permissiondto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prioritizationtendersresponse" >
      <xs:sequence>
        <xs:element name="tenders" type="tenderprioritizationdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditnameresponse" >
      <xs:sequence>
        <xs:element name="auditnamedetails" type="auditnamedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginrequest" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateauditorrequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="disabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerauditorrequest" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checklistrequest" >
      <xs:sequence>
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="templatetype" type="xs:anyType" />
        <xs:element name="onlymychecklists" type="xs:anyType" />
        <xs:element name="ids" type="xs:anyType" />
        <xs:element name="auditorids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addquestionrequest" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="base" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addauditortemplaterequest" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="typeid" type="xs:anyType" />
        <xs:element name="categories" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardtenderrequest" >
      <xs:sequence>
        <xs:element name="tenderid" type="xs:anyType" />
        <xs:element name="buyerids" type="xs:anyType" />
        <xs:element name="risklevel" type="xs:anyType" />
        <xs:element name="procurementmethoddetails" type="xs:anyType" />
        <xs:element name="cpv" type="xs:anyType" />
        <xs:element name="indicators" type="xs:anyType" />
        <xs:element name="indicatorstatus" type="xs:anyType" />
        <xs:element name="contractstartdate" type="xs:string" />
        <xs:element name="contractenddate" type="xs:string" />
        <xs:element name="completedlotvaluemin" type="xs:long" />
        <xs:element name="completedlotvaluemax" type="xs:long" />
        <xs:element name="checklisttype" type="xs:anyType" />
        <xs:element name="checkliststatus" type="xs:anyType" />
        <xs:element name="auditorids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="savechecklistrequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
        <xs:element name="templatename" type="xs:string" />
        <xs:element name="templatetypeid" type="xs:anyType" />
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="tenderid" type="xs:anyType" />
        <xs:element name="manualscoreid" type="xs:anyType" />
        <xs:element name="manualtendersscoreid" type="xs:anyType" />
        <xs:element name="tenderscomment" type="xs:string" />
        <xs:element name="tendersimpactid" type="xs:anyType" />
        <xs:element name="statusid" type="xs:anyType" />
        <xs:element name="auditname" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="contractnumber" type="xs:string" />
        <xs:element name="contractamount" type="xs:double" />
        <xs:element name="contractdescription" type="xs:string" />
        <xs:element name="supplier" type="xs:string" />
        <xs:element name="answers" type="xs:anyType" />
        <xs:element name="indicators" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addquestioncategoryrequest" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="templateid" type="xs:anyType" />
        <xs:element name="number" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyerprioritizationrequest" >
      <xs:sequence>
        <xs:element name="buyerids" type="xs:anyType" />
        <xs:element name="regions" type="xs:anyType" />
        <xs:element name="procurementmethoddetails" type="xs:anyType" />
        <xs:element name="risklevel" type="xs:anyType" />
        <xs:element name="cpv" type="xs:anyType" />
        <xs:element name="indicators" type="xs:anyType" />
        <xs:element name="contractstartdate" type="xs:string" />
        <xs:element name="contractenddate" type="xs:string" />
        <xs:element name="sortingoptions" type="sortingoptiondto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="columns" type="columndetailsdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="selectedexportids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbaserequest" >
      <xs:sequence>
        <xs:element name="contractstartdate" type="xs:string" />
        <xs:element name="contractenddate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tendersscorerequest" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="startperioddate" type="xs:anyType" />
        <xs:element name="endperioddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderprioritizationrequest" >
      <xs:sequence>
        <xs:element name="buyerids" type="xs:anyType" />
        <xs:element name="tenderid" type="xs:anyType" />
        <xs:element name="procurementmethoddetails" type="xs:anyType" />
        <xs:element name="risklevel" type="xs:anyType" />
        <xs:element name="cpv" type="xs:anyType" />
        <xs:element name="completedlotvaluemin" type="xs:long" />
        <xs:element name="completedlotvaluemax" type="xs:long" />
        <xs:element name="indicators" type="xs:anyType" />
        <xs:element name="indicatorstatus" type="xs:anyType" />
        <xs:element name="contractstartdate" type="xs:string" />
        <xs:element name="contractenddate" type="xs:string" />
        <xs:element name="sortingoptions" type="sortingoptiondto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="columns" type="columndetailsdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="selectedexportids" type="xs:anyType" />
        <xs:element name="checklisttype" type="xs:anyType" />
        <xs:element name="checkliststatus" type="xs:anyType" />
        <xs:element name="auditorids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addbasetemplaterequest" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="typeid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resetpasswordrequest" >
      <xs:sequence>
        <xs:element name="token" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardbuyerrequest" >
      <xs:sequence>
        <xs:element name="buyerids" type="xs:anyType" />
        <xs:element name="risklevel" type="xs:anyType" />
        <xs:element name="procurementmethoddetails" type="xs:anyType" />
        <xs:element name="cpv" type="xs:anyType" />
        <xs:element name="indicators" type="xs:anyType" />
        <xs:element name="contractstartdate" type="xs:string" />
        <xs:element name="contractenddate" type="xs:string" />
        <xs:element name="regions" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 