Pavan-Java-2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="hibernatemappingsapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="course" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructordetail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reviewserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructordetailcontroller" >
      <xs:sequence>
        <xs:element name="instrdtlsservce" type="instructordetailserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructorcontroller" >
      <xs:sequence>
        <xs:element name="instrserviceimpl" type="instructorserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coursecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="courseserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructorentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="@column(name" type="instructordetailentity" nillable="true" minOccurs="0" />
        <xs:element name="courses" type="courseentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="courseentity" type="courseentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructordetailentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="youtubechannel" type="xs:string" />
        <xs:element name="hobby" type="xs:string" />
        <xs:element name="//exceptdeleteremaining./*	*@onetoone(mappedby" type="instructorentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courseentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="instrentity" type="instructorentity" nillable="true" minOccurs="0" />
        <xs:element name="reviews" type="reviewentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="studententity" type="studententity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="courseid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courserepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<courseentity,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="instructordetailrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<instructordetailentity,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="instructorrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<instructorentity,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<reviewentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatemappingsapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coursemodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="instrmodel" type="instructormodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructormodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="instrdetail" type="instructordetailmodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewmodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="courseid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructordetailmodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="youtubechannel" type="xs:string" />
        <xs:element name="hobby" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructorservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courseservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructordetailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewserviceimpl" >
      <xs:sequence>
        <xs:element name="reviewrepo" type="reviewrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructordetailserviceimpl" >
      <xs:sequence>
        <xs:element name="instrdtlsrepo" type="instructordetailrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructorserviceimpl" >
      <xs:sequence>
        <xs:element name="instrdtlrepo" type="instructordetailrepository" nillable="true" minOccurs="0" />
        <xs:element name="instrrepo" type="instructorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courseserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="courserepository" nillable="true" minOccurs="0" />
        <xs:element name="instrrepository" type="instructorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 