maven-library/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="landlordstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsestatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maintenance" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tenantid" type="xs:string" />
        <xs:element name="landlordid" type="xs:string" />
        <xs:element name="contractid" type="xs:long" />
        <xs:element name="rentalentityid" type="xs:long" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="subcategory" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="imageurl" type="xs:string" />
        <xs:element name="landlordapproved" type="landlordstatus" nillable="true" minOccurs="0" />
        <xs:element name="//usetostorethe3rdpartymaintenanceproviderstatusstatus" type="responsestatus" nillable="true" minOccurs="0" />
        <xs:element name="outsourceid" type="xs:string" />
        <xs:element name="cost" type="xs:double" />
        <xs:element name="created_at" type="xs:dateTime" />
        <xs:element name="approvedon" type="xs:dateTime" />
        <xs:element name="finishon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contractpayments" >
      <xs:sequence>
        <xs:element name="contractpaymentid" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="paymentdate" type="xs:anyType" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="payee" type="xs:string" />
        <xs:element name="payer" type="xs:string" />
        <xs:element name="contractid" type="xs:long" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rentalsubcription" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tenant" type="xs:string" />
        <xs:element name="contractid" type="xs:long" />
        <xs:element name="subsciptionid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationfeemodel" >
      <xs:sequence>
        <xs:element name="amount" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="customerid" type="xs:string" />
        <xs:element name="contractid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userbankaccount" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="bankaccountid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contractwithrenatentity" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contract" nillable="true" minOccurs="0" />
        <xs:element name="rentalentity" type="viewrenatlentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewingtime" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="contractid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="petchargemethod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contractstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkinout" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="contractid" type="xs:long" />
        <xs:element name="place" type="xs:string" />
        <xs:element name="item" type="xs:string" />
        <xs:element name="movein" type="xs:string" />
        <xs:element name="moveindescription" type="xs:string" />
        <xs:element name="moveout" type="xs:string" />
        <xs:element name="moveoutdescription" type="xs:string" />
        <xs:element name="cost" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="latefeecharging" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contract" >
      <xs:sequence>
        <xs:element name="contractid" type="xs:long" />
        <xs:element name="tenantid" type="xs:string" />
        <xs:element name="rentalentityid" type="xs:long" />
        <xs:element name="applicationid" type="xs:long" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="rent" type="xs:double" />
        <xs:element name="rentcollectiondate" type="xs:long" />
        <xs:element name="securitydeposit" type="xs:double" />
        <xs:element name="moveinchecklist" type="xs:string" />
        <xs:element name="moveoutchecklist" type="xs:string" />
        <xs:element name="status" type="contractstatus" nillable="true" minOccurs="0" />
        <xs:element name="parkingacce" type="xs:anyType" />
        <xs:element name="indoorsmoking" type="xs:anyType" />
        <xs:element name="moveearly" type="xs:anyType" />
        <xs:element name="indoorvaping" type="xs:anyType" />
        <xs:element name="bankname" type="xs:string" />
        <xs:element name="bankbranch" type="xs:string" />
        <xs:element name="bankaddress" type="xs:string" />
        <xs:element name="improvement" type="xs:anyType" />
        <xs:element name="sublease" type="xs:anyType" />
        <xs:element name="keylosepayment" type="xs:anyType" />
        <xs:element name="isinspection" type="xs:anyType" />
        <xs:element name="ispetcharge" type="xs:anyType" />
        <xs:element name="GeneratedName" type="petchargemethod" nillable="true" minOccurs="0" />
        <xs:element name="petamount" type="xs:double" />
        <xs:element name="utilityresposible" type="xs:anyType" />
        <xs:element name="istenantmaintenance" type="xs:anyType" />
        <xs:element name="istenantinsurance" type="xs:anyType" />
        <xs:element name="islatefee" type="xs:anyType" />
        <xs:element name="GeneratedName" type="latefeecharging" nillable="true" minOccurs="0" />
        <xs:element name="graceperiod" type="xs:long" />
        <xs:element name="latefeeamount" type="xs:double" />
        <xs:element name="issecuritydeposit" type="xs:anyType" />
        <xs:element name="subscription" type="xs:anyType" />
        <xs:element name="landlordid" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="name" >
      <xs:sequence>
        <xs:element name="f_name" type="xs:string" />
        <xs:element name="l_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="address" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="lat" type="xs:double" />
        <xs:element name="lng" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorresponse" >
      <xs:sequence>
        <xs:element name="timestamp" type="xs:dateTime" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="details" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="response" >
      <xs:sequence>
        <xs:element name="ata" type="xs:anyType" />
        <xs:element name="tatu" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetails" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="mobilenumber" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="provider" type="authprovider" nillable="true" minOccurs="0" />
        <xs:element name="imageurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationusersettings" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="event" type="events" nillable="true" minOccurs="0" />
        <xs:element name="subscribed" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationrequest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notification" nillable="true" minOccurs="0" />
        <xs:element name="recipienttype" type="xs:string" />
        <xs:element name="recipients" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="events" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notification" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="catogory" type="events" nillable="true" minOccurs="0" />
        <xs:element name="rentalenitiyaddress" type="xs:string" />
        <xs:element name="rentalenitiyid" type="xs:long" />
        <xs:element name="actionby" type="xs:string" />
        <xs:element name="actionid" type="xs:long" />
        <xs:element name="notificationto" type="xs:string" />
        <xs:element name="seen" type="xs:anyType" />
        <xs:element name="deleted" type="xs:anyType" />
        <xs:element name="createdat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notifictionuserid" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="event" type="events" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permission" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="role" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="accountnonexpired" type="xs:anyType" />
        <xs:element name="credentialsnonexpired" type="xs:anyType" />
        <xs:element name="accountnonlocked" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="mobilenumber" type="xs:string" />
        <xs:element name="stripecustomerid" type="xs:string" />
        <xs:element name="stripeaccountid" type="xs:string" />
        <xs:element name="provider" type="authprovider" nillable="true" minOccurs="0" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="coverimage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leaddata" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="property" type="xs:string" />
        <xs:element name="rentalentity" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="transfer" type="xs:anyType" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetails" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="mobilenumber" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="provider" type="authprovider" nillable="true" minOccurs="0" />
        <xs:element name="imageurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="user" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="permissions" type="permission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rentalentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="property" nillable="true" minOccurs="0" />
        <xs:element name="viewingtimes" type="viewingtime" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="unitname" type="xs:string" />
        <xs:element name="unittype" type="xs:string" />
        <xs:element name="GeneratedName" type="status" nillable="true" minOccurs="0" />
        <xs:element name="listingheading" type="xs:string" />
        <xs:element name="fullrooms" type="xs:long" />
        <xs:element name="halfrooms" type="xs:long" />
        <xs:element name="bedrooms" type="xs:long" />
        <xs:element name="bathroomsattach" type="xs:long" />
        <xs:element name="bathroomsseparate" type="xs:long" />
        <xs:element name="sqfeet" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="petpolicy" type="xs:string" />
        <xs:element name="furnisher" type="xs:anyType" />
        <xs:element name="parkinggarage" type="xs:anyType" />
        <xs:element name="parkingonstreet" type="xs:anyType" />
        <xs:element name="parkingdriveway" type="xs:anyType" />
        <xs:element name="parkinglot" type="xs:anyType" />
        <xs:element name="parkingdedicatedspot" type="xs:anyType" />
        <xs:element name="parkingcovered" type="xs:anyType" />
        <xs:element name="outdoorsharedyard" type="xs:anyType" />
        <xs:element name="outdooryard" type="xs:anyType" />
        <xs:element name="outdoorpatio" type="xs:anyType" />
        <xs:element name="outdoorbalcony" type="xs:anyType" />
        <xs:element name="outdoorgarden" type="xs:anyType" />
        <xs:element name="washerdrier" type="xs:string" />
        <xs:element name="basement" type="xs:string" />
        <xs:element name="wheelchair" type="xs:anyType" />
        <xs:element name="gym" type="xs:anyType" />
        <xs:element name="airconditioner" type="xs:anyType" />
        <xs:element name="hardwoodfloors" type="xs:anyType" />
        <xs:element name="fireplace" type="xs:anyType" />
        <xs:element name="dishwasher" type="xs:anyType" />
        <xs:element name="walkincloset" type="xs:anyType" />
        <xs:element name="pool" type="xs:anyType" />
        <xs:element name="hottub" type="xs:anyType" />
        <xs:element name="storage" type="xs:anyType" />
        <xs:element name="walkintime" type="xs:string" />
        <xs:element name="walkindate" type="xs:string" />
        <xs:element name="amenities" type="xs:string" />
        <xs:element name="rent" type="xs:double" />
        <xs:element name="securitydeposit" type="xs:double" />
        <xs:element name="leaseperiod" type="xs:long" />
        <xs:element name="securitychk" type="xs:anyType" />
        <xs:element name="backgroundchk" type="xs:anyType" />
        <xs:element name="imagelink" type="xs:string" />
        <xs:element name="link" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="landlordpropid" >
      <xs:sequence>
        <xs:element name="user_name" type="xs:string" />
        <xs:element name="property_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertytype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewrenatlentity" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rentalentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="status" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewingtime" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="rentalentity" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rentalenityigpropdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="viewingtimes" type="viewingtime" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="unitname" type="xs:string" />
        <xs:element name="unittype" type="xs:string" />
        <xs:element name="GeneratedName" type="status" nillable="true" minOccurs="0" />
        <xs:element name="listingheading" type="xs:string" />
        <xs:element name="fullrooms" type="xs:long" />
        <xs:element name="halfrooms" type="xs:long" />
        <xs:element name="bedrooms" type="xs:long" />
        <xs:element name="bathroomsattach" type="xs:long" />
        <xs:element name="bathroomsseparate" type="xs:long" />
        <xs:element name="sqfeet" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="petpolicy" type="xs:string" />
        <xs:element name="furnisher" type="xs:anyType" />
        <xs:element name="parkinggarage" type="xs:anyType" />
        <xs:element name="parkingonstreet" type="xs:anyType" />
        <xs:element name="parkingdriveway" type="xs:anyType" />
        <xs:element name="parkinglot" type="xs:anyType" />
        <xs:element name="parkingdedicatedspot" type="xs:anyType" />
        <xs:element name="parkingcovered" type="xs:anyType" />
        <xs:element name="outdoorsharedyard" type="xs:anyType" />
        <xs:element name="outdooryard" type="xs:anyType" />
        <xs:element name="outdoorpatio" type="xs:anyType" />
        <xs:element name="outdoorbalcony" type="xs:anyType" />
        <xs:element name="outdoorgarden" type="xs:anyType" />
        <xs:element name="washerdrier" type="xs:string" />
        <xs:element name="basement" type="xs:string" />
        <xs:element name="wheelchair" type="xs:anyType" />
        <xs:element name="gym" type="xs:anyType" />
        <xs:element name="airconditioner" type="xs:anyType" />
        <xs:element name="hardwoodfloors" type="xs:anyType" />
        <xs:element name="fireplace" type="xs:anyType" />
        <xs:element name="dishwasher" type="xs:anyType" />
        <xs:element name="walkincloset" type="xs:anyType" />
        <xs:element name="pool" type="xs:anyType" />
        <xs:element name="hottub" type="xs:anyType" />
        <xs:element name="storage" type="xs:anyType" />
        <xs:element name="walkintime" type="xs:string" />
        <xs:element name="walkindate" type="xs:string" />
        <xs:element name="amenities" type="xs:string" />
        <xs:element name="rent" type="xs:double" />
        <xs:element name="securitydeposit" type="xs:double" />
        <xs:element name="leaseperiod" type="xs:long" />
        <xs:element name="securitychk" type="xs:anyType" />
        <xs:element name="backgroundchk" type="xs:anyType" />
        <xs:element name="imagelink" type="xs:string" />
        <xs:element name="link" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewingtimedto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="rentalentity" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertydto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="rentalentity" type="rentalenityigpropdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="type" type="propertytype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="aptunit" type="xs:string" />
        <xs:element name="coverimage" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="landlords" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="property" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="rentalentity" type="rentalentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="type" type="propertytype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="aptunit" type="xs:string" />
        <xs:element name="coverimage" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="landlordproperty" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="landlordpropid" nillable="true" minOccurs="0" />
        <xs:element name="ownertype" type="xs:string" />
        <xs:element name="share" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="licensedata" >
      <xs:sequence>
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="dob" type="xs:string" />
        <xs:element name="addressline1" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="licenseno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="applicant" type="xs:string" />
        <xs:element name="rentalentityid" type="xs:long" />
        <xs:element name="status" type="applicationstatus" nillable="true" minOccurs="0" />
        <xs:element name="drivinglicno" type="xs:string" />
        <xs:element name="totaloccupants" type="xs:long" />
        <xs:element name="emergencyno" type="xs:string" />
        <xs:element name="ssn" type="xs:string" />
        <xs:element name="dob" type="xs:dateTime" />
        <xs:element name="othernames" type="xs:string" />
        <xs:element name="pets" type="xs:anyType" />
        <xs:element name="creditcheck" type="xs:string" />
        <xs:element name="securitycheck" type="xs:string" />
        <xs:element name="respresentcity" type="xs:string" />
        <xs:element name="respresentstate" type="xs:string" />
        <xs:element name="respresentzip" type="xs:string" />
        <xs:element name="respresentrent" type="xs:double" />
        <xs:element name="respresentfrom" type="xs:dateTime" />
        <xs:element name="respresentto" type="xs:dateTime" />
        <xs:element name="respresentownrent" type="xs:string" />
        <xs:element name="respresentlandlord" type="xs:string" />
        <xs:element name="respresentlandlordemail" type="xs:string" />
        <xs:element name="respresentlandlordtp" type="xs:string" />
        <xs:element name="respresentlandlordfax" type="xs:string" />
        <xs:element name="respresentapartment" type="xs:string" />
        <xs:element name="respresentmortgage" type="xs:anyType" />
        <xs:element name="respreviouscity" type="xs:string" />
        <xs:element name="respreviousstate" type="xs:string" />
        <xs:element name="respreviouszip" type="xs:string" />
        <xs:element name="respreviousrent" type="xs:double" />
        <xs:element name="respreviousfrom" type="xs:dateTime" />
        <xs:element name="respreviousto" type="xs:dateTime" />
        <xs:element name="respreviousownrent" type="xs:string" />
        <xs:element name="respreviouslandlord" type="xs:string" />
        <xs:element name="respreviouslandlordemail" type="xs:string" />
        <xs:element name="respreviouslandlordtp" type="xs:string" />
        <xs:element name="respreviouslandlordfax" type="xs:string" />
        <xs:element name="respreviousapartment" type="xs:string" />
        <xs:element name="respreviousmortgage" type="xs:anyType" />
        <xs:element name="emppresentemployer" type="xs:string" />
        <xs:element name="emppresentemployed" type="xs:string" />
        <xs:element name="emppresentcity" type="xs:string" />
        <xs:element name="emppresentstate" type="xs:string" />
        <xs:element name="emppresentzip" type="xs:string" />
        <xs:element name="emppresentphone" type="xs:string" />
        <xs:element name="emppresentsalary" type="xs:double" />
        <xs:element name="emppresentfrom" type="xs:dateTime" />
        <xs:element name="emppresentto" type="xs:dateTime" />
        <xs:element name="emppresentposition" type="xs:string" />
        <xs:element name="emppreviousemployer" type="xs:string" />
        <xs:element name="emppreviousemployed" type="xs:string" />
        <xs:element name="emppreviouscity" type="xs:string" />
        <xs:element name="emppreviousstate" type="xs:string" />
        <xs:element name="emppreviouszip" type="xs:string" />
        <xs:element name="emppreviousphone" type="xs:string" />
        <xs:element name="empprevioussalary" type="xs:double" />
        <xs:element name="emppreviousfrom" type="xs:dateTime" />
        <xs:element name="emppreviousto" type="xs:dateTime" />
        <xs:element name="emppreviousposition" type="xs:string" />
        <xs:element name="occupentsname" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewingrequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="viewingtimeid" type="xs:long" />
        <xs:element name="landlordid" type="xs:string" />
        <xs:element name="tenantid" type="xs:string" />
        <xs:element name="status" type="applicationstatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 