JMP-2015-2016-Valiantsin_Charkashyn-Group-24/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="idperson" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="bookings" type="booking" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
        <xs:element name="idbooking" type="xs:long" />
        <xs:element name="bookingnumber" type="xs:string" />
        <xs:element name="booking" type="xs:dateTime" />
        <xs:element name="movie" type="xs:string" />
        <xs:element name="place" type="xs:long" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="client" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 