Sapo-Project/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="orders" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="status" nillable="true" minOccurs="0" />
        <xs:element name="totalpayment" type="xs:long" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="expdelivery" type="xs:dateTime" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplier" >
      <xs:sequence>
        <xs:element name="supplierid" type="xs:anyType" />
        <xs:element name="suppliername" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dpersonuserlogin" >
      <xs:sequence>
        <xs:element name="userloginid" type="xs:string" />
        <xs:element name="issystem" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="GeneratedName" type="party" nillable="true" minOccurs="0" />
        <xs:element name="roles" type="securitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="disabledtime" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dperson" >
      <xs:sequence>
        <xs:element name="password_encoder" type="xs:anyType" />
        <xs:element name="partyid" type="xs:anyType" />
        <xs:element name="partycode" type="xs:string" />
        <xs:element name="type" type="partytype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="status" nillable="true" minOccurs="0" />
        <xs:element name="userlogin" type="dpersonuserlogin" nillable="true" minOccurs="0" />
        <xs:element name="isunread" type="xs:anyType" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="modifiedby" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dusercombineentity" >
      <xs:sequence>
        <xs:element name="password_encoder" type="xs:anyType" />
        <xs:element name="userloginid" type="xs:string" />
        <xs:element name="partyid" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitypermission" >
      <xs:sequence>
        <xs:element name="permissionid" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roletype" >
      <xs:sequence>
        <xs:element name="roletypeid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statustype" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="parenttype" type="statustype" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statusitem" >
      <xs:sequence>
        <xs:element name="statusid" type="xs:string" />
        <xs:element name="type" type="statustype" nillable="true" minOccurs="0" />
        <xs:element name="statuscode" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitygroup" >
      <xs:sequence>
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="permissions" type="securitypermission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationtype" >
      <xs:sequence>
        <xs:element name="applicationtypeid" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userregister" >
      <xs:sequence>
        <xs:element name="//varchar(60),userloginid" type="xs:string" />
        <xs:element name="//varchar(20),password" type="xs:string" />
        <xs:element name="//varchar(30),email" type="xs:string" />
        <xs:element name="//varchar(100),fullname" type="xs:string" />
        <xs:element name="//varchar(60)," type="statusitem" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="status" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="type" type="statustype" nillable="true" minOccurs="0" />
        <xs:element name="statuscode" type="xs:string" />
        <xs:element name="sequenceid" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
        <xs:element name="applicationid" type="xs:string" />
        <xs:element name="type" type="applicationtype" nillable="true" minOccurs="0" />
        <xs:element name="module" type="application" nillable="true" minOccurs="0" />
        <xs:element name="permission" type="securitypermission" nillable="true" minOccurs="0" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partytype" >
      <xs:sequence>
        <xs:element name="partytypeid" type="xs:string" />
        <xs:element name="parenttype" type="partytype" nillable="true" minOccurs="0" />
        <xs:element name="hastable" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userlogin" >
      <xs:sequence>
        <xs:element name="password_encoder" type="xs:anyType" />
        <xs:element name="userloginid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="passwordhint" type="xs:string" />
        <xs:element name="otpsecret" type="xs:string" />
        <xs:element name="issystem" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="hasloggedout" type="xs:anyType" />
        <xs:element name="requirepasswordchange" type="xs:anyType" />
        <xs:element name="successivefailedlogins" type="xs:anyType" />
        <xs:element name="clienttoken" type="xs:string" />
        <xs:element name="otpresendnumber" type="xs:long" />
        <xs:element name="GeneratedName" type="party" nillable="true" minOccurs="0" />
        <xs:element name="roles" type="securitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="disabledtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="partyid" type="xs:anyType" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="//@column(name" type="xs:dateTime" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="party" >
      <xs:sequence>
        <xs:element name="partyid" type="xs:anyType" />
        <xs:element name="partycode" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="partytype" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="party" type="status" nillable="true" minOccurs="0" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="lastmodified" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="userlogin" nillable="true" minOccurs="0" />
        <xs:element name="isunread" type="xs:anyType" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="modifiedby" type="xs:string" />
        <xs:element name="//createusernameshowinpartylistusername" type="xs:string" />
        <xs:element name="//createpartynameshowinpartylistparty" type="xs:string" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyrelationship" >
      <xs:sequence>
        <xs:element name="partyrelationshipid" type="xs:anyType" />
        <xs:element name="from" type="party" nillable="true" minOccurs="0" />
        <xs:element name="to" type="party" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roletype" nillable="true" minOccurs="0" />
        <xs:element name="from" type="xs:dateTime" />
        <xs:element name="thru" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 