Java2-Cursuri2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persoana" >
      <xs:sequence>
        <xs:element name="id" type="numeprenumeid" nillable="true" minOccurs="0" />
        <xs:element name="varsta" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numeprenumeid" >
      <xs:sequence>
        <xs:element name="nume" type="xs:string" />
        <xs:element name="prenume" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="nume" type="xs:string" />
        <xs:element name="prenume" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anagajat" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avocat" >
      <xs:complexContent>
       <xs:extension base="anagajat{">
         <xs:sequence>
          <xs:element name="vechime" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="programator" >
      <xs:complexContent>
       <xs:extension base="anagajat">
         <xs:sequence>
          <xs:element name="limbaj" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ciocolata" >
      <xs:complexContent>
       <xs:extension base="produs{">
         <xs:sequence>
          <xs:element name="zahar" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bere" >
      <xs:complexContent>
       <xs:extension base="produs">
         <xs:sequence>
          <xs:element name="alcool" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="produs" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 