spring-boot-oauth2-jwt/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="token_header" type="xs:string" />
        <xs:element name="refreshtoken_header" type="xs:string" />
        <xs:element name="token_prefix" type="xs:string" />
        <xs:element name="token_type" type="xs:string" />
        <xs:element name="token_issuer" type="xs:string" />
        <xs:element name="token_audience" type="xs:string" />
        <xs:element name="refresh_token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<userentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tokenrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<tokenentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reciperepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<recipeentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertemprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<usertempentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tokenentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="acces_toekn" type="xs:string" />
        <xs:element name="refresh_token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="nombre" type="xs:string" />
          <xs:element name="apellidos" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="enabled" type="xs:long" />
          <xs:element name="role" type="xs:string" />
          <xs:element name="id_client" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cliententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="acces_toekn" type="xs:string" />
        <xs:element name="client_id" type="xs:string" />
        <xs:element name="client_secret" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recipeentity" >
      <xs:sequence>
        <xs:element name="id_receta" type="xs:long" />
        <xs:element name="identificadorusuario" type="xs:long" />
        <xs:element name="nombrereceta" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="imagen" type="xs:string" />
        <xs:element name="ingredientes" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertempentity" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recipemodel" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="identificadorusuario" type="xs:long" />
        <xs:element name="nombrereceta" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="imagen" type="xs:string" />
        <xs:element name="ingredientes" type="xs:string" />
        <xs:element name="flag" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="apellidos" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="check" >
      <xs:sequence>
        <xs:element name="coneccion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="impl" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="key" type="xs:string" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="tokenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="tokenrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="clientservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorizationserverconfig" >
      <xs:complexContent>
       <xs:extension base="authorizationserverconfigureradapter">
         <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element name="client_secret" type="xs:string" />
          <xs:element name="client_id" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usertemprepository" nillable="true" minOccurs="0" />
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientservice" >
      <xs:sequence>
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recipeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reciperepository" nillable="true" minOccurs="0" />
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenservice" >
      <xs:sequence>
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="recipeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkconection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recipecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="recipeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reciperepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationfilter" >
      <xs:complexContent>
       <xs:extension base="usernamepasswordauthenticationfilter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="key" type="xs:string" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="tokenrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="tokenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="clientservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwtrevokefilter" >
      <xs:complexContent>
       <xs:extension base="usernamepasswordauthenticationfilter{">
         <xs:sequence>
          <xs:element name="" type="tokenservice" nillable="true" minOccurs="0" />
          <xs:element name="key" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwtauthorizationfilter" >
      <xs:complexContent>
       <xs:extension base="basicauthenticationfilter{">
         <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element name="" type="tokenservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 