spring-boot-oauth2-jwt/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="tokenentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="acces_toekn" type="xs:string" />
        <xs:element name="refresh_token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="nombre" type="xs:string" />
          <xs:element name="apellidos" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="enabled" type="xs:long" />
          <xs:element name="role" type="xs:string" />
          <xs:element name="id_client" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cliententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="acces_toekn" type="xs:string" />
        <xs:element name="client_id" type="xs:string" />
        <xs:element name="client_secret" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recipeentity" >
      <xs:sequence>
        <xs:element name="id_receta" type="xs:long" />
        <xs:element name="identificadorusuario" type="xs:long" />
        <xs:element name="nombrereceta" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="imagen" type="xs:string" />
        <xs:element name="ingredientes" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertempentity" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 