java-9-microservices-demo/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="hours" type="xs:double" />
        <xs:element name="budget" type="xs:double" />
        <xs:element name="resources" type="projectresource" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectresource" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="manhours" type="xs:double" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="GeneratedName" type="project" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 