spring-boot-data-jpa/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="springbootdatajpaapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popper.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plantilla-items" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paginator-nav" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error_403" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="form" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springbootdatajpaapplication" >
      <xs:sequence>
        <xs:element name="uploadfileservice" type="iuploadfileservice" nillable="true" minOccurs="0" />
        <xs:element name="passwordencoder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageitem" >
      <xs:sequence>
        <xs:element name="numero" type="xs:long" />
        <xs:element name="actual" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagerender" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
        <xs:element name="page" type="xs:anyType" />
        <xs:element name="totalpaginas" type="xs:long" />
        <xs:element name="numelementosporpagina" type="xs:long" />
        <xs:element name="paginaactual" type="xs:long" />
        <xs:element name="paginas" type="pageitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientelistxmlview" >
      <xs:complexContent>
       <xs:extension base="marshallingview{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientelist" >
      <xs:sequence>
        <xs:element name="clientes" type="cliente" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facturapdfview" >
      <xs:complexContent>
       <xs:extension base="abstractpdfview">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientecsvview" >
      <xs:complexContent>
       <xs:extension base="abstractview">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientelistjsonview" >
      <xs:complexContent>
       <xs:extension base="mappingjackson2jsonview{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="facturaxlsxview" >
      <xs:complexContent>
       <xs:extension base="abstractxlsxview">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springsecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="successhandler" type="loginsuccesshandler" nillable="true" minOccurs="0" />
          <xs:element name="userdetailsservice" type="jpauserdetailsservice" nillable="true" minOccurs="0" />
          <xs:element name="passwordencoder" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clienterestcontroller" >
      <xs:sequence>
        <xs:element name="clienteservice" type="iclienteservices" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facturacontroller" >
      <xs:sequence>
        <xs:element name="clienteservice" type="iclienteservices" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientecontroller" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="ger" type="xs:anyType" />
          <xs:element name="clienteservice" type="iclienteservices" nillable="true" minOccurs="0" />
          <xs:element name="uploadfileservice" type="iuploadfileservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mvcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginsuccesshandler" >
      <xs:complexContent>
       <xs:extension base="simpleurlauthenticationsuccesshandler{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ifacturadao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<factura,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iclientedao" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<cliente,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iusuariodao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<usuario,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iproductodao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<producto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itemfactura" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cantidad" type="xs:anyType" />
        <xs:element name="GeneratedName" type="producto" nillable="true" minOccurs="0" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="precio" type="xs:double" />
        <xs:element name="createat" type="xs:dateTime" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="factura" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="observacion" type="xs:string" />
        <xs:element name="createat" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="cliente" nillable="true" minOccurs="0" />
        <xs:element name="items" type="itemfactura" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="apellido" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="createat" type="xs:dateTime" />
        <xs:element name="facturas" type="factura" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="foto" type="xs:string" />
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="authority" type="xs:string" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuario" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadfileserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="uploads_folder" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iuploadfileservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clienteservicesimpl" >
      <xs:sequence>
        <xs:element name="clientedao" type="iclientedao" nillable="true" minOccurs="0" />
        <xs:element name="productodao" type="iproductodao" nillable="true" minOccurs="0" />
        <xs:element name="facturadao" type="ifacturadao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iclienteservices" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpauserdetailsservice" >
      <xs:sequence>
        <xs:element name="usuariodao" type="iusuariodao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 