JavaLearningSamples1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="musicbandit" >
      <xs:sequence>
        <xs:element name="//" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="tx" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookmysqlit" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="tx" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookserviceit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingproducer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logginginterceptor" >
      <xs:sequence>
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="//" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="isbn" type="xs:string" />
        <xs:element name="nbofpage" type="xs:anyType" />
        <xs:element name="illustrations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="musicband" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="foundationyear" type="xs:long" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="creation" type="xs:dateTime" />
        <xs:element name="lastup" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 