JavaLearningSamples1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="//" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="isbn" type="xs:string" />
        <xs:element name="nbofpage" type="xs:anyType" />
        <xs:element name="illustrations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="musicband" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="foundationyear" type="xs:long" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="creation" type="xs:dateTime" />
        <xs:element name="lastup" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 