Java2-Cursuri12/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="fisier" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="numefisier" type="xs:string" />
        <xs:element name="autor" type="xs:string" />
        <xs:element name="accescitire" type="xs:anyType" />
        <xs:element name="accesscriere" type="xs:anyType" />
        <xs:element name="GeneratedName" type="folder" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rand" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="folder" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="numefolder" type="xs:string" />
        <xs:element name="autor" type="xs:string" />
        <xs:element name="vizibil" type="xs:anyType" />
        <xs:element name="accescitier" type="xs:anyType" />
        <xs:element name="accesscriere" type="xs:anyType" />
        <xs:element name="fisiere" type="fisier" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 