Spring-Hibernate-Maven/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultenum" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="possibletypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//primitivetypesexample_" type="xs:long" />
        <xs:element name="example_" type="xs:double" />
        <xs:element name="//wrappers-alltypesthatarenumbersexample_" type="xs:anyType" />
        <xs:element name="example_" type="xs:anyType" />
        <xs:element name="example_" type="xs:anyType" />
        <xs:element name="egerarray" type="xs:long" />
        <xs:element name="array" type="xs:double" />
        <xs:element name="//enums" type="defaultenum" nillable="true" minOccurs="0" />
        <xs:element name="//colectionsstringarraylist" type="xs:anyType" />
        <xs:element name="//ignoredfieldsignoredfield" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 