sandbox3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bug" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="bugid" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="raisedby" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="resolvedby" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="raised" type="xs:dateTime" />
        <xs:element name="resolved" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="project" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="projectid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 