springdemo01/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="tracelog" >
      <xs:sequence>
        <xs:element name="traceid" type="xs:long" />
        <xs:element name="method" type="xs:string" />
        <xs:element name="uri" type="xs:string" />
        <xs:element name="responsestatus" type="xs:long" />
        <xs:element name="timestamp" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentcourse" >
      <xs:sequence>
        <xs:element name="studentid" type="xs:string" />
        <xs:element name="courseid" type="xs:string" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student1" >
      <xs:sequence>
        <xs:element name="studentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="birthday" type="xs:dateTime" />
        <xs:element name="createdtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="course" >
      <xs:sequence>
        <xs:element name="courseid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="studentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="birthday" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 