spring-security-learn/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="page_not_found_error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="403" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user_role_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user_role_select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role_authority_select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role_authority_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu_resouces_select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu_role_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolemenu_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="403" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authority_res_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authority_res_add_select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wdatepicker.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wdatepicker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="org.eclipse.core.resources" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datadaysenh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datadays" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datahours" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sys_formatter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dump" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="et" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ka" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uk_ua" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="th_th" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="da" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="el" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="he" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="it" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ru" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pt_br" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moxie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thumbs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fake_json_endpoint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fake_plaintext_endpoint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_bg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_ca" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_da" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_en.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_ro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_fi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_th" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_no" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_cs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_ms" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_zh-cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_et" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_eu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_gl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_zh-tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_nl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_is" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_pt-pt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_id" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_hu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_sv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_fa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_ar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_hr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_mk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_pt-br" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_el" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_tr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_he" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_ru" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_it" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_pl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_ua" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2_locale_vi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datetimepicker.sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pwstrength" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mit-license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="knob.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixitup.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.vmap.sampledata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trees" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootbox.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pace-theme-big-counter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajax" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.mousewheel-3.0.6.pack" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ui.touch-punch.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validation.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="file_input" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="radio-checkbox-select-demo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="step2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anorexia" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cmxformtemplate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screen" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_pt_pt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_hu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_kk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_fa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_sv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_my" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_hr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_el" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_pt_br" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_it" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ru" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_pl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_tr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_he" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_sr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_vi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_bg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ca" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_da" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_sl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_uk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_th" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_fi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_zh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_ka" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_no" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_lv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_si" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_et" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_cs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_lt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_nl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_eu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-maxlength.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery-ui-1.10.3.custom.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.mo-md" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.el-gr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.zh-cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.zh-tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.ko-kr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.es-es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.pl-pl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.fr-fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.nb-nb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.ru-ru" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.pt-br" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.cs-cz" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.it-it" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.hr-hr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.nl-nl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.de-de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.da-dk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.es-ar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.lt-lt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.sk-sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.ja-jp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.sv-se" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.bg-bg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.ar-ar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.ua-ua" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.tr-tr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-wysihtml5.ca-ct" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multi-select.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nouislider.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-select.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueimp-file-upload.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="robots" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="robots" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="canvas-to-blob.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.fileupload-ui-noscript" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.fileupload-noscript" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.fileupload-ui" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="style" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo-ie8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="result" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changelog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license-mit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rotated-flipped" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fixed-width" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stacked" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="larger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spinning" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="core" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bordered-pulled" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery-1.10.2.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toastr.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anchor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialogdefinition" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ca" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="no" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ku" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="et" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh-cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ug" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="he" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="it" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pt-br" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="el" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_translationstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_translationstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="el" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="he" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="it" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ru" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ug" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pt-br" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="no" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="et" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ku" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh-cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="da" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ca" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sample_posteddata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="posteddata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="languages" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="outputforflash" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replacebyclass" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jstree" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ajax_children" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajax_demo_roots" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ui.touch" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajax_demo_children" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajax_roots" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajax_nodes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license-mit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ui.touch" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jstree.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mit-license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.fillbetween" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.categories.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.pie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.time.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.crosshair.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.image.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.navigate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.threshold.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.fillbetween.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.pie.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:complexContent>
       <xs:extension base="to">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth-2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth-3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth-1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-japan-gdp-growth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth-5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-usa-gdp-growth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth-4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery-ui.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.stack.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.errorbars.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.symbol.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.resize.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.selection.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-switch" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wysiwyg-color" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license-mit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spinner.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.notific8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notific8.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.notific8.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="makefile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.easy-pie-chart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slimscroll.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slimscroll.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mit-license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invoice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="custom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="custom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="components-jqueryui-sliders" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="form-dropzone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myfiltersecurityinterceptor" >
      <xs:sequence>
        <xs:element name="securitymetadatasource" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mysecuritymetadatasource" >
      <xs:sequence>
        <xs:element name="securitmetadatasourcedao" type="securitymetadatadao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myaccessdesisionmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myloginfailhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myloginsuccesshandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userinfoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mylogoutsuccesshandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysmenus" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="iconstyle" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="menuindex" type="xs:anyType" />
        <xs:element name="deep" type="xs:long" />
        <xs:element name="roleid" type="xs:string" />
        <xs:element name="sys" type="xs:anyType" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="parent" type="sysmenus" nillable="true" minOccurs="0" />
        <xs:element name="children" type="sysmenus" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="rescources" type="sysresources" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysroles" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="roledesc" type="xs:string" />
        <xs:element name="isenabled" type="xs:anyType" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="createuserid" type="xs:string" />
        <xs:element name="issys" type="xs:anyType" />
        <xs:element name="datalevel" type="xs:anyType" />
        <xs:element name="role_users" type="sysusers" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="role_authorities" type="sysauthorities" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysresources" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="/***theid.*/id" type="xs:string" />
        <xs:element name="/***theresourcename.*/resourcename" type="xs:string" />
        <xs:element name="/***theresourcedesc.*/resourcedesc" type="xs:string" />
        <xs:element name="/***theresourcetype.*/resourcetype" type="xs:anyType" />
        <xs:element name="/***theresourcepath.*/resourcepath" type="xs:string" />
        <xs:element name="/***theisenabled.*/isenabled" type="xs:anyType" />
        <xs:element name="/***thepriority.*/priority" type="xs:string" />
        <xs:element name="/***theissys.*/issys" type="xs:anyType" />
        <xs:element name="/***theresource_authorities.*/resource_authorities" type="sysauthorities" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***theparent.*/parent" type="sysresources" nillable="true" minOccurs="0" />
        <xs:element name="/***thechildren.*/children" type="sysresources" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysauthorities" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="authorityname" type="xs:string" />
        <xs:element name="authoritydesc" type="xs:string" />
        <xs:element name="authoritycode" type="xs:string" />
        <xs:element name="isenabled" type="xs:anyType" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="createuserid" type="xs:string" />
        <xs:element name="sys" type="xs:anyType" />
        <xs:element name="authority_roles" type="sysroles" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="authority_resources" type="sysresources" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysusers" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="useraccount" type="xs:string" />
          <xs:element name="userpassword" type="xs:string" />
          <xs:element name="usertype" type="xs:long" />
          <xs:element name="isaccountnonexpired" type="xs:anyType" />
          <xs:element name="authorities" type="xs:anyType" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="isaccountnonlocked" type="xs:anyType" />
          <xs:element name="iscredentialsnonexpired" type="xs:anyType" />
          <xs:element name="isenabled" type="xs:anyType" />
          <xs:element name="issys" type="xs:anyType" />
          <xs:element name="user_roles" type="sysroles" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="job" type="xs:string" />
          <xs:element name="creatorid" type="xs:string" />
          <xs:element name="create" type="xs:dateTime" />
          <xs:element name="maxdatalevel" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userloginlog" >
      <xs:sequence>
        <xs:element name="/***theconstantserialversionuid.*/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="logintime" type="xs:dateTime" />
        <xs:element name="logouttime" type="xs:dateTime" />
        <xs:element name="loginip" type="xs:string" />
        <xs:element name="useragent" type="xs:string" />
        <xs:element name="loginport" type="xs:anyType" />
        <xs:element name="loginlocalport" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysrolemenus" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="ind" type="xs:anyType" />
        <xs:element name="enable" type="xs:anyType" />
        <xs:element name="menu" type="sysmenus" nillable="true" minOccurs="0" />
        <xs:element name="role" type="sysroles" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myconfigattribute" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="/***theattribute.*/attribute" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authoritydao" >
      <xs:complexContent>
       <xs:extension base="basedao<sysauthorities,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securitymetadatadao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roledao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfodaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedaoimpl" >
      <xs:complexContent>
       <xs:extension base="serializable,k">
         <xs:sequence>
          <xs:element name="/***thelimit.*/limit" type="xs:anyType" />
          <xs:element name="/***thepage.*/page" type="xs:anyType" />
          <xs:element name="/***thestart.*/start" type="xs:anyType" />
          <xs:element name="//msysusersuser/***themsg.*/msg" type="xs:anyType" />
          <xs:element name="/***theentityclass.*/entityclass" type="xs:anyType" />
          <xs:element name="/***thesessionfactory.*/" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolemenudaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<sysrolemenus,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pager" >
      <xs:sequence>
        <xs:element name="page" type="xs:anyType" />
        <xs:element name="sort" type="xs:string" />
        <xs:element name="order" type="xs:string" />
        <xs:element name="rows" type="xs:anyType" />
        <xs:element name="params" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginlogdaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<userloginlog,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menudaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<sysmenus,string>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<sysusers,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resmandaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<sysresources,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roledaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<sysroles,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authoritydaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<sysauthorities,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securitymetadatadaoimpl" >
      <xs:sequence>
        <xs:element name="local" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedao" >
      <xs:complexContent>
       <xs:extension base="serializable,k">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menudao" >
      <xs:complexContent>
       <xs:extension base="basedao<sysmenus,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginlogdao" >
      <xs:complexContent>
       <xs:extension base="basedao<userloginlog,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolemenudao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resmandao" >
      <xs:complexContent>
       <xs:extension base="basedao<sysresources,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userinfodao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringutil" >
      <xs:sequence>
        <xs:element name="/***theconstantsdf.*/sdf" type="xs:anyType" />
        <xs:element name="/***theconstant.*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsondateserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<date>">
         <xs:sequence>
          <xs:element name="sdf" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messagebox" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
        <xs:element name="rows" type="xs:anyType" />
        <xs:element name="total" type="xs:anyType" />
        <xs:element name="result" type="xs:string" />
        <xs:element name="msg" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listresult" >
      <xs:sequence>
        <xs:element name="count" type="xs:anyType" />
        <xs:element name="datalist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorityservice" >
      <xs:complexContent>
       <xs:extension base="baseservice<sysauthorities,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuservice" >
      <xs:complexContent>
       <xs:extension base="baseservice<sysmenus,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:complexContent>
       <xs:extension base="basedao<sysusers,string>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseservice" >
      <xs:complexContent>
       <xs:extension base="serializable,k">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginlogservice" >
      <xs:complexContent>
       <xs:extension base="baseservice<userloginlog,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userinfoservice" >
      <xs:complexContent>
       <xs:extension base="userdetailsservice{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userinfoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userinfodao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleserviceimpl" >
      <xs:complexContent>
       <xs:extension base="baseserivceimpl<sysroles,string>">
         <xs:sequence>
          <xs:element name="" type="roledao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuserviceimpl" >
      <xs:complexContent>
       <xs:extension base="baseserivceimpl<sysmenus,string>">
         <xs:sequence>
          <xs:element name="" type="menudao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:complexContent>
       <xs:extension base="baseserivceimpl<sysusers,string>">
         <xs:sequence>
          <xs:element name="usermanagerdao" type="userdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorityserviceimpl" >
      <xs:complexContent>
       <xs:extension base="baseserivceimpl<sysauthorities,string>">
         <xs:sequence>
          <xs:element name="" type="authoritydao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginlogserviceimpl" >
      <xs:complexContent>
       <xs:extension base="baseserivceimpl<userloginlog,string>">
         <xs:sequence>
          <xs:element name="" type="loginlogdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolemenuserviceimpl" >
      <xs:complexContent>
       <xs:extension base="baseserivceimpl<sysrolemenus,string>">
         <xs:sequence>
          <xs:element name="menudao" type="rolemenudao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resmanserviceimpl" >
      <xs:complexContent>
       <xs:extension base="baseserivceimpl<sysresources,string>">
         <xs:sequence>
          <xs:element name="" type="resmandao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseserivceimpl" >
      <xs:complexContent>
       <xs:extension base="serializable,k">
         <xs:sequence>
          <xs:element name="basedao" type="xs:anyType" />
          <xs:element name="msg" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resmanservice" >
      <xs:complexContent>
       <xs:extension base="baseservice<sysresources,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolemenuservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authoritycontrloller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="authorityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermanagercontroller" >
      <xs:sequence>
        <xs:element name="/***theusermanagerservice.*/usermanagerservice" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testindexcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginlogcontrloller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loginlogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolemenucontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rolemenuservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resmancontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="resmanservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menucontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="menuservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 