recipe_tracker/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="baseobject">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="useremail" type="xs:string" />
          <xs:element name="recipes" type="recipe" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="recipe" >
      <xs:complexContent>
       <xs:extension base="baseobject">
         <xs:sequence>
          <xs:element name="recipename" type="xs:string" />
          <xs:element name="userid" type="xs:string" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="ingredients" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ingredient" >
      <xs:complexContent>
       <xs:extension base="baseobject">
         <xs:sequence>
          <xs:element name="ingredientname" type="xs:string" />
          <xs:element name="" type="recipe" nillable="true" minOccurs="0" />
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 