openJPA2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="bool" type="xs:anyType" />
        <xs:element name="desc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="checked" type="xs:anyType" />
        <xs:element name="extrainfo" type="eentity" nillable="true" minOccurs="0" />
        <xs:element name="referred" type="bentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childentity" >
      <xs:complexContent>
       <xs:extension base="bentity">
         <xs:sequence>
          <xs:element name="childid" type="xs:long" />
          <xs:element name="childname" type="xs:string" />
          <xs:element name="childdesc" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 