mpaas3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topmessageentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***消息标签*/title" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***状态*否为未阅读*是为已经阅读*/status" type="xs:anyType" />
        <xs:element name="/***地址*/url" type="xs:string" />
        <xs:element name="/***消息图标*/icon" type="xs:string" />
        <xs:element name="/***消息内容*/content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 