orderms/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="productsordered" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="prodid" type="xs:anyType" />
        <xs:element name="//@embeddedid//productidsellerid" type="xs:anyType" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdetails" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 