site-engine-of-some-nightclub/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventspagecontrollertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-qa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db.changelog.generated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db.changelog-master" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db.changelog.0" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-prod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-dev" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user-private-tickets" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tsconfig.e2e" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typings.d" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tsconfig.spec" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sing-up.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sing-in.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event-view.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="top-banner.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="top-banner.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userpersondatadto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personal-info.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shop-main.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shop-main.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shopitem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="news.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="news.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feedback.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu-order.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order-view.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order-view.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order-food.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order-edit.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event-page.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event-page.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="news-page.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="news-page.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu-editor.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu-editor.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="events-list.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="events-admin-page.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="events-admin-page.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="news-summary.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="news-summary.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin-order-list.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pre-report-editor.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pre-report-editor.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pre-summary.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pre-summary.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pre-reports-gallery.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pre-reports-gallery.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketorder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maineventpage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventrelevant" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menucategorydto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventticketsreportdto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menupagesummary" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyvalue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuorder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="presummarywrapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuitempricedto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responseentity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsitemdto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settingssitedto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feedbackdto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventgallery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cashbox.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cashbox.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="page-not-found.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="page-not-found.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rules.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rules-pay.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="public-offer.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="disco.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="disco.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="club.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="media.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="media.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="events.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="environment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="environment.prod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tsconfig.app" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tslint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tsconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proxy.config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cvcverification" >
      <xs:sequence>
        <xs:element name="resultcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="additionaldata" >
      <xs:sequence>
        <xs:element name="vendor" type="vendordto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymenttokenresultdto" >
      <xs:sequence>
        <xs:element name="checkout" type="checkoutbepaidresult" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymenttokendto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="checkout" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerfields" >
      <xs:sequence>
        <xs:element name="visible" type="xs:anyType" />
        <xs:element name="readonly" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdto" >
      <xs:sequence>
        <xs:element name="currency" type="xs:string" />
        <xs:element name="amount" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="trackingid" type="xs:long" />
        <xs:element name="GeneratedName" type="additionaldata" nillable="true" minOccurs="0" />
        <xs:element name="expiredat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settings" >
      <xs:sequence>
        <xs:element name="successurl" type="xs:string" />
        <xs:element name="declineurl" type="xs:string" />
        <xs:element name="failurl" type="xs:string" />
        <xs:element name="cancelurl" type="xs:string" />
        <xs:element name="notificationurl" type="xs:string" />
        <xs:element name="returnurl" type="xs:string" />
        <xs:element name="language" type="xs:string" />
        <xs:element name="GeneratedName" type="customerfields" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="birthdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avscvcverification" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cvcverification" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="avsverification" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productsrequestdto" >
      <xs:sequence>
        <xs:element name="/***названиепродукта*/name" type="xs:string" />
        <xs:element name="/***описаниепродукта*/description" type="xs:string" />
        <xs:element name="/***валюта*/currency" type="xs:string" />
        <xs:element name="/***стоимостьпродуктавминимальныхединицах*/amount" type="xs:string" />
        <xs:element name="/***(необязательный)количествопродуктоввналичии.*параметрнепередается,еслиinfiniteустановленвtrue*/quantity" type="xs:string" />
        <xs:element name="/***(необязательный)устанавливаетсяtrue,есликол-вопродуктовнеограниченно.*например,еслиэтовиртуальныйпродукт*/infinite" type="xs:anyType" />
        <xs:element name="visiblefields" type="xs:string" />
        <xs:element name="/***trueилиfalse.продуктбудеттестовым,еслизначениеtrue*/test" type="xs:anyType" />
        <xs:element name="/***trueилиfalse.устанавливаетсявtrue,есливремяоплатынеограничено.*/immortal" type="xs:anyType" />
        <xs:element name="/***(необязательный)датаивремя,докоторогоможетбытьоплаченпродукт.*формат:iso8601видаyyyy-mm-ddthh:mm:sstzd,*гдеyyyy–год(например,2019),*mm–месяц(например,02),*dd–день(например,09),*hh–часы(например,18),*mm–минуты(например,20),*ss–секунды(например,45),*tzd–временнаязона(+hh:mmили–hh:mm)*/expiredat" type="xs:anyType" />
        <xs:element name="/***,накоторыйбудетперенаправленклиентпослезавершенияоплаты.*еслипараметрнеопределен,клиентбудетперенаправленнамагазина,*зарегистрированногосbepaid*/return" type="xs:anyType" />
        <xs:element name="/***	идентификатормагазина*/shopid" type="xs:long" />
        <xs:element name="/***языкстраницыоплаты.*допустимыезначения:*en-английский*es-испанский*tr-турецкий*de-немецкий*it-итальянский*ru-русский*zh-китайский*fr-французский*da-датский*sv-шведский*no-норвежский*fi-финский*pl-польский*ja-японский*be-белорусский*/" type="language" nillable="true" minOccurs="0" />
        <xs:element name="/***типтранзакции.поумолчанию-payment.допустимыезначения:**payment-одновременноесочетаниеавторизацииисписаниясредств*authorization-проверкабанковскойкартыирезервированиесуммыплатежа*/" type="transactiontype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shopdto" >
      <xs:sequence>
        <xs:element name="brands" type="xs:string" />
        <xs:element name="contactemail" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="contact_phone" type="xs:string" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactiontype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avsverification" >
      <xs:sequence>
        <xs:element name="resultcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkoutbepaidresult" >
      <xs:complexContent>
       <xs:extension base="checkout">
         <xs:sequence>
          <xs:element name="shop" type="shopdto" nillable="true" minOccurs="0" />
          <xs:element name="expired" type="xs:string" />
          <xs:element name="shopid" type="xs:long" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="finished" type="xs:string" />
          <xs:element name="" type="customer" nillable="true" minOccurs="0" />
          <xs:element name="message" type="xs:string" />
          <xs:element name="//todo???card_info" type="xs:anyType" />
          <xs:element name="gatewayresponse" type="gatewayresponsedto" nillable="true" minOccurs="0" />
          <xs:element name="payment_method" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="vendordto" >
      <xs:sequence>
        <xs:element name="token" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gatewaystatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentdto" >
      <xs:sequence>
        <xs:element name="redirect_url" type="xs:string" />
        <xs:element name="billing_descriptor" type="xs:string" />
        <xs:element name="uid" type="xs:string" />
        <xs:element name="gatewayid" type="xs:string" />
        <xs:element name="rrn" type="xs:string" />
        <xs:element name="//todo????gateway" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="bankcode" type="xs:string" />
        <xs:element name="currency" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="amount" type="xs:string" />
        <xs:element name="GeneratedName" type="avscvcverification" nillable="true" minOccurs="0" />
        <xs:element name="updatedat" type="xs:string" />
        <xs:element name="authcode" type="xs:string" />
        <xs:element name="refiid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="language" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkout" >
      <xs:sequence>
        <xs:element name="version" type="xs:double" />
        <xs:element name="test" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transactiontype" nillable="true" minOccurs="0" />
        <xs:element name="attempts" type="xs:long" />
        <xs:element name="GeneratedName" type="settings" nillable="true" minOccurs="0" />
        <xs:element name="order" type="orderdto" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="redirecturl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gatewayresponsedto" >
      <xs:sequence>
        <xs:element name="payment" type="paymentdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bepaidconfiguration" >
      <xs:sequence>
        <xs:element name="bepaidpaymentdomainpage" type="xs:string" />
        <xs:element name="bepaidpaymentgatewayportal" type="xs:string" />
        <xs:element name="bepaidpaymentapi" type="xs:string" />
        <xs:element name="be_paid_version" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="products" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymenttokenservice" >
      <xs:complexContent>
       <xs:extension base="bepaidapirequests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="url" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transactionstate" >
      <xs:complexContent>
       <xs:extension base="bepaidapirequests">
         <xs:sequence>
          <xs:element name="url" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bepaidapirequests" >
      <xs:sequence>
        <xs:element name="logger" type="loggerrequests" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggerrequests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bepaidapi" >
      <xs:sequence>
        <xs:element name="configuration" type="xs:anyType" />
        <xs:element name="logger" type="loggerrequests" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paymenttokenservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="transactionstate" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuorderconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="periodicalscopeconfigurer" >
      <xs:sequence>
        <xs:element name="map" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customscoperegistrybeanfactorypostprocessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clubeventticketpricerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<clubeventticketprice,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="newsentityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<newsentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userentityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<userentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuitempricerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<menuitemprice,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menucategoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<menucategory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuitemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<menuitem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuorderrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<menuorder,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuitempricehasordersrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<menuitempriceshasorders,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderitementityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<orderitementity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="settingsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<settingsentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventreportrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<eventreportentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filesrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<fileentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<evententity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderentityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<orderentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventreportimagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<eventreportimageentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="feedbackrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<feedbackentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bepaidrequestsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<bepaidrequest,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<authorityentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdatastatisticrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<userdatastatisticentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clubapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderticketscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="orderticketsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="publicorderticketcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="menuservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderticketsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reportticketservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="statisticservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentcontroller" >
      <xs:sequence>
        <xs:element name="discount" type="xs:long" />
        <xs:element name="GeneratedName" type="customsettings" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bepaidapi" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="menuservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mainpagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="afishaservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filescontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="storageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="discoeventsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="privateusercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menucontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="menuservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="healthcheck" >
      <xs:sequence>
        <xs:element name="date_time_pattern" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventreportcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventreportservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mediacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mediaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventsadmincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settingscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="settingsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feedbackcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="feedbackrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="newsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="qrcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderentityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventreportpagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventreportservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customsettings" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventspagecontroller" >
      <xs:sequence>
        <xs:element name="eventservice" type="eventsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="convertereventservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customsettings" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clubrole" >
      <xs:sequence>
        <xs:element name="role_user" type="xs:string" />
        <xs:element name="role_concert" type="xs:string" />
        <xs:element name="role_admin" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="api_order_bepaid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailconfig" >
      <xs:sequence>
        <xs:element name="mailhost" type="xs:string" />
        <xs:element name="mailport" type="xs:anyType" />
        <xs:element name="mailprotocol" type="xs:string" />
        <xs:element name="mailencoding" type="xs:string" />
        <xs:element name="mailusername" type="xs:string" />
        <xs:element name="mailpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="swaggerpageableparameterbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
        <xs:element name="settings" type="customsettings" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springmailconfig" >
      <xs:sequence>
        <xs:element name="email_template_encoding" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customsettings" >
      <xs:sequence>
        <xs:element name="filesdirectory" type="xs:string" />
        <xs:element name="sitedomain" type="xs:string" />
        <xs:element name="emailadmin" type="xs:string" />
        <xs:element name="bepaidpaymentstoreid" type="xs:long" />
        <xs:element name="bepaidpaymentstorekey" type="xs:string" />
        <xs:element name="bepaidpaymenttest" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventgalleryservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spacediskservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spacediskserviceimpl" >
      <xs:sequence>
        <xs:element name="critical_ratio" type="xs:double" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discoeventsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="convertereventservice" nillable="true" minOccurs="0" />
        <xs:element name="discoevents" type="eventdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mediaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settingsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="settingsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventgalleryserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventreportrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="convertereventreportservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventreportserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventreportrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventreportimagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convertereventservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convertereventreportserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mediaserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventreportrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="convertereventservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clubeventticketpriceserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="clubeventticketpricerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailserviceimpl" >
      <xs:sequence>
        <xs:element name="order_email" type="xs:string" />
        <xs:element name="emailsender" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="settings" type="customsettings" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statisticservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdatastatisticrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convertereventreportservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderticketsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderticketsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderitementityrepository" nillable="true" minOccurs="0" />
        <xs:element name="eventservice" type="eventsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bepaidapi" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customsettings" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderentityconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="clubeventticketpriceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="menuorderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderticketsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderentityconverter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="convertereventservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportticketservice" >
      <xs:sequence>
        <xs:element name="defaultpdfstyle" type="xs:string" />
        <xs:element name="GeneratedName" type="orderticketsservice" nillable="true" minOccurs="0" />
        <xs:element name="simpleexporter" type="simplereportexporter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplereportexporter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="afishaserviceimpl" >
      <xs:sequence>
        <xs:element name="gallery_events_main_page_make_setting" type="xs:long" />
        <xs:element name="GeneratedName" type="eventsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventgalleryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convertereventserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="clubeventticketpriceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clubeventticketpriceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storageserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customsettings" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="filesrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="convertereventservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuserviceimpl" >
      <xs:sequence>
        <xs:element name="max_table_number" type="xs:long" />
        <xs:element name="GeneratedName" type="menucategoryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="menuitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="menuitempricerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="menuorderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="menuorderconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="menuitempricehasordersrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bepaidapi" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="newsentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventreportservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="afishaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggerrequestsimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bepaidrequestsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketsorderdto" >
      <xs:sequence>
        <xs:element name="event" type="eventdto" nillable="true" minOccurs="0" />
        <xs:element name="dancefloor" type="xs:long" />
        <xs:element name="placeseats" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="//@asserttruerulescheck" type="xs:anyType" />
        <xs:element name="//@asserttrueoffercheck" type="xs:anyType" />
        <xs:element name="tables" type="tickettabledto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="food" type="xs:string" />
        <xs:element name="paystatus" type="xs:string" />
        <xs:element name="entertime" type="xs:anyType" />
        <xs:element name="acceptor" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tickettabledto" >
      <xs:sequence>
        <xs:element name="tablenumber" type="xs:long" />
        <xs:element name="places" type="ticketplacedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tableplacedto" >
      <xs:sequence>
        <xs:element name="table" type="xs:long" />
        <xs:element name="place" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketplacedto" >
      <xs:sequence>
        <xs:element name="status" type="ticketplacestatus" nillable="true" minOccurs="0" />
        <xs:element name="placenumber" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketplacestatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventticketsreportdto" >
      <xs:sequence>
        <xs:element name="dancecount" type="xs:long" />
        <xs:element name="tableplacescount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mediareportdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//@jsonformat(pattern" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="coveruri" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feedbackdto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdatadto" >
      <xs:sequence>
        <xs:element name="appcodename" type="xs:string" />
        <xs:element name="appname" type="xs:string" />
        <xs:element name="appversion" type="xs:string" />
        <xs:element name="cookieenabled" type="xs:anyType" />
        <xs:element name="language" type="xs:string" />
        <xs:element name="online" type="xs:anyType" />
        <xs:element name="platform" type="xs:string" />
        <xs:element name="seconds" type="xs:long" />
        <xs:element name="useragent" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventreportfiledto" >
      <xs:sequence>
        <xs:element name="reportid" type="xs:long" />
        <xs:element name="filepath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventrelevantdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="startevent" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="coveruri" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="descriptionpreview" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="owner" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="createdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baselistresultdto" >
      <xs:sequence>
        <xs:element name="items" type="xs:anyType" />
        <xs:element name="total" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cost" type="xs:anyType" />
        <xs:element name="costtext" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="//@jsonformat(pattern" type="xs:anyType" />
        <xs:element name="//@jsonformat(pattern" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="coveruri" type="xs:string" />
        <xs:element name="buyticketurl" type="xs:string" />
        <xs:element name="recommendation" type="xs:anyType" />
        <xs:element name="republicpay" type="xs:anyType" />
        <xs:element name="costdance" type="xs:anyType" />
        <xs:element name="costtableplace" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventreportdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="startevent" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="coveruri" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="images" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventgallerydto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="startevent" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="coveruri" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketorderreportdto" >
      <xs:complexContent>
       <xs:extension base="ticketorderdto">
         <xs:sequence>
          <xs:element name="eventimageurl" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menupagedto" >
      <xs:sequence>
        <xs:element name="categories" type="menucategorydto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="events" type="eventdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menucategorydto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="categories" type="menucategorydto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="menuitems" type="menuitempricedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuitempricedto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="itempriceid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="descriptionproportions" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketorderdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="food" type="xs:anyType" />
        <xs:element name="foodprice" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="event" type="xs:long" />
        <xs:element name="eventname" type="xs:string" />
        <xs:element name="arrivaltime" type="xs:string" />
        <xs:element name="people" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="tablenumber" type="xs:anyType" />
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="paystatus" type="xs:string" />
        <xs:element name="totalmoney" type="xs:anyType" />
        <xs:element name="dance" type="xs:long" />
        <xs:element name="tables" type="tableplacedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entertime" type="xs:anyType" />
        <xs:element name="acceptor" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userpersonaldto" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="fathername" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="birthday" type="xs:anyType" />
        <xs:element name="authorities" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mainpagedto" >
      <xs:sequence>
        <xs:element name="today" type="eventdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="tomorrow" type="eventdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="currentandnextweek" type="eventdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="currentmonth" type="eventdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="nextmonth" type="eventdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="nextnextmonth" type="eventdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="relevant" type="eventrelevantdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="gallery" type="eventgallerydto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appuser" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
        <xs:element name="visible" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsentity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="title" type="xs:string" />
          <xs:element name="descriptionpreview" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="alias" type="xs:string" />
          <xs:element name="image" type="xs:string" />
          <xs:element name="owner" type="userentity" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventreportentity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="startevent" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="coveruri" type="xs:string" />
          <xs:element name="images" type="eventreportimageentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdatastatisticentity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="appcodename" type="xs:string" />
          <xs:element name="appname" type="xs:string" />
          <xs:element name="appversion" type="xs:string" />
          <xs:element name="cookieenabled" type="xs:anyType" />
          <xs:element name="language" type="xs:string" />
          <xs:element name="online" type="xs:anyType" />
          <xs:element name="platform" type="xs:string" />
          <xs:element name="seconds" type="xs:long" />
          <xs:element name="useragent" type="xs:string" />
          <xs:element name="localaddr" type="xs:string" />
          <xs:element name="remoteaddr" type="xs:string" />
          <xs:element name="protocol" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clubeventticketprice" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="cost" type="xs:anyType" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="type" type="eventticketpricetype" nillable="true" minOccurs="0" />
          <xs:element name="event" type="evententity" nillable="true" minOccurs="0" />
          <xs:element name="startactivetime" type="xs:anyType" />
          <xs:element name="endactivetime" type="xs:anyType" />
          <xs:element name="modifiedby" type="userentity" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bepaidrequest" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="requestid" type="xs:string" />
          <xs:element name="method" type="xs:string" />
          <xs:element name="url" type="xs:string" />
          <xs:element name="requestbody" type="xs:string" />
          <xs:element name="code" type="xs:long" />
          <xs:element name="responsebody" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="settingsentity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element name="value" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menucategory" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="categorytype" type="xs:anyType" />
          <xs:element name="parent" type="menucategory" nillable="true" minOccurs="0" />
          <xs:element name="children" type="menucategory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="items" type="menuitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuitemprice" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="starttime" type="xs:anyType" />
          <xs:element name="endtime" type="xs:anyType" />
          <xs:element name="value" type="xs:anyType" />
          <xs:element name="item" type="menuitem" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuitem" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="descriptionproportions" type="xs:string" />
          <xs:element name="category" type="menucategory" nillable="true" minOccurs="0" />
          <xs:element name="prices" type="menuitemprice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuitempriceshasorders" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="count" type="xs:long" />
          <xs:element name="order" type="menuorder" nillable="true" minOccurs="0" />
          <xs:element name="itemprice" type="menuitemprice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuorder" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="itempriceshasorders" type="menuitempriceshasorders" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="surname" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="" type="evententity" nillable="true" minOccurs="0" />
          <xs:element name="arrivaltime" type="xs:string" />
          <xs:element name="people" type="xs:anyType" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="tablenumber" type="xs:anyType" />
          <xs:element name="uuid" type="xs:string" />
          <xs:element name="token" type="xs:string" />
          <xs:element name="paystatus" type="gatewaystatus" nillable="true" minOccurs="0" />
          <xs:element name="uid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="evententity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="starteventfieldname" type="xs:string" />
          <xs:element name="costtext" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="startevent" type="xs:anyType" />
          <xs:element name="endevent" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="coveruri" type="xs:string" />
          <xs:element name="recommendation" type="xs:anyType" />
          <xs:element name="republicpay" type="xs:anyType" />
          <xs:element name="ticketprices" type="clubeventticketprice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="costdance" type="xs:anyType" />
          <xs:element name="costtableplace" type="xs:anyType" />
          <xs:element name="accessedit" type="userentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="alias" type="xs:string" />
          <xs:element name="cost" type="xs:anyType" />
          <xs:element name="buyticketurl" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="enabled" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="surname" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="fathername" type="xs:string" />
          <xs:element name="birthday" type="xs:anyType" />
          <xs:element name="accountnonexpired" type="xs:anyType" />
          <xs:element name="accountnonlocked" type="xs:anyType" />
          <xs:element name="credentialsnonexpired" type="xs:anyType" />
          <xs:element name="authorities" type="authorityentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="accessedit" type="evententity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="feedbackentity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventreportimageentity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="eventreport" type="eventreportentity" nillable="true" minOccurs="0" />
          <xs:element name="imageurl" type="xs:string" />
          <xs:element name="size" type="xs:string" />
          <xs:element name="width" type="xs:long" />
          <xs:element name="height" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fileentity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="filepath" type="xs:string" />
          <xs:element name="user" type="userentity" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderitementity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="" type="orderentity" nillable="true" minOccurs="0" />
          <xs:element name="tablenumber" type="xs:long" />
          <xs:element name="place" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tickettype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderentity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="surname" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="" type="evententity" nillable="true" minOccurs="0" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="uuid" type="xs:string" />
          <xs:element name="token" type="xs:string" />
          <xs:element name="paystatus" type="gatewaystatus" nillable="true" minOccurs="0" />
          <xs:element name="uid" type="xs:string" />
          <xs:element name="totalorder" type="xs:anyType" />
          <xs:element name="//paidvaluesdance" type="xs:long" />
          <xs:element name="tablenumbers" type="orderitementity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="itempriceshasorders" type="menuitempriceshasorders" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="entertime" type="xs:anyType" />
          <xs:element name="acceptor" type="userentity" nillable="true" minOccurs="0" />
          <xs:element name="bookuser" type="userentity" nillable="true" minOccurs="0" />
          <xs:element name="" type="tickettype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorityentity" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="authority" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="user" type="userentity" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventticketpricetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 