sourcecode15/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceconfig" >
      <xs:sequence>
        <xs:element name="jwtsigningkey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inspectheaderfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oauth2config" >
      <xs:complexContent>
       <xs:extension base="authorizationserverconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="websecurityconfigurer" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orguserrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<userorganization,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userorganization" >
      <xs:sequence>
        <xs:element name="organizationid" type="xs:string" />
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dockerfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 