SMPUOS_2017_Tim_32/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="panelzaocjenjivanje" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pocetna" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_clear_white_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_chevron_right_black_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_chevron_left_black_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_first_page_black_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_delete_forever_white_36px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_last_page_black_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_last_page_white_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_first_page_white_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_chevron_left_white_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_delete_black_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_search_black_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_chevron_right_white_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_done_white_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_update_white_36px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filmpomocnicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jezikservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rediteljservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kategorijarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="glumacrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filmcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="filmservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glumac" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ime" type="xs:string" />
        <xs:element name="prezime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jezik" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="naziv" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="film" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="naziv" type="xs:string" />
        <xs:element name="opis" type="xs:string" />
        <xs:element name="//trajanjeuminutimatrajanje" type="xs:long" />
        <xs:element name="datumpremijere" type="xs:dateTime" />
        <xs:element name="ocena" type="xs:long" />
        <xs:element name="sumaocena" type="xs:long" />
        <xs:element name="brojac" type="xs:long" />
        <xs:element name="prosecnaocena" type="xs:double" />
        <xs:element name="GeneratedName" type="jezik" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reditelj" nillable="true" minOccurs="0" />
        <xs:element name="glumci" type="glumac" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="kategorija" nillable="true" minOccurs="0" />
        <xs:element name="ocjene" type="ocjena" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reditelj" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ime" type="xs:string" />
        <xs:element name="prezime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kategorija" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="naziv" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ocjena" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="film" nillable="true" minOccurs="0" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="ocjena" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rediteljrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<reditelj,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filmrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<film,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kategorijarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<kategorija,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jezikrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<jezik,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ocjenarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ocjena,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="glumacrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<glumac,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filmapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rediteljservicejpa" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rediteljrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jezikservicejpa" >
      <xs:sequence>
        <xs:element name="jezikrespitory" type="jezikrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filmservicejpa" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="filmrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jezikrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rediteljrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kategorijarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ocjenarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jezikservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filmservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rediteljservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filmapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filmservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="filmservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="filmrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jezikrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rediteljrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="glumacrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kategorijarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 