spring-tarea-uno/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="venta" >
      <xs:sequence>
        <xs:element name="idventa" type="xs:anyType" />
        <xs:element name="GeneratedName" type="vendedor" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cliente" nillable="true" minOccurs="0" />
        <xs:element name="costo" type="xs:anyType" />
        <xs:element name="fechaventa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producto" >
      <xs:sequence>
        <xs:element name="idproducto" type="xs:anyType" />
        <xs:element name="GeneratedName" type="marca" nillable="true" minOccurs="0" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="idcliente" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="dircliente" type="xs:string" />
        <xs:element name="telcliente" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ventaproductopk" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="venta" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="producto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ventaproducto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="venta" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="producto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supervisor" >
      <xs:sequence>
        <xs:element name="idsupervisor" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="dirsupervisor" type="xs:string" />
        <xs:element name="telsupervisor" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendedor" >
      <xs:sequence>
        <xs:element name="idvendedor" type="xs:anyType" />
        <xs:element name="GeneratedName" type="supervisor" nillable="true" minOccurs="0" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="dirvendedor" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marca" >
      <xs:sequence>
        <xs:element name="idmarca" type="xs:anyType" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="direccion" type="xs:string" />
        <xs:element name="ciudad" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iventarepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<venta,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iproductorepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<producto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="isupervisorrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<supervisor,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imarcarepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<marca,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ivendedorrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<vendedor,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iventaproductorepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<ventaproducto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iclienterepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<cliente,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendedorcontroller" >
      <xs:sequence>
        <xs:element name="service" type="ivendedorservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientecontroller" >
      <xs:sequence>
        <xs:element name="service" type="iclienteservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ventacontroller" >
      <xs:sequence>
        <xs:element name="service" type="iventaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supervisorcontroller" >
      <xs:sequence>
        <xs:element name="service" type="isupervisorservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productocontroller" >
      <xs:sequence>
        <xs:element name="service" type="iproductoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marcacontroller" >
      <xs:sequence>
        <xs:element name="service" type="imarcaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ventaproductocontroller" >
      <xs:sequence>
        <xs:element name="service" type="iventaproductoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorizationserverconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionresponse" >
      <xs:sequence>
        <xs:element name="timestamp" type="xs:anyType" />
        <xs:element name="mensaje" type="xs:string" />
        <xs:element name="detalles" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modelonotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responseexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tareaunoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isupervisorservice" >
      <xs:complexContent>
       <xs:extension base="icrud<supervisor>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iventaservice" >
      <xs:complexContent>
       <xs:extension base="icrud<venta>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="icrud" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iventaproductoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iproductoservice" >
      <xs:complexContent>
       <xs:extension base="icrud<producto>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iclienteservice" >
      <xs:complexContent>
       <xs:extension base="icrud<cliente>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imarcaservice" >
      <xs:complexContent>
       <xs:extension base="icrud<marca>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="vendedorserviceimpl" >
      <xs:sequence>
        <xs:element name="repo" type="ivendedorrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ventaserviceimpl" >
      <xs:sequence>
        <xs:element name="repo" type="iventarepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clienteserviceimpl" >
      <xs:sequence>
        <xs:element name="repo" type="iclienterepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marcaserviceimpl" >
      <xs:sequence>
        <xs:element name="repo" type="imarcarepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supervisorserviceimpl" >
      <xs:sequence>
        <xs:element name="repo" type="isupervisorrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ventaproductoserviceimpl" >
      <xs:sequence>
        <xs:element name="repo" type="iventaproductorepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productoserviceimpl" >
      <xs:sequence>
        <xs:element name="repo" type="iproductorepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ivendedorservice" >
      <xs:complexContent>
       <xs:extension base="icrud<vendedor>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tareaunoapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 