s2container142/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jdbc_db2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbc_h2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="env" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbc_oracle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xadatasource_h2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbc_db2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbc_h2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app-dao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedao_selectbysqlfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectbysqlfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbc_oracle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convention" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectmanytoonefetchbenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="batchdeletebenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="insertsequencebenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="batchinsertsequencebenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbcselectownertest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcsqlfileselectdtotest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="path" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcpagingtest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address2" >
      <xs:sequence>
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/employee" type="employee2" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbcbatchinsertassigntest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcselectonetoonefetchfromownertest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee2" >
      <xs:sequence>
        <xs:element name="/***/employeeid" type="xs:anyType" />
        <xs:element name="/***/employeeno" type="xs:anyType" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/managerid" type="xs:anyType" />
        <xs:element name="/***/manager" type="employee2" nillable="true" minOccurs="0" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/department" type="department2" nillable="true" minOccurs="0" />
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/address" type="address2" nillable="true" minOccurs="0" />
        <xs:element name="/***/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/departmentno" type="xs:anyType" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbcbatchinsertsequencetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcbatchdeletetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcdeletetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcinsertassigntest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/employeeid" type="xs:anyType" />
        <xs:element name="/***/employeeno" type="xs:anyType" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/managerid" type="xs:anyType" />
        <xs:element name="/***/manager" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/" type="department" nillable="true" minOccurs="0" />
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/" type="address" nillable="true" minOccurs="0" />
        <xs:element name="/***/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbcupdatechangedonlytest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcselectinversetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcsqlselectdtotest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="sql" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcselectmanytoonefetchtest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcselectonetomanyfetchtest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcselectonetoonefetchfrominversetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department2" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/departmentno" type="xs:anyType" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/employees" type="employee2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbcupdatetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcinsertsequencetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcbatchupdatetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcbatchdeletetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="select" type="xs:string" />
          <xs:element name="delete" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcbatchinsertassigntest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="insert" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcinsertsequencetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="nextval" type="xs:string" />
          <xs:element name="nextval_db2" type="xs:string" />
          <xs:element name="insert" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcupdatetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="select" type="xs:string" />
          <xs:element name="update" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcbatchinsertsequencetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="nextval" type="xs:string" />
          <xs:element name="nextval_db2" type="xs:string" />
          <xs:element name="insert" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcselectinversetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="sql" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcselectownertest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="sql" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcbatchupdatetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="select" type="xs:string" />
          <xs:element name="update" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcinsertassigntest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="insert" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcdeletetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="select" type="xs:string" />
          <xs:element name="delete" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcupdatechangedonlytest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="select" type="xs:string" />
          <xs:element name="update" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/departmentno" type="xs:anyType" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/employeeid" type="xs:anyType" />
        <xs:element name="/***/employeeno" type="xs:anyType" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/managerid" type="xs:anyType" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbcpagingtest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="oracle_sql" type="xs:string" />
          <xs:element name="h2_sql" type="xs:string" />
          <xs:element name="db_sql" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectonetoonefetchfrominversebenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="benchmarktestcasescanner" >
      <xs:sequence>
        <xs:element name="benckmarkmarkers" type="xs:anyType" />
        <xs:element name="scannedclassnamemap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectonetoonefetchfromownerbenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectonetomanyfetchbenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="batchinsertassignbenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee2" >
      <xs:sequence>
        <xs:element name="/***/employeeid" type="xs:anyType" />
        <xs:element name="/***/employeeno" type="xs:anyType" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/manager" type="employee2" nillable="true" minOccurs="0" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/department" type="department2" nillable="true" minOccurs="0" />
        <xs:element name="/***/address" type="address2" nillable="true" minOccurs="0" />
        <xs:element name="/***/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/departmentno" type="xs:anyType" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address3" >
      <xs:sequence>
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/employee" type="employee3" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpadeletetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaselectonetoonefetchfromownertest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpainsertsequencetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpainsertassigntest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department2" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/departmentno" type="xs:anyType" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/employees" type="employee2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department3" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/departmentno" type="xs:anyType" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/employees" type="employee3" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaselectownertest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee3" >
      <xs:sequence>
        <xs:element name="/***/employeeid" type="xs:anyType" />
        <xs:element name="/***/employeeno" type="xs:anyType" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/manager" type="employee3" nillable="true" minOccurs="0" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/department" type="department3" nillable="true" minOccurs="0" />
        <xs:element name="/***/address" type="address3" nillable="true" minOccurs="0" />
        <xs:element name="/***/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpapagingtest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address2" >
      <xs:sequence>
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/employee" type="employee2" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaupdatetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaselectinversetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaupdatechangedonlytest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaselectmanytoonefetchtest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaselectonetomanyfetchtest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/employeeid" type="xs:anyType" />
        <xs:element name="/***/employeeno" type="xs:anyType" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/manager" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/" type="department" nillable="true" minOccurs="0" />
        <xs:element name="/***/" type="address" nillable="true" minOccurs="0" />
        <xs:element name="/***/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaselectonetoonefetchfrominversetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletebenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatechangedonlybenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectownerbenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="benchmarktestcase" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="sql" type="xs:string" />
          <xs:element name="filename" type="xs:string" />
          <xs:element name="/***/" type="xs:anyType" />
          <xs:element name="/***/starttime" type="xs:long" />
          <xs:element name="/***/endtime" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="batchupdatebenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselectdtobenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlselectdtobenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectinversebenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagingbenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2daopagingtest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="employeedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addressdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2daobatchinsertsequencetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="departmentdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2daoinsertsequencetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="departmentdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/departmentno" type="xs:anyType" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/versionno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2daobatchdeletetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="employeedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department2dao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2daoselectinversetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="addressdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/employeeid" type="xs:anyType" />
        <xs:element name="/***/employeeno" type="xs:anyType" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/managerid" type="xs:anyType" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/versionno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2daoselectownertest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="employeedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2daobatchinsertassigntest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="departmentdao" type="department2dao" nillable="true" minOccurs="0" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2daoinsertassigntest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="departmentdao" type="department2dao" nillable="true" minOccurs="0" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2daodeletetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="employeedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department2" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/departmentno" type="xs:anyType" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/versionno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2daosqlfileselectdtotest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="employeedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee2" >
      <xs:sequence>
        <xs:element name="modifiedpropertyset" type="xs:anyType" />
        <xs:element name="/***/employeeid" type="xs:anyType" />
        <xs:element name="/***/employeeno" type="xs:anyType" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/managerid" type="xs:anyType" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/versionno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2daosqlselectdtotest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="employeedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2daobatchupdatetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="employeedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee2dao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="/***/addressid" type="xs:anyType" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/versionno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2daoupdatetest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="" type="employeedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2daoupdatechangedonlytest" >
      <xs:complexContent>
       <xs:extension base="benchmarktestcase">
         <xs:sequence>
          <xs:element name="employeedao" type="employee2dao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatebenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="benchmarkmain" >
      <xs:sequence>
        <xs:element name="env_value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="insertassignbenchmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 