PIS/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="teamstudentid" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="team" type="xs:long" />
        <xs:element name="student" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
          <xs:element name="enrolled" type="subject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="teams" type="teamstudent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="teamstudent" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="team" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="student" nillable="true" minOccurs="0" />
        <xs:element name="pos" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="team" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="capacity" type="xs:long" />
        <xs:element name="GeneratedName" type="project" nillable="true" minOccurs="0" />
        <xs:element name="members" type="teamstudent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teacher" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
          <xs:element name="teachedsubjects" type="subject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="capacity" type="xs:long" />
        <xs:element name="teamsize" type="xs:long" />
        <xs:element name="deadline" type="xs:dateTime" />
        <xs:element name="teams" type="team" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="subject" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subject" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="teachers" type="teacher" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="students" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="mail" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personmanager" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teammanager" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectmanager" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subjectmanager" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamstudentmanager" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profilebean" >
      <xs:sequence>
        <xs:element name="personmgr" type="personmanager" nillable="true" minOccurs="0" />
        <xs:element name="account" type="person" nillable="true" minOccurs="0" />
        <xs:element name="newpassword" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teambean" >
      <xs:sequence>
        <xs:element name="teammgr" type="teammanager" nillable="true" minOccurs="0" />
        <xs:element name="personmgr" type="personmanager" nillable="true" minOccurs="0" />
        <xs:element name="teamstudentmgr" type="teamstudentmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="team" nillable="true" minOccurs="0" />
        <xs:element name="members" type="teamstudent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subjectbean" >
      <xs:sequence>
        <xs:element name="subjectmgr" type="subjectmanager" nillable="true" minOccurs="0" />
        <xs:element name="projectmgr" type="projectmanager" nillable="true" minOccurs="0" />
        <xs:element name="personmgr" type="personmanager" nillable="true" minOccurs="0" />
        <xs:element name="teammgr" type="teammanager" nillable="true" minOccurs="0" />
        <xs:element name="teamstudentmgr" type="teamstudentmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="subject" nillable="true" minOccurs="0" />
        <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newprojectbean" >
      <xs:sequence>
        <xs:element name="projectmng" type="projectmanager" nillable="true" minOccurs="0" />
        <xs:element name="subjectmng" type="subjectmanager" nillable="true" minOccurs="0" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="capacity" type="xs:long" />
        <xs:element name="teamsize" type="xs:long" />
        <xs:element name="deadline" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminauthfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myprojectsbean" >
      <xs:sequence>
        <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentauthfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subjectconverter" >
      <xs:sequence>
        <xs:element name="manager" type="subjectmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountsbean" >
      <xs:sequence>
        <xs:element name="personmgr" type="personmanager" nillable="true" minOccurs="0" />
        <xs:element name="accounts" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accounttypeconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountbean" >
      <xs:sequence>
        <xs:element name="personmgr" type="personmanager" nillable="true" minOccurs="0" />
        <xs:element name="subjectmgr" type="subjectmanager" nillable="true" minOccurs="0" />
        <xs:element name="teammgr" type="teammanager" nillable="true" minOccurs="0" />
        <xs:element name="teamstudentmgr" type="teamstudentmanager" nillable="true" minOccurs="0" />
        <xs:element name="account" type="person" nillable="true" minOccurs="0" />
        <xs:element name="mail" type="xs:string" />
        <xs:element name="subjects" type="subject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authbean" >
      <xs:sequence>
        <xs:element name="loggedin" type="xs:anyType" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="personmgr" type="personmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subjectlistbean" >
      <xs:sequence>
        <xs:element name="subjectmgr" type="subjectmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teacherauthfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectbean" >
      <xs:sequence>
        <xs:element name="projectmgr" type="projectmanager" nillable="true" minOccurs="0" />
        <xs:element name="teammgr" type="teammanager" nillable="true" minOccurs="0" />
        <xs:element name="personmgr" type="personmanager" nillable="true" minOccurs="0" />
        <xs:element name="teamstudentmgr" type="teamstudentmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="project" nillable="true" minOccurs="0" />
        <xs:element name="teams" type="team" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newpersonbean" >
      <xs:sequence>
        <xs:element name="personmgr" type="personmanager" nillable="true" minOccurs="0" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newteambean" >
      <xs:sequence>
        <xs:element name="teammgr" type="teammanager" nillable="true" minOccurs="0" />
        <xs:element name="projectmgr" type="projectmanager" nillable="true" minOccurs="0" />
        <xs:element name="personmgr" type="personmanager" nillable="true" minOccurs="0" />
        <xs:element name="teamstudentmgr" type="teamstudentmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="project" nillable="true" minOccurs="0" />
        <xs:element name="teamname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 