sudoku10/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="partida" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idpartida" type="xs:long" />
        <xs:element name="GeneratedName" type="jogador" nillable="true" minOccurs="0" />
        <xs:element name="jogo" type="jogo9x9" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dificuldade" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jogador" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="historico" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="GeneratedName" type="partida" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 