pro-jpa-2-1375/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="printqueue" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="jobs" type="printjob" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="printjob" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="queue" type="printqueue" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 