onesaitplatform-cloud/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="scheduledjob" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="jobname" type="xs:string" />
        <xs:element name="groupname" type="xs:string" />
        <xs:element name="schedulerid" type="xs:string" />
        <xs:element name="singleton" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 