myproject/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingservicenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingcontroller" >
      <xs:sequence>
        <xs:element name="bservice" type="bookingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="laundrybookingserviceapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<bookingmodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingmodel" >
      <xs:sequence>
        <xs:element name="bookingid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="serviceid" type="xs:long" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="servicetype" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="totalprice" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingservice" >
      <xs:sequence>
        <xs:element name="brepository" type="bookingrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="laundrybookingserviceapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 