myproject/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bookingmodel" >
      <xs:sequence>
        <xs:element name="bookingid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="serviceid" type="xs:long" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="servicetype" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="totalprice" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 