megalodon_app/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="tradeservapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alertcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="alertrepository" nillable="true" minOccurs="0" />
        <xs:element name="//alertsaved_btc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tradeserverapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablebuilderkucoin" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pairingkucoinrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tickerkucoinrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fulltickerkucoinrepository" nillable="true" minOccurs="0" />
        <xs:element name="pending" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="telegramservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestskucoinservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsekucoin" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="daa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tickerwrapper" >
      <xs:sequence>
        <xs:element name="ticker" type="fulltickerkucoin" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="time" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="text" type="xs:string" />
        <xs:element name="chat_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appstartuprunner" >
      <xs:sequence>
        <xs:element name="tb" type="tablebuilderkucoin" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alertview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fulltickerid" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="symbol" type="xs:string" />
        <xs:element name="time" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pairingkucoin" >
      <xs:sequence>
        <xs:element name="symbol" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="quotemaxsize" type="xs:long" />
        <xs:element name="enabletrading" type="xs:anyType" />
        <xs:element name="priceincrement" type="xs:anyType" />
        <xs:element name="feecurrency" type="xs:string" />
        <xs:element name="basemaxsize" type="xs:anyType" />
        <xs:element name="basecurrency" type="xs:string" />
        <xs:element name="quotecurrency" type="xs:string" />
        <xs:element name="market" type="xs:string" />
        <xs:element name="quoteincrement" type="xs:anyType" />
        <xs:element name="baseminsize" type="xs:anyType" />
        <xs:element name="quoteminsize" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="baseincrement" type="xs:anyType" />
        <xs:element name="ismarginenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fulltickerkucoin" >
      <xs:sequence>
        <xs:element name="time" type="xs:long" />
        <xs:element name="symbol" type="xs:string" />
        <xs:element name="high" type="xs:anyType" />
        <xs:element name="vol" type="xs:anyType" />
        <xs:element name="last" type="xs:anyType" />
        <xs:element name="low" type="xs:anyType" />
        <xs:element name="buy" type="xs:anyType" />
        <xs:element name="sell" type="xs:anyType" />
        <xs:element name="changeprice" type="xs:anyType" />
        <xs:element name="symbolname" type="xs:string" />
        <xs:element name="averageprice" type="xs:anyType" />
        <xs:element name="changerate" type="xs:double" />
        <xs:element name="volvalue" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alert" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="fibonacci" type="xs:anyType" />
        <xs:element name="asset" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="longersetup" type="xs:anyType" />
        <xs:element name="shorterbuysetup" type="xs:anyType" />
        <xs:element name="shortersellsetup" type="xs:anyType" />
        <xs:element name="//bollingerbandlongertimer" type="xs:anyType" />
        <xs:element name="shortertimer" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singletickerkucoin" >
      <xs:sequence>
        <xs:element name="sequence" type="xs:long" />
        <xs:element name="time" type="xs:long" />
        <xs:element name="pair" type="xs:string" />
        <xs:element name="bestask" type="xs:anyType" />
        <xs:element name="size" type="xs:anyType" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="bestbidsize" type="xs:anyType" />
        <xs:element name="bestbid" type="xs:anyType" />
        <xs:element name="bestasksize" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pairingkucoinrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<pairingkucoin,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fulltickerkucoinrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<fulltickerkucoin,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tickerkucoinrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<singletickerkucoin,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="alertrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<alert,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="api-keys" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="platform" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 