spring-roo/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="updatecompilationunitutils" >
      <xs:complexContent>
       <xs:extension base="and">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="javaparsertyperesolutionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compilationunitservices" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javaparserfieldmetadatabuilder" >
      <xs:sequence>
        <xs:element name="annotations" type="xs:anyType" />
        <xs:element name="declaredbymetadataid" type="xs:string" />
        <xs:element name="fieldinitializer" type="xs:string" />
        <xs:element name="fieldname" type="xs:anyType" />
        <xs:element name="fieldtype" type="xs:anyType" />
        <xs:element name="modifier" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javaparserconstructormetadatabuilder" >
      <xs:sequence>
        <xs:element name="annotations" type="xs:anyType" />
        <xs:element name="body" type="xs:string" />
        <xs:element name="declaredbymetadataid" type="xs:string" />
        <xs:element name="modifier" type="xs:long" />
        <xs:element name="parameternames" type="xs:anyType" />
        <xs:element name="parametertypes" type="xs:anyType" />
        <xs:element name="throwstypes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javaparserclassorinterfacetypedetailsbuilder" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="unsupported_message_prefix" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="compilationunitpackage" type="xs:anyType" />
          <xs:element name="" type="compilationunitservices" nillable="true" minOccurs="0" />
          <xs:element name="declaredbymetadataid" type="xs:string" />
          <xs:element name="imports" type="xs:anyType" />
          <xs:element name="innertypes" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="name" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="javaparserannotationmetadatabuilder" >
      <xs:sequence>
        <xs:element name="annotationtype" type="xs:anyType" />
        <xs:element name="attributevalues" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javaparsermethodmetadatabuilder" >
      <xs:sequence>
        <xs:element name="annotations" type="xs:anyType" />
        <xs:element name="body" type="xs:string" />
        <xs:element name="declaredbymetadataid" type="xs:string" />
        <xs:element name="methodname" type="xs:anyType" />
        <xs:element name="modifier" type="xs:long" />
        <xs:element name="parameternames" type="xs:anyType" />
        <xs:element name="parametertypes" type="xs:anyType" />
        <xs:element name="returntype" type="xs:anyType" />
        <xs:element name="throwstypes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javaparsercommentmetadatabuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javaparsertypeparsingservice" >
      <xs:complexContent>
       <xs:extension base="",">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="javaparserutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleclass3.java" >
      <xs:sequence>
        <xs:element name="meger" type="xs:long" />
        <xs:element name="megerarray" type="xs:long" />
        <xs:element name="megerarray2" type="xs:long" />
        <xs:element name="megerarray3" type="xs:long" />
        <xs:element name="m" type="xs:anyType" />
        <xs:element name="marray" type="xs:anyType" />
        <xs:element name="marray2" type="xs:anyType" />
        <xs:element name="marray3" type="xs:anyType" />
        <xs:element name="mobject" type="xs:long" />
        <xs:element name="mobjectarray" type="xs:long" />
        <xs:element name="mobjectarray2" type="xs:long" />
        <xs:element name="mobjectarray3" type="xs:long" />
        <xs:element name="msetstring" type="xs:anyType" />
        <xs:element name="msetstringarray" type="xs:anyType" />
        <xs:element name="msetstringarray2" type="xs:anyType" />
        <xs:element name="msetstringarray3" type="xs:anyType" />
        <xs:element name="mmapstringdouble" type="xs:anyType" />
        <xs:element name="mmapstringdoublearray" type="xs:anyType" />
        <xs:element name="mmapstringdoublearray2" type="xs:anyType" />
        <xs:element name="mmapstringdoublearray3" type="xs:anyType" />
        <xs:element name="mlistmapstringiteratordouble" type="xs:anyType" />
        <xs:element name="mlistmapstringiteratordoublearray" type="xs:anyType" />
        <xs:element name="mlistmapstringiteratordoublearray2" type="xs:anyType" />
        <xs:element name="mlistmapstringiteratordoublearray3" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleclass2.java" >
      <xs:complexContent>
       <xs:extension base="otheclass<string,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleinterface.java" >
      <xs:complexContent>
       <xs:extension base="comparable<simpleinterface>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aenumerate.java" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleclass.java" >
      <xs:complexContent>
       <xs:extension base="otheclass<string,">
         <xs:sequence>
          <xs:element name="/*	*" type="xs:string" />
          <xs:element name="/***javadocforcolumnfield*/valor" type="xs:string" />
          <xs:element name="/***javadocfortransientfield*/param1" type="xs:double" />
          <xs:element name="listarray" type="xs:anyType" />
          <xs:element name="setarray" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roo_1505.java" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="pets" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatecompilationunittest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="simple_interface_file_path" type="xs:string" />
          <xs:element name="simple_class_file_path" type="xs:string" />
          <xs:element name="simple_class2_file_path" type="xs:string" />
          <xs:element name="simple_class3_file_path" type="xs:string" />
          <xs:element name="roo1505_class_file_path" type="xs:string" />
          <xs:element name="simple_interface_type" type="xs:anyType" />
          <xs:element name="simple_class_type" type="xs:anyType" />
          <xs:element name="simple_class2_type" type="xs:anyType" />
          <xs:element name="simple_class3_type" type="xs:anyType" />
          <xs:element name="roo1505_class_type" type="xs:anyType" />
          <xs:element name="simple_interface_declared_by_mid" type="xs:string" />
          <xs:element name="simple_class_declared_by_mid" type="xs:string" />
          <xs:element name="simple_class2_declared_by_mid" type="xs:string" />
          <xs:element name="simple_class3_declared_by_mid" type="xs:string" />
          <xs:element name="roo1505_class_declared_by_mid" type="xs:string" />
          <xs:element name="mock" type="xs:anyType" />
          <xs:element name="mock" type="xs:anyType" />
          <xs:element name="//fixturetypeparsingservice" type="javaparsertypeparsingservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="newupdatecompilationunittest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="simple_interface_file_path" type="xs:string" />
          <xs:element name="simple_class_file_path" type="xs:string" />
          <xs:element name="simple_class2_file_path" type="xs:string" />
          <xs:element name="simple_class3_file_path" type="xs:string" />
          <xs:element name="roo1505_class_file_path" type="xs:string" />
          <xs:element name="enum_file_path" type="xs:string" />
          <xs:element name="simple_interface_type" type="xs:anyType" />
          <xs:element name="simple_class_type" type="xs:anyType" />
          <xs:element name="simple_class2_type" type="xs:anyType" />
          <xs:element name="simple_class3_type" type="xs:anyType" />
          <xs:element name="roo1505_class_type" type="xs:anyType" />
          <xs:element name="enum_type" type="xs:anyType" />
          <xs:element name="simple_interface_declared_by_mid" type="xs:string" />
          <xs:element name="simple_class_declared_by_mid" type="xs:string" />
          <xs:element name="simple_class2_declared_by_mid" type="xs:string" />
          <xs:element name="simple_class3_declared_by_mid" type="xs:string" />
          <xs:element name="roo1505_class_declared_by_mid" type="xs:string" />
          <xs:element name="enum_declared_by_mid" type="xs:string" />
          <xs:element name="mock" type="xs:anyType" />
          <xs:element name="mock" type="xs:anyType" />
          <xs:element name="//fixturetypeparsingservice" type="javaparsertypeparsingservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="javaparsertypeparsingservicetest" >
      <xs:sequence>
        <xs:element name="declared_by_mid" type="xs:string" />
        <xs:element name="empty_file" type="xs:string" />
        <xs:element name="source_file" type="xs:string" />
        <xs:element name="mock" type="xs:anyType" />
        <xs:element name="mock" type="xs:anyType" />
        <xs:element name="//fixturetypeparsingservice" type="javaparsertypeparsingservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 