JavaLearningSamples31/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="log4j2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="fname" type="xs:string" />
        <xs:element name="lname" type="xs:string" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="file" type="xs:anyType" />
        <xs:element name="filestorageid" type="xs:string" />
        <xs:element name="ampluaid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerampluadto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="positionname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="foundationyear" type="xs:long" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="headcoach" type="xs:string" />
        <xs:element name="fifarating" type="xs:long" />
        <xs:element name="capitan" type="xs:string" />
        <xs:element name="file" type="xs:anyType" />
        <xs:element name="filestorageid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storedfilenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storeplayerexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filestorageexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="playercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="playerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="teamservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerampluacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="playerampluaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="team" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="foundationyear" type="xs:long" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="headcoach" type="xs:string" />
        <xs:element name="fifarating" type="xs:long" />
        <xs:element name="capitan" type="xs:string" />
        <xs:element name="tourmanentgroups" type="tourmanentgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="filestorage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="match" type="xs:dateTime" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="host" type="team" nillable="true" minOccurs="0" />
        <xs:element name="guest" type="team" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="stadium" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tournamenttype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goaltype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tournament" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tournamentname" type="xs:string" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="tournamenttype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playeramplua" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//@column(unique" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="player" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="fname" type="xs:string" />
        <xs:element name="lname" type="xs:string" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="playeramplua" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="filestorage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="score" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="gooaltime" type="xs:long" />
        <xs:element name="GeneratedName" type="player" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="matchitem" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goaltype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stadium" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="filestorage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tourmanentgroup" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="teams" type="team" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="tournament" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filestorage" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="filepath" type="xs:string" />
        <xs:element name="filename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerteams" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="player" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="team" nillable="true" minOccurs="0" />
        <xs:element name="number" type="xs:long" />
        <xs:element name="startwork" type="xs:anyType" />
        <xs:element name="endwork" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multipartimage" >
      <xs:sequence>
        <xs:element name="s" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="originalfilename" type="xs:string" />
        <xs:element name="contenttype" type="xs:string" />
        <xs:element name="isempty" type="xs:anyType" />
        <xs:element name="size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="player" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="fname" type="xs:string" />
        <xs:element name="lname" type="xs:string" />
        <xs:element name="bdate" type="xs:string" />
        <xs:element name="amplua" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goaltype" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footballtournamentmanagmentapplication" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerampluarepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<playeramplua,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tournamentrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<playeramplua,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tourmanentgrouprepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<playeramplua,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="teamrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<team,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="playerteamsrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<playerteams,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filestoragerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<filestorage,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stadiumrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<playeramplua,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="matchitemrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<playeramplua,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="playerrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<player,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerampluaserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="playerampluarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileservice" >
      <xs:sequence>
        <xs:element name="img_width" type="xs:long" />
        <xs:element name="img_height" type="xs:long" />
        <xs:element name="filestoragelocation" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerservice" >
      <xs:sequence>
        <xs:element name="filerepository" type="filestoragerepository" nillable="true" minOccurs="0" />
        <xs:element name="storageservice" type="fileservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="playerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="playerampluarepository" nillable="true" minOccurs="0" />
        <xs:element name="fileservice" type="filestorageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filestorageservice" >
      <xs:sequence>
        <xs:element name="filerepository" type="filestoragerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="teamrepository" nillable="true" minOccurs="0" />
        <xs:element name="filerepository" type="filestoragerepository" nillable="true" minOccurs="0" />
        <xs:element name="storageservice" type="fileservice" nillable="true" minOccurs="0" />
        <xs:element name="fileservice" type="filestorageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerampluaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filestorageproperties" >
      <xs:sequence>
        <xs:element name="uploaddir" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerampluacontrollertest" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
        <xs:element name="GeneratedName" type="playerampluaservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="playerampluarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerampluarestcontrollerit" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
        <xs:element name="//@mockbean//playerampluaserviceservicerepository" type="playerampluarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="teamservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="teamrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerampluaserviceimplit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="playerampluaservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="playerampluarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerservicetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playertest" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="playerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="playerampluarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerampluarepositoryit" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="ampluarepository" type="playerampluarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerrepositoryit" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="ampluarepository" type="playerampluarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="playerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerteamsrepositoryit" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="playerteamsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="playerrepository" nillable="true" minOccurs="0" />
        <xs:element name="teamsrepository" type="teamrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footballtournamentmanagmentapplicationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-tournaments" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 