Servlets10/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="bookid" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="onsale" type="xs:anyType" />
        <xs:element name="calendaryear" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="inventory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 