newsp-spring-boot/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="subscription" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="news" >
      <xs:sequence>
        <xs:element name="news_id" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="newsbody" type="xs:string" />
        <xs:element name="GeneratedName" type="categories" nillable="true" minOccurs="0" />
        <xs:element name="lastupdateddate" type="xs:anyType" />
        <xs:element name="createddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categories" >
      <xs:sequence>
        <xs:element name="cid" type="xs:anyType" />
        <xs:element name="categoriesname" type="xs:string" />
        <xs:element name="lastupdateddate" type="xs:anyType" />
        <xs:element name="createddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="doc" >
      <xs:sequence>
        <xs:element name="doc_id" type="xs:long" />
        <xs:element name="docname" type="xs:string" />
        <xs:element name="doctype" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 