lcyan-cloud/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="rolemenu" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="menuid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrole" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="roleid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="rolename" type="xs:string" />
          <xs:element name="rolecode" type="xs:string" />
          <xs:element name="roledesc" type="xs:string" />
          <xs:element name="status" type="xs:anyType" />
          <xs:element name="deptname" type="xs:string" />
          <xs:element name="menus/***是否默认0-否，1-是*/isdefault" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="/***菜单名称*/name" type="xs:string" />
          <xs:element name="/***菜单权限标识*/permission" type="xs:string" />
          <xs:element name="/***url*/url" type="xs:string" />
          <xs:element name="/***重定向url*/redirect" type="xs:string" />
          <xs:element name="/***父菜单id*/parentid" type="xs:long" />
          <xs:element name="/***图标*/icon" type="xs:string" />
          <xs:element name="/***排序号*/sort" type="xs:string" />
          <xs:element name="/***类型*/type" type="xs:anyType" />
          <xs:element name="/***模块*/component" type="xs:string" />
          <xs:element name="/***路径*/path" type="xs:string" />
          <xs:element name="/***备注*/remark" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="/***@id//id字段*	@column(columndefinition" type="xs:string" />
          <xs:element name="/***电话*/phone" type="xs:string" />
          <xs:element name="/***头像id*/avatarid" type="xs:long" />
          <xs:element name="/***邮箱*/email" type="xs:string" />
          <xs:element name="/***性别*/sex" type="xs:anyType" />
          <xs:element name="/***出生日期*/born" type="xs:dateTime" />
          <xs:element name="/***描述*/userdesc" type="xs:string" />
          <xs:element name="/***状态*/status" type="xs:anyType" />
          <xs:element name="rolelist/***最近登录时间*/logintime" type="xs:dateTime" />
          <xs:element name="/***用户归档时间*/locktime" type="xs:dateTime" />
          <xs:element name="/***微信*/wechat" type="xs:string" />
          <xs:element name="/***个性签名*/signature" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 