openJPA1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="abstractopenjpamappingtoolmojo" >
      <xs:complexContent>
       <xs:extension base="abstractopenjpamojo">
         <xs:sequence>
          <xs:element name="/***argumenttospecifytheactiontotakeoneachclass.theavailableactionsare:*buildschema,validate*/action" type="xs:string" />
          <xs:element name="/***usedforpassingtheactionparametertothemappingtool*/option_action" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sampleentity" >
      <xs:sequence>
        <xs:element name="x1" type="xs:long" />
        <xs:element name="1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myentityimpl" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentityc" >
      <xs:sequence>
        <xs:element name="x1" type="xs:long" />
        <xs:element name="1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentityb" >
      <xs:sequence>
        <xs:element name="x1" type="xs:long" />
        <xs:element name="1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentitya" >
      <xs:sequence>
        <xs:element name="x1" type="xs:long" />
        <xs:element name="1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentity" >
      <xs:sequence>
        <xs:element name="x1" type="xs:long" />
        <xs:element name="1" type="xs:string" />
        <xs:element name="val2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myentityimpl" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dropschematestentity" >
      <xs:sequence>
        <xs:element name="x1" type="xs:long" />
        <xs:element name="1" type="xs:string" />
        <xs:element name="myenum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentity" >
      <xs:sequence>
        <xs:element name="x1" type="xs:long" />
        <xs:element name="1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentity" >
      <xs:sequence>
        <xs:element name="x1" type="xs:long" />
        <xs:element name="1" type="xs:string" />
        <xs:element name="myenum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 