local-doc-java-api1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="listbean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="request" type="requestbean" nillable="true" minOccurs="0" />
        <xs:element name="input" type="xs:string" />
        <xs:element name="GeneratedName" type="todo" nillable="true" minOccurs="0" />
        <xs:element name="todos" type="todo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="tasktext" type="xs:string" />
        <xs:element name="timecreated" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestbean" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdatabase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdatabaseentitymanager" >
      <xs:sequence>
        <xs:element name="//declareaproducerfieldem" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todolist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 