local-doc-java-api1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="todo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="tasktext" type="xs:string" />
        <xs:element name="timecreated" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 