pro-jpa-2-1342/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="local_area_code" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="phonenum" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="wage" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 