Practical-JSF-Java-EE-81/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="hashutilstest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uuidutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hashutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountrole" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountstatusconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountfacade" >
      <xs:complexContent>
       <xs:extension base="abstractservice">
         <xs:sequence>
          <xs:element name="instance" type="accountfacade" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="key_len" type="xs:long" />
        <xs:element name="rounds" type="xs:long" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="//<editor-folddefaultstate" type="accountstatus" nillable="true" minOccurs="0" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="//<editor-folddefaultstate" type="xs:dateTime" />
        <xs:element name="//<editor-folddefaultstate" type="xs:dateTime" />
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountroleid" >
      <xs:sequence>
        <xs:element name="_accountid" type="xs:anyType" />
        <xs:element name="_rolename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractservice" >
      <xs:sequence>
        <xs:element name="_em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduler" >
      <xs:sequence>
        <xs:element name="_dbcleaner" type="databasecleaner" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databasecleaner" >
      <xs:sequence>
        <xs:element name="_registerservice" type="accountfacade" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationconfig" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 