parking_system/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="parkingslip" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="vehicle" nillable="true" minOccurs="0" />
        <xs:element name="checkin" type="xs:dateTime" />
        <xs:element name="checkout" type="xs:dateTime" />
        <xs:element name="billamt" type="xs:double" />
        <xs:element name="state" type="vehichleparkingstate" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="charges" >
      <xs:sequence>
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="chargingscheme" type="xs:string" />
        <xs:element name="vtype" type="vehicletype" nillable="true" minOccurs="0" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="modifiedat" type="xs:dateTime" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vehicle" >
      <xs:sequence>
        <xs:element name="vnumber" type="xs:string" />
        <xs:element name="vtype" type="vehicletype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 