java_persistence_hibernate_jpa/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="guide" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="staffid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="students" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="enrollmentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="guide" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passport" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="passportnumber" type="xs:string" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="passport" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guide" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="staffid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="students" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="enrollmentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="guide" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="enrollmentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="guide" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guide" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="staffid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="students" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guide" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="staffid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="students" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="enrollmentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="guide" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="enrollmentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="guide" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guide" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="staffid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="students" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friend" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="nicknames" type="xs:anyType" />
        <xs:element name="addresses" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="enrollmentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="guide" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guide" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="staffid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="//whenyou'realteringtheschemaofyourtablestoaddtheversioncolumntouseversioning,//don'tforgettoaddthedefaultforthatcolumnas0like//altertable`guide`add`version`int(11)notnulldefault'0'version" type="xs:anyType" />
        <xs:element name="//butifyou'replanningtouseversioningrightfromthebeginning,//it'salwaysgoodtohave@column(columndefinition" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="//forhibernate4.3.xusersid" type="xs:long" />
        <xs:element name="//forhibernate5.xusers//ifyou'reusinghibernate5.x,usegenerationtype.identityidgeneratorstrategyexplicitly//formoreinformationon"generationtype"havealookathttps://www.udemy.com/course/242180/activities/?ids" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="enrollmentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="guide" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person2" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guide" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="staffid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person3" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="home" type="address" nillable="true" minOccurs="0" />
        <xs:element name="billing" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guide" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="staffid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="students" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="enrollmentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="guide" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parent" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="parentprimarykey" nillable="true" minOccurs="0" />
        <xs:element name="children" type="child" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="GeneratedName" type="employeeid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section" >
      <xs:sequence>
        <xs:element name="sectionnr" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="chapter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chapter" >
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="chapterid" nillable="true" minOccurs="0" />
        <xs:element name="sections" type="section" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="child" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="parent" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie2" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//@enumerated//ordinalbydefault//@enumerated(enumtype.ordinal)bothofthesecasestheindexoftheenum-valuewouldbepersisted(0,1,2,..)filmtype" type="filmtypeenum" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guide" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="staffid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="students" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="enrollmentid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="guide" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animal" >
      <xs:sequence>
        <xs:element name="//)id" type="xs:long" />
        <xs:element name="//@column(nullable" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cat" >
      <xs:complexContent>
       <xs:extension base="animal">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dog" >
      <xs:complexContent>
       <xs:extension base="animal">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="actors" type="actor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="movies" type="movie" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 