JavaLearningSamples/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="securityconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dtoutils" >
      <xs:sequence>
        <xs:element name="//loggerlog" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jackson2objectmapperconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userspecifications" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postspecifications" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<post,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<comment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="role" type="xs:string" />
          <xs:element name="createddate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="GeneratedName" type="post" nillable="true" minOccurs="0" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="createddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="lastmodifiedby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="//@inject" type="postrepository" nillable="true" minOccurs="0" />
        <xs:element name="//@inject" type="commentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataimporter" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localdatetimejsoncomponent" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<localdatetime>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apierrors" >
      <xs:sequence>
        <xs:element name="prefix" type="xs:string" />
        <xs:element name="invalid_request" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="/***prefixofrestapi*/uri_api_prefix" type="xs:string" />
        <xs:element name="uri_self" type="xs:string" />
        <xs:element name="uri_users" type="xs:string" />
        <xs:element name="uri_posts" type="xs:string" />
        <xs:element name="uri_comments" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usernamealreadyusedexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="username" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invalidrequestexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="errors" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="passwordmismatchedexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetails" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="createddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentform" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profileform" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signupform" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postform" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentdetails" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createdby" type="simpleuserdetails" nillable="true" minOccurs="0" />
        <xs:element name="createddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleuserdetails" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postdetails" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="createdby" type="simpleuserdetails" nillable="true" minOccurs="0" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="lastmodifiedby" type="simpleuserdetails" nillable="true" minOccurs="0" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordform" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="oldpassword" type="xs:string" />
        <xs:element name="newpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsemessage" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="errors" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userform" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postcontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="//@inject" type="blogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentcontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="blogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentusercontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signupcontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restexceptionhandler" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentuser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleuserdetailsserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post_story" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockbeanblogservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postrepository" nillable="true" minOccurs="0" />
        <xs:element name="comments" type="commentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="blogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockblogservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="blogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplerestclienttest" >
      <xs:sequence>
        <xs:element name="service" type="xs:anyType" />
        <xs:element name="////resttemplatebuilderbuilderserver" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localdatetimejsoncomponenttest" >
      <xs:sequence>
        <xs:element name="tester" type="xs:anyType" />
        <xs:element name="mapper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplewebmvctest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="blogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpledatajpatest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="posts" type="postrepository" nillable="true" minOccurs="0" />
        <xs:element name="comments" type="commentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isodatetest" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="offsetdate" type="xs:anyType" />
        <xs:element name="zoneddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogservicetest" >
      <xs:complexContent>
       <xs:extension base="integrationtestbase">
         <xs:sequence>
          <xs:element name="" type="postrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="blogservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="post" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservicetest" >
      <xs:complexContent>
       <xs:extension base="integrationtestbase">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webintegrationtestbase" >
      <xs:complexContent>
       <xs:extension base="integrationtestbase">
         <xs:sequence>
          <xs:element name="port" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockmvcapplicationtest" >
      <xs:sequence>
        <xs:element name="outputdir" type="xs:string" />
        <xs:element name="snippetsdir" type="xs:string" />
        <xs:element name="asciidocoutputdir" type="xs:string" />
        <xs:element name="restdocumentation" type="xs:anyType" />
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="postrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="savedidentity" type="post" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="poststory" >
      <xs:complexContent>
       <xs:extension base="abstractspringjbehavestory">
         <xs:sequence>
          <xs:element name="" type="postrepository" nillable="true" minOccurs="0" />
          <xs:element name="resttemplate" type="xs:anyType" />
          <xs:element name="baseurl" type="xs:string" />
          <xs:element name="port" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="poststeps" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postrepository" nillable="true" minOccurs="0" />
        <xs:element name="resttemplate" type="xs:anyType" />
        <xs:element name="baseurl" type="xs:string" />
        <xs:element name="reponseentity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="acceptancetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractspringjbehavestory" >
      <xs:complexContent>
       <xs:extension base="junitstory">
         <xs:sequence>
          <xs:element name="posts" type="postrepository" nillable="true" minOccurs="0" />
          <xs:element name="comments" type="commentrepository" nillable="true" minOccurs="0" />
          <xs:element name="users" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="story_timeout_in_seconds" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restassuredapplicationtest" >
      <xs:complexContent>
       <xs:extension base="webintegrationtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fixtures" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="integrationtestbase" >
      <xs:sequence>
        <xs:element name="user_name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="posts" type="postrepository" nillable="true" minOccurs="0" />
        <xs:element name="comments" type="commentrepository" nillable="true" minOccurs="0" />
        <xs:element name="users" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manual_content1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manual_content2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 