plpan/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="regdate" type="xs:anyType" />
        <xs:element name="moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reply" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="rno" type="xs:long" />
          <xs:element name="replyer" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="" type="board" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="board" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="bno" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="writer" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 