mpaas7/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshserverentityemptyinterceptor" >
      <xs:complexContent>
       <xs:extension base="emptyinterceptor">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nginxstaticwebentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxlogentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxupstreamserverentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxupstreamentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxlocationentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxhttpentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxbasicentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxconfentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxtemplateparamentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxloginfoentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxreverseproxyentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxparamentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxcreditentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxtemplateentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxbakentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxcertentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxstreamentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxserverentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduletask" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxconfig" >
      <xs:sequence>
        <xs:element name="///**//*注入模块接口//*///@module////imodulemodule/***注入hibernate处理接口*/hibernatebuilder" type="xs:anyType" />
        <xs:element name="sessionfactory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="sshserverentityemptyinterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxstream" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxcert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxupstream" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxbak" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxtemplate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxconf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxstaticweb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxtemplate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxlog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxbasic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxlog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxconf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxbasic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxupstream" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxstream" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxexport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxreverseproxy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxstaticweb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxbak" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxexport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxhttp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxcert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxreverseproxy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxhttp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 