mpaas7/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="nginxstaticwebentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxlogentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxupstreamserverentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxupstreamentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxlocationentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxhttpentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxbasicentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxconfentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxtemplateparamentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxloginfoentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxreverseproxyentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxparamentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxcreditentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxtemplateentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxbakentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxcertentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxstreamentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxserverentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 