s2013-wepa4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="task" >
      <xs:complexContent>
       <xs:extension base="abstractmodel">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="startedtime" type="xs:dateTime" />
          <xs:element name="stoppedtime" type="xs:dateTime" />
          <xs:element name="" type="project" nillable="true" minOccurs="0" />
          <xs:element name="transientprojectid" type="xs:anyType" />
          <xs:element name="transientstart" type="xs:anyType" />
          <xs:element name="transientstop" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:complexContent>
       <xs:extension base="abstractmodel">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="creationtime" type="xs:dateTime" />
          <xs:element name="tasks" type="task" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 