Spring_Pjs12/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="register" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="read" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-lock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slim.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.min.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name=".travis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestbookrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<guestbook,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boardapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestbookcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="guestbookservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageresultdto" >
      <xs:sequence>
        <xs:element name="//dto리스트dtolist" type="xs:anyType" />
        <xs:element name="totalpage" type="xs:long" />
        <xs:element name="//현재페이지page" type="xs:long" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="//시작페이지번호,끝페이지번호start,end" type="xs:long" />
        <xs:element name="prev,next" type="xs:anyType" />
        <xs:element name="//페이지번호목록pagelist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagerequestdto" >
      <xs:sequence>
        <xs:element name="page" type="xs:long" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="keyword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestbookdto" >
      <xs:sequence>
        <xs:element name="gno" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="regdate,moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestbookservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestbookserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="guestbookrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestbook" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="gno" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="writer" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="regdate" type="xs:anyType" />
        <xs:element name="moddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestbookrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="guestbookrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestbookservicetest" >
      <xs:sequence>
        <xs:element name="service" type="guestbookservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 