springcloud-book-greenwich11/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="syslog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//用户名username" type="xs:string" />
        <xs:element name="//用户操作operation" type="xs:string" />
        <xs:element name="//请求方法method" type="xs:string" />
        <xs:element name="//请求参数params" type="xs:string" />
        <xs:element name="//ip地址ip" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 