MasterThesisUSEF3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="udipowercontainer" >
      <xs:complexContent>
       <xs:extension base="powercontainer">
         <xs:sequence>
          <xs:element name="" type="udi" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="synchronisationconnection" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="iscustomer" type="xs:anyType" />
        <xs:element name="lastsynchronisationtime" type="xs:dateTime" />
        <xs:element name="lastmodificationtime" type="xs:dateTime" />
        <xs:element name="statusses" type="synchronisationconnectionstatus" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="udievent" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="period" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="udi" nillable="true" minOccurs="0" />
        <xs:element name="devicecapabilities" type="devicecapability" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="deviceselector" type="xs:string" />
        <xs:element name="GeneratedName" type="udieventtype" nillable="true" minOccurs="0" />
        <xs:element name="startdtu" type="xs:anyType" />
        <xs:element name="enddtu" type="xs:anyType" />
        <xs:element name="finishbeforedtu" type="xs:anyType" />
        <xs:element name="startafterdtu" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectiongrouppowercontainer" >
      <xs:complexContent>
       <xs:extension base="powercontainer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionstatus" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="commonreferenceoperator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnection" nillable="true" minOccurs="0" />
        <xs:element name="status" type="synchronisationconnectionstatustype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionpowercontainer" >
      <xs:complexContent>
       <xs:extension base="powercontainer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reducerequest" >
      <xs:complexContent>
       <xs:extension base="variationrequest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reducecapability" >
      <xs:complexContent>
       <xs:extension base="{@link">
         <xs:sequence>
          <xs:element name="minpower" type="xs:anyType" />
          <xs:element name="durationmultiplier" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="interruptcapability" >
      <xs:complexContent>
       <xs:extension base="{@link">
         <xs:sequence>
          <xs:element name="maxdtus" type="xs:anyType" />
          <xs:element name="type" type="interruptcapabilitytype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportcapability" >
      <xs:complexContent>
       <xs:extension base="{@link">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shiftcapability" >
      <xs:complexContent>
       <xs:extension base="{@link">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="increasecapability" >
      <xs:complexContent>
       <xs:extension base="{@link">
         <xs:sequence>
          <xs:element name="maxpower" type="xs:anyType" />
          <xs:element name="durationmultiplier" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="devicecapability" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="GeneratedName" type="udievent" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperator" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="element" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="connectionentityaddress" type="xs:string" />
        <xs:element name="GeneratedName" type="elementtype" nillable="true" minOccurs="0" />
        <xs:element name="profile" type="xs:string" />
        <xs:element name="dtuduration" type="xs:anyType" />
        <xs:element name="elementdtudata" type="elementdtudata" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="udi" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dtusize" type="xs:anyType" />
        <xs:element name="endpoint" type="xs:string" />
        <xs:element name="profile" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="udievents" type="udievent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="validfrom" type="xs:dateTime" />
        <xs:element name="validuntil" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="powercontainer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="period" type="xs:dateTime" />
        <xs:element name="timeindex" type="xs:anyType" />
        <xs:element name="profile" type="powerdata" nillable="true" minOccurs="0" />
        <xs:element name="/***thisshouldbefilledwithmeteredobserveddatabytheparty.*/forecast" type="forecastpowerdata" nillable="true" minOccurs="0" />
        <xs:element name="observed" type="powerdata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elementdtudata" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="element" nillable="true" minOccurs="0" />
        <xs:element name="dtuindex" type="xs:anyType" />
        <xs:element name="profileuncontrolledload" type="xs:anyType" />
        <xs:element name="profilepotentialflexconsumption" type="xs:anyType" />
        <xs:element name="profilepotentialflexproduction" type="xs:anyType" />
        <xs:element name="profileaverageconsumption" type="xs:anyType" />
        <xs:element name="profileaverageproduction" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportrequest" >
      <xs:complexContent>
       <xs:extension base="devicerequest">
         <xs:sequence>
          <xs:element name="dtuindexes" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="devicerequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="period" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="devicemessage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="increaserequest" >
      <xs:complexContent>
       <xs:extension base="variationrequest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="devicemessage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="devicemessagestatus" nillable="true" minOccurs="0" />
        <xs:element name="endpoint" type="xs:string" />
        <xs:element name="GeneratedName" type="udi" nillable="true" minOccurs="0" />
        <xs:element name="devicerequests" type="devicerequest" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interruptrequest" >
      <xs:complexContent>
       <xs:extension base="devicerequest">
         <xs:sequence>
          <xs:element name="eventid" type="xs:string" />
          <xs:element name="dtuindexes" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shiftrequest" >
      <xs:complexContent>
       <xs:extension base="devicerequest">
         <xs:sequence>
          <xs:element name="eventid" type="xs:string" />
          <xs:element name="startdtu" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 