restservicejava/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="customerapi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actorrestcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="film" >
      <xs:sequence>
        <xs:element name="_id" type="xs:anyType" />
        <xs:element name="_title" type="xs:string" />
        <xs:element name="_releaseyear" type="xs:anyType" />
        <xs:element name="_" type="language" nillable="true" minOccurs="0" />
        <xs:element name="_" type="genre" nillable="true" minOccurs="0" />
        <xs:element name="_actors" type="actor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="customerid" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="contactname" type="xs:string" />
        <xs:element name="contacttitle" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="postalcode" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actor" >
      <xs:sequence>
        <xs:element name="_id" type="xs:anyType" />
        <xs:element name="_fname" type="xs:string" />
        <xs:element name="_lname" type="xs:string" />
        <xs:element name="_residence" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genre" >
      <xs:sequence>
        <xs:element name="_id" type="xs:anyType" />
        <xs:element name="_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="language" >
      <xs:sequence>
        <xs:element name="_id" type="xs:anyType" />
        <xs:element name="_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ientity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baserepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actorrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="languagerespository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filmrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genrerepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facade" >
      <xs:sequence>
        <xs:element name="_" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerapplication" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typography" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="object-assign-pollyfill" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="highlight.9.1.0.pack_extended" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slideto.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 