restservicejava/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="film" >
      <xs:sequence>
        <xs:element name="_id" type="xs:anyType" />
        <xs:element name="_title" type="xs:string" />
        <xs:element name="_releaseyear" type="xs:anyType" />
        <xs:element name="_" type="language" nillable="true" minOccurs="0" />
        <xs:element name="_" type="genre" nillable="true" minOccurs="0" />
        <xs:element name="_actors" type="actor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actor" >
      <xs:sequence>
        <xs:element name="_id" type="xs:anyType" />
        <xs:element name="_fname" type="xs:string" />
        <xs:element name="_lname" type="xs:string" />
        <xs:element name="_residence" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genre" >
      <xs:sequence>
        <xs:element name="_id" type="xs:anyType" />
        <xs:element name="_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="language" >
      <xs:sequence>
        <xs:element name="_id" type="xs:anyType" />
        <xs:element name="_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 