s2013-wepa/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpabeerservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="beerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<beer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="beerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beerseleniumtest" >
      <xs:sequence>
        <xs:element name="port" type="xs:string" />
        <xs:element name="driver" type="xs:anyType" />
        <xs:element name="baseurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 