IoT-parent/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="roleentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="users" type="userentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="permissions" type="permissionentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="passwordhash" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="roles" type="roleentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissionentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="permission" type="xs:string" />
        <xs:element name="roles" type="roleentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 