sourcecode10/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="dockerfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="threadlocalawarestrategy" >
      <xs:complexContent>
       <xs:extension base="hystrixconcurrencystrategy{">
         <xs:sequence>
          <xs:element name="existingconcurrencystrategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="threadlocalconfiguration" >
      <xs:sequence>
        <xs:element name="existingconcurrencystrategy" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delegatingusercontextcallable" >
      <xs:sequence>
        <xs:element name="delegate" type="xs:anyType" />
        <xs:element name="original" type="usercontext" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="licenserepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<license,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="serviceconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceconfig" >
      <xs:sequence>
        <xs:element name="exampleproperty" type="xs:string" />
        <xs:element name="redisserver" type="xs:string" />
        <xs:element name="redisport" type="xs:string" />
        <xs:element name="jwtsigningkey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discoveryservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="licenseservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="licenserepository" nillable="true" minOccurs="0" />
        <xs:element name="config" type="serviceconfig" nillable="true" minOccurs="0" />
        <xs:element name="organizationrestclient" type="organizationresttemplateclient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organizationresttemplateclient" >
      <xs:sequence>
        <xs:element name="resttemplate" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourceserverconfiguration" >
      <xs:complexContent>
       <xs:extension base="resourceserverconfigureradapter{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usercontextinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontextfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontextholder" >
      <xs:sequence>
        <xs:element name="usercontext" type="usercontext" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontext" >
      <xs:sequence>
        <xs:element name="correlation_id" type="xs:string" />
        <xs:element name="auth_token" type="xs:string" />
        <xs:element name="user_id" type="xs:string" />
        <xs:element name="org_id" type="xs:string" />
        <xs:element name="correlationid" type="xs:anyType" />
        <xs:element name="authtoken" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="orgid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="licenseservicecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="licenseservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="serviceconfig" nillable="true" minOccurs="0" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toolscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="discoveryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organization" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="contactname" type="xs:string" />
        <xs:element name="contactemail" type="xs:string" />
        <xs:element name="contactphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
        <xs:element name="licenseid" type="xs:string" />
        <xs:element name="organizationid" type="xs:string" />
        <xs:element name="organizationname" type="xs:string" />
        <xs:element name="contactname" type="xs:string" />
        <xs:element name="contactphone" type="xs:string" />
        <xs:element name="contactemail" type="xs:string" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="licensetype" type="xs:string" />
        <xs:element name="licensemax" type="xs:anyType" />
        <xs:element name="licenseallocated" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 