KR_Developing-a-New-Audit-Methodology-for-Electronic-Public-Tenders-back/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="tenderentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="currentstage" type="xs:string" />
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="datepublished" type="xs:anyType" />
        <xs:element name="periodstartdate" type="xs:anyType" />
        <xs:element name="periodenddate" type="xs:anyType" />
        <xs:element name="procurementmethodrationale" type="xs:string" />
        <xs:element name="procurementmethoddetails" type="xs:string" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="currency" type="xs:string" />
        <xs:element name="guaranteeamount" type="xs:double" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="badquality" type="xs:anyType" />
        <xs:element name="hasdocuments" type="xs:anyType" />
        <xs:element name="release" type="releaseentity" nillable="true" minOccurs="0" />
        <xs:element name="lots" type="lotentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="items" type="itementity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="awards" type="awardentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="qualificationrequirements" type="qualificationrequiremententity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enquiries" type="enquiryentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="relatedprocesses" type="relatedprocessentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="bids" type="bidentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="complaints" type="complaintentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="contracts" type="contractentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="suppliers" type="partyentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="releaseentity" >
      <xs:sequence>
        <xs:element name="ocid" type="xs:string" />
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="complaintentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bidentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="bidderid" type="xs:string" />
        <xs:element name="datedisclosed" type="xs:anyType" />
        <xs:element name="bidlots" type="bidlotentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
        <xs:element name="priceproposal" type="priceproposalentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tendercpvlist" >
      <xs:sequence>
        <xs:element name="identity" type="tendercpvlistidentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="awardentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="valueamount" type="xs:double" />
        <xs:element name="valuecurrency" type="xs:string" />
        <xs:element name="bid" type="bidentity" nillable="true" minOccurs="0" />
        <xs:element name="lot" type="lotentity" nillable="true" minOccurs="0" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactpointentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="partyid" type="xs:anyType" />
        <xs:element name="tenderid" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="outerid" type="xs:string" />
        <xs:element name="identifierid" type="xs:string" />
        <xs:element name="identifierscheme" type="xs:string" />
        <xs:element name="identifierlegalname" type="xs:string" />
        <xs:element name="identifierlegalnameru" type="xs:string" />
        <xs:element name="identifierlegalnamekg" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="locality" type="xs:string" />
        <xs:element name="streetaddress" type="xs:string" />
        <xs:element name="region" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enquiryentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="dateanswered" type="xs:anyType" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="priceproposalentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="unitid" type="xs:anyType" />
        <xs:element name="unitname" type="xs:string" />
        <xs:element name="unitvalueamount" type="xs:double" />
        <xs:element name="unitvaluecurrency" type="xs:string" />
        <xs:element name="item" type="itementity" nillable="true" minOccurs="0" />
        <xs:element name="lot" type="lotentity" nillable="true" minOccurs="0" />
        <xs:element name="bid" type="bidentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itementity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="classificationid" type="xs:string" />
        <xs:element name="quantity" type="xs:double" />
        <xs:element name="unitid" type="xs:anyType" />
        <xs:element name="unitname" type="xs:string" />
        <xs:element name="unitvalueamount" type="xs:double" />
        <xs:element name="unitvaluecurrency" type="xs:string" />
        <xs:element name="lot" type="lotentity" nillable="true" minOccurs="0" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
        <xs:element name="priceproposal" type="priceproposalentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenderindicatorentity" >
      <xs:sequence>
        <xs:element name="tenderid" type="xs:anyType" />
        <xs:element name="indicatorid" type="xs:anyType" />
        <xs:element name="indicatorvalue" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indicatorentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="impact" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contractentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="datesigned" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="valueamount" type="xs:double" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="qualificationrequiremententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relatedprocessentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="identifier" type="xs:anyType" />
        <xs:element name="relationship" type="xs:string" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bidlotentity" >
      <xs:sequence>
        <xs:element name="bidid" type="xs:anyType" />
        <xs:element name="lotid" type="xs:anyType" />
        <xs:element name="amount" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lotentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="valueamount" type="xs:double" />
        <xs:element name="valuecurrency" type="xs:string" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="tender" type="tenderentity" nillable="true" minOccurs="0" />
        <xs:element name="items" type="itementity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="awards" type="awardentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="priceproposal" type="priceproposalentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 