spring-integration/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="expressionevaluatingparametersourcefactorytests" >
      <xs:sequence>
        <xs:element name="factory" type="expressionevaluatingparametersourcefactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpatests" >
      <xs:sequence>
        <xs:element name="datasource" type="xs:anyType" />
        <xs:element name="pollingresults" type="xs:anyType" />
        <xs:element name="outboundadapterflowinput" type="xs:anyType" />
        <xs:element name="updatinggatewayflowinput" type="xs:anyType" />
        <xs:element name="persistresults" type="xs:anyType" />
        <xs:element name="retrievinggatewayflowinput" type="xs:anyType" />
        <xs:element name="retrieveresults" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpapollingchanneladaptertests" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="jpaoperations" nillable="true" minOccurs="0" />
        <xs:element name="poller" type="xs:anyType" />
        <xs:element name="outputchannel" type="xs:anyType" />
        <xs:element name="testtrigger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpapollingchanneladapterunittests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testhibernatejpadialect" >
      <xs:complexContent>
       <xs:extension base="hibernatejpadialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consumer" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="messages" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpatestutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentdomain" >
      <xs:sequence>
        <xs:element name="rollnumber" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="lastupd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gender" >
      <xs:sequence>
        <xs:element name="identifier" type="xs:string" />
        <xs:element name="identifiermap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentreadstatus" >
      <xs:sequence>
        <xs:element name="rollnumber" type="xs:long" />
        <xs:element name="readat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoutboundgatewayparsertests" >
      <xs:complexContent>
       <xs:extension base="abstractrequesthandleradvice">
         <xs:sequence>
          <xs:element name="context" type="xs:anyType" />
          <xs:element name="consumer" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpainboundchanneladapterparsertests" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="jpainboundchanneladapter1" type="xs:anyType" />
        <xs:element name="jpainboundchanneladapter2" type="xs:anyType" />
        <xs:element name="jpainboundchanneladapter3" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpamessagehandlerparsertests" >
      <xs:complexContent>
       <xs:extension base="abstractrequesthandleradvice">
         <xs:sequence>
          <xs:element name="context" type="xs:anyType" />
          <xs:element name="consumer" type="xs:anyType" />
          <xs:element name="volatileadvicecalled" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaoutboundchanneladaptertests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="transactionmanager" type="xs:anyType" />
        <xs:element name="jpaoutboundchanneladapterwithinchain" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoutboundgatewayintegrationtests" >
      <xs:sequence>
        <xs:element name="requestchannel" type="xs:anyType" />
        <xs:element name="responsechannel" type="xs:anyType" />
        <xs:element name="findbyentityclasschannel" type="xs:anyType" />
        <xs:element name="findbypayloadtypechannel" type="xs:anyType" />
        <xs:element name="findanddeletechannel" type="xs:anyType" />
        <xs:element name="findresultchannel" type="xs:anyType" />
        <xs:element name="invalididtypechannel" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="volatilehandler" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoutboundchanneladaptertransactionaltests" >
      <xs:sequence>
        <xs:element name="channel" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<studentdomain,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoutboundgatewaytests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaexecutortests-context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaexecutortests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractjpaoperationstests" >
      <xs:sequence>
        <xs:element name="transactionmanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatejpaoperationstests" >
      <xs:complexContent>
       <xs:extension base="abstractjpaoperationstests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="h2-droptables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="h2-createtables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j2-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoutboundchanneladapterparser" >
      <xs:complexContent>
       <xs:extension base="abstractoutboundchanneladapterparser">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaparserutils" >
      <xs:sequence>
        <xs:element name="logger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractjpaoutboundgatewayparser" >
      <xs:complexContent>
       <xs:extension base="abstractconsumerendpointparser">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="retrievingjpaoutboundgatewayparser" >
      <xs:complexContent>
       <xs:extension base="abstractjpaoutboundgatewayparser">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpanamespacehandler" >
      <xs:complexContent>
       <xs:extension base="abstractintegrationnamespacehandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpainboundchanneladapterparser" >
      <xs:complexContent>
       <xs:extension base="abstractpollinginboundchanneladapterparser">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatingjpaoutboundgatewayparser" >
      <xs:complexContent>
       <xs:extension base="abstractjpaoutboundgatewayparser">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoperations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractjpaoperations" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoperationfailedexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="offendingjpaql" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultjpaoperations" >
      <xs:complexContent>
       <xs:extension base="abstractjpaoperations">
         <xs:sequence>
          <xs:element name="logger" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaexecutor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jpaoperations" nillable="true" minOccurs="0" />
        <xs:element name="jpaparameters" type="jpaparameter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entityclass" type="xs:anyType" />
        <xs:element name="jpaquery" type="xs:string" />
        <xs:element name="nativequery" type="xs:string" />
        <xs:element name="namedquery" type="xs:string" />
        <xs:element name="maxresults" type="xs:anyType" />
        <xs:element name="firstresult" type="xs:anyType" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="persistmode" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="parametersourcefactory" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="parametersource" nillable="true" minOccurs="0" />
        <xs:element name="flush" type="xs:anyType" />
        <xs:element name="flushsize" type="xs:long" />
        <xs:element name="clearonflush" type="xs:anyType" />
        <xs:element name="deleteafterpoll" type="xs:anyType" />
        <xs:element name="deleteinbatch" type="xs:anyType" />
        <xs:element name="expectsingleresult" type="xs:anyType" />
        <xs:element name="/***indicatesthatwhetheronlythepayloadofthepassedin{@linkmessage}*willbeusedasasourceofparameters.theis'true'bydefaultbecauseasa*defaulta{@linkbeanpropertyparametersourcefactory}implementationis*usedforthesqlparametersourcefactoryproperty.*/usepayloadasparametersource" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaupdatingoutboundendpointspec" >
      <xs:complexContent>
       <xs:extension base="jpabaseoutboundendpointspec<jpaupdatingoutboundendpointspec>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparetrievingoutboundgatewayspec" >
      <xs:complexContent>
       <xs:extension base="jpabaseoutboundendpointspec<jparetrievingoutboundgatewayspec>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpainboundchanneladapterspec" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="//nosonar-" type="jpaexecutor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpabaseoutboundendpointspec" >
      <xs:complexContent>
       <xs:extension base="jpabaseoutboundendpointspec<s>>">
         <xs:sequence>
          <xs:element name="jpaparameters" type="jpaparameter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="//nosonar" type="jpaexecutor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpapollingchanneladapter" >
      <xs:complexContent>
       <xs:extension base="abstractmessagesource<object>">
         <xs:sequence>
          <xs:element name="" type="jpaexecutor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoutboundgatewayfactorybean" >
      <xs:complexContent>
       <xs:extension base="abstractsimplemessagehandlerfactorybean<jpaoutboundgateway>">
         <xs:sequence>
          <xs:element name="" type="jpaexecutor" nillable="true" minOccurs="0" />
          <xs:element name="gatewaytype" type="outboundgatewaytype" nillable="true" minOccurs="0" />
          <xs:element name="producesreply" type="xs:anyType" />
          <xs:element name="replytimeout" type="xs:long" />
          <xs:element name="requiresreply" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaoutboundgateway" >
      <xs:complexContent>
       <xs:extension base="abstractreplyproducingmessagehandler">
         <xs:sequence>
          <xs:element name="" type="jpaexecutor" nillable="true" minOccurs="0" />
          <xs:element name="gatewaytype" type="outboundgatewaytype" nillable="true" minOccurs="0" />
          <xs:element name="//falseforoutbound-channel-adapter,trueforoutbound-gatewayproducesreply" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expressionevaluatingparametersourceutils" >
      <xs:complexContent>
       <xs:extension base="abstractexpressionevaluator">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beanpropertyparametersourcefactory" >
      <xs:sequence>
        <xs:element name="parameters" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expressionevaluatingparametersourcefactory" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="expressionevaluator" type="xs:anyType" />
        <xs:element name="parameters" type="jpaparameter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parametersource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parametersourcefactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="positionsupportingparametersource" >
      <xs:complexContent>
       <xs:extension base="parametersource">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beanpropertyparametersource" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="propertynames" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaparameter" >
      <xs:sequence>
        <xs:element name="parser" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
        <xs:element name="expression" type="xs:string" />
        <xs:element name="spel" type="xs:anyType" />
        <xs:element name="projection" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="outboundgatewaytype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpautils" >
      <xs:sequence>
        <xs:element name="delete_all_query_" type="xs:string" />
        <xs:element name="alias_match" type="xs:anyType" />
        <xs:element name="identifier" type="xs:string" />
        <xs:element name="identifier_group" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistmode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 