spring-integration/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="studentdomain" >
      <xs:sequence>
        <xs:element name="rollnumber" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="lastupd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentreadstatus" >
      <xs:sequence>
        <xs:element name="rollnumber" type="xs:long" />
        <xs:element name="readat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 