spring-roo1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="gaeoperationsimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//------------osgicomponentattributes----------------context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoperations" >
      <xs:complexContent>
       <xs:extension base="feature">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gaeoperations" >
      <xs:complexContent>
       <xs:extension base="feature">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpacommands" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="//projectsettingsspring_roo_jpa_require_schema_object_name" type="xs:string" />
          <xs:element name="//annotationsroo_equals_builder" type="xs:anyType" />
          <xs:element name="roo_serializable_builder" type="xs:anyType" />
          <xs:element name="roo_to_string_builder" type="xs:anyType" />
          <xs:element name="identifier_default_type" type="xs:string" />
          <xs:element name="version_default_type" type="xs:string" />
          <xs:element name="" type="jpaoperations" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="projectsettings" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ormprovider" >
      <xs:sequence>
        <xs:element name="adapter" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identifierservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identifiermetadata" >
      <xs:complexContent>
       <xs:extension base="abstractitdtypedetailsprovidingmetadataitem">
         <xs:sequence>
          <xs:element name="provides_type_" type="xs:string" />
          <xs:element name="provides_type" type="xs:string" />
          <xs:element name="//see{@linkidentifierservice}forfurtherinformation(populatedvia//{@linkidentifiermetadataproviderimpl})maybenullidentifierserviceresult" type="identifier" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="publicnoargconstructor" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="identifier" >
      <xs:sequence>
        <xs:element name="columndefinition" type="xs:string" />
        <xs:element name="columnname" type="xs:string" />
        <xs:element name="columnsize" type="xs:long" />
        <xs:element name="fieldname" type="xs:anyType" />
        <xs:element name="fieldtype" type="xs:anyType" />
        <xs:element name="scale" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identifierannotationvalues" >
      <xs:complexContent>
       <xs:extension base="abstractannotationvalues">
         <xs:sequence>
          <xs:element name="dbmanaged" type="xs:anyType" />
          <xs:element name="gettersbydefault" type="xs:anyType" />
          <xs:element name="noargconstructor" type="xs:anyType" />
          <xs:element name="settersbydefault" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="identifiermetadataprovider" >
      <xs:complexContent>
       <xs:extension base="itdtriggerbasedmetadataprovider">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="identifiermetadataproviderimpl" >
      <xs:complexContent>
       <xs:extension base="abstractidentifierserviceawaremetadataprovider">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="registrytracker" type="xs:anyType" />
          <xs:element name="configurablemetadataprovidertracker" type="xs:anyType" />
          <xs:element name="serializablemetadataprovidertracker" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="databasedotcomoperations" >
      <xs:complexContent>
       <xs:extension base="feature">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaentitymetadata" >
      <xs:complexContent>
       <xs:extension base="abstractitdtypedetailsprovidingmetadataitem">
         <xs:sequence>
          <xs:element name="provides_type_" type="xs:string" />
          <xs:element name="jpa_annotations_supported" type="xs:anyType" />
          <xs:element name="mappedby_attribute" type="xs:anyType" />
          <xs:element name="/***prefixforadd/removemethodnames*/remove_method_prefix" type="xs:string" />
          <xs:element name="add_method_prefix" type="xs:string" />
          <xs:element name="/***suffixforadd/removemethodparameternames*/remove_parameter_suffix" type="xs:string" />
          <xs:element name="add_parameter_suffix" type="xs:string" />
          <xs:element name="annotatedentity" type="xs:anyType" />
          <xs:element name="annotationvalues" type="jpaentityannotationvalues" nillable="true" minOccurs="0" />
          <xs:element name="parent" type="jpaentitymetadata" nillable="true" minOccurs="0" />
          <xs:element name="identifierfield" type="xs:anyType" />
          <xs:element name="identifieraccessor" type="xs:anyType" />
          <xs:element name="versionfield" type="xs:anyType" />
          <xs:element name="versionaccessor" type="xs:anyType" />
          <xs:element name="iterabletoaddcantbenullconstant" type="xs:anyType" />
          <xs:element name="iterabletoremovecantbenullconstant" type="xs:anyType" />
          <xs:element name="relationinfos" type="xs:anyType" />
          <xs:element name="relationinfosbymappedby" type="xs:anyType" />
          <xs:element name="relationsaschild" type="xs:anyType" />
          <xs:element name="compositionrelationfield" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaentitymetadataproviderimpl" >
      <xs:complexContent>
       <xs:extension base="abstractidentifierserviceawaremetadataprovider">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="//jpa-relatedfieldmatchersjpa_column_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_embedded_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_embedded_id_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_enumerated_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_id_and_embedded_id_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_id_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_lob_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_many_to_many_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_many_to_one_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_one_to_many_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_one_to_one_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_transient_field_matcher" type="xs:anyType" />
          <xs:element name="jpa_version_field_matcher" type="xs:anyType" />
          <xs:element name="provides_type_" type="xs:string" />
          <xs:element name="provides_type" type="xs:string" />
          <xs:element name="trigger_annotations" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="registrytracker" type="xs:anyType" />
          <xs:element name="keydecoratortracker" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="identifierstrategy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embeddablefieldcreatorprovider" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//------------osgicomponentattributes----------------//context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="projectsettings" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="javatypeconverter" type="xs:anyType" />
        <xs:element name="spring_roo_jpa_require_schema_object_name" type="xs:string" />
        <xs:element name="roo_default_join_table_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaentityannotationvalues" >
      <xs:complexContent>
       <xs:extension base="abstractannotationvalues">
         <xs:sequence>
          <xs:element name="catalog" type="xs:string" />
          <xs:element name="entityname" type="xs:string" />
          <xs:element name="inheritancetype" type="xs:string" />
          <xs:element name="mappedsuperclass" type="xs:anyType" />
          <xs:element name="schema" type="xs:string" />
          <xs:element name="table" type="xs:string" />
          <xs:element name="readonly" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaentitymetadataprovider" >
      <xs:complexContent>
       <xs:extension base="itdtriggerbasedmetadataprovider">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpafieldcreatorprovider" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//------------osgicomponentattributes----------------//context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="projectsettings" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="javatypeconverter" type="xs:anyType" />
        <xs:element name="spring_roo_jpa_require_schema_object_name" type="xs:string" />
        <xs:element name="cardinality" type="xs:string" />
        <xs:element name="join_table" type="xs:string" />
        <xs:element name="join_column_name" type="xs:string" />
        <xs:element name="one_to_many" type="xs:string" />
        <xs:element name="many_to_many" type="xs:string" />
        <xs:element name="true" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractidentifierserviceawaremetadataprovider" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="identifierservices" type="identifierservice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaauditoperationsimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//------------osgicomponentattributes----------------context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="springlets_version_" type="xs:anyType" />
        <xs:element name="springlets_data_jpa_starter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaauditoperations" >
      <xs:complexContent>
       <xs:extension base="feature">
         <xs:sequence>
          <xs:element name="audit_feature_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaauditmetadataprovider" >
      <xs:complexContent>
       <xs:extension base="itdtriggerbasedmetadataprovider">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaauditcommands" >
      <xs:sequence>
        <xs:element name="//projectsettingsspring_roo_jpa_require_schema_object_name" type="xs:string" />
        <xs:element name="auditoperations" type="jpaauditoperations" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="projectsettings" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaauditmetadata" >
      <xs:complexContent>
       <xs:extension base="abstractitdtypedetailsprovidingmetadataitem">
         <xs:sequence>
          <xs:element name="provides_type_" type="xs:string" />
          <xs:element name="provides_type" type="xs:string" />
          <xs:element name="auditfields" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaauditmetadataproviderimpl" >
      <xs:complexContent>
       <xs:extension base="abstractmemberdiscoveringitdmetadataprovider">
         <xs:sequence>
          <xs:element name="registrytracker" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="databasedotcomoperationsimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//------------osgicomponentattributes----------------context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbcdatabase" >
      <xs:sequence>
        <xs:element name="connection" type="xs:string" />
        <xs:element name="driverclassname" type="xs:string" />
        <xs:element name="key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoperationsimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//------------osgicomponentattributes----------------context" type="xs:anyType" />
        <xs:element name="datasource_prefix" type="xs:string" />
        <xs:element name="database_driver" type="xs:string" />
        <xs:element name="database_password" type="xs:string" />
        <xs:element name="database_url" type="xs:string" />
        <xs:element name="database_username" type="xs:string" />
        <xs:element name="jndi_name" type="xs:string" />
        <xs:element name="hibernate_naming_strategy" type="xs:string" />
        <xs:element name="hibernate_naming_strategy_value" type="xs:string" />
        <xs:element name="pom_xml" type="xs:string" />
        <xs:element name="servicemanager" type="xs:anyType" />
        <xs:element name="springlets_version_" type="xs:anyType" />
        <xs:element name="springlets_data_jpa_starter" type="xs:anyType" />
        <xs:element name="springlets_data_commons_starter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configuration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="database-dot-com-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpa-dialects" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appengine-web-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identifierannotationvaluestest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaoperationsimpltest" >
      <xs:sequence>
        <xs:element name="app_context" type="xs:string" />
        <xs:element name="application_context_path" type="xs:string" />
        <xs:element name="db_dialect" type="xs:string" />
        <xs:element name="db_host_name" type="xs:string" />
        <xs:element name="db_jndi_name" type="xs:string" />
        <xs:element name="db_name" type="xs:string" />
        <xs:element name="db_password" type="xs:string" />
        <xs:element name="db_user_name" type="xs:string" />
        <xs:element name="expected_application_context" type="xs:string" />
        <xs:element name="expected_jndi_application_context" type="xs:string" />
        <xs:element name="expected_persistence_xml_for_h2_in_memory_and_hibernate" type="xs:string" />
        <xs:element name="persistence_path" type="xs:string" />
        <xs:element name="persistence_unit" type="xs:string" />
        <xs:element name="pom" type="xs:string" />
        <xs:element name="pom_path" type="xs:string" />
        <xs:element name="transaction_manager" type="xs:string" />
        <xs:element name="dialects" type="xs:anyType" />
        <xs:element name="//fixturejpaoperations" type="jpaoperationsimpl" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="xs:anyType" />
        <xs:element name="mock" type="xs:anyType" />
        <xs:element name="mock" type="xs:anyType" />
        <xs:element name="mock" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaentityannotationvaluestest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 