spring-study3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="licenseplate" type="xs:string" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="manufacturerdate" type="xs:anyType" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 