seguridad-social-bot-spring/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application-prod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1.5__process_type" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1.1__contract_type" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1.0__coefficient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1.2__contract_time_type" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1.3__contract_key" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1.6__contract_accounts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1.4__process_status" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xulstore" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shield-preference-experiments" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prefs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upgrade" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upgrade" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recovery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recovery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="previous" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pluginreg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alternateservices" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitypreloadstate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="session-state" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="times" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extensions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blocklist-plugins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mimetypes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trrblacklist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blocklist-gfx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessioncheckpoints" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compatibility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extensions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blocklist-addons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitesecurityservicestate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gmpopenh264" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="handlers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-dev" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anulacionbajaconsolidadabot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="anulacionbajaconsolidada" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anulacionaltapreviabot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="anulacionaltaprevia" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultaaltabot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="consultaalta" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anulacionaltaconsolidadabot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="anulacionaltaconsolidada" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anulacionbajapreviabot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="anulacionbajaprevia" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basebot" >
      <xs:sequence>
        <xs:element name="op" type="operation" nillable="true" minOccurs="0" />
        <xs:element name="driver" type="xs:anyType" />
        <xs:element name="logger" type="logservice" nillable="true" minOccurs="0" />
        <xs:element name="isdev" type="xs:anyType" />
        <xs:element name="operationtimeout" type="xs:long" />
        <xs:element name="screenshootpath" type="xs:string" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processstatusrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bajabot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="baja" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="altabot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="alta" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultaaltascccbot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="consultaaltasccc" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultatabot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="consultata" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultaipfbot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="consultaipf" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultanafbot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="consultanaf" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cambiocontratoconsolidadobot" >
      <xs:complexContent>
       <xs:extension base="basebot">
         <xs:sequence>
          <xs:element name="op" type="cambiocontratoconsolidado" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logservice" >
      <xs:sequence>
        <xs:element name="emailsender" type="xs:anyType" />
        <xs:element name="GeneratedName" type="logrepository" nillable="true" minOccurs="0" />
        <xs:element name="activeprofile" type="xs:string" />
        <xs:element name="mailnotifierlist" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<log,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="log" >
      <xs:sequence>
        <xs:element name="objectid" type="xs:long" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="level" type="loglevel" nillable="true" minOccurs="0" />
        <xs:element name="date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loglevel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
        <xs:element name="logger" type="logservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="migrationconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ssurls" >
      <xs:sequence>
        <xs:element name="/**baseurl*/test_status_url" type="xs:string" />
        <xs:element name="base_url" type="xs:string" />
        <xs:element name="/**altabot*/alta" type="xs:string" />
        <xs:element name="/**baja*/baja" type="xs:string" />
        <xs:element name="/**anulaci贸naltaprevia*/anulacion_alta_previa" type="xs:string" />
        <xs:element name="/**anulaci贸naltaconsolidada*/anulacion_alta_consolidada" type="xs:string" />
        <xs:element name="/**anulaci贸nbajaprevia*/anulacion_baja_previa" type="xs:string" />
        <xs:element name="/**anulaci贸nbajaconsolidada*/anulacion_baja_consolidada" type="xs:string" />
        <xs:element name="/**cambiodecontrato*/cambio_contrato_consolidado" type="xs:string" />
        <xs:element name="cambio_contrato_previo" type="xs:string" />
        <xs:element name="/**consultaripfpornaf*/consulta_ipf" type="xs:string" />
        <xs:element name="/**consultarnafporipf*/consulta_naf" type="xs:string" />
        <xs:element name="/**consultarafiliadosactualmente*/consulta_altas_ccc" type="xs:string" />
        <xs:element name="/**duplicadosdeta*/consulta_ta" type="xs:string" />
        <xs:element name="/**consultadealtacontralaseguridadsocial*/consulta_alta" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anulacionbajaconsolidada" >
      <xs:complexContent>
       <xs:extension base="operation">
         <xs:sequence>
          <xs:element name="cca" type="contractaccount" nillable="true" minOccurs="0" />
          <xs:element name="naf" type="xs:string" />
          <xs:element name="ipf" type="xs:string" />
          <xs:element name="ipt" type="xs:string" />
          <xs:element name="frb" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="processstatus" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultanaf" >
      <xs:complexContent>
       <xs:extension base="consulta">
         <xs:sequence>
          <xs:element name="ipf" type="xs:string" />
          <xs:element name="ipt" type="xs:string" />
          <xs:element name="ap1" type="xs:string" />
          <xs:element name="ap2" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anulacionaltaprevia" >
      <xs:complexContent>
       <xs:extension base="operation">
         <xs:sequence>
          <xs:element name="cca" type="contractaccount" nillable="true" minOccurs="0" />
          <xs:element name="naf" type="xs:string" />
          <xs:element name="fra" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contracttype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaipf" >
      <xs:complexContent>
       <xs:extension base="consulta">
         <xs:sequence>
          <xs:element name="naf" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="processtype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contractkey" >
      <xs:sequence>
        <xs:element name="ckey" type="xs:long" />
        <xs:element name="type" type="contracttype" nillable="true" minOccurs="0" />
        <xs:element name="timetype" type="contracttimetype" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contractcoefficient" >
      <xs:sequence>
        <xs:element name="coefficient" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alta" >
      <xs:complexContent>
       <xs:extension base="operation">
         <xs:sequence>
          <xs:element name="cca" type="contractaccount" nillable="true" minOccurs="0" />
          <xs:element name="//esteesunnuevocambionaf" type="xs:string" />
          <xs:element name="ipf" type="xs:string" />
          <xs:element name="ipt" type="xs:string" />
          <xs:element name="fra" type="xs:anyType" />
          <xs:element name="gco" type="xs:string" />
          <xs:element name="sit" type="xs:string" />
          <xs:element name="tco" type="contractkey" nillable="true" minOccurs="0" />
          <xs:element name="coe" type="contractcoefficient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consulta" >
      <xs:complexContent>
       <xs:extension base="operation">
         <xs:sequence>
          <xs:element name="data" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultaaltasccc" >
      <xs:complexContent>
       <xs:extension base="consulta">
         <xs:sequence>
          <xs:element name="cca" type="contractaccount" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anulacionaltaconsolidada" >
      <xs:complexContent>
       <xs:extension base="operation">
         <xs:sequence>
          <xs:element name="cca" type="contractaccount" nillable="true" minOccurs="0" />
          <xs:element name="naf" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anulacionbajaprevia" >
      <xs:complexContent>
       <xs:extension base="operation">
         <xs:sequence>
          <xs:element name="cca" type="contractaccount" nillable="true" minOccurs="0" />
          <xs:element name="naf" type="xs:string" />
          <xs:element name="frb" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultata" >
      <xs:complexContent>
       <xs:extension base="consulta">
         <xs:sequence>
          <xs:element name="cca" type="contractaccount" nillable="true" minOccurs="0" />
          <xs:element name="naf" type="xs:string" />
          <xs:element name="frc" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultaalta" >
      <xs:complexContent>
       <xs:extension base="consulta">
         <xs:sequence>
          <xs:element name="cca" type="contractaccount" nillable="true" minOccurs="0" />
          <xs:element name="naf" type="xs:string" />
          <xs:element name="frc" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queue" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dateadded" type="xs:anyType" />
        <xs:element name="refid" type="xs:long" />
        <xs:element name="GeneratedName" type="processtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cambiocontratoconsolidado" >
      <xs:complexContent>
       <xs:extension base="operation">
         <xs:sequence>
          <xs:element name="cca" type="contractaccount" nillable="true" minOccurs="0" />
          <xs:element name="naf" type="xs:string" />
          <xs:element name="ipf" type="xs:string" />
          <xs:element name="ipt" type="xs:string" />
          <xs:element name="tco" type="contractkey" nillable="true" minOccurs="0" />
          <xs:element name="frc" type="xs:anyType" />
          <xs:element name="coe" type="contractcoefficient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contractaccount" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="ccc" type="xs:string" />
        <xs:element name="reg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cambiocontratoprevio" >
      <xs:complexContent>
       <xs:extension base="operation">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="operation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dateprocessed" type="xs:anyType" />
        <xs:element name="dateinit" type="xs:anyType" />
        <xs:element name="errmsg" type="xs:string" />
        <xs:element name="processtime" type="xs:long" />
        <xs:element name="callback_url" type="xs:string" />
        <xs:element name="status" type="processstatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contracttimetype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="timetype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baja" >
      <xs:complexContent>
       <xs:extension base="operation">
         <xs:sequence>
          <xs:element name="cca" type="contractaccount" nillable="true" minOccurs="0" />
          <xs:element name="naf" type="xs:string" />
          <xs:element name="ipf" type="xs:string" />
          <xs:element name="ipt" type="xs:string" />
          <xs:element name="frb" type="xs:anyType" />
          <xs:element name="ffv" type="xs:anyType" />
          <xs:element name="gco" type="xs:long" />
          <xs:element name="sit" type="xs:string" />
          <xs:element name="tco" type="contractkey" nillable="true" minOccurs="0" />
          <xs:element name="coe" type="contractcoefficient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queueservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="processstatusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="altarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bajarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="anulacionaltaconsolidadarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="anulacionbajaconsolidadarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="anulacionbajapreviarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="anulacionaltapreviarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cambiocontratoconsolidadorepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cambiocontratopreviorepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="consultaaltarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="consultaaltascccrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="consultaipfrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="consultanafrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="consultatarepository" nillable="true" minOccurs="0" />
        <xs:element name="logger" type="logservice" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cambiocontratoconsolidadorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<cambiocontratoconsolidado,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queuerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<queue,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statusrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<processstatus,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultanafrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<consultanaf,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="processtyperepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<processtype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultaaltarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<consultaalta,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cambiocontratopreviorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<cambiocontratoprevio,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anulacionbajapreviarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<anulacionbajaprevia,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anulacionaltaconsolidadarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<anulacionaltaconsolidada,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contractkeyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<contractkey,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultaipfrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<consultaipf,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anulacionbajaconsolidadarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<anulacionbajaconsolidada,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="processstatusrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<processstatus,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="altarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<alta,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anulacionaltapreviarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<anulacionaltaprevia,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultaaltascccrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<consultaaltasccc,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="operationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<operation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bajarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<baja,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultatarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<consultata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contractcoefficientrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<contractcoefficient,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contractaccountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<contractaccount,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queuemanager" >
      <xs:sequence>
        <xs:element name="logger" type="logservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processstatusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="operationtimeout" type="xs:long" />
        <xs:element name="screenshootpath" type="xs:string" />
        <xs:element name="envprofile" type="xs:string" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cambiocontratoconsolidadorest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cambiocontratoconsolidadorepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="contractkeyrepository" nillable="true" minOccurs="0" />
        <xs:element name="contractcoerepository" type="contractcoefficientrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="contractaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="altarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bajarest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contractkeyrepository" nillable="true" minOccurs="0" />
        <xs:element name="contractcoerepository" type="contractcoefficientrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="contractaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bajarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultrest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anulacionaltaconsolidadarest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contractkeyrepository" nillable="true" minOccurs="0" />
        <xs:element name="contractcoerepository" type="contractcoefficientrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="contractaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="anulacionaltaconsolidadarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restresponse" >
      <xs:sequence>
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultanafrest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="consultanafrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anulacionbajaconsolidadarest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contractaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="anulacionbajaconsolidadarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="botrest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anulacionbajapreviarest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contractaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="anulacionbajapreviarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaaltarest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="consultaaltarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="contractaccountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaaltascccrest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="consultaaltascccrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="contractaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaipfrest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="consultaipfrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultatarest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="consultatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="contractaccountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anulacionaltapreviarest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contractkeyrepository" nillable="true" minOccurs="0" />
        <xs:element name="contractcoerepository" type="contractcoefficientrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="contractaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="anulacionaltapreviarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="altarest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contractkeyrepository" nillable="true" minOccurs="0" />
        <xs:element name="contractcoerepository" type="contractcoefficientrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="contractaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="altarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queuerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="queueservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 