mpaas18/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="golangversionrestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scripttaskrestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scriptconfig" >
      <xs:sequence>
        <xs:element name="/***注入hibernate处理接口*/hibernatebuilder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commandrestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javaversionrestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scriptrestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pythonversionentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***脚本版本*一般为python脚本的指定版本号*/name" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="golangversionentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***脚本版本*一般为python脚本的指定版本号*/name" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scripttaskentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scriptentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***名称*/name" type="xs:string" />
        <xs:element name="/***脚本内容*/content" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***描述*/description" type="xs:string" />
        <xs:element name="/***状态*/status" type="xs:long" />
        <xs:element name="/***脚本类型*0：shell*1：python*2：golang*3：java*/type" type="xs:long" />
        <xs:element name="golangversionid" type="xs:string" />
        <xs:element name="GeneratedName" type="golangversionentity" nillable="true" minOccurs="0" />
        <xs:element name="/***脚本版本*一般为python脚本的指定版本号*///@length(max" type="xs:string" />
        <xs:element name="GeneratedName" type="pythonversionentity" nillable="true" minOccurs="0" />
        <xs:element name="javaversionid" type="xs:string" />
        <xs:element name="GeneratedName" type="javaversionentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javaversionentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***脚本版本*一般为java脚本的指定版本号*/name" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***jdk类型*true为jdk*false为openjdk*/type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commandentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***状态*/status" type="xs:long" />
        <xs:element name="/***脚本版本*一般为python脚本的指定版本号*/name" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***脚本内容*/content" type="xs:string" />
        <xs:element name="/***描述*/description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pythonversionrestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 