onlinevotingsystem/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="electionofficer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="voters" type="registeredsocietyvoters" nillable="true" minOccurs="0" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="mobileno" type="xs:long" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="pincode" type="xs:long" />
        <xs:element name="//@onetomany(mappedby" type="nominatedcandidate" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="voter" type="registeredsocietyvoters" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="votedlist" >
      <xs:sequence>
        <xs:element name="//serialno.id" type="xs:long" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="//@column(name" type="registeredsocietyvoters" nillable="true" minOccurs="0" />
        <xs:element name="society" type="cooperativesociety" nillable="true" minOccurs="0" />
        <xs:element name="candidates" type="nominatedcandidate" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nominatedcandidate" >
      <xs:sequence>
        <xs:element name="//@onetoone(targetentity" type="xs:long" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registeredsocietyvoters" >
      <xs:sequence>
        <xs:element name="voterid" type="xs:anyType" />
        <xs:element name="voteridcardno" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="reservationcategory" type="xs:string" />
        <xs:element name="mobileno" type="xs:string" />
        <xs:element name="emailid" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="mandal" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="//@size(min" type="xs:anyType" />
        <xs:element name="castedvote" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="electionresult" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//@size(min" type="xs:string" />
        <xs:element name="//@size(min" type="xs:string" />
        <xs:element name="societyname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="totalsocietyvotes" type="xs:anyType" />
        <xs:element name="totalpolledvotes" type="xs:anyType" />
        <xs:element name="totalpollingpercentage" type="xs:double" />
        <xs:element name="totalcandidatesvotes" type="xs:anyType" />
        <xs:element name="candidatevotespercentage" type="xs:double" />
        <xs:element name="result" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cooperativesociety" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="societyname" type="xs:string" />
        <xs:element name="headofsociety" type="xs:string" />
        <xs:element name="village" type="xs:string" />
        <xs:element name="mandal" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="pincode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="contactno" type="xs:string" />
        <xs:element name="GeneratedName" type="nominatedcandidate" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="electionresult" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 