mpaas14/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webssh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webssh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshserverrestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sshconfig" >
      <xs:sequence>
        <xs:element name="/***注入模块接口*/module" type="xs:anyType" />
        <xs:element name="/***注入hibernate处理接口*/hibernatebuilder" type="xs:anyType" />
        <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshgrouprestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sshregionrestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sshsocket" >
      <xs:sequence>
        <xs:element name="convertercontainer" type="xs:anyType" />
        <xs:element name="toobjectconverter" type="xs:anyType" />
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
        <xs:element name="module" type="xs:anyType" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="//静态变量，用来记录当前在线连接数。应该把它设计成线程安全的。onlinecount" type="xs:long" />
        <xs:element name="/***发送指令：连接*/operate_connect" type="xs:string" />
        <xs:element name="/***发送指令：命令*/operate_command" type="xs:string" />
        <xs:element name="//线程池" type="xs:anyType" />
        <xs:element name="//存放ssh连接信息connectioninfo" type="sshclientconnectioninfo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshclientconnectioninfo" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="socket" type="sshsocket" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshclientdata" >
      <xs:sequence>
        <xs:element name="operate" type="xs:string" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="command" type="xs:string" />
        <xs:element name="version" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="host" type="xs:string" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="timeout" type="xs:long" />
        <xs:element name="channeltimeout" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshsocketencoder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshsocketdecoder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshaccountrestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sshtyperestcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="/***注入id生成接口*/generator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sshgroupentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***名称*/name" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***状态*/status" type="xs:long" />
        <xs:element name="/***描述*/description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshtypeentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***类型*/name" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***状态*/status" type="xs:long" />
        <xs:element name="/***描述*/description" type="xs:string" />
        <xs:element name="/***版本*/version" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshregionentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***名称*/name" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***状态*/status" type="xs:long" />
        <xs:element name="/***描述*/description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshserverentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***组id*/groupid" type="xs:string" />
        <xs:element name="/***组关联*/groupentity" type="sshgroupentity" nillable="true" minOccurs="0" />
        <xs:element name="typeid" type="xs:string" />
        <xs:element name="typeentity" type="sshtypeentity" nillable="true" minOccurs="0" />
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="accountentity" type="sshaccountentity" nillable="true" minOccurs="0" />
        <xs:element name="/***区域关联*/regionentity" type="sshregionentity" nillable="true" minOccurs="0" />
        <xs:element name="/***区域id*/regionid" type="xs:string" />
        <xs:element name="/***名称*/name" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***状态*/status" type="xs:long" />
        <xs:element name="/***主机地址，ip地址或域名*/hostname" type="xs:string" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="remotedirectory" type="xs:string" />
        <xs:element name="timeout" type="xs:long" />
        <xs:element name="channeltimeout" type="xs:long" />
        <xs:element name="/***描述*/description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshaccountentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="/***名称*/name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***状态*/status" type="xs:long" />
        <xs:element name="root" type="xs:anyType" />
        <xs:element name="/***描述*/description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 