spring-boot-demos5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="demoapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="liquibase-gendb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-gendb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="liquibase-dev" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changelog_20190417190450.postgresql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="000_init" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changelog_20190416222423.postgresql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changelog_20190416214705.postgresql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db.changelog-master" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hello" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="greeting" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 