spring_jsp_war/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="messages_es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constantes" >
      <xs:sequence>
        <xs:element name="url_home" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginsuccesshandler" >
      <xs:complexContent>
       <xs:extension base="simpleurlauthenticationsuccesshandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="indexcontroller" >
      <xs:sequence>
        <xs:element name="autorservice" type="iautorservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorhandlercontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="editorialcontroller" >
      <xs:sequence>
        <xs:element name="editorialservice" type="ieditorialservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="librocontroller" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="libroservice" type="ilibroservice" nillable="true" minOccurs="0" />
          <xs:element name="autorservice" type="iautorservice" nillable="true" minOccurs="0" />
          <xs:element name="editorialservice" type="ieditorialservice" nillable="true" minOccurs="0" />
          <xs:element name="root_path_files" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iautorservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ieditorialservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autorserviceimpl" >
      <xs:sequence>
        <xs:element name="autorrepository" type="iautorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ilibroservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="libroserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="librorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="editorialserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="editorialrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpauserdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="usuariorepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjspwarapplication" >
      <xs:sequence>
        <xs:element name="passwordencoder" type="xs:anyType" />
        <xs:element name="usuario2repository" type="usuarios2repository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="perfilesrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="successhandler" type="loginsuccesshandler" nillable="true" minOccurs="0" />
          <xs:element name="passwordencoder" type="xs:anyType" />
          <xs:element name="" type="jpauserdetailsservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iuploadfilesservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autorrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autorrepositorypruebaimpl" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="listaautores" type="autor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuarios2repository" >
      <xs:complexContent>
       <xs:extension base="jparepository<usuario2,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="perfilesrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<perfil,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iautorrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<autor,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="librorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<libro,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usuariorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<usuario,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="editorialrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<editorial,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="editorial" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="ideditorial" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="pais" type="xs:string" />
        <xs:element name="libros" type="libro" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autorherencia" >
      <xs:complexContent>
       <xs:extension base="personaherencia">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="idautor" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personaherencia" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//@id//@generatedvalue(strategy" type="xs:long" />
        <xs:element name="//@column(nullable" type="xs:string" />
        <xs:element name="primerapellido" type="xs:string" />
        <xs:element name="segundoapellido" type="xs:string" />
        <xs:element name="//@temporal(temporaltype.)fechanacimiento" type="xs:dateTime" />
        <xs:element name="lugarnacimiento" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="user_id" type="xs:long" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="libro" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idlibro" type="xs:anyType" />
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="GeneratedName" type="editorial" nillable="true" minOccurs="0" />
        <xs:element name="portada" type="xs:string" />
        <xs:element name="GeneratedName" type="autor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autor" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idautor" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="primerapellido" type="xs:string" />
        <xs:element name="segundoapellido" type="xs:string" />
        <xs:element name="fechanacimiento" type="xs:dateTime" />
        <xs:element name="lugarnacimiento" type="xs:string" />
        <xs:element name="libros" type="libro" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuario" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuario2" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idusuario2" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="estatus" type="xs:string" />
        <xs:element name="fecharegistro" type="xs:dateTime" />
        <xs:element name="perfiles" type="perfil" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="perfil" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idperfil" type="xs:anyType" />
        <xs:element name="perfil" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="directorherencia" >
      <xs:complexContent>
       <xs:extension base="personaherencia">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="iddirector" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autorlistjsonview" >
      <xs:complexContent>
       <xs:extension base="mappingjackson2jsonview">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autormodel" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="primerapellido" type="xs:string" />
        <xs:element name="segundoapellido" type="xs:string" />
        <xs:element name="lugarnacimiento" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="libromodel" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="autor" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="librofilter" >
      <xs:sequence>
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="autor" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mvcconfig" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="path_resource_locations" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tiempotranscurridointerceptor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.min.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nuevo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formeditorial" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detalleeditorial" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexeditoriales" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="init" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detalle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detallelibro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formlibro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexlibros" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjspwarapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 