iokays-love/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.hotkeys" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spinning" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fixed-width" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bordered-pulled" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stacked" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rotated-flipped" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="larger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="core" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="build" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columns" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homepages" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="404" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meta" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="velocity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="top" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="columnservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="homepageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="articleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basefile" >
      <xs:complexContent>
       <xs:extension base="identity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//文件名，为36位uuidname" type="xs:string" />
          <xs:element name="//文件md5码md5" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columnrepositoryimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columnrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<column,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columnrepositoryplus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="column" >
      <xs:complexContent>
       <xs:extension base="identity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//栏目名称name" type="xs:string" />
          <xs:element name="//栏目级别" type="xs:anyType" />
          <xs:element name="//父级栏目parent" type="column" nillable="true" minOccurs="0" />
          <xs:element name="//子级栏目children" type="column" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="//包含文章articles" type="article" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="//排序sort" type="xs:anyType" />
          <xs:element name="//描述description" type="xs:string" />
          <xs:element name="//模版template" type="xs:string" />
          <xs:element name="//标识marking" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="columnservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="templateservice" nillable="true" minOccurs="0" />
        <xs:element name="_columndir" type="xs:string" />
        <xs:element name="_columntempdir" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columnservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columnserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="columnrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//保存路径_articledir" type="xs:string" />
        <xs:element name="//保存路径_articletempdir" type="xs:string" />
        <xs:element name="GeneratedName" type="articleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="columnservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="templateservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="article" >
      <xs:complexContent>
       <xs:extension base="identity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//标题title" type="xs:string" />
          <xs:element name="content" type="xs:anyType" />
          <xs:element name="//所属标题" type="column" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="articleserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="articlerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<article,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="articlerepositoryplus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlerepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homepage" >
      <xs:complexContent>
       <xs:extension base="identity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//名称name" type="xs:string" />
          <xs:element name="//指向target" type="xs:string" />
          <xs:element name="//排序sort" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="homepageserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="homepagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homepageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homepagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<homepage,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="homepagerepositoryplus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homepagerepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homepagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="homepageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="templateservice" nillable="true" minOccurs="0" />
        <xs:element name="//保存路径_homedir" type="xs:string" />
        <xs:element name="//保存临时路径_hometempdir" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="//默认排序规则create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileupload" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columnservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="columnservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlerepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articlerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="columnrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="velocitytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articleservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="templateservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="columnservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 