iokays-love/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="basefile" >
      <xs:complexContent>
       <xs:extension base="identity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//文件名，为36位uuidname" type="xs:string" />
          <xs:element name="//文件md5码md5" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="column" >
      <xs:complexContent>
       <xs:extension base="identity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//栏目名称name" type="xs:string" />
          <xs:element name="//栏目级别" type="xs:anyType" />
          <xs:element name="//父级栏目parent" type="column" nillable="true" minOccurs="0" />
          <xs:element name="//子级栏目children" type="column" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="//包含文章articles" type="article" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="//排序sort" type="xs:anyType" />
          <xs:element name="//描述description" type="xs:string" />
          <xs:element name="//模版template" type="xs:string" />
          <xs:element name="//标识marking" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="article" >
      <xs:complexContent>
       <xs:extension base="identity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//标题title" type="xs:string" />
          <xs:element name="content" type="xs:anyType" />
          <xs:element name="//所属标题" type="column" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="homepage" >
      <xs:complexContent>
       <xs:extension base="identity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//名称name" type="xs:string" />
          <xs:element name="//指向target" type="xs:string" />
          <xs:element name="//排序sort" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 