s2container319/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jobtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="/***識別子です。*/id" type="xs:anyType" />
        <xs:element name="/***名前です。*/name" type="xs:string" />
        <xs:element name="/***従業員です。*/" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="/***バージョンです。*/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***識別子です。*/id" type="xs:anyType" />
        <xs:element name="/***名前です。*/name" type="xs:string" />
        <xs:element name="/***仕事のタイプです。*/" type="jobtype" nillable="true" minOccurs="0" />
        <xs:element name="/***給与です。*/salary" type="xs:anyType" />
        <xs:element name="/***部署の識別子です。*/departmentid" type="xs:anyType" />
        <xs:element name="/***部署です。*/" type="department" nillable="true" minOccurs="0" />
        <xs:element name="/***住所の識別子です。*/addressid" type="xs:anyType" />
        <xs:element name="/***住所です。*/" type="address" nillable="true" minOccurs="0" />
        <xs:element name="/***バージョンです。*/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="/***識別子です。*/id" type="xs:anyType" />
        <xs:element name="/***名前です。*/name" type="xs:string" />
        <xs:element name="/***従業員のリストです。*/employeelist" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***バージョンです。*/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectwithdepartmentdto" >
      <xs:sequence>
        <xs:element name="/***給料の最小値です。*/salarymin" type="xs:anyType" />
        <xs:element name="/***給料の最大値です。*/salarymax" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedto" >
      <xs:complexContent>
       <xs:extension base="employee">
         <xs:sequence>
          <xs:element name="/***部署名です。*/departmentname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2container" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convention" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectwithdepartment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="env" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="env_ut" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlmaptest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="label_value" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderbytest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jointest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getresultlisttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getcounttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlgetresultlisttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="select_employee_dto" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simplewheretest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inserttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getsingleresulttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlgetsingleresulttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="select_count" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pagingtest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlfiletest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="sql_file" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iteratetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="typestrategytest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 