property/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="configuration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codelabelserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="codelabelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codelabelservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codelabelmapper" >
      <xs:sequence>
        <xs:element name="instance" type="codelabelmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codelabelentityid" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codelabelentity" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codelabelrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<codelabelentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codelabelrestserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="codelabelservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codelabel" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 