property/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="codelabelentity" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 