Pavan-Java-11/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="hibernatecustomgeneratorapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="depositcontroller" >
      <xs:sequence>
        <xs:element name="depositrepo" type="depositrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customegenerator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deposit" >
      <xs:sequence>
        <xs:element name="custid" type="xs:long" />
        <xs:element name="custname" type="xs:string" />
        <xs:element name="depositmoney" type="xs:double" />
        <xs:element name="creation" type="xs:dateTime" />
        <xs:element name="updation" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatecustomgeneratorapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="depositrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<deposit,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 