kuali-rice-12/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="notetypetest" >
      <xs:sequence>
        <xs:element name="dummy" type="notetype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistableattachmentbasetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="persistableattachmentbase" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="urlfactorytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagemaptest" >
      <xs:sequence>
        <xs:element name="mixed_list_pattern" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanpropertycomparatortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersession" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="backdooruser" type="xs:anyType" />
        <xs:element name="nextobjectkey" type="xs:long" />
        <xs:element name="objectmap" type="xs:anyType" />
        <xs:element name="kualisessionid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valuefinder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyvaluesbase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyvaluesfinderfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyvaluesfinder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorizationconstants" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businessobjectauthorizer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmlobjectserializerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serializerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attachmentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyvaluesservice" >
      <xs:complexContent>
       <xs:extension base="businessobject>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="businessobjectservice" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobject>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inactivateablefromtoservice" >
      <xs:complexContent>
       <xs:extension base="inactivatablefromto>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencestructureservice" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectextension>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kradservicelocator" >
      <xs:sequence>
        <xs:element name="attachment_service" type="xs:string" />
        <xs:element name="persistence_service" type="xs:string" />
        <xs:element name="persistence_structure_service" type="xs:string" />
        <xs:element name="note_service" type="xs:string" />
        <xs:element name="business_object_service" type="xs:string" />
        <xs:element name="kuali_configuration_service" type="xs:string" />
        <xs:element name="entity_manager_factory" type="xs:string" />
        <xs:element name="application_entity_manager_factory" type="xs:string" />
        <xs:element name="xml_object_serializer_service" type="xs:string" />
        <xs:element name="serializer_service" type="xs:string" />
        <xs:element name="sequence_accessor_service" type="xs:string" />
        <xs:element name="key_values_service" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businessobjectserializerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagemap" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="errorpath" type="xs:anyType" />
        <xs:element name="errormessages" type="xs:anyType" />
        <xs:element name="warningmessages" type="xs:anyType" />
        <xs:element name="infomessages" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionticket" >
      <xs:sequence>
        <xs:element name="tickettypename" type="xs:string" />
        <xs:element name="ticketcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanpropertycomparator" >
      <xs:complexContent>
       <xs:extension base="kualiexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="ignorecase" type="xs:anyType" />
          <xs:element name="propertynames" type="xs:anyType" />
          <xs:element name="string" type="xs:anyType" />
          <xs:element name="boolean" type="xs:anyType" />
          <xs:element name="generic" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="externalizablebusinessobjectutils" >
      <xs:complexContent>
       <xs:extension base="{@link">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foreignkeyfieldspopulationstate" >
      <xs:sequence>
        <xs:element name="allfieldspopulated" type="xs:anyType" />
        <xs:element name="anyfieldspopulated" type="xs:anyType" />
        <xs:element name="unpopulatedfieldnames" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errormessage" >
      <xs:sequence>
        <xs:element name="errorkey" type="xs:string" />
        <xs:element name="messageparameters" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="urlfactory" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="/***createsanewurlbytakingthegivenurlandappendingtheparameternamesandvaluesfromthegivenpropertiesinstanceto*it.note:parameternamesmustbenon-blankparametervaluesmustbenon-null.**@parambaseurltheurlstringusedasthebasisforreconstruction*@paramparamspropertiesinstancecontainingthedesiredparametersandtheirvalues*@throwsillegalargumentexceptionifthegivenurlisnullorempty*@throwsillegalargumentexceptionifthegivenpropertiesinstanceisnull*@throwsillegalargumentexceptionifaparameternameisnullorempty,oraparametervalueisnull*@throwsruntimeexceptionifthereisaproblemencodingaparameternameorvalueintoutf-8*@returnanewly-constructedurlstringwhichhasthegivenparametersandtheirvaluesappendedtoit*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringvaluecomparator" >
      <xs:sequence>
        <xs:element name="instance" type="stringvaluecomparator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temporalvaluecomparator" >
      <xs:sequence>
        <xs:element name="theinstance" type="temporalvaluecomparator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericvaluecomparator" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="theinstance" type="numericvaluecomparator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportnotsupportedexception" >
      <xs:complexContent>
       <xs:extension base="workflowruntimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classnotpersistableexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="validationexception" >
      <xs:complexContent>
       <xs:extension base="norollbackruntimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessimisticlockingexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="duplicatekeyexception" >
      <xs:complexContent>
       <xs:extension base="kualiexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unknowndocumentidexception" >
      <xs:complexContent>
       <xs:extension base="kualiexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="documenttypeauthorizationexception" >
      <xs:complexContent>
       <xs:extension base="authorizationexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="documentauthorizationexception" >
      <xs:complexContent>
       <xs:extension base="authorizationexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objectnotabusinessobjectruntimeexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorizationexception" >
      <xs:complexContent>
       <xs:extension base="kualiexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="userid" type="xs:string" />
          <xs:element name="action" type="xs:string" />
          <xs:element name="targettype" type="xs:string" />
          <xs:element name="additionaldetails" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ricepersistenceunitpostprocessor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="krad_application_persistence_unit_name" type="xs:string" />
        <xs:element name="krad_server_persistence_unit_name" type="xs:string" />
        <xs:element name="jta" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ricetonervoussystembusinessobjectclassexposer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobjectclassexposer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kradpersistablebusinessobjectclassexposer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="packagepersistablebusinessobjectclassexposer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="riceentitymanagerproxyfactorybean" >
      <xs:sequence>
        <xs:element name="factorybean" type="ricelocalcontainerentitymanagerfactorybean" nillable="true" minOccurs="0" />
        <xs:element name="prefix" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="modulejpaenabledpropertyprefix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ricelocalcontainerentitymanagerfactorybean" >
      <xs:complexContent>
       <xs:extension base="localcontainerentitymanagerfactorybean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="globalbusinessobject" >
      <xs:complexContent>
       <xs:extension base="globalbusinessobjectdetail>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="globalbusinessobjectdetailbase" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="documentnumber" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobjectbase" >
      <xs:complexContent>
       <xs:extension base="businessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="versionnumber" type="xs:long" />
          <xs:element name="objectid" type="xs:string" />
          <xs:element name="newcollectionrecord" type="xs:anyType" />
          <xs:element name="extension" type="persistablebusinessobjectextension" nillable="true" minOccurs="0" />
          <xs:element name="transient" type="persistenceservice" nillable="true" minOccurs="0" />
          <xs:element name="transient" type="persistencestructureservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transientbusinessobjectbase" >
      <xs:complexContent>
       <xs:extension base="businessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataobjectrelationship" >
      <xs:sequence>
        <xs:element name="relatedclass" type="xs:anyType" />
        <xs:element name="parentclass" type="xs:anyType" />
        <xs:element name="parentattributename" type="xs:string" />
        <xs:element name="uservisibleidentifierkey" type="xs:string" />
        <xs:element name="parenttochildreferences" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adhocroutepersonid" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="actionrequested" type="xs:string" />
        <xs:element name="id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobjectextensionbase" >
      <xs:complexContent>
       <xs:extension base="		persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistableattachmentbase" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="attachmentcontent" type="xs:anyType" />
          <xs:element name="filename" type="xs:string" />
          <xs:element name="contenttype" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multiplevaluelookupmetadata" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="lookupresultssequencenumber" type="xs:string" />
          <xs:element name="lookuppersonid" type="xs:string" />
          <xs:element name="/***thetimethelookupdatawaspersisted,usedbyabatchpurgejob*///@transientlookupdate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobjectextension" >
      <xs:complexContent>
       <xs:extension base="		persistablebusinessobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inactivatablefromtoimpl" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="activefromdate" type="xs:anyType" />
          <xs:element name="activetodate" type="xs:anyType" />
          <xs:element name="activeasofdate" type="xs:anyType" />
          <xs:element name="current" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="selectedobjectids" >
      <xs:complexContent>
       <xs:extension base="multiplevaluelookupmetadata">
         <xs:sequence>
          <xs:element name="selectedobjectids" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adhocrouterecipient" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="actionrequestcds" type="xs:anyType" />
          <xs:element name="person_type" type="xs:anyType" />
          <xs:element name="workgroup_type" type="xs:anyType" />
          <xs:element name="type" type="xs:anyType" />
          <xs:element name="actionrequested" type="xs:string" />
          <xs:element name="//canbenetworkidorgroupidid" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="documentnumber" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attachment" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="noteidentifier" type="xs:long" />
          <xs:element name="attachmentmimetypecode" type="xs:string" />
          <xs:element name="attachmentfilename" type="xs:string" />
          <xs:element name="attachmentidentifier" type="xs:string" />
          <xs:element name="attachmentfilesize" type="xs:long" />
          <xs:element name="attachmenttypecode" type="xs:string" />
          <xs:element name="" type="note" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notetype" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="notetypecode" type="xs:string" />
          <xs:element name="notetypedescription" type="xs:string" />
          <xs:element name="notetypeactiveindicator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exporter" >
      <xs:complexContent>
       <xs:extension base="object>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="globalbusinessobjectdetail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobject" >
      <xs:complexContent>
       <xs:extension base="businessobject,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="businessobjectbase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="note" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="noteidentifier" type="xs:long" />
          <xs:element name="remoteobjectidentifier" type="xs:string" />
          <xs:element name="authoruniversalidentifier" type="xs:string" />
          <xs:element name="noteposted" type="xs:anyType" />
          <xs:element name="notetypecode" type="xs:string" />
          <xs:element name="notetext" type="xs:string" />
          <xs:element name="notetopictext" type="xs:string" />
          <xs:element name="notepurgecode" type="xs:string" />
          <xs:element name="attachmentidentifier" type="xs:string" />
          <xs:element name="" type="notetype" nillable="true" minOccurs="0" />
          <xs:element name="authoruniversal" type="xs:anyType" />
          <xs:element name="" type="attachment" nillable="true" minOccurs="0" />
          <xs:element name="" type="adhocrouterecipient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adhocrouteperson" >
      <xs:complexContent>
       <xs:extension base="adhocrouterecipient">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="transient" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistableattachment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kualicodebase" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//codeandnamewillbeoverriddenbycolumnannotationsintheirchildrenclassescode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessimisticlock" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="default_lock_descriptor" type="xs:string" />
          <xs:element name="//idissequencenumberandprimarykeyid" type="xs:long" />
          <xs:element name="ownedbyprincipalidentifier" type="xs:string" />
          <xs:element name="//thiswillbedefaultedtothevalueofdefault_lock_descriptorconstantabovelockdescriptor" type="xs:string" />
          <xs:element name="generated" type="xs:anyType" />
          <xs:element name="//foreignkeytodocumentdocumentnumber" type="xs:string" />
          <xs:element name="ownedbyuser" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 