javax8/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="car" >
      <xs:complexContent>
       <xs:extension base="vehicle">
         <xs:sequence>
          <xs:element name="model" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="" type="brand" nillable="true" minOccurs="0" />
          <xs:element name="owners" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 