-JAVA_JEE_1_714/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statelesssessionbean" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logrecord" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="record" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statelesssession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 