JavaSource2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mybatis-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_zh_cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iconfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coffee" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabledemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swiper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createtestdata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordutil" >
      <xs:sequence>
        <xs:element name="algorithm_name" type="xs:string" />
        <xs:element name="hash_iterations" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configutil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="configdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailtool" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jmstool" nillable="true" minOccurs="0" />
        <xs:element name="from" type="xs:string" />
        <xs:element name="mailsender" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xwjdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roles" >
      <xs:sequence>
        <xs:element name="admin" type="xs:string" />
        <xs:element name="normal_user" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roledao" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checkexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unloginexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="controlleraop" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logaop" >
      <xs:sequence>
        <xs:element name="json_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageresp" >
      <xs:sequence>
        <xs:element name="rows" type="xs:anyType" />
        <xs:element name="page" type="xs:long" />
        <xs:element name="pagesize" type="xs:long" />
        <xs:element name="total" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resultbean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="no_login" type="xs:long" />
        <xs:element name="success" type="xs:long" />
        <xs:element name="fail" type="xs:long" />
        <xs:element name="no_permission" type="xs:long" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="code" type="xs:long" />
        <xs:element name="daa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagereq" >
      <xs:sequence>
        <xs:element name="page" type="xs:long" />
        <xs:element name="pagesize" type="xs:long" />
        <xs:element name="sortfield" type="xs:string" />
        <xs:element name="sort" type="xs:string" />
        <xs:element name="keyword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***角色名称*/name" type="xs:string" />
          <xs:element name="/***角色描述*/comment" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="nick" type="xs:string" />
          <xs:element name="/***加密的盐*/salt" type="xs:string" />
          <xs:element name="/***密码*fixme注意任何时候不能返回到前台，必要时候安全相关字段放另外一个表*/password" type="xs:string" />
          <xs:element name="/***角色*/roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="spelutil" >
      <xs:sequence>
        <xs:element name="parser" type="xs:anyType" />
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userutil" >
      <xs:sequence>
        <xs:element name="tluser" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="tllocale" type="xs:anyType" />
        <xs:element name="key_lang" type="xs:string" />
        <xs:element name="key_user" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkutil" >
      <xs:sequence>
        <xs:element name="resources" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="staticfieldinjectionconfiguration" >
      <xs:sequence>
        <xs:element name="resources" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jmstool" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configdao" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<config,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name,description,value" type="xs:string" />
          <xs:element name="/***创建者*/creator" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="treenode" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="icon" type="xs:string" />
        <xs:element name="subnodes" type="treenode" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globalcorsconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clearcachetask" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cachenames" >
      <xs:sequence>
        <xs:element name="config" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logconst" >
      <xs:sequence>
        <xs:element name="/***操作*为了节省日志文件大小，这些常量可以使用单字母代替*/action_add" type="xs:string" />
        <xs:element name="action_delete" type="xs:string" />
        <xs:element name="action_update" type="xs:string" />
        <xs:element name="action_query" type="xs:string" />
        <xs:element name="/***对象类型*/item_type_blog" type="xs:string" />
        <xs:element name="item_type_favorite" type="xs:string" />
        <xs:element name="item_type_cache" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objtype" >
      <xs:sequence>
        <xs:element name="blog" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configservice" >
      <xs:sequence>
        <xs:element name="dao" type="configdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoritable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cachecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailcontrolller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mailtool" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="configservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jmstype" >
      <xs:sequence>
        <xs:element name="send_mail" type="xs:string" />
        <xs:element name="create" type="xs:string" />
        <xs:element name="delete" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jmsmailcomsumer" >
      <xs:sequence>
        <xs:element name="mailsender" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jmstool" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpalistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jmstool" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 