MicroServices2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="departmentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="departmentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentserviceapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="departmentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="departmentid" type="xs:long" />
        <xs:element name="departmentname" type="xs:string" />
        <xs:element name="departmentaddress" type="xs:string" />
        <xs:element name="departmentcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<department,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentserviceapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 