MicroServices2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="departmentid" type="xs:long" />
        <xs:element name="departmentname" type="xs:string" />
        <xs:element name="departmentaddress" type="xs:string" />
        <xs:element name="departmentcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 