springJpaKata/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="abstracthibtest" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ormstandalonetestcase" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagertestcase" >
      <xs:sequence>
        <xs:element name="unit_name" type="xs:string" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldataaccount" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaunittestcase" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractconcreteclazzhibtest" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractdatabasetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manytomanytestbi" >
      <xs:complexContent>
       <xs:extension base="ormstandalonetestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manytomanytest" >
      <xs:complexContent>
       <xs:extension base="ormstandalonetestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateutils" >
      <xs:sequence>
        <xs:element name="build" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testjpaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaconfigtest" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateserviceutils" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstracthibtest" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personlistenertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firstlevelcachetest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weapontest" >
      <xs:sequence>
        <xs:element name="repo" type="weaponrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weaponconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constructorresulttest" >
      <xs:sequence>
        <xs:element name="repo" type="constructorresultrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaperformancetransformertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customerrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaperformancen1test2" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customerrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldatacustomer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaperformanceoneconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaperformance1test" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customerrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manytoanyconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manytoanytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commenttest" >
      <xs:complexContent>
       <xs:extension base="ormstandalonetestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatoronetest" >
      <xs:complexContent>
       <xs:extension base="abstractgeneratortest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hilogeneratortest" >
      <xs:complexContent>
       <xs:extension base="abstractgeneratortest{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatoruuidtest" >
      <xs:complexContent>
       <xs:extension base="abstractgeneratortest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractgeneratortest" >
      <xs:complexContent>
       <xs:extension base="abstracthibtest{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tablegeneratortest" >
      <xs:complexContent>
       <xs:extension base="abstractgeneratortest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaassignedtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="assignedrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaassignedconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ormstandalonetestcase" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="one2manytest" >
      <xs:complexContent>
       <xs:extension base="ormstandalonetestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="many2onetabletest" >
      <xs:complexContent>
       <xs:extension base="ormstandalonemany2onetestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ormstandalonemany2onetestcase" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ormstandalonetestcase" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="many2onetest" >
      <xs:complexContent>
       <xs:extension base="ormstandalonetestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testjsimpleconfig" >
      <xs:sequence>
        <xs:element name="orginalds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testjpaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testjpapersonconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personrepotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourcetest" >
      <xs:sequence>
        <xs:element name="datasource" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proxydsconfig" >
      <xs:complexContent>
       <xs:extension base="defaultquerylogentrycreator">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="proxydstest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="one2onenormaltest" >
      <xs:complexContent>
       <xs:extension base="ormstandaloneclasstestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ormstandaloneclasstestcase" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="one2oneprimarytest" >
      <xs:complexContent>
       <xs:extension base="ormstandaloneclasstestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ormstandaloneclasstestcase" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="one2oneordinarytest" >
      <xs:complexContent>
       <xs:extension base="ormstandaloneclasstestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ormstandaloneclasstestcase" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="one2onebitabletest2" >
      <xs:complexContent>
       <xs:extension base="ormstandaloneclasstestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="one2onebitabletest" >
      <xs:complexContent>
       <xs:extension base="ormstandaloneclasstestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ormstandaloneclasstestcase" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ormstandaloneclasstestcase" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="one2onejointabletest" >
      <xs:complexContent>
       <xs:extension base="ormstandaloneclasstestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personmetamodeltest" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapkeytest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="countryrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpamapconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpausermapconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapkeytest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="usermaprepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapsimpletest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="persondeptrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="departmentrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpamapconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bid" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="account" type="xs:anyType" />
          <xs:element name="" type="item" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="bids" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpamapconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maptest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="repo" type="maprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapcollectiontest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bookstorerepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookstoremapcollectionconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selfcategorytest" >
      <xs:sequence>
        <xs:element name="repo" type="selfcategoryrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selfreferencetest" >
      <xs:sequence>
        <xs:element name="employeerepo" type="employeerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testselectorconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpqlbyexampletest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="companyrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpajpqlconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldatajpql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpqltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="companyrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="deptrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeerepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldatan1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="n1test" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="skillrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="candidaterepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpajn1config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="saveemtest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpafetchtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="addressrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpafetchconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldataaccount" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpasaveconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="savetest" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpafetchconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldataaccount" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proxytest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testselectorconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="one2manybitest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="addressrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpafilterconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filtertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldataaccount" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpanativeconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpanativetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="addressrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validationpersontest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="perclasstableconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="perclasstabletest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="detailproductrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="stockproductrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappedtableconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappedtabletest" >
      <xs:sequence>
        <xs:element name="creditrepo" type="creditaccoutrepo" nillable="true" minOccurs="0" />
        <xs:element name="debitrepo" type="debitaccountrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joinedtabletest" >
      <xs:sequence>
        <xs:element name="repo" type="accountrepo" nillable="true" minOccurs="0" />
        <xs:element name="creditrepo" type="creditjoinrepo" nillable="true" minOccurs="0" />
        <xs:element name="debitrepo" type="debitjoinrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joinedtableconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singletabletest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="javataskrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="groovytaskrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jpataskrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singletableconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaexerciseonetest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="samplerepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeerepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="samplerepotest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="samplerepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldataexercise" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpa1config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldataaccount" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpabulkconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpabulktest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="addressrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versiontest" >
      <xs:complexContent>
       <xs:extension base="ormstandaloneclasstestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ormstandaloneclasstestcase" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpacriteriatest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="addressrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpacriteriaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqldataaccount" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personwrapper" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpacriteriajointest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="addressrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personjpaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lockmodeoptimisticforceincrementtest" >
      <xs:complexContent>
       <xs:extension base="abstracttransaction">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testlock" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lockconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstracttransaction" >
      <xs:complexContent>
       <xs:extension base="callable<void>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="sf" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpalazytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itemrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="offerrepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpalazyconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpacartasianconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpacartasiantest" >
      <xs:sequence>
        <xs:element name="addressrepo" type="addresscartrepo" nillable="true" minOccurs="0" />
        <xs:element name="personrepo" type="personcartrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="phonerepo" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlpupildata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filtertest" >
      <xs:complexContent>
       <xs:extension base="ormstandalonetestcase{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logback-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4jdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistent_logins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="load" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="drop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring-data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4jdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpqlserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpqlservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateserviceutils" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactioncallable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateutils" >
      <xs:sequence>
        <xs:element name="build" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seqtool" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpasessionutil" >
      <xs:sequence>
        <xs:element name="persistenceunits" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjpatestapplication" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personviewrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="travelrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="triprepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="countryrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookstorerepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usermaprepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="propertymaprepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customhibernatejpadialect" >
      <xs:complexContent>
       <xs:extension base="hibernatejpadialect">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerutils" >
      <xs:sequence>
        <xs:element name="managerfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="clazz" type="xs:string" />
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securedloadentitylistener" >
      <xs:complexContent>
       <xs:extension base="defaultloadeventlistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auditableinterceptor" >
      <xs:complexContent>
       <xs:extension base="emptyinterceptor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customsessionfactoryinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logginginterceptor" >
      <xs:complexContent>
       <xs:extension base="emptyinterceptor">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cat" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="price" type="xs:anyType" />
          <xs:element name="offers" type="offer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="offer" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="value" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="street" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productcustomer" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productresource" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="part" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="serialnumber" type="xs:string" />
          <xs:element name="parts" type="part" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="productcustomer" nillable="true" minOccurs="0" />
          <xs:element name="resource" type="productresource" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="login" type="xs:string" />
          <xs:element name="address" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cart" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="products" type="simpleproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="skill" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="candidate" type="jobcandidate" nillable="true" minOccurs="0" />
          <xs:element name="candidateid" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jobcandidate" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="fullname" type="xs:string" />
          <xs:element name="age" type="xs:anyType" />
          <xs:element name="salary" type="xs:anyType" />
          <xs:element name="a,b,c,w,r,t,y,u" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="street" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="login" type="xs:string" />
          <xs:element name="address" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleproduct" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="price" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="street" type="xs:string" />
          <xs:element name="city" type="xs:string" />
          <xs:element name="state" type="xs:string" />
          <xs:element name="zipcode" type="xs:string" />
          <xs:element name="country" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="images" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="embeddeduser" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="images" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usercoll" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//@ordercolumnphones" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usermap" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="phones" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="repository" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="commits" type="commit" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="change" >
      <xs:sequence>
        <xs:element name="path" type="xs:string" />
        <xs:element name="diff" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commit" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="review" type="xs:anyType" />
          <xs:element name="" type="repository" nillable="true" minOccurs="0" />
          <xs:element name="changes" type="change" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="price" type="xs:anyType" />
          <xs:element name="offers" type="offer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="offer" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="value" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:complexContent>
       <xs:extension base="auditable{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auditable" >
      <xs:sequence>
        <xs:element name="create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractdomain" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="generator_name" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="street" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="city" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//todo???all" type="address" nillable="true" minOccurs="0" />
          <xs:element name="login" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="street" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailmessage" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="" type="email" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="street" type="xs:string" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="login" type="xs:string" />
          <xs:element name="" type="address" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailmessage" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="" type="email" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="email" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="from" type="xs:string" />
        <xs:element name="to" type="xs:string" />
        <xs:element name="topic" type="xs:string" />
        <xs:element name="time" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmessage" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="GeneratedName" type="email" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="email" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="from" type="xs:string" />
          <xs:element name="to" type="xs:string" />
          <xs:element name="topic" type="xs:string" />
          <xs:element name="time" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="nip" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="parent" type="category" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="manager" type="employee" nillable="true" minOccurs="0" />
          <xs:element name="managerid" type="xs:long" />
          <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="modify" type="xs:anyType" />
        <xs:element name="effectivemodify" type="xs:anyType" />
        <xs:element name="disable" type="xs:anyType" />
        <xs:element name="//todo//@formula("concat(disable,':',active)")///?filterproblemoverview" type="xs:string" />
        <xs:element name="alluser" type="xs:long" />
        <xs:element name="km" type="xs:double" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="//@pastbirthday" type="xs:anyType" />
        <xs:element name="//todo//monetaryamountbasepriceversion" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userconstrainttwo" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="username" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertableconstraint" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="username" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="email" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bidcheck" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="bidstart" type="xs:dateTime" />
          <xs:element name="bidend" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="trip" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="travel" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="city" type="xs:string" />
          <xs:element name="disable" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="email_bi" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="from" type="xs:string" />
          <xs:element name="to" type="xs:string" />
          <xs:element name="topic" type="xs:string" />
          <xs:element name="time" type="xs:anyType" />
          <xs:element name="email" type="emailmessage_bi" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailmessage_bi" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="email" type="email_bi" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="city" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="addresses" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="phones" type="phone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="phone" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="phonenumber" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="topicmap" type="xs:anyType" />
          <xs:element name="emailaddresses" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userid" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userid" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="userid" nillable="true" minOccurs="0" />
        <xs:element name="age" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customersummary" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="jobcount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="//@batchsize(size" type="job" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="location" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="job" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customskill" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="preference" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="indexmap" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="ids" type="xs:long" />
          <xs:element name="persons" type="xs:anyType" />
          <xs:element name="phones" type="xs:anyType" />
          <xs:element name="subdepts" type="xs:anyType" />
          <xs:element name="tasks" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="age" type="xs:long" />
          <xs:element name="phonenumbers" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="phone" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="phonenumber" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsibility" >
      <xs:sequence>
        <xs:element name="skill" type="xs:string" />
        <xs:element name="priority" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="departmentresponsibles" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="skill" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="states" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookstore" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="address" type="xs:string" />
          <xs:element name="invertory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="isbn" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="custompeference" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="part" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weapon" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="symbol" type="xs:string" />
          <xs:element name="//@sqldelete(sql" type="part" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="monetaryamountconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moneyconverter" >
      <xs:sequence>
        <xs:element name="format" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="phone" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="number" type="xs:string" />
          <xs:element name="type" type="phonetype" nillable="true" minOccurs="0" />
          <xs:element name="" type="employee" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="street" type="xs:string" />
          <xs:element name="city" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="phonetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="salary" type="xs:long" />
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="" type="address" nillable="true" minOccurs="0" />
          <xs:element name="phones" type="phone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="dept" type="department" nillable="true" minOccurs="0" />
          <xs:element name="manager" type="employee" nillable="true" minOccurs="0" />
          <xs:element name="directs" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="creditaccountjoin" >
      <xs:complexContent>
       <xs:extension base="accountjoin">
         <xs:sequence>
          <xs:element name="creditlimit" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="debitaccountjoin" >
      <xs:complexContent>
       <xs:extension base="accountjoin">
         <xs:sequence>
          <xs:element name="overdraftfee" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountjoin" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="owner" type="xs:string" />
        <xs:element name="balance" type="xs:anyType" />
        <xs:element name="interestrate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="owner" type="xs:string" />
          <xs:element name="balance" type="xs:anyType" />
          <xs:element name="interestrate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="debitaccount" >
      <xs:complexContent>
       <xs:extension base="account">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="overdraftfee" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="creditaccount" >
      <xs:complexContent>
       <xs:extension base="account">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="creditlimit" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detailproduct" >
      <xs:complexContent>
       <xs:extension base="product">
         <xs:sequence>
          <xs:element name="price" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockproduct" >
      <xs:complexContent>
       <xs:extension base="product">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="currency" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hperson" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javatask" >
      <xs:complexContent>
       <xs:extension base="task{">
         <xs:sequence>
          <xs:element name="refactoringname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groovytask" >
      <xs:complexContent>
       <xs:extension base="task">
         <xs:sequence>
          <xs:element name="writenewrule" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpatask" >
      <xs:complexContent>
       <xs:extension base="task">
         <xs:sequence>
          <xs:element name="additionalaction" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="hourscost" type="xs:long" />
          <xs:element name="person" type="hperson" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crew" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="count" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crewbi" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="count" type="xs:long" />
          <xs:element name="tanks" type="tankbi" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tank" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="serialnumber" type="xs:string" />
          <xs:element name="crews" type="crew" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tankbi" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="serialnumber" type="xs:string" />
          <xs:element name="crews" type="crewbi" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="street" type="xs:string" />
          <xs:element name="usersaddress" type="usersaddress" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="login" type="xs:string" />
          <xs:element name="usersaddress" type="usersaddress" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usersaddress" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="addedby" type="xs:string" />
        <xs:element name="addedon" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dog" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="persons" type="persondog" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persondogid" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="person" type="xs:long" />
        <xs:element name="dog" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persondog" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dog" nillable="true" minOccurs="0" />
        <xs:element name="adoption" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="dogs" type="persondog" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tablegeneratorentity" >
      <xs:complexContent>
       <xs:extension base="tablegenerator">
         <xs:sequence>
          <xs:element name="tablegenname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="identity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablegenerator" >
      <xs:sequence>
        <xs:element name="//@formatter:offid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hilogenerator" >
      <xs:sequence>
        <xs:element name="//@formatter:offid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatorone" >
      <xs:complexContent>
       <xs:extension base="identity{">
         <xs:sequence>
          <xs:element name="go" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignedentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hiloentity" >
      <xs:complexContent>
       <xs:extension base="hilogenerator{">
         <xs:sequence>
          <xs:element name="hiloname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="identifiable" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="note" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="title" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identifiableimpl" >
      <xs:complexContent>
       <xs:extension base="identitygenerator">
         <xs:sequence>
          <xs:element name="along" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="owner" type="xs:string" />
          <xs:element name="price" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="offer" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="item" nillable="true" minOccurs="0" />
          <xs:element name="value" type="xs:anyType" />
          <xs:element name="auctionstart" type="xs:anyType" />
          <xs:element name="auctionend" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stringproperty" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="charproperty" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="property" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertymap" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="properties" type="property" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="longproperty" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pupil" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="age" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="number" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shallowperson" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="city" type="xs:string" />
          <xs:element name="" type="person" nillable="true" minOccurs="0" />
          <xs:element name="personid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="addresses" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="" type="address" nillable="true" minOccurs="0" />
          <xs:element name="//@joincolumn(name" type="department" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="salary" type="xs:anyType" />
          <xs:element name="age" type="xs:long" />
          <xs:element name="" type="company" nillable="true" minOccurs="0" />
          <xs:element name="pesel" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="city" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todo" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="summary" type="xs:string" />
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="modify" type="xs:anyType" />
        <xs:element name="effectivemodify" type="xs:anyType" />
        <xs:element name="disable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="samplelistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personview" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="disable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tododto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personviewcontroller" >
      <xs:complexContent>
       <xs:extension base="genericcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genericcontroller" >
      <xs:complexContent>
       <xs:extension base="abstractentity>">
         <xs:sequence>
          <xs:element name="repo" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aopprofiler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jmxconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hikaricpconfiguration" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="hikaricpconfig" nillable="true" minOccurs="0" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="driverclassname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hikaricpconfig" >
      <xs:sequence>
        <xs:element name="hikaridatasource" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enablehikariconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metricsconfig" >
      <xs:complexContent>
       <xs:extension base="metricsconfigureradapter{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="driver" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="dialect" type="xs:string" />
        <xs:element name="hbm2ddlauto" type="xs:anyType" />
        <xs:element name="showsql" type="xs:anyType" />
        <xs:element name="jpapackage" type="xs:string" />
        <xs:element name="maxpoolsize" type="xs:long" />
        <xs:element name="connectiontimeoutms" type="xs:long" />
        <xs:element name="idletimeoutms" type="xs:long" />
        <xs:element name="maxlifetimems" type="xs:long" />
        <xs:element name="registermbeans" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaembeddedconfig" >
      <xs:complexContent>
       <xs:extension base="jpaconfig">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="h2database" >
      <xs:complexContent>
       <xs:extension base="jpaconfig{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaloggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="populatorconfig" >
      <xs:sequence>
        <xs:element name="schemascript" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="liquibaseconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertiesloader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selfcategoryrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<category,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<employee,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addressrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<address,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignedrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<assignedentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addressrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<address,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="offerrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<offer,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itemrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<item,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="propertymaprepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<propertymap,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usermaprepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<usermap,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="countryrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<country,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<book,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persondeptrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<department,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<company,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookstorerepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<bookstore,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="maprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<account,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addressrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<address,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="triprepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<trip,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="travelrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<travel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personviewrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<personview,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<customer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weaponrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<weapon,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="skillrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<skill,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="candidaterepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<jobcandidate,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="constructorresultrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<todo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<company,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeerepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<employee,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deptrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<department,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detailproductrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<detailproduct,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stockproductrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<stockproduct,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<product,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<accountjoin,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="creditjoinrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<creditaccountjoin,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="debitjoinrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<debitaccountjoin,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="debitaccountrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<debitaccount,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="creditaccoutrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<creditaccount,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<task,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groovytaskrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<groovytask,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="javataskrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<javatask,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpataskrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<jpatask,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="samplerepo" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeerepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<employee,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="phonerepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<phone,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personcartrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addresscartrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<address,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 