java-intro/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hello" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aspectconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countrycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="countryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="citycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingscontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="languagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="languageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restclientexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cityrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<city,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="countryrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<country,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="languagerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<language,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencejpaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="language" >
      <xs:sequence>
        <xs:element name="countrycode" type="xs:string" />
        <xs:element name="language" type="xs:string" />
        <xs:element name="isofficial" type="xs:anyType" />
        <xs:element name="percentage" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="languagepk" >
      <xs:sequence>
        <xs:element name="countrycode" type="xs:string" />
        <xs:element name="language" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="countrycode" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="population" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="continent" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="surfacearea" type="xs:double" />
        <xs:element name="indepyear" type="xs:anyType" />
        <xs:element name="population" type="xs:long" />
        <xs:element name="lifeexpectancy" type="xs:double" />
        <xs:element name="gnp" type="xs:double" />
        <xs:element name="gnpold" type="xs:double" />
        <xs:element name="localname" type="xs:string" />
        <xs:element name="governmentform" type="xs:string" />
        <xs:element name="headofstate" type="xs:string" />
        <xs:element name="capital" type="xs:anyType" />
        <xs:element name="code2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="languagedto" >
      <xs:sequence>
        <xs:element name="countrycode" type="xs:string" />
        <xs:element name="language" type="xs:string" />
        <xs:element name="isofficial" type="xs:anyType" />
        <xs:element name="percentage" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countrydto" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="continent" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="surfacearea" type="xs:double" />
        <xs:element name="indepyear" type="xs:anyType" />
        <xs:element name="population" type="xs:long" />
        <xs:element name="lifeexpectancy" type="xs:double" />
        <xs:element name="gnp" type="xs:double" />
        <xs:element name="gnpold" type="xs:double" />
        <xs:element name="localname" type="xs:string" />
        <xs:element name="governmentform" type="xs:string" />
        <xs:element name="headofstate" type="xs:string" />
        <xs:element name="capital" type="xs:anyType" />
        <xs:element name="code2" type="xs:string" />
        <xs:element name="cities" type="citydto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="languages" type="languagedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="citydto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="countrycode" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="population" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="languageconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countryconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cityconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cityservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="languageservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="languagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countryservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="countryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demomoduleconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countryservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="countryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="countryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="languageservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="languagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="languageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cityservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cityconvertertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countryconvertertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="languageconvertertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countrycontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="countryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingscontrollertest" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="citycontrollertest" >
      <xs:sequence>
        <xs:element name="applicationcontext" type="xs:anyType" />
        <xs:element name="GeneratedName" type="cityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="languagecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="languagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cityrepositorytest" >
      <xs:sequence>
        <xs:element name="country_code" type="xs:string" />
        <xs:element name="GeneratedName" type="cityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="citycontrollermockmvctest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontrollerwebmvctest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="citycontrollerwebmvctest" >
      <xs:sequence>
        <xs:element name="/**amongotherthings,@webmvctestprovidesainstancetotheapplicationcontext.*wecansimplyinjectitanduseittosimulatehttpcallsagainstourrestcontrollerandasserttheresults.*/" type="xs:anyType" />
        <xs:element name="/**weusetoreplacetherealinstanceofbookingservicewithamockitomockobject.*inthetest,wetellthemockobjectwhattoreturntosatisfyourtestsetup.*/service" type="cityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moduletest" >
      <xs:sequence>
        <xs:element name="/**theannotationisinterpretedbythespringandthecontrollerisinjectedbeforethetestmethodsarerun.*/controller" type="homecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingscontrollerintegrationtest" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="urlprefix" type="xs:string" />
        <xs:element name="resttemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontrollerasservertest" >
      <xs:sequence>
        <xs:element name="port" type="xs:long" />
        <xs:element name="resttemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="citycontrollerintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="restclient" nillable="true" minOccurs="0" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="urlprefix" type="xs:string" />
        <xs:element name="GeneratedName" type="cityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testobjectcreator" >
      <xs:sequence>
        <xs:element name="not_existing_country_code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testconfig" >
      <xs:sequence>
        <xs:element name="myvalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockingoptionstest" >
      <xs:sequence>
        <xs:element name="1" type="city" nillable="true" minOccurs="0" />
        <xs:element name="2" type="city" nillable="true" minOccurs="0" />
        <xs:element name="3" type="city" nillable="true" minOccurs="0" />
        <xs:element name="//fieldsforrepositorymockvariant2:annotationmock" type="cityrepository" nillable="true" minOccurs="0" />
        <xs:element name="//fieldsforrepositorymockvariant3:annotationmockbean" type="cityrepository" nillable="true" minOccurs="0" />
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 