java-intro/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="language" >
      <xs:sequence>
        <xs:element name="countrycode" type="xs:string" />
        <xs:element name="language" type="xs:string" />
        <xs:element name="isofficial" type="xs:anyType" />
        <xs:element name="percentage" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="countrycode" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="population" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="continent" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="surfacearea" type="xs:double" />
        <xs:element name="indepyear" type="xs:anyType" />
        <xs:element name="population" type="xs:long" />
        <xs:element name="lifeexpectancy" type="xs:double" />
        <xs:element name="gnp" type="xs:double" />
        <xs:element name="gnpold" type="xs:double" />
        <xs:element name="localname" type="xs:string" />
        <xs:element name="governmentform" type="xs:string" />
        <xs:element name="headofstate" type="xs:string" />
        <xs:element name="capital" type="xs:anyType" />
        <xs:element name="code2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 