sourcecode27/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="licenserepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<license,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="toolscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="discoveryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="licenseservicecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="licenseservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="serviceconfig" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceconfig" >
      <xs:sequence>
        <xs:element name="exampleproperty" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organizationfeignclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organizationresttemplateclient" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organizationdiscoveryclient" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discoveryservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="licenseservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="licenserepository" nillable="true" minOccurs="0" />
        <xs:element name="config" type="serviceconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organizationfeignclient" nillable="true" minOccurs="0" />
        <xs:element name="organizationrestclient" type="organizationresttemplateclient" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organizationdiscoveryclient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
        <xs:element name="licenseid" type="xs:string" />
        <xs:element name="organizationid" type="xs:string" />
        <xs:element name="organizationname" type="xs:string" />
        <xs:element name="contactname" type="xs:string" />
        <xs:element name="contactphone" type="xs:string" />
        <xs:element name="contactemail" type="xs:string" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="licensetype" type="xs:string" />
        <xs:element name="licensemax" type="xs:anyType" />
        <xs:element name="licenseallocated" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organization" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="contactname" type="xs:string" />
        <xs:element name="contactemail" type="xs:string" />
        <xs:element name="contactphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dockerfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 