MyProjects1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paginator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component-district-dialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component-product-group-dialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component-product-sub-group-dialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component-city-dialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hello" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="welcome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="district" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productgroup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productsubgroup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_close_24px" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uiapplication" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productgrouprepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<productgroup>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<product>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="staterepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<state>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="districtrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<district>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cityrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<city>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crudrepository" >
      <xs:complexContent>
       <xs:extension base="cruddomain>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productsubgrouprepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<productsubgroup>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<customer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addresstype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="type" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contacttype" >
      <xs:sequence>
        <xs:element name="namesmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customizedrestmvcconfiguration" >
      <xs:complexContent>
       <xs:extension base="repositoryrestmvcconfiguration">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customercontroller" >
      <xs:complexContent>
       <xs:extension base="crudcontroller<customer>{">
         <xs:sequence>
          <xs:element name="" type="customerrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productgroupcontroller" >
      <xs:complexContent>
       <xs:extension base="crudcontroller<productgroup>">
         <xs:sequence>
          <xs:element name="" type="productgrouprepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="citycontroller" >
      <xs:complexContent>
       <xs:extension base="crudcontroller<city>{">
         <xs:sequence>
          <xs:element name="" type="cityrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="districtcontroller" >
      <xs:complexContent>
       <xs:extension base="crudcontroller<district>{">
         <xs:sequence>
          <xs:element name="" type="districtrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="userservice" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statecontroller" >
      <xs:complexContent>
       <xs:extension base="crudcontroller<state>">
         <xs:sequence>
          <xs:element name="" type="staterepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hellocontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autocompletecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productsubgroupcontroller" >
      <xs:complexContent>
       <xs:extension base="crudcontroller<productsubgroup>">
         <xs:sequence>
          <xs:element name="" type="productsubgrouprepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crudcontroller" >
      <xs:complexContent>
       <xs:extension base="cruddomain>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:complexContent>
       <xs:extension base="crudcontroller<product>">
         <xs:sequence>
          <xs:element name="" type="productrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:complexContent>
       <xs:extension base="cruddomain">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="abreviation" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productsubgroup" >
      <xs:complexContent>
       <xs:extension base="cruddomain">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="productgroup" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cruddomain" >
      <xs:complexContent>
       <xs:extension base="cruddomainutil">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cruddomainutil" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city" >
      <xs:complexContent>
       <xs:extension base="cruddomain">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="state" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:complexContent>
       <xs:extension base="cruddomain">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="district" nillable="true" minOccurs="0" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="customercontacts" type="customercontact" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="cruddomain">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="" type="productsubgroup" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="district" >
      <xs:complexContent>
       <xs:extension base="cruddomain">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="city" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productgroup" >
      <xs:complexContent>
       <xs:extension base="cruddomain">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customercontact" >
      <xs:complexContent>
       <xs:extension base="cruddomainutil">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="contactname" type="xs:string" />
          <xs:element name="" type="contacttype" nillable="true" minOccurs="0" />
          <xs:element name="" type="customer" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsehelper" >
      <xs:complexContent>
       <xs:extension base="object>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="objec" type="xs:anyType" />
          <xs:element name="errormessage" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reflectionutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsoncolumn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 