MovieTeam/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="movieteamapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="genres" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rating" >
      <xs:sequence>
        <xs:element name="movie_id" type="xs:long" />
        <xs:element name="user_id" type="xs:long" />
        <xs:element name="rating" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ratingid" >
      <xs:sequence>
        <xs:element name="movie_id" type="xs:long" />
        <xs:element name="user_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ratingrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userbyusermovieratingpredictor" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userbyusersimilaritiesbasedrecommender" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homerestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="similaritiesbasedrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userbyusersimilaritiesbasedrecommender" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userbyusermovieratingpredictorimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movieratingpredictorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersimilaritiesservice" nillable="true" minOccurs="0" />
        <xs:element name="userratingprocessingservice" type="userratingprocessingserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ratingrepository" nillable="true" minOccurs="0" />
        <xs:element name="ratings" type="rating" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="meanratingsofusers" type="xs:anyType" />
        <xs:element name="top50predictedmovies" type="xs:anyType" />
        <xs:element name="minimumratedtopmovieid" type="xs:long" />
        <xs:element name="similaritieswithotherusers" type="xs:anyType" />
        <xs:element name="mainuserratings" type="rating" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="secondaryuserratings" type="rating" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mainuserviewedmovies" type="xs:anyType" />
        <xs:element name="secondaryuserviewedmovies" type="xs:anyType" />
        <xs:element name="mainusermeanrating" type="xs:double" />
        <xs:element name="secondaryusermeanrating" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieratingpredictorserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ratingrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pearsoncorrelationserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userbyusersimilaritiesbasedrecommenderimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersimilaritiesservice" nillable="true" minOccurs="0" />
        <xs:element name="userratingprocessingservice" type="userratingprocessingserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ratingrepository" nillable="true" minOccurs="0" />
        <xs:element name="similaritieswithotherusers" type="xs:anyType" />
        <xs:element name="mainuserratings" type="rating" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="secondaryuserratings" type="rating" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mainuserviewedmovies" type="xs:anyType" />
        <xs:element name="secondaryuserviewedmovies" type="xs:anyType" />
        <xs:element name="mainusermeanrating" type="xs:double" />
        <xs:element name="secondaryusermeanrating" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userratingprocessingserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ratingrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigurationsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usersimilaritiesservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userratingprocessingservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieratingpredictorservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userbyusermovieratingpredictor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userbyusersimilaritiesbasedrecommender" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pearsoncorrelationservice" >
      <xs:complexContent>
       <xs:extension base="usersimilaritiesservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ratingrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<rating,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movierepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<movie,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieteamapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 