intellij-samples/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="notes" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="orderitemsbyid" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="byid" type="vendor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="notes" type="xs:string" />
        <xs:element name="productsbyid" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="byid" type="order" nillable="true" minOccurs="0" />
        <xs:element name="byid" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="notes" type="xs:string" />
        <xs:element name="ordersbyid" type="order" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="deliveryaddress" type="xs:string" />
        <xs:element name="deliverynotes" type="xs:string" />
        <xs:element name="delivereddate" type="xs:anyType" />
        <xs:element name="byid" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="orderitemsbyid" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 