Java_Stack1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="dojosandninjaapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dojosandninjaapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dojorepo" >
      <xs:complexContent>
       <xs:extension base="crudrepository<dojo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ninjarepo" >
      <xs:complexContent>
       <xs:extension base="crudrepository<ninja,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ninjacont" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dojoninjaserv" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dojocont" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dojoninjaserv" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dojoninjaserv" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dojorepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ninjarepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dojos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ninjas" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="show" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newninja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newdojo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 