SchoolWork3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="guestdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestdao" >
      <xs:sequence>
        <xs:element name="//injecteddatabaseconnection:em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//persistentfields:id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="signing" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 