PayMyBuddy/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="paymybuddyapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="friendservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="mapservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="useraccountservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="friendrepository" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="useraccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="relationship" type="friend" nillable="true" minOccurs="0" />
        <xs:element name="relationship2" type="friend" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccountservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="useraccountservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="useraccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccount" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetailsservicetest" >
      <xs:sequence>
        <xs:element name="/**@autowiredcustomuserdetailsservicecustomuserdetailsservice*/mock" type="useraccountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="transactionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccountservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="mapservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="useraccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="bankaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="transactionrepository" nillable="true" minOccurs="0" />
        <xs:element name="friend" type="transaction" nillable="true" minOccurs="0" />
        <xs:element name="moneydeposit" type="transaction" nillable="true" minOccurs="0" />
        <xs:element name="tobankaccount" type="transaction" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="transaction" nillable="true" minOccurs="0" />
        <xs:element name="2" type="transaction" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccount" nillable="true" minOccurs="0" />
        <xs:element name="2" type="useraccount" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertyserviceforjasyptstartertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="propertyserviceforjasyptstarter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bankaccountservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bankaccountservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="bankaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bankaccount" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mapservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactioncontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="useraccountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bankaccountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="friendservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="transactionservice" nillable="true" minOccurs="0" />
        <xs:element name="friend" type="transaction" nillable="true" minOccurs="0" />
        <xs:element name="moneydeposit" type="transaction" nillable="true" minOccurs="0" />
        <xs:element name="tobankaccount" type="transaction" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccountcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="useraccountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccount" nillable="true" minOccurs="0" />
        <xs:element name="2" type="useraccount" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="friendservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="useraccountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registercontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mock" type="useraccountcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccount" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bankaccountcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bankaccountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bankaccount" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinterfacecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mock" type="useraccountcontroller" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="bankaccountcontroller" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="friendcontroller" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="transactioncontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccount" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccountdto" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="transactiondto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccounttest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactiontest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetailstest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customuserdetails" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="useraccount" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bankaccounttest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bankaccount" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactiondtotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccountdtotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="useraccountdto" nillable="true" minOccurs="0" />
        <xs:element name="emailaddress" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signup_form" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register_success" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register_fail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tax" >
      <xs:sequence>
        <xs:element name="tax100" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinterfacecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="useraccountcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="friendcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="transactioncontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bankaccountcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccountcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="useraccountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bankaccountcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bankaccountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="friendservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="useraccountcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transactionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="friendservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bankaccountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="emailaddressemitter" type="xs:string" />
        <xs:element name="my" type="xs:dateTime" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="emailaddressreceiver" type="xs:string" />
        <xs:element name="idbankaccount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccount" >
      <xs:sequence>
        <xs:element name="emailaddress" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="amount" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactiondto" >
      <xs:sequence>
        <xs:element name="connection" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="amount" type="xs:string" />
        <xs:element name="mydate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friend" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="emailaddressuser1" type="xs:string" />
        <xs:element name="emailaddressuser2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccountdto" >
      <xs:sequence>
        <xs:element name="emailaddress" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bankaccount" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="iban" type="xs:string" />
        <xs:element name="emailaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetails" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="transient" type="useraccount" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bankaccountrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<bankaccount,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="useraccountrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<useraccount,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transactionrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<transaction,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="friendrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<friend,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appconfigforjasyptstarter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httptraceactuatorconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bankaccountservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertyserviceforjasyptstarter" >
      <xs:sequence>
        <xs:element name="property" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bankaccountserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bankaccountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="useraccountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="receiptservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="useraccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="transactionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mapservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccountservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mapservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="friendrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="useraccountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccountserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="useraccountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonexistentexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="isforbiddenexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymybuddyapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 