slack-reddit-notifier/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="redditnotifierapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="liquibase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redditnotifierapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationmodel" >
      <xs:sequence>
        <xs:element name="channel" type="xs:string" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="submission" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="link" type="xs:string" />
        <xs:element name="subreddit" type="xs:string" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sentimentenum" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="submissiondeserializer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slackcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="in_channel" type="xs:string" />
        <xs:element name="ephemeral" type="xs:string" />
        <xs:element name="GeneratedName" type="keywordservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="keywordoccurrenceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slackcontrollerinterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
          <xs:element name="slackverificationtoken" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="keywordservice" >
      <xs:sequence>
        <xs:element name="repository" type="keywordrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slackapiservice" >
      <xs:sequence>
        <xs:element name="slack_post_message_url" type="xs:string" />
        <xs:element name="slack_bot_token" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="headers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordoccurrenceservice" >
      <xs:sequence>
        <xs:element name="repository" type="keywordoccurrencerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sparkjob" >
      <xs:sequence>
        <xs:element name="topics" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="kafkaconfig" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordoccurrencerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<keywordoccurrence,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="keywordrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<keyword,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imagechartsutils" >
      <xs:sequence>
        <xs:element name="positive_color" type="xs:string" />
        <xs:element name="neutral_color" type="xs:string" />
        <xs:element name="negative_color" type="xs:string" />
        <xs:element name="positive" type="xs:string" />
        <xs:element name="neutral" type="xs:string" />
        <xs:element name="negative" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vaderutils" >
      <xs:sequence>
        <xs:element name="compound_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kafkaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="slackcontrollerinterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springasyncconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sparkconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordoccurrence" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="word" type="xs:string" />
        <xs:element name="subreddit" type="xs:string" />
        <xs:element name="sentiment" type="sentimentenum" nillable="true" minOccurs="0" />
        <xs:element name="date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordid" >
      <xs:sequence>
        <xs:element name="word" type="xs:string" />
        <xs:element name="channelid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyword" >
      <xs:sequence>
        <xs:element name="word" type="xs:string" />
        <xs:element name="channelid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 