ProductMS/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="productmsapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptioncontrolleradvice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorinfo" >
      <xs:sequence>
        <xs:element name="errormessage" type="xs:string" />
        <xs:element name="errorcode" type="xs:anyType" />
        <xs:element name="timestamp" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="prodid" type="xs:anyType" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="stock" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="sellerid" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="subcategory" type="xs:string" />
        <xs:element name="productrating" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subscribedproduct" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:string" />
        <xs:element name="prodid" type="xs:anyType" />
        <xs:element name="quantity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compositeidclass" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="buyerid" type="xs:string" />
        <xs:element name="prodid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productmsapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productdto" >
      <xs:sequence>
        <xs:element name="prodid" type="xs:anyType" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="stock" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="sellerid" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="subcategory" type="xs:string" />
        <xs:element name="productrating" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subscribedprouctdto" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:string" />
        <xs:element name="prodid" type="xs:anyType" />
        <xs:element name="quantity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<product,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="subscribedproductrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<subscribedproduct,compositeidclass>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productmsexception" >
      <xs:complexContent>
       <xs:extension base="exception{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="subscribedproductrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 