iaa/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="struts" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="struts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xwork-conversion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noteconverter" >
      <xs:complexContent>
       <xs:extension base="strutstypeconverter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pruefungsfaecherservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dozentenserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dozentendao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pruefungsfaecherserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pruefungsfaecherdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pruefungenserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pruefungendao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manipelserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="manipeldao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pruefungsleistungenservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manipelservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dozentenservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pruefungsleistungenserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pruefungsleistungendao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studentdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pruefungenservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createpruefungsleistungenaction-conversion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="showpruefungsleistungenaction" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="selectedpruefungsfachid" type="xs:long" />
          <xs:element name="" type="pruefungsfaecherservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="studentservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsfach" nillable="true" minOccurs="0" />
          <xs:element name="studenten" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createmdlpruefungsleistungenaction-conversion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexaction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pruefungsfaecherservice" nillable="true" minOccurs="0" />
        <xs:element name="pruefungsfaecher" type="pruefungsfach" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createmdlpruefungsleistungenaction" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="selectedpruefungid" type="xs:long" />
          <xs:element name="selectedpruefungsfachid" type="xs:long" />
          <xs:element name="" type="pruefungenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefung" nillable="true" minOccurs="0" />
          <xs:element name="studenten" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="studentservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsleistungenservice" nillable="true" minOccurs="0" />
          <xs:element name="ergaenzungspruefungenlist" type="ergaenzungspruefung" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="newpruefungsleistungenlist" type="pruefungsleistung" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createpruefungaction" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="" type="dozentenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefung" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsfaecherservice" nillable="true" minOccurs="0" />
          <xs:element name="selectedpruefungsfachid" type="xs:long" />
          <xs:element name="selecteddatum" type="xs:dateTime" />
          <xs:element name="selecteddozent" type="xs:string" />
          <xs:element name="" type="pruefungsfach" nillable="true" minOccurs="0" />
          <xs:element name="dozentenlist" type="dozent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="editpruefungsleistungaction" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="selectedpruefungsleistungid" type="xs:long" />
          <xs:element name="selectedpruefungsfachid" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="pruefungsleistungenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsfaecherservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsfach" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsleistung" nillable="true" minOccurs="0" />
          <xs:element name="selectednote" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pruefungslistaction" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="" type="pruefungenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsfaecherservice" nillable="true" minOccurs="0" />
          <xs:element name="selectedpruefungsfachid" type="xs:long" />
          <xs:element name="pruefungen" type="pruefung" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="pruefungsfach" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notenuebersichtaction" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="" type="manipelservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsleistungenservice" nillable="true" minOccurs="0" />
          <xs:element name="selectedmanipel" type="xs:string" />
          <xs:element name="manipellist" type="manipel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="noten" type="pruefungsleistung" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createpruefungsleistungenaction" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="selectedpruefungsfachid" type="xs:long" />
          <xs:element name="selectedpruefungid" type="xs:long" />
          <xs:element name="" type="pruefungenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsleistungenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="studentservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefung" nillable="true" minOccurs="0" />
          <xs:element name="studenten" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="pruefungsleistungenlist" type="pruefungsleistung" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="newpruefungsleistungenlist" type="pruefungsleistung" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pruefungenhistorieaction" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="studentservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsfaecherservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="pruefungsleistungenservice" nillable="true" minOccurs="0" />
          <xs:element name="matrikelnummern" type="xs:anyType" />
          <xs:element name="selectedpruefungsfachid" type="xs:long" />
          <xs:element name="selectedmatrikelnummer" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="student" nillable="true" minOccurs="0" />
          <xs:element name="pruefungsleistungenlist" type="pruefungsleistung" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="pruefungsfach" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studentdao" >
      <xs:complexContent>
       <xs:extension base="hibernatedaosupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dozentendao" >
      <xs:complexContent>
       <xs:extension base="hibernatedaosupport{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pruefungendao" >
      <xs:complexContent>
       <xs:extension base="hibernatedaosupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pruefungsleistungendao" >
      <xs:complexContent>
       <xs:extension base="hibernatedaosupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pruefungsfaecherdao" >
      <xs:complexContent>
       <xs:extension base="hibernatedaosupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manipeldao" >
      <xs:complexContent>
       <xs:extension base="hibernatedaosupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dozent" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pruefungsfach" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="titel" type="xs:string" />
        <xs:element name="beschreibung" type="xs:string" />
        <xs:element name="GeneratedName" type="manipel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="vorname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pruefungsleistung" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="versuch" type="xs:long" />
        <xs:element name="GeneratedName" type="note" nillable="true" minOccurs="0" />
        <xs:element name="mdl_moeglich" type="xs:anyType" />
        <xs:element name="gueltig" type="xs:anyType" />
        <xs:element name="erfassungsdatum" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="pruefung" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="student" nillable="true" minOccurs="0" />
        <xs:element name="studentmatrikelnummer" type="xs:long" />
        <xs:element name="erfasser" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ergaenzungspruefung" nillable="true" minOccurs="0" />
        <xs:element name="aenderungseintrag" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="matrikelnummer" type="xs:long" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="manipel" nillable="true" minOccurs="0" />
        <xs:element name="pruefungsleistungen" type="pruefungsleistung" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manipelpk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="jahrgang" type="xs:long" />
        <xs:element name="GeneratedName" type="studienrichtung" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ergaenzungspruefung" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="note" nillable="true" minOccurs="0" />
        <xs:element name="datum" type="xs:dateTime" />
        <xs:element name="erfassungsdatum" type="xs:dateTime" />
        <xs:element name="pruefungsleistungid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pruefung" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="datum" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="pruefungsfach" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dozent" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="note" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manipel" >
      <xs:sequence>
        <xs:element name="pk" type="manipelpk" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studienrichtung" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 