Spring-demo2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="testinitsystemdata" >
      <xs:complexContent>
       <xs:extension base="abstracttransactionaljunit4springcontexttests{">
         <xs:sequence>
          <xs:element name="baseservice" type="ibaseservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querycondition" >
      <xs:sequence>
        <xs:element name="/***等于*/eq" type="xs:string" />
        <xs:element name="/***小于*/lt" type="xs:string" />
        <xs:element name="/***大于*/gt" type="xs:string" />
        <xs:element name="/***小于等于*/le" type="xs:string" />
        <xs:element name="/***大于等于*/ge" type="xs:string" />
        <xs:element name="/***相似*/lk" type="xs:string" />
        <xs:element name="/***in*/in" type="xs:string" />
        <xs:element name="//可以再扩展//....../***自定义jpql语句*/custom" type="xs:string" />
        <xs:element name="/***属性名*/field" type="xs:string" />
        <xs:element name="/***操作符*/operator" type="xs:string" />
        <xs:element name="/***值*/value" type="xs:anyType" />
        <xs:element name="/***自定义jpql语句*/customjpql" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagination" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***当前页*/currentpage" type="xs:long" />
        <xs:element name="/***每页显示记录数*/pagesize" type="xs:long" />
        <xs:element name="/***总记录数*/recordcount" type="xs:long" />
        <xs:element name="/***记录集合*/recordlist" type="xs:anyType" />
        <xs:element name="/***总页数*/pagecount" type="xs:long" />
        <xs:element name="/***偏移数*/offset" type="xs:long" />
        <xs:element name="/***上一页*/prepage" type="xs:long" />
        <xs:element name="/***下一页*/nextpage" type="xs:long" />
        <xs:element name="/***是否有上一页*/hasprepage" type="xs:anyType" />
        <xs:element name="/***是否有下一页*/hasnextpage" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customdateserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<date>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ibasedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defultbasedao" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="account" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="pmss" type="permission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permission" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="permission" type="xs:string" />
        <xs:element name="parent" type="permission" nillable="true" minOccurs="0" />
        <xs:element name="children" type="permission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="userservice" type="iuserservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:complexContent>
       <xs:extension base="defultbaseservice">
         <xs:sequence>
          <xs:element name="baseservice" type="ibaseservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defultbaseservice" >
      <xs:sequence>
        <xs:element name="basedao" type="ibasedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shirodbrealm" >
      <xs:complexContent>
       <xs:extension base="authorizingrealm{">
         <xs:sequence>
          <xs:element name="userservice" type="iuserservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iuserservice" >
      <xs:complexContent>
       <xs:extension base="ibaseservice{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ibaseservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validatecode" >
      <xs:sequence>
        <xs:element name="/***验证码类型为仅数字0~9*/type_num_only" type="xs:long" />
        <xs:element name="/***验证码类型为仅字母，即大写、小写字母混合*/type_letter_only" type="xs:long" />
        <xs:element name="/***验证码类型为数字、大写字母、小写字母混合*/type_all_mixed" type="xs:long" />
        <xs:element name="/***验证码类型为数字、大写字母混合*/type_num_upper" type="xs:long" />
        <xs:element name="/***验证码类型为数字、小写字母混合*/type_num_lower" type="xs:long" />
        <xs:element name="/***验证码类型为仅大写字母*/type_upper_only" type="xs:long" />
        <xs:element name="/***验证码类型为仅小写字母*/type_lower_only" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 