mstore-cloud1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="v1__init_schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<orderitem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="linenumber" type="xs:long" />
        <xs:element name="orderid" type="xs:string" />
        <xs:element name="itemid" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="unitprice" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="order" type="xs:dateTime" />
        <xs:element name="subtotal" type="xs:long" />
        <xs:element name="taxrate" type="xs:double" />
        <xs:element name="shippingfee" type="xs:long" />
        <xs:element name="shippingaddressid" type="xs:string" />
        <xs:element name="billingaddressid" type="xs:string" />
        <xs:element name="shippingaddress" type="xs:anyType" />
        <xs:element name="billingaddress" type="xs:anyType" />
        <xs:element name="details" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="catalogservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<order,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fallbackablecatalogservice" >
      <xs:sequence>
        <xs:element name="delegate" type="catalogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fallbackablecartservice" >
      <xs:sequence>
        <xs:element name="delegate" type="cartservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fallbackableuserservice" >
      <xs:sequence>
        <xs:element name="delegate" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrest" >
      <xs:sequence>
        <xs:element name="orderrepo" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="orderitemrepo" type="orderitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cartservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="catalogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 