mstore-cloud1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="linenumber" type="xs:long" />
        <xs:element name="orderid" type="xs:string" />
        <xs:element name="itemid" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="unitprice" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="order" type="xs:dateTime" />
        <xs:element name="subtotal" type="xs:long" />
        <xs:element name="taxrate" type="xs:double" />
        <xs:element name="shippingfee" type="xs:long" />
        <xs:element name="shippingaddressid" type="xs:string" />
        <xs:element name="billingaddressid" type="xs:string" />
        <xs:element name="shippingaddress" type="xs:anyType" />
        <xs:element name="billingaddress" type="xs:anyType" />
        <xs:element name="details" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 