MasterThesisUSEF5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ptustaterepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="ptustaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectiongroupstaterepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="connectiongroupstaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agrconnectiongrouprepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="agrconnectiongrouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptuflexofferrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="ptuflexofferrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexordersettlementrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="flexordersettlementrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planboardmessagerepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="planboardmessagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectiongrouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptuflexrequestrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="ptuflexrequestrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectiongrouprepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="connectiongrouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptusettlementrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="ptusettlementrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpconnectiongrouprepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="brpconnectiongrouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptuflexorderrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="ptuflexorderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="congestionpointconnectiongrouprepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="congestionpointconnectiongrouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="connectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptucontainerrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="ptucontainerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptuprognosisrepositorytest" >
      <xs:sequence>
        <xs:element name="/***/congestion_point_entity_address" type="xs:string" />
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="ptuprognosisrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptulistconvertertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coreplanboardvalidatorservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="ptucontainerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="planboardmessagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptustaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectiongrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="validator" type="coreplanboardvalidatorservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prognosisconsolidationbusinessservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="planboardmessagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptucontainerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptuprognosisrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectiongrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="prognosisconsolidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coreplanboardbusinessservicetest" >
      <xs:sequence>
        <xs:element name="test_domain" type="xs:string" />
        <xs:element name="another_domain" type="xs:string" />
        <xs:element name="period" type="xs:anyType" />
        <xs:element name="another_period" type="xs:anyType" />
        <xs:element name="congestion_point" type="xs:string" />
        <xs:element name="GeneratedName" type="planboardmessagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptucontainerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptuprognosisrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptuflexrequestrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptuflexofferrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptuflexorderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptustaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectiongrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="congestionpointconnectiongrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="brpconnectiongrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="agrconnectiongrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectiongroupstaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="coreplanboardbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentstatusutiltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdataquerymessageutiltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planboardmessageutiltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptuutiltest" >
      <xs:sequence>
        <xs:element name="//minutesptu_duration" type="xs:long" />
        <xs:element name="timezone_berlin" type="xs:string" />
        <xs:element name="jodatimezone" type="xs:anyType" />
        <xs:element name="util" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="common_reference_query_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="common_reference_query_response_dso" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplelogger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corebusinesserror" >
      <xs:sequence>
        <xs:element name="errormessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coreplanboardvalidatorservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ptucontainerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="planboardmessagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptustaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectiongrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prognosisconsolidationbusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="planboardmessagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptuprognosisrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="ptucontainerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectiongrouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planboardhousekeepingbusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="flexordersettlementrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="planboardmessagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptucontainerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptuflexofferrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptuflexorderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptuprognosisrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptuflexrequestrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptusettlementrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptustaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectiongroupstaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coreplanboardbusinessservice" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="agrconnectiongrouprepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="brpconnectiongrouprepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="connectiongrouprepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="connectiongroupstaterepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="congestionpointconnectiongrouprepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="connectionrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="planboardmessagerepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="ptucontainerrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="ptuflexofferrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="ptuflexorderrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="ptuflexrequestrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="ptuprognosisrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="ptustaterepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documenttype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phasetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="congestionpointconnectiongroup" >
      <xs:complexContent>
       <xs:extension base="connectiongroup">
         <xs:sequence>
          <xs:element name="dsodomain" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="regimetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptustate" >
      <xs:complexContent>
       <xs:extension base="document">
         <xs:sequence>
          <xs:element name="regime" type="regimetype" nillable="true" minOccurs="0" />
          <xs:element name="state" type="ptucontainerstate" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptuflexrequest" >
      <xs:complexContent>
       <xs:extension base="exchange">
         <xs:sequence>
          <xs:element name="power" type="xs:anyType" />
          <xs:element name="disposition" type="dispositionavailablerequested" nillable="true" minOccurs="0" />
          <xs:element name="prognosissequence" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptucontainerstate" >
      <xs:sequence>
        <xs:element name="index" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptusettlement" >
      <xs:complexContent>
       <xs:extension base="document">
         <xs:sequence>
          <xs:element name="" type="flexordersettlement" nillable="true" minOccurs="0" />
          <xs:element name="prognosispower" type="xs:anyType" />
          <xs:element name="actualpower" type="xs:anyType" />
          <xs:element name="orderedflexpower" type="xs:anyType" />
          <xs:element name="deliveredflexpower" type="xs:anyType" />
          <xs:element name="powerdeficiency" type="xs:anyType" />
          <xs:element name="price" type="xs:anyType" />
          <xs:element name="penalty" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agrconnectiongroup" >
      <xs:complexContent>
       <xs:extension base="connectiongroup">
         <xs:sequence>
          <xs:element name="aggregatordomain" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="planboardmessage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="creationtime" type="xs:dateTime" />
        <xs:element name="/***thesequencenumberofthismessage.so,whenaflexrequestissent,itcontainsasequencenumberwhichissetinthis*field.*/sequence" type="xs:long" />
        <xs:element name="/***thesequencenumberoftheoriginmessage.so,whenaflexofferissend,itreferstoaflexrequest.thesequencenumberof*theflexrequestissetintheoriginsequencenumber.incaseofaflexrequesttheprognosissequenceistheorigin*sequencenumber.*/originsequence" type="xs:long" />
        <xs:element name="participantdomain" type="xs:string" />
        <xs:element name="GeneratedName" type="documentstatus" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectiongroup" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="documenttype" nillable="true" minOccurs="0" />
        <xs:element name="period" type="xs:dateTime" />
        <xs:element name="expiration" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exchange" >
      <xs:complexContent>
       <xs:extension base="document">
         <xs:sequence>
          <xs:element name="participantdomain" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="document" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="ptucontainer" nillable="true" minOccurs="0" />
        <xs:element name="sequence" type="xs:long" />
        <xs:element name="GeneratedName" type="connectiongroup" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptuflexoffer" >
      <xs:complexContent>
       <xs:extension base="exchange">
         <xs:sequence>
          <xs:element name="power" type="xs:anyType" />
          <xs:element name="price" type="xs:anyType" />
          <xs:element name="flexrequestsequence" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prognosissequence" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexordersettlement" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="period" type="xs:dateTime" />
        <xs:element name="sequence" type="xs:long" />
        <xs:element name="ptusettlements" type="ptusettlement" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="connectiongroup" nillable="true" minOccurs="0" />
        <xs:element name="flexorder" type="planboardmessage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="acknowledgementstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prognosistype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectiongroupstate" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="connectiongroup" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connection" nillable="true" minOccurs="0" />
        <xs:element name="validfrom" type="xs:dateTime" />
        <xs:element name="validuntil" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connection" >
      <xs:sequence>
        <xs:element name="entityaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptuflexorder" >
      <xs:complexContent>
       <xs:extension base="exchange">
         <xs:sequence>
          <xs:element name="flexoffersequence" type="xs:long" />
          <xs:element name="" type="acknowledgementstatus" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptuprognosis" >
      <xs:complexContent>
       <xs:extension base="exchange">
         <xs:sequence>
          <xs:element name="type" type="prognosistype" nillable="true" minOccurs="0" />
          <xs:element name="power" type="xs:anyType" />
          <xs:element name="substitute" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="connectiongroup" >
      <xs:sequence>
        <xs:element name="usefidentifier" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brpconnectiongroup" >
      <xs:complexContent>
       <xs:extension base="connectiongroup">
         <xs:sequence>
          <xs:element name="brpdomain" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="documentstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dispositionavailablerequested" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptucontainer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="documents" type="document" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ptu" type="xs:dateTime" />
        <xs:element name="ptuindex" type="xs:anyType" />
        <xs:element name="phase" type="phasetype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planboardmessageutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentstatusutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdataquerymessageutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptuutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="congestionpointconnectiongrouprepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<congestionpointconnectiongroup>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="planboardmessagerepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<planboardmessage>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptuprognosisrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<ptuprognosis>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="connectiongroupstaterepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<connectiongroupstate>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptuflexorderrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<ptuflexorder>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptusettlementrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<ptusettlement>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agrconnectiongrouprepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<agrconnectiongroup>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptuflexrequestrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<ptuflexrequest>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="connectiongrouprepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<connectiongroup>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptustaterepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<ptustate>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptuflexofferrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<ptuflexoffer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<connection>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexordersettlementrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<flexordersettlement>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="brpconnectiongrouprepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<brpconnectiongroup>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptucontainerrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<ptucontainer>">
         <xs:sequence>
          <xs:element name="ptu_offset_in_seconds" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptulistconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 