practice-kakaopay/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="kakaoseqgenerator" >
      <xs:sequence>
        <xs:element name="seqid" type="xs:long" />
        <xs:element name="sequencename" type="xs:string" />
        <xs:element name="nextval" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theme" >
      <xs:sequence>
        <xs:element name="themecode" type="xs:string" />
        <xs:element name="themename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="region" >
      <xs:sequence>
        <xs:element name="regioncode" type="xs:string" />
        <xs:element name="sidoname" type="xs:string" />
        <xs:element name="sggname" type="xs:string" />
        <xs:element name="emdname" type="xs:string" />
        <xs:element name="detailaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceregion" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="programcode" type="xs:string" />
        <xs:element name="regioncode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="programtheme" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="programcode" type="xs:string" />
        <xs:element name="themecode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="program" >
      <xs:sequence>
        <xs:element name="programcode" type="xs:string" />
        <xs:element name="programname" type="xs:string" />
        <xs:element name="programdesc" type="xs:string" />
        <xs:element name="programdetaildesc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 