learn-spring3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jsonasserttest" >
      <xs:sequence>
        <xs:element name="actualresponse" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembusinessservicemocktest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="iitembusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itembusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemapimocktest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="itembusinessservice" type="iitembusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helloapimocktest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockitoapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="somebusinessmocktest" >
      <xs:sequence>
        <xs:element name="business" type="somebusinessimpl" nillable="true" minOccurs="0" />
        <xs:element name="dataservice" type="somedataservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockitoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="somedataservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="somebusinessimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="somedataservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<item,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iitembusinessservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itemrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemapi" >
      <xs:sequence>
        <xs:element name="itembusinessservice" type="iitembusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helloapi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 