RestWithSpringBootUdemy1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="dozerconvertertest" >
      <xs:sequence>
        <xs:element name="inputobject" type="mockperson" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockperson" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcontroller" >
      <xs:sequence>
        <xs:element name="service" type="personservices" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="startup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservices" >
      <xs:sequence>
        <xs:element name="repository" type="personrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptionresponse" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="timestamp" type="xs:dateTime" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="details" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dozerconverter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 