JPA_Hibernate12/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="doctor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="speciality" type="xs:string" />
        <xs:element name="patients" type="patient" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="appointments" type="appointment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patient" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="GeneratedName" type="insurance" nillable="true" minOccurs="0" />
        <xs:element name="doctors" type="doctor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="appointments" type="appointment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appointment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="appointmenttime" type="xs:anyType" />
        <xs:element name="started" type="xs:anyType" />
        <xs:element name="ended" type="xs:anyType" />
        <xs:element name="reason" type="xs:string" />
        <xs:element name="GeneratedName" type="patient" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="doctor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 