lotto-server/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="gameservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="gamerepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="lottousagamegetterer" nillable="true" minOccurs="0" />
        <xs:element name="regex" type="xs:anyType" />
        <xs:element name="gamesize" type="xs:anyType" />
        <xs:element name="extramap" type="xs:anyType" />
        <xs:element name="bonusmap" type="xs:anyType" />
        <xs:element name="jackpotposition" type="xs:anyType" />
        <xs:element name="x" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="time" type="xs:long" />
        <xs:element name="cron" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lottoandroidapplication" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extra" >
      <xs:sequence>
        <xs:element name="text" type="xs:string" />
        <xs:element name="index" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lottogame" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="winningnumbers" type="xs:string" />
        <xs:element name="bonus" type="xs:string" />
        <xs:element name="extra" type="xs:string" />
        <xs:element name="extratext" type="xs:string" />
        <xs:element name="showgame" type="xs:anyType" />
        <xs:element name="jackpot" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="request" >
      <xs:sequence>
        <xs:element name="state" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="nameregex" type="xs:anyType" />
        <xs:element name="namegamesize" type="xs:anyType" />
        <xs:element name="nameextra" type="xs:anyType" />
        <xs:element name="namebonus" type="xs:anyType" />
        <xs:element name="jackpotposition" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameprimarykey" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="state" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wvservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nmservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lottousagamegetterer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vtservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="okservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ndservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="waservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="geet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tnservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="neservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dcservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mtservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nhservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wiservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ncservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tester" >
      <xs:sequence>
        <xs:element name="repo" type="gamerepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamerepo" >
      <xs:complexContent>
       <xs:extension base="crudrepository<lottogame,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 