lotto-server/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="lottogame" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="winningnumbers" type="xs:string" />
        <xs:element name="bonus" type="xs:string" />
        <xs:element name="extra" type="xs:string" />
        <xs:element name="extratext" type="xs:string" />
        <xs:element name="showgame" type="xs:anyType" />
        <xs:element name="jackpot" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 