JavaEE2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="actors" >
      <xs:sequence>
        <xs:element name="actorid" type="xs:long" />
        <xs:element name="actorname" type="xs:string" />
        <xs:element name="actorage" type="xs:long" />
        <xs:element name="moviedid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatemain3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 