s2container389/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="abc" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aaa" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bbb" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primarykeydescfactoryimpltest" >
      <xs:complexContent>
       <xs:extension base="hhh">
         <xs:sequence>
          <xs:element name="entitymetafactory" type="xs:anyType" />
          <xs:element name="primarykeydescfactory" type="primarykeydescfactoryimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foreignkeydescfactoryimpltest" >
      <xs:sequence>
        <xs:element name="propertymetafactory" type="xs:anyType" />
        <xs:element name="entitymetafactory" type="xs:anyType" />
        <xs:element name="foreignkeydescfactory" type="foreignkeydescfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columndescfactoryimpltest" >
      <xs:sequence>
        <xs:element name="propertymetafactory" type="xs:anyType" />
        <xs:element name="columndescfactory" type="columndescfactoryimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:string" />
        <xs:element name="trnsient" type="xs:string" />
        <xs:element name="relationship" type="aaa" nillable="true" minOccurs="0" />
        <xs:element name="customlength" type="xs:string" />
        <xs:element name="customdefinition" type="xs:string" />
        <xs:element name="customdefinitiondefault" type="xs:string" />
        <xs:element name="nullablereference" type="xs:anyType" />
        <xs:element name="nonnullablereference" type="xs:anyType" />
        <xs:element name="nonnullableprimitive" type="xs:long" />
        <xs:element name="nullableprimitive" type="xs:long" />
        <xs:element name="unique" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="identityid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabledescfactoryimpltest" >
      <xs:complexContent>
       <xs:extension base="eee">
         <xs:sequence>
          <xs:element name="entitymetafactory" type="xs:anyType" />
          <xs:element name="" type="tabledescfactory" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ccc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namesmodelfactoryimpltest" >
      <xs:sequence>
        <xs:element name="entitymetafactory" type="xs:anyType" />
        <xs:element name="namesmodelfactory" type="namesmodelfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicemodelfactoryimpltest" >
      <xs:sequence>
        <xs:element name="entitymetafactory" type="xs:anyType" />
        <xs:element name="namesmodelfactory" type="namesmodelfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conditionmodelfactoryimpltest" >
      <xs:sequence>
        <xs:element name="entitymetafactory" type="xs:anyType" />
        <xs:element name="conditionmodelfactory" type="conditionmodelfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ccc" >
      <xs:sequence>
        <xs:element name="/***/id1" type="xs:string" />
        <xs:element name="/***/id2" type="xs:anyType" />
        <xs:element name="/***/version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ddd" >
      <xs:sequence>
        <xs:element name="/***/name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aaa" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/name" type="xs:string" />
        <xs:element name="lob" type="xs:anyType" />
        <xs:element name="/***/" type="xs:dateTime" />
        <xs:element name="/***/temp" type="xs:string" />
        <xs:element name="/***/version" type="xs:anyType" />
        <xs:element name="/***/bbbid" type="xs:anyType" />
        <xs:element name="/***/" type="bbb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bbb" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/name" type="xs:string" />
        <xs:element name="/***/aaas" type="aaa" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fff" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eee" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hhh" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/id2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ccc" >
      <xs:sequence>
        <xs:element name="/***/id1" type="xs:anyType" />
        <xs:element name="/***/id2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ggg" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/id2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ddd" >
      <xs:sequence>
        <xs:element name="/***/name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bbb" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aaa" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/bbbid" type="xs:anyType" />
        <xs:element name="/***/" type="bbb" nillable="true" minOccurs="0" />
        <xs:element name="/***/bbb2id" type="xs:anyType" />
        <xs:element name="/***/2" type="bbb" nillable="true" minOccurs="0" />
        <xs:element name="/***/cccid1" type="xs:anyType" />
        <xs:element name="/***/cccid2" type="xs:anyType" />
        <xs:element name="/***/" type="ccc" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 