s2container224/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mockdatabasemetadata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbtablemetareaderimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bbb" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aaa" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymetareaderimpltest" >
      <xs:sequence>
        <xs:element name="rootdir" type="xs:anyType" />
        <xs:element name="packagename" type="xs:string" />
        <xs:element name="entitymetafactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abc" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fff" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eee" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hhh" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="id2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ccc" >
      <xs:sequence>
        <xs:element name="id1" type="xs:anyType" />
        <xs:element name="id2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ggg" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="id2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ddd" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bbb" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aaa" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="bbbid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bbb" nillable="true" minOccurs="0" />
        <xs:element name="bbb2id" type="xs:anyType" />
        <xs:element name="2" type="bbb" nillable="true" minOccurs="0" />
        <xs:element name="cccid1" type="xs:anyType" />
        <xs:element name="cccid2" type="xs:anyType" />
        <xs:element name="GeneratedName" type="ccc" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabledescfactoryimpltest" >
      <xs:sequence>
        <xs:element name="entitymetafactory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tabledescfactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columndescfactoryimpltest" >
      <xs:sequence>
        <xs:element name="propertymetafactory" type="xs:anyType" />
        <xs:element name="columndescfactory" type="columndescfactoryimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:string" />
        <xs:element name="trnsient" type="xs:string" />
        <xs:element name="relationship" type="aaa" nillable="true" minOccurs="0" />
        <xs:element name="customlength" type="xs:string" />
        <xs:element name="customdefinition" type="xs:string" />
        <xs:element name="nullablereference" type="xs:anyType" />
        <xs:element name="nonnullablereference" type="xs:anyType" />
        <xs:element name="nonnullableprimitive" type="xs:long" />
        <xs:element name="nullableprimitive" type="xs:long" />
        <xs:element name="unique" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uniquekeydescfactoryimpltest" >
      <xs:sequence>
        <xs:element name="factory" type="uniquekeydescfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributedescfactoryimpltest" >
      <xs:sequence>
        <xs:element name="factory" type="attributedescfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydescfactoryimpltest" >
      <xs:sequence>
        <xs:element name="factory" type="entitydescfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primarykeydescfactoryimpltest" >
      <xs:sequence>
        <xs:element name="entitymetafactory" type="xs:anyType" />
        <xs:element name="primarykeydescfactory" type="primarykeydescfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foreignkeydescfactoryimpltest" >
      <xs:sequence>
        <xs:element name="propertymetafactory" type="xs:anyType" />
        <xs:element name="entitymetafactory" type="xs:anyType" />
        <xs:element name="foreignkeydescfactory" type="foreignkeydescfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbcentitygencommandtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractentitygencommandtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityconditionmodelfactoryimpltest" >
      <xs:sequence>
        <xs:element name="factory" type="entityconditionmodelfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityconditionbasemodelfactoryimpltest" >
      <xs:sequence>
        <xs:element name="factory" type="entityconditionbasemodelfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymodelfactoryimpltest" >
      <xs:sequence>
        <xs:element name="factory" type="entitymodelfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitybasemodelfactoryimpltest" >
      <xs:sequence>
        <xs:element name="factory" type="entitybasemodelfactoryimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatorimpltest" >
      <xs:complexContent>
       <xs:extension base="generatorimpl">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractgentasktest" >
      <xs:complexContent>
       <xs:extension base="classloader">
         <xs:sequence>
          <xs:element name="commandclassname" type="xs:string" />
          <xs:element name="task" type="abstractgentask" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="standardgendialecttest" >
      <xs:sequence>
        <xs:element name="dialect" type="standardgendialect" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oraclegendialecttest" >
      <xs:sequence>
        <xs:element name="dialect" type="oraclegendialect" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gendialectmanagertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanutiltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatorimpltest_s2jdbc-entitybase" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="lob" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="temp" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatorimpltest_jpa-entity" >
      <xs:complexContent>
       <xs:extension base="abstractfoo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatorimpltest_jpa-entitybase" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="lob" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="temp" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatorimpltest_s2jdbc-entityconditionbase" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="name" type="xs:anyType" />
          <xs:element name="lob" type="xs:anyType" />
          <xs:element name="date" type="xs:anyType" />
          <xs:element name="temp" type="xs:anyType" />
          <xs:element name="version" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatorimpltest_s2jdbc-entitycondition" >
      <xs:complexContent>
       <xs:extension base="abstractfoocondition">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatorimpltest_s2jdbc-entity" >
      <xs:complexContent>
       <xs:extension base="abstractfoo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatorimpltest_s2jdbc-entitybase_compositeid" >
      <xs:sequence>
        <xs:element name="id1" type="xs:long" />
        <xs:element name="id2" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatorimpltest_hoge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbtablemetareaderimpl" >
      <xs:sequence>
        <xs:element name="/***データソース*/" type="xs:anyType" />
        <xs:element name="/***方言*/dialect" type="gendialect" nillable="true" minOccurs="0" />
        <xs:element name="schemaname" type="xs:string" />
        <xs:element name="tablenamepattern" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymetareaderimpl" >
      <xs:sequence>
        <xs:element name="rootdir" type="xs:anyType" />
        <xs:element name="packagename" type="xs:string" />
        <xs:element name="shortclassname" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymodelfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabledescfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbcolumnmeta" >
      <xs:sequence>
        <xs:element name="/***名前*/name" type="xs:string" />
        <xs:element name="/***sql型*/sqltype" type="xs:long" />
        <xs:element name="/***型名*/typename" type="xs:string" />
        <xs:element name="/***長さ*/length" type="xs:long" />
        <xs:element name="/***スケール*/scale" type="xs:long" />
        <xs:element name="/***null可能ならば{@codetrue}*/nullable" type="xs:anyType" />
        <xs:element name="/***主キーの場合{@codetrue}*/primarykey" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydesc" >
      <xs:sequence>
        <xs:element name="/***名前*/name" type="xs:string" />
        <xs:element name="/***テーブルの名前*/tablename" type="xs:string" />
        <xs:element name="/***複合識別子をもつならば{@codetrue}*/compositeid" type="xs:anyType" />
        <xs:element name="/***属性記述のリスト*/attributedesclist" type="attributedesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***識別子である属性記述のリスト*/idattributedesclist" type="attributedesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foreignkeydesc" >
      <xs:sequence>
        <xs:element name="/***カラム名のリスト*/columnnamelist" type="xs:anyType" />
        <xs:element name="/***参照されるテーブルのカタログ名*/referencedcatalogname" type="xs:string" />
        <xs:element name="/***参照されるテーブルのスキーマ名*/referencedschemaname" type="xs:string" />
        <xs:element name="/***参照されるテーブル名*/referencedtablename" type="xs:string" />
        <xs:element name="/***参照されるカラム名のリスト*/referencedcolumnnamelist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uniquekeydescfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityconditionbasemodelfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foreignkeydescfactoryimpl" >
      <xs:sequence>
        <xs:element name="/***エンティティメタデータのファクトリ*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columndescfactoryimpl" >
      <xs:sequence>
        <xs:element name="/***デフォルトのカラム*/default_" type="xs:anyType" />
        <xs:element name="/***方言*/dialect" type="gendialect" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uniquekeydescfactoryimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primarykeydescfactoryimpl" >
      <xs:sequence>
        <xs:element name="/***方言*/dialect" type="gendialect" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydescfactoryimpl" >
      <xs:sequence>
        <xs:element name="/***永続化層の命名規約*/" type="xs:anyType" />
        <xs:element name="/***属性記述のファクトリ*/" type="attributedescfactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabledescfactoryimpl" >
      <xs:sequence>
        <xs:element name="/***デフォルトのテーブル*/default_" type="xs:anyType" />
        <xs:element name="tabledescmap" type="xs:anyType" />
        <xs:element name="/***カラム記述のファクトリ*/" type="columndescfactory" nillable="true" minOccurs="0" />
        <xs:element name="/***主キー記述のファクトリ*/" type="primarykeydescfactory" nillable="true" minOccurs="0" />
        <xs:element name="/***外部キー記述のファクトリ*/" type="foreignkeydescfactory" nillable="true" minOccurs="0" />
        <xs:element name="/***一意キー記述のファクトリ*/" type="uniquekeydescfactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributedescfactoryimpl" >
      <xs:sequence>
        <xs:element name="/***永続化層の命名規約*/" type="xs:anyType" />
        <xs:element name="/***方言*/dialect" type="gendialect" nillable="true" minOccurs="0" />
        <xs:element name="/***バージョンカラム*/versioncolumn" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gendialect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generationcontext" >
      <xs:sequence>
        <xs:element name="/***エンコーディング*/encoding" type="xs:string" />
        <xs:element name="/***データモデル*/model" type="xs:anyType" />
        <xs:element name="/***生成するファイルのディレクトリ*/dir" type="xs:anyType" />
        <xs:element name="/***生成するファイル*/" type="xs:anyType" />
        <xs:element name="/***テンプレート名*/templatename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydescfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ddlgencommand" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaentitygencommand" >
      <xs:complexContent>
       <xs:extension base="abstractentitygencommand">
         <xs:sequence>
          <xs:element name="/***データソース名*/datasourcename" type="xs:string" />
          <xs:element name="/***方言名*/dialectname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2jdbcentitygencommand" >
      <xs:complexContent>
       <xs:extension base="abstractentitygencommand">
         <xs:sequence>
          <xs:element name="/***{@linkjdbcmanager}のコンポーネント名*/jdbcmanagername" type="xs:string" />
          <xs:element name="/***エンティティ条件クラスのパッケージ名*/entityconditionpackagename" type="xs:string" />
          <xs:element name="/***エンティティ条件基底クラスのパッケージ名*/entityconditionbasepackagename" type="xs:string" />
          <xs:element name="/***エンティティ条件クラス名のサフィックス*/entityconditionclassnamesuffix" type="xs:string" />
          <xs:element name="/***エンティティ条件基底クラス名のプレフィックス*/entityconditionbaseclassnameprefix" type="xs:string" />
          <xs:element name="/***エンティティ条件基底クラス名のサフィックス*/entityconditionbaseclassnamesuffix" type="xs:string" />
          <xs:element name="/***エンティティ条件クラスのテンプレート名*/entityconditiontemplatename" type="xs:string" />
          <xs:element name="/***エンティティ条件基底クラスのテンプレート名*/entityconditionbasetemplatename" type="xs:string" />
          <xs:element name="/***条件クラスを生成する場合{@codetrue}*/generatecondition" type="xs:anyType" />
          <xs:element name="/***{@linkentitycondition}のファクトリ*/" type="entityconditionmodelfactory" nillable="true" minOccurs="0" />
          <xs:element name="/***{@linkentityconditionbase}のファクトリ*/" type="entityconditionbasemodelfactory" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractentitygencommand" >
      <xs:sequence>
        <xs:element name="/***ロガー*/" type="xs:anyType" />
        <xs:element name="/***diconファイル*/diconfile" type="xs:string" />
        <xs:element name="/***ルートパッケージ名*/rootpackagename" type="xs:string" />
        <xs:element name="/***エンティティクラスのパッケージ名*/entitypackagename" type="xs:string" />
        <xs:element name="/***エンティティ基底クラスのパッケージ名*/entitybasepackagename" type="xs:string" />
        <xs:element name="/***エンティティ基底クラス名のプレフィックス*/entitybaseclassnameprefix" type="xs:string" />
        <xs:element name="/***生成するjavaファイルの出力先ディレクトリ*/destdir" type="xs:anyType" />
        <xs:element name="/***javaファイルのエンコーディング*/javafileencoding" type="xs:string" />
        <xs:element name="/***テンプレートファイルを格納するディレクトリ*/templatedir" type="xs:anyType" />
        <xs:element name="/***エンティティクラスのテンプレート名*/entitytemplatename" type="xs:string" />
        <xs:element name="/***エンティティ基底クラスのテンプレート名*/entitybasetemplatename" type="xs:string" />
        <xs:element name="/***テンプレートファイルのエンコーディング*/templatefileencoding" type="xs:string" />
        <xs:element name="/***スキーマ名*/schemaname" type="xs:string" />
        <xs:element name="/***正規表現で表されるテーブル名のパターン*/tablenamepattern" type="xs:string" />
        <xs:element name="/***バージョンカラムの名前*/versioncolumnname" type="xs:string" />
        <xs:element name="/***このインスタンスで{@linksingletons2containerfactory}が初期化されたら{@codetrue}*/initialized" type="xs:anyType" />
        <xs:element name="/***データソース*/" type="xs:anyType" />
        <xs:element name="/***方言*/dialect" type="gendialect" nillable="true" minOccurs="0" />
        <xs:element name="/***永続化層の命名規約*/" type="xs:anyType" />
        <xs:element name="/***スキーマのリーダ*/" type="dbtablemetareader" nillable="true" minOccurs="0" />
        <xs:element name="/***{@linkentitydesc}のファクトリ*/" type="entitydescfactory" nillable="true" minOccurs="0" />
        <xs:element name="/***ジェネレータ*/" type="generator" nillable="true" minOccurs="0" />
        <xs:element name="/***{@linkentitymodel}のファクトリ*/" type="entitymodelfactory" nillable="true" minOccurs="0" />
        <xs:element name="/***{@linkentitybasemodel}のファクトリ*/" type="entitybasemodelfactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymodel" >
      <xs:complexContent>
       <xs:extension base="abstractentitymodel">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tabledesc" >
      <xs:sequence>
        <xs:element name="/***カタログ名*/catalogname" type="xs:string" />
        <xs:element name="/***スキーマ名*/schemaname" type="xs:string" />
        <xs:element name="/***名前*/name" type="xs:string" />
        <xs:element name="/***カラム記述のリスト*/columndesclist" type="columndesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***主キー記述のリスト*/" type="primarykeydesc" nillable="true" minOccurs="0" />
        <xs:element name="/***外部キー記述のリスト*/foreignekeydesclist" type="foreignkeydesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***一意記述のリスト*/uniquekeydesclist" type="uniquekeydesc" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequencedesc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbtablemeta" >
      <xs:sequence>
        <xs:element name="/***名前*/name" type="xs:string" />
        <xs:element name="/***スキーマ名*/schema" type="xs:string" />
        <xs:element name="/***カラムのメタデータのリスト*/columnmetalist" type="dbcolumnmeta" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributedesc" >
      <xs:sequence>
        <xs:element name="/***名前*/name" type="xs:string" />
        <xs:element name="/***属性のクラス*/attributeclass" type="xs:anyType" />
        <xs:element name="/***識別子であれば{@codetrue}*/id" type="xs:anyType" />
        <xs:element name="/***時制の種別*/" type="xs:anyType" />
        <xs:element name="/***バージョンであれば{@codetrue}*/version" type="xs:anyType" />
        <xs:element name="/***一時的であれば{@codetrue}*/trnsient" type="xs:anyType" />
        <xs:element name="/***{@codelob}であれば{@codetrue}*/lob" type="xs:anyType" />
        <xs:element name="/***カラムの名前*/columnname" type="xs:string" />
        <xs:element name="/***{@codenull}可能ならば{@codetrue}*/nullable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbcentitygentask" >
      <xs:complexContent>
       <xs:extension base="abstractentitygentask">
         <xs:sequence>
          <xs:element name="/***{@linkjdbcmanager}のコンポーネント名*/jdbcmanagername" type="xs:string" />
          <xs:element name="/***エンティティ条件クラスのパッケージ名*/entityconditionpackagename" type="xs:string" />
          <xs:element name="/***エンティティ条件基底クラスのパッケージ名*/entityconditionbasepackagename" type="xs:string" />
          <xs:element name="/***エンティティ条件クラス名のサフィックス*/entityconditionclassnamesuffix" type="xs:string" />
          <xs:element name="/***エンティティ条件基底クラス名のプレフィックス*/entityconditionbaseclassnameprefix" type="xs:string" />
          <xs:element name="/***エンティティ条件基底クラス名のサフィックス*/entityconditionbaseclassnamesuffix" type="xs:string" />
          <xs:element name="/***エンティティ条件クラスのテンプレート名*/entityconditiontemplatename" type="xs:string" />
          <xs:element name="/***エンティティ条件基底クラスのテンプレート名*/entityconditionbasetemplatename" type="xs:string" />
          <xs:element name="/***条件クラスを生成する場合{@codetrue}*/generatecondition" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genschematask" >
      <xs:complexContent>
       <xs:extension base="abstractgentask">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaentitygentask" >
      <xs:complexContent>
       <xs:extension base="abstractentitygentask">
         <xs:sequence>
          <xs:element name="/***データソース名*/datasourcename" type="xs:string" />
          <xs:element name="/***方言名*/dialectname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractgentask" >
      <xs:complexContent>
       <xs:extension base="task">
         <xs:sequence>
          <xs:element name="/***コマンドクラスのインタフェースの名前*/command_interface_name" type="xs:string" />
          <xs:element name="/***このタスクから実行するコマンドクラスの名前*/commandclassname" type="xs:string" />
          <xs:element name="/***クラスパス*/class" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractentitygentask" >
      <xs:complexContent>
       <xs:extension base="abstractgentask">
         <xs:sequence>
          <xs:element name="/***diconファイル*/diconfile" type="xs:string" />
          <xs:element name="/***ルートパッケージ名*/rootpackagename" type="xs:string" />
          <xs:element name="/***エンティティパッケージ名*/entitypackagename" type="xs:string" />
          <xs:element name="/***エンティティ基底クラスのパッケージ名*/entitybasepackagename" type="xs:string" />
          <xs:element name="/***エンティティ基底クラス名のプレフィックス*/entitybaseclassnameprefix" type="xs:string" />
          <xs:element name="/***テンプレートファイルを格納するディレクトリ*/templatedir" type="xs:anyType" />
          <xs:element name="/***エンティティクラスのテンプレート名*/entitytemplatename" type="xs:string" />
          <xs:element name="/***エンティティ基底クラスのテンプレート名*/entitybasetemplatename" type="xs:string" />
          <xs:element name="/***テンプレートファイルのエンコーディング*/templatefileencoding" type="xs:string" />
          <xs:element name="/***生成するjavaファイルの出力先ディレクトリ*/destdir" type="xs:anyType" />
          <xs:element name="/***javaファイルのエンコーディング*/javafileencoding" type="xs:string" />
          <xs:element name="/***スキーマの名前*/schemaname" type="xs:string" />
          <xs:element name="/***バージョン用カラムの名前*/versioncolumnname" type="xs:string" />
          <xs:element name="/***テーブル名のパターン*/tablenamepattern" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columndescfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitybasemodel" >
      <xs:complexContent>
       <xs:extension base="abstractentitymodel">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gencommand" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columndesc" >
      <xs:sequence>
        <xs:element name="/***名前*/name" type="xs:string" />
        <xs:element name="/***定義*/definition" type="xs:string" />
        <xs:element name="/***{@codenull}可能ならば{@codetrue}*/nullable" type="xs:anyType" />
        <xs:element name="/***一意ならば{@codetrue}*/unique" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributedescfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foreignkeydescfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateruntimeexception" >
      <xs:complexContent>
       <xs:extension base="sruntimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datatype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitybasemodelfactoryimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymodelfactoryimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityconditionbasemodelfactoryimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityconditionmodelfactoryimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymetareader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityconditionmodelfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="closeableutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configurationutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitybasemodelfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primarykeydescfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uniquekeydesc" >
      <xs:sequence>
        <xs:element name="/***カラム名のリスト*/columnnamelist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oraclegendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mysqlgendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="db2400gendialect" >
      <xs:complexContent>
       <xs:extension base="db2390gendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="h2gendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="postgre81gendialect" >
      <xs:complexContent>
       <xs:extension base="postgregendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mssql2005gendialect" >
      <xs:complexContent>
       <xs:extension base="mssqlgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mssqlgendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="derbygendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="db2gendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gendialectmanager" >
      <xs:sequence>
        <xs:element name="db2_390" type="db2390gendialect" nillable="true" minOccurs="0" />
        <xs:element name="db2_400" type="db2400gendialect" nillable="true" minOccurs="0" />
        <xs:element name="db2" type="db2gendialect" nillable="true" minOccurs="0" />
        <xs:element name="derby" type="derbygendialect" nillable="true" minOccurs="0" />
        <xs:element name="firebird" type="firebirdgendialect" nillable="true" minOccurs="0" />
        <xs:element name="h2" type="h2gendialect" nillable="true" minOccurs="0" />
        <xs:element name="hsql" type="hsqlgendialect" nillable="true" minOccurs="0" />
        <xs:element name="interbase" type="interbasegendialect" nillable="true" minOccurs="0" />
        <xs:element name="maxdb" type="maxdbgendialect" nillable="true" minOccurs="0" />
        <xs:element name="mssql_2005" type="mssql2005gendialect" nillable="true" minOccurs="0" />
        <xs:element name="mssql" type="mssqlgendialect" nillable="true" minOccurs="0" />
        <xs:element name="mysql" type="mysqlgendialect" nillable="true" minOccurs="0" />
        <xs:element name="oracle" type="oraclegendialect" nillable="true" minOccurs="0" />
        <xs:element name="postgre" type="postgregendialect" nillable="true" minOccurs="0" />
        <xs:element name="postgre81" type="postgre81gendialect" nillable="true" minOccurs="0" />
        <xs:element name="sybase" type="sybasegendialect" nillable="true" minOccurs="0" />
        <xs:element name="standard" type="standardgendialect" nillable="true" minOccurs="0" />
        <xs:element name="dialectmap" type="xs:anyType" />
        <xs:element name="nameddialectmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="standardgendialect" >
      <xs:sequence>
        <xs:element name="javatypemap" type="xs:anyType" />
        <xs:element name="datatypemap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hsqlgendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="maxdbgendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sybasegendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="firebirdgendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="interbasegendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="db2390gendialect" >
      <xs:complexContent>
       <xs:extension base="db2gendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="postgregendialect" >
      <xs:complexContent>
       <xs:extension base="standardgendialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityconditionmodel" >
      <xs:complexContent>
       <xs:extension base="abstractentitymodel">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatorimpl" >
      <xs:sequence>
        <xs:element name="/***ロガー*/" type="xs:anyType" />
        <xs:element name="/***freemarkerの設定*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primarykeydesc" >
      <xs:sequence>
        <xs:element name="/***{@linkgenerationtype#identity}で識別子が生成される場合{@codetrue}*/identity" type="xs:anyType" />
        <xs:element name="/***カラム名のリスト*/columnnamelist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbtablemetareader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityconditionbasemodel" >
      <xs:complexContent>
       <xs:extension base="abstractentitymodel">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractentitymodel" >
      <xs:sequence>
        <xs:element name="packagename" type="xs:string" />
        <xs:element name="importpackagenameset" type="xs:anyType" />
        <xs:element name="classname" type="xs:string" />
        <xs:element name="shortclassname" type="xs:string" />
        <xs:element name="baseclassname" type="xs:string" />
        <xs:element name="shortbaseclassname" type="xs:string" />
        <xs:element name="GeneratedName" type="entitydesc" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbcgenmessages_ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2jdbc-gen-task" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 