j_ee_students_system/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-multiselect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminusersservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminusersservice_1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="result" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="robots" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="docker-compose" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="robots" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.fileupload-ui" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo-ie8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="style" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.fileupload-ui-noscript" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.fileupload-noscript" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helpers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentsubmitform" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentsbydisciplinepage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateheader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticatedusernavigation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginformdialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateuserprofileform" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="welcomemessagenotlogged" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminwelcomepage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notauthorizeddialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminnavigation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systeminitializer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userroledatamanager" >
      <xs:complexContent>
       <xs:extension base="basicdatamanager<userrole>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lecturerdatamanager" >
      <xs:complexContent>
       <xs:extension base="basicdatamanager<lecturer>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicdatamanager" >
      <xs:sequence>
        <xs:element name="entityclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrightdatamanager" >
      <xs:complexContent>
       <xs:extension base="basicdatamanager<userright>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignmentsolutiondatamanager" >
      <xs:complexContent>
       <xs:extension base="basicdatamanager<assignmentsolution>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="disciplinedatamanager" >
      <xs:complexContent>
       <xs:extension base="basicdatamanager<discipline>{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specialitydatamanager" >
      <xs:complexContent>
       <xs:extension base="basicdatamanager<speciality>{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdatamanager" >
      <xs:complexContent>
       <xs:extension base="basicdatamanager<user>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studentdatamanager" >
      <xs:complexContent>
       <xs:extension base="basicdatamanager<student>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="degreedatamanager" >
      <xs:complexContent>
       <xs:extension base="basicdatamanager<degree>{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignmentdatamanager" >
      <xs:complexContent>
       <xs:extension base="basicdatamanager<assignment>{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignmentresource" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="attachedfile" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="creationtime" type="xs:string" />
        <xs:element name="starttime" type="xs:string" />
        <xs:element name="endtime" type="xs:string" />
        <xs:element name="GeneratedName" type="disciplineresource" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="disciplineresource" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="disciplinename" type="xs:string" />
        <xs:element name="GeneratedName" type="specialityresource" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specialityanddisciplinesinitresource" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="specialityname" type="xs:string" />
        <xs:element name="disciplines" type="disciplineresource" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentsbydisciplineandspecialityresource" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="specialityresource" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="disciplineresource" nillable="true" minOccurs="0" />
        <xs:element name="assignmentsresources" type="assignmentresource" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userroleresource" >
      <xs:sequence>
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="roletitle" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userresource" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="GeneratedName" type="personname" nillable="true" minOccurs="0" />
        <xs:element name="isactivated" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="degreeresource" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="degreename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usernotembeddedresource" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="isactivated" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specialityresource" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="specialityname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanvalidationexceptionhadler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specialitiesadministrationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specialitydatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systemsecuritymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersadministrationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studentdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="lecturerdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="degreedatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="disciplinedatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userroledatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specialitydatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systemsecuritymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentsadministrationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userroledatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specialitydatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="disciplinedatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="assignmentdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systemsecuritymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="disciplinesadministrationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="disciplinedatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specialitydatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systemsecuritymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specialitiesservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specialitydatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systemsecuritymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileuploadservice" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="systemsecuritymanager" nillable="true" minOccurs="0" />
          <xs:element name="" type="userdatamanager" nillable="true" minOccurs="0" />
          <xs:element name="" type="assignmentdatamanager" nillable="true" minOccurs="0" />
          <xs:element name="" type="assignmentsolutiondatamanager" nillable="true" minOccurs="0" />
          <xs:element name="" type="usersessiondata" nillable="true" minOccurs="0" />
          <xs:element name="file_upload_directory" type="xs:string" />
          <xs:element name="max_file_size" type="xs:long" />
          <xs:element name="assignments_attachements_directory" type="xs:string" />
          <xs:element name="assignments_solutions_directory" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="disciplinesservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="disciplinedatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specialitydatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systemsecuritymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="degreedatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systemsecuritymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userroledatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specialitydatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="disciplinedatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="assignmentdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systemsecuritymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationconfig" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="validationerrorresponse" >
      <xs:sequence>
        <xs:element name="validationerrors" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticationrequestfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="systemsecuritymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usersessiondata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validpartofname" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="validusername" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usersessiondata" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="sessionid" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemsecuritymanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdatamanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrightdatamanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lecturer" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="information" type="xs:string" />
          <xs:element name="degrees" type="degree" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="disciplines" type="discipline" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="assignmentssolutionsgraded" type="assignmentsolution" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="max_information_size" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignmentsolution" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="assignment" nillable="true" minOccurs="0" />
        <xs:element name="submittedby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="gradedby" type="lecturer" nillable="true" minOccurs="0" />
        <xs:element name="creationtime" type="xs:dateTime" />
        <xs:element name="timesubmitted" type="xs:dateTime" />
        <xs:element name="solutiontext" type="xs:string" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="mark" type="xs:double" />
        <xs:element name="max_file_name_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userright" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="rightname" type="xs:string" />
        <xs:element name="rolesallowed" type="userrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discipline" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="disciplinename" type="xs:string" />
        <xs:element name="//" type="speciality" nillable="true" minOccurs="0" />
        <xs:element name="lecturers" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="assignments" type="assignment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="min_discipline_name_size" type="xs:long" />
        <xs:element name="max_discipline_name_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="roles" type="userrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="personname" nillable="true" minOccurs="0" />
        <xs:element name="isactivated" type="xs:anyType" />
        <xs:element name="min_username_size" type="xs:long" />
        <xs:element name="min_password_size" type="xs:long" />
        <xs:element name="min_email_size" type="xs:long" />
        <xs:element name="max_username_size" type="xs:long" />
        <xs:element name="max_password_size" type="xs:long" />
        <xs:element name="max_email_size" type="xs:long" />
        <xs:element name="max_user_type_size" type="xs:long" />
        <xs:element name="number_of_user_types" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="speciality" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="specialityname" type="xs:string" />
        <xs:element name="students" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="disciplines" type="discipline" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="max_speciality_name_size" type="xs:long" />
        <xs:element name="min_speciality_name_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="degree" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="degreename" type="xs:string" />
        <xs:element name="lecturers" type="lecturer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="min_degree_name_size" type="xs:long" />
        <xs:element name="max_degree_name_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personname" >
      <xs:sequence>
        <xs:element name="//@validpartofnamefirstname" type="xs:string" />
        <xs:element name="//@validpartofname(message" type="xs:string" />
        <xs:element name="//@validpartofname(message" type="xs:string" />
        <xs:element name="max_first_name_size" type="xs:long" />
        <xs:element name="max_surname_size" type="xs:long" />
        <xs:element name="max_last_name_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrole" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="roletitle" type="xs:string" />
        <xs:element name="max_user_role_name_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="attachedfile" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="creationtime" type="xs:dateTime" />
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="discipline" nillable="true" minOccurs="0" />
        <xs:element name="assignmentsolution" type="assignmentsolution" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="min_title_size" type="xs:long" />
        <xs:element name="min_file_name_size" type="xs:long" />
        <xs:element name="max_title_size" type="xs:long" />
        <xs:element name="max_file_name_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="facultynumber" type="xs:string" />
          <xs:element name="specialities" type="speciality" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="assignmentssolutionssubmitted" type="assignmentsolution" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="max_faculty_number_size" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validationmessages" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 