rewardpoint2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="replydao" >
      <xs:complexContent>
       <xs:extension base="jparepository<reply,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="problemdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<problem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="replyservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="replydao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="problemservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="problemdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="baseclient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseclientimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="problem" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="visits" type="xs:long" />
        <xs:element name="thumbup" type="xs:long" />
        <xs:element name="reply" type="xs:long" />
        <xs:element name="solve" type="xs:string" />
        <xs:element name="replyname" type="xs:string" />
        <xs:element name="replytime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reply" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="problemid" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtinterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptorconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigurationsupport">
         <xs:sequence>
          <xs:element name="" type="jwtinterceptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="problemcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="problemservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="replyservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appqa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 