rewardpoint2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="problem" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="visits" type="xs:long" />
        <xs:element name="thumbup" type="xs:long" />
        <xs:element name="reply" type="xs:long" />
        <xs:element name="solve" type="xs:string" />
        <xs:element name="replyname" type="xs:string" />
        <xs:element name="replytime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reply" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="problemid" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 