openJPA9/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountdatabean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/*accessormethodsforpersistentfields*/accountid" type="xs:anyType" />
        <xs:element name="/*accountid*/logincount" type="xs:long" />
        <xs:element name="/*logincount*/logoutcount" type="xs:long" />
        <xs:element name="/*logoutcount*/lastlogin" type="xs:dateTime" />
        <xs:element name="/*lastlogin*/creation" type="xs:dateTime" />
        <xs:element name="/*creationdate*/balance" type="xs:anyType" />
        <xs:element name="/*balance*/openbalance" type="xs:anyType" />
        <xs:element name="/*openbalance*/orders" type="orderdatabean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="holdings" type="holdingdatabean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="profile" type="accountprofiledatabean" nillable="true" minOccurs="0" />
        <xs:element name="//@version//integeroptlock/*accessormethodsforrelationshipfieldsareonlyincludedfortheaccountprofileprofileid*/profileid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tradejpadirect" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="zero" type="xs:anyType" />
        <xs:element name="initialized" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="_poolem" type="xs:anyType" />
        <xs:element name="_em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tradescenario" >
      <xs:sequence>
        <xs:element name="taction" type="tradeaction" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountprofiledatabean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/*accessormethodsforpersistentfields*/userid" type="xs:string" />
        <xs:element name="/*userid*/passwd" type="xs:string" />
        <xs:element name="/*password*/fullname" type="xs:string" />
        <xs:element name="/*fullname*/address" type="xs:string" />
        <xs:element name="/*address*/email" type="xs:string" />
        <xs:element name="/*email*/creditcard" type="xs:string" />
        <xs:element name="/*creditcard*/account" type="accountdatabean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdaytrader" >
      <xs:complexContent>
       <xs:extension base="abstractpersistencetestcase">
         <xs:sequence>
          <xs:element name="test_users" type="xs:long" />
          <xs:element name="emf" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="trade" type="tradeaction" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="marketsummarydatabean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="tsia" type="xs:anyType" />
        <xs:element name="/*tradestockindexaverage*/opentsia" type="xs:anyType" />
        <xs:element name="/*tradestockindexaverageattheopen*/volume" type="xs:double" />
        <xs:element name="/*volumeofsharestraded*/topgainers" type="xs:anyType" />
        <xs:element name="/*oftopgainingstocks*/toplosers" type="xs:anyType" />
        <xs:element name="/*collectionoftoplosingstocks*///futurecollection	topvolume		/*collectionoftopstocksbyvolume*/summary" type="xs:dateTime" />
        <xs:element name="/*datethissummarywastaken*///cachethegainpercentoncecomputedforthisbeangainpercent" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tradeaction" >
      <xs:complexContent>
       <xs:extension base="tradejpadirect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tradebuilddb" >
      <xs:sequence>
        <xs:element name="trade" type="tradeaction" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="holdingdatabean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/*persistent/relationshipfields*/holdingid" type="xs:anyType" />
        <xs:element name="/*holdingid*/quantity" type="xs:double" />
        <xs:element name="/*quantity*/purchaseprice" type="xs:anyType" />
        <xs:element name="/*purchaseprice*/purchase" type="xs:dateTime" />
        <xs:element name="/*purchasedate*/quoteid" type="xs:string" />
        <xs:element name="quote(1)*/account" type="accountdatabean" nillable="true" minOccurs="0" />
        <xs:element name="quote" type="quotedatabean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quotedatabean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/*accessormethodsforpersistentfields*/symbol" type="xs:string" />
        <xs:element name="/*symbol*/companyname" type="xs:string" />
        <xs:element name="/*companyname*/volume" type="xs:double" />
        <xs:element name="/*volume*/price" type="xs:anyType" />
        <xs:element name="/*price*/open1" type="xs:anyType" />
        <xs:element name="/*open1price*/low" type="xs:anyType" />
        <xs:element name="/*lowprice*/high" type="xs:anyType" />
        <xs:element name="/*highprice*/change1" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdatabean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="/*orderid*/ordertype" type="xs:string" />
        <xs:element name="/*ordertype(buy,sell,etc.)*/orderstatus" type="xs:string" />
        <xs:element name="/*orderstatus(open,processing,completed,closed,cancelled)*/open" type="xs:dateTime" />
        <xs:element name="/*open(whentheorderwasentered)*/completion" type="xs:dateTime" />
        <xs:element name="/*completiondate*/quantity" type="xs:double" />
        <xs:element name="/*quantity*/price" type="xs:anyType" />
        <xs:element name="/*price*/orderfee" type="xs:anyType" />
        <xs:element name="/*price*/account" type="accountdatabean" nillable="true" minOccurs="0" />
        <xs:element name="quote" type="quotedatabean" nillable="true" minOccurs="0" />
        <xs:element name="//causeselloperationfailed,seejiradaytrader-63fordetails.//@transientholding" type="holdingdatabean" nillable="true" minOccurs="0" />
        <xs:element name="//@version//integeroptlock/*fieldsforrelationshipfieldsarenotkeptinthedatabean*/symbol" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tradeconfig" >
      <xs:sequence>
        <xs:element name="//addedbyopenjpa" type="xs:anyType" />
        <xs:element name="/*traderuntimeconfigurationparameters*/unknown" type="xs:long" />
        <xs:element name="runtimemodenames" type="xs:string" />
        <xs:element name="ejb3" type="xs:long" />
        <xs:element name="direct" type="xs:long" />
        <xs:element name="session3" type="xs:long" />
        <xs:element name="jdbc" type="xs:long" />
        <xs:element name="jpa" type="xs:long" />
        <xs:element name="runtimemode" type="xs:long" />
        <xs:element name="jpalayernames" type="xs:string" />
        <xs:element name="openjpa" type="xs:long" />
        <xs:element name="hibernate" type="xs:long" />
        <xs:element name="jpalayer" type="xs:long" />
        <xs:element name="orderprocessingmodenames" type="xs:string" />
        <xs:element name="synch" type="xs:long" />
        <xs:element name="asynch_2phase" type="xs:long" />
        <xs:element name="orderprocessingmode" type="xs:long" />
        <xs:element name="accessmodenames" type="xs:string" />
        <xs:element name="standard" type="xs:long" />
        <xs:element name="webservices" type="xs:long" />
        <xs:element name="accessmode" type="xs:long" />
        <xs:element name="workloadmixnames" type="xs:string" />
        <xs:element name="scenariomix_standard" type="xs:long" />
        <xs:element name="scenariomix_highvolume" type="xs:long" />
        <xs:element name="workloadmix" type="xs:long" />
        <xs:element name="webinterfacenames" type="xs:string" />
        <xs:element name="jsp" type="xs:long" />
        <xs:element name="jsp_images" type="xs:long" />
        <xs:element name="weberface" type="xs:long" />
        <xs:element name="cachingtypenames" type="xs:string" />
        <xs:element name="distributedmap" type="xs:long" />
        <xs:element name="command_caching" type="xs:long" />
        <xs:element name="no_caching" type="xs:long" />
        <xs:element name="cachingtype" type="xs:long" />
        <xs:element name="/*tradedatabasescalingparameters*/max_users" type="xs:long" />
        <xs:element name="max_quotes" type="xs:long" />
        <xs:element name="/*tradedatabasespecificparamters*/jdbc_uid" type="xs:string" />
        <xs:element name="jdbc_pwd" type="xs:string" />
        <xs:element name="ds_name" type="xs:string" />
        <xs:element name="/*tradesoapspecificparameters*/soapurl" type="xs:string" />
        <xs:element name="/*tradexadatasourcespecificparameters*/jdbcdriverneedsglobaltransaction" type="xs:anyType" />
        <xs:element name="/*tradeconfigmiscellaneousitmes*/datasource" type="xs:string" />
        <xs:element name="keyblocksize" type="xs:long" />
        <xs:element name="quotes_per_page" type="xs:long" />
        <xs:element name="rnd_user" type="xs:anyType" />
        <xs:element name="//public		rnd_seed" type="xs:long" />
        <xs:element name="count" type="xs:long" />
        <xs:element name="userid_count_semaphore" type="xs:anyType" />
        <xs:element name="userid_count" type="xs:long" />
        <xs:element name="hostname" type="xs:string" />
        <xs:element name="r0" type="xs:anyType" />
        <xs:element name="//r1" type="xs:anyType" />
        <xs:element name="newuserprefix" type="xs:string" />
        <xs:element name="verifypercent" type="xs:long" />
        <xs:element name="trace" type="xs:anyType" />
        <xs:element name="actiontrace" type="xs:anyType" />
        <xs:element name="updatequoteprices" type="xs:anyType" />
        <xs:element name="primiterations" type="xs:long" />
        <xs:element name="longrun" type="xs:anyType" />
        <xs:element name="publishquotepricechange" type="xs:anyType" />
        <xs:element name="0meansnumberofsecondsbetweensummaries.thesewillbe*synchronizedsoonlyonetransactioninthisperiodwillcreateasummaryand*willcacheitsresults.*/marketsummaryerval" type="xs:long" />
        <xs:element name="/*	*pennystocksisaproblemwheretherandompricechangefactorgetsastock	*downto$.01.inthiscasetradejumpstartsthepricebackto$6.00to	*keepthemathinteresting.	*/penny_stock_price" type="xs:anyType" />
        <xs:element name="penny_stock_recovery_miracle_multiplier" type="xs:anyType" />
        <xs:element name="/*cjb(daytrader-25)-alsoneedtoimposeaceilingonthequotepricetoensure	*preventaccountandholdingbalancesfromexceedingthedatabasesdecimalprecision.	*atsomepoint,thismaximumvaluecanbeusedtotriggerastocksplit.	*/maximum_stock_price" type="xs:anyType" />
        <xs:element name="maximum_stock_split_multiplier" type="xs:anyType" />
        <xs:element name="/*tradescenarioactionsmixes.eachofthearrayrowsrepresentsaspecifictradescenariomix.	thecolumnsgivethepercentagesforeachactioninthecolumnheader.note:"login"isalways0.	logoutrepresentsbothloginandlogout(becauseeachlogoutoperationwillcauseanewloginwhen	theusercontextattemptsthenextaction.	*//*tradescenarioworkloadparameters*/home_op" type="xs:long" />
        <xs:element name="quote_op" type="xs:long" />
        <xs:element name="login_op" type="xs:long" />
        <xs:element name="logout_op" type="xs:long" />
        <xs:element name="register_op" type="xs:long" />
        <xs:element name="account_op" type="xs:long" />
        <xs:element name="portfolio_op" type="xs:long" />
        <xs:element name="buy_op" type="xs:long" />
        <xs:element name="sell_op" type="xs:long" />
        <xs:element name="updateaccount_op" type="xs:long" />
        <xs:element name="scenariomixes" type="xs:long" />
        <xs:element name="actions" type="xs:anyType" />
        <xs:element name="selldeficit" type="xs:long" />
        <xs:element name="//tracksthenumberofbuysoversellwhenausersportfolioisempty//usedtomaainthecorrectratioofbuys/sells/*jsppagesforalltradeactions*/welcome_page" type="xs:long" />
        <xs:element name="register_page" type="xs:long" />
        <xs:element name="portfolio_page" type="xs:long" />
        <xs:element name="quote_page" type="xs:long" />
        <xs:element name="home_page" type="xs:long" />
        <xs:element name="account_page" type="xs:long" />
        <xs:element name="order_page" type="xs:long" />
        <xs:element name="config_page" type="xs:long" />
        <xs:element name="stats_page" type="xs:long" />
        <xs:element name="webui" type="xs:string" />
        <xs:element name="//thesearethepropertysettingsthevajaccessbeanslookfor.nameservice_type_property" type="xs:string" />
        <xs:element name="nameservice_provider_url_property" type="xs:string" />
        <xs:element name="scenariocount" type="xs:long" />
        <xs:element name="orderfee" type="xs:anyType" />
        <xs:element name="cashfee" type="xs:anyType" />
        <xs:element name="one" type="xs:anyType" />
        <xs:element name="//tradeimplementsacarddeckapproachtoselecting//usersfortradingwithtradescenarioservletdeck" type="xs:anyType" />
        <xs:element name="card" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 