mvnPlance/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mytheme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="old_user_dummy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icon_" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="1.cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="9.cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="6.cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="7.cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="8.cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="4.cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="3.cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="5.cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="00c5f268fa44c9bf3c55cf0dbb386c34.cache" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="7d61211544caa6067611fe9dd2842785.cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compilation-mappings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="celebration" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="c_id" type="xs:long" />
        <xs:element name="cname" type="xs:string" />
        <xs:element name="fkuserorganizer" type="xs:long" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="category" nillable="true" minOccurs="0" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="location" nillable="true" minOccurs="0" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="motto" nillable="true" minOccurs="0" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="timeinfo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="location_id" type="xs:long" />
        <xs:element name="capacity" type="xs:long" />
        <xs:element name="publicity" type="xs:anyType" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="address" nillable="true" minOccurs="0" />
        <xs:element name="//bi-directionalmany-to-manyassociationtotagtags" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="timeinfo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeinfo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="ts_id" type="xs:long" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invite" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="invitepk" nillable="true" minOccurs="0" />
        <xs:element name="participatin" type="xs:anyType" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="celebration" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="motto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="mottoname" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-manyassociationtotagtags" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tag" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="tagname" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-manyassociationtolocationlocations" type="location" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//bi-directionalmany-to-manyassociationtomottomottos" type="motto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="person_personid" type="xs:long" />
        <xs:element name="oauth" type="xs:anyType" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="//uni-directionalone-to-oneassociationto" type="person" nillable="true" minOccurs="0" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="timeinfo" nillable="true" minOccurs="0" />
        <xs:element name="organizedcelebrations" type="celebration" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="friends" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invitepk" >
      <xs:sequence>
        <xs:element name="//defaultserialversionid,requiredforserializableclasses.serialversionuid" type="xs:long" />
        <xs:element name="celebrationid" type="xs:long" />
        <xs:element name="personid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paidobject" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="poid" type="xs:long" />
        <xs:element name="amount" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="reflink" type="xs:string" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="celebration" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="paymentoption" type="xs:string" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="paidobject" nillable="true" minOccurs="0" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="personid" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pseodo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="address_id" type="xs:long" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="number" type="xs:long" />
        <xs:element name="postcode" type="xs:long" />
        <xs:element name="street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="startview" >
      <xs:complexContent>
       <xs:extension base="window">
         <xs:sequence>
          <xs:element name="horizon" type="horizontalaccordion" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="horizontalaccordion" >
      <xs:complexContent>
       <xs:extension base="panel">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="panel" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mearea" >
      <xs:complexContent>
       <xs:extension base="verticallayout">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="verticalmenu" >
      <xs:complexContent>
       <xs:extension base="verticallayout">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="buttons" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contentcontainer" >
      <xs:complexContent>
       <xs:extension base="verticallayout">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="width" type="xs:double" />
          <xs:element name="img_standardsize" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contenthome" >
      <xs:complexContent>
       <xs:extension base="verticallayout">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="pagewidth" type="xs:long" />
          <xs:element name="pageheight" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baselayout" >
      <xs:complexContent>
       <xs:extension base="horizontalsplitpanel">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="" type="mearea" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="newuserview" >
      <xs:complexContent>
       <xs:extension base="window">
         <xs:sequence>
          <xs:element name="tf_name" type="xs:anyType" />
          <xs:element name="tf_lastname" type="xs:anyType" />
          <xs:element name="tf_username" type="xs:anyType" />
          <xs:element name="tf_email" type="xs:anyType" />
          <xs:element name="tf_email_repeat" type="xs:anyType" />
          <xs:element name="tf_password" type="xs:anyType" />
          <xs:element name="tf_password_repeat" type="xs:anyType" />
          <xs:element name="bt_register" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="slot" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginview" >
      <xs:complexContent>
       <xs:extension base="window">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="tf_username" type="xs:anyType" />
          <xs:element name="tf_password" type="xs:anyType" />
          <xs:element name="welcome" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="btn_login" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:complexContent>
       <xs:extension base="logindesign">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencehandler" >
      <xs:sequence>
        <xs:element name="jpa" type="xs:string" />
        <xs:element name="jdbc" type="xs:string" />
        <xs:element name="mysql" type="xs:string" />
        <xs:element name="pservice" type="persistenceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authservice" >
      <xs:sequence>
        <xs:element name="persistence" type="persistencehandler" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaservice" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="daoregister" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mainservice" >
      <xs:sequence>
        <xs:element name="persistence" type="persistencehandler" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adressservice" >
      <xs:sequence>
        <xs:element name="addresslist" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetches" >
      <xs:sequence>
        <xs:element name="values" type="xs:anyType" />
        <xs:element name="names" type="xs:anyType" />
        <xs:element name="namearray" type="xs:string" />
        <xs:element name="valuearray" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modelservice" >
      <xs:sequence>
        <xs:element name="managed" type="xs:anyType" />
        <xs:element name="persistence" type="persistencehandler" nillable="true" minOccurs="0" />
        <xs:element name="cache" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="celebrationservice" >
      <xs:sequence>
        <xs:element name="celebrationlist" type="celebration" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:complexContent>
       <xs:extension base="modelservice<user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="controllerlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="controllerregister" >
      <xs:sequence>
        <xs:element name="listeners" type="controllerlistener" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mvnplanceui" >
      <xs:complexContent>
       <xs:extension base="ui">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cptplaceholder" >
      <xs:complexContent>
       <xs:extension base="label">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ressourcehandler" >
      <xs:sequence>
        <xs:element name="//privatestringpath" type="xs:anyType" />
        <xs:element name="statistics" type="xs:anyType" />
        <xs:element name="settings" type="xs:anyType" />
        <xs:element name="history" type="xs:anyType" />
        <xs:element name="user_dummy" type="xs:anyType" />
        <xs:element name="video" type="xs:anyType" />
        <xs:element name="//backgroundvid" type="xs:anyType" />
        <xs:element name="//css-klaasenicon_backgroud" type="xs:string" />
        <xs:element name="background_login" type="xs:string" />
        <xs:element name="titel_invitation" type="xs:string" />
        <xs:element name="background_invitation" type="xs:string" />
        <xs:element name="titel_upcoming" type="xs:string" />
        <xs:element name="background_upcoming" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="view" type="loginview" nillable="true" minOccurs="0" />
        <xs:element name="authentificationlisteners" type="controllerregister" nillable="true" minOccurs="0" />
        <xs:element name="newuserlisteners" type="controllerregister" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="g" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mainservice" nillable="true" minOccurs="0" />
        <xs:element name="login" type="logincontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="newusercontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="baselayout" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="startview" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newusercontroller" >
      <xs:sequence>
        <xs:element name="gui" type="newuserview" nillable="true" minOccurs="0" />
        <xs:element name="newuserregister" type="controllerregister" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="controller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myappwidgetset.gwt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 