mvnPlance/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="celebration" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="c_id" type="xs:long" />
        <xs:element name="cname" type="xs:string" />
        <xs:element name="fkuserorganizer" type="xs:long" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="category" nillable="true" minOccurs="0" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="location" nillable="true" minOccurs="0" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="motto" nillable="true" minOccurs="0" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="timeinfo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="location_id" type="xs:long" />
        <xs:element name="capacity" type="xs:long" />
        <xs:element name="publicity" type="xs:anyType" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="address" nillable="true" minOccurs="0" />
        <xs:element name="//bi-directionalmany-to-manyassociationtotagtags" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="timeinfo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeinfo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="ts_id" type="xs:long" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invite" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="invitepk" nillable="true" minOccurs="0" />
        <xs:element name="participatin" type="xs:anyType" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="celebration" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="motto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="mottoname" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-manyassociationtotagtags" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tag" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="tagname" type="xs:string" />
        <xs:element name="//bi-directionalmany-to-manyassociationtolocationlocations" type="location" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//bi-directionalmany-to-manyassociationtomottomottos" type="motto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="person_personid" type="xs:long" />
        <xs:element name="oauth" type="xs:anyType" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="//uni-directionalone-to-oneassociationto" type="person" nillable="true" minOccurs="0" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="timeinfo" nillable="true" minOccurs="0" />
        <xs:element name="organizedcelebrations" type="celebration" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="friends" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paidobject" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="poid" type="xs:long" />
        <xs:element name="amount" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="reflink" type="xs:string" />
        <xs:element name="//uni-directionalmany-to-oneassociationto" type="celebration" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="personid" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pseodo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="address_id" type="xs:long" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="number" type="xs:long" />
        <xs:element name="postcode" type="xs:long" />
        <xs:element name="street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 