Product/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="subscribedproductservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="subsproductrep" type="subscribedproductrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="productrep" type="productrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productmsapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<product,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="subscribedproductrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<subscribedproduct,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="compositekey" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subscribedproduct" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="quantity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="brand" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="rating" type="xs:anyType" />
        <xs:element name="sellerid" type="xs:anyType" />
        <xs:element name="stock" type="xs:anyType" />
        <xs:element name="subcategory" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="productservice" nillable="true" minOccurs="0" />
        <xs:element name="subproductservice" type="subscribedproductservice" nillable="true" minOccurs="0" />
        <xs:element name="useruri" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productdto" >
      <xs:sequence>
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="brand" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="rating" type="xs:anyType" />
        <xs:element name="sellerid" type="xs:anyType" />
        <xs:element name="stock" type="xs:anyType" />
        <xs:element name="subcategory" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wishlistdto" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="proid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subscribedproductdto" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="quantity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 