mdhTest/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userauthiddo" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="authorid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authordo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="account" type="xs:string" />
        <xs:element name="book" type="xs:string" />
        <xs:element name="pwd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:anyType" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 