simu_trans/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web-fragment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testappapplication" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="scarinfodao" type="sandcarinfodao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cardao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demotest" >
      <xs:sequence>
        <xs:element name="jse" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bizaction" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="prmdao" type="paramdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bizsysaction" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paramdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bizapiv2action" >
      <xs:sequence>
        <xs:element name="port" type="xs:long" />
        <xs:element name="contextpath" type="xs:string" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="prefix" type="xs:string" />
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="auth" type="authservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paramdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="peccancydao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cardao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="caruserdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logindao" nillable="true" minOccurs="0" />
        <xs:element name="pecdao" type="pectypedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="dg" type="demodanger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simusandaction" >
      <xs:sequence>
        <xs:element name="key_carid" type="xs:string" />
        <xs:element name="key_caraction" type="xs:string" />
        <xs:element name="key_status" type="xs:string" />
        <xs:element name="key_money" type="xs:string" />
        <xs:element name="key_balance" type="xs:string" />
        <xs:element name="key_rows_detail" type="xs:string" />
        <xs:element name="key_trafficlightid" type="xs:string" />
        <xs:element name="key_time" type="xs:string" />
        <xs:element name="key_redtime" type="xs:string" />
        <xs:element name="key_greentime" type="xs:string" />
        <xs:element name="key_yellowtime" type="xs:string" />
        <xs:element name="key_roadlightid" type="xs:string" />
        <xs:element name="key_action" type="xs:string" />
        <xs:element name="key_controlmode" type="xs:string" />
        <xs:element name="key_sensename" type="xs:string" />
        <xs:element name="key_lightsense_down" type="xs:string" />
        <xs:element name="key_lightsense_up" type="xs:string" />
        <xs:element name="key_busid" type="xs:string" />
        <xs:element name="key_busstationid" type="xs:string" />
        <xs:element name="key_roadid" type="xs:string" />
        <xs:element name="ssservice" type="simusandservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bizapiaction" >
      <xs:sequence>
        <xs:element name="prefix" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="auth" type="authservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paramdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="peccancydao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cardao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="caruserdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logindao" nillable="true" minOccurs="0" />
        <xs:element name="pecdao" type="pectypedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="dg" type="demodanger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transmodel" >
      <xs:sequence>
        <xs:element name="carnumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carblacklistmodel" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="rowsdetail" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermodel" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="stuname" type="xs:string" />
        <xs:element name="sno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carblackinfo" >
      <xs:sequence>
        <xs:element name="carid" type="xs:string" />
        <xs:element name="datetime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pectypedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<peccancytype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="peccancydao" >
      <xs:complexContent>
       <xs:extension base="jparepository<peccancy,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paramdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<sparam,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logindao" >
      <xs:complexContent>
       <xs:extension base="jparepository<loginuser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authservice" >
      <xs:sequence>
        <xs:element name="adv" type="xs:string" />
        <xs:element name="nor" type="xs:string" />
        <xs:element name="adv_v2" type="xs:string" />
        <xs:element name="nor_v2" type="xs:string" />
        <xs:element name="role_auser" type="xs:anyType" />
        <xs:element name="role_nuser" type="xs:anyType" />
        <xs:element name="m_auth" type="xs:anyType" />
        <xs:element name="role_admin" type="xs:string" />
        <xs:element name="role_auser" type="xs:string" />
        <xs:element name="role_nuser" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cardao" >
      <xs:complexContent>
       <xs:extension base="jparepository<carinfo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="caruserdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<caruser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandcarinfodao" >
      <xs:complexContent>
       <xs:extension base="jparepository<scarinfo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandbusstationdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<sbusstation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandcarblacklistdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<scarblacklist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandetctralogdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<setctralog,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandcarchangedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<scarcharge,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandlightsencedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<sbusinfo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandmonthtemperdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<smonthtemperature,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandcarfeedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<scarfee,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandtranslightdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<stralight,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandroadlightdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<sroadlight,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandbusdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<sbusinfo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sandothersingledao" >
      <xs:complexContent>
       <xs:extension base="jparepository<sothersingle,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<suser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simusandservice" >
      <xs:sequence>
        <xs:element name="pm25" type="xs:long" />
        <xs:element name="co2" type="xs:long" />
        <xs:element name="lightensity" type="xs:long" />
        <xs:element name="humidity" type="xs:long" />
        <xs:element name="temperature" type="xs:long" />
        <xs:element name="distance" type="xs:long" />
        <xs:element name="min_yellow_time" type="xs:long" />
        <xs:element name="max_yellow_time" type="xs:long" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="sdf" type="xs:anyType" />
        <xs:element name="scarinfodao" type="sandcarinfodao" nillable="true" minOccurs="0" />
        <xs:element name="scarchargedao" type="sandcarchangedao" nillable="true" minOccurs="0" />
        <xs:element name="scarfeedao" type="sandcarfeedao" nillable="true" minOccurs="0" />
        <xs:element name="stranslightdao" type="sandtranslightdao" nillable="true" minOccurs="0" />
        <xs:element name="sroadlightdao" type="sandroadlightdao" nillable="true" minOccurs="0" />
        <xs:element name="smonthtemperdao" type="sandmonthtemperdao" nillable="true" minOccurs="0" />
        <xs:element name="sothersingledao" type="sandothersingledao" nillable="true" minOccurs="0" />
        <xs:element name="sbusstationdao" type="sandbusstationdao" nillable="true" minOccurs="0" />
        <xs:element name="setctralogdao" type="sandetctralogdao" nillable="true" minOccurs="0" />
        <xs:element name="auto_fee" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="startapp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="peccancy" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="carnumber" type="xs:string" />
        <xs:element name="pcode" type="xs:string" />
        <xs:element name="pdatetime" type="xs:string" />
        <xs:element name="paddr" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="suser" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="pname" type="xs:string" />
        <xs:element name="pcardid" type="xs:string" />
        <xs:element name="psex" type="xs:string" />
        <xs:element name="ptel" type="xs:string" />
        <xs:element name="pregister" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginuser" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="userpwd" type="xs:string" />
        <xs:element name="userrole" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sparam" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="val" type="xs:string" />
        <xs:element name="descr" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sbusstationid" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="busid" type="xs:long" />
        <xs:element name="busstationid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scarcharge" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="ccid" type="xs:long" />
        <xs:element name="chargetime" type="xs:dateTime" />
        <xs:element name="money" type="xs:long" />
        <xs:element name="//bi-directionalmany-to-oneassociationto" type="scarinfo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sbusinfo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="busid" type="xs:long" />
        <xs:element name="buscapacity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setctralog" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="etlid" type="xs:long" />
        <xs:element name="carid" type="xs:long" />
        <xs:element name="intime" type="xs:dateTime" />
        <xs:element name="money" type="xs:long" />
        <xs:element name="outtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scarinfo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="carid" type="xs:long" />
        <xs:element name="balance" type="xs:long" />
        <xs:element name="caraction" type="xs:string" />
        <xs:element name="scarcharges" type="scarcharge" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="scarfees" type="scarfee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scarblacklist" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="cbid" type="xs:long" />
        <xs:element name="carid" type="xs:long" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scarfee" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="cfid" type="xs:long" />
        <xs:element name="feetime" type="xs:dateTime" />
        <xs:element name="money" type="xs:long" />
        <xs:element name="GeneratedName" type="scarinfo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slightsence" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="down" type="xs:string" />
        <xs:element name="up" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sroadlight" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="roadlightid" type="xs:long" />
        <xs:element name="controlmode" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sothersingle" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="descr" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stralight" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="trafficlightid" type="xs:long" />
        <xs:element name="greentime" type="xs:long" />
        <xs:element name="redtime" type="xs:long" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="time" type="xs:long" />
        <xs:element name="yellowtime" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smonthtemperature" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="maxt" type="xs:long" />
        <xs:element name="m" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sbusstation" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="busid" type="xs:long" />
        <xs:element name="busstationid" type="xs:long" />
        <xs:element name="distance" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="peccancytype" >
      <xs:sequence>
        <xs:element name="pcode" type="xs:string" />
        <xs:element name="premarks" type="xs:string" />
        <xs:element name="pmoney" type="xs:anyType" />
        <xs:element name="pscore" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="caruser" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="pname" type="xs:string" />
        <xs:element name="pcardid" type="xs:string" />
        <xs:element name="psex" type="xs:string" />
        <xs:element name="ptel" type="xs:string" />
        <xs:element name="pregisterdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="peccancyx" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="carnumber" type="xs:string" />
        <xs:element name="pcode" type="xs:string" />
        <xs:element name="pdatetime" type="xs:string" />
        <xs:element name="paddr" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carinfo" >
      <xs:sequence>
        <xs:element name="carnumber" type="xs:string" />
        <xs:element name="number" type="xs:anyType" />
        <xs:element name="pcardid" type="xs:string" />
        <xs:element name="carbrand" type="xs:string" />
        <xs:element name="buy" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demodanger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipverify" >
      <xs:sequence>
        <xs:element name="client_ip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multiipverify" >
      <xs:sequence>
        <xs:element name="client_ip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unamepassverify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apiverify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="err_message" type="xs:string" />
          <xs:element name="err_code" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="demowebappcfg" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="params" >
      <xs:sequence>
        <xs:element name="ret_key_of_message" type="xs:string" />
        <xs:element name="ret_key_of_code" type="xs:string" />
        <xs:element name="key_of_auth_user" type="xs:string" />
        <xs:element name="regisger_url" type="xs:string" />
        <xs:element name="access_deny_url" type="xs:string" />
        <xs:element name="api_url" type="xs:string" />
        <xs:element name="other_api_url" type="xs:string" />
        <xs:element name="js_url" type="xs:string" />
        <xs:element name="css_url" type="xs:string" />
        <xs:element name="img_url" type="xs:string" />
        <xs:element name="favicon_ico_url" type="xs:string" />
        <xs:element name="h2_db_console" type="xs:string" />
        <xs:element name="sand_simulate_url1" type="xs:string" />
        <xs:element name="sand_simulate_url2" type="xs:string" />
        <xs:element name="all_sub_path" type="xs:string" />
        <xs:element name="login_url" type="xs:string" />
        <xs:element name="login_page_url" type="xs:string" />
        <xs:element name="logout_url" type="xs:string" />
        <xs:element name="index_url" type="xs:string" />
        <xs:element name="role_admin" type="xs:string" />
        <xs:element name="role_auser" type="xs:string" />
        <xs:element name="role_nuser" type="xs:string" />
        <xs:element name="client_request_ip" type="xs:string" />
        <xs:element name="role_admin_label" type="xs:string" />
        <xs:element name="role_auser_label" type="xs:string" />
        <xs:element name="role_nuser_label" type="xs:string" />
        <xs:element name="key_result_of_srv" type="xs:string" />
        <xs:element name="key_errmsg_of_srv" type="xs:string" />
        <xs:element name="key_result_of_sand" type="xs:string" />
        <xs:element name="key_rows_of_srv" type="xs:string" />
        <xs:element name="msg_success_of_srv" type="xs:string" />
        <xs:element name="msg_failed_of_srv" type="xs:string" />
        <xs:element name="code_success_of_srv" type="xs:string" />
        <xs:element name="code_failed_of_srv" type="xs:string" />
        <xs:element name="msg_success_of_sand" type="xs:string" />
        <xs:element name="msg_failed_of_sand" type="xs:string" />
        <xs:element name="ret_err_code_normalexception" type="xs:string" />
        <xs:element name="ret_err_code_signexception" type="xs:string" />
        <xs:element name="err_msg_username_invalid" type="xs:string" />
        <xs:element name="err_msg_user_not_auth" type="xs:string" />
        <xs:element name="err_msg_user_not_approve" type="xs:string" />
        <xs:element name="err_msg_request_body_empty" type="xs:string" />
        <xs:element name="err_msg_access_sandtable_failed" type="xs:string" />
        <xs:element name="err_msg_sandtable_null" type="xs:string" />
        <xs:element name="err_msg_request_param_lose" type="xs:string" />
        <xs:element name="err_msg_param_value" type="xs:string" />
        <xs:element name="err_msg_request_addr" type="xs:string" />
        <xs:element name="err_msg_not_found_entity" type="xs:string" />
        <xs:element name="err_msg_money_le_zero" type="xs:string" />
        <xs:element name="err_msg_money_not_suff" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demobeancfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demowebseccfg" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="ud" type="userdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="demoadvice" >
      <xs:sequence>
        <xs:element name="dg" type="demodanger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bufferedservletinputstream" >
      <xs:complexContent>
       <xs:extension base="servletinputstream">
         <xs:sequence>
          <xs:element name="inputstream" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="demorequestwrapper" >
      <xs:complexContent>
       <xs:extension base="httpservletrequestwrapper">
         <xs:sequence>
          <xs:element name="body" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="demofilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demointerceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
          <xs:element name="multiipverify" type="apiverify" nillable="true" minOccurs="0" />
          <xs:element name="namepassverify" type="apiverify" nillable="true" minOccurs="0" />
          <xs:element name="maper" type="xs:anyType" />
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="demoactionhadnler" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo2applicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testappapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 