s2container181/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="hoge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectableentitymanagerproxytest" >
      <xs:complexContent>
       <xs:extension base="s2easymocktestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="entitymanagerprovider" nillable="true" minOccurs="0" />
          <xs:element name="proxy" type="selectableentitymanagerproxy" nillable="true" minOccurs="0" />
          <xs:element name="foo" type="entitymanager" nillable="true" minOccurs="0" />
          <xs:element name="bar" type="entitymanager" nillable="true" minOccurs="0" />
          <xs:element name="" type="query" nillable="true" minOccurs="0" />
          <xs:element name="" type="entitytransaction" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 