javax7/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mealassingleentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="peanuts" type="xs:anyType" />
        <xs:element name="celery" type="xs:anyType" />
        <xs:element name="sesameseeds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="allergensasembeddable" >
      <xs:sequence>
        <xs:element name="peanuts" type="xs:anyType" />
        <xs:element name="celery" type="xs:anyType" />
        <xs:element name="sesameseeds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mealwithembeddedallergens" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="allergens" type="allergensasembeddable" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mealwithmultipleentities" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="allergens" type="allergensasentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="allergensasentity" >
      <xs:sequence>
        <xs:element name="mealid" type="xs:long" />
        <xs:element name="meal" type="mealassingleentity" nillable="true" minOccurs="0" />
        <xs:element name="peanuts" type="xs:anyType" />
        <xs:element name="celery" type="xs:anyType" />
        <xs:element name="sesameseeds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multipletablesintegrationtest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 