schema/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="authenticationtoken" >
      <xs:sequence>
        <xs:element name="tokenid" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventvegetarianrequest" >
      <xs:sequence>
        <xs:element name="idvegetarianrequest" type="xs:long" />
        <xs:element name="iduser" type="xs:long" />
        <xs:element name="idevent" type="xs:long" />
        <xs:element name="vegetarian" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventchildrenmenurequest" >
      <xs:sequence>
        <xs:element name="ideventchildrenmenurequest" type="xs:long" />
        <xs:element name="iduser" type="xs:long" />
        <xs:element name="idevent" type="xs:long" />
        <xs:element name="childrenmenus" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventchildrenagerequest" >
      <xs:sequence>
        <xs:element name="idchildrenagerequest" type="xs:long" />
        <xs:element name="iduser" type="xs:long" />
        <xs:element name="idevent" type="xs:long" />
        <xs:element name="childrenage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventpartnerrequest" >
      <xs:sequence>
        <xs:element name="idpartnerrequest" type="xs:long" />
        <xs:element name="partnerrequest" type="xs:anyType" />
        <xs:element name="iduser" type="xs:long" />
        <xs:element name="idevent" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventgrownmenurequest" >
      <xs:sequence>
        <xs:element name="ideventgrownmenurequest" type="xs:long" />
        <xs:element name="iduser" type="xs:long" />
        <xs:element name="idevent" type="xs:long" />
        <xs:element name="grownmenus" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventnumberofpassesrequest" >
      <xs:sequence>
        <xs:element name="ideventnumberofpassesrequest" type="xs:long" />
        <xs:element name="iduser" type="xs:long" />
        <xs:element name="idevent" type="xs:long" />
        <xs:element name="numberofpasses" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="idevent" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="signstart" type="xs:dateTime" />
        <xs:element name="signend" type="xs:dateTime" />
        <xs:element name="unsignend" type="xs:dateTime" />
        <xs:element name="memberprice" type="xs:long" />
        <xs:element name="notmemberprice" type="xs:long" />
        <xs:element name="noshowprice" type="xs:long" />
        <xs:element name="GeneratedName" type="location" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logo" nillable="true" minOccurs="0" />
        <xs:element name="canrequestpartner" type="xs:anyType" />
        <xs:element name="canrequestvegetarian" type="xs:anyType" />
        <xs:element name="canrequestchildrenage" type="xs:anyType" />
        <xs:element name="canrequestchildrenmenus" type="xs:anyType" />
        <xs:element name="canrequestgrownmenus" type="xs:anyType" />
        <xs:element name="canrequestpasses" type="xs:anyType" />
        <xs:element name="partnerrequest" type="xs:anyType" />
        <xs:element name="vegetarianrequest" type="xs:long" />
        <xs:element name="grownmenurequest" type="xs:long" />
        <xs:element name="childrenmenurequest" type="xs:long" />
        <xs:element name="passesrequest" type="xs:long" />
        <xs:element name="childrenagerequest" type="xs:string" />
        <xs:element name="showattendingusers" type="xs:anyType" />
        <xs:element name="activities" type="activity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="activitylist" type="activity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="selected" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="blof" type="xs:anyType" />
        <xs:element name="shirtsizes" type="xs:anyType" />
        <xs:element name="iduser" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="employeeid" type="xs:string" />
        <xs:element name="mail" type="xs:string" />
        <xs:element name="department" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="admin" type="xs:anyType" />
        <xs:element name="personaleforening" type="xs:anyType" />
        <xs:element name="shirtsize" type="xs:string" />
        <xs:element name="firstlogin" type="xs:anyType" />
        <xs:element name="events" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="activities" type="activity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="roles" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logoinformation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="contenttype" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thumbnail" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamuserselection" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="iduser" type="xs:long" />
        <xs:element name="idteam" type="xs:long" />
        <xs:element name="idevent" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="team" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classificationvalue" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classification" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="type" type="classificationtype" nillable="true" minOccurs="0" />
        <xs:element name="classificationvalues" type="classificationvalue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classificationtype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activity" >
      <xs:sequence>
        <xs:element name="idactivity" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="minimumplayers" type="xs:long" />
        <xs:element name="minimumteams" type="xs:long" />
        <xs:element name="GeneratedName" type="location" nillable="true" minOccurs="0" />
        <xs:element name="responsible" type="xs:string" />
        <xs:element name="canrequestpartner" type="xs:anyType" />
        <xs:element name="memberprice" type="xs:anyType" />
        <xs:element name="notmemberprice" type="xs:anyType" />
        <xs:element name="noshowprice" type="xs:anyType" />
        <xs:element name="partnerrequest" type="xs:string" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="color" type="xs:anyType" />
        <xs:element name="scale" type="xs:double" />
        <xs:element name="percentage" type="xs:long" />
        <xs:element name="offset" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitypartnerrequest" >
      <xs:sequence>
        <xs:element name="idpartnerrequest" type="xs:long" />
        <xs:element name="iduser" type="xs:long" />
        <xs:element name="idactivity" type="xs:long" />
        <xs:element name="partnernames" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="idlocation" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versioninformation" >
      <xs:sequence>
        <xs:element name="idversioninformation" type="xs:long" />
        <xs:element name="major" type="xs:long" />
        <xs:element name="majorminor" type="xs:long" />
        <xs:element name="minor" type="xs:long" />
        <xs:element name="minorminor" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 