SeohanWeb/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="my" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hello" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itembalanceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagejobs" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileproperties" >
      <xs:sequence>
        <xs:element name="file_folder_root_path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
        <xs:element name="exclude_paths" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="accountservice" nillable="true" minOccurs="0" />
          <xs:element name="passwordencoder" type="passwordencodercustom" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="schedulerconfig" >
      <xs:sequence>
        <xs:element name="pool_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authconfig" >
      <xs:complexContent>
       <xs:extension base="authorizationserverconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="passwordencoder" type="passwordencodercustom" nillable="true" minOccurs="0" />
          <xs:element name="" type="accountservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simplecorsfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourceconfig" >
      <xs:complexContent>
       <xs:extension base="resourceserverconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="passwordencodercustom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datecalculator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="base64utils" >
      <xs:sequence>
        <xs:element name="base_64_prefix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="htmlutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityutils" >
      <xs:complexContent>
       <xs:extension base="object>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filesystemutils" >
      <xs:sequence>
        <xs:element name="//_file_path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unauthorizedexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptioncontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtserviceimpl" >
      <xs:sequence>
        <xs:element name="salt" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtinterceptor" >
      <xs:sequence>
        <xs:element name="header_auth" type="xs:string" />
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="damagpfentity" >
      <xs:sequence>
        <xs:element name="jdate" type="xs:string" />
        <xs:element name="serno" type="xs:long" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="qunty" type="xs:long" />
        <xs:element name="dcode" type="xs:string" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="vend" type="xs:string" />
        <xs:element name="jitem" type="xs:string" />
        <xs:element name="acode" type="xs:string" />
        <xs:element name="adate" type="xs:string" />
        <xs:element name="asabn" type="xs:string" />
        <xs:element name="bsosk" type="xs:string" />
        <xs:element name="bcode" type="xs:string" />
        <xs:element name="bdes" type="xs:string" />
        <xs:element name="cdate" type="xs:string" />
        <xs:element name="csabn" type="xs:string" />
        <xs:element name="cdes" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="dsum" type="xs:string" />
        <xs:element name="ddes" type="xs:string" />
        <xs:element name="pfchk" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="atagno" type="xs:string" />
        <xs:element name="btagno" type="xs:string" />
        <xs:element name="bigo" type="xs:string" />
        <xs:element name="aql" type="xs:string" />
        <xs:element name="ritmno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="poheaderrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<poheader,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="poheaderrepositorycustom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="poheaderrepositoryimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="poheaderquerydsl" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="podetailid" >
      <xs:sequence>
        <xs:element name="cogb" type="xs:string" />
        <xs:element name="pono" type="xs:string" />
        <xs:element name="poseq" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="poheaderid" >
      <xs:sequence>
        <xs:element name="cogb" type="xs:string" />
        <xs:element name="pono" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="podetail" >
      <xs:sequence>
        <xs:element name="cogb" type="xs:string" />
        <xs:element name="pono" type="xs:string" />
        <xs:element name="poseq" type="xs:double" />
        <xs:element name="st_itmno" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="itm_nm" type="xs:string" />
        <xs:element name="itm_spec" type="xs:string" />
        <xs:element name="po_qty" type="xs:double" />
        <xs:element name="rp_qty" type="xs:double" />
        <xs:element name="unit_cd" type="xs:string" />
        <xs:element name="unit_amt" type="xs:double" />
        <xs:element name="mny_cd" type="xs:string" />
        <xs:element name="exc_amt" type="xs:double" />
        <xs:element name="nego_amt" type="xs:double" />
        <xs:element name="po_amt" type="xs:double" />
        <xs:element name="pos_tx" type="xs:string" />
        <xs:element name="dlv_req_ymd" type="xs:string" />
        <xs:element name="dlv_locat" type="xs:string" />
        <xs:element name="cost_cd" type="xs:string" />
        <xs:element name="asset_gb" type="xs:string" />
        <xs:element name="asset_cd" type="xs:string" />
        <xs:element name="status_cd" type="xs:string" />
        <xs:element name="GeneratedName" type="poheader" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="podto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="poheader" nillable="true" minOccurs="0" />
        <xs:element name="podetails" type="podetail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="poheader" >
      <xs:sequence>
        <xs:element name="cogb" type="xs:string" />
        <xs:element name="pono" type="xs:string" />
        <xs:element name="sub_no" type="xs:long" />
        <xs:element name="mr_no" type="xs:string" />
        <xs:element name="po_gb" type="xs:string" />
        <xs:element name="po_tx" type="xs:string" />
        <xs:element name="st_cust_cd" type="xs:string" />
        <xs:element name="cust_cd" type="xs:string" />
        <xs:element name="cust_nm" type="xs:string" />
        <xs:element name="cust_chrg_nm" type="xs:string" />
        <xs:element name="cust_chrg_hp" type="xs:string" />
        <xs:element name="via_cust_cd" type="xs:string" />
        <xs:element name="direct_fl" type="xs:string" />
        <xs:element name="po_class" type="xs:string" />
        <xs:element name="po_chrg_ymd" type="xs:string" />
        <xs:element name="po_dept_cd" type="xs:string" />
        <xs:element name="po_dept_nm" type="xs:string" />
        <xs:element name="po_chrg_id" type="xs:string" />
        <xs:element name="po_chrg_nm" type="xs:string" />
        <xs:element name="poymd" type="xs:string" />
        <xs:element name="po_appr_id" type="xs:string" />
        <xs:element name="po_appr_nm" type="xs:string" />
        <xs:element name="fc_fl" type="xs:string" />
        <xs:element name="contrct_no" type="xs:string" />
        <xs:element name="po_file_no" type="xs:string" />
        <xs:element name="po_remark" type="xs:string" />
        <xs:element name="cust_remark" type="xs:string" />
        <xs:element name="mr_dept_cd" type="xs:string" />
        <xs:element name="mr_dept_nm" type="xs:string" />
        <xs:element name="ysn_dept_cd" type="xs:string" />
        <xs:element name="ysn_dept_nm" type="xs:string" />
        <xs:element name="ysn_year" type="xs:string" />
        <xs:element name="ysn_cd" type="xs:string" />
        <xs:element name="ysn_nm" type="xs:string" />
        <xs:element name="po_itmno" type="xs:string" />
        <xs:element name="po_itm_nm" type="xs:string" />
        <xs:element name="nego_tot_amt" type="xs:double" />
        <xs:element name="po_tot_amt" type="xs:double" />
        <xs:element name="rp_fin_ymd" type="xs:string" />
        <xs:element name="rp_fin_id" type="xs:string" />
        <xs:element name="rp_fin_nm" type="xs:string" />
        <xs:element name="update_ymd" type="xs:string" />
        <xs:element name="globiz_fl" type="xs:string" />
        <xs:element name="status_cd" type="xs:string" />
        <xs:element name="if_flag" type="xs:string" />
        <xs:element name="podetails" type="podetail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftarestcontroller" >
      <xs:sequence>
        <xs:element name="porepo" type="poheaderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prodplancontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="prodplanservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prdpdpfentityrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="prdpdpfentityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prdpdpfentityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<prdpdpfentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prdpdpfrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<prdpdpfentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prdpdpfentityserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="importplanrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prdpdpfentityservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prodplanservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prodplanserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="prdpdpfrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prodblentity" >
      <xs:sequence>
        <xs:element name="bdate" type="xs:string" />
        <xs:element name="serno" type="xs:long" />
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="cstnm" type="xs:string" />
        <xs:element name="chjgb" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="shnqty" type="xs:long" />
        <xs:element name="trsqty" type="xs:long" />
        <xs:element name="asanqty" type="xs:long" />
        <xs:element name="cstqty" type="xs:long" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expacctentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="yymm" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="custcd" type="xs:string" />
        <xs:element name="custtype" type="xs:string" />
        <xs:element name="pricetype" type="xs:string" />
        <xs:element name="unitprice" type="xs:double" />
        <xs:element name="prdqty" type="xs:long" />
        <xs:element name="prdmny" type="xs:double" />
        <xs:element name="workpo" type="xs:long" />
        <xs:element name="manager" type="xs:double" />
        <xs:element name="appno" type="xs:string" />
        <xs:element name="filetx" type="xs:string" />
        <xs:element name="notetx" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expapprentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="yymm" type="xs:string" />
        <xs:element name="custcd" type="xs:string" />
        <xs:element name="appno" type="xs:string" />
        <xs:element name="filetx" type="xs:string" />
        <xs:element name="notetx" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wrkctpfvwentity" >
      <xs:sequence>
        <xs:element name="fact" type="xs:string" />
        <xs:element name="factnm" type="xs:string" />
        <xs:element name="sosk" type="xs:string" />
        <xs:element name="sosknm" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="wrkds" type="xs:string" />
        <xs:element name="rut" type="xs:string" />
        <xs:element name="ruth" type="xs:string" />
        <xs:element name="mch" type="xs:string" />
        <xs:element name="mce" type="xs:string" />
        <xs:element name="manto" type="xs:anyType" />
        <xs:element name="manpo" type="xs:anyType" />
        <xs:element name="cauph" type="xs:anyType" />
        <xs:element name="caupm" type="xs:anyType" />
        <xs:element name="tguph" type="xs:anyType" />
        <xs:element name="tgupm" type="xs:anyType" />
        <xs:element name="tgrat" type="xs:long" />
        <xs:element name="cust" type="xs:string" />
        <xs:element name="custnm" type="xs:string" />
        <xs:element name="actgb" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prodplnaentity" >
      <xs:sequence>
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="cstnm" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="file" type="xs:string" />
        <xs:element name="ref01" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="rdate" type="xs:string" />
        <xs:element name="serno" type="xs:long" />
        <xs:element name="revno" type="xs:long" />
        <xs:element name="rtime" type="xs:string" />
        <xs:element name="sabun" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rutmspfentity" >
      <xs:sequence>
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="rut" type="xs:string" />
        <xs:element name="ruth" type="xs:string" />
        <xs:element name="mch" type="xs:string" />
        <xs:element name="mce" type="xs:string" />
        <xs:element name="jsno" type="xs:string" />
        <xs:element name="mcgb" type="xs:string" />
        <xs:element name="san" type="xs:anyType" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prdptpfentity" >
      <xs:sequence>
        <xs:element name="pldte" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="wrkjo" type="xs:string" />
        <xs:element name="jinw" type="xs:anyType" />
        <xs:element name="jtim" type="xs:long" />
        <xs:element name="jmh" type="xs:long" />
        <xs:element name="omh" type="xs:anyType" />
        <xs:element name="ouph" type="xs:anyType" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bomvwentity" >
      <xs:sequence>
        <xs:element name="pitem" type="xs:string" />
        <xs:element name="pitmds" type="xs:string" />
        <xs:element name="pspcds" type="xs:string" />
        <xs:element name="citem" type="xs:anyType" />
        <xs:element name="citmds" type="xs:anyType" />
        <xs:element name="cspcds" type="xs:string" />
        <xs:element name="stdate" type="xs:string" />
        <xs:element name="asyno" type="xs:string" />
        <xs:element name="asyqt" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmctpfvwentity" >
      <xs:sequence>
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="rut" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="types" type="xs:string" />
        <xs:element name="manto" type="xs:anyType" />
        <xs:element name="nowgb" type="xs:string" />
        <xs:element name="ctime" type="xs:anyType" />
        <xs:element name="neck" type="xs:string" />
        <xs:element name="svendor" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exppriceentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="yymm" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="custcd" type="xs:string" />
        <xs:element name="custtype" type="xs:string" />
        <xs:element name="pricetype" type="xs:string" />
        <xs:element name="prdqty" type="xs:long" />
        <xs:element name="ct" type="xs:double" />
        <xs:element name="opratio" type="xs:double" />
        <xs:element name="workshift" type="xs:string" />
        <xs:element name="dayto" type="xs:double" />
        <xs:element name="ngtto" type="xs:double" />
        <xs:element name="workpo" type="xs:long" />
        <xs:element name="manager" type="xs:double" />
        <xs:element name="unitprice" type="xs:double" />
        <xs:element name="filetx" type="xs:string" />
        <xs:element name="notetx" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prodordentity" >
      <xs:sequence>
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="odate" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="cstnm" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="chjgb" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="ordqty" type="xs:long" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="rdate" type="xs:string" />
        <xs:element name="serno" type="xs:long" />
        <xs:element name="revno" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmctitmentity" >
      <xs:sequence>
        <xs:element name="rdocnum" type="xs:string" />
        <xs:element name="ddocnum" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="types" type="xs:string" />
        <xs:element name="manto" type="xs:anyType" />
        <xs:element name="rut" type="xs:string" />
        <xs:element name="nowgb" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prdpdpfentity" >
      <xs:sequence>
        <xs:element name="pldte" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="wrkjo" type="xs:string" />
        <xs:element name="seqno" type="xs:long" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="plqty" type="xs:long" />
        <xs:element name="rhqty" type="xs:long" />
        <xs:element name="reqty" type="xs:long" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="prtqty" type="xs:long" />
        <xs:element name="wrksts" type="xs:string" />
        <xs:element name="percnt" type="xs:anyType" />
        <xs:element name="jtime" type="xs:long" />
        <xs:element name="jmh" type="xs:anyType" />
        <xs:element name="tguph" type="xs:anyType" />
        <xs:element name="tgupm" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wrkctvwentity" >
      <xs:sequence>
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="wrkds" type="xs:string" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="actgb" type="xs:string" />
        <xs:element name="manto" type="xs:anyType" />
        <xs:element name="manpo" type="xs:anyType" />
        <xs:element name="cauph" type="xs:anyType" />
        <xs:element name="caupm" type="xs:anyType" />
        <xs:element name="tguph" type="xs:anyType" />
        <xs:element name="tgupm" type="xs:anyType" />
        <xs:element name="tgrat" type="xs:long" />
        <xs:element name="cust" type="xs:string" />
        <xs:element name="cusna" type="xs:string" />
        <xs:element name="sosk" type="xs:string" />
        <xs:element name="nline" type="xs:string" />
        <xs:element name="oldline" type="xs:string" />
        <xs:element name="opgb" type="xs:string" />
        <xs:element name="modi" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="routgpfentity" >
      <xs:sequence>
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="level1" type="xs:anyType" />
        <xs:element name="level2" type="xs:long" />
        <xs:element name="pallet" type="xs:long" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="cauph" type="xs:anyType" />
        <xs:element name="caupm" type="xs:anyType" />
        <xs:element name="manto" type="xs:anyType" />
        <xs:element name="actgb" type="xs:string" />
        <xs:element name="ipwh" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prodplnentity" >
      <xs:sequence>
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="cstnm" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="chjgb" type="xs:string" />
        <xs:element name="pdate" type="xs:string" />
        <xs:element name="shift" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="plqty" type="xs:long" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="rdate" type="xs:string" />
        <xs:element name="serno" type="xs:long" />
        <xs:element name="revno" type="xs:long" />
        <xs:element name="rtime" type="xs:string" />
        <xs:element name="sabun" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmcthisentity" >
      <xs:sequence>
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="rut" type="xs:string" />
        <xs:element name="types" type="xs:string" />
        <xs:element name="manto" type="xs:anyType" />
        <xs:element name="ctime" type="xs:anyType" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="neck" type="xs:string" />
        <xs:element name="rdocnum" type="xs:string" />
        <xs:element name="ddocnum" type="xs:string" />
        <xs:element name="stext" type="xs:string" />
        <xs:element name="process" type="xs:string" />
        <xs:element name="yymm" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wrkctpfentity" >
      <xs:sequence>
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="wrkds" type="xs:string" />
        <xs:element name="manto" type="xs:anyType" />
        <xs:element name="manpo" type="xs:anyType" />
        <xs:element name="cauph" type="xs:anyType" />
        <xs:element name="caupm" type="xs:anyType" />
        <xs:element name="tguph" type="xs:anyType" />
        <xs:element name="tgupm" type="xs:anyType" />
        <xs:element name="tgrat" type="xs:long" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="cust" type="xs:string" />
        <xs:element name="sosk" type="xs:string" />
        <xs:element name="nline" type="xs:string" />
        <xs:element name="actgb" type="xs:string" />
        <xs:element name="oldline" type="xs:string" />
        <xs:element name="opgb" type="xs:string" />
        <xs:element name="modi" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmctpfentity" >
      <xs:sequence>
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="rut" type="xs:string" />
        <xs:element name="svendor" type="xs:string" />
        <xs:element name="jdate" type="xs:string" />
        <xs:element name="types" type="xs:string" />
        <xs:element name="manto" type="xs:anyType" />
        <xs:element name="ctime" type="xs:anyType" />
        <xs:element name="neck" type="xs:string" />
        <xs:element name="dtext" type="xs:string" />
        <xs:element name="rdocnum" type="xs:string" />
        <xs:element name="ddocnum" type="xs:string" />
        <xs:element name="stext" type="xs:string" />
        <xs:element name="file0" type="xs:string" />
        <xs:element name="file1" type="xs:string" />
        <xs:element name="file2" type="xs:string" />
        <xs:element name="file3" type="xs:string" />
        <xs:element name="file4" type="xs:string" />
        <xs:element name="file5" type="xs:string" />
        <xs:element name="file6" type="xs:string" />
        <xs:element name="file7" type="xs:string" />
        <xs:element name="file8" type="xs:string" />
        <xs:element name="file9" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
        <xs:element name="nowgb" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmstpfvwentity" >
      <xs:sequence>
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="dscrp" type="xs:string" />
        <xs:element name="spcds" type="xs:string" />
        <xs:element name="pumgb" type="xs:string" />
        <xs:element name="pumgbds" type="xs:string" />
        <xs:element name="chjgb" type="xs:string" />
        <xs:element name="chjgbds" type="xs:string" />
        <xs:element name="pmjgb" type="xs:string" />
        <xs:element name="pmjgbds" type="xs:string" />
        <xs:element name="saygu" type="xs:string" />
        <xs:element name="sayguds" type="xs:string" />
        <xs:element name="chagb" type="xs:string" />
        <xs:element name="chagbds" type="xs:string" />
        <xs:element name="actgb" type="xs:string" />
        <xs:element name="actgbds" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prdpdpfvwentity" >
      <xs:sequence>
        <xs:element name="fact" type="xs:string" />
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="pldte" type="xs:string" />
        <xs:element name="plqty" type="xs:long" />
        <xs:element name="rhqty" type="xs:long" />
        <xs:element name="reqty" type="xs:long" />
        <xs:element name="wrksts" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expcostentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="yymm" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="custcd" type="xs:string" />
        <xs:element name="custtype" type="xs:string" />
        <xs:element name="pricetype" type="xs:string" />
        <xs:element name="unitprice" type="xs:double" />
        <xs:element name="prdqty" type="xs:long" />
        <xs:element name="prdmny" type="xs:double" />
        <xs:element name="workpo" type="xs:long" />
        <xs:element name="manager" type="xs:double" />
        <xs:element name="appno" type="xs:string" />
        <xs:element name="filetx" type="xs:string" />
        <xs:element name="notetx" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prodplnbentity" >
      <xs:sequence>
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="chjgb" type="xs:string" />
        <xs:element name="pdate" type="xs:string" />
        <xs:element name="shift" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="plqty" type="xs:long" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prodplandto" >
      <xs:sequence>
        <xs:element name="proddate" type="xs:string" />
        <xs:element name="prodline" type="xs:string" />
        <xs:element name="proditemno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trans" >
      <xs:sequence>
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="trscd" type="xs:string" />
        <xs:element name="trsdt" type="xs:string" />
        <xs:element name="serno" type="xs:string" />
        <xs:element name="qunty" type="xs:string" />
        <xs:element name="weigt" type="xs:string" />
        <xs:element name="money" type="xs:string" />
        <xs:element name="trgae" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="ref01" type="xs:string" />
        <xs:element name="ref02" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importplan" >
      <xs:sequence>
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="onhnd" type="xs:long" />
        <xs:element name="safmx" type="xs:long" />
        <xs:element name="safmn" type="xs:long" />
        <xs:element name="avrgb" type="xs:string" />
        <xs:element name="avrqt" type="xs:long" />
        <xs:element name="leadt" type="xs:long" />
        <xs:element name="purut" type="xs:long" />
        <xs:element name="purtm" type="xs:long" />
        <xs:element name="purgb" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalancehis" >
      <xs:sequence>
        <xs:element name="gdate" type="xs:string" />
        <xs:element name="gtime" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="trim" type="xs:long" />
        <xs:element name="mny" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmblpfsubentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="indate" type="xs:string" />
        <xs:element name="intime" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="jqty" type="xs:long" />
        <xs:element name="sts" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalancehisold" >
      <xs:sequence>
        <xs:element name="gdate" type="xs:string" />
        <xs:element name="gtime" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="indate" type="xs:string" />
        <xs:element name="intime" type="xs:string" />
        <xs:element name="qty" type="xs:double" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="sts" type="xs:string" />
        <xs:element name="bltype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalanceheader" >
      <xs:sequence>
        <xs:element name="gdate" type="xs:string" />
        <xs:element name="gtime" type="xs:string" />
        <xs:element name="timeflag" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="typeds" type="xs:string" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="warhs_nm" type="xs:string" />
        <xs:element name="qty" type="xs:double" />
        <xs:element name="mny" type="xs:double" />
        <xs:element name="ref" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="bltype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalance" >
      <xs:sequence>
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="onhnd" type="xs:long" />
        <xs:element name="safmx" type="xs:long" />
        <xs:element name="safmn" type="xs:long" />
        <xs:element name="avrgb" type="xs:string" />
        <xs:element name="avrqt" type="xs:long" />
        <xs:element name="leadt" type="xs:long" />
        <xs:element name="purut" type="xs:long" />
        <xs:element name="purtm" type="xs:long" />
        <xs:element name="purgb" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locaalmentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="gubn" type="xs:string" />
        <xs:element name="jdate" type="xs:string" />
        <xs:element name="ser" type="xs:long" />
        <xs:element name="gubn_txt" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="itm_nm" type="xs:string" />
        <xs:element name="line_cd" type="xs:string" />
        <xs:element name="line_nm" type="xs:string" />
        <xs:element name="cst_cd" type="xs:string" />
        <xs:element name="cst_nm" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="bigo01" type="xs:string" />
        <xs:element name="bigo02" type="xs:string" />
        <xs:element name="bigo03" type="xs:string" />
        <xs:element name="jsabn" type="xs:string" />
        <xs:element name="jname" type="xs:string" />
        <xs:element name="jymdhms" type="xs:string" />
        <xs:element name="csabn" type="xs:string" />
        <xs:element name="cname" type="xs:string" />
        <xs:element name="cymdhms" type="xs:string" />
        <xs:element name="sts" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalance08" >
      <xs:sequence>
        <xs:element name="gdate" type="xs:string" />
        <xs:element name="gtime" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="trim" type="xs:long" />
        <xs:element name="mny" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmblpfsubview" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="indate" type="xs:string" />
        <xs:element name="intime" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="jqty" type="xs:long" />
        <xs:element name="sts" type="xs:string" />
        <xs:element name="dscrp" type="xs:string" />
        <xs:element name="spcds" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalancesavequery" >
      <xs:sequence>
        <xs:element name="savingdate" type="xs:string" />
        <xs:element name="savingtime" type="xs:string" />
        <xs:element name="olddate" type="xs:string" />
        <xs:element name="bltype" type="xs:string" />
        <xs:element name="timeflag" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importplanalarm" >
      <xs:sequence>
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="mqty" type="xs:anyType" />
        <xs:element name="bsqty" type="xs:anyType" />
        <xs:element name="tsqty" type="xs:anyType" />
        <xs:element name="preqty" type="xs:anyType" />
        <xs:element name="expqty" type="xs:anyType" />
        <xs:element name="dscrp" type="xs:string" />
        <xs:element name="cusna" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importplanalarmquery" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="workdate" type="xs:string" />
        <xs:element name="fromdate" type="xs:string" />
        <xs:element name="todate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmblpfsubdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="indate" type="xs:string" />
        <xs:element name="intime" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="jqty" type="xs:long" />
        <xs:element name="sts" type="xs:string" />
        <xs:element name="changedlocat" type="xs:string" />
        <xs:element name="changedqty" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querydto" >
      <xs:sequence>
        <xs:element name="gubn" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="dscrp" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="cusna" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalancehisoldmapper" >
      <xs:sequence>
        <xs:element name="namespace" type="xs:string" />
        <xs:element name="template" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalancehismapper" >
      <xs:sequence>
        <xs:element name="namespace" type="xs:string" />
        <xs:element name="template" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalanceheadermapper" >
      <xs:sequence>
        <xs:element name="namespace" type="xs:string" />
        <xs:element name="template" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importplanmapper" >
      <xs:sequence>
        <xs:element name="namespace" type="xs:string" />
        <xs:element name="template" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalanceserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itembalancehismapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itembalancehisrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itembalanceheadermapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itembalanceheaderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itembalancehisoldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itembalancehisoldmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="transrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmblpfsubserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itmblpfsubrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="coderepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locaalmentityservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importplanserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="importplanmapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="importplanrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalanceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmblpfsubservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importplanservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locaalmentityserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="locaalmentityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locaalmrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="locaalmentityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="locaalmentityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warehouserestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itmblpfsubviewrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itmblpfsubrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itmblpfsubservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importplanrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="importplanservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importplanrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<importplan,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itembalanceheaderrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<itembalanceheader,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itembalancehisoldrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<itembalancehisold,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itmblpfsubviewrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<itmblpfsubview,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itembalancehisrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<itembalancehis,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itmblpfsubrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<itmblpfsubentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<trans,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itembalancerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<itembalance,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="locaalmentityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<locaalmentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itdamagerestcontroller" >
      <xs:sequence>
        <xs:element name="uploadfolder" type="xs:string" />
        <xs:element name="GeneratedName" type="itdamageservice" nillable="true" minOccurs="0" />
        <xs:element name="itdamagerepo" type="itdamagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fileservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itdamagefilerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<itdamagefile,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itdamagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<itdamage,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itdamageserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reportrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itdamagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itdamageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itdamage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="co_gb" type="xs:string" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="class1" type="xs:string" />
        <xs:element name="class2" type="xs:string" />
        <xs:element name="class3" type="xs:string" />
        <xs:element name="rtime" type="xs:string" />
        <xs:element name="rsabun" type="xs:string" />
        <xs:element name="rteam" type="xs:string" />
        <xs:element name="rname" type="xs:string" />
        <xs:element name="rtel" type="xs:string" />
        <xs:element name="rtxt" type="xs:string" />
        <xs:element name="ctime" type="xs:string" />
        <xs:element name="csabun" type="xs:string" />
        <xs:element name="cname" type="xs:string" />
        <xs:element name="cteam" type="xs:string" />
        <xs:element name="ctel" type="xs:string" />
        <xs:element name="ctxt" type="xs:string" />
        <xs:element name="attach" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itdamagefile" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="uploadpath" type="xs:string" />
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="GeneratedName" type="itdamage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itdamagefileserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<itdamagefile>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="linerestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="linerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bomrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bomassyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coderestcontroller" >
      <xs:sequence>
        <xs:element name="coderepo" type="coderepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bomrestcontroller" >
      <xs:sequence>
        <xs:element name="////itemrepositoryitemrepository" type="bomrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bomassyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
        <xs:element name="adgub" type="xs:string" />
        <xs:element name="asgub" type="xs:string" />
        <xs:element name="asdes" type="xs:string" />
        <xs:element name="aref1" type="xs:string" />
        <xs:element name="aref2" type="xs:string" />
        <xs:element name="afill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bomassy" >
      <xs:sequence>
        <xs:element name="line" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="citem" type="xs:string" />
        <xs:element name="level" type="xs:string" />
        <xs:element name="bdate" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="bunit" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lineview" >
      <xs:sequence>
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="wrkds" type="xs:string" />
        <xs:element name="manto" type="xs:double" />
        <xs:element name="manpo" type="xs:double" />
        <xs:element name="cauph" type="xs:double" />
        <xs:element name="caupm" type="xs:double" />
        <xs:element name="tguph" type="xs:double" />
        <xs:element name="tgupm" type="xs:double" />
        <xs:element name="tgrat" type="xs:double" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="cust" type="xs:string" />
        <xs:element name="sosk" type="xs:string" />
        <xs:element name="nline" type="xs:string" />
        <xs:element name="actgb" type="xs:string" />
        <xs:element name="oldline" type="xs:string" />
        <xs:element name="opgb" type="xs:string" />
        <xs:element name="modi" type="xs:string" />
        <xs:element name="cusna" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codegroup" >
      <xs:sequence>
        <xs:element name="adgub" type="xs:string" />
        <xs:element name="asgub" type="xs:string" />
        <xs:element name="asdes" type="xs:string" />
        <xs:element name="fdept" type="xs:string" />
        <xs:element name="tdept" type="xs:string" />
        <xs:element name="act1" type="xs:string" />
        <xs:element name="act2" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="pgubn" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemview" >
      <xs:sequence>
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="dscrp" type="xs:string" />
        <xs:element name="spcds" type="xs:string" />
        <xs:element name="units" type="xs:string" />
        <xs:element name="untwg" type="xs:double" />
        <xs:element name="pumgb" type="xs:string" />
        <xs:element name="pllut" type="xs:double" />
        <xs:element name="chjgb" type="xs:string" />
        <xs:element name="pmjgb" type="xs:string" />
        <xs:element name="autmt" type="xs:string" />
        <xs:element name="absgb" type="xs:string" />
        <xs:element name="baecc" type="xs:double" />
        <xs:element name="saygu" type="xs:string" />
        <xs:element name="chagb" type="xs:string" />
        <xs:element name="lrhgb" type="xs:string" />
        <xs:element name="alccd" type="xs:string" />
        <xs:element name="sangp" type="xs:string" />
        <xs:element name="mater" type="xs:string" />
        <xs:element name="dwgno" type="xs:string" />
        <xs:element name="qcgub" type="xs:string" />
        <xs:element name="lctno" type="xs:string" />
        <xs:element name="mnygb" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="actgb" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="pmsgb" type="xs:string" />
        <xs:element name="mcgb" type="xs:string" />
        <xs:element name="etgb" type="xs:string" />
        <xs:element name="wpie" type="xs:double" />
        <xs:element name="wlen" type="xs:double" />
        <xs:element name="pummock" type="xs:string" />
        <xs:element name="chajong" type="xs:string" />
        <xs:element name="pumjong" type="xs:string" />
        <xs:element name="automnu" type="xs:string" />
        <xs:element name="absgubn" type="xs:string" />
        <xs:element name="sayang" type="xs:string" />
        <xs:element name="lhrhgub" type="xs:string" />
        <xs:element name="chadae" type="xs:string" />
        <xs:element name="hwapye" type="xs:string" />
        <xs:element name="cusna" type="xs:string" />
        <xs:element name="sopumjong" type="xs:string" />
        <xs:element name="maepum" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bom" >
      <xs:sequence>
        <xs:element name="pitem" type="xs:string" />
        <xs:element name="citem" type="xs:string" />
        <xs:element name="stdate" type="xs:string" />
        <xs:element name="asyno" type="xs:long" />
        <xs:element name="asyqt" type="xs:long" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bomassyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<bomassy,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<itemview,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bomrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<bom,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="coderepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<code,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="linerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<lineview,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="settinghis" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="rut" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="class01" type="xs:string" />
        <xs:element name="class02" type="xs:string" />
        <xs:element name="class03" type="xs:string" />
        <xs:element name="reason01" type="xs:string" />
        <xs:element name="reason02" type="xs:string" />
        <xs:element name="reason03" type="xs:string" />
        <xs:element name="prespec" type="xs:double" />
        <xs:element name="aftspec" type="xs:double" />
        <xs:element name="testcase" type="xs:string" />
        <xs:element name="testdt" type="xs:dateTime" />
        <xs:element name="testdate" type="xs:string" />
        <xs:element name="testdata" type="xs:double" />
        <xs:element name="testresult" type="xs:string" />
        <xs:element name="testemp" type="xs:string" />
        <xs:element name="confirmdt" type="xs:dateTime" />
        <xs:element name="confirmdate" type="xs:string" />
        <xs:element name="confirmemp" type="xs:string" />
        <xs:element name="remark01" type="xs:string" />
        <xs:element name="remark02" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oeeerrhisentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="kdate" type="xs:string" />
        <xs:element name="ktime" type="xs:string" />
        <xs:element name="cnt" type="xs:long" />
        <xs:element name="gap" type="xs:long" />
        <xs:element name="logtime" type="xs:anyType" />
        <xs:element name="class1" type="xs:string" />
        <xs:element name="class2" type="xs:string" />
        <xs:element name="class3" type="xs:string" />
        <xs:element name="ref1" type="xs:string" />
        <xs:element name="ref2" type="xs:string" />
        <xs:element name="ref3" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settinghisrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<settinghis,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="oeeerrhisentityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<oeeerrhisentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="settinghiscontroller" >
      <xs:sequence>
        <xs:element name="////itdamageserviceitdamageservicesettinghisrepo" type="settinghisrepository" nillable="true" minOccurs="0" />
        <xs:element name="sdf" type="xs:anyType" />
        <xs:element name="formatsdf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodrestcontroller" >
      <xs:sequence>
        <xs:element name="foodrepo" type="foodrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reportservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reportrepository" nillable="true" minOccurs="0" />
        <xs:element name="sdf" type="xs:anyType" />
        <xs:element name="formatsdf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mnginworkrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mnginworkmstrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mnginworkmstentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="company" type="xs:string" />
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="docutype" type="xs:string" />
        <xs:element name="rdate" type="xs:string" />
        <xs:element name="ser" type="xs:long" />
        <xs:element name="rsabn" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
        <xs:element name="ref01" type="xs:string" />
        <xs:element name="mnginworksubentities" type="mnginworksubentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report" >
      <xs:sequence>
        <xs:element name="fgub" type="xs:string" />
        <xs:element name="udate" type="xs:string" />
        <xs:element name="ser" type="xs:string" />
        <xs:element name="utime" type="xs:string" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="rut" type="xs:string" />
        <xs:element name="sgub" type="xs:string" />
        <xs:element name="usabn" type="xs:string" />
        <xs:element name="udes" type="xs:string" />
        <xs:element name="dsabn" type="xs:string" />
        <xs:element name="sdate" type="xs:string" />
        <xs:element name="stime" type="xs:string" />
        <xs:element name="edate" type="xs:string" />
        <xs:element name="etime" type="xs:string" />
        <xs:element name="bpmtd" type="xs:string" />
        <xs:element name="ftcod" type="xs:string" />
        <xs:element name="ftdes" type="xs:string" />
        <xs:element name="fourm" type="xs:string" />
        <xs:element name="bsdes" type="xs:string" />
        <xs:element name="gjdes" type="xs:string" />
        <xs:element name="smschk1" type="xs:string" />
        <xs:element name="smschk2" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mngfood" >
      <xs:sequence>
        <xs:element name="row_id" type="xs:string" />
        <xs:element name="companycode" type="xs:string" />
        <xs:element name="gdate" type="xs:string" />
        <xs:element name="gubn" type="xs:string" />
        <xs:element name="ser" type="xs:long" />
        <xs:element name="menu" type="xs:string" />
        <xs:element name="bigo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smsmodel" >
      <xs:sequence>
        <xs:element name="phone" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="sendno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sgatecar" >
      <xs:sequence>
        <xs:element name="jdate" type="xs:string" />
        <xs:element name="serno" type="xs:long" />
        <xs:element name="jsabun" type="xs:string" />
        <xs:element name="dsabun" type="xs:string" />
        <xs:element name="jgubn" type="xs:string" />
        <xs:element name="carno" type="xs:string" />
        <xs:element name="bsdate" type="xs:string" />
        <xs:element name="bstim" type="xs:string" />
        <xs:element name="bedate" type="xs:string" />
        <xs:element name="betim" type="xs:string" />
        <xs:element name="hang" type="xs:string" />
        <xs:element name="pure" type="xs:string" />
        <xs:element name="tjsabun" type="xs:string" />
        <xs:element name="tjgdate" type="xs:string" />
        <xs:element name="cmsabun" type="xs:string" />
        <xs:element name="cmdate" type="xs:string" />
        <xs:element name="cmtim" type="xs:string" />
        <xs:element name="ygubn" type="xs:string" />
        <xs:element name="yuru" type="xs:string" />
        <xs:element name="outdate" type="xs:string" />
        <xs:element name="outtim" type="xs:string" />
        <xs:element name="indate" type="xs:string" />
        <xs:element name="intim" type="xs:string" />
        <xs:element name="sts" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="spoint" type="xs:string" />
        <xs:element name="distance" type="xs:string" />
        <xs:element name="jname" type="xs:string" />
        <xs:element name="dname" type="xs:string" />
        <xs:element name="dteam_nm" type="xs:string" />
        <xs:element name="cogb" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mnginworksubentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="company" type="xs:string" />
        <xs:element name="docutype" type="xs:string" />
        <xs:element name="docusubno" type="xs:long" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="startdt" type="xs:string" />
        <xs:element name="starttm" type="xs:string" />
        <xs:element name="execdt" type="xs:string" />
        <xs:element name="exectm" type="xs:string" />
        <xs:element name="enddt" type="xs:string" />
        <xs:element name="endtm" type="xs:string" />
        <xs:element name="jobtitle" type="xs:string" />
        <xs:element name="jobtype" type="xs:string" />
        <xs:element name="mainjob" type="xs:string" />
        <xs:element name="expectedmny" type="xs:double" />
        <xs:element name="execmny" type="xs:double" />
        <xs:element name="modreason" type="xs:string" />
        <xs:element name="execmnystr1" type="xs:string" />
        <xs:element name="execmnystr2" type="xs:string" />
        <xs:element name="execmnystr3" type="xs:string" />
        <xs:element name="exptmnystr1" type="xs:string" />
        <xs:element name="exptmnystr2" type="xs:string" />
        <xs:element name="exptmnystr3" type="xs:string" />
        <xs:element name="ref01" type="xs:string" />
        <xs:element name="ref02" type="xs:string" />
        <xs:element name="ref03" type="xs:string" />
        <xs:element name="GeneratedName" type="mnginworkmstentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportserviceimpl" >
      <xs:sequence>
        <xs:element name="sdf" type="xs:anyType" />
        <xs:element name="GeneratedName" type="reportrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<report,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mnginworksubrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mnginworkmstentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mnginworkmstrepository" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mngfood,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookrestcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="publish" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageserviceimpl" >
      <xs:sequence>
        <xs:element name="messageserverurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagemodel" >
      <xs:sequence>
        <xs:element name="mt_pr" type="xs:long" />
        <xs:element name="mt_refkey" type="xs:string" />
        <xs:element name="priority" type="xs:string" />
        <xs:element name="_client_req" type="xs:dateTime" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="callback" type="xs:string" />
        <xs:element name="msg_status" type="xs:string" />
        <xs:element name="recipient_num" type="xs:string" />
        <xs:element name="_mt_sent" type="xs:dateTime" />
        <xs:element name="_rslt" type="xs:dateTime" />
        <xs:element name="_mt_report" type="xs:dateTime" />
        <xs:element name="report_code" type="xs:string" />
        <xs:element name="rs_id" type="xs:string" />
        <xs:element name="country_code" type="xs:string" />
        <xs:element name="msg_type" type="xs:long" />
        <xs:element name="crypto_yn" type="xs:string" />
        <xs:element name="ita_id" type="xs:string" />
        <xs:element name="reg_" type="xs:dateTime" />
        <xs:element name="sender_key" type="xs:string" />
        <xs:element name="template_code" type="xs:string" />
        <xs:element name="response_method" type="xs:string" />
        <xs:element name="ad_flag" type="xs:string" />
        <xs:element name="kko_btn_type" type="xs:string" />
        <xs:element name="kko_btn_info" type="xs:string" />
        <xs:element name="img_url" type="xs:string" />
        <xs:element name="img_link" type="xs:string" />
        <xs:element name="etc_text_1" type="xs:string" />
        <xs:element name="etc_text_2" type="xs:string" />
        <xs:element name="etc_text_3" type="xs:string" />
        <xs:element name="etc_num_1" type="xs:long" />
        <xs:element name="etc_num_2" type="xs:long" />
        <xs:element name="etc_num_3" type="xs:long" />
        <xs:element name="etc__1" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="fileservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileuploadresponse" >
      <xs:sequence>
        <xs:element name="filename" type="xs:string" />
        <xs:element name="filedownloaduri" type="xs:string" />
        <xs:element name="filetype" type="xs:string" />
        <xs:element name="size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filedownloadexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fileuploadexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fileserviceimpl" >
      <xs:sequence>
        <xs:element name="filelocation" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftpservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileuploaddto" >
      <xs:sequence>
        <xs:element name="folderpath" type="xs:string" />
        <xs:element name="s" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inaccount" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="companycode" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="asosk" type="xs:string" />
        <xs:element name="nasosk" type="xs:string" />
        <xs:element name="rco_gb" type="xs:string" />
        <xs:element name="kname" type="xs:string" />
        <xs:element name="ename" type="xs:string" />
        <xs:element name="hname" type="xs:string" />
        <xs:element name="jumin_no" type="xs:string" />
        <xs:element name="enter_cd" type="xs:string" />
        <xs:element name="enter_ymd" type="xs:string" />
        <xs:element name="guns_ymd" type="xs:string" />
        <xs:element name="mt_gb" type="xs:string" />
        <xs:element name="jikj_cd" type="xs:string" />
        <xs:element name="jikc_cd" type="xs:string" />
        <xs:element name="jikb_cd" type="xs:string" />
        <xs:element name="fagb_cd" type="xs:string" />
        <xs:element name="line_cd" type="xs:string" />
        <xs:element name="dir_fl" type="xs:string" />
        <xs:element name="duty_nm" type="xs:string" />
        <xs:element name="apsosk" type="xs:string" />
        <xs:element name="send_fl" type="xs:string" />
        <xs:element name="unio_gb" type="xs:string" />
        <xs:element name="ctel_no" type="xs:string" />
        <xs:element name="htel_no" type="xs:string" />
        <xs:element name="mobi_no" type="xs:string" />
        <xs:element name="bpost_no" type="xs:string" />
        <xs:element name="bsido" type="xs:string" />
        <xs:element name="baddr" type="xs:string" />
        <xs:element name="hpost_no" type="xs:string" />
        <xs:element name="hsido" type="xs:string" />
        <xs:element name="haddr" type="xs:string" />
        <xs:element name="live_gb" type="xs:string" />
        <xs:element name="birt_gb" type="xs:string" />
        <xs:element name="birt_ymd" type="xs:string" />
        <xs:element name="marr_fl" type="xs:string" />
        <xs:element name="marr_ymd" type="xs:string" />
        <xs:element name="height" type="xs:double" />
        <xs:element name="weight" type="xs:double" />
        <xs:element name="blood" type="xs:string" />
        <xs:element name="leye" type="xs:double" />
        <xs:element name="reye" type="xs:double" />
        <xs:element name="army_fl" type="xs:string" />
        <xs:element name="sdate_ymd" type="xs:string" />
        <xs:element name="edate_ymd" type="xs:string" />
        <xs:element name="reti_gb" type="xs:string" />
        <xs:element name="reti_ymd" type="xs:string" />
        <xs:element name="reti_mny" type="xs:double" />
        <xs:element name="retremk" type="xs:string" />
        <xs:element name="wkjo1_cd" type="xs:string" />
        <xs:element name="wkjo2_cd" type="xs:string" />
        <xs:element name="genr_gb" type="xs:string" />
        <xs:element name="goga_gb" type="xs:string" />
        <xs:element name="posi_gb" type="xs:string" />
        <xs:element name="wkjo_gb" type="xs:string" />
        <xs:element name="aces_cd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orguser" >
      <xs:sequence>
        <xs:element name="companycode" type="xs:string" />
        <xs:element name="empid" type="xs:string" />
        <xs:element name="loginid" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="maindeptcode" type="xs:string" />
        <xs:element name="createddt" type="xs:string" />
        <xs:element name="legacyexchangedn" type="xs:string" />
        <xs:element name="displayname" type="xs:string" />
        <xs:element name="displayyn" type="xs:string" />
        <xs:element name="roletype" type="xs:string" />
        <xs:element name="dutycode" type="xs:string" />
        <xs:element name="jobcode" type="xs:string" />
        <xs:element name="rankcode" type="xs:string" />
        <xs:element name="cellphone" type="xs:string" />
        <xs:element name="faxnumber" type="xs:string" />
        <xs:element name="extensionnumber" type="xs:string" />
        <xs:element name="locationcode" type="xs:string" />
        <xs:element name="teamchiefyn" type="xs:string" />
        <xs:element name="dateofbirth" type="xs:string" />
        <xs:element name="ifyn" type="xs:string" />
        <xs:element name="messangerifyn" type="xs:string" />
        <xs:element name="phone1" type="xs:string" />
        <xs:element name="phone2" type="xs:string" />
        <xs:element name="culture" type="xs:string" />
        <xs:element name="org_cd" type="xs:string" />
        <xs:element name="regid" type="xs:string" />
        <xs:element name="regdt" type="xs:dateTime" />
        <xs:element name="updid" type="xs:string" />
        <xs:element name="upddt" type="xs:dateTime" />
        <xs:element name="sapid" type="xs:string" />
        <xs:element name="sapmngyn" type="xs:string" />
        <xs:element name="kostl" type="xs:string" />
        <xs:element name="valid_yn" type="xs:string" />
        <xs:element name="jobdesc" type="xs:string" />
        <xs:element name="dpartner" type="xs:string" />
        <xs:element name="onsite" type="xs:string" />
        <xs:element name="sitecompany" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountroles" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="roles" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extaccount" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="gubun" type="xs:string" />
        <xs:element name="serno" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="plast" type="xs:string" />
        <xs:element name="ulast" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="chkqc" type="xs:string" />
        <xs:element name="laut" type="xs:string" />
        <xs:element name="stel" type="xs:string" />
        <xs:element name="htel" type="xs:string" />
        <xs:element name="kofcd" type="xs:string" />
        <xs:element name="won" type="xs:string" />
        <xs:element name="kum" type="xs:string" />
        <xs:element name="sipgo" type="xs:string" />
        <xs:element name="sang" type="xs:string" />
        <xs:element name="sms_nm" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orguserrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="companycode" type="xs:string" />
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="//stringaddress//longsocialid//@joincolumn(name" type="accountroles" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orguserdto" >
      <xs:sequence>
        <xs:element name="companycode" type="xs:string" />
        <xs:element name="empid" type="xs:string" />
        <xs:element name="loginid" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="maindeptcode" type="xs:string" />
        <xs:element name="createddt" type="xs:string" />
        <xs:element name="legacyexchangedn" type="xs:string" />
        <xs:element name="displayname" type="xs:string" />
        <xs:element name="displayyn" type="xs:string" />
        <xs:element name="roletype" type="xs:string" />
        <xs:element name="dutycode" type="xs:string" />
        <xs:element name="jobcode" type="xs:string" />
        <xs:element name="rankcode" type="xs:string" />
        <xs:element name="cellphone" type="xs:string" />
        <xs:element name="faxnumber" type="xs:string" />
        <xs:element name="extensionnumber" type="xs:string" />
        <xs:element name="locationcode" type="xs:string" />
        <xs:element name="teamchiefyn" type="xs:string" />
        <xs:element name="dateofbirth" type="xs:string" />
        <xs:element name="ifyn" type="xs:string" />
        <xs:element name="messangerifyn" type="xs:string" />
        <xs:element name="phone1" type="xs:string" />
        <xs:element name="phone2" type="xs:string" />
        <xs:element name="culture" type="xs:string" />
        <xs:element name="org_cd" type="xs:string" />
        <xs:element name="regid" type="xs:string" />
        <xs:element name="regdt" type="xs:dateTime" />
        <xs:element name="updid" type="xs:string" />
        <xs:element name="upddt" type="xs:dateTime" />
        <xs:element name="sapid" type="xs:string" />
        <xs:element name="sapmngyn" type="xs:string" />
        <xs:element name="kostl" type="xs:string" />
        <xs:element name="valid_yn" type="xs:string" />
        <xs:element name="jobdesc" type="xs:string" />
        <xs:element name="dpartner" type="xs:string" />
        <xs:element name="onsite" type="xs:string" />
        <xs:element name="sitecompany" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountmapper" >
      <xs:sequence>
        <xs:element name="namespace" type="xs:string" />
        <xs:element name="template" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inaccountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<inaccount,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<account,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="extaccountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<extaccount,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orguserrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<orguser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
        <xs:element name="default_nickname" type="xs:string" />
        <xs:element name="profile_default_path" type="xs:string" />
        <xs:element name="notexist_exception_msg" type="xs:string" />
        <xs:element name="signin_exception_msg" type="xs:string" />
        <xs:element name="email_exist_exception_msg" type="xs:string" />
        <xs:element name="nickname_exist_exception_msg" type="xs:string" />
        <xs:element name="GeneratedName" type="accountmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountadapter" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="" type="account" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accesshistory" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="company" type="xs:string" />
        <xs:element name="deptcode" type="xs:string" />
        <xs:element name="deptname" type="xs:string" />
        <xs:element name="mobileno" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="prgname" type="xs:string" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="exectime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accesshistoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<accesshistory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accesshistoryv2restcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accesshistoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accesshistoryrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accesshistoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temperdtdto" >
      <xs:sequence>
        <xs:element name="temper" type="xs:string" />
        <xs:element name="humidity" type="xs:string" />
        <xs:element name="ipaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temperdtrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<temperdtentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="temperhdrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<temperhdentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="temperhdentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cogb" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="ipaddress" type="xs:string" />
        <xs:element name="tcycle" type="xs:anyType" />
        <xs:element name="tempermin" type="xs:anyType" />
        <xs:element name="tempermax" type="xs:anyType" />
        <xs:element name="humidmin" type="xs:anyType" />
        <xs:element name="humidmax" type="xs:anyType" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="bigo" type="xs:string" />
        <xs:element name="crtdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temperdtentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="co_gb" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="temper" type="xs:string" />
        <xs:element name="humidity" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temperdtcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="temperdtservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="temperdtrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temperdtserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="temperhdrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="temperdtrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temperdtservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seohanwebapplication" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
          <xs:element name="dateformatstring" type="xs:anyType" />
          <xs:element name="timeformatstring" type="xs:anyType" />
          <xs:element name="dateformat" type="xs:anyType" />
          <xs:element name="timeformat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="board" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="korean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metismenu.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app.b22ce679862c47a75225.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest.2ae2e69a05c33dfc65f8.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendor.e00e51762311e00a2108.js" >
      <xs:complexContent>
       <xs:extension base="and">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manifest.2ae2e69a05c33dfc65f8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app.b22ce679862c47a75225" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-dev" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mysql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mybatis-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="locaalmentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itmblpfsubrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prodplantest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="prodplanservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matwarehousetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="locaalmentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itmblpfsubrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itmblpfsubservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seohanwebapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authrepotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftatest" >
      <xs:sequence>
        <xs:element name="porepo" type="poheaderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledjobtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itembalancehisrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itembalanceservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itembalancehisoldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itembalanceheaderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itembalanceheadermapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importplantest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="importplanservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 