SeohanWeb/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="damagpfentity" >
      <xs:sequence>
        <xs:element name="jdate" type="xs:string" />
        <xs:element name="serno" type="xs:long" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="qunty" type="xs:long" />
        <xs:element name="dcode" type="xs:string" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="vend" type="xs:string" />
        <xs:element name="jitem" type="xs:string" />
        <xs:element name="acode" type="xs:string" />
        <xs:element name="adate" type="xs:string" />
        <xs:element name="asabn" type="xs:string" />
        <xs:element name="bsosk" type="xs:string" />
        <xs:element name="bcode" type="xs:string" />
        <xs:element name="bdes" type="xs:string" />
        <xs:element name="cdate" type="xs:string" />
        <xs:element name="csabn" type="xs:string" />
        <xs:element name="cdes" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="dsum" type="xs:string" />
        <xs:element name="ddes" type="xs:string" />
        <xs:element name="pfchk" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="atagno" type="xs:string" />
        <xs:element name="btagno" type="xs:string" />
        <xs:element name="bigo" type="xs:string" />
        <xs:element name="aql" type="xs:string" />
        <xs:element name="ritmno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="podetail" >
      <xs:sequence>
        <xs:element name="cogb" type="xs:string" />
        <xs:element name="pono" type="xs:string" />
        <xs:element name="poseq" type="xs:double" />
        <xs:element name="st_itmno" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="itm_nm" type="xs:string" />
        <xs:element name="itm_spec" type="xs:string" />
        <xs:element name="po_qty" type="xs:double" />
        <xs:element name="rp_qty" type="xs:double" />
        <xs:element name="unit_cd" type="xs:string" />
        <xs:element name="unit_amt" type="xs:double" />
        <xs:element name="mny_cd" type="xs:string" />
        <xs:element name="exc_amt" type="xs:double" />
        <xs:element name="nego_amt" type="xs:double" />
        <xs:element name="po_amt" type="xs:double" />
        <xs:element name="pos_tx" type="xs:string" />
        <xs:element name="dlv_req_ymd" type="xs:string" />
        <xs:element name="dlv_locat" type="xs:string" />
        <xs:element name="cost_cd" type="xs:string" />
        <xs:element name="asset_gb" type="xs:string" />
        <xs:element name="asset_cd" type="xs:string" />
        <xs:element name="status_cd" type="xs:string" />
        <xs:element name="GeneratedName" type="poheader" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="poheader" >
      <xs:sequence>
        <xs:element name="cogb" type="xs:string" />
        <xs:element name="pono" type="xs:string" />
        <xs:element name="sub_no" type="xs:long" />
        <xs:element name="mr_no" type="xs:string" />
        <xs:element name="po_gb" type="xs:string" />
        <xs:element name="po_tx" type="xs:string" />
        <xs:element name="st_cust_cd" type="xs:string" />
        <xs:element name="cust_cd" type="xs:string" />
        <xs:element name="cust_nm" type="xs:string" />
        <xs:element name="cust_chrg_nm" type="xs:string" />
        <xs:element name="cust_chrg_hp" type="xs:string" />
        <xs:element name="via_cust_cd" type="xs:string" />
        <xs:element name="direct_fl" type="xs:string" />
        <xs:element name="po_class" type="xs:string" />
        <xs:element name="po_chrg_ymd" type="xs:string" />
        <xs:element name="po_dept_cd" type="xs:string" />
        <xs:element name="po_dept_nm" type="xs:string" />
        <xs:element name="po_chrg_id" type="xs:string" />
        <xs:element name="po_chrg_nm" type="xs:string" />
        <xs:element name="poymd" type="xs:string" />
        <xs:element name="po_appr_id" type="xs:string" />
        <xs:element name="po_appr_nm" type="xs:string" />
        <xs:element name="fc_fl" type="xs:string" />
        <xs:element name="contrct_no" type="xs:string" />
        <xs:element name="po_file_no" type="xs:string" />
        <xs:element name="po_remark" type="xs:string" />
        <xs:element name="cust_remark" type="xs:string" />
        <xs:element name="mr_dept_cd" type="xs:string" />
        <xs:element name="mr_dept_nm" type="xs:string" />
        <xs:element name="ysn_dept_cd" type="xs:string" />
        <xs:element name="ysn_dept_nm" type="xs:string" />
        <xs:element name="ysn_year" type="xs:string" />
        <xs:element name="ysn_cd" type="xs:string" />
        <xs:element name="ysn_nm" type="xs:string" />
        <xs:element name="po_itmno" type="xs:string" />
        <xs:element name="po_itm_nm" type="xs:string" />
        <xs:element name="nego_tot_amt" type="xs:double" />
        <xs:element name="po_tot_amt" type="xs:double" />
        <xs:element name="rp_fin_ymd" type="xs:string" />
        <xs:element name="rp_fin_id" type="xs:string" />
        <xs:element name="rp_fin_nm" type="xs:string" />
        <xs:element name="update_ymd" type="xs:string" />
        <xs:element name="globiz_fl" type="xs:string" />
        <xs:element name="status_cd" type="xs:string" />
        <xs:element name="if_flag" type="xs:string" />
        <xs:element name="podetails" type="podetail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prdpdpfentity" >
      <xs:sequence>
        <xs:element name="pldte" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="wrkjo" type="xs:string" />
        <xs:element name="seqno" type="xs:long" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="plqty" type="xs:long" />
        <xs:element name="rhqty" type="xs:long" />
        <xs:element name="reqty" type="xs:long" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="prtqty" type="xs:long" />
        <xs:element name="wrksts" type="xs:string" />
        <xs:element name="percnt" type="xs:anyType" />
        <xs:element name="jtime" type="xs:long" />
        <xs:element name="jmh" type="xs:anyType" />
        <xs:element name="tguph" type="xs:anyType" />
        <xs:element name="tgupm" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trans" >
      <xs:sequence>
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="trscd" type="xs:string" />
        <xs:element name="trsdt" type="xs:string" />
        <xs:element name="serno" type="xs:string" />
        <xs:element name="qunty" type="xs:string" />
        <xs:element name="weigt" type="xs:string" />
        <xs:element name="money" type="xs:string" />
        <xs:element name="trgae" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="ref01" type="xs:string" />
        <xs:element name="ref02" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importplan" >
      <xs:sequence>
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="onhnd" type="xs:long" />
        <xs:element name="safmx" type="xs:long" />
        <xs:element name="safmn" type="xs:long" />
        <xs:element name="avrgb" type="xs:string" />
        <xs:element name="avrqt" type="xs:long" />
        <xs:element name="leadt" type="xs:long" />
        <xs:element name="purut" type="xs:long" />
        <xs:element name="purtm" type="xs:long" />
        <xs:element name="purgb" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalancehis" >
      <xs:sequence>
        <xs:element name="gdate" type="xs:string" />
        <xs:element name="gtime" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="trim" type="xs:long" />
        <xs:element name="mny" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmblpfsubentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="indate" type="xs:string" />
        <xs:element name="intime" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="jqty" type="xs:long" />
        <xs:element name="sts" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalancehisold" >
      <xs:sequence>
        <xs:element name="gdate" type="xs:string" />
        <xs:element name="gtime" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="indate" type="xs:string" />
        <xs:element name="intime" type="xs:string" />
        <xs:element name="qty" type="xs:double" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="sts" type="xs:string" />
        <xs:element name="bltype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalanceheader" >
      <xs:sequence>
        <xs:element name="gdate" type="xs:string" />
        <xs:element name="gtime" type="xs:string" />
        <xs:element name="timeflag" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="typeds" type="xs:string" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="warhs_nm" type="xs:string" />
        <xs:element name="qty" type="xs:double" />
        <xs:element name="mny" type="xs:double" />
        <xs:element name="ref" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="bltype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalance" >
      <xs:sequence>
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="onhnd" type="xs:long" />
        <xs:element name="safmx" type="xs:long" />
        <xs:element name="safmn" type="xs:long" />
        <xs:element name="avrgb" type="xs:string" />
        <xs:element name="avrqt" type="xs:long" />
        <xs:element name="leadt" type="xs:long" />
        <xs:element name="purut" type="xs:long" />
        <xs:element name="purtm" type="xs:long" />
        <xs:element name="purgb" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locaalmentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="gubn" type="xs:string" />
        <xs:element name="jdate" type="xs:string" />
        <xs:element name="ser" type="xs:long" />
        <xs:element name="gubn_txt" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="itm_nm" type="xs:string" />
        <xs:element name="line_cd" type="xs:string" />
        <xs:element name="line_nm" type="xs:string" />
        <xs:element name="cst_cd" type="xs:string" />
        <xs:element name="cst_nm" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="bigo01" type="xs:string" />
        <xs:element name="bigo02" type="xs:string" />
        <xs:element name="bigo03" type="xs:string" />
        <xs:element name="jsabn" type="xs:string" />
        <xs:element name="jname" type="xs:string" />
        <xs:element name="jymdhms" type="xs:string" />
        <xs:element name="csabn" type="xs:string" />
        <xs:element name="cname" type="xs:string" />
        <xs:element name="cymdhms" type="xs:string" />
        <xs:element name="sts" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itembalance08" >
      <xs:sequence>
        <xs:element name="gdate" type="xs:string" />
        <xs:element name="gtime" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="trim" type="xs:long" />
        <xs:element name="mny" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itmblpfsubview" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="locat" type="xs:string" />
        <xs:element name="lotno" type="xs:string" />
        <xs:element name="indate" type="xs:string" />
        <xs:element name="intime" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="jqty" type="xs:long" />
        <xs:element name="sts" type="xs:string" />
        <xs:element name="dscrp" type="xs:string" />
        <xs:element name="spcds" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itdamage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="co_gb" type="xs:string" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="class1" type="xs:string" />
        <xs:element name="class2" type="xs:string" />
        <xs:element name="class3" type="xs:string" />
        <xs:element name="rtime" type="xs:string" />
        <xs:element name="rsabun" type="xs:string" />
        <xs:element name="rteam" type="xs:string" />
        <xs:element name="rname" type="xs:string" />
        <xs:element name="rtel" type="xs:string" />
        <xs:element name="rtxt" type="xs:string" />
        <xs:element name="ctime" type="xs:string" />
        <xs:element name="csabun" type="xs:string" />
        <xs:element name="cname" type="xs:string" />
        <xs:element name="cteam" type="xs:string" />
        <xs:element name="ctel" type="xs:string" />
        <xs:element name="ctxt" type="xs:string" />
        <xs:element name="attach" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itdamagefile" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="uploadpath" type="xs:string" />
        <xs:element name="uuid" type="xs:string" />
        <xs:element name="GeneratedName" type="itdamage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
        <xs:element name="adgub" type="xs:string" />
        <xs:element name="asgub" type="xs:string" />
        <xs:element name="asdes" type="xs:string" />
        <xs:element name="aref1" type="xs:string" />
        <xs:element name="aref2" type="xs:string" />
        <xs:element name="afill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bomassy" >
      <xs:sequence>
        <xs:element name="line" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="citem" type="xs:string" />
        <xs:element name="level" type="xs:string" />
        <xs:element name="bdate" type="xs:string" />
        <xs:element name="qty" type="xs:long" />
        <xs:element name="bunit" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lineview" >
      <xs:sequence>
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="wrkds" type="xs:string" />
        <xs:element name="manto" type="xs:double" />
        <xs:element name="manpo" type="xs:double" />
        <xs:element name="cauph" type="xs:double" />
        <xs:element name="caupm" type="xs:double" />
        <xs:element name="tguph" type="xs:double" />
        <xs:element name="tgupm" type="xs:double" />
        <xs:element name="tgrat" type="xs:double" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="cust" type="xs:string" />
        <xs:element name="sosk" type="xs:string" />
        <xs:element name="nline" type="xs:string" />
        <xs:element name="actgb" type="xs:string" />
        <xs:element name="oldline" type="xs:string" />
        <xs:element name="opgb" type="xs:string" />
        <xs:element name="modi" type="xs:string" />
        <xs:element name="cusna" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codegroup" >
      <xs:sequence>
        <xs:element name="adgub" type="xs:string" />
        <xs:element name="asgub" type="xs:string" />
        <xs:element name="asdes" type="xs:string" />
        <xs:element name="fdept" type="xs:string" />
        <xs:element name="tdept" type="xs:string" />
        <xs:element name="act1" type="xs:string" />
        <xs:element name="act2" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="pgubn" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemview" >
      <xs:sequence>
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="dscrp" type="xs:string" />
        <xs:element name="spcds" type="xs:string" />
        <xs:element name="units" type="xs:string" />
        <xs:element name="untwg" type="xs:double" />
        <xs:element name="pumgb" type="xs:string" />
        <xs:element name="pllut" type="xs:double" />
        <xs:element name="chjgb" type="xs:string" />
        <xs:element name="pmjgb" type="xs:string" />
        <xs:element name="autmt" type="xs:string" />
        <xs:element name="absgb" type="xs:string" />
        <xs:element name="baecc" type="xs:double" />
        <xs:element name="saygu" type="xs:string" />
        <xs:element name="chagb" type="xs:string" />
        <xs:element name="lrhgb" type="xs:string" />
        <xs:element name="alccd" type="xs:string" />
        <xs:element name="sangp" type="xs:string" />
        <xs:element name="mater" type="xs:string" />
        <xs:element name="dwgno" type="xs:string" />
        <xs:element name="qcgub" type="xs:string" />
        <xs:element name="lctno" type="xs:string" />
        <xs:element name="mnygb" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="actgb" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="pmsgb" type="xs:string" />
        <xs:element name="mcgb" type="xs:string" />
        <xs:element name="etgb" type="xs:string" />
        <xs:element name="wpie" type="xs:double" />
        <xs:element name="wlen" type="xs:double" />
        <xs:element name="pummock" type="xs:string" />
        <xs:element name="chajong" type="xs:string" />
        <xs:element name="pumjong" type="xs:string" />
        <xs:element name="automnu" type="xs:string" />
        <xs:element name="absgubn" type="xs:string" />
        <xs:element name="sayang" type="xs:string" />
        <xs:element name="lhrhgub" type="xs:string" />
        <xs:element name="chadae" type="xs:string" />
        <xs:element name="hwapye" type="xs:string" />
        <xs:element name="cusna" type="xs:string" />
        <xs:element name="sopumjong" type="xs:string" />
        <xs:element name="maepum" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bom" >
      <xs:sequence>
        <xs:element name="pitem" type="xs:string" />
        <xs:element name="citem" type="xs:string" />
        <xs:element name="stdate" type="xs:string" />
        <xs:element name="asyno" type="xs:long" />
        <xs:element name="asyqt" type="xs:long" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settinghis" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="rut" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="class01" type="xs:string" />
        <xs:element name="class02" type="xs:string" />
        <xs:element name="class03" type="xs:string" />
        <xs:element name="reason01" type="xs:string" />
        <xs:element name="reason02" type="xs:string" />
        <xs:element name="reason03" type="xs:string" />
        <xs:element name="prespec" type="xs:double" />
        <xs:element name="aftspec" type="xs:double" />
        <xs:element name="testcase" type="xs:string" />
        <xs:element name="testdt" type="xs:dateTime" />
        <xs:element name="testdate" type="xs:string" />
        <xs:element name="testdata" type="xs:double" />
        <xs:element name="testresult" type="xs:string" />
        <xs:element name="testemp" type="xs:string" />
        <xs:element name="confirmdt" type="xs:dateTime" />
        <xs:element name="confirmdate" type="xs:string" />
        <xs:element name="confirmemp" type="xs:string" />
        <xs:element name="remark01" type="xs:string" />
        <xs:element name="remark02" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oeeerrhisentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="itmno" type="xs:string" />
        <xs:element name="kdate" type="xs:string" />
        <xs:element name="ktime" type="xs:string" />
        <xs:element name="cnt" type="xs:long" />
        <xs:element name="gap" type="xs:long" />
        <xs:element name="logtime" type="xs:anyType" />
        <xs:element name="class1" type="xs:string" />
        <xs:element name="class2" type="xs:string" />
        <xs:element name="class3" type="xs:string" />
        <xs:element name="ref1" type="xs:string" />
        <xs:element name="ref2" type="xs:string" />
        <xs:element name="ref3" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mnginworkmstentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="company" type="xs:string" />
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="docutype" type="xs:string" />
        <xs:element name="rdate" type="xs:string" />
        <xs:element name="ser" type="xs:long" />
        <xs:element name="rsabn" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
        <xs:element name="ref01" type="xs:string" />
        <xs:element name="mnginworksubentities" type="mnginworksubentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report" >
      <xs:sequence>
        <xs:element name="fgub" type="xs:string" />
        <xs:element name="udate" type="xs:string" />
        <xs:element name="ser" type="xs:string" />
        <xs:element name="utime" type="xs:string" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="rut" type="xs:string" />
        <xs:element name="sgub" type="xs:string" />
        <xs:element name="usabn" type="xs:string" />
        <xs:element name="udes" type="xs:string" />
        <xs:element name="dsabn" type="xs:string" />
        <xs:element name="sdate" type="xs:string" />
        <xs:element name="stime" type="xs:string" />
        <xs:element name="edate" type="xs:string" />
        <xs:element name="etime" type="xs:string" />
        <xs:element name="bpmtd" type="xs:string" />
        <xs:element name="ftcod" type="xs:string" />
        <xs:element name="ftdes" type="xs:string" />
        <xs:element name="fourm" type="xs:string" />
        <xs:element name="bsdes" type="xs:string" />
        <xs:element name="gjdes" type="xs:string" />
        <xs:element name="smschk1" type="xs:string" />
        <xs:element name="smschk2" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="stat" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mngfood" >
      <xs:sequence>
        <xs:element name="row_id" type="xs:string" />
        <xs:element name="companycode" type="xs:string" />
        <xs:element name="gdate" type="xs:string" />
        <xs:element name="gubn" type="xs:string" />
        <xs:element name="ser" type="xs:long" />
        <xs:element name="menu" type="xs:string" />
        <xs:element name="bigo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sgatecar" >
      <xs:sequence>
        <xs:element name="jdate" type="xs:string" />
        <xs:element name="serno" type="xs:long" />
        <xs:element name="jsabun" type="xs:string" />
        <xs:element name="dsabun" type="xs:string" />
        <xs:element name="jgubn" type="xs:string" />
        <xs:element name="carno" type="xs:string" />
        <xs:element name="bsdate" type="xs:string" />
        <xs:element name="bstim" type="xs:string" />
        <xs:element name="bedate" type="xs:string" />
        <xs:element name="betim" type="xs:string" />
        <xs:element name="hang" type="xs:string" />
        <xs:element name="pure" type="xs:string" />
        <xs:element name="tjsabun" type="xs:string" />
        <xs:element name="tjgdate" type="xs:string" />
        <xs:element name="cmsabun" type="xs:string" />
        <xs:element name="cmdate" type="xs:string" />
        <xs:element name="cmtim" type="xs:string" />
        <xs:element name="ygubn" type="xs:string" />
        <xs:element name="yuru" type="xs:string" />
        <xs:element name="outdate" type="xs:string" />
        <xs:element name="outtim" type="xs:string" />
        <xs:element name="indate" type="xs:string" />
        <xs:element name="intim" type="xs:string" />
        <xs:element name="sts" type="xs:string" />
        <xs:element name="fill" type="xs:string" />
        <xs:element name="spoint" type="xs:string" />
        <xs:element name="distance" type="xs:string" />
        <xs:element name="jname" type="xs:string" />
        <xs:element name="dname" type="xs:string" />
        <xs:element name="dteam_nm" type="xs:string" />
        <xs:element name="cogb" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mnginworksubentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="docuno" type="xs:string" />
        <xs:element name="company" type="xs:string" />
        <xs:element name="docutype" type="xs:string" />
        <xs:element name="docusubno" type="xs:long" />
        <xs:element name="fact" type="xs:string" />
        <xs:element name="wrkct" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="startdt" type="xs:string" />
        <xs:element name="starttm" type="xs:string" />
        <xs:element name="execdt" type="xs:string" />
        <xs:element name="exectm" type="xs:string" />
        <xs:element name="enddt" type="xs:string" />
        <xs:element name="endtm" type="xs:string" />
        <xs:element name="jobtitle" type="xs:string" />
        <xs:element name="jobtype" type="xs:string" />
        <xs:element name="mainjob" type="xs:string" />
        <xs:element name="expectedmny" type="xs:double" />
        <xs:element name="execmny" type="xs:double" />
        <xs:element name="modreason" type="xs:string" />
        <xs:element name="execmnystr1" type="xs:string" />
        <xs:element name="execmnystr2" type="xs:string" />
        <xs:element name="execmnystr3" type="xs:string" />
        <xs:element name="exptmnystr1" type="xs:string" />
        <xs:element name="exptmnystr2" type="xs:string" />
        <xs:element name="exptmnystr3" type="xs:string" />
        <xs:element name="ref01" type="xs:string" />
        <xs:element name="ref02" type="xs:string" />
        <xs:element name="ref03" type="xs:string" />
        <xs:element name="GeneratedName" type="mnginworkmstentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inaccount" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="companycode" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="asosk" type="xs:string" />
        <xs:element name="nasosk" type="xs:string" />
        <xs:element name="rco_gb" type="xs:string" />
        <xs:element name="kname" type="xs:string" />
        <xs:element name="ename" type="xs:string" />
        <xs:element name="hname" type="xs:string" />
        <xs:element name="jumin_no" type="xs:string" />
        <xs:element name="enter_cd" type="xs:string" />
        <xs:element name="enter_ymd" type="xs:string" />
        <xs:element name="guns_ymd" type="xs:string" />
        <xs:element name="mt_gb" type="xs:string" />
        <xs:element name="jikj_cd" type="xs:string" />
        <xs:element name="jikc_cd" type="xs:string" />
        <xs:element name="jikb_cd" type="xs:string" />
        <xs:element name="fagb_cd" type="xs:string" />
        <xs:element name="line_cd" type="xs:string" />
        <xs:element name="dir_fl" type="xs:string" />
        <xs:element name="duty_nm" type="xs:string" />
        <xs:element name="apsosk" type="xs:string" />
        <xs:element name="send_fl" type="xs:string" />
        <xs:element name="unio_gb" type="xs:string" />
        <xs:element name="ctel_no" type="xs:string" />
        <xs:element name="htel_no" type="xs:string" />
        <xs:element name="mobi_no" type="xs:string" />
        <xs:element name="bpost_no" type="xs:string" />
        <xs:element name="bsido" type="xs:string" />
        <xs:element name="baddr" type="xs:string" />
        <xs:element name="hpost_no" type="xs:string" />
        <xs:element name="hsido" type="xs:string" />
        <xs:element name="haddr" type="xs:string" />
        <xs:element name="live_gb" type="xs:string" />
        <xs:element name="birt_gb" type="xs:string" />
        <xs:element name="birt_ymd" type="xs:string" />
        <xs:element name="marr_fl" type="xs:string" />
        <xs:element name="marr_ymd" type="xs:string" />
        <xs:element name="height" type="xs:double" />
        <xs:element name="weight" type="xs:double" />
        <xs:element name="blood" type="xs:string" />
        <xs:element name="leye" type="xs:double" />
        <xs:element name="reye" type="xs:double" />
        <xs:element name="army_fl" type="xs:string" />
        <xs:element name="sdate_ymd" type="xs:string" />
        <xs:element name="edate_ymd" type="xs:string" />
        <xs:element name="reti_gb" type="xs:string" />
        <xs:element name="reti_ymd" type="xs:string" />
        <xs:element name="reti_mny" type="xs:double" />
        <xs:element name="retremk" type="xs:string" />
        <xs:element name="wkjo1_cd" type="xs:string" />
        <xs:element name="wkjo2_cd" type="xs:string" />
        <xs:element name="genr_gb" type="xs:string" />
        <xs:element name="goga_gb" type="xs:string" />
        <xs:element name="posi_gb" type="xs:string" />
        <xs:element name="wkjo_gb" type="xs:string" />
        <xs:element name="aces_cd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orguser" >
      <xs:sequence>
        <xs:element name="companycode" type="xs:string" />
        <xs:element name="empid" type="xs:string" />
        <xs:element name="loginid" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="maindeptcode" type="xs:string" />
        <xs:element name="createddt" type="xs:string" />
        <xs:element name="legacyexchangedn" type="xs:string" />
        <xs:element name="displayname" type="xs:string" />
        <xs:element name="displayyn" type="xs:string" />
        <xs:element name="roletype" type="xs:string" />
        <xs:element name="dutycode" type="xs:string" />
        <xs:element name="jobcode" type="xs:string" />
        <xs:element name="rankcode" type="xs:string" />
        <xs:element name="cellphone" type="xs:string" />
        <xs:element name="faxnumber" type="xs:string" />
        <xs:element name="extensionnumber" type="xs:string" />
        <xs:element name="locationcode" type="xs:string" />
        <xs:element name="teamchiefyn" type="xs:string" />
        <xs:element name="dateofbirth" type="xs:string" />
        <xs:element name="ifyn" type="xs:string" />
        <xs:element name="messangerifyn" type="xs:string" />
        <xs:element name="phone1" type="xs:string" />
        <xs:element name="phone2" type="xs:string" />
        <xs:element name="culture" type="xs:string" />
        <xs:element name="org_cd" type="xs:string" />
        <xs:element name="regid" type="xs:string" />
        <xs:element name="regdt" type="xs:dateTime" />
        <xs:element name="updid" type="xs:string" />
        <xs:element name="upddt" type="xs:dateTime" />
        <xs:element name="sapid" type="xs:string" />
        <xs:element name="sapmngyn" type="xs:string" />
        <xs:element name="kostl" type="xs:string" />
        <xs:element name="valid_yn" type="xs:string" />
        <xs:element name="jobdesc" type="xs:string" />
        <xs:element name="dpartner" type="xs:string" />
        <xs:element name="onsite" type="xs:string" />
        <xs:element name="sitecompany" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extaccount" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="cstcd" type="xs:string" />
        <xs:element name="gubun" type="xs:string" />
        <xs:element name="serno" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="plast" type="xs:string" />
        <xs:element name="ulast" type="xs:string" />
        <xs:element name="stats" type="xs:string" />
        <xs:element name="chkqc" type="xs:string" />
        <xs:element name="laut" type="xs:string" />
        <xs:element name="stel" type="xs:string" />
        <xs:element name="htel" type="xs:string" />
        <xs:element name="kofcd" type="xs:string" />
        <xs:element name="won" type="xs:string" />
        <xs:element name="kum" type="xs:string" />
        <xs:element name="sipgo" type="xs:string" />
        <xs:element name="sang" type="xs:string" />
        <xs:element name="sms_nm" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accesshistory" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="company" type="xs:string" />
        <xs:element name="deptcode" type="xs:string" />
        <xs:element name="deptname" type="xs:string" />
        <xs:element name="mobileno" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="prgname" type="xs:string" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="exectime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temperhdentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cogb" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="ipaddress" type="xs:string" />
        <xs:element name="tcycle" type="xs:anyType" />
        <xs:element name="tempermin" type="xs:anyType" />
        <xs:element name="tempermax" type="xs:anyType" />
        <xs:element name="humidmin" type="xs:anyType" />
        <xs:element name="humidmax" type="xs:anyType" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="bigo" type="xs:string" />
        <xs:element name="crtdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temperdtentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="co_gb" type="xs:string" />
        <xs:element name="warhs" type="xs:string" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="temper" type="xs:string" />
        <xs:element name="humidity" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 