primenet-ecommerce/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ecoresattributetype" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit">
         <xs:sequence>
          <xs:element name="datatype" type="xs:string" />
          <xs:element name="isenumeration" type="xs:anyType" />
          <xs:element name="typename" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecoresgroupbyattribute" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit">
         <xs:sequence>
          <xs:element name="attributegroupref" type="xs:long" />
          <xs:element name="attributeref" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecoresvalue" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit">
         <xs:sequence>
          <xs:element name="relationtype" type="xs:long" />
          <xs:element name="textvalue" type="xs:string" />
          <xs:element name="intvalue" type="xs:anyType" />
          <xs:element name="value" type="xs:anyType" />
          <xs:element name="value" type="xs:double" />
          <xs:element name="timevalue" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productattributesvaluesview" >
      <xs:sequence>
        <xs:element name="recid" type="xs:long" />
        <xs:element name="productref" type="xs:long" />
        <xs:element name="attributename" type="xs:string" />
        <xs:element name="relationtype" type="xs:long" />
        <xs:element name="textvalue" type="xs:string" />
        <xs:element name="datetimevalue" type="xs:anyType" />
        <xs:element name="value" type="xs:double" />
        <xs:element name="value" type="xs:anyType" />
        <xs:element name="initemcardfill" type="xs:anyType" />
        <xs:element name="initemcardshow" type="xs:anyType" />
        <xs:element name="isfilterbuild" type="xs:anyType" />
        <xs:element name="isenumeration" type="xs:anyType" />
        <xs:element name="attributetyperecid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecoresproductattributevalue" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit">
         <xs:sequence>
          <xs:element name="productref" type="xs:long" />
          <xs:element name="ecoresvalueref" type="xs:long" />
          <xs:element name="relationtype" type="xs:string" />
          <xs:element name="attributeref" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getattributeenumlist" >
      <xs:sequence>
        <xs:element name="attributerecid" type="xs:long" />
        <xs:element name="attributename" type="xs:string" />
        <xs:element name="typerecid" type="xs:long" />
        <xs:element name="typename" type="xs:string" />
        <xs:element name="isenumeration" type="xs:anyType" />
        <xs:element name="textvalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecoresvalueenumeration" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit">
         <xs:sequence>
          <xs:element name="instancerelationtype" type="xs:long" />
          <xs:element name="textvalue" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecorescategoryattributegroup" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit">
         <xs:sequence>
          <xs:element name="attributegroupref" type="xs:long" />
          <xs:element name="ecorescategoryref" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecoresattributegroup" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecoresattribute" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit">
         <xs:sequence>
          <xs:element name="attributename" type="xs:string" />
          <xs:element name="attributegroupref" type="xs:long" />
          <xs:element name="attributetyperef" type="xs:long" />
          <xs:element name="initemcardfill" type="xs:anyType" />
          <xs:element name="initemcardshow" type="xs:anyType" />
          <xs:element name="isfilterbuild" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getsaleslastmonthview" >
      <xs:sequence>
        <xs:element name="salesid" type="xs:string" />
        <xs:element name="processing_at" type="xs:dateTime" />
        <xs:element name="product" type="xs:string" />
        <xs:element name="total" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gettopproductentity" >
      <xs:sequence>
        <xs:element name="product" type="xs:string" />
        <xs:element name="total" type="xs:double" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carousel" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="image" type="xs:anyType" />
          <xs:element name="url" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorites" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="login" type="xs:string" />
          <xs:element name="authority" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bonustrans" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="customer" type="xs:string" />
          <xs:element name="amount" type="xs:double" />
          <xs:element name="balls" type="xs:double" />
          <xs:element name="ordernum" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="logo" type="xs:anyType" />
          <xs:element name="active" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecorescategory" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="parentrecid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orders" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="salesid" type="xs:long" />
          <xs:element name="proposal" type="xs:long" />
          <xs:element name="product" type="xs:long" />
          <xs:element name="price" type="xs:long" />
          <xs:element name="minqty" type="xs:double" />
          <xs:element name="qty" type="xs:double" />
          <xs:element name="startqty" type="xs:double" />
          <xs:element name="amount" type="xs:double" />
          <xs:element name="deliveryterms" type="xs:string" />
          <xs:element name="delivery" type="xs:dateTime" />
          <xs:element name="paymentterms" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="blocked" type="xs:anyType" />
          <xs:element name="bonus" type="xs:anyType" />
          <xs:element name="fullfilled" type="xs:anyType" />
          <xs:element name="promo" type="xs:anyType" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="customer" type="xs:string" />
          <xs:element name="configuration" type="xs:string" />
          <xs:element name="processingat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bonussetup" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="balls" type="xs:double" />
          <xs:element name="amount" type="xs:double" />
          <xs:element name="parameter" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proposal" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="product" type="xs:long" />
          <xs:element name="price" type="xs:long" />
          <xs:element name="minqty" type="xs:long" />
          <xs:element name="qty" type="xs:long" />
          <xs:element name="startqty" type="xs:long" />
          <xs:element name="deliveryterms" type="xs:string" />
          <xs:element name="delivery" type="xs:dateTime" />
          <xs:element name="paymentterms" type="xs:string" />
          <xs:element name="blocked" type="xs:anyType" />
          <xs:element name="fullfilled" type="xs:anyType" />
          <xs:element name="promo" type="xs:anyType" />
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="relevantproducts" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="product" type="xs:long" />
          <xs:element name="relevantprod" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="image1" type="xs:anyType" />
          <xs:element name="image2" type="xs:anyType" />
          <xs:element name="image3" type="xs:anyType" />
          <xs:element name="image4" type="xs:anyType" />
          <xs:element name="preview" type="xs:string" />
          <xs:element name="photo" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="product" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userse" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit">
         <xs:sequence>
          <xs:element name="//intuseridlogin" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="role" type="xs:string" />
          <xs:element name="enabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bonussum" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="customer" type="xs:string" />
          <xs:element name="balls" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecoresproductcategory" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="category" type="xs:long" />
          <xs:element name="product" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logevents" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="user" type="xs:string" />
          <xs:element name="actiondate" type="xs:anyType" />
          <xs:element name="ipaddress" type="xs:string" />
          <xs:element name="role" type="xs:string" />
          <xs:element name="action" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:complexContent>
       <xs:extension base="baseentityaudit{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="surname" type="xs:string" />
          <xs:element name="user" type="xs:string" />
          <xs:element name="birth" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 