mpaas11/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localeentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***管理员id*/adminid" type="xs:string" />
        <xs:element name="/***主键id*/id" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="/***选中语言*/selected" type="xs:anyType" />
        <xs:element name="/***语言区域*比如格式zh-cn*/locale" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 