openJPA8/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="constraintdigits" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="six_digits" type="xs:anyType" />
        <xs:element name="five_digits" type="xs:anyType" />
        <xs:element name="one_digits" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="twodigits" type="xs:anyType" />
        <xs:element name="//@digits(5,5)constraintisonthegetterfivedigits" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testtraversableresolver" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="emf" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="" type="book" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testmappedsuper" >
      <xs:complexContent>
       <xs:extension base="abstractpersistencetestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iperson" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defgrpentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//notnullconstraintwithdefaultvalidationgroupdgname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valgroup2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="pages" type="xs:long" />
        <xs:element name="GeneratedName" type="publisher" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmlsuper" >
      <xs:sequence>
        <xs:element name="superstrvalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintsize" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="my" type="xs:string" />
        <xs:element name="mymap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintnull" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nullrequired" type="xs:string" />
        <xs:element name="//@notnullconstraintisonthegetternullinvalid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="//@notnullisonipersongetterfirstname" type="xs:string" />
        <xs:element name="//@notnullisonipersongetterlastname" type="xs:string" />
        <xs:element name="home" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nondefgrpentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//notnullconstraintwithdefaultvalidationgroupdgname" type="xs:string" />
        <xs:element name="//notnullconstraintwithspecifiedvalidationgroupndgname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testvalidatinglem" >
      <xs:complexContent>
       <xs:extension base="singleemftestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="shipping" type="address" nillable="true" minOccurs="0" />
          <xs:element name="billing" type="address" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testeagerinit" >
      <xs:complexContent>
       <xs:extension base="abstractpersistencetestcase">
         <xs:sequence>
          <xs:element name="_emf" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testconstraintviolation" >
      <xs:complexContent>
       <xs:extension base="abstractpersistencetestcase">
         <xs:sequence>
          <xs:element name="emf2" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="city" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintpattern" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="my" type="xs:string" />
        <xs:element name=")constraintisonthegetterzipcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testvalidationgroups" >
      <xs:complexContent>
       <xs:extension base="abstractpersistencetestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="//@notnullisoniaddressgetterstreetaddress" type="xs:string" />
        <xs:element name="//@notnullisoniaddressgettercity" type="xs:string" />
        <xs:element name="//@notnullisoniaddressgetterstate" type="xs:string" />
        <xs:element name="//@notnullisoniaddressgetterpostalcode" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmlbase" >
      <xs:complexContent>
       <xs:extension base="xmlsuper">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="strvalue" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="valgroup1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="GeneratedName" type="location" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintnumber" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="negative" type="xs:long" />
        <xs:element name="positive" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="minzero" type="xs:long" />
        <xs:element name="//@max(value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintdecimal" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="negative" type="xs:anyType" />
        <xs:element name="positive" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="minzero" type="xs:anyType" />
        <xs:element name="//@decimalmax(value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icustomer" >
      <xs:complexContent>
       <xs:extension base="iperson">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mixedgrpentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="defnotnull" type="xs:string" />
        <xs:element name="vg1notnull" type="xs:string" />
        <xs:element name="vg2notnull" type="xs:string" />
        <xs:element name="vg12notnull" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="publisher" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="publisherid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintboolean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="truerequired" type="xs:anyType" />
        <xs:element name="//@assertfalseconstraintisonthegetterfalserequired" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testconstraints" >
      <xs:complexContent>
       <xs:extension base="abstractpersistencetestcase">
         <xs:sequence>
          <xs:element name="emf" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="constraintdates" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//currenttimewhenclassloadedcurrent_" type="xs:dateTime" />
        <xs:element name="//eighthoursinthepastpast_" type="xs:dateTime" />
        <xs:element name="//eighthoursinthefuturefuture_" type="xs:dateTime" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="future" type="xs:dateTime" />
        <xs:element name="//@pastconstraintisonthegetterpastcalendar" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testmerge" >
      <xs:complexContent>
       <xs:extension base="abstractpersistencetestcase">
         <xs:sequence>
          <xs:element name="emf" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iaddress" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummypersistenceproviderresolver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummyprovider1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testpersistenceproviderresolver" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="persistenceprovider" type="xs:anyType" />
          <xs:element name="targetjar1" type="xs:anyType" />
          <xs:element name="targetjar2" type="xs:anyType" />
          <xs:element name="classesdir" type="xs:anyType" />
          <xs:element name="currentdir" type="xs:string" />
          <xs:element name="openjpaprovider" type="xs:string" />
          <xs:element name="dummyprovider1" type="xs:string" />
          <xs:element name="dummyprovider2" type="xs:string" />
          <xs:element name="dummyresolver" type="dummypersistenceproviderresolver" nillable="true" minOccurs="0" />
          <xs:element name="originalloader" type="xs:anyType" />
          <xs:element name="temploader" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dummyprovider2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraints" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validation-orm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ehn-persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 