openJPA8/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="constraintdigits" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="six_digits" type="xs:anyType" />
        <xs:element name="five_digits" type="xs:anyType" />
        <xs:element name="one_digits" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="twodigits" type="xs:anyType" />
        <xs:element name="//@digits(5,5)constraintisonthegetterfivedigits" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defgrpentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//notnullconstraintwithdefaultvalidationgroupdgname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="pages" type="xs:long" />
        <xs:element name="GeneratedName" type="publisher" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintsize" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="my" type="xs:string" />
        <xs:element name="mymap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintnull" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nullrequired" type="xs:string" />
        <xs:element name="//@notnullconstraintisonthegetternullinvalid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="//@notnullisonipersongetterfirstname" type="xs:string" />
        <xs:element name="//@notnullisonipersongetterlastname" type="xs:string" />
        <xs:element name="home" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nondefgrpentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//notnullconstraintwithdefaultvalidationgroupdgname" type="xs:string" />
        <xs:element name="//notnullconstraintwithspecifiedvalidationgroupndgname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="shipping" type="address" nillable="true" minOccurs="0" />
          <xs:element name="billing" type="address" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintpattern" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="my" type="xs:string" />
        <xs:element name=")constraintisonthegetterzipcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="//@notnullisoniaddressgetterstreetaddress" type="xs:string" />
        <xs:element name="//@notnullisoniaddressgettercity" type="xs:string" />
        <xs:element name="//@notnullisoniaddressgetterstate" type="xs:string" />
        <xs:element name="//@notnullisoniaddressgetterpostalcode" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="GeneratedName" type="location" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintnumber" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="negative" type="xs:long" />
        <xs:element name="positive" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="minzero" type="xs:long" />
        <xs:element name="//@max(value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintdecimal" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="negative" type="xs:anyType" />
        <xs:element name="positive" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="minzero" type="xs:anyType" />
        <xs:element name="//@decimalmax(value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixedgrpentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="defnotnull" type="xs:string" />
        <xs:element name="vg1notnull" type="xs:string" />
        <xs:element name="vg2notnull" type="xs:string" />
        <xs:element name="vg12notnull" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintboolean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="truerequired" type="xs:anyType" />
        <xs:element name="//@assertfalseconstraintisonthegetterfalserequired" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintdates" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//currenttimewhenclassloadedcurrent_" type="xs:dateTime" />
        <xs:element name="//eighthoursinthepastpast_" type="xs:dateTime" />
        <xs:element name="//eighthoursinthefuturefuture_" type="xs:dateTime" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="future" type="xs:dateTime" />
        <xs:element name="//@pastconstraintisonthegetterpastcalendar" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 