lmp_api/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="lmpapibackendapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spheretests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sphereservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persontests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lmpapientitytest" >
      <xs:sequence>
        <xs:element name="entity_url" type="xs:string" />
        <xs:element name="GeneratedName" type="organizationrepository" nillable="true" minOccurs="0" />
        <xs:element name="//requiredtogeneratejsoncontentfromjavaobjectsobject_mapper" type="xs:anyType" />
        <xs:element name="//testresttemplatetoinvoketheapis.resttemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lmpapipersontest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="api_url" type="xs:string" />
        <xs:element name="person_url" type="xs:string" />
        <xs:element name="//requiredtogeneratejsoncontentfromjavaobjectsobject_mapper" type="xs:anyType" />
        <xs:element name="//testresttemplatetoinvoketheapis.resttemplate" type="xs:anyType" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="passwordencoder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apigetattributetest" >
      <xs:sequence>
        <xs:element name="api_url" type="xs:string" />
        <xs:element name="resttemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lmpapibackendapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personorganizationrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<personentityrelationship,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="organizationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<organization,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sphererepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<sphere,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attributemaprepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<attributemap,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consumerrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<consumer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="passwordresettokenrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<passwordresettoken,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="providerrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<provider,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attributerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<attribute,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tokenrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<token,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attributecategoryrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<attributecategory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attributesubcategoryrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<attributesubcategory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consumerscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="consumerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sphereservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attributeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attributecategoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="providerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tokenservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attributemapservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="provideroauthfactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="providerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attributeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attributemapservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="consumerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tokenservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sphereservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="passwordresettokenservice" nillable="true" minOccurs="0" />
        <xs:element name="mailsender" type="xs:anyType" />
        <xs:element name="GeneratedName" type="provideroauthfactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptioncontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="remoteumclient" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="passwordresettoken" >
      <xs:sequence>
        <xs:element name="//1dayexpiration" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="exipration" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attribute" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="subcategory" type="attributesubcategory" nillable="true" minOccurs="0" />
        <xs:element name="subcategoryname" type="xs:string" />
        <xs:element name="categoryname" type="xs:string" />
        <xs:element name="providername" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="reputation" type="xs:long" />
        <xs:element name="isenabled" type="xs:anyType" />
        <xs:element name="isdeleted" type="xs:anyType" />
        <xs:element name="isupdateable" type="xs:anyType" />
        <xs:element name="attributemaps" type="attributemap" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="savepasswordbody" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericresponse" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
        <xs:element name="error" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributeview" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="subcategory" type="xs:string" />
        <xs:element name="attribute" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consumer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="identifier" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="isenabled" type="xs:anyType" />
        <xs:element name="isdeleted" type="xs:anyType" />
        <xs:element name="people" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="spheres" type="sphere" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="organizations" type="organization" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributemap" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="providerattributename" type="xs:string" />
        <xs:element name="lmpattributename" type="xs:string" />
        <xs:element name="attributenameinresponse" type="xs:string" />
        <xs:element name="GeneratedName" type="provider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attribute" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organization" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="identifier" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="//relationsconsumers" type="consumer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="providers" type="provider" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="spheres" type="sphere" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="associations" type="personentityrelationship" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="identifier" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="postalcode" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="company" type="xs:string" />
        <xs:element name="jobposition" type="xs:string" />
        <xs:element name="legal" type="xs:anyType" />
        <xs:element name="clientrole" type="xs:anyType" />
        <xs:element name="providerrole" type="xs:anyType" />
        <xs:element name="activated" type="xs:anyType" />
        <xs:element name="consumers" type="consumer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="providers" type="provider" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="spheres" type="sphere" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//uniones//)associations" type="personentityrelationship" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sphere" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="identifier" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="isenabled" type="xs:anyType" />
        <xs:element name="isdeleted" type="xs:anyType" />
        <xs:element name="isdataextracted" type="xs:anyType" />
        <xs:element name="consumers" type="consumer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="attributes" type="attribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provider" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="identifier" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="isoauth" type="xs:anyType" />
        <xs:element name="oauthurl" type="xs:string" />
        <xs:element name="isenabled" type="xs:anyType" />
        <xs:element name="isdeleted" type="xs:anyType" />
        <xs:element name="people" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="organizations" type="organization" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//tokensprovidertokens" type="token" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//attributemappingattributemaps" type="attributemap" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personentityrelationship" >
      <xs:sequence>
        <xs:element name="//state:administrator,associated,requested_from_user,requested_from_entityid" type="xs:long" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organization" nillable="true" minOccurs="0" />
        <xs:element name="state" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provideroauthfactory" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="linkedinoauth" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="facebookoauth" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="stravaoauth" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fitbitoauth" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facebookoauth" >
      <xs:sequence>
        <xs:element name="//facebookdata//parametersforbuildingtheauthorizationcoderequestauthorization_url" type="xs:string" />
        <xs:element name="redirect_authorization_url" type="xs:string" />
        <xs:element name="client_id" type="xs:string" />
        <xs:element name="response_type" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="scope" type="xs:string" />
        <xs:element name="//parametersforbuildingtheaccesstokenrequestaccess_token_url" type="xs:string" />
        <xs:element name="secret_id" type="xs:string" />
        <xs:element name="authorization_code_parameter" type="xs:string" />
        <xs:element name="//parameterstoruletheapigrant_type" type="xs:string" />
        <xs:element name="api_uri" type="xs:string" />
        <xs:element name="access_token_parameter" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fitbitoauth" >
      <xs:sequence>
        <xs:element name="//parametersforbuildingtheauthorizationcoderequestauthorization_url" type="xs:string" />
        <xs:element name="redirect_authorization_url" type="xs:string" />
        <xs:element name="client_id" type="xs:string" />
        <xs:element name="response_type" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="scope" type="xs:string" />
        <xs:element name="//parametersforbuildingtheaccesstokenrequestaccess_token_url" type="xs:string" />
        <xs:element name="secret_id" type="xs:string" />
        <xs:element name="authorization_code_parameter" type="xs:string" />
        <xs:element name="//parameterstoruletheapigrant_type" type="xs:string" />
        <xs:element name="api_uri" type="xs:string" />
        <xs:element name="access_token_parameter" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="linkedinoauth" >
      <xs:sequence>
        <xs:element name="//linkedindata//parametersforbuildingtheauthorizationcoderequestauthorization_url" type="xs:string" />
        <xs:element name="redirect_authorization_url" type="xs:string" />
        <xs:element name="client_id" type="xs:string" />
        <xs:element name="response_type" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="scope" type="xs:string" />
        <xs:element name="//parametersforbuildingtheaccesstokenrequestaccess_token_url" type="xs:string" />
        <xs:element name="secret_id" type="xs:string" />
        <xs:element name="authorization_code_parameter" type="xs:string" />
        <xs:element name="//parameterstoruletheapigrant_type" type="xs:string" />
        <xs:element name="api_uri" type="xs:string" />
        <xs:element name="access_token_parameter" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provideroauthobject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stravaoauth" >
      <xs:sequence>
        <xs:element name="//stravadata://parametersforbuildingtheauthorizationcoderequestauthorization_url" type="xs:string" />
        <xs:element name="redirect_authorization_url" type="xs:string" />
        <xs:element name="client_id" type="xs:string" />
        <xs:element name="response_type" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="scope" type="xs:string" />
        <xs:element name="//parametersforbuildingtheaccesstokenrequestaccess_token_url" type="xs:string" />
        <xs:element name="secret_id" type="xs:string" />
        <xs:element name="authorization_code_parameter" type="xs:string" />
        <xs:element name="//parameterstoruletheapigrant_type" type="xs:string" />
        <xs:element name="api_uri" type="xs:string" />
        <xs:element name="access_token_parameter" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributecategory" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="subcategories" type="attributesubcategory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributesubcategory" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="category" type="attributecategory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="token" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="provider" nillable="true" minOccurs="0" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initialconfigurations" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteumclient" >
      <xs:sequence>
        <xs:element name="serverurl" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="authstub" type="xs:anyType" />
        <xs:element name="ctx" type="xs:anyType" />
        <xs:element name="remoteuserstoremanager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bcryptpassworddeserializer" >
      <xs:complexContent>
       <xs:extension base="jsondeserializer<string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:complexContent>
       <xs:extension base="repositoryrestmvcconfiguration">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consumerserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="consumerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tokenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="atttributemapserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="attributemaprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="providerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="providerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="passwordresettokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="passwordencoder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordresettokenserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="passwordresettokenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sphereserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sphererepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributecategoryservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sphereservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consumerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributemapservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordresettokenservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organizationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="attributerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributecategoryserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 