JpaAuditing/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="attendance" >
      <xs:complexContent>
       <xs:extension base="auditablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="empid" type="xs:anyType" />
          <xs:element name="effectivedt" type="xs:anyType" />
          <xs:element name="present" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auditablebase" >
      <xs:sequence>
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="createddt" type="xs:anyType" />
        <xs:element name="modifiedby" type="xs:string" />
        <xs:element name="modifieddt" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 