Spring_Pjs4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="profile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sign-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="email-log" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checked-email" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="check-email" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="emailverified" type="xs:anyType" />
        <xs:element name="emailchecktoken" type="xs:string" />
        <xs:element name="joinedat" type="xs:anyType" />
        <xs:element name="//사용자기본정보bio" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="occupation" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="profileimage" type="xs:string" />
        <xs:element name="//알림//스터디개설studycreatedbyemail" type="xs:anyType" />
        <xs:element name="studycreatedbyweb" type="xs:anyType" />
        <xs:element name="//스터디가입신청결과studyenrollmentresultbyemail" type="xs:anyType" />
        <xs:element name="studyenrollmentresultbyweb" type="xs:anyType" />
        <xs:element name="studyupdatedbyweb" type="xs:anyType" />
        <xs:element name="studyupdatedbyemail" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consolemail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentuser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="signupformvalid" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="consolemail" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signupformvalid" >
      <xs:sequence>
        <xs:element name="repository" type="accountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<account,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="signupform" >
      <xs:sequence>
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccount" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="" type="account" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="secondprojectapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondprojectapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 