Spring_Pjs4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="emailverified" type="xs:anyType" />
        <xs:element name="emailchecktoken" type="xs:string" />
        <xs:element name="joinedat" type="xs:anyType" />
        <xs:element name="//사용자기본정보bio" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="occupation" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="profileimage" type="xs:string" />
        <xs:element name="//알림//스터디개설studycreatedbyemail" type="xs:anyType" />
        <xs:element name="studycreatedbyweb" type="xs:anyType" />
        <xs:element name="//스터디가입신청결과studyenrollmentresultbyemail" type="xs:anyType" />
        <xs:element name="studyenrollmentresultbyweb" type="xs:anyType" />
        <xs:element name="studyupdatedbyweb" type="xs:anyType" />
        <xs:element name="studyupdatedbyemail" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 