ReactJs-Hook-Springboot-SC-/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="contenttypeconstant" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationtypeconstant" >
      <xs:sequence>
        <xs:element name="menu" type="xs:string" />
        <xs:element name="screen" type="xs:string" />
        <xs:element name="module" type="xs:string" />
        <xs:element name="service" type="xs:string" />
        <xs:element name="entity" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentmappingconstant" >
      <xs:sequence>
        <xs:element name="content_mapping" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basewebapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateformat" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dateformatvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="02-seed-product-category" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="01-trigger-last-updated-stamp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="02-trigger-generate-code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="04-schema-supplier" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="03-schema-product" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="01-schema-base-security-permission" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userregistercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menucontroller" >
      <xs:sequence>
        <xs:element name="module" type="xs:string" />
        <xs:element name="GeneratedName" type="applicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetimeutils" >
      <xs:sequence>
        <xs:element name="start_date_time" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonutils" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="seq_id_len" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constant" >
      <xs:sequence>
        <xs:element name="date_time_format" type="dateformat" nillable="true" minOccurs="0" />
        <xs:element name="local_date_time_format" type="xs:anyType" />
        <xs:element name="local_date_format" type="xs:anyType" />
        <xs:element name="order_excel_date_format" type="dateformat" nillable="true" minOccurs="0" />
        <xs:element name="uuid_pattern" type="xs:string" />
        <xs:element name="date_format" type="xs:string" />
        <xs:element name="date_formatter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userloginrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<userlogin,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="partytyperepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<partytype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userregisterrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<userregister,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filerepoimpl" >
      <xs:sequence>
        <xs:element name="contentrepourl" type="xs:string" />
        <xs:element name="media_type_image" type="xs:anyType" />
        <xs:element name="client" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyrelationshiprepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<partyrelationship,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statusitemrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<statusitem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="partyrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<party,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filerepo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationtyperepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<applicationtype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="partypagingrepo" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<party,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roletyperepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<roletype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationrepo" >
      <xs:complexContent>
       <xs:extension base="repository<application,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statusrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<status,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securitygrouprepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<securitygroup,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsefirsttype" >
      <xs:sequence>
        <xs:element name="status" type="xs:long" />
        <xs:element name="errors" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conversionfailedexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
          <xs:element name="errorfields" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsesecondtype" >
      <xs:sequence>
        <xs:element name="status" type="xs:long" />
        <xs:element name="error" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dperson" >
      <xs:sequence>
        <xs:element name="password_encoder" type="xs:anyType" />
        <xs:element name="partyid" type="xs:anyType" />
        <xs:element name="partycode" type="xs:string" />
        <xs:element name="type" type="partytype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="status" nillable="true" minOccurs="0" />
        <xs:element name="userlogin" type="dpersonuserlogin" nillable="true" minOccurs="0" />
        <xs:element name="isunread" type="xs:anyType" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="modifiedby" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="edit_rel" type="xs:string" />
        <xs:element name="delete_rel" type="xs:string" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="partyservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securitygroupservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dpersonuserlogin" >
      <xs:sequence>
        <xs:element name="userloginid" type="xs:string" />
        <xs:element name="issystem" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="GeneratedName" type="party" nillable="true" minOccurs="0" />
        <xs:element name="roles" type="securitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="disabledtime" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="predicate" >
      <xs:sequence>
        <xs:element name="fullnamepath" type="xs:string" />
        <xs:element name="firstnamepath" type="xs:string" />
        <xs:element name="middlenamepath" type="xs:string" />
        <xs:element name="lastnamepath" type="xs:string" />
        <xs:element name="criteria" type="searchcriteria" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrestbriefprojection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortbuilder" >
      <xs:sequence>
        <xs:element name="fullnamepath" type="xs:string" />
        <xs:element name="firstnamepath" type="xs:string" />
        <xs:element name="middlenamepath" type="xs:string" />
        <xs:element name="lastnamepath" type="xs:string" />
        <xs:element name="sort" type="sortcriteria" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrestrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<dperson,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dusercombineentity" >
      <xs:sequence>
        <xs:element name="password_encoder" type="xs:anyType" />
        <xs:element name="userloginid" type="xs:string" />
        <xs:element name="partyid" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="predicatebuilder" >
      <xs:sequence>
        <xs:element name="params" type="searchcriteria" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personmodel" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="roles" type="xs:anyType" />
        <xs:element name="partycode" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personupdatemodel" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="partycode" type="xs:string" />
        <xs:element name="roles" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordchangemodel" >
      <xs:sequence>
        <xs:element name="currentpassword" type="xs:string" />
        <xs:element name="newpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getuserloginoutputmodel" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="partyid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getdetailuserlogininputmodel" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dpersondetailmodel" >
      <xs:complexContent>
       <xs:extension base="representationmodel<dpersondetailmodel>">
         <xs:sequence>
          <xs:element name="partyid" type="xs:anyType" />
          <xs:element name="fullname" type="xs:string" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="middlename" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="partytype" type="xs:string" />
          <xs:element name="created" type="xs:dateTime" />
          <xs:element name="birth" type="xs:dateTime" />
          <xs:element name="userloginid" type="xs:string" />
          <xs:element name="partycode" type="xs:string" />
          <xs:element name="roles" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dtoperson" >
      <xs:sequence>
        <xs:element name="mapdto2entity" type="xs:anyType" />
        <xs:element name="mapdto2recursive" type="xs:anyType" />
        <xs:element name="mappair" type="xs:anyType" />
        <xs:element name="partyid" type="xs:anyType" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="partytype" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="userloginid" type="xs:string" />
        <xs:element name="partycode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitygroupoutputmodel" >
      <xs:sequence>
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortcriteria" >
      <xs:sequence>
        <xs:element name="field" type="xs:string" />
        <xs:element name="isasc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchcriteria" >
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="operation" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortandfiltersinput" >
      <xs:sequence>
        <xs:element name="filters" type="searchcriteria" nillable="true" minOccurs="0" />
        <xs:element name="sort" type="sortcriteria" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getdetailuserloginoutputmodel" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="partyid" type="xs:string" />
        <xs:element name="allsecuritygroups" type="securitygroupoutputmodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicauthenticationendpoint" >
      <xs:complexContent>
       <xs:extension base="basicauthenticationentrypoint">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="userdetailsservice" type="basewebuserdetailservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="basicauthenticationendpoint" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaauditconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsecurityauditoraware" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercontroller" >
      <xs:sequence>
        <xs:element name="orderservice" type="orderserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentmethod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortdirection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortbyorderfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<orderitem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<orders,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getorderdetailom" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="ordercode" type="xs:string" />
        <xs:element name="discount" type="xs:long" />
        <xs:element name="GeneratedName" type="paymentmethod" nillable="true" minOccurs="0" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="supplier" type="supplierom" nillable="true" minOccurs="0" />
        <xs:element name="totalpayment" type="xs:long" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="expdeliverydate" type="xs:anyType" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="orderitems" type="orderitemom" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplierom" >
      <xs:sequence>
        <xs:element name="supplierid" type="xs:anyType" />
        <xs:element name="suppliername" type="xs:string" />
        <xs:element name="suppliercode" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="isdeleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="status" >
      <xs:sequence>
        <xs:element name="statusid" type="xs:string" />
        <xs:element name="statuscode" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createneworderitemsom" >
      <xs:sequence>
        <xs:element name="orderitems" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="totalorderquantity" type="xs:long" />
        <xs:element name="totalpayment" type="xs:long" />
        <xs:element name="errors" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatestatusordeleteordersim" >
      <xs:sequence>
        <xs:element name="orderids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getlistordersom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateorderim" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="status" type="orderstatus" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paymentmethod" nillable="true" minOccurs="0" />
        <xs:element name="discount" type="xs:long" />
        <xs:element name="expdeliverydate" type="xs:string" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="orderitems" type="orderitemim" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemim" >
      <xs:sequence>
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="orderquantity" type="xs:anyType" />
        <xs:element name="price" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createorderitemim" >
      <xs:sequence>
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="orderquantity" type="xs:anyType" />
        <xs:element name="price" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createorderim" >
      <xs:complexContent>
       <xs:extension base="updateorderim">
         <xs:sequence>
          <xs:element name="supplierid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orders" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="status" type="orderstatus" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="supplier" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paymentmethod" nillable="true" minOccurs="0" />
        <xs:element name="discount" type="xs:long" />
        <xs:element name="totalpayment" type="xs:long" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="expdeliverydate" type="xs:anyType" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="deleted" type="xs:anyType" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="id" type="orderitemid" nillable="true" minOccurs="0" />
        <xs:element name="orderquantity" type="xs:anyType" />
        <xs:element name="importquantity" type="xs:anyType" />
        <xs:element name="price" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemid" >
      <xs:sequence>
        <xs:element name="order" type="orders" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderitemrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="supplierrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderstatusenumconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortbyorderfieldenumconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortdirectionenumconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="suppliercontroller" >
      <xs:sequence>
        <xs:element name="supplierservice" type="supplierserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplierservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplierserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="supplierrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="categoryrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplierrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<supplier,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="supplier" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="categories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="orders" type="orders" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="deleted" type="xs:anyType" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createsupplierim" >
      <xs:sequence>
        <xs:element name="suppliername" type="xs:string" />
        <xs:element name="suppliercode" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatesupplierim" >
      <xs:sequence>
        <xs:element name="supplierid" type="xs:anyType" />
        <xs:element name="suppliername" type="xs:string" />
        <xs:element name="suppliercode" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listsupplierom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<category,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<product,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createproductim" >
      <xs:sequence>
        <xs:element name="/*@notblank(message" type="xs:string" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="warehousequantity" type="xs:anyType" />
        <xs:element name="linkimg" type="xs:string" />
        <xs:element name="uom" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getcategoriesbynameom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getallproductsoforderom" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="uom" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getproductsbycategoryidom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryim" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="categoryname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="supplierid" type="xs:anyType" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getallproductsoforderim" >
      <xs:sequence>
        <xs:element name="productids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getproductsbynameom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createcategoryim" >
      <xs:sequence>
        <xs:element name="categoryname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productupdateim" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="supplierid" type="xs:anyType" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="uom" type="xs:string" />
        <xs:element name="productcode" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="warehousequantity" type="xs:long" />
        <xs:element name="linkimg" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="categoryrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="supplierrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categoryrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="categoryconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="suppliers" type="supplier" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="deleted" type="xs:anyType" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="category" nillable="true" minOccurs="0" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="uom" type="xs:string" />
        <xs:element name="imagelink" type="xs:string" />
        <xs:element name="inventorynumber" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="deleted" type="xs:anyType" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
        <xs:element name="createdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorycontroller" >
      <xs:sequence>
        <xs:element name="categoryservice" type="categoryserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitygroupservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitygroupserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="securitygrouprepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="partyrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="partytyperepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyrelationshipservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyrelationshipserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="partyrelationshiprepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="applicationrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="applicationtyperepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basewebuserdetailservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userloginrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="module" type="xs:string" />
        <xs:element name="GeneratedName" type="userloginrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrestrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="partyservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="partytyperepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="partyrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securitygrouprepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userregisterrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusitemrepo" nillable="true" minOccurs="0" />
        <xs:element name="//javamailsenderjavamailsenderemail_executor_service" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="partyid" type="xs:anyType" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="//@column(name" type="xs:dateTime" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roletype" >
      <xs:sequence>
        <xs:element name="roletypeid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statusitem" >
      <xs:sequence>
        <xs:element name="statusid" type="xs:string" />
        <xs:element name="type" type="statustype" nillable="true" minOccurs="0" />
        <xs:element name="statuscode" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
        <xs:element name="applicationid" type="xs:string" />
        <xs:element name="type" type="applicationtype" nillable="true" minOccurs="0" />
        <xs:element name="module" type="application" nillable="true" minOccurs="0" />
        <xs:element name="permission" type="securitypermission" nillable="true" minOccurs="0" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userlogin" >
      <xs:sequence>
        <xs:element name="password_encoder" type="xs:anyType" />
        <xs:element name="userloginid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="passwordhint" type="xs:string" />
        <xs:element name="otpsecret" type="xs:string" />
        <xs:element name="issystem" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="hasloggedout" type="xs:anyType" />
        <xs:element name="requirepasswordchange" type="xs:anyType" />
        <xs:element name="successivefailedlogins" type="xs:anyType" />
        <xs:element name="clienttoken" type="xs:string" />
        <xs:element name="otpresendnumber" type="xs:long" />
        <xs:element name="GeneratedName" type="party" nillable="true" minOccurs="0" />
        <xs:element name="roles" type="securitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="disabledtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partytype" >
      <xs:sequence>
        <xs:element name="partytypeid" type="xs:string" />
        <xs:element name="parenttype" type="partytype" nillable="true" minOccurs="0" />
        <xs:element name="hastable" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="status" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="type" type="statustype" nillable="true" minOccurs="0" />
        <xs:element name="statuscode" type="xs:string" />
        <xs:element name="sequenceid" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyrelationship" >
      <xs:sequence>
        <xs:element name="partyrelationshipid" type="xs:anyType" />
        <xs:element name="from" type="party" nillable="true" minOccurs="0" />
        <xs:element name="to" type="party" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roletype" nillable="true" minOccurs="0" />
        <xs:element name="from" type="xs:dateTime" />
        <xs:element name="thru" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userregister" >
      <xs:sequence>
        <xs:element name="//varchar(60),userloginid" type="xs:string" />
        <xs:element name="//varchar(20),password" type="xs:string" />
        <xs:element name="//varchar(30),email" type="xs:string" />
        <xs:element name="//varchar(100),fullname" type="xs:string" />
        <xs:element name="//varchar(60)," type="statusitem" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationtype" >
      <xs:sequence>
        <xs:element name="applicationtypeid" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statustype" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="parenttype" type="statustype" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitypermission" >
      <xs:sequence>
        <xs:element name="permissionid" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitygroup" >
      <xs:sequence>
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="permissions" type="securitypermission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="createdstamp" type="xs:dateTime" />
        <xs:element name="lastupdstamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="party" >
      <xs:sequence>
        <xs:element name="partyid" type="xs:anyType" />
        <xs:element name="partycode" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="partytype" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="party" type="status" nillable="true" minOccurs="0" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="lastmodified" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="userlogin" nillable="true" minOccurs="0" />
        <xs:element name="isunread" type="xs:anyType" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="modifiedby" type="xs:string" />
        <xs:element name="//createusernameshowinpartylistusername" type="xs:string" />
        <xs:element name="//createpartynameshowinpartylistparty" type="xs:string" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback-prod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback-dev" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 