monkey/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="sysuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="age" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="photo" type="xs:string" />
        <xs:element name="realname" type="xs:string" />
        <xs:element name="delflag" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="createuser" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="updateuser" type="xs:string" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="/***************以下是扩展字段***************分页查询主键ids*/ids" type="xs:anyType" />
        <xs:element name="/***角色名称*/rolename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysroleuser" >
      <xs:sequence>
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysrole" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="pcode" type="xs:string" />
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createuser" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="updateuser" type="xs:string" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="remark" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysmenu" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="pcode" type="xs:string" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="ordernum" type="xs:long" />
        <xs:element name="icon" type="xs:string" />
        <xs:element name="createuser" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="updateuser" type="xs:string" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="permission" type="xs:string" />
        <xs:element name="menutype" type="xs:anyType" />
        <xs:element name="/***************以下是扩展字段***************是否展开*/open" type="xs:anyType" />
        <xs:element name="/***是否选中*/checked" type="xs:anyType" />
        <xs:element name="/***是否是顶级菜单*0:false,1:true*/istop" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysrolemenu" >
      <xs:sequence>
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="menuid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 