openJPA15/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ask" >
      <xs:complexContent>
       <xs:extension base="tradable">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="/***thewhohasmadetheoffer.*mustneverbenull.*/seller" type="trader" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bid" >
      <xs:complexContent>
       <xs:extension base="tradable">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="/***thewhohasmadetheoffer.*mustneverbenull.*/buyer" type="trader" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="trader" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trade" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***primaryidentityofacommittedtrade.*itsvalueisgeneratedbythepersistenceprovider.*theapplicationmustnotsetorchangethisvalue.*hencenosettermethodisprovided.*/id" type="xs:long" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="volume" type="xs:long" />
        <xs:element name="GeneratedName" type="ask" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stock" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***theprimaryidentityofastock.*theuniquenessoftheprimarykeysareoftenwarrantedbythepersistenceprovider.*inthiscase,uniqueofastocksymbolisensuredbyanexternalagency.*/symbol" type="xs:string" />
        <xs:element name="/***thenameofthecompanyrepresentedbythisfinancialinstrument.*/company" type="xs:string" />
        <xs:element name="GeneratedName" type="sector" nillable="true" minOccurs="0" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="lastprice" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 