JPA_Hibernate5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="clinicalsapiapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clinicaldatacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="clinicaldatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="patientrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patientcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="patientrepository" nillable="true" minOccurs="0" />
        <xs:element name="filters" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patientrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<patient,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clinicaldatarepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<clinicaldata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="patient" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="clinicaldata" type="clinicaldata" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clinicaldata" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="componentname" type="xs:string" />
        <xs:element name="componentvalue" type="xs:string" />
        <xs:element name="measureddatetime" type="xs:anyType" />
        <xs:element name="GeneratedName" type="patient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clinicalsapiapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clinicaldatarequest" >
      <xs:sequence>
        <xs:element name="componentname" type="xs:string" />
        <xs:element name="componentvalue" type="xs:string" />
        <xs:element name="patientid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 