Java2-Cursuri22/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ex5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carte" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="titlu" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adresa" >
      <xs:sequence>
        <xs:element name="oras" type="xs:string" />
        <xs:element name="strada" type="xs:string" />
        <xs:element name="numar" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persoana" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="prieteni" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locatie" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="adrese" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="librarie" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="carti" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tricou" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="map" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="culoare" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="semafor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="culori" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="catalog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="medii" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 