JavaSource/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="advertmanager" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="platform" type="xs:string" />
          <xs:element name="position" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="friendurl" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="friendkeyword" type="xs:string" />
          <xs:element name="friendurl" type="xs:string" />
          <xs:element name="sort" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="trackmanager" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//parentnamegradephonenumparentname" type="xs:string" />
          <xs:element name="grade" type="xs:string" />
          <xs:element name="phonenum" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="honor" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//idpicpic" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//nameparent_idis_parentsortname" type="xs:string" />
          <xs:element name="parent_id" type="xs:long" />
          <xs:element name="//是否为父节点，0为否，1为是is_parent" type="xs:long" />
          <xs:element name="//排序指数，越小越靠前sort" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="advert" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="//idtitlead_idpositionstatustypestatusstart_dateend_dateurlplatformtitle" type="xs:string" />
          <xs:element name="//与广告管理外键的关联adid" type="xs:string" />
          <xs:element name="position" type="xs:string" />
          <xs:element name="statustype" type="xs:long" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="end" type="xs:dateTime" />
          <xs:element name="url" type="xs:string" />
          <xs:element name="platform" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="school" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//schoolnameschoolpositionphonenumschoolname" type="xs:string" />
          <xs:element name="schoolposition" type="xs:string" />
          <xs:element name="phonenum" type="xs:anyType" />
          <xs:element name="sortnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="teacher" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//teachernamedescriptionphototeachername" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="photo" type="xs:string" />
          <xs:element name="sortnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contentmanager" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//categoryidcontentnamecontentdescriptiontagisrecommendweightdatestatusauthorcategoryid" type="xs:long" />
          <xs:element name="categoryname" type="xs:string" />
          <xs:element name="grade" type="xs:string" />
          <xs:element name="contentname" type="xs:string" />
          <xs:element name="areatext" type="xs:string" />
          <xs:element name="contentdescription" type="xs:string" />
          <xs:element name="tag" type="xs:string" />
          <xs:element name="isrecommend" type="xs:long" />
          <xs:element name="weight" type="xs:long" />
          <xs:element name="" type="xs:dateTime" />
          <xs:element name="picurl" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="author" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tdkmanager" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="position" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="keyword" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="schoolpic" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//schoolidpicurlschoolid" type="xs:long" />
          <xs:element name="picurl" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 