projektpw20107/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="area" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idarea" type="xs:long" />
        <xs:element name="idareapoint" type="xs:long" />
        <xs:element name="idchild" type="xs:long" />
        <xs:element name="GeneratedName" type="areapoint" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="family" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idfamily" type="xs:long" />
        <xs:element name="idparent" type="xs:long" />
        <xs:element name="idchild" type="xs:long" />
        <xs:element name="child" type="children" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="parent" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parentsettings" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idparentsettings" type="xs:long" />
        <xs:element name="idparent" type="xs:long" />
        <xs:element name="idchild" type="xs:long" />
        <xs:element name="steptime" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parent" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idparent" type="xs:long" />
        <xs:element name="shortedpassword" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="parentsettings" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="children" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idchild" type="xs:long" />
        <xs:element name="idarea" type="xs:long" />
        <xs:element name="imei" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="GeneratedName" type="area" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marker" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idmarker" type="xs:long" />
        <xs:element name="x" type="xs:double" />
        <xs:element name="y" type="xs:double" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="child" type="children" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="areapoint" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idareapoint" type="xs:long" />
        <xs:element name="idarea" type="xs:long" />
        <xs:element name="x" type="xs:double" />
        <xs:element name="y" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 