spring-webservice/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="posts" >
      <xs:complexContent>
       <xs:extension base="basetimeentity">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="author" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="postsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<posts,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basetimeentity" >
      <xs:sequence>
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="modifieddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postsmainresponsedto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="modifieddate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postssaverequestdto" >
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="author" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webcontrollertest" >
      <xs:sequence>
        <xs:element name="resttemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="postsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postsrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 