SafetyNetAlerts/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="personserviceit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonreaderserviceit" >
      <xs:sequence>
        <xs:element name="//info:auchargementdelaclasse,lefichierjsonestchargépuisqu'onaactivéleapplication.runner" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medicalrecordservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firestationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childalertserviceit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="childalertservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="dateutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicalrecord_addupdatedelete_it" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="medicalrecordservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personinfoserviceit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personinfoservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="dateutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person_addupdatedeleteit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firestationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firestationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medicalrecordservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestation_addupdatedelete_it" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="firestationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firestationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationcommunityserviceit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="firestationcommunityservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="dateutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationcommunityservicetests" >
      <xs:sequence>
        <xs:element name="mock" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="medicalrecordrepository" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="firestationrepository" nillable="true" minOccurs="0" />
        <xs:element name="spy" type="dateutils" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firestationcommunityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personinfoservicetests" >
      <xs:sequence>
        <xs:element name="mock" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="medicalrecordrepository" nillable="true" minOccurs="0" />
        <xs:element name="spy" type="dateutils" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personinfoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="personlist" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="medicalrecordlist" type="medicalrecord" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilsservicetests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicalrecordservicetests" >
      <xs:sequence>
        <xs:element name="mock" type="medicalrecordrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medicalrecordservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medicalrecord" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonreaderservicetests" >
      <xs:sequence>
        <xs:element name="mock" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="medicalrecordservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="firestationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jsonreaderservice" nillable="true" minOccurs="0" />
        <xs:element name="personerrorfilepath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationservicetests" >
      <xs:sequence>
        <xs:element name="mock" type="firestationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firestationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firestation" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservicetests" >
      <xs:sequence>
        <xs:element name="mock" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childalertservicetests" >
      <xs:sequence>
        <xs:element name="mock" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="medicalrecordrepository" nillable="true" minOccurs="0" />
        <xs:element name="spy" type="dateutils" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="childalertservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testsutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationcontrollertests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mock" type="firestationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firestation" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childalertcontrollertests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="childalertservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicalrecordcontrollertests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="medicalrecordservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medicalrecord" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personinfocontrollertests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mock" type="personinfoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcontrollertests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mock" type="personservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationcommunitycontrollertests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mock" type="firestationcommunityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alertsapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateutilstests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dateutils" nillable="true" minOccurs="0" />
        <xs:element name="nowmock" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="familymemberdtomappertests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="familymemberdtomapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="floodinfodtomappertests" >
      <xs:sequence>
        <xs:element name="spy" type="dateutils" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="floodinfodtomapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childalertdtomappertests" >
      <xs:sequence>
        <xs:element name="spy" type="dateutils" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="childalertdtomapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personinfodtomappertests" >
      <xs:sequence>
        <xs:element name="spy" type="dateutils" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personinfodtomapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firedtomappertests" >
      <xs:sequence>
        <xs:element name="spy" type="dateutils" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firedtomapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitymemberdtomappertests" >
      <xs:sequence>
        <xs:element name="spy" type="dateutils" nillable="true" minOccurs="0" />
        <xs:element name="mapper" type="communitymemberdtomapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="safetynetalertsapi.postman_collection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datawithparsingerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alertsapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alertsapplicationrunner" >
      <xs:sequence>
        <xs:element name="runnercontroller" type="alertsapplicationrunnercontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alertsapplicationrunnercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="jsonreaderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicalrecordcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="medicalrecordservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personinfocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="personinfoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="firestationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationcommunitycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="firestationcommunityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childalertcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="childalertservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonreaderservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medicalrecordservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firestationservice" nillable="true" minOccurs="0" />
        <xs:element name="filepath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="firestationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personinfoservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="medicalrecordrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personinfodtomapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicalrecordservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="medicalrecordrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childalertservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medicalrecordrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="childalertdtomapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="familymemberdtomapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationcommunityservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="medicalrecordrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firestationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="communitymemberdtomapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="floodinfodtomapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="firedtomapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<firestation,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="medicalrecordrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<medicalrecord,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="configurationutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="age_max_children" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firedtomapper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dateutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childalertdtomapper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dateutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personinfodtomapper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dateutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="floodinfodtomapper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dateutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="familymemberdtomapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitymemberdtomapper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dateutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="functionalexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="medicalrecord" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="birthdate" type="xs:anyType" />
        <xs:element name="medications" type="xs:anyType" />
        <xs:element name="allergies" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="views" >
      <xs:complexContent>
       <xs:extension base="public{}">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personinfodto" >
      <xs:sequence>
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="mail" type="xs:string" />
        <xs:element name="medicationlist" type="xs:anyType" />
        <xs:element name="allergieslist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="floodinfodto" >
      <xs:sequence>
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="medicationlist" type="xs:anyType" />
        <xs:element name="allergieslist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="childalertdto" >
      <xs:sequence>
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="familymembers" type="familymemberdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="familymemberdto" >
      <xs:sequence>
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestationcommunitydto" >
      <xs:sequence>
        <xs:element name="communitymemberdtolist" type="communitymemberdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="adultscount" type="xs:long" />
        <xs:element name="childrencount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firedto" >
      <xs:sequence>
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="medicationlist" type="xs:anyType" />
        <xs:element name="allergieslist" type="xs:anyType" />
        <xs:element name="firestationnumberlist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitymemberdto" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stationfloodinfodto" >
      <xs:sequence>
        <xs:element name="address" type="xs:string" />
        <xs:element name="floodinfodtolist" type="floodinfodto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personid" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firestation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="station" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicalrecordid" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 