SurplusKart2020Final/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="runtime.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="polyfills.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styles.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendor.js" >
      <xs:complexContent>
       <xs:extension base="\");\n">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="log4j2-spring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="success" type="xs:string" />
        <xs:element name="failure" type="xs:string" />
        <xs:element name="success_message_login" type="xs:string" />
        <xs:element name="server_error" type="xs:string" />
        <xs:element name="no_data_avaliable" type="xs:string" />
        <xs:element name="no_user_found" type="xs:string" />
        <xs:element name="user_already_exist" type="xs:string" />
        <xs:element name="user_added_succsessfully" type="xs:string" />
        <xs:element name="user_not_exist" type="xs:string" />
        <xs:element name="user_deleted_successfully" type="xs:string" />
        <xs:element name="user_updated_successfully" type="xs:string" />
        <xs:element name="transaction_added_succsessfully" type="xs:string" />
        <xs:element name="transaction_add_failed" type="xs:string" />
        <xs:element name="transaction_not_found" type="xs:string" />
        <xs:element name="transaction_updated_succsessfully" type="xs:string" />
        <xs:element name="transaction_update_failed" type="xs:string" />
        <xs:element name="images_added_succsessfully" type="xs:string" />
        <xs:element name="product_deleted_successfully" type="xs:string" />
        <xs:element name="product_updated_successfully" type="xs:string" />
        <xs:element name="product_not_found" type="xs:string" />
        <xs:element name="product_added_succsessfully" type="xs:string" />
        <xs:element name="product_already_exist" type="xs:string" />
        <xs:element name="cart_items_not_found" type="xs:string" />
        <xs:element name="cartitem_added_succsessfully" type="xs:string" />
        <xs:element name="cartitem_deleted_succsessfully" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nodatafoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enumuserroles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumtransactionstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useralreadyexistexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invalidcredentialsexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptionhandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productalreadyexistexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statutoryinfo" >
      <xs:sequence>
        <xs:element name="statutoryinfoid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pan" type="xs:string" />
        <xs:element name="tingst" type="xs:string" />
        <xs:element name="cin" type="xs:string" />
        <xs:element name="range" type="xs:string" />
        <xs:element name="division" type="xs:string" />
        <xs:element name="druglicno" type="xs:string" />
        <xs:element name="fssaino" type="xs:string" />
        <xs:element name="premises" type="xs:string" />
        <xs:element name="employeenos" type="xs:long" />
        <xs:element name="prodmanufactured" type="xs:string" />
        <xs:element name="//@mapsid,whichdefinesthatsecundusidentifierwillbedeterminedby//primusidentifier,//and@joincolumn,specifyingwhichcolumninsecundustablewillbeused//forjoining./*@onetoone	@mapsid	@joincolumn(name" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="duedate" type="xs:anyType" />
        <xs:element name="completed" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="prid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="identity" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="brand" type="xs:string" />
        <xs:element name="qtyexpressed" type="xs:string" />
        <xs:element name="sellerid" type="xs:long" />
        <xs:element name="buyerid" type="xs:long" />
        <xs:element name="availablepackets" type="xs:double" />
        <xs:element name="unitprice" type="xs:double" />
        <xs:element name="packsize" type="xs:double" />
        <xs:element name="remainpacket" type="xs:double" />
        <xs:element name="toblob	*//*@lob//@column(name" type="xs:dateTime" />
        <xs:element name="expire" type="xs:dateTime" />
        <xs:element name="//@temporal(javax.persistence.temporaltype.)upon" type="xs:dateTime" />
        <xs:element name="loadedby" type="xs:long" />
        <xs:element name="approved" type="xs:anyType" />
        <xs:element name="approvedby" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdtls" >
      <xs:sequence>
        <xs:element name="userdtlid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="designation" type="xs:string" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="primaryemail" type="xs:string" />
        <xs:element name="company" type="xs:string" />
        <xs:element name="faxno" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="pincode" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parcel" >
      <xs:sequence>
        <xs:element name="parcelid" type="xs:long" />
        <xs:element name="transid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="//buyer,seller,adminrole" type="xs:string" />
        <xs:element name="docketno" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="updt" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorities" >
      <xs:sequence>
        <xs:element name="authorityid" type="xs:long" />
        <xs:element name="role" type="enumeration" nillable="true" minOccurs="0" />
        <xs:element name="//@javax.persistence.onetoone//@mapsid//@joincolumn(name" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moneytransaction" >
      <xs:sequence>
        <xs:element name="mtransid" type="xs:long" />
        <xs:element name="transid" type="xs:long" />
        <xs:element name="buyerprice" type="xs:anyType" />
        <xs:element name="sellercost" type="xs:anyType" />
        <xs:element name="companycommission" type="xs:anyType" />
        <xs:element name="agentcommission" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useradministration" >
      <xs:sequence>
        <xs:element name="useradministrationid" type="xs:long" />
        <xs:element name="infoid" type="xs:long" />
        <xs:element name="introducedby" type="xs:string" />
        <xs:element name="reference" type="xs:string" />
        <xs:element name="approvedby" type="xs:string" />
        <xs:element name="entered_by" type="xs:string" />
        <xs:element name="payterms" type="xs:string" />
        <xs:element name="turnoverlimit" type="xs:string" />
        <xs:element name="//@javax.persistence.onetoone(mappedby" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagemodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="imagename" type="xs:string" />
        <xs:element name="pictype" type="xs:string" />
        <xs:element name="imagetype" type="xs:string" />
        <xs:element name="pic" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumeration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="negotiate" >
      <xs:sequence>
        <xs:element name="negotiateid" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="buyerorseller" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="quantity" type="xs:double" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="updon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sellerdoc" >
      <xs:sequence>
        <xs:element name="documentid" type="xs:long" />
        <xs:element name="transid" type="xs:long" />
        <xs:element name="updon" type="xs:dateTime" />
        <xs:element name="invoice" type="xs:anyType" />
        <xs:element name="lrreceipt" type="xs:anyType" />
        <xs:element name="performainvoice" type="xs:anyType" />
        <xs:element name="doc1" type="xs:anyType" />
        <xs:element name="doc2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartitem" >
      <xs:sequence>
        <xs:element name="itemid" type="xs:long" />
        <xs:element name="buyerid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="prid" type="xs:long" />
        <xs:element name="sellerid" type="xs:long" />
        <xs:element name="buypacketqty" type="xs:long" />
        <xs:element name="estimatedprice" type="xs:double" />
        <xs:element name="updatedon" type="xs:anyType" />
        <xs:element name="startdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="role" type="enumuserroles" nillable="true" minOccurs="0" />
        <xs:element name="//@onetoone(fetch" type="userdtls" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction" >
      <xs:sequence>
        <xs:element name="transid" type="xs:long" />
        <xs:element name="prid" type="xs:long" />
        <xs:element name="sellerid" type="xs:long" />
        <xs:element name="buyerid" type="xs:long" />
        <xs:element name="buypacketqty" type="xs:long" />
        <xs:element name="estimatedprice" type="xs:double" />
        <xs:element name="updatedon" type="xs:anyType" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="//(columndefinition" type="xs:anyType" />
        <xs:element name="//(columndefinition" type="xs:anyType" />
        <xs:element name="//(columndefinition" type="xs:anyType" />
        <xs:element name="//(columndefinition" type="xs:anyType" />
        <xs:element name="productapprovedbybuyer" type="xs:anyType" />
        <xs:element name="dtproductapprovedbybuyer" type="xs:anyType" />
        <xs:element name="//(columndefinition" type="xs:anyType" />
        <xs:element name="//(columndefinition" type="xs:anyType" />
        <xs:element name="dttransactioncompleted" type="xs:anyType" />
        <xs:element name="transactionstatus" type="enumtransactionstatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="msgid" type="xs:long" />
        <xs:element name="senderid" type="xs:long" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="//@javax.persistence.temporal(javax.persistence.temporaltype.date)senton" type="xs:anyType" />
        <xs:element name="isreceived" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdtlsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdtlsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parcelserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="parcelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdtlsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdtlsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statutoryinfoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="statutoryinforepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useradministrationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statutoryinfoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="cartrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imageserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="imagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="negotiateservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useradministrationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="useradministrationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parcelservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="messagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="transactionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="negotiateserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="negotiaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdtlscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdtlsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="approvalcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//@autowired" type="loginservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="transactionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="productservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="imageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="cartservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="messageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statutoryinfocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="statutoryinfoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="negotiatecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="negotiateservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parcelstatisticscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="parcelservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionresponse" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionrequest" >
      <xs:sequence>
        <xs:element name="prid" type="xs:long" />
        <xs:element name="sellerid" type="xs:long" />
        <xs:element name="buyerid" type="xs:long" />
        <xs:element name="buypacketqty" type="xs:long" />
        <xs:element name="estimatedprice" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersresponse" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrequestdto" >
      <xs:sequence>
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="designation" type="xs:string" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="primaryemail" type="xs:string" />
        <xs:element name="company" type="xs:string" />
        <xs:element name="faxno" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="pincode" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userresponse" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdtls" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productrequest" >
      <xs:sequence>
        <xs:element name="prid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="identity" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="brand" type="xs:string" />
        <xs:element name="qtyexpressed" type="xs:string" />
        <xs:element name="sellerid" type="xs:long" />
        <xs:element name="buyerid" type="xs:long" />
        <xs:element name="availableqty" type="xs:double" />
        <xs:element name="unitprice" type="xs:double" />
        <xs:element name="packsize" type="xs:double" />
        <xs:element name="remainqty" type="xs:double" />
        <xs:element name="toblob	*///@column(name" type="xs:anyType" />
        <xs:element name="pic2" type="xs:anyType" />
        <xs:element name="pic3" type="xs:anyType" />
        <xs:element name="coa" type="xs:anyType" />
        <xs:element name="manufacture" type="xs:dateTime" />
        <xs:element name="expire" type="xs:dateTime" />
        <xs:element name="//@temporal(javax.persistence.temporaltype.)upon" type="xs:dateTime" />
        <xs:element name="loadedby" type="xs:long" />
        <xs:element name="approved" type="xs:anyType" />
        <xs:element name="approvedby" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionsresponse" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="transactions" type="transaction" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartresponse" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="cartitems" type="cartitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionchangerequest" >
      <xs:sequence>
        <xs:element name="transid" type="xs:long" />
        <xs:element name="transstatus" type="enumtransactionstatus" nillable="true" minOccurs="0" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="isproductapprovedbybuyer" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginresponse" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="role" type="enumuserroles" nillable="true" minOccurs="0" />
        <xs:element name="logintime" type="xs:dateTime" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="userid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagesresponse" >
      <xs:sequence>
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="images" type="imagemodel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginrequest" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productresponse" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productsresponse" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="products" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="response" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useradministrationrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<useradministration,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statutoryinforepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<statutoryinfo,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="negotiaterepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<negotiate,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdtlsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<userdtls,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<product,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transactionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<transaction,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<task,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<imagemodel,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parcelrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<parcel,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cartrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<cartitem,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messagerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<message,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testprogram" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-lock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 