s2container185/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="tablestrategy4" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autostrategy" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="/***/addressid" type="xs:long" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/version" type="xs:long" />
        <xs:element name="/***/" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequencestrategy" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequencestrategy3" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department5" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:anyType" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/transientdepartmentname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequencestrategy2" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department4" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:long" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/transientdepartmentname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compkeyaddress" >
      <xs:sequence>
        <xs:element name="/***/addressid1" type="xs:long" />
        <xs:element name="/***/addressid2" type="xs:long" />
        <xs:element name="/***/street" type="xs:string" />
        <xs:element name="/***/version" type="xs:long" />
        <xs:element name="/***/employee" type="compkeyemployee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablestrategy" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department2" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:long" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/departmentname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compkeydepartment" >
      <xs:sequence>
        <xs:element name="/***/departmentid1" type="xs:long" />
        <xs:element name="/***/departmentid2" type="xs:long" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/version" type="xs:long" />
        <xs:element name="/***/employees" type="compkeyemployee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="/***/employeeid" type="xs:long" />
        <xs:element name="/***/employeeno" type="xs:long" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/managerid" type="xs:long" />
        <xs:element name="/***/manager" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/departmentid" type="xs:long" />
        <xs:element name="/***/" type="department" nillable="true" minOccurs="0" />
        <xs:element name="/***/addressid" type="xs:long" />
        <xs:element name="/***/" type="address" nillable="true" minOccurs="0" />
        <xs:element name="/***/version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablestrategy3" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitystrategy" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="largeobject" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="blobvalue" type="xs:anyType" />
        <xs:element name="/***/clobvalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablestrategy2" >
      <xs:sequence>
        <xs:element name="/***/id" type="xs:anyType" />
        <xs:element name="/***/value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compkeyemployee" >
      <xs:sequence>
        <xs:element name="/***/employeeid1" type="xs:long" />
        <xs:element name="/***/employeeid2" type="xs:long" />
        <xs:element name="/***/employeeno" type="xs:long" />
        <xs:element name="/***/employeename" type="xs:string" />
        <xs:element name="/***/managerid1" type="xs:long" />
        <xs:element name="/***/managerid2" type="xs:long" />
        <xs:element name="/***/manager" type="compkeyemployee" nillable="true" minOccurs="0" />
        <xs:element name="/***/hire" type="xs:dateTime" />
        <xs:element name="/***/salary" type="xs:anyType" />
        <xs:element name="/***/departmentid1" type="xs:long" />
        <xs:element name="/***/departmentid2" type="xs:long" />
        <xs:element name="/***/department" type="compkeydepartment" nillable="true" minOccurs="0" />
        <xs:element name="/***/addressid1" type="xs:long" />
        <xs:element name="/***/addressid2" type="xs:long" />
        <xs:element name="/***/address" type="compkeyaddress" nillable="true" minOccurs="0" />
        <xs:element name="/***/version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department3" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:long" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/departmentname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="/***/departmentid" type="xs:long" />
        <xs:element name="/***/departmentno" type="xs:long" />
        <xs:element name="/***/departmentname" type="xs:string" />
        <xs:element name="/***/location" type="xs:string" />
        <xs:element name="/***/version" type="xs:long" />
        <xs:element name="/***/employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileupdatetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="path" type="xs:string" />
          <xs:element name="path2" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlfilefunctioncalltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfilebatchupdatetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlbatchupdatetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlfunctioncalltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlselecttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="sql" type="xs:string" />
          <xs:element name="sql2" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlupdatetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlprocedurecalltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="onetoonetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autobatchinserttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoupdatetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multijointest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="compkeyonetomanytest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manytoonetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autobatchupdatetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoinserttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onetomanytest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="compkeymultijointest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoprocedurecalltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autodeletetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autobatchdeletetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoselecttest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autofunctioncalltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compkeymanytoonetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="compkeyonetoonetest" >
      <xs:complexContent>
       <xs:extension base="s2testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addresscondition" >
      <xs:complexContent>
       <xs:extension base="abstractentitycondition<addresscondition>">
         <xs:sequence>
          <xs:element name="addressid" type="xs:anyType" />
          <xs:element name="/***/street" type="addresscondition" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="version" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeecondition" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="employeeid" type="xs:anyType" />
          <xs:element name="employeeno" type="xs:anyType" />
          <xs:element name="/***/employeename" type="employeecondition" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="managerid" type="xs:anyType" />
          <xs:element name="hiredate" type="xs:anyType" />
          <xs:element name="salary" type="xs:anyType" />
          <xs:element name="departmentid" type="xs:anyType" />
          <xs:element name="addressid" type="xs:anyType" />
          <xs:element name="version" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentcondition" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="departmentid" type="xs:anyType" />
          <xs:element name="departmentno" type="xs:anyType" />
          <xs:element name="/***/departmentname" type="departmentcondition" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/***/location" type="departmentcondition" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="version" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="s2junit4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="env_ut" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfilefunctioncalltest_dto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_dto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_resultset2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_no" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_paging" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_getsingleresult_null" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_resultsetout2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_resultsetupdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_getsingleresult_noresultexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_no2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_resultsetout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_resultsetsupdatesout2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfilefunctioncalltest_no" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_resultsets" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_simpletype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_simpletype2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_getsingleresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfilefunctioncalltest_resultsetupdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_getresultlist_noresultexception2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_paging2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_dto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_getsingleresult_nonuniqueresultexception2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_dto2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_resultsetsupdatesout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_getsingleresult_null2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_resultsetupdate2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_getsingleresult2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_getsingleresult_noresultexception2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfilefunctioncalltest_simpletype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_simpletype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_resultset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_none" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_getsingleresult_nonuniqueresultexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfilefunctioncalltest_resultset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileprocedurecalltest_resultsets2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfileselecttest_getresultlist_noresultexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="server" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xadatasource_h2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xadatasource_hsqldb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 