s2container205/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="emp" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="empno" type="xs:anyType" />
        <xs:element name="empname" type="xs:string" />
        <xs:element name="mgrid" type="xs:anyType" />
        <xs:element name="hire" type="xs:dateTime" />
        <xs:element name="sal" type="xs:anyType" />
        <xs:element name="deptid" type="xs:anyType" />
        <xs:element name="versionno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 