shot-api/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="shotbatch" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="shotbatchid" type="xs:long" />
        <xs:element name="batchid" type="xs:string" />
        <xs:element name="orderid" type="xs:string" />
        <xs:element name="customerid" type="xs:string" />
        <xs:element name="orddeliverydate" type="xs:anyType" />
        <xs:element name="treatmentdatetime" type="xs:anyType" />
        <xs:element name="ordno" type="xs:string" />
        <xs:element name="orddeliverylocationname" type="xs:string" />
        <xs:element name="orddeliverylocation" type="xs:string" />
        <xs:element name="patientfirstname" type="xs:string" />
        <xs:element name="patientlastname" type="xs:string" />
        <xs:element name="patientdob" type="xs:anyType" />
        <xs:element name="patientur" type="xs:string" />
        <xs:element name="patientid" type="xs:string" />
        <xs:element name="price" type="xs:string" />
        <xs:element name="productdescription2" type="xs:string" />
        <xs:element name="dose2" type="xs:anyType" />
        <xs:element name="doseunit2" type="xs:string" />
        <xs:element name="productdescription3" type="xs:string" />
        <xs:element name="dose3" type="xs:anyType" />
        <xs:element name="doseunit3" type="xs:string" />
        <xs:element name="productdescription" type="xs:string" />
        <xs:element name="dose" type="xs:anyType" />
        <xs:element name="doseunit" type="xs:string" />
        <xs:element name="deliverymechanismkey" type="xs:string" />
        <xs:element name="deliverymechanismdescription" type="xs:string" />
        <xs:element name="closedsystem" type="xs:anyType" />
        <xs:element name="specifiedvolume" type="xs:anyType" />
        <xs:element name="exact" type="xs:string" />
        <xs:element name="comments" type="xs:string" />
        <xs:element name="routeid" type="xs:string" />
        <xs:element name="routename" type="xs:string" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="infusionduration" type="xs:string" />
        <xs:element name="expirydate" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="ordbillto" type="xs:string" />
        <xs:element name="isdeliveryrunrestricted" type="xs:anyType" />
        <xs:element name="hasdeliveryrunincentive" type="xs:anyType" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="createdby" type="xs:long" />
        <xs:element name="updateddate" type="xs:anyType" />
        <xs:element name="updatedby" type="xs:anyType" />
        <xs:element name="batentkey" type="xs:string" />
        <xs:element name="batdispatchdatetime" type="xs:string" />
        <xs:element name="batches" type="batch" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="cuskey" type="xs:string" />
        <xs:element name="cusname" type="xs:string" />
        <xs:element name="cusbillto" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="cusbillto2" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="cusbillto3" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="cusbillto4" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="cusparentkey" type="xs:string" />
        <xs:element name="cuscategory" type="xs:string" />
        <xs:element name="timezone" type="xs:string" />
        <xs:element name="cusactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="urlrolemapping" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="role" type="roles" nillable="true" minOccurs="0" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="administrationroute" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codekey" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="codetype" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unitofmeasure" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roles" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="hasbillingright" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="isdeleted" type="xs:anyType" />
        <xs:element name="defaultcustomersite" type="xs:string" />
        <xs:element name="defaultorderview" type="orderviewtype" nillable="true" minOccurs="0" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="isshotadmin" type="xs:anyType" />
        <xs:element name="lastlogin" type="xs:dateTime" />
        <xs:element name="userroles" type="userroles" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trialline" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="stkkey" type="xs:string" />
        <xs:element name="delkey" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="cuskey" type="xs:string" />
        <xs:element name="GeneratedName" type="trial" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="batches" type="batch" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ordkey" type="xs:string" />
        <xs:element name="ordcuskey" type="xs:string" />
        <xs:element name="ordno" type="xs:string" />
        <xs:element name="ordstatus" type="xs:string" />
        <xs:element name="orddate" type="xs:anyType" />
        <xs:element name="ordsenddate" type="xs:anyType" />
        <xs:element name="ordrecdate" type="xs:anyType" />
        <xs:element name="ordentdate" type="xs:anyType" />
        <xs:element name="ordadminfrom" type="xs:string" />
        <xs:element name="ordadminto" type="xs:string" />
        <xs:element name="ordlastupdwhen" type="xs:anyType" />
        <xs:element name="ordlastupdaction" type="xs:string" />
        <xs:element name="ordpriority" type="xs:string" />
        <xs:element name="ordentkey" type="xs:string" />
        <xs:element name="ordlastupdby" type="xs:long" />
        <xs:element name="ordbillto" type="xs:string" />
        <xs:element name="orddeliverylocation" type="xs:string" />
        <xs:element name="orddeliverydate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerlocation" >
      <xs:sequence>
        <xs:element name="locationid" type="xs:long" />
        <xs:element name="customerkey" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shottempbatch" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="batkey" type="xs:long" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="batinvkey" type="xs:string" />
        <xs:element name="batpatkey" type="xs:string" />
        <xs:element name="batshpkey" type="xs:string" />
        <xs:element name="batadminroutecode" type="xs:string" />
        <xs:element name="batassemblyinstructions" type="xs:string" />
        <xs:element name="batassistedby" type="xs:long" />
        <xs:element name="batbillto" type="xs:string" />
        <xs:element name="batbilltocus" type="xs:string" />
        <xs:element name="batcabinetno" type="xs:long" />
        <xs:element name="batcompounded" type="xs:string" />
        <xs:element name="batconfirmedby" type="xs:long" />
        <xs:element name="batcontainervarfactor" type="xs:anyType" />
        <xs:element name="batdateassisted" type="xs:anyType" />
        <xs:element name="batdatecompounded" type="xs:anyType" />
        <xs:element name="batdateentered" type="xs:anyType" />
        <xs:element name="batdatepacked" type="xs:anyType" />
        <xs:element name="batdatepicked" type="xs:anyType" />
        <xs:element name="batdeliverylocation" type="xs:string" />
        <xs:element name="batdelmechkey" type="xs:string" />
        <xs:element name="batdescription" type="xs:string" />
        <xs:element name="batdiluentvarfactor" type="xs:anyType" />
        <xs:element name="batdispatched" type="xs:string" />
        <xs:element name="batdose" type="xs:anyType" />
        <xs:element name="xxxdoseunits" type="xs:string" />
        <xs:element name="batdrtkey" type="xs:string" />
        <xs:element name="batdrugkey" type="xs:string" />
        <xs:element name="batdsukey" type="xs:string" />
        <xs:element name="batenteredby" type="xs:long" />
        <xs:element name="batentkey" type="xs:string" />
        <xs:element name="batexact" type="xs:string" />
        <xs:element name="batexpirychanged" type="xs:string" />
        <xs:element name="batexpirydate" type="xs:anyType" />
        <xs:element name="batexpiryperiod" type="xs:anyType" />
        <xs:element name="batextendedprice" type="xs:anyType" />
        <xs:element name="batvolume" type="xs:anyType" />
        <xs:element name="batweight" type="xs:anyType" />
        <xs:element name="batformulation" type="xs:string" />
        <xs:element name="batftp" type="xs:string" />
        <xs:element name="batinfusionrate" type="xs:string" />
        <xs:element name="batinvquantity" type="xs:long" />
        <xs:element name="batlabelinstructions" type="xs:string" />
        <xs:element name="batlastupdaction" type="xs:string" />
        <xs:element name="batlastupdby" type="xs:long" />
        <xs:element name="batoperator" type="xs:long" />
        <xs:element name="batotherfee" type="xs:anyType" />
        <xs:element name="batpackedby" type="xs:long" />
        <xs:element name="batpatclass" type="xs:string" />
        <xs:element name="batpatfirstname" type="xs:string" />
        <xs:element name="batpatientname" type="xs:string" />
        <xs:element name="batpatienturno" type="xs:string" />
        <xs:element name="batpatlastname" type="xs:string" />
        <xs:element name="batpickedby" type="xs:long" />
        <xs:element name="batprepdate" type="xs:anyType" />
        <xs:element name="batpredby" type="xs:long" />
        <xs:element name="batpriority" type="xs:string" />
        <xs:element name="batproductid" type="xs:string" />
        <xs:element name="batpump" type="xs:string" />
        <xs:element name="batpumpretentionvol" type="xs:anyType" />
        <xs:element name="batqed" type="xs:string" />
        <xs:element name="batquantity" type="xs:long" />
        <xs:element name="batrejectnotes" type="xs:string" />
        <xs:element name="batrejectreason" type="xs:string" />
        <xs:element name="batreleasespecs" type="xs:string" />
        <xs:element name="batriva" type="xs:string" />
        <xs:element name="batscore" type="xs:anyType" />
        <xs:element name="batsenttompx" type="xs:string" />
        <xs:element name="batsession" type="xs:long" />
        <xs:element name="batshipdate" type="xs:anyType" />
        <xs:element name="batspecificgravity" type="xs:anyType" />
        <xs:element name="batspecifiedvolume" type="xs:anyType" />
        <xs:element name="batstatus" type="xs:string" />
        <xs:element name="batstockonly" type="xs:string" />
        <xs:element name="battestcode" type="xs:string" />
        <xs:element name="battheoreticalwastage" type="xs:anyType" />
        <xs:element name="battreatdate" type="xs:anyType" />
        <xs:element name="battrlkey" type="xs:string" />
        <xs:element name="bat_unitprice" type="xs:anyType" />
        <xs:element name="batlastupdwhen" type="xs:anyType" />
        <xs:element name="batdrug2key" type="xs:string" />
        <xs:element name="batdsu2key" type="xs:string" />
        <xs:element name="batdose2" type="xs:anyType" />
        <xs:element name="batdrug3key" type="xs:string" />
        <xs:element name="batdsu3key" type="xs:string" />
        <xs:element name="batdose3" type="xs:anyType" />
        <xs:element name="batcsoverride" type="xs:anyType" />
        <xs:element name="batprepdtoverride" type="xs:string" />
        <xs:element name="xxxdoseunits2" type="xs:string" />
        <xs:element name="xxxdoseunits3" type="xs:string" />
        <xs:element name="ingredient" type="shottempingredient" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facilityholiday" >
      <xs:sequence>
        <xs:element name="facilityholidayid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="facility" nillable="true" minOccurs="0" />
        <xs:element name="holiday" type="xs:dateTime" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facility" >
      <xs:sequence>
        <xs:element name="entitykey" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phoneno" type="xs:string" />
        <xs:element name="/***itcanhavethefollowingvalues("australia/*")dependingonwherethefacilityislocated:*australia/queensland:+10*australia/nsw:+10/+11*australia/act:+10/+11*australia/victoria:+10/+11*australia/tasmania:+10/+11*australia/adelaide:+09:30/+10:30*australia/perth:+08*australia/darwin:+09:30*mentionedaboveareallgmtoffsetsforthezone.*/statename" type="xs:string" />
        <xs:element name="timezone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homepageactions" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="webpageurl" type="xs:string" />
        <xs:element name="webpagename" type="xs:string" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="iconname" type="xs:string" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="axisingredient" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="batch" nillable="true" minOccurs="0" />
        <xs:element name="ingkey" type="xs:string" />
        <xs:element name="ingstkkey" type="xs:string" />
        <xs:element name="ingstatus" type="xs:string" />
        <xs:element name="ingqtyordered" type="xs:double" />
        <xs:element name="ingchargeable" type="xs:string" />
        <xs:element name="xxxtype" type="xs:string" />
        <xs:element name="inglastupdwhen" type="xs:anyType" />
        <xs:element name="inglastupdaction" type="xs:string" />
        <xs:element name="inglastupdby" type="xs:long" />
        <xs:element name="ingitemsequence" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logistic" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//@manytoone//customercustomercustomer" type="xs:string" />
        <xs:element name="GeneratedName" type="ordertype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="facility" nillable="true" minOccurs="0" />
        <xs:element name="//relativetodispatchdayincentivedayoffset" type="xs:anyType" />
        <xs:element name="//relativetodispatchdayincentivetimeoffset" type="xs:anyType" />
        <xs:element name="//relativetodispatchdaycutoff1dayoffset" type="xs:long" />
        <xs:element name="//relativetodispatchdaycutoff1timeoffset" type="xs:long" />
        <xs:element name="//relativetodispatchdaycutoff2dayoffset" type="xs:long" />
        <xs:element name="//relativetodispatchdaycutoff2timeoffset" type="xs:long" />
        <xs:element name="cutoff2quantitylimit" type="xs:long" />
        <xs:element name="dispatchtime" type="xs:long" />
        <xs:element name="//relativetodispatchdaydeliverydayoffset" type="xs:long" />
        <xs:element name="//customerlocaldeliverytimedeliverytime" type="xs:long" />
        <xs:element name="dispatchdayslist" type="xs:string" />
        <xs:element name="courier" type="xs:string" />
        <xs:element name="//@elementcollection(targetclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amountunits" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codekey" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="codetype" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patient" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="patientid" type="xs:long" />
        <xs:element name="customerkey" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="dob" type="xs:dateTime" />
        <xs:element name="ur" type="xs:string" />
        <xs:element name="trialid" type="xs:string" />
        <xs:element name="trialkey" type="xs:string" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="createdby" type="xs:long" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="updatedby" type="xs:long" />
        <xs:element name="updateddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="batch" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="shotbatch" nillable="true" minOccurs="0" />
        <xs:element name="batkey" type="xs:string" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="batinvkey" type="xs:string" />
        <xs:element name="batpatkey" type="xs:string" />
        <xs:element name="batshpkey" type="xs:string" />
        <xs:element name="batadminroutecode" type="xs:string" />
        <xs:element name="batassemblyinstructions" type="xs:string" />
        <xs:element name="batassistedby" type="xs:long" />
        <xs:element name="batbillto" type="xs:string" />
        <xs:element name="batbilltocus" type="xs:string" />
        <xs:element name="batcabinetno" type="xs:long" />
        <xs:element name="batcompounded" type="xs:string" />
        <xs:element name="batconfirmedby" type="xs:long" />
        <xs:element name="batcontainervarfactor" type="xs:anyType" />
        <xs:element name="batdateassisted" type="xs:anyType" />
        <xs:element name="batdatecompounded" type="xs:anyType" />
        <xs:element name="batdateentered" type="xs:anyType" />
        <xs:element name="batdatepacked" type="xs:anyType" />
        <xs:element name="batdatepicked" type="xs:anyType" />
        <xs:element name="batdeliverylocation" type="xs:string" />
        <xs:element name="batdelmechkey" type="xs:string" />
        <xs:element name="batdescription" type="xs:string" />
        <xs:element name="batdiluentvarfactor" type="xs:anyType" />
        <xs:element name="batdispatched" type="xs:string" />
        <xs:element name="batdose" type="xs:anyType" />
        <xs:element name="xxxdoseunits" type="xs:string" />
        <xs:element name="batdrtkey" type="xs:string" />
        <xs:element name="batdrugkey" type="xs:string" />
        <xs:element name="batdsukey" type="xs:string" />
        <xs:element name="batenteredby" type="xs:long" />
        <xs:element name="batentkey" type="xs:string" />
        <xs:element name="batexact" type="xs:string" />
        <xs:element name="batexpirychanged" type="xs:string" />
        <xs:element name="batexpirydate" type="xs:anyType" />
        <xs:element name="batexpiryperiod" type="xs:anyType" />
        <xs:element name="batextendedprice" type="xs:anyType" />
        <xs:element name="batvolume" type="xs:anyType" />
        <xs:element name="batweight" type="xs:anyType" />
        <xs:element name="batformulation" type="xs:string" />
        <xs:element name="batftp" type="xs:string" />
        <xs:element name="batinfusionrate" type="xs:string" />
        <xs:element name="batinvquantity" type="xs:long" />
        <xs:element name="batlabelinstructions" type="xs:string" />
        <xs:element name="batlastupdaction" type="xs:string" />
        <xs:element name="batlastupdby" type="xs:long" />
        <xs:element name="batoperator" type="xs:long" />
        <xs:element name="batotherfee" type="xs:anyType" />
        <xs:element name="batpackedby" type="xs:long" />
        <xs:element name="batpatclass" type="xs:string" />
        <xs:element name="batpatfirstname" type="xs:string" />
        <xs:element name="batpatientname" type="xs:string" />
        <xs:element name="batpatienturno" type="xs:string" />
        <xs:element name="batpatlastname" type="xs:string" />
        <xs:element name="batpickedbby" type="xs:long" />
        <xs:element name="batprepdate" type="xs:anyType" />
        <xs:element name="batpredby" type="xs:long" />
        <xs:element name="batpriority" type="xs:string" />
        <xs:element name="batproductid" type="xs:string" />
        <xs:element name="batpump" type="xs:string" />
        <xs:element name="batpumpretentionvol" type="xs:anyType" />
        <xs:element name="batqed" type="xs:string" />
        <xs:element name="batquantity" type="xs:long" />
        <xs:element name="batrejectnotes" type="xs:string" />
        <xs:element name="batrejectreason" type="xs:string" />
        <xs:element name="batreleasespecs" type="xs:string" />
        <xs:element name="batriva" type="xs:string" />
        <xs:element name="batscore" type="xs:anyType" />
        <xs:element name="batsenttompx" type="xs:string" />
        <xs:element name="batsession" type="xs:long" />
        <xs:element name="batshipdate" type="xs:anyType" />
        <xs:element name="batspecificgravity" type="xs:anyType" />
        <xs:element name="batspecifiedvolume" type="xs:anyType" />
        <xs:element name="batstatus" type="xs:string" />
        <xs:element name="batstockonly" type="xs:string" />
        <xs:element name="battestcode" type="xs:string" />
        <xs:element name="battheoreticalwastage" type="xs:anyType" />
        <xs:element name="battreatdate" type="xs:anyType" />
        <xs:element name="battrlkey" type="xs:string" />
        <xs:element name="bat_unitprice" type="xs:anyType" />
        <xs:element name="batlastupdwhen" type="xs:anyType" />
        <xs:element name="xxxdoseunits2" type="xs:string" />
        <xs:element name="xxxdoseunits3" type="xs:string" />
        <xs:element name="ingredient" type="axisingredient" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="batonhold" type="xs:string" />
        <xs:element name="patientdob" type="xs:anyType" />
        <xs:element name="patientid" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="productdescription" type="xs:string" />
        <xs:element name="closedsystem" type="xs:anyType" />
        <xs:element name="infusionduration" type="xs:string" />
        <xs:element name="routename" type="xs:string" />
        <xs:element name="deliverymechanismdescription" type="xs:string" />
        <xs:element name="productdescription2" type="xs:string" />
        <xs:element name="productdescription3" type="xs:string" />
        <xs:element name="isdeliveryrunrestricted" type="xs:anyType" />
        <xs:element name="batdrug2key" type="xs:string" />
        <xs:element name="batdsu2key" type="xs:string" />
        <xs:element name="batdose2" type="xs:anyType" />
        <xs:element name="batdrug3key" type="xs:string" />
        <xs:element name="batdsu3key" type="xs:string" />
        <xs:element name="batdose3" type="xs:anyType" />
        <xs:element name="batcsoverride" type="xs:anyType" />
        <xs:element name="batprepdtoverride" type="xs:string" />
        <xs:element name="batcomments" type="xs:string" />
        <xs:element name="batreplacementbatkey" type="xs:string" />
        <xs:element name="hasdeliveryrunincentive" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stock" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="amountunits" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsfeed" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="header" type="xs:string" />
        <xs:element name="postedby" type="xs:string" />
        <xs:element name="shortdesc" type="xs:string" />
        <xs:element name="longdesc" type="xs:string" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="container" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="stockkey" type="xs:string" />
        <xs:element name="stockdescription" type="xs:string" />
        <xs:element name="stocktype" type="xs:string" />
        <xs:element name="stockcode" type="xs:string" />
        <xs:element name="stockactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerpreference" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="prefid" type="xs:long" />
        <xs:element name="customerkey" type="xs:string" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="productdescription" type="xs:string" />
        <xs:element name="producttype" type="xs:string" />
        <xs:element name="batdrugkey" type="xs:string" />
        <xs:element name="batdsukey" type="xs:string" />
        <xs:element name="trikey" type="xs:string" />
        <xs:element name="msoingstkkey" type="xs:string" />
        <xs:element name="batformulation" type="xs:string" />
        <xs:element name="dosefrom" type="xs:double" />
        <xs:element name="doseto" type="xs:double" />
        <xs:element name="unitofmeasure" type="xs:string" />
        <xs:element name="deliverymechanism" type="deliverymechanisms" nillable="true" minOccurs="0" />
        <xs:element name="volume" type="xs:double" />
        <xs:element name="exact" type="xs:anyType" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="GeneratedName" type="administrationroute" nillable="true" minOccurs="0" />
        <xs:element name="infusionduration" type="xs:double" />
        <xs:element name="rank" type="xs:anyType" />
        <xs:element name="comments" type="xs:string" />
        <xs:element name="createdby" type="xs:anyType" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="updatedby" type="xs:anyType" />
        <xs:element name="updateddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="axisbatchaudit" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="axisbatchauditidentity" nillable="true" minOccurs="0" />
        <xs:element name="shotbatchkey" type="xs:long" />
        <xs:element name="batlastupdby" type="combinedaxisandshotusers" nillable="true" minOccurs="0" />
        <xs:element name="batdescription" type="xs:string" />
        <xs:element name="batquantity" type="xs:anyType" />
        <xs:element name="batdose" type="xs:anyType" />
        <xs:element name="batdoseunits" type="amountunits" nillable="true" minOccurs="0" />
        <xs:element name="batdose2" type="xs:anyType" />
        <xs:element name="batdoseunit2" type="amountunits" nillable="true" minOccurs="0" />
        <xs:element name="batdose3" type="xs:anyType" />
        <xs:element name="batdoseunit3" type="amountunits" nillable="true" minOccurs="0" />
        <xs:element name="batspecifiedvolume" type="xs:anyType" />
        <xs:element name="GeneratedName" type="administrationroute" nillable="true" minOccurs="0" />
        <xs:element name="battreatdate" type="xs:string" />
        <xs:element name="batstatus" type="xs:string" />
        <xs:element name="batshipdate" type="xs:string" />
        <xs:element name="batcomments" type="xs:string" />
        <xs:element name="batexact" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webpagerolemapping" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="webpagename" type="xs:string" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="diluent" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="stockkey" type="xs:string" />
        <xs:element name="stockdescription" type="xs:string" />
        <xs:element name="stocktype" type="xs:string" />
        <xs:element name="stockcode" type="xs:string" />
        <xs:element name="stockactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliverymechanisms" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="////@joincolumn(name" type="diluent" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="container" nillable="true" minOccurs="0" />
        <xs:element name="active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shotorder" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/*@onetomany(mappedby" type="xs:string" />
        <xs:element name="ordcuskey" type="xs:string" />
        <xs:element name="ordno" type="xs:string" />
        <xs:element name="billto" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userroles" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="userroleid" type="xs:long" />
        <xs:element name="user" type="users" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="role" type="roles" nillable="true" minOccurs="0" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="billto1" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="billto2" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="billto3" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="billto4" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shottempingredient" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="shottempbatch" nillable="true" minOccurs="0" />
        <xs:element name="ingkey" type="xs:long" />
        <xs:element name="ingstkkey" type="xs:string" />
        <xs:element name="ingstatus" type="xs:string" />
        <xs:element name="ingqtyordered" type="xs:double" />
        <xs:element name="ingchargeable" type="xs:string" />
        <xs:element name="xxxtype" type="xs:string" />
        <xs:element name="inglastupdwhen" type="xs:anyType" />
        <xs:element name="inglastupdaction" type="xs:string" />
        <xs:element name="inglastupdby" type="xs:long" />
        <xs:element name="ingitemsequence" type="xs:long" />
        <xs:element name="expiry" type="expirydto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trial" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="triallines" type="trialline" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productadministrationroutes" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="GeneratedName" type="stock" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="administrationroute" nillable="true" minOccurs="0" />
        <xs:element name="active" type="xs:string" />
        <xs:element name="lastupdwhen" type="xs:anyType" />
        <xs:element name="lastupdby" type="xs:long" />
        <xs:element name="lastupdaction" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="combinedaxisandshotusers" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="firtname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="system" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 