Pavan-Java-9/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="hibernatejpafindermethodsapplication" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productrepo" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<product,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatejpafindermethodsapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 