openejb1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="eartest" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcemergetest" >
      <xs:sequence>
        <xs:element name="sr" type="someresource" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="someresourcefactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="someresource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleservletloadonstartuptest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleservlettest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="returnemail" type="xs:string" />
          <xs:element name="connectionpool" type="xs:anyType" />
          <xs:element name="startcount" type="xs:long" />
          <xs:element name="initsize" type="xs:long" />
          <xs:element name="totalquantity" type="xs:anyType" />
          <xs:element name="enableemail" type="xs:anyType" />
          <xs:element name="optiondefault" type="xs:anyType" />
          <xs:element name="default" type="code" nillable="true" minOccurs="0" />
          <xs:element name="auditwriter" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletenventryinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletfiltercdiinjectiontest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
          <xs:element name="test_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pojoservletfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourcetest" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servlettochecklistener" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletlistenerpersistenceinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceservletcontextlistener" >
      <xs:sequence>
        <xs:element name="transaction" type="xs:anyType" />
        <xs:element name="entitymgrfactory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceservletsessionlistener" >
      <xs:sequence>
        <xs:element name="transaction" type="xs:anyType" />
        <xs:element name="entitymgrfactory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextattributename" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletfilterpersistenceinjectiontest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceservletfilter" >
      <xs:sequence>
        <xs:element name="transaction" type="xs:anyType" />
        <xs:element name="entitymgrfactory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="green" >
      <xs:sequence>
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sharedenvironmenttest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
          <xs:element name="test_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pojoservletfilter" >
      <xs:sequence>
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="GeneratedName" type="green" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orange" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orange" >
      <xs:sequence>
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="environment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsfs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcemanagedbean" >
      <xs:sequence>
        <xs:element name="ds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsfresourceinjectiontest" >
      <xs:complexContent>
       <xs:extension base="jsfs">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dummymanagedbean" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpainjectiontest" >
      <xs:complexContent>
       <xs:extension base="jsfs">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dummyejb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsfinjectiontest" >
      <xs:complexContent>
       <xs:extension base="jsfs">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dummymanagedbean" >
      <xs:sequence>
        <xs:element name="ejb" type="dummyejb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletejblocalinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="othercompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companylocal" >
      <xs:complexContent>
       <xs:extension base="company">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pojoservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
          <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webappclassloadertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hashcdiextension" >
      <xs:sequence>
        <xs:element name="bms" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hashservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="style" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pickup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stratocaster" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="pickups" type="pickup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="style" nillable="true" minOccurs="0" />
          <xs:element name="created" type="xs:dateTime" />
          <xs:element name="guitarstringguages" type="xs:anyType" />
          <xs:element name="certificateofauthenticity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stratocastertest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pickupeditor" >
      <xs:complexContent>
       <xs:extension base="java.beans.propertyeditorsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletlistenerejbremotetest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servlettochecklistener" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextattributename" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservletsessionlistener" >
      <xs:sequence>
        <xs:element name="remotecompany" type="companyremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservletcontextlistener" >
      <xs:sequence>
        <xs:element name="remotecompany" type="companyremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="purple" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blue" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="app" type="xs:string" />
          <xs:element name="module" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="red" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="purple" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletresourceenventryinjectiontest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
          <xs:element name="test_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="green" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orange" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="app" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletfilterejblocalinjectiontest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pojoservletfilter" >
      <xs:sequence>
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companylocal" >
      <xs:complexContent>
       <xs:extension base="company">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletfilterejbremoteinjectiontest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservletfilter" >
      <xs:sequence>
        <xs:element name="remotecompany" type="companyremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companylocal" >
      <xs:complexContent>
       <xs:extension base="company">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletfilterenventryinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservletfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource*/default" type="code" nillable="true" minOccurs="0" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource@suppresswarnings("unchecked")*/auditwriter" type="xs:anyType" />
        <xs:element name="config" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testsetup" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextattributename" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companylocal" >
      <xs:complexContent>
       <xs:extension base="company">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servlettochecklistener" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservletsessionlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource*/default" type="code" nillable="true" minOccurs="0" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource@suppresswarnings("unchecked")*/auditwriter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservletcontextlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource*/default" type="code" nillable="true" minOccurs="0" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource@suppresswarnings("unchecked")*/auditwriter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletlistenerejblocalinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="foo" type="pojo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="somepojo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producerdisposer" >
      <xs:sequence>
        <xs:element name="volatiledisposed" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletdisposerequestscopetest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="overloadedejbobservermethodstest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletcdiproducertest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assemblyline" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="car" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="car" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletcdiconstructorinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletcdiinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="car" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletejbremotetest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="remotecompany" type="companyremote" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testrun" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deploymentexceptionerrortest" >
      <xs:sequence>
        <xs:element name="de" type="xs:anyType" />
        <xs:element name="oejbexception" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multiplepersistencetest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person2" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person1" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multiplepuservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="transaction" type="xs:anyType" />
          <xs:element name="1" type="xs:anyType" />
          <xs:element name="2" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletpersistenceinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="transaction" type="xs:anyType" />
          <xs:element name="entitymgrfactory" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pojoservletsessionlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource*/default" type="code" nillable="true" minOccurs="0" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource@suppresswarnings("unchecked")*/auditwriter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservletcontextlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource*/default" type="code" nillable="true" minOccurs="0" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource@suppresswarnings("unchecked")*/auditwriter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servlettochecklistener" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletlistenerenventryinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companylocal" >
      <xs:complexContent>
       <xs:extension base="company">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contextattributename" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getresourcesholder" >
      <xs:sequence>
        <xs:element name="resource_number" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getresourcesservletexporter" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getresourcestest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getresourceslistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate-pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 