planingHyper/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="planning" >
      <xs:sequence>
        <xs:element name="id_planning" type="xs:long" />
        <xs:element name="debut" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="prenom" type="xs:string" />
        <xs:element name="pseudo" type="xs:string" />
        <xs:element name="telephone" type="xs:string" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classe" >
      <xs:sequence>
        <xs:element name="id_classe" type="xs:long" />
        <xs:element name="section" type="xs:string" />
        <xs:element name="specialite" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matiere" >
      <xs:sequence>
        <xs:element name="id_matiere" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vacance" >
      <xs:sequence>
        <xs:element name="id_vacance" type="xs:long" />
        <xs:element name="debut" type="xs:dateTime" />
        <xs:element name="fin" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 