sensores/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="sensorsmain" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateconfiguration" >
      <xs:sequence>
        <xs:element name="//thisvaluesaredeclaredintheresources/properties/hibernate.propertiesfile.databasedriverclassname" type="xs:string" />
        <xs:element name="databaseurl" type="xs:string" />
        <xs:element name="databaseusername" type="xs:string" />
        <xs:element name="databasepassword" type="xs:string" />
        <xs:element name="hibernatedialect" type="xs:string" />
        <xs:element name="hibernateshowsql" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testserviceimplementation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="testdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdaoimplementation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdto" >
      <xs:sequence>
        <xs:element name="testpk" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="testservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 