Steere-with-Authentication-V1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="employee_id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="confirmpassword" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="active" type="xs:long" />
        <xs:element name="extension" type="xs:string" />
        <xs:element name="cellphone" type="xs:string" />
        <xs:element name="resettoken" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manual" >
      <xs:sequence>
        <xs:element name="manual_id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domainlist" >
      <xs:sequence>
        <xs:element name="domain_id" type="xs:long" />
        <xs:element name="domaintype" type="xs:string" />
        <xs:element name="domainvalue" type="xs:string" />
        <xs:element name="active" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="status" >
      <xs:sequence>
        <xs:element name="status_id" type="xs:long" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendor" >
      <xs:sequence>
        <xs:element name="vendor_id" type="xs:long" />
        <xs:element name="vendorname" type="xs:string" />
        <xs:element name="vendortype" type="xs:string" />
        <xs:element name="vendorurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 