job-search-project/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="unsupportedrepositoryoperationexception" >
      <xs:complexContent>
       <xs:extension base="unsupportedoperationexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userisbannedexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="passwordexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityalreadyexistauthenticationexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myauthenticationsuccesshandler" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdetailsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resumeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="resumerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="companyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employerserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="companyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jobrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="companyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="resumerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resumeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenum" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roledto" >
      <xs:sequence>
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employerdto" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenum" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="companycodeedrpou" type="xs:long" />
        <xs:element name="companyaddress" type="xs:string" />
        <xs:element name="companydescription" type="xs:string" />
        <xs:element name="companyindustry" type="xs:string" />
        <xs:element name="companyemployeesnum" type="xs:anyType" />
        <xs:element name="employerposition" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companydto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="codeedrpou" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="industry" type="xs:string" />
        <xs:element name="employeesnum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedto" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenum" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resumedto" >
      <xs:sequence>
        <xs:element name="desiredposition" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="workexperience" type="xs:string" />
        <xs:element name="skills" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fullresumedto" >
      <xs:sequence>
        <xs:element name="employeefullname" type="xs:string" />
        <xs:element name="employeeemail" type="xs:string" />
        <xs:element name="employeephonenum" type="xs:string" />
        <xs:element name="desiredposition" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="workexperience" type="xs:string" />
        <xs:element name="skills" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercredentialsdto" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobdto" >
      <xs:sequence>
        <xs:element name="jobid" type="xs:long" />
        <xs:element name="jobtitle" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="industry" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="skills" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="employmenttype" type="xs:string" />
        <xs:element name="postedon" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fulljobdto" >
      <xs:sequence>
        <xs:element name="jobid" type="xs:long" />
        <xs:element name="jobtitle" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="industry" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="skills" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="employmenttype" type="xs:string" />
        <xs:element name="postedon" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="employername" type="xs:string" />
        <xs:element name="employernumber" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="companyindustry" type="xs:string" />
        <xs:element name="companyemployeesnum" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoapplication" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="resumeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jobservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="companyservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="resumeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jobservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
        <xs:element name="position" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenum" type="xs:string" />
        <xs:element name="isbanned" type="xs:anyType" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resume" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="desiredposition" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="workexperience" type="xs:string" />
        <xs:element name="skills" type="xs:string" />
        <xs:element name="jobs" type="job" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="codeedrpou" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="industry" type="xs:string" />
        <xs:element name="employeesnum" type="xs:anyType" />
        <xs:element name="//@onetomany(mappedby" type="job" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="job" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="jobtitle" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="postedon" type="xs:anyType" />
        <xs:element name="GeneratedName" type="employer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
        <xs:element name="industry" type="xs:string" />
        <xs:element name="status" type="jobstatus" nillable="true" minOccurs="0" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="skills" type="xs:string" />
        <xs:element name="salary" type="xs:anyType" />
        <xs:element name="employmenttype" type="xs:string" />
        <xs:element name="resumes" type="resume" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="resumes" type="resume" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="internationalizationconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<job,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<employee,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<employer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<company,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resumerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<resume,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test_page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="find-user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin-dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee-account" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register-employee" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edit-employee" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apply-for-job" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee-resumes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee-dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post-resume" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edit-company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register-employer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="get-job-applicants" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post-job" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employer-jobs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edit-user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employer-account" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="find-resumes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employer-dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyrepositorytest" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="companyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employerrepositorytest" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="employerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepositorytest" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobrepositorytest" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="jobrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="job" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resumerepositorytest" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="resumerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="resume" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeerepositorytest" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="employeerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="employeeservice" type="employeeserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="companyrepository" nillable="true" minOccurs="0" />
        <xs:element name="companyservice" type="companyserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 