SchoolWork4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="exampleunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleinstrumentedtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bouncingballview" >
      <xs:complexContent>
       <xs:extension base="view">
         <xs:sequence>
          <xs:element name="//listofballsballs" type="objdbconverter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="box" type="box_android" nillable="true" minOccurs="0" />
          <xs:element name="//statusmessagetoshowball's(x,y)positionandspeed.statusmsg" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="//fortouchinputs-previoustouch(x,y)previousx" type="xs:double" />
          <xs:element name="previousy" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="address" type="xs:string" />
          <xs:element name="port" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="inputstream" type="xs:anyType" />
          <xs:element name="local" type="client" nillable="true" minOccurs="0" />
          <xs:element name="object" type="objdbconverter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="box_android" >
      <xs:sequence>
        <xs:element name="xmin" type="xs:long" />
        <xs:element name="xmax" type="xs:long" />
        <xs:element name="ymin" type="xs:long" />
        <xs:element name="ymax" type="xs:long" />
        <xs:element name="//styleandcolor" type="xs:anyType" />
        <xs:element name="bounds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objdbconverter" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="x" type="xs:double" />
        <xs:element name="y" type="xs:double" />
        <xs:element name="z" type="xs:double" />
        <xs:element name="veh_type" type="xs:string" />
        <xs:element name="identity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mainactivity" >
      <xs:complexContent>
       <xs:extension base="appcompatactivity">
         <xs:sequence>
          <xs:element name="local" type="client" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objdbconverter" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="x" type="xs:double" />
        <xs:element name="y" type="xs:double" />
        <xs:element name="z" type="xs:double" />
        <xs:element name="veh_type" type="xs:string" />
        <xs:element name="identity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="strings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_launcher_background" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activity_main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_launcher" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_launcher_round" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ic_launcher_foreground" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="androidmanifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 