SchoolWork4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="objdbconverter" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="x" type="xs:double" />
        <xs:element name="y" type="xs:double" />
        <xs:element name="z" type="xs:double" />
        <xs:element name="veh_type" type="xs:string" />
        <xs:element name="identity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objdbconverter" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="x" type="xs:double" />
        <xs:element name="y" type="xs:double" />
        <xs:element name="z" type="xs:double" />
        <xs:element name="veh_type" type="xs:string" />
        <xs:element name="identity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 