spring-rest-nn/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mainapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipiezasdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<curso,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="proporcionapieza" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proveedor" >
      <xs:sequence>
        <xs:element name="id_prov" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="piezaspropo" type="proporcionapieza" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pieza" >
      <xs:sequence>
        <xs:element name="id_pieza" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="piezaspropo" type="proporcionapieza" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mainapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 