mpaas17/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="admingroupentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="groupname" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="/***是否为默认组*/def" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admingrouppermissionentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="groupentity" type="admingroupentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="adminid" type="xs:string" />
        <xs:element name="adminname" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="groupentity" type="admingroupentity" nillable="true" minOccurs="0" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="mobilephone" type="xs:string" />
        <xs:element name="weixin" type="xs:string" />
        <xs:element name="qq" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="adminuser" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="igroupentity" >
      <xs:sequence>
        <xs:element name="grouptablename" type="xs:string" />
        <xs:element name="groupidname" type="xs:string" />
        <xs:element name="groupname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iadminentity" >
      <xs:sequence>
        <xs:element name="admintablename" type="xs:string" />
        <xs:element name="adminidname" type="xs:string" />
        <xs:element name="adminname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 