Movies/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="recommender" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="algo" nillable="true" minOccurs="0" />
        <xs:element name="films" type="xs:anyType" />
        <xs:element name="allfilms" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="starter" >
      <xs:sequence>
        <xs:element name="rec" type="recommender" nillable="true" minOccurs="0" />
        <xs:element name="tag" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="algo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recommendalgo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getfeature" >
      <xs:sequence>
        <xs:element name="//classpath" type="xs:string" />
        <xs:element name="filmfile" type="xs:string" />
        <xs:element name="featurefile" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comingmovie" >
      <xs:sequence>
        <xs:element name="movie" type="xs:string" />
        <xs:element name="img" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="price" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="moviename" type="xs:string" />
        <xs:element name="price" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sex" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="actorname" type="xs:string" />
        <xs:element name="GeneratedName" type="sex" nillable="true" minOccurs="0" />
        <xs:element name="birthday" type="xs:dateTime" />
        <xs:element name="homeland" type="xs:string" />
        <xs:element name="headpic" type="xs:string" />
        <xs:element name="introduce" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="score" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="score" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rank" >
      <xs:sequence>
        <xs:element name="movie" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="boxoffice" type="xs:double" />
        <xs:element name="img" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="releasemovie" >
      <xs:sequence>
        <xs:element name="//citymoviename" type="xs:string" />
        <xs:element name="director" type="xs:string" />
        <xs:element name="duration" type="xs:string" />
        <xs:element name="img" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="releasetime" type="xs:string" />
        <xs:element name="score" type="xs:string" />
        <xs:element name="star" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieactor" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="actorid" type="xs:long" />
        <xs:element name="actorname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticket" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="cinemaid" type="xs:long" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="orderlink" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="downloadlink" >
      <xs:sequence>
        <xs:element name="downloadlink" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boxoffice" >
      <xs:sequence>
        <xs:element name="moviename" type="xs:string" />
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="boxoffice" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cinema" >
      <xs:sequence>
        <xs:element name="cinemaid" type="xs:long" />
        <xs:element name="cinemaname" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="web" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviedirector" >
      <xs:sequence>
        <xs:element name="moveid" type="xs:long" />
        <xs:element name="directorid" type="xs:long" />
        <xs:element name="directorname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="moviename" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="language" type="xs:string" />
        <xs:element name="release" type="xs:dateTime" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="during" type="xs:string" />
        <xs:element name="poster" type="xs:string" />
        <xs:element name="score" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="commenttime" type="xs:dateTime" />
        <xs:element name="commentator" type="xs:string" />
        <xs:element name="commentlevel" type="xs:string" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movietag" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="tag" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movietagpk" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="tag" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="releasemoviepk" >
      <xs:sequence>
        <xs:element name="city" type="xs:string" />
        <xs:element name="moviename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviedirectorpk" >
      <xs:sequence>
        <xs:element name="moveid" type="xs:long" />
        <xs:element name="directorid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketpk" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="cinemaid" type="xs:long" />
        <xs:element name="time" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rankpk" >
      <xs:sequence>
        <xs:element name="movie" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pricepk" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="moviename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieactorpk" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="actorid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviecontroller" >
      <xs:sequence>
        <xs:element name="movieservice" type="moviemanageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="moviedao" nillable="true" minOccurs="0" />
        <xs:element name="scoreservice" type="scoremanageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="movieservice" type="moviemanageservice" nillable="true" minOccurs="0" />
        <xs:element name="scoreservice" type="scoremanageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="userservice" type="usermanageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermanageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermanagerserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviemanagebean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="moviedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoremanageserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="scoredao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviemanageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoremanageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoredaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviedaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoredao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 