Movies/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="comingmovie" >
      <xs:sequence>
        <xs:element name="movie" type="xs:string" />
        <xs:element name="img" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="price" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="moviename" type="xs:string" />
        <xs:element name="price" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="actorname" type="xs:string" />
        <xs:element name="GeneratedName" type="sex" nillable="true" minOccurs="0" />
        <xs:element name="birthday" type="xs:dateTime" />
        <xs:element name="homeland" type="xs:string" />
        <xs:element name="headpic" type="xs:string" />
        <xs:element name="introduce" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="score" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="score" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rank" >
      <xs:sequence>
        <xs:element name="movie" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="boxoffice" type="xs:double" />
        <xs:element name="img" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="releasemovie" >
      <xs:sequence>
        <xs:element name="//citymoviename" type="xs:string" />
        <xs:element name="director" type="xs:string" />
        <xs:element name="duration" type="xs:string" />
        <xs:element name="img" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="releasetime" type="xs:string" />
        <xs:element name="score" type="xs:string" />
        <xs:element name="star" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieactor" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="actorid" type="xs:long" />
        <xs:element name="actorname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticket" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="cinemaid" type="xs:long" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="orderlink" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="downloadlink" >
      <xs:sequence>
        <xs:element name="downloadlink" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boxoffice" >
      <xs:sequence>
        <xs:element name="moviename" type="xs:string" />
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="boxoffice" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cinema" >
      <xs:sequence>
        <xs:element name="cinemaid" type="xs:long" />
        <xs:element name="cinemaname" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="web" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviedirector" >
      <xs:sequence>
        <xs:element name="moveid" type="xs:long" />
        <xs:element name="directorid" type="xs:long" />
        <xs:element name="directorname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="moviename" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="language" type="xs:string" />
        <xs:element name="release" type="xs:dateTime" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="during" type="xs:string" />
        <xs:element name="poster" type="xs:string" />
        <xs:element name="score" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="commenttime" type="xs:dateTime" />
        <xs:element name="commentator" type="xs:string" />
        <xs:element name="commentlevel" type="xs:string" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movietag" >
      <xs:sequence>
        <xs:element name="movieid" type="xs:long" />
        <xs:element name="tag" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 