MasterThesisUSEF2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="congestion-point-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsobusinesserror" >
      <xs:sequence>
        <xs:element name="errormessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="determineorangeregimecompensationsparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="determinereductionperiodsstepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="determineoutageperiodsstepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsodeterminecapacitylimitationperiodscoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="determineorangeevent" >
      <xs:sequence>
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoinitiatesettlementcoordinator" >
      <xs:complexContent>
       <xs:extension base="abstractsettlementcoordinator">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="configdso" nillable="true" minOccurs="0" />
          <xs:element name="" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
          <xs:element name="izeinitiatesettlementeventmanager" type="finalizeinitiatesettlementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="checkinitiatesettlementdoneevent" type="checkinitiatesettlementdoneevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="finalizeunfinishedinitiatesettlementevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalizeinitiatesettlementevent" >
      <xs:sequence>
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
        <xs:element name="meterdatasets" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoinitiatesettlementparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestpenaltydataparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectsmartmeterdataevent" >
      <xs:sequence>
        <xs:element name="periodinmonth" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectsmartmeterdataeventtrigger" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="collectsmartmeterdataevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalizeunfinishedinitiatesettlementeventtrigger" >
      <xs:sequence>
        <xs:element name="eventmanager" type="finalizeunfinishedinitiatesettlementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsosendsettlementmessagescoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="sendsettlementmessageeventmanager" type="sendsettlementmessageevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkinitiatesettlementdoneevent" >
      <xs:sequence>
        <xs:element name="year" type="xs:anyType" />
        <xs:element name="month" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendsettlementmessageevent" >
      <xs:sequence>
        <xs:element name="year" type="xs:anyType" />
        <xs:element name="month" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsosettlementmessageresponsecoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="businessservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsosettlementmessagedispositiontimer" >
      <xs:complexContent>
       <xs:extension base="abstracttriggerregisterhelperservice">
         <xs:sequence>
          <xs:element name="task_name" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="configdso" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="initiatecollectorangeregimedataeventtrigger" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="initiatecollectorangeregimedataevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdataqueryeventsparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initiatecollectorangeregimedataevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocollectorangeregimedatacoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="determineorangeeventmanager" type="determineorangeevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalizecollectorangeregimedataevent" >
      <xs:sequence>
        <xs:element name="meterdatasets" type="xs:anyType" />
        <xs:element name="period" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateresponseevent" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocommonreferenceupdatecoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="businessservice" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jmsservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateeventtrigger" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="commonreferenceupdateevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocommonreferenceupdateresponsecoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="businessservice" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workflowparameter" >
      <xs:sequence>
        <xs:element name="congestion_points" type="xs:string" />
        <xs:element name="ptu_date" type="xs:string" />
        <xs:element name="congestion_point_entity_address" type="xs:string" />
        <xs:element name="congestion_point" type="xs:string" />
        <xs:element name="agr_domain_list" type="xs:string" />
        <xs:element name="agr_connection_count_list" type="xs:string" />
        <xs:element name="ptu_duration" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="prognosis_message_xml" type="xs:string" />
        <xs:element name="common_reference_query_response_message" type="xs:string" />
        <xs:element name="/**thoseareexpectedtobeproducedbytheworkflowstep.eachofthemareexpectedtobearraysoflong.*/power" type="xs:string" />
        <xs:element name="start" type="xs:string" />
        <xs:element name="duration" type="xs:string" />
        <xs:element name="maxload" type="xs:string" />
        <xs:element name="sequence_too_small" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocommonreferencequeryeventtrigger" >
      <xs:sequence>
        <xs:element name="eventmanager" type="commonreferencequeryevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocreateconnectionforecasteventtrigger" >
      <xs:complexContent>
       <xs:extension base="abstracttriggerregisterhelperservice">
         <xs:sequence>
          <xs:element name="createconnectionforecasteventmanager" type="createconnectionforecastevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="configdso" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dsoconnectionforecastplanboardcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="minutes_per_day" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="movetovalidateeventmanager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createconnectionforecastevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocommonreferencequerycoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsodprognosiscoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="gridsafetyanalysisevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocreatenonaggregatorforecastparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptugridmonitoringdto" >
      <xs:sequence>
        <xs:element name="ptuindex" type="xs:anyType" />
        <xs:element name="actualpower" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonaggregatorforecastdto" >
      <xs:sequence>
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="ptudate" type="xs:anyType" />
        <xs:element name="ptus" type="ptunonaggregatorforecastdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gridmonitoringdto" >
      <xs:sequence>
        <xs:element name="congestionpointentityaddress" type="xs:string" />
        <xs:element name="period" type="xs:anyType" />
        <xs:element name="ptugridmonitoringdtos" type="ptugridmonitoringdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="connectioncountperaggregator" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptunonaggregatorforecastdto" >
      <xs:sequence>
        <xs:element name="power" type="xs:long" />
        <xs:element name="maxload" type="xs:long" />
        <xs:element name="ptuindex" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantactiondto" >
      <xs:sequence>
        <xs:element name="method" type="xs:string" />
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gridsafetyanalysisdto" >
      <xs:sequence>
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="ptudate" type="xs:anyType" />
        <xs:element name="ptus" type="ptugridsafetyanalysisdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectioncapacitylimitationperioddto" >
      <xs:sequence>
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="startdatetime" type="xs:anyType" />
        <xs:element name="enddatetime" type="xs:anyType" />
        <xs:element name="totaloutage" type="xs:anyType" />
        <xs:element name="capacityreduction" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptugridsafetyanalysisdto" >
      <xs:sequence>
        <xs:element name="power" type="xs:long" />
        <xs:element name="disposition" type="xs:anyType" />
        <xs:element name="ptuindex" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="congestionpointactiondto" >
      <xs:sequence>
        <xs:element name="method" type="xs:string" />
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="connections" type="connectionactiondto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionactiondto" >
      <xs:sequence>
        <xs:element name="entityaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoworkflowstep" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storegridsafetyanalysisevent" >
      <xs:sequence>
        <xs:element name="congestionpointentityaddress" type="xs:string" />
        <xs:element name="period" type="xs:anyType" />
        <xs:element name="GeneratedName" type="gridsafetyanalysisdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createmissingdprognosisparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocreatemissingdprognosiscoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="gridsafetyeventmanager" type="gridsafetyanalysisevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creategridsafetyanalysisstepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gridsafetyanalysisevent" >
      <xs:sequence>
        <xs:element name="congestionpointentityaddress" type="xs:string" />
        <xs:element name="period" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsogridsafetyanalysiscoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="storegridsafetyeventmanager" type="storegridsafetyanalysisevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="flexrequesteventmanager" type="createflexrequestevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="coloringeventmanager" type="coloringprocessevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexofferrevocationevent" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoflexofferrevocationcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="planboardbusinessservice" type="xs:anyType" />
        <xs:element name="planboardvalidatorservice" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexorderacknowledgementevent" >
      <xs:sequence>
        <xs:element name="sequence" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="aggregatordomain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoflexorderacknowledgementcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="eventmanager" type="createflexrequestevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createflexrequeststepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocreateflexrequestcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="workflowstubloader" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createflexrequestevent" >
      <xs:sequence>
        <xs:element name="congestionpointentityaddress" type="xs:string" />
        <xs:element name="period" type="xs:anyType" />
        <xs:element name="ptuindexes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexordereventtrigger" >
      <xs:complexContent>
       <xs:extension base="abstracttriggerregisterhelperservice">
         <xs:sequence>
          <xs:element name="flexorderevents" type="flexorderevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="configdso" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="placeflexordersstepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoflexordercoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="workflowstubloader" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexorderevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocoloringprocesscoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coloringprocessevent" >
      <xs:sequence>
        <xs:element name="period" type="xs:anyType" />
        <xs:element name="congestionpoint" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postcoloringprocessparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preparestepwiselimitingstepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsolimitconnectionsstepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsomonitorgridstepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsooperatecoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="minutes_per_day" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="placeoperateflexordersstepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendoperateeventtrigger" >
      <xs:complexContent>
       <xs:extension base="abstracttriggerregisterhelperservice">
         <xs:sequence>
          <xs:element name="eventmanager" type="sendoperateevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="configdso" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sendoperateevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restoreconnectionsstepparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsometereventtransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gridsafetyanalysisdtotransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gridmonitoringtransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonaggregatorforecastdtotransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsohousekeepingcoordinator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsohousekeepingbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationcongestionpointendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="distributionsystemoperatortopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorendpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="distributionsystemoperatortopologybusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationcongestionpoint" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="lastsynchronisationtime" type="xs:dateTime" />
        <xs:element name="lastmodificationtime" type="xs:dateTime" />
        <xs:element name="statusses" type="synchronisationcongestionpointstatus" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="connections" type="synchronisationconnection" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonaggregatorforecast" >
      <xs:complexContent>
       <xs:extension base="document">
         <xs:sequence>
          <xs:element name="power" type="xs:long" />
          <xs:element name="maxload" type="xs:long" />
          <xs:element name="creation" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gridsafetyanalysis" >
      <xs:complexContent>
       <xs:extension base="document">
         <xs:sequence>
          <xs:element name="power" type="xs:long" />
          <xs:element name="disposition" type="xs:anyType" />
          <xs:element name="prognoses" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperator" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptugridmonitor" >
      <xs:complexContent>
       <xs:extension base="document">
         <xs:sequence>
          <xs:element name="actualpower" type="xs:long" />
          <xs:element name="limitedpower" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnection" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="congestionpoint" type="synchronisationcongestionpoint" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionstatustype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompany" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregatoronconnectiongroupstate" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="aggregator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="connectioncount" type="xs:anyType" />
        <xs:element name="validfrom" type="xs:dateTime" />
        <xs:element name="validuntil" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="congestionpointstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prognosisupdatedeviation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="prognosissequence" type="xs:long" />
        <xs:element name="ptu" type="xs:dateTime" />
        <xs:element name="ptuindex" type="xs:anyType" />
        <xs:element name="aggregatordomain" type="xs:string" />
        <xs:element name="orderedpower" type="xs:anyType" />
        <xs:element name="previousprognosedpower" type="xs:anyType" />
        <xs:element name="prognosedpower" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregator" >
      <xs:sequence>
        <xs:element name="domain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationcongestionpointstatus" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="commonreferenceoperator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationcongestionpoint" nillable="true" minOccurs="0" />
        <xs:element name="status" type="synchronisationconnectionstatustype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionmeterevent" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="eventtype" nillable="true" minOccurs="0" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="capacity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectioncapacitylimitationperiod" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="totaloutage" type="xs:anyType" />
        <xs:element name="capacityreduction" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionmetereventrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<connectionmeterevent>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prognosisupdatedeviationrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<prognosisupdatedeviation>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meterdatacompanyrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<meterdatacompany>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aggregatoronconnectiongroupstaterepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<aggregatoronconnectiongroupstate>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<commonreferenceoperator>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ptugridmonitorrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<ptugridmonitor>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aggregatorrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<aggregator>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nonaggregatorforecastrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<nonaggregatorforecast>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="connectioncapacitylimitationperiodrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<connectioncapacitylimitationperiod>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="synchronisationcongestionpointstatusrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<synchronisationcongestionpointstatus>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="synchronisationcongestionpointrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<synchronisationcongestionpoint>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<synchronisationconnection>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gridsafetyanalysisrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<gridsafetyanalysis>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectiondto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="entityaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationcongestionpointdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="entityaddress" type="xs:string" />
        <xs:element name="lastmodificationtime" type="xs:string" />
        <xs:element name="connections" type="synchronisationconnectiondto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoplanboardvalidatorservice" >
      <xs:sequence>
        <xs:element name="minutes_per_day" type="xs:long" />
        <xs:element name="extreme_power_value" type="xs:long" />
        <xs:element name="max_power" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="aggregatoronconnectiongroupstaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsohousekeepingbusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="gridsafetyanalysisrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="nonaggregatorforecastrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="prognosisupdatedeviationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ptugridmonitorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoplanboardbusinessservice" >
      <xs:complexContent>
       <xs:extension base="exchange>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="aggregatorrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="aggregatoronconnectiongroupstaterepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="connectionmetereventrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="connectioncapacitylimitationperiodrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="gridsafetyanalysisrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="nonaggregatorforecastrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="prognosisupdatedeviationrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="ptugridmonitorrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="synchronisationcongestionpointrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="synchronisationcongestionpointstatusrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dsodefaultsettlementmessagecontent" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperatorvalidationbusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationcongestionpointrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperatortopologybusinessservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="json_date_time_format" type="xs:string" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="validationservice" type="distributionsystemoperatorvalidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationcongestionpointrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationcongestionpointstatusrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configdsoparam" >
      <xs:sequence>
        <xs:element name="propertyclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configdso" >
      <xs:complexContent>
       <xs:extension base="abstractconfig">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexrequestresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<flexrequestresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="settlementmessageresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<settlementmessageresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="coordinator" type="dsosettlementmessageresponsecoordinator" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prognosiscontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingmessagecontroller<prognosis>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="dsoplanboardvalidatorservice" nillable="true" minOccurs="0" />
          <xs:element name="coordinator" type="dsodprognosiscoordinator" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<commonreferencequeryresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="configdso" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryerrorcontroller" >
      <xs:complexContent>
       <xs:extension base="baseoutgoingerrormessagecontroller<commonreferencequery>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="eventmanager" type="createconnectionforecastevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexordererrorcontroller" >
      <xs:complexContent>
       <xs:extension base="baseoutgoingerrormessagecontroller<flexorder>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="eventmanager" type="flexorderacknowledgementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexofferrevocationcontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingmessagecontroller<flexofferrevocation>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="eventmanager" type="flexofferrevocationevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingmessagecontroller<commonreferenceupdateresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="eventmanager" type="commonreferenceupdateresponseevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meterdataqueryresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<meterdataqueryresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="izeinitiatesettlementeventmanager" type="finalizeinitiatesettlementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="izecollectorangeregimedataeventmanager" type="finalizecollectorangeregimedataevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexoffercontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingmessagecontroller<flexoffer>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="jmsservice" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="coloringeventmanager" type="coloringprocessevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexorderresponsecontroller" >
      <xs:complexContent>
       <xs:extension base="baseincomingresponsemessagecontroller<flexorderresponse>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="eventmanager" type="flexorderacknowledgementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dsoinitiatesettlementcoordinatortest" >
      <xs:sequence>
        <xs:element name="start_date" type="xs:anyType" />
        <xs:element name="end_date" type="xs:anyType" />
        <xs:element name="coordinator" type="dsoinitiatesettlementcoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="izeinitiatesettlementeventmanager" type="finalizeinitiatesettlementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="checkinitiatesettlementdoneevent" type="checkinitiatesettlementdoneevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestpenaltydataparametertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="finalizeunfinishedinitiatesettlementeventtriggertest" >
      <xs:sequence>
        <xs:element name="eventmanager" type="finalizeunfinishedinitiatesettlementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="trigger" type="finalizeunfinishedinitiatesettlementeventtrigger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectsmartmeterdataeventtriggertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="collectsmartmeterdataevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="trigger" type="collectsmartmeterdataeventtrigger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsodeterminecapacitylimitationperiodscoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="dsodetermineorangeeventperiodscoordinator" type="dsodeterminecapacitylimitationperiodscoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsosendsettlementmessagescoordinatortest" >
      <xs:sequence>
        <xs:element name="agr_domain" type="xs:string" />
        <xs:element name="congestion_point" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="dsosendsettlementmessagescoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsosettlementmessagedispositiontimertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dsosettlementmessagedispositiontimer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsosettlementmessageresponsecoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dsosettlementmessageresponsecoordinator" nillable="true" minOccurs="0" />
        <xs:element name="aggregator_domain" type="xs:string" />
        <xs:element name="businessservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocollectorangeregimedatacoordinatortest" >
      <xs:sequence>
        <xs:element name="period" type="xs:anyType" />
        <xs:element name="entity_address" type="xs:string" />
        <xs:element name="congestion_point" type="xs:string" />
        <xs:element name="event_data" type="xs:anyType" />
        <xs:element name="event_date_time" type="xs:anyType" />
        <xs:element name="event_type_xml" type="xs:anyType" />
        <xs:element name="event_type_dto" type="xs:anyType" />
        <xs:element name="coordinator" type="dsocollectorangeregimedatacoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="determineorangeeventmanager" type="determineorangeevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initiatecollectorangeregimedataeventtriggertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="initiatecollectorangeregimedataevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="trigger" type="initiatecollectorangeregimedataeventtrigger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonaggregatorforecastdtotransformertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsometereventtransformertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gridmonitoringtransformertest" >
      <xs:sequence>
        <xs:element name="congestion_point" type="xs:string" />
        <xs:element name="start_date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workflowparametertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dsocommonreferencequeryeventtriggertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="commonreferencequeryevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="trigger" type="dsocommonreferencequeryeventtrigger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocommonreferencequerycoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="dsocommonreferencequerycoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocreateconnectionforecasteventtriggertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="createconnectionforecasteventmanager" type="createconnectionforecastevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="trigger" type="dsocreateconnectionforecasteventtrigger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsodprognosiscoordinatortest" >
      <xs:sequence>
        <xs:element name="coordinator" type="dsodprognosiscoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="gridsafetyanalysisevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoconnectionforecastplanboardcoordinatortest" >
      <xs:sequence>
        <xs:element name="workflow_ended" type="xs:string" />
        <xs:element name="coordinator" type="dsoconnectionforecastplanboardcoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="movetovalidateeventmanager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocommonreferenceupdatecoordinatortest" >
      <xs:sequence>
        <xs:element name="coordinator" type="dsocommonreferenceupdatecoordinator" nillable="true" minOccurs="0" />
        <xs:element name="businessservice" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jmsservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateeventtriggertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commonreferenceupdateeventtrigger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="commonreferenceupdateevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocommonreferenceupdateresponsecoordinatortest" >
      <xs:sequence>
        <xs:element name="coordinator" type="dsocommonreferenceupdateresponsecoordinator" nillable="true" minOccurs="0" />
        <xs:element name="businessservice" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="placeoperateflexordersstepparametertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="preparestepwiselimitingstepparametertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restoreconnectionsstepparametertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dsooperatecoordinatortest" >
      <xs:sequence>
        <xs:element name="congestion_point_entity_address" type="xs:string" />
        <xs:element name="ptu_date" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="planboardbusinessservice" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="workflowstubloader" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="dsooperatecoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendoperateeventtriggertest" >
      <xs:sequence>
        <xs:element name="trigger" type="sendoperateeventtrigger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="sendoperateevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocoloringprocesscoordinatortest" >
      <xs:sequence>
        <xs:element name="congestion_point" type="xs:string" />
        <xs:element name="dso_domain" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="dsocoloringprocesscoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoflexorderacknowledgementcoordinatortest" >
      <xs:sequence>
        <xs:element name="workflow_ended_log" type="xs:string" />
        <xs:element name="no_flex_order_found_log" type="xs:string" />
        <xs:element name="sequence" type="xs:long" />
        <xs:element name="acknowledgement_status" type="xs:anyType" />
        <xs:element name="aggregator_domain" type="xs:string" />
        <xs:element name="dsoflexrequestacknowledgementcoordinator" type="dsoflexorderacknowledgementcoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="eventmanager" type="createflexrequestevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocreatemissingdprognosiscoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="gridsafetyeventmanager" type="gridsafetyanalysisevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="dsocreatemissingdprognosiscoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsogridsafetyanalysiscoordinatortest" >
      <xs:sequence>
        <xs:element name="test_domain" type="xs:string" />
        <xs:element name="entity_address" type="xs:string" />
        <xs:element name="ptus_per_day" type="xs:long" />
        <xs:element name="GeneratedName" type="dsogridsafetyanalysiscoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="storegridsafetyeventmanager" type="storegridsafetyanalysisevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="flexrequesteventmanager" type="createflexrequestevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="coloringeventmanager" type="coloringprocessevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mock" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoflexofferrevocationcoordinatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="dsoflexofferrevocationcoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="planboardbusinessservice" type="xs:anyType" />
        <xs:element name="planboardvalidatorservice" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createflexrequesteventtest" >
      <xs:sequence>
        <xs:element name="congestion_point_entity_address" type="xs:string" />
        <xs:element name="ptuindexes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsocreateflexrequestcoordinatortest" >
      <xs:sequence>
        <xs:element name="congestion_point_entity_address" type="xs:string" />
        <xs:element name="expired_ptu_date" type="xs:anyType" />
        <xs:element name="ptu_date" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="planboardbusinessservice" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="workflowstubloader" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="dsocreateflexrequestcoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoflexordercoordinatortest" >
      <xs:sequence>
        <xs:element name="congestion_point_entity_address" type="xs:string" />
        <xs:element name="ptu_date" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="workflowstubloader" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="dsoflexordercoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexordereventtriggertest" >
      <xs:sequence>
        <xs:element name="trigger" type="flexordereventtrigger" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="flexorderevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="placeflexordersstepparametertest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gridsafetyanalysisrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="gridsafetyanalysisrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonaggregatorforecastrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="nonaggregatorforecastrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ptugridmonitorrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="ptugridmonitorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregatoronconnectiongroupstaterepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="aggregatoronconnectiongroupstaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="time" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdatacompanyrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregatorrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="aggregatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prognosisupdatedeviationrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="prognosisupdatedeviationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationcongestionpointrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="synchronisationcongestionpointrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationcongestionpointstatusrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="synchronisationcongestionpointstatusrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionmetereventrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="connectionmetereventrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="synchronisationconnectionrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatorrepositorytest" >
      <xs:sequence>
        <xs:element name="/***thefactorythatproducesentitymanager.*/" type="xs:anyType" />
        <xs:element name="/***theentitymanagerthatpersistsandqueriesthedb.*/" type="xs:anyType" />
        <xs:element name="repository" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceoperatortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoplanboardvalidatorservicetest" >
      <xs:sequence>
        <xs:element name="service" type="dsoplanboardvalidatorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="aggregatoronconnectiongroupstaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperatorvalidationbusinessservicetest" >
      <xs:sequence>
        <xs:element name="service" type="distributionsystemoperatorvalidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationcongestionpointrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="distributionsystemoperatortopologybusinessservicetest" >
      <xs:sequence>
        <xs:element name="service" type="distributionsystemoperatortopologybusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="validationservice" type="distributionsystemoperatorvalidationbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationcongestionpointrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationcongestionpointstatusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsoplanboardbusinessservicetest" >
      <xs:sequence>
        <xs:element name="congestion_point" type="xs:string" />
        <xs:element name="planboardservice" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregatoronconnectiongroupstaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="aggregatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commonreferenceoperatorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="connectionmetereventrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectioncapacitylimitationperiodrepository" nillable="true" minOccurs="0" />
        <xs:element name="planboardvalidatorservice" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="gridsafetyanalysisrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="meterdatacompanyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="nonaggregatorforecastrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="ptugridmonitorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="prognosisupdatedeviationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationcongestionpointrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationcongestionpointstatusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="synchronisationconnectionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reflectionutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reflectionutiltest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="configdsotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryerrorcontrollertest" >
      <xs:sequence>
        <xs:element name="eventmanager" type="createconnectionforecastevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="controller" type="commonreferencequeryerrorcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexordererrorcontrollertest" >
      <xs:complexContent>
       <xs:extension base="message>">
         <xs:sequence>
          <xs:element name="eventmanager" type="flexorderacknowledgementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="controller" type="flexordererrorcontroller" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexofferrevocationcontrollertest" >
      <xs:sequence>
        <xs:element name="controller" type="flexofferrevocationcontroller" nillable="true" minOccurs="0" />
        <xs:element name="eventmanager" type="flexofferrevocationevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexorderresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="eventmanager" type="flexorderacknowledgementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="controller" type="flexorderresponsecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settlementmessageresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="settlementmessageresponsecontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="dsosettlementmessageresponsecoordinator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexoffercontrollertest" >
      <xs:sequence>
        <xs:element name="congestion_point" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jmsservice" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coloringeventmanager" type="coloringprocessevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="controller" type="flexoffercontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meterdataqueryresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="izeinitiatesettlementeventmanager" type="finalizeinitiatesettlementevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="izecollectorangeregimedataeventmanager" type="finalizecollectorangeregimedataevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="controller" type="meterdataqueryresponsecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferenceupdateresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="commonreferenceupdateresponecontroller" type="commonreferenceupdateresponsecontroller" nillable="true" minOccurs="0" />
        <xs:element name="eventmanager" type="commonreferenceupdateresponseevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prognosiscontrollertest" >
      <xs:sequence>
        <xs:element name="controller" type="prognosiscontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dsoplanboardvalidatorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="coordinator" type="dsodprognosiscoordinator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonreferencequeryresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="dsoplanboardbusinessservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="configdso" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="controller" type="commonreferencequeryresponsecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flexrequestresponsecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="controller" type="flexrequestresponsecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settlement-message-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="common_reference_query" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test-prognosis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplelogger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummy-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 