micro-cloud4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recruitdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<recruit,string>,jpaspecificationexecutor<recruit>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enterprisedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<enterprise,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enterpriseservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="enterprisedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recruitservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="recruitdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recruitapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recruit" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//职位名称jobname" type="xs:string" />
        <xs:element name="//薪资范围salary" type="xs:string" />
        <xs:element name="/***springjpa实体中出现数据库关键字解决方法*在springjpa中出现关键字是无法向数据库中添加等操作有异常进行抛出*///经验要求condition" type="xs:string" />
        <xs:element name="//学历要求education" type="xs:string" />
        <xs:element name="//任职方式type" type="xs:string" />
        <xs:element name="//办公地址address" type="xs:string" />
        <xs:element name="//企业ideid" type="xs:string" />
        <xs:element name="//创建日期createtime" type="xs:dateTime" />
        <xs:element name="//状态state" type="xs:string" />
        <xs:element name="//网址url" type="xs:string" />
        <xs:element name="//标签label" type="xs:string" />
        <xs:element name="//职位描述content1" type="xs:string" />
        <xs:element name="//职位要求content2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enterprise" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//企业名称name" type="xs:string" />
        <xs:element name="//企业简介summary" type="xs:string" />
        <xs:element name="//企业地址address" type="xs:string" />
        <xs:element name="//标签列表labels" type="xs:string" />
        <xs:element name="//坐标coordinate" type="xs:string" />
        <xs:element name="//是否热门0：非热门1：热门ishot" type="xs:string" />
        <xs:element name="//logologo" type="xs:string" />
        <xs:element name="//职位数jobcount" type="xs:anyType" />
        <xs:element name="//urlurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisconfig" >
      <xs:complexContent>
       <xs:extension base="cachingconfigurersupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigurationsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
        <xs:element name="applicationname" type="xs:string" />
        <xs:element name="tokenname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recruitcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="recruitservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enterprisecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="enterpriseservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 