MasterThesisUSEF6/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="signedmessagehash" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="creationtime" type="xs:dateTime" />
        <xs:element name="hashedcontent" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageerror" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="errorcode" type="xs:anyType" />
        <xs:element name="errormessage" type="xs:string" />
        <xs:element name="GeneratedName" type="message" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="creationtime" type="xs:dateTime" />
        <xs:element name="direction" type="messagedirection" nillable="true" minOccurs="0" />
        <xs:element name="sender" type="xs:string" />
        <xs:element name="receiver" type="xs:string" />
        <xs:element name="xml" type="xs:string" />
        <xs:element name="messageid" type="xs:string" />
        <xs:element name="conversationid" type="xs:string" />
        <xs:element name="GeneratedName" type="messagetype" nillable="true" minOccurs="0" />
        <xs:element name="contenthash" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 