JPA_Hibernate8/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="compositkeyapplicationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customersrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="products" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customersid" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customers" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="products" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productsid" nillable="true" minOccurs="0" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productsid" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customersrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<customers,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productsrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<products,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="compositkeyapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 