Java2-Cursuri/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ex3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contact" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
        <xs:element name="numere" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cardacces" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="serie" type="xs:string" />
        <xs:element name="GeneratedName" type="persoana" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articol" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="titlu" type="xs:string" />
        <xs:element name="autori" type="autor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persoana" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
        <xs:element name="GeneratedName" type="cardacces" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anagajat" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
        <xs:element name="GeneratedName" type="locparcare" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="curs" >
      <xs:sequence>
        <xs:element name="ind" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
        <xs:element name="studenti" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carte" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
        <xs:element name="libratie" type="librarie" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="librarie" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="adresa" type="xs:string" />
        <xs:element name="carti" type="carte" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
        <xs:element name="articole" type="articol" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locparcare" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="numar" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nume" type="xs:string" />
        <xs:element name="cursuri" type="curs" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 