my-project1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="auditlog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="method" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="modifytime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="/***///serialversionuid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="//简单的acl权限permission" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 