Pavan-Java-/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentinfoservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paymentinforepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventnotificationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventnotificationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billcycledataservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="billcycledatainforepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creditdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="creditdetailsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataallowancebarservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dataallowancebarrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datausageinfoservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="datausageinforepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billaccountservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="billaccountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerattributesservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customerattributesrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mbillcompareservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mbillcomparerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceinfoservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="deviceinforepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecpdprofileservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ecpdprofilerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentproductlistservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="currentproductlistrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobileinfoservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mobileinforepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mtndetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mtndetailsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springreactiveexampleapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pricingrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pricingdomainservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mtndomainservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountdomainservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customerdomainservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerinfoadapterimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pricingdomainservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mtndomainservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountdomainservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customerdomainservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mbillcomparemodel" >
      <xs:sequence>
        <xs:element name="totalcharges" type="xs:double" />
        <xs:element name="invoiceperiod" type="xs:string" />
        <xs:element name="currbalancefwd" type="xs:double" />
        <xs:element name="totalcurronetimechg" type="xs:double" />
        <xs:element name="totalcurrmonchg" type="xs:double" />
        <xs:element name="totoalcurrtaxchg" type="xs:double" />
        <xs:element name="currentmonthdesc" type="xs:string" />
        <xs:element name="prevmonthdesc" type="xs:string" />
        <xs:element name="totatalcurrentcharges" type="xs:double" />
        <xs:element name="prevtotalcharges" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobileinfomodel" >
      <xs:sequence>
        <xs:element name="mtn" type="xs:string" />
        <xs:element name="vzupenrolleddate" type="xs:string" />
        <xs:element name="familybaseenrolleddate" type="xs:string" />
        <xs:element name="globalorderinfo" type="xs:string" />
        <xs:element name="GeneratedName" type="datausageinfomodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creditdetailsmodel" >
      <xs:sequence>
        <xs:element name="creditcardnumber" type="xs:string" />
        <xs:element name="expirymonth" type="xs:string" />
        <xs:element name="expiryyear" type="xs:string" />
        <xs:element name="creditcardtype" type="xs:string" />
        <xs:element name="GeneratedName" type="dataallowancebarmodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerattributesmodel" >
      <xs:sequence>
        <xs:element name="customertypecode" type="xs:string" />
        <xs:element name="inwithverizonind" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataallowancebarmodel" >
      <xs:sequence>
        <xs:element name="overageqty" type="xs:double" />
        <xs:element name="overageunit" type="xs:string" />
        <xs:element name="overagesize" type="xs:double" />
        <xs:element name="overagecost" type="xs:string" />
        <xs:element name="barcolor" type="xs:string" />
        <xs:element name="barpercent" type="xs:double" />
        <xs:element name="totalused" type="xs:double" />
        <xs:element name="totalallowed" type="xs:double" />
        <xs:element name="totalremaining" type="xs:double" />
        <xs:element name="totalunitofmeasure" type="xs:string" />
        <xs:element name="allowancetype" type="xs:string" />
        <xs:element name="allowancesource" type="xs:string" />
        <xs:element name="warningcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentinfomodel" >
      <xs:sequence>
        <xs:element name="lastpaymentdate" type="xs:string" />
        <xs:element name="pastduebalance" type="xs:string" />
        <xs:element name="ecustomerdate" type="xs:string" />
        <xs:element name="invoicedate" type="xs:string" />
        <xs:element name="outstandingbalance" type="xs:double" />
        <xs:element name="billtotalremitamount" type="xs:double" />
        <xs:element name="lastpaymentamount" type="xs:double" />
        <xs:element name="latefee" type="xs:double" />
        <xs:element name="cashonlyindicator" type="xs:string" />
        <xs:element name="suspendind" type="xs:string" />
        <xs:element name="autopayenabled" type="xs:string" />
        <xs:element name="billcyclecode" type="xs:double" />
        <xs:element name="creditdetails" type="creditdetailsmodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceinfomodel" >
      <xs:sequence>
        <xs:element name="equipmentmfgname" type="xs:string" />
        <xs:element name="modelname" type="xs:string" />
        <xs:element name="divcetype" type="xs:string" />
        <xs:element name="deviceid" type="xs:string" />
        <xs:element name="devicetypeid" type="xs:string" />
        <xs:element name="devicecategory" type="xs:string" />
        <xs:element name="deviceactivationdate" type="xs:string" />
        <xs:element name="devicetype4gsim" type="xs:string" />
        <xs:element name="devicecategorycode" type="xs:string" />
        <xs:element name="devicecapabilitycode" type="xs:string" />
        <xs:element name="devicenickname" type="xs:string" />
        <xs:element name="dualsimtrailenddate" type="xs:string" />
        <xs:element name="GeneratedName" type="mobileinfomodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventnotificationmodel" >
      <xs:sequence>
        <xs:element name="eventname" type="xs:string" />
        <xs:element name="eventvalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datausageinfomodel" >
      <xs:sequence>
        <xs:element name="dataallowancebar" type="xs:string" />
        <xs:element name="totaldataallowances" type="xs:string" />
        <xs:element name="carryoverallowances" type="xs:string" />
        <xs:element name="dataproductallowancebar" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecpdprofilemodel" >
      <xs:sequence>
        <xs:element name="customertypecode" type="xs:string" />
        <xs:element name="inwithverizonind" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billcycledatainfomodel" >
      <xs:sequence>
        <xs:element name="billcycleenddate" type="xs:string" />
        <xs:element name="billcycleresetdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentproductlistmodel" >
      <xs:sequence>
        <xs:element name="spoid" type="xs:string" />
        <xs:element name="spobilldesc" type="xs:string" />
        <xs:element name="spouniqueid" type="xs:string" />
        <xs:element name="sporulegroupid" type="xs:string" />
        <xs:element name="spolevelcode" type="xs:string" />
        <xs:element name="spomethodcode" type="xs:string" />
        <xs:element name="effectivedate" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="spodefaultprice" type="xs:double" />
        <xs:element name="frequencycount" type="xs:anyType" />
        <xs:element name="frequencycode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billaccountmodel" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="accountnumber" type="xs:string" />
        <xs:element name="accountestablishdate" type="xs:string" />
        <xs:element name="activemtncount" type="xs:string" />
        <xs:element name="billcyclenumber" type="xs:string" />
        <xs:element name="suspendedmtncount" type="xs:anyType" />
        <xs:element name="singlebillcompanycode" type="xs:string" />
        <xs:element name="onebillstatuscode" type="xs:string" />
        <xs:element name="fraudindicator" type="xs:string" />
        <xs:element name="emailid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mtndetailsmodel" >
      <xs:sequence>
        <xs:element name="mtnstatuscode" type="xs:string" />
        <xs:element name="mtnstatusreasoncode" type="xs:string" />
        <xs:element name="handseteligibilitydate" type="xs:string" />
        <xs:element name="numberofinstallmentstobill" type="xs:double" />
        <xs:element name="sharecardinfo" type="xs:string" />
        <xs:element name="mmgresults" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountdomainservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="billaccountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="currentproductlistservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventnotificationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pricingdomainservice" nillable="true" minOccurs="0" />
        <xs:element name="mtndetailsservice" type="mtndomainservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mtndomainservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mtndetailsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="deviceinfoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="billcycledataservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mobileinfoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="datausageinfoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pricingdomainservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mbillcompareservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dataallowancebarservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="creditdetailsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paymentinfoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerdomainservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountdomainservice" nillable="true" minOccurs="0" />
        <xs:element name="customerattributesmodel" type="customerattributesservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ecpdprofileservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pricingmodel" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paymentinfomodel" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mbillcomparemodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mtnmodel" >
      <xs:sequence>
        <xs:element name="mtndetails" type="mtndetailsmodel" nillable="true" minOccurs="0" />
        <xs:element name="deviceinfo" type="deviceinfomodel" nillable="true" minOccurs="0" />
        <xs:element name="billcycledatainfo" type="billcycledatainfomodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountmodel" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="billaccountmodel" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="currentproductlistmodel" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventnotificationmodel" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pricingmodel" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mtnmodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customermodel" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:string" />
        <xs:element name="GeneratedName" type="customerattributesmodel" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ecpdprofilemodel" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountmodel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobileinforepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mobileinfoentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="creditdetailsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<creditdetailsentity,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="currentproductlistrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<currentproductlistentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deviceinforepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<deviceinfoentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="billcycledatainforepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<billcycledatainfoentity,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventnotificationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<eventnotificationentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datausageinforepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<datausageinfoentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecpdprofilerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ecpdprofileentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mtndetailsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mtndetailsentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentinforepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<paymentinfoentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataallowancebarrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<dataallowancebarentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerattributesrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<customerattributesentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mbillcomparerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mbillcompareentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="billaccountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<billaccountentity,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="initializerdata" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="billaccountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="billcycledatainforepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="creditdetailsrepository" nillable="true" minOccurs="0" />
        <xs:element name="currentproductrepository" type="currentproductlistrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customerattributesrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dataallowancebarrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="datausageinforepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="deviceinforepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ecpdprofilerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventnotificationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mbillcomparerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mobileinforepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mtndetailsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paymentinforepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billcycledatainfoentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="billcycleenddate" type="xs:string" />
        <xs:element name="billcycleresetdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentproductlistentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="spoid" type="xs:string" />
        <xs:element name="spobilldesc" type="xs:string" />
        <xs:element name="spouniqueid" type="xs:string" />
        <xs:element name="sporulegroupid" type="xs:string" />
        <xs:element name="spolevelcode" type="xs:string" />
        <xs:element name="spomethodcode" type="xs:string" />
        <xs:element name="effectivedate" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="spodefaultprice" type="xs:double" />
        <xs:element name="frequencycount" type="xs:anyType" />
        <xs:element name="frequencycode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobileinfoentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="mtn" type="xs:string" />
        <xs:element name="vzupenrolleddate" type="xs:string" />
        <xs:element name="familybaseenrolleddate" type="xs:string" />
        <xs:element name="globalorderinfo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceinfoentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="equipmentmfgname" type="xs:string" />
        <xs:element name="modelname" type="xs:string" />
        <xs:element name="divcetype" type="xs:string" />
        <xs:element name="deviceid" type="xs:string" />
        <xs:element name="devicetypeid" type="xs:string" />
        <xs:element name="devicecategory" type="xs:string" />
        <xs:element name="deviceactivationdate" type="xs:string" />
        <xs:element name="devicetype4gsim" type="xs:string" />
        <xs:element name="devicecategorycode" type="xs:string" />
        <xs:element name="devicecapabilitycode" type="xs:string" />
        <xs:element name="devicenickname" type="xs:string" />
        <xs:element name="dualsimtrailenddate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataallowancebarentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="overageqty" type="xs:double" />
        <xs:element name="overageunit" type="xs:string" />
        <xs:element name="overagesize" type="xs:double" />
        <xs:element name="overagecost" type="xs:string" />
        <xs:element name="barcolor" type="xs:string" />
        <xs:element name="barpercent" type="xs:double" />
        <xs:element name="totalused" type="xs:double" />
        <xs:element name="totalallowed" type="xs:double" />
        <xs:element name="totalremaining" type="xs:double" />
        <xs:element name="totalunitofmeasure" type="xs:string" />
        <xs:element name="allowancetype" type="xs:string" />
        <xs:element name="allowancesource" type="xs:string" />
        <xs:element name="warningcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecpdprofileentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="customertypecode" type="xs:string" />
        <xs:element name="inwithverizonind" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mbillcompareentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="totalcharges" type="xs:double" />
        <xs:element name="invoiceperiod" type="xs:string" />
        <xs:element name="currbalancefwd" type="xs:double" />
        <xs:element name="totalcurronetimechg" type="xs:double" />
        <xs:element name="totalcurrmonchg" type="xs:double" />
        <xs:element name="totoalcurrtaxchg" type="xs:double" />
        <xs:element name="currentmonthdesc" type="xs:string" />
        <xs:element name="prevmonthdesc" type="xs:string" />
        <xs:element name="totatalcurrentcharges" type="xs:double" />
        <xs:element name="prevtotalcharges" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datausageinfoentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="dataallowancebar" type="xs:string" />
        <xs:element name="totaldataallowances" type="xs:string" />
        <xs:element name="carryoverallowances" type="xs:string" />
        <xs:element name="dataproductallowancebar" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creditdetailsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="creditcardnumber" type="xs:string" />
        <xs:element name="expirymonth" type="xs:string" />
        <xs:element name="expiryyear" type="xs:string" />
        <xs:element name="creditcardtype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mtndetailsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="mtnstatuscode" type="xs:string" />
        <xs:element name="mtnstatusreasoncode" type="xs:string" />
        <xs:element name="handseteligibilitydate" type="xs:string" />
        <xs:element name="numberofinstallmentstobill" type="xs:double" />
        <xs:element name="sharecardinfo" type="xs:string" />
        <xs:element name="mmgresults" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billaccountentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="accountnumber" type="xs:string" />
        <xs:element name="accountestablishdate" type="xs:string" />
        <xs:element name="activemtncount" type="xs:string" />
        <xs:element name="billcyclenumber" type="xs:string" />
        <xs:element name="suspendedmtncount" type="xs:anyType" />
        <xs:element name="singlebillcompanycode" type="xs:string" />
        <xs:element name="onebillstatuscode" type="xs:string" />
        <xs:element name="fraudindicator" type="xs:string" />
        <xs:element name="emailid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventnotificationentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="eventname" type="xs:string" />
        <xs:element name="eventvalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentinfoentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="lastpaymentdate" type="xs:string" />
        <xs:element name="pastduebalance" type="xs:string" />
        <xs:element name="ecustomerdate" type="xs:string" />
        <xs:element name="invoicedate" type="xs:string" />
        <xs:element name="outstandingbalance" type="xs:double" />
        <xs:element name="billtotalremitamount" type="xs:double" />
        <xs:element name="lastpaymentamount" type="xs:double" />
        <xs:element name="latefee" type="xs:double" />
        <xs:element name="cashonlyindicator" type="xs:string" />
        <xs:element name="suspendind" type="xs:string" />
        <xs:element name="autopayenabled" type="xs:string" />
        <xs:element name="billcyclecode" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerattributesentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="customertypecode" type="xs:string" />
        <xs:element name="inwithverizonind" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springreactiveexampleapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 