Pavan-Java-/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="billcycledatainfoentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="billcycleenddate" type="xs:string" />
        <xs:element name="billcycleresetdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentproductlistentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="spoid" type="xs:string" />
        <xs:element name="spobilldesc" type="xs:string" />
        <xs:element name="spouniqueid" type="xs:string" />
        <xs:element name="sporulegroupid" type="xs:string" />
        <xs:element name="spolevelcode" type="xs:string" />
        <xs:element name="spomethodcode" type="xs:string" />
        <xs:element name="effectivedate" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="spodefaultprice" type="xs:double" />
        <xs:element name="frequencycount" type="xs:anyType" />
        <xs:element name="frequencycode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobileinfoentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="mtn" type="xs:string" />
        <xs:element name="vzupenrolleddate" type="xs:string" />
        <xs:element name="familybaseenrolleddate" type="xs:string" />
        <xs:element name="globalorderinfo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceinfoentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="equipmentmfgname" type="xs:string" />
        <xs:element name="modelname" type="xs:string" />
        <xs:element name="divcetype" type="xs:string" />
        <xs:element name="deviceid" type="xs:string" />
        <xs:element name="devicetypeid" type="xs:string" />
        <xs:element name="devicecategory" type="xs:string" />
        <xs:element name="deviceactivationdate" type="xs:string" />
        <xs:element name="devicetype4gsim" type="xs:string" />
        <xs:element name="devicecategorycode" type="xs:string" />
        <xs:element name="devicecapabilitycode" type="xs:string" />
        <xs:element name="devicenickname" type="xs:string" />
        <xs:element name="dualsimtrailenddate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataallowancebarentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="overageqty" type="xs:double" />
        <xs:element name="overageunit" type="xs:string" />
        <xs:element name="overagesize" type="xs:double" />
        <xs:element name="overagecost" type="xs:string" />
        <xs:element name="barcolor" type="xs:string" />
        <xs:element name="barpercent" type="xs:double" />
        <xs:element name="totalused" type="xs:double" />
        <xs:element name="totalallowed" type="xs:double" />
        <xs:element name="totalremaining" type="xs:double" />
        <xs:element name="totalunitofmeasure" type="xs:string" />
        <xs:element name="allowancetype" type="xs:string" />
        <xs:element name="allowancesource" type="xs:string" />
        <xs:element name="warningcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecpdprofileentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="customertypecode" type="xs:string" />
        <xs:element name="inwithverizonind" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mbillcompareentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="totalcharges" type="xs:double" />
        <xs:element name="invoiceperiod" type="xs:string" />
        <xs:element name="currbalancefwd" type="xs:double" />
        <xs:element name="totalcurronetimechg" type="xs:double" />
        <xs:element name="totalcurrmonchg" type="xs:double" />
        <xs:element name="totoalcurrtaxchg" type="xs:double" />
        <xs:element name="currentmonthdesc" type="xs:string" />
        <xs:element name="prevmonthdesc" type="xs:string" />
        <xs:element name="totatalcurrentcharges" type="xs:double" />
        <xs:element name="prevtotalcharges" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datausageinfoentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="dataallowancebar" type="xs:string" />
        <xs:element name="totaldataallowances" type="xs:string" />
        <xs:element name="carryoverallowances" type="xs:string" />
        <xs:element name="dataproductallowancebar" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creditdetailsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="creditcardnumber" type="xs:string" />
        <xs:element name="expirymonth" type="xs:string" />
        <xs:element name="expiryyear" type="xs:string" />
        <xs:element name="creditcardtype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mtndetailsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="mtnstatuscode" type="xs:string" />
        <xs:element name="mtnstatusreasoncode" type="xs:string" />
        <xs:element name="handseteligibilitydate" type="xs:string" />
        <xs:element name="numberofinstallmentstobill" type="xs:double" />
        <xs:element name="sharecardinfo" type="xs:string" />
        <xs:element name="mmgresults" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billaccountentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="accountnumber" type="xs:string" />
        <xs:element name="accountestablishdate" type="xs:string" />
        <xs:element name="activemtncount" type="xs:string" />
        <xs:element name="billcyclenumber" type="xs:string" />
        <xs:element name="suspendedmtncount" type="xs:anyType" />
        <xs:element name="singlebillcompanycode" type="xs:string" />
        <xs:element name="onebillstatuscode" type="xs:string" />
        <xs:element name="fraudindicator" type="xs:string" />
        <xs:element name="emailid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventnotificationentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="eventname" type="xs:string" />
        <xs:element name="eventvalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentinfoentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="lastpaymentdate" type="xs:string" />
        <xs:element name="pastduebalance" type="xs:string" />
        <xs:element name="ecustomerdate" type="xs:string" />
        <xs:element name="invoicedate" type="xs:string" />
        <xs:element name="outstandingbalance" type="xs:double" />
        <xs:element name="billtotalremitamount" type="xs:double" />
        <xs:element name="lastpaymentamount" type="xs:double" />
        <xs:element name="latefee" type="xs:double" />
        <xs:element name="cashonlyindicator" type="xs:string" />
        <xs:element name="suspendind" type="xs:string" />
        <xs:element name="autopayenabled" type="xs:string" />
        <xs:element name="billcyclecode" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerattributesentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="customertypecode" type="xs:string" />
        <xs:element name="inwithverizonind" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 