pg2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="keybasedreaderentity" >
      <xs:sequence>
        <xs:element name="data1" type="xs:string" />
        <xs:element name="data2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filereaderentity" >
      <xs:sequence>
        <xs:element name="data1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 