mpaas9/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="http" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="unit" type="xs:string" />
          <xs:element name="seq" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cert" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//域名domain" type="xs:string" />
          <xs:element name="pem" type="xs:string" />
          <xs:element name="key" type="xs:string" />
          <xs:element name="//@initvalue("0")//获取方式0申请证书1手动上传type" type="xs:anyType" />
          <xs:element name="//生成时间maketime" type="xs:long" />
          <xs:element name="//@initvalue("0")//自动续签autorenew" type="xs:anyType" />
          <xs:element name="pemstr" type="xs:string" />
          <xs:element name="keystr" type="xs:string" />
          <xs:element name="dnstype" type="xs:string" />
          <xs:element name="dpid" type="xs:string" />
          <xs:element name="dpkey" type="xs:string" />
          <xs:element name="alikey" type="xs:string" />
          <xs:element name="alisecret" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basic" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="seq" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="upstream" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="//负载策略tactics" type="xs:string" />
          <xs:element name="//代理类型//@initvalue("0")//0http1tcpproxytype" type="xs:anyType" />
          <xs:element name="//@initvalue("0")monitor" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="serverid" type="xs:string" />
          <xs:element name="//监控路径path" type="xs:string" />
          <xs:element name="//0http1root2负载均衡3空白type" type="xs:anyType" />
          <xs:element name="//额外参数locationparamjson" type="xs:string" />
          <xs:element name="//http代理value" type="xs:string" />
          <xs:element name="//负载均衡代理upstreamid" type="xs:string" />
          <xs:element name="upstreampath" type="xs:string" />
          <xs:element name="//静态页面代理rootpath" type="xs:string" />
          <xs:element name="rootpage" type="xs:string" />
          <xs:element name="roottype" type="xs:string" />
          <xs:element name="//是否设置header参数header" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="upstreamserver" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="upstreamid" type="xs:string" />
          <xs:element name="server" type="xs:string" />
          <xs:element name="port" type="xs:anyType" />
          <xs:element name="weight" type="xs:anyType" />
          <xs:element name="//失败超时failtimeout" type="xs:anyType" />
          <xs:element name="//失败次数maxfails" type="xs:anyType" />
          <xs:element name="//状态策略status" type="xs:string" />
          <xs:element name="//监控状态0不通1monitorstatus" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="setting" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="key" type="xs:string" />
          <xs:element name="value" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="www" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="dir" type="xs:string" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="templateparam" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="templateid" type="xs:string" />
          <xs:element name="paramid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="param" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="serverid" type="xs:string" />
          <xs:element name="locationid" type="xs:string" />
          <xs:element name="upstreamid" type="xs:string" />
          <xs:element name="templateid" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="templatevalue" type="xs:string" />
          <xs:element name="templatename" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginfo" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="remoteaddr" type="xs:string" />
          <xs:element name="remoteuser" type="xs:string" />
          <xs:element name="timelocal" type="xs:string" />
          <xs:element name="request" type="xs:string" />
          <xs:element name="httphost" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="requestlength" type="xs:string" />
          <xs:element name="bodybytesdent" type="xs:string" />
          <xs:element name="httpreferer" type="xs:string" />
          <xs:element name="httpuseragent" type="xs:string" />
          <xs:element name="requesttime" type="xs:string" />
          <xs:element name="upstreamresponsetime" type="xs:string" />
          <xs:element name="hour" type="xs:string" />
          <xs:element name="minute" type="xs:string" />
          <xs:element name="second" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="credit" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="key" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stream" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="seq" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="remote" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="protocol" type="xs:string" />
          <xs:element name="ip" type="xs:string" />
          <xs:element name="port" type="xs:anyType" />
          <xs:element name="//0掉线1在线status" type="xs:anyType" />
          <xs:element name="creditkey" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="pass" type="xs:string" />
          <xs:element name="version" type="xs:string" />
          <xs:element name="system" type="xs:string" />
          <xs:element name="descr" type="xs:string" />
          <xs:element name="monitor" type="xs:anyType" />
          <xs:element name="parentid" type="xs:string" />
          <xs:element name="//0服务器1分组type" type="xs:anyType" />
          <xs:element name="//0未运行1在运行2未知nginx" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="server" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="servername" type="xs:string" />
          <xs:element name="listen" type="xs:string" />
          <xs:element name="def" type="xs:anyType" />
          <xs:element name="//@initvalue("0")//0否1是rewrite" type="xs:anyType" />
          <xs:element name="//@initvalue("0")//0否1是ssl" type="xs:anyType" />
          <xs:element name="//@initvalue("0")//0否1是http2" type="xs:anyType" />
          <xs:element name="pem" type="xs:string" />
          <xs:element name="key" type="xs:string" />
          <xs:element name="//代理类型//@initvalue("0")//0http1tcpproxytype" type="xs:anyType" />
          <xs:element name="proxyupstreamid" type="xs:string" />
          <xs:element name="pemstr" type="xs:string" />
          <xs:element name="keystr" type="xs:string" />
          <xs:element name="//@initvalue("true")//是否启用enable" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="template" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="log" >
      <xs:complexContent>
       <xs:extension base="tablebase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//@singleindexdate" type="xs:string" />
          <xs:element name="json" type="xs:string" />
          <xs:element name="path" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tablebase" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="createtime" type="xs:long" />
        <xs:element name="updatetime" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationext" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="location" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="upstream" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upstreamext" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="upstream" nillable="true" minOccurs="0" />
        <xs:element name="upstreamserverlist" type="upstreamserver" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="serverstr" type="xs:string" />
        <xs:element name="paramjson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serverext" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="server" nillable="true" minOccurs="0" />
        <xs:element name="locationlist" type="location" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="locationstr" type="xs:string" />
        <xs:element name="paramjson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conffile" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="conf" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asycpack" >
      <xs:sequence>
        <xs:element name="certlisthttplist" type="http" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="serverlist" type="server" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="locationlist" type="location" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="upstreamlist" type="upstream" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="upstreamserverlist" type="upstreamserver" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="streamlist" type="stream" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="paramlist" type="param" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="confext" nillable="true" minOccurs="0" />
        <xs:element name="decompose" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyvalue" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treenode" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="pid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="isparent" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateext" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="template" nillable="true" minOccurs="0" />
        <xs:element name="count" type="xs:anyType" />
        <xs:element name="paramlist" type="param" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datagroup" >
      <xs:sequence>
        <xs:element name="//integerpv//integeruvpv" type="keyvalue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="uv" type="keyvalue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="status" type="keyvalue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="browser" type="keyvalue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="httpreferer" type="keyvalue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tree" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="children" type="tree" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="confext" >
      <xs:sequence>
        <xs:element name="conf" type="xs:string" />
        <xs:element name="filelist" type="conffile" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="version" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="freemarkerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="frontinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="admininterceptor" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="frontinterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduletask" >
      <xs:sequence>
        <xs:element name="port" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="certcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="settingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="confcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="remotecontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="remoteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="upstreamservice" nillable="true" minOccurs="0" />
        <xs:element name="loginfoservice" type="logservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sendmailutils" nillable="true" minOccurs="0" />
        <xs:element name="m" type="messageutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admininterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mylocaleresolver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multipartconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="acmesh" type="xs:string" />
        <xs:element name="home" type="xs:string" />
        <xs:element name="GeneratedName" type="settingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="basicservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wwwcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="wwwservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="templatecontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="templateservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="certcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="settingservice" nillable="true" minOccurs="0" />
          <xs:element name="isinapply" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bakcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="settingservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servercontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="serverservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="upstreamservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="paramservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="settingservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="upstreamcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="upstreamservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="paramservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="settingservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="monitorcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="monitorservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="settingservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remotecontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="remoteservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="settingservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="confservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="groupservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="confcontroller" nillable="true" minOccurs="0" />
          <xs:element name="" type="maincontroller" nillable="true" minOccurs="0" />
          <xs:element name="projectversion" type="xs:string" />
          <xs:element name="port" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basiccontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="basicservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="streamcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="streamservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="httpcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="httpservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="settingservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rootcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exportcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="confservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="asyncutils" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="settingservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="logservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="scheduletask" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="confcontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
          <xs:element name="" type="upstreamservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="settingservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="serverservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="confservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="maincontroller" nillable="true" minOccurs="0" />
          <xs:element name="" type="versionconfig" nillable="true" minOccurs="0" />
          <xs:element name="currentversion" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="settingservice" >
      <xs:sequence>
        <xs:element name="sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateservice" >
      <xs:sequence>
        <xs:element name="sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upstreamservice" >
      <xs:sequence>
        <xs:element name="sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="streamservice" >
      <xs:sequence>
        <xs:element name="sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupservice" >
      <xs:sequence>
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creditservice" >
      <xs:sequence>
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paramservice" >
      <xs:sequence>
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservice" >
      <xs:sequence>
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monitorservice" >
      <xs:sequence>
        <xs:element name="osmxb" type="xs:anyType" />
        <xs:element name="gb" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationservice" >
      <xs:sequence>
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serverservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="confservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="upstreamservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="settingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="serverservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="locationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paramservice" nillable="true" minOccurs="0" />
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="templateservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logservice" >
      <xs:sequence>
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wwwservice" >
      <xs:sequence>
        <xs:element name="sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httpservice" >
      <xs:sequence>
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicservice" >
      <xs:sequence>
        <xs:element name="/***注入会话工厂*/sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bak" >
      <xs:sequence>
        <xs:element name="path" type="xs:string" />
        <xs:element name="time" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="version" >
      <xs:sequence>
        <xs:element name="version" type="xs:string" />
        <xs:element name="docker" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="update" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monitorinfo" >
      <xs:sequence>
        <xs:element name="/***总的物理内存.*/totalmemorysize" type="xs:string" />
        <xs:element name="/***剩余的物理内存.*/freephysicalmemorysize" type="xs:string" />
        <xs:element name="/***已使用的物理内存.*/usedmemory" type="xs:string" />
        <xs:element name="/***cpu使用率.*/cpuratio" type="xs:string" />
        <xs:element name="/***内存使用率.*/memratio" type="xs:string" />
        <xs:element name="cpucount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxwebuiconfig" >
      <xs:sequence>
        <xs:element name="///**//*注入模块接口//*///@module////imodulemodule/***注入hibernate处理接口*///@applicationhibernatebuilder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemtool" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asyncutils" >
      <xs:sequence>
        <xs:element name="port" type="xs:string" />
        <xs:element name="home" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendmailutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="settingservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="telnetutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertiesutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basecontroller" >
      <xs:complexContent>
       <xs:extension base="controllerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nginxutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="propertiesutils" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="en" type="xs:anyType" />
        <xs:element name="GeneratedName" type="settingservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pwdcheckutil" >
      <xs:sequence>
        <xs:element name="keyboard_slope_arr" type="xs:string" />
        <xs:element name="keyboard_horizontal_arr" type="xs:string" />
        <xs:element name="default_special_char" type="xs:string" />
        <xs:element name="special_char" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nginxwebui" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_root" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="api" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.check.enable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ztreeobj.refresh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ztreeobj.setting" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.view.adddiydom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.treeid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.callback.beforedragopen" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.view.addhoverdom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.view.removehoverdom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ztreeobj.canceleditname" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ztreeobj.getchangecheckednodes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.edit.drag.minmovesize" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.callback.ondragmove" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.view.showline" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.check.chkboxtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ztreeobj.getselectednodes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.check.radiotype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treenode.editnameflag" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setting.edit.drag.autoopentime" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ztreeobj.transformtoarray" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ztreeobj.cancelselectednode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treenode.check_focus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treenode.isparent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ztree.excheck.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ztree.exhide.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ztree.exedit.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iconfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="background" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_mail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 