Java2-Cursuri24/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backgroundimagedao" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backgroundimage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="image" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backgroundimgserviceimpl" >
      <xs:complexContent>
       <xs:extension base="unicastremoteobject">
         <xs:sequence>
          <xs:element name="path" type="xs:string" />
          <xs:element name="path1" type="xs:string" />
          <xs:element name="" type="backgroundimagedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mainserver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 