Spring-Hibernate-Maven4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="//działawobutabelach-dotegonadpisanyzostałwsecondarytableid" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="salary" type="xs:double" />
        <xs:element name="locality" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="streetnumber" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 