Spring_Pjs11/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oderform" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bodyheader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hello" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateitemform" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createitemform" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.min.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hellocontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookform" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="stockquantity" type="xs:long" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="isbn" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="membercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itemservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberform" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itemservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initdb" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpawebapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notenoughstockexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//xtoone기본fetch" type="item" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="//주문가격orderprice" type="xs:long" />
        <xs:element name="//주문수량count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delivery" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="status" type="deliverystatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="orders" type="order" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:complexContent>
       <xs:extension base="item{">
         <xs:sequence>
          <xs:element name="author" type="xs:string" />
          <xs:element name="isbn" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:complexContent>
       <xs:extension base="item{">
         <xs:sequence>
          <xs:element name="director" type="xs:string" />
          <xs:element name="actor" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="album" >
      <xs:complexContent>
       <xs:extension base="item{">
         <xs:sequence>
          <xs:element name="artist" type="xs:string" />
          <xs:element name="etc" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="stockquantity" type="xs:long" />
        <xs:element name="categorylist" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliverystatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//newbytebuddyinterceptor(proxy)" type="member" nillable="true" minOccurs="0" />
        <xs:element name="//cascadetype.allpersist전파저장,삭제//order를persist하면같이orderitems" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//cascadetype.allorder를persist하면같이" type="delivery" nillable="true" minOccurs="0" />
        <xs:element name="//order_dateorderdate" type="xs:anyType" />
        <xs:element name="//주문상태status" type="orderstatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="city" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="items" type="item" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="parent" type="category" nillable="true" minOccurs="0" />
        <xs:element name="child" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordersimplequerydto" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="orderdate" type="xs:anyType" />
        <xs:element name="GeneratedName" type="orderstatus" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberrepository" >
      <xs:sequence>
        <xs:element name="//@persistencecontext스프링부트(jpa)autowired도자동으로지원해준다em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordersearch" >
      <xs:sequence>
        <xs:element name="//회원이름membername" type="xs:string" />
        <xs:element name="//주문상태" type="orderstatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrepository" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemrepository" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itemrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="itemrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateitemdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="stockquantity" type="xs:long" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="isbn" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberservice" >
      <xs:sequence>
        <xs:element name="repository" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberapicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordersimpleapicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberrepositorytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpawebapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberservicetest" >
      <xs:sequence>
        <xs:element name="service" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="repository" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemupdatetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservicetest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 