passwordreset-demo/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resetpassword" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="audit" >
      <xs:sequence>
        <xs:element name="previous" type="xs:anyType" />
        <xs:element name="recen" type="xs:anyType" />
        <xs:element name="time" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resetpasswordform" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="confirmpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inputdatamatch" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="existinguser" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inputdatamatchvalidator" >
      <xs:sequence>
        <xs:element name="firstfield" type="xs:string" />
        <xs:element name="secondfield" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="existinguservalidator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filetrackerpasswordeventlistener" >
      <xs:sequence>
        <xs:element name="password_event" type="xs:string" />
        <xs:element name="folder" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changepasswordevent" >
      <xs:complexContent>
       <xs:extension base="applicationevent">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userentitylistener" >
      <xs:sequence>
        <xs:element name="audit" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="eventpublisher" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordresetdemoapp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="userrepo" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objecttojsonfilewriterutil" >
      <xs:sequence>
        <xs:element name="folder" type="xs:string" />
        <xs:element name="filename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservicetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itusercontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="existinguservalidatortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="existinguser" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inputdatamatchvalidatortest" >
      <xs:sequence>
        <xs:element name="inputdata" type="inputdatamatch" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="validator" type="inputdatamatchvalidator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 