javax/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="nullableitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notnullitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 