JavaLearningSamples4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="comment" >
      <xs:complexContent>
       <xs:extension base="auditmodel">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="text" type="xs:string" />
          <xs:element name="" type="post" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auditmodel" >
      <xs:sequence>
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post" >
      <xs:complexContent>
       <xs:extension base="auditmodel">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="post2" >
      <xs:complexContent>
       <xs:extension base="auditmodel">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="comments" type="comment2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="comment2" >
      <xs:complexContent>
       <xs:extension base="auditmodel">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="text" type="xs:string" />
          <xs:element name="" type="post2" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 