minesweeper-api/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="gameentity" >
      <xs:sequence>
        <xs:element name="gameid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="rows" type="xs:long" />
        <xs:element name="columns" type="xs:long" />
        <xs:element name="mines" type="xs:long" />
        <xs:element name="ended" type="xs:anyType" />
        <xs:element name="lost" type="xs:anyType" />
        <xs:element name="durationinseconds" type="xs:long" />
        <xs:element name="fullboard" type="xs:string" />
        <xs:element name="playedboard" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergame" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="gameid" type="xs:long" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="game" type="gameentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="displayname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="authorities" type="authorities" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorities" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="authority" type="role" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 