ICONTACT/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mybatis-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dosagedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menudao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="returnhomedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notebookdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocketgpshandler" >
      <xs:complexContent>
       <xs:extension base="textwebsockethandler">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="gpsservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="noticerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<notice,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dosagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<dosage,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attendrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<attend,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notebookrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<notebook,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="returnhomerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<returnhome,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kinderclassrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<kinderclass,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="albumimgrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<albumimg,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kinderrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<kinderclass,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="schedulerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<schedule,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menurepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<menu,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="albumrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<album,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="requestserviceimpl" >
      <xs:sequence>
        <xs:element name="success" type="xs:long" />
        <xs:element name="fail" type="xs:long" />
        <xs:element name="GeneratedName" type="dosagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="returnhomerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dosagedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="returnhomedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="attendrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtservice" >
      <xs:sequence>
        <xs:element name="secret_key" type="xs:string" />
        <xs:element name="accessexptime" type="xs:long" />
        <xs:element name="refreshexptime" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joinservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joinserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kinderclassrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticeserviceimpl" >
      <xs:sequence>
        <xs:element name="success" type="xs:long" />
        <xs:element name="fail" type="xs:long" />
        <xs:element name="GeneratedName" type="noticerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="schedulerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="menurepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="noticedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scheduledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="menudao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gpsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="gpsrooms" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loginrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kinderrepository" nillable="true" minOccurs="0" />
        <xs:element name="success" type="xs:long" />
        <xs:element name="fail" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kinderrepository" nillable="true" minOccurs="0" />
        <xs:element name="wait" type="xs:long" />
        <xs:element name="approve" type="xs:long" />
        <xs:element name="reject" type="xs:long" />
        <xs:element name="remove" type="xs:long" />
        <xs:element name="success" type="xs:long" />
        <xs:element name="fail" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authserviceimpl" >
      <xs:sequence>
        <xs:element name="//sms전송키account_sid" type="xs:string" />
        <xs:element name="auth_token" type="xs:string" />
        <xs:element name="phone_number" type="xs:string" />
        <xs:element name="authmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumserviceimpl" >
      <xs:sequence>
        <xs:element name="success" type="xs:long" />
        <xs:element name="fail" type="xs:long" />
        <xs:element name="GeneratedName" type="albumrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="albumimgrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notebookservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notebookserviceimpl" >
      <xs:sequence>
        <xs:element name="jpa" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notebookrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notebookdao" nillable="true" minOccurs="0" />
        <xs:element name="pagecnt" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logininterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocketconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logininterceptor" >
      <xs:sequence>
        <xs:element name="access_token_header" type="xs:string" />
        <xs:element name="refresh_token_header" type="xs:string" />
        <xs:element name="accessexptime" type="xs:long" />
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="loginservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backendapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notebookcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notebookservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loginrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kinderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="loginservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="noticeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="requestservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="albumservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="attendservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="authservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="joinservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chatcontroller" >
      <xs:sequence>
        <xs:element name="success" type="xs:long" />
        <xs:element name="fail" type="xs:long" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gpscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="gpsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="success" type="xs:long" />
        <xs:element name="fail" type="xs:long" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="joinservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendkey" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dosage" >
      <xs:sequence>
        <xs:element name="dosageid" type="xs:long" />
        <xs:element name="symptom" type="xs:string" />
        <xs:element name="medicinetype" type="xs:string" />
        <xs:element name="dosagevol" type="xs:long" />
        <xs:element name="dosagecnt" type="xs:long" />
        <xs:element name="dosagetime" type="xs:string" />
        <xs:element name="storage" type="xs:string" />
        <xs:element name="specialnote" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="usertel" type="xs:string" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="refreshtoken" type="xs:string" />
        <xs:element name="accept" type="xs:long" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="profileimg" type="xs:string" />
        <xs:element name="statecode" type="xs:long" />
        <xs:element name="kidname" type="xs:string" />
        <xs:element name="classcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kinder" >
      <xs:sequence>
        <xs:element name="kindercode" type="xs:string" />
        <xs:element name="kindername" type="xs:string" />
        <xs:element name="kinderclasses" type="kinderclass" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kinderclass" >
      <xs:sequence>
        <xs:element name="classcode" type="xs:string" />
        <xs:element name="classname" type="xs:string" />
        <xs:element name="kindercode" type="xs:string" />
        <xs:element name="GeneratedName" type="kinder" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="returnhome" >
      <xs:sequence>
        <xs:element name="rhid" type="xs:long" />
        <xs:element name="rhdate" type="xs:string" />
        <xs:element name="rhtime" type="xs:string" />
        <xs:element name="guardian" type="xs:string" />
        <xs:element name="guardiantel" type="xs:string" />
        <xs:element name="emergency" type="xs:string" />
        <xs:element name="emergencytel" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attend" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="attend" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="album" >
      <xs:sequence>
        <xs:element name="albumid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="thumbnailurl" type="xs:string" />
        <xs:element name="downloadurl" type="xs:string" />
        <xs:element name="classcode" type="xs:string" />
        <xs:element name="writerid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schedule" >
      <xs:sequence>
        <xs:element name="scheduleid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="scheduleimgurl" type="xs:string" />
        <xs:element name="classcode" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notice" >
      <xs:sequence>
        <xs:element name="noticeid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="noticeimgurl" type="xs:string" />
        <xs:element name="classcode" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notebook" >
      <xs:sequence>
        <xs:element name="noteid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="noteimgurl" type="xs:string" />
        <xs:element name="writerid" type="xs:string" />
        <xs:element name="targetid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumimg" >
      <xs:sequence>
        <xs:element name="photoid" type="xs:string" />
        <xs:element name="albumid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
        <xs:element name="menuid" type="xs:long" />
        <xs:element name="amsnack" type="xs:string" />
        <xs:element name="amsnackimgurl" type="xs:string" />
        <xs:element name="lunch" type="xs:string" />
        <xs:element name="lunchimgurl" type="xs:string" />
        <xs:element name="pmsnack" type="xs:string" />
        <xs:element name="pmsnackimgurl" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="classcode" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumdto" >
      <xs:sequence>
        <xs:element name="albumid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="createdate" type="xs:string" />
        <xs:element name="thumbnailurl" type="xs:string" />
        <xs:element name="classcode" type="xs:string" />
        <xs:element name="writerid" type="xs:string" />
        <xs:element name="downloadurl" type="xs:string" />
        <xs:element name="photolist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumthumbnaildto" >
      <xs:sequence>
        <xs:element name="albumid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="thumbnailurl" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="createdate2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumresultdto" >
      <xs:sequence>
        <xs:element name="pagecnt" type="xs:long" />
        <xs:element name="thumbnaillist" type="albumthumbnaildto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumdetaildto" >
      <xs:sequence>
        <xs:element name="downloadurl" type="xs:string" />
        <xs:element name="albumimgs" type="albumimg" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changeprofileimgdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="profileimg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypageresultdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="kidid" type="xs:long" />
        <xs:element name="kidname" type="xs:string" />
        <xs:element name="accept" type="xs:long" />
        <xs:element name="statecode" type="xs:long" />
        <xs:element name="profileimg" type="xs:string" />
        <xs:element name="kindercode" type="xs:string" />
        <xs:element name="kindername" type="xs:string" />
        <xs:element name="classcode" type="xs:string" />
        <xs:element name="classname" type="xs:string" />
        <xs:element name="usertel" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changepassworddto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="result" >
      <xs:sequence>
        <xs:element name="issuccess" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notebookparamdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="searchparam" type="xs:string" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="limit" type="xs:long" />
        <xs:element name="offset" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notebookdetaildto" >
      <xs:sequence>
        <xs:element name="noteid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createdate" type="xs:string" />
        <xs:element name="writerid" type="xs:string" />
        <xs:element name="writername" type="xs:string" />
        <xs:element name="targetid" type="xs:string" />
        <xs:element name="targetname" type="xs:string" />
        <xs:element name="kidname" type="xs:string" />
        <xs:element name="noteimgurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notebooklistresultdto" >
      <xs:sequence>
        <xs:element name="pagecnt" type="xs:long" />
        <xs:element name="result" type="notebooklistdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notebooklistdto" >
      <xs:sequence>
        <xs:element name="noteid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="writerid" type="xs:string" />
        <xs:element name="writername" type="xs:string" />
        <xs:element name="targetid" type="xs:string" />
        <xs:element name="targetname" type="xs:string" />
        <xs:element name="createdate" type="xs:string" />
        <xs:element name="totalnum" type="xs:long" />
        <xs:element name="profileimg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notebookcreatedto" >
      <xs:sequence>
        <xs:element name="noteid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="writerid" type="xs:string" />
        <xs:element name="targetid" type="xs:string" />
        <xs:element name="img" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestdto" >
      <xs:sequence>
        <xs:element name="requesttype" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="//dosage(투약)symptom" type="xs:string" />
        <xs:element name="medicinetype" type="xs:string" />
        <xs:element name="dosagevol" type="xs:long" />
        <xs:element name="dosagecnt" type="xs:long" />
        <xs:element name="dosagetime" type="xs:string" />
        <xs:element name="storage" type="xs:string" />
        <xs:element name="specialnote" type="xs:string" />
        <xs:element name="//returnhome(귀가)rhdate" type="xs:string" />
        <xs:element name="rhtime" type="xs:string" />
        <xs:element name="guardian" type="xs:string" />
        <xs:element name="guardiantel" type="xs:string" />
        <xs:element name="emergency" type="xs:string" />
        <xs:element name="emergencytel" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="returnhomeresultdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="kidname" type="xs:string" />
        <xs:element name="profileimg" type="xs:string" />
        <xs:element name="rhid" type="xs:long" />
        <xs:element name="rhdate" type="xs:string" />
        <xs:element name="rhtime" type="xs:string" />
        <xs:element name="guardian" type="xs:string" />
        <xs:element name="guardiantel" type="xs:string" />
        <xs:element name="emergency" type="xs:string" />
        <xs:element name="emergencytel" type="xs:string" />
        <xs:element name="createdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestparamdto" >
      <xs:sequence>
        <xs:element name="requesttype" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="pagenum" type="xs:long" />
        <xs:element name="limit" type="xs:long" />
        <xs:element name="offset" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestresultdto" >
      <xs:sequence>
        <xs:element name="//list반환시총페이지수함께반환pagecnt" type="xs:long" />
        <xs:element name="dosage" type="dosageresultdto" nillable="true" minOccurs="0" />
        <xs:element name="dosagelist" type="dosageresultdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="returnhome" type="returnhomeresultdto" nillable="true" minOccurs="0" />
        <xs:element name="returnhomelist" type="returnhomeresultdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dosageresultdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="kidname" type="xs:string" />
        <xs:element name="profileimg" type="xs:string" />
        <xs:element name="dosageid" type="xs:long" />
        <xs:element name="symptom" type="xs:string" />
        <xs:element name="medicinetype" type="xs:string" />
        <xs:element name="dosagevol" type="xs:long" />
        <xs:element name="dosagecnt" type="xs:long" />
        <xs:element name="dosagetime" type="xs:string" />
        <xs:element name="storage" type="xs:string" />
        <xs:element name="specialnote" type="xs:string" />
        <xs:element name="createdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gpsroom" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="sessions" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gpsmessage" >
      <xs:sequence>
        <xs:element name="//update,entertype" type="xs:string" />
        <xs:element name="//유치원/반코드code" type="xs:string" />
        <xs:element name="//위도lat" type="xs:string" />
        <xs:element name="//경도lon" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gpsdto" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authdto" >
      <xs:sequence>
        <xs:element name="phonenum" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joindto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="usertel" type="xs:string" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="classcode" type="xs:string" />
        <xs:element name="//parentskidname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminuserdto" >
      <xs:sequence>
        <xs:element name="//유저부분userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="usertel" type="xs:string" />
        <xs:element name="type" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attenddto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="kidname" type="xs:string" />
        <xs:element name="profileimg" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="attend" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticeresultdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="noticeid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="noticeimgurl" type="xs:string" />
        <xs:element name="createdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticeparamdto" >
      <xs:sequence>
        <xs:element name="noticetype" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="pagenum" type="xs:long" />
        <xs:element name="limit" type="xs:long" />
        <xs:element name="offset" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduleresultdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="scheduleid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="scheduleimgurl" type="xs:string" />
        <xs:element name="createdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuresultdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="menuid" type="xs:long" />
        <xs:element name="amsnack" type="xs:string" />
        <xs:element name="amsnackimgurl" type="xs:string" />
        <xs:element name="lunch" type="xs:string" />
        <xs:element name="lunchimgurl" type="xs:string" />
        <xs:element name="pmsnack" type="xs:string" />
        <xs:element name="pmsnackimgurl" type="xs:string" />
        <xs:element name="createdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonnoticeresultdto" >
      <xs:sequence>
        <xs:element name="pagecnt" type="xs:long" />
        <xs:element name="notice" type="noticeresultdto" nillable="true" minOccurs="0" />
        <xs:element name="noticelist" type="noticeresultdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="schedule" type="scheduleresultdto" nillable="true" minOccurs="0" />
        <xs:element name="schedulelist" type="scheduleresultdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="menu" type="menuresultdto" nillable="true" minOccurs="0" />
        <xs:element name="menulist" type="menuresultdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticedto" >
      <xs:sequence>
        <xs:element name="noticetype" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="classcode" type="xs:string" />
        <xs:element name="//공지,일정공통title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="//공지noticeimgurl" type="xs:string" />
        <xs:element name="//일정scheduleimgurl" type="xs:string" />
        <xs:element name="//식단amsnack" type="xs:string" />
        <xs:element name="amsnackimgurl" type="xs:string" />
        <xs:element name="lunch" type="xs:string" />
        <xs:element name="lunchimgurl" type="xs:string" />
        <xs:element name="pmsnack" type="xs:string" />
        <xs:element name="pmsnackimgurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtpayloaddto" >
      <xs:sequence>
        <xs:element name="sub" type="xs:string" />
        <xs:element name="exp" type="xs:long" />
        <xs:element name="iat" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenupdatedto" >
      <xs:sequence>
        <xs:element name="refreshtoken" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logindto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginresultdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="kidid" type="xs:long" />
        <xs:element name="kidname" type="xs:string" />
        <xs:element name="accept" type="xs:long" />
        <xs:element name="statecode" type="xs:long" />
        <xs:element name="profileimg" type="xs:string" />
        <xs:element name="kindercode" type="xs:string" />
        <xs:element name="kindername" type="xs:string" />
        <xs:element name="classcode" type="xs:string" />
        <xs:element name="classname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokendto" >
      <xs:sequence>
        <xs:element name="accesstoken" type="xs:string" />
        <xs:element name="refreshtoken" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 