pg1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="qpgidtestent" >
      <xs:complexContent>
       <xs:extension base="entitypathbase<pgidtestent>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="pgidtest" type="qpgidtestent" nillable="true" minOccurs="0" />
          <xs:element name="batchnumber" type="xs:anyType" />
          <xs:element name="snowflakeid" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="snowflakeidgeneratortest" >
      <xs:complexContent>
       <xs:extension base="abstracttestcasetemplate{">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pgidtestent" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="snowflakeid" type="xs:string" />
        <xs:element name="batchnumber" type="xs:string" />
        <xs:element name="_snowflakeid" type="xs:string" />
        <xs:element name="_batchnumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstracttestcasetemplate" >
      <xs:complexContent>
       <xs:extension base="abstractjunit4springcontexttestswithoutservlet">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cstructtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="combinetestconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpa4h2contextconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="luhnmod10" >
      <xs:sequence>
        <xs:element name="tableluhnmod10" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractjunit4springcontexttestswithservlet" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="testincomedatacontext" type="xs:anyType" />
        <xs:element name="testassertdatacontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractjunit4springcontexttestswithoutservlet" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="testincomedatacontext" type="xs:anyType" />
        <xs:element name="testassertdatacontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cstruct" >
      <xs:complexContent>
       <xs:extension base="enum>)type,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="fields" type="xs:anyType" />
          <xs:element name="charset" type="xs:string" />
          <xs:element name="clazz" type="xs:anyType" />
          <xs:element name="bytelength" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cbinaryint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cchar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorcode" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errormessageexception" >
      <xs:complexContent>
       <xs:extension base="nestedruntimeexception{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="errorcode" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationcontextholder" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="applicationcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabledatainitializer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parameterinitializer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autotrimstringtypedescriptor" >
      <xs:complexContent>
       <xs:extension base="stringtypedescriptor">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="instance" type="autotrimstringtypedescriptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fetchresponse" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="rowcount" type="xs:long" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="start" type="xs:long" />
        <xs:element name="exact" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="range" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="length" type="xs:long" />
        <xs:element name="start" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpafetchresponsebuilder" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="range" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourcebean" >
      <xs:sequence>
        <xs:element name="beanname" type="xs:string" />
        <xs:element name="driverclassname" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="validationquery" type="xs:string" />
        <xs:element name="testonborrow" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceholder" >
      <xs:sequence>
        <xs:element name="threadlocal" type="datasourcebeanbuilder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dynamicdatasource" >
      <xs:complexContent>
       <xs:extension base="abstractroutingdatasource">
         <xs:sequence>
          <xs:element name="data_sources_name" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datasourcebeanbuilder" >
      <xs:sequence>
        <xs:element name="url_formatter" type="xs:string" />
        <xs:element name="driverclassname" type="xs:string" />
        <xs:element name="beanname" type="xs:string" />
        <xs:element name="databaseip" type="xs:string" />
        <xs:element name="databaseport" type="xs:string" />
        <xs:element name="databasename" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="validationquery" type="xs:string" />
        <xs:element name="testonborrow" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpasequencefactory" >
      <xs:complexContent>
       <xs:extension base="sequenceoperator>">
         <xs:sequence>
          <xs:element name="sequenceoperatormap" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sequenceoperator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db2sequenceoperator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oraclesequenceoperator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractauditingentity" >
      <xs:sequence>
        <xs:element name="createduser" type="xs:string" />
        <xs:element name="setup" type="xs:dateTime" />
        <xs:element name="modifieduser" type="xs:string" />
        <xs:element name="lastup" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="physicalnamingstrategyuppercaseimpl" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autotrimstringtype" >
      <xs:complexContent>
       <xs:extension base="abstractsinglecolumnstandardbasictype<string>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idgenexception" >
      <xs:complexContent>
       <xs:extension base="errormessageexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idgenservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tableidgenservice" >
      <xs:complexContent>
       <xs:extension base="abstractdatasourceblockidgenservice">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="mtable" type="xs:string" />
          <xs:element name="mtablename" type="xs:string" />
          <xs:element name="keycolumn" type="xs:string" />
          <xs:element name="nextvaluecolumn" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractdatasourceblockidgenservice" >
      <xs:complexContent>
       <xs:extension base="abstractdatasourceidgenservice">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="mfirst" type="xs:anyType" />
          <xs:element name="mfirst" type="xs:long" />
          <xs:element name="mblocksize" type="xs:long" />
          <xs:element name="mallocated" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractdatasourceidgenservice" >
      <xs:complexContent>
       <xs:extension base="abstractidgenservice">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="mallocated" type="xs:long" />
          <xs:element name="mnextid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="snowflakesequenceidgenerator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="workerid" type="xs:long" />
        <xs:element name="datacenterid" type="xs:long" />
        <xs:element name="GeneratedName" type="snowflakesequenceid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractidgenservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="big_decimal_max_long" type="xs:anyType" />
        <xs:element name="/***同步信号*/msemaphore" type="xs:anyType" />
        <xs:element name="//id生成策略strategy" type="idgenstrategy" nillable="true" minOccurs="0" />
        <xs:element name="musebigdecimals" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idgenstrategy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="snowflakesequenceid" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="workerid" type="xs:long" />
        <xs:element name="datacenterid" type="xs:long" />
        <xs:element name="//0，并发控制sequence" type="xs:long" />
        <xs:element name="//时间起始标记点，作为基准，一般取系统的最近时间twepoch" type="xs:long" />
        <xs:element name="//机器标识位数workeridbits" type="xs:long" />
        <xs:element name="//机器id最大值:1023maxworkerid" type="xs:long" />
        <xs:element name="//数据中心标识位数datacenteridbits" type="xs:long" />
        <xs:element name="//数据中心id最大值:1023maxdatacenterid" type="xs:long" />
        <xs:element name="//毫秒内自增位序列在id中占的位数sequencebits" type="xs:long" />
        <xs:element name="//机器id偏左移12位//12workeridshift" type="xs:long" />
        <xs:element name="//数据中心id左移17位datacenteridshift" type="xs:long" />
        <xs:element name="//时间毫秒左移22位timestampleftshift" type="xs:long" />
        <xs:element name="//序列号id最大值sequencemax" type="xs:long" />
        <xs:element name="lasttimestamp" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseenum" >
      <xs:complexContent>
       <xs:extension base="enum<?>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enuminfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="referenums" >
      <xs:complexContent>
       <xs:extension base="enum<?>>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="propertyinfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rpcqueuename" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rpcversion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rpcasync" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uihelper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uiignore" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maputilsext" >
      <xs:complexContent>
       <xs:extension base="k,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="h2mvccconfigurer" >
      <xs:complexContent>
       <xs:extension base="driver>)">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dateutilsext" >
      <xs:complexContent>
       <xs:extension base="dateutils">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enumutilsext" >
      <xs:complexContent>
       <xs:extension base="enumutils">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="systemclockutil" >
      <xs:sequence>
        <xs:element name="period" type="xs:long" />
        <xs:element name="now" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hasmapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validateutilext" >
      <xs:complexContent>
       <xs:extension base="validate">
         <xs:sequence>
          <xs:element name="/***邮箱*/reg_email" type="xs:string" />
          <xs:element name="/***固话*/reg_phone" type="xs:string" />
          <xs:element name="/***手机号码*/reg_mobile" type="xs:string" />
          <xs:element name="/***url*/reg_url" type="xs:string" />
          <xs:element name="/***身份证号码*/reg_idcard" type="xs:string" />
          <xs:element name="/***是否是数字*/reg_number" type="xs:string" />
          <xs:element name="/***邮编*/reg_zip" type="xs:string" />
          <xs:element name="/***qq*/reg_qq" type="xs:string" />
          <xs:element name="/***整数*/reg_integer" type="xs:string" />
          <xs:element name="/***正整数*/reg_integer_p" type="xs:string" />
          <xs:element name="/***负整数*/reg_integer_n" type="xs:string" />
          <xs:element name="/***浮点数*/reg_float" type="xs:string" />
          <xs:element name="/***正浮点数*/reg_float_p" type="xs:string" />
          <xs:element name="/***负浮点数*/reg_float_n" type="xs:string" />
          <xs:element name="/***小数*/reg_double" type="xs:string" />
          <xs:element name="/***英文*/reg_english" type="xs:string" />
          <xs:element name="/***大写英文*/reg_english_upper" type="xs:string" />
          <xs:element name="/***小写英文*/reg_english_lower" type="xs:string" />
          <xs:element name="/***英文字母或数字*/reg_english_digit" type="xs:string" />
          <xs:element name="/***数字或字母或下划线*/reg_english_digit_line" type="xs:string" />
          <xs:element name="/***中文*/reg_chinese" type="xs:string" />
          <xs:element name="/***ip*/reg_ip" type="xs:string" />
          <xs:element name="/***金额*/reg_money" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mapbuilder" >
      <xs:sequence>
        <xs:element name="map" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertyutilsext" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatypeutils" >
      <xs:complexContent>
       <xs:extension base="enum<t>>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beanutilsext" >
      <xs:complexContent>
       <xs:extension base="propertyutilsbean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptionutilsext" >
      <xs:complexContent>
       <xs:extension base="exceptionutils{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localmachineutils" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classutilsext" >
      <xs:sequence>
        <xs:element name="array_suffix" type="xs:string" />
        <xs:element name="internal_array_prefix" type="xs:string" />
        <xs:element name="primitivetypenamemap" type="xs:anyType" />
        <xs:element name="primitivewrappertypemap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrayutilsext" >
      <xs:complexContent>
       <xs:extension base="arrayutils">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servicedaemon" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="ctx" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xstreamobjectfactorybean" >
      <xs:sequence>
        <xs:element name="xml" type="xs:anyType" />
        <xs:element name="objec" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queryresult" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***返回列表在结果集中的首行位置*/firstrow" type="xs:long" />
        <xs:element name="/***返回列表在结果集中的尾行位置*/lastrow" type="xs:long" />
        <xs:element name="/***查询结果集记录数*/totalrows" type="xs:long" />
        <xs:element name="/***响应码*/resultcode" type="xs:string" />
        <xs:element name="/***响应备注说明*/memo" type="xs:string" />
        <xs:element name="/***查询结果*/result" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="yakmessage" >
      <xs:sequence>
        <xs:element name="/***在customattributes中保存mak，密钥重置用*/mac_key_name" type="xs:string" />
        <xs:element name="/***在customattributes中保存关键域信息，验证响应消息位图，tps规则引擎用*/route_key_name" type="xs:string" />
        <xs:element name="/***在customattributes中保存响应消息位图，验证响应消息位图，tps规则引擎用*/rsp_fields_name" type="xs:string" />
        <xs:element name="rawmessage" type="xs:anyType" />
        <xs:element name="isheartbeat" type="xs:anyType" />
        <xs:element name="srcchannelid" type="xs:string" />
        <xs:element name="isrequest" type="xs:anyType" />
        <xs:element name="isincoming" type="xs:anyType" />
        <xs:element name="headattributes" type="xs:anyType" />
        <xs:element name="bodyattributes" type="xs:anyType" />
        <xs:element name="customattributes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autowiredsimplecachemanager" >
      <xs:complexContent>
       <xs:extension base="simplecachemanager">
         <xs:sequence>
          <xs:element name="autowiredcaches" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queryrequest" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***请求结果集的首行行号*/firstrow" type="xs:long" />
        <xs:element name="/***请求结果集的尾行行号*/lastrow" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 