mybnb-c43/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="make_availaible" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delete_host" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="create_booking" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="add_amenity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancel_booking_renter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="renter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deactivate_renter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking_report" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update_pricing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activate_host" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="create_listing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="available_listings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="make_unavailaible" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="query_listings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activate_renter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="renter_comment_host" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deactivate_host" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="host_comment_renter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancel_booking_host" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="renter_comment_listing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delete_renter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="create_renter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="create_host" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delete_listing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportscontroller" >
      <xs:sequence>
        <xs:element name="listingrepo" type="listingrepository" nillable="true" minOccurs="0" />
        <xs:element name="hostrepo" type="hostrepository" nillable="true" minOccurs="0" />
        <xs:element name="renterrepo" type="renterrepository" nillable="true" minOccurs="0" />
        <xs:element name="bookingrepo" type="bookingrepository" nillable="true" minOccurs="0" />
        <xs:element name="availabilityrepo" type="availabilityrepository" nillable="true" minOccurs="0" />
        <xs:element name="amenityrepo" type="amenityrepository" nillable="true" minOccurs="0" />
        <xs:element name="rentercommenthostrepo" type="rentercommenthostrepository" nillable="true" minOccurs="0" />
        <xs:element name="rentercommentlistingrepo" type="rentercommentlistingrepository" nillable="true" minOccurs="0" />
        <xs:element name="hostcommentrenterrepo" type="hostcommentrenterrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="listingrepo" type="listingrepository" nillable="true" minOccurs="0" />
        <xs:element name="hostrepo" type="hostrepository" nillable="true" minOccurs="0" />
        <xs:element name="renterrepo" type="renterrepository" nillable="true" minOccurs="0" />
        <xs:element name="bookingrepo" type="bookingrepository" nillable="true" minOccurs="0" />
        <xs:element name="availabilityrepo" type="availabilityrepository" nillable="true" minOccurs="0" />
        <xs:element name="amenityrepo" type="amenityrepository" nillable="true" minOccurs="0" />
        <xs:element name="rentercommenthostrepo" type="rentercommenthostrepository" nillable="true" minOccurs="0" />
        <xs:element name="rentercommentlistingrepo" type="rentercommentlistingrepository" nillable="true" minOccurs="0" />
        <xs:element name="hostcommentrenterrepo" type="hostcommentrenterrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querycontroller" >
      <xs:sequence>
        <xs:element name="listingrepo" type="listingrepository" nillable="true" minOccurs="0" />
        <xs:element name="amenityrepo" type="amenityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlcontroller" >
      <xs:sequence>
        <xs:element name="dbclassname" type="xs:string" />
        <xs:element name="connection" type="xs:string" />
        <xs:element name="//objectthatestablishesandkeepsthestateofourapplication's//withthemysqlbackend.conn" type="xs:anyType" />
        <xs:element name="//objectwhichcommunicateswiththesqlbackenddeliveringtoitthe//desiredqueryfromourapplicationandreturningtheresultsofthis//executionthesamewaythatarereceivedfromthesqlbackend.st" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commandline" >
      <xs:sequence>
        <xs:element name="//'sqlmngr'istheobjectwhichinteractsdirectlywithmysqlsqlmngr" type="sqlcontroller" nillable="true" minOccurs="0" />
        <xs:element name="//'sc'isneededinordertoscantheinputsprovidedbytheusersc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentid" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="booking" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listing" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="host" nillable="true" minOccurs="0" />
        <xs:element name="bookings" type="booking" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="longitude" type="xs:double" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="street_num" type="xs:long" />
        <xs:element name="street_name" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="postal_code_area" type="xs:string" />
        <xs:element name="postal_code_num" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="listed_on" type="xs:dateTime" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="availabilities" type="availability" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="amenities" type="amenity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="renter" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="card_num" type="xs:long" />
          <xs:element name="exp_" type="xs:dateTime" />
          <xs:element name="bookings" type="booking" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rentercommentlisting" >
      <xs:complexContent>
       <xs:extension base="comment">
         <xs:sequence>
          <xs:element name="//" type="booking" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rentercommenthost" >
      <xs:complexContent>
       <xs:extension base="comment">
         <xs:sequence>
          <xs:element name="////" type="booking" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="sin" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="first_name" type="xs:string" />
        <xs:element name="last_name" type="xs:string" />
        <xs:element name="occupation" type="xs:string" />
        <xs:element name="dob" type="xs:dateTime" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="availability" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="start_" type="xs:dateTime" />
        <xs:element name="end_" type="xs:dateTime" />
        <xs:element name="cost" type="xs:double" />
        <xs:element name="cancelled_by" type="xs:string" />
        <xs:element name="GeneratedName" type="renter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="host" nillable="true" minOccurs="0" />
        <xs:element name="rch" type="rentercommenthost" nillable="true" minOccurs="0" />
        <xs:element name="rcl" type="rentercommentlisting" nillable="true" minOccurs="0" />
        <xs:element name="hcr" type="hostcommentrenter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hostcommentrenter" >
      <xs:complexContent>
       <xs:extension base="comment{">
         <xs:sequence>
          <xs:element name="//" type="booking" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rentercommentlistingid" >
      <xs:sequence>
        <xs:element name="///**//*//*/serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="booking" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="availabilityid" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="host" >
      <xs:complexContent>
       <xs:extension base="user{">
         <xs:sequence>
          <xs:element name="/*	*hostcanhavemanylistings	*noneedtodefineaseparate	*relationshipthiswillbeautogenerated	*/listings" type="listing" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="bookings" type="booking" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listingid" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="host" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingid" >
      <xs:sequence>
        <xs:element name="//intid//bookingid" type="renter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amenity" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="listings" type="listing" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="addedon" type="xs:anyType" />
        <xs:element name="rating" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listingquery" >
      <xs:sequence>
        <xs:element name="amenitiesstreet_num" type="xs:long" />
        <xs:element name="street_name" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="postal_code_area" type="xs:string" />
        <xs:element name="postal_code_num" type="xs:string" />
        <xs:element name="amenitieslist" type="xs:anyType" />
        <xs:element name="checkin_" type="xs:dateTime" />
        <xs:element name="checkout_" type="xs:dateTime" />
        <xs:element name="//@min(-180)//@max(180)longitude" type="xs:double" />
        <xs:element name="//@min(-90)//@max(90)latitude" type="xs:double" />
        <xs:element name="distance" type="xs:long" />
        <xs:element name="min_cost" type="xs:double" />
        <xs:element name="max_cost" type="xs:double" />
        <xs:element name="price_low_to_high" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listingrepositoryimpl" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="listingrepo" type="listingrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rentercommenthostrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<rentercommenthost,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="amenityrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<amenity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listingrepositorycustom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<booking,integer>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rentercommentlistingrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<rentercommentlisting,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="availabilityrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<availability,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hostrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<host,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingrepositorycustom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="renterrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<renter,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listingrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<listing,integer>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingrepositoryimpl" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hostcommentrenterrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<hostcommentrenter,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mybnbc43application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mybnbc43applicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 