mybnb-c43/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="listing" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="host" nillable="true" minOccurs="0" />
        <xs:element name="bookings" type="booking" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="longitude" type="xs:double" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="street_num" type="xs:long" />
        <xs:element name="street_name" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="postal_code_area" type="xs:string" />
        <xs:element name="postal_code_num" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="listed_on" type="xs:dateTime" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="availabilities" type="availability" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="amenities" type="amenity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="renter" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="card_num" type="xs:long" />
          <xs:element name="exp_" type="xs:dateTime" />
          <xs:element name="bookings" type="booking" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rentercommentlisting" >
      <xs:complexContent>
       <xs:extension base="comment">
         <xs:sequence>
          <xs:element name="//" type="booking" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rentercommenthost" >
      <xs:complexContent>
       <xs:extension base="comment">
         <xs:sequence>
          <xs:element name="////" type="booking" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="availability" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="start_" type="xs:dateTime" />
        <xs:element name="end_" type="xs:dateTime" />
        <xs:element name="cost" type="xs:double" />
        <xs:element name="cancelled_by" type="xs:string" />
        <xs:element name="GeneratedName" type="renter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="host" nillable="true" minOccurs="0" />
        <xs:element name="rch" type="rentercommenthost" nillable="true" minOccurs="0" />
        <xs:element name="rcl" type="rentercommentlisting" nillable="true" minOccurs="0" />
        <xs:element name="hcr" type="hostcommentrenter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hostcommentrenter" >
      <xs:complexContent>
       <xs:extension base="comment{">
         <xs:sequence>
          <xs:element name="//" type="booking" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="host" >
      <xs:complexContent>
       <xs:extension base="user{">
         <xs:sequence>
          <xs:element name="/*	*hostcanhavemanylistings	*noneedtodefineaseparate	*relationshipthiswillbeautogenerated	*/listings" type="listing" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="bookings" type="booking" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="amenity" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="listings" type="listing" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 