ranayo/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="usnum" type="xs:long" />
        <xs:element name="//아이디겸이메일usemail" type="xs:string" />
        <xs:element name="//비밀번호uspasswd" type="xs:string" />
        <xs:element name="//닉네임usnickname" type="xs:string" />
        <xs:element name="//가입날자usjoindt" type="xs:dateTime" />
        <xs:element name="//가입할때ipusjoinip" type="xs:string" />
        <xs:element name="//아이디최종수정날usupdt" type="xs:dateTime" />
        <xs:element name="//아이디최종수정아이피usupip" type="xs:string" />
        <xs:element name="//해당유저권한usauth" type="xs:long" />
        <xs:element name="//가입상태(탈퇴:t,신고차단:g,정상:s)usstate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrole" >
      <xs:sequence>
        <xs:element name="uremail" type="xs:string" />
        <xs:element name="urrole" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 