MySpringCloud/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="springfirstapplicationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="isysuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="isysuserservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="myasyntask" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcontrolleraspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentuservo" >
      <xs:sequence>
        <xs:element name="/***用户状态*/username" type="xs:string" />
        <xs:element name="/***用户状态*/phone" type="xs:string" />
        <xs:element name="/***用户状态*/email" type="xs:string" />
        <xs:element name="/***用户状态*/portrait" type="xs:string" />
        <xs:element name="/***用户状态*/description" type="xs:string" />
        <xs:element name="/***用户状态*/orgname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysrolevo" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="/***角色名称*/name" type="xs:string" />
        <xs:element name="/***角色描述*/comments" type="xs:string" />
        <xs:element name="/***用户id*/userids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysworkvo" >
      <xs:sequence>
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="duration" type="xs:anyType" />
        <xs:element name="jobdescription" type="xs:string" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysorganizationvo" >
      <xs:sequence>
        <xs:element name="/***机构id*/id" type="xs:string" />
        <xs:element name="/***机构代码(行政区划码)*/code" type="xs:string" />
        <xs:element name="/***机构名称*/name" type="xs:string" />
        <xs:element name="/***机构类型*/type" type="xs:string" />
        <xs:element name="/***机构等级*/level" type="xs:string" />
        <xs:element name="/***上级节点id*/pid" type="xs:string" />
        <xs:element name="/***电话*/phone" type="xs:string" />
        <xs:element name="/***地址*/addr" type="xs:string" />
        <xs:element name="/***负责人*/principal" type="xs:string" />
        <xs:element name="userids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysuservo" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="/***用户状态*/status" type="xs:string" />
        <xs:element name="/***邮箱*/email" type="xs:string" />
        <xs:element name="/***登录用户名*/loginname" type="xs:string" />
        <xs:element name="/***用户名*/username" type="xs:string" />
        <xs:element name="/***密码*/password" type="xs:string" />
        <xs:element name="/***电话*/phone" type="xs:string" />
        <xs:element name="orgname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysstationvo" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="/***个人电脑编号*/pccode" type="xs:string" />
        <xs:element name="/***个人电脑ip*/pcip" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysworkfindvo" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="like" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="grade" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigurationsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scheduleconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="htmlcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfigurer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asynconfigurer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxsessioninformationexpiredstrategy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdetailsserviceimpl" >
      <xs:sequence>
        <xs:element name="userrepository" type="isysuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="isysrolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="isysstationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginsysuser" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="/***用户状态*/status" type="xs:string" />
          <xs:element name="/***邮箱*/email" type="xs:string" />
          <xs:element name="/***登录用户名*/loginname" type="xs:string" />
          <xs:element name="/***用户名名称*/username" type="xs:string" />
          <xs:element name="/***密码策略*/password" type="xs:string" />
          <xs:element name="/***电话*/phone" type="xs:string" />
          <xs:element name="" type="sysstation" nillable="true" minOccurs="0" />
          <xs:element name="sysroles" type="sysrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="sysorganization" nillable="true" minOccurs="0" />
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginfailhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginsuccesshandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customauthenticationfilter" >
      <xs:complexContent>
       <xs:extension base="usernamepasswordauthenticationfilter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="globalinterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysstationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="isysstationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysusercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="isysuserservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysworkcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userinfoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysorganizationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="isysorganizationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filecontroller" >
      <xs:sequence>
        <xs:element name="uploadfilepath" type="xs:string" />
        <xs:element name="filepath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysrolecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="isysroleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginsyscontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myasyntask" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myscheduletask" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iresult" >
      <xs:sequence>
        <xs:element name="/***错误码*/code" type="xs:anyType" />
        <xs:element name="/***提示信息*/msg" type="xs:string" />
        <xs:element name="/***具体内容*/daa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipageresponse" >
      <xs:complexContent>
       <xs:extension base="pageimpl<t>">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iresultutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeutil" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="simpleformat" type="xs:anyType" />
        <xs:element name="time_pattern" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codedesc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanutils" >
      <xs:complexContent>
       <xs:extension base="object>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ipagerequest" >
      <xs:sequence>
        <xs:element name="/***排序方式*/sort" type="xs:string" />
        <xs:element name="/***排序字段*/sidx" type="xs:string" />
        <xs:element name="/***当前頁面*/page" type="xs:anyType" />
        <xs:element name="/***页大小*/size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icodes" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="respmsg" type="xs:anyType" />
        <xs:element name="/***" type="xs:string" />
        <xs:element name="code_9999" type="xs:string" />
        <xs:element name="code_9991" type="xs:string" />
        <xs:element name="code_9992" type="xs:string" />
        <xs:element name="code_9993" type="xs:string" />
        <xs:element name="code_9994" type="xs:string" />
        <xs:element name="code_9995" type="xs:string" />
        <xs:element name="code_9996" type="xs:string" />
        <xs:element name="code_9997" type="xs:string" />
        <xs:element name="code_9998" type="xs:string" />
        <xs:element name="code_9989" type="xs:string" />
        <xs:element name="code_9988" type="xs:string" />
        <xs:element name="code_9987" type="xs:string" />
        <xs:element name="code_9986" type="xs:string" />
        <xs:element name="code_9985" type="xs:string" />
        <xs:element name="code_9984" type="xs:string" />
        <xs:element name="code_9983" type="xs:string" />
        <xs:element name="code_9982" type="xs:string" />
        <xs:element name="code_9981" type="xs:string" />
        <xs:element name="code_9980" type="xs:string" />
        <xs:element name="code_9979" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="syswork" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="moditime" type="xs:dateTime" />
        <xs:element name="jobdescription" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="like" type="xs:anyType" />
        <xs:element name="grade" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysporject" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="approvalinfo" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="/***更新时间*/moditime" type="xs:dateTime" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="organization" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="auditor" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysrole" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="/***角色名称*/name" type="xs:string" />
        <xs:element name="/***角色描述*/comments" type="xs:string" />
        <xs:element name="/***更新时间*/moditime" type="xs:dateTime" />
        <xs:element name="sysusers" type="sysuser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysorganization" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="/***机构代码(行政区划码)*/code" type="xs:string" />
        <xs:element name="/***机构名称*/name" type="xs:string" />
        <xs:element name="/***机构类型*/type" type="xs:string" />
        <xs:element name="/***机构等级*/level" type="xs:string" />
        <xs:element name="/***上级节点id*/pid" type="xs:string" />
        <xs:element name="/***电话*/phone" type="xs:string" />
        <xs:element name="/***地址*/addr" type="xs:string" />
        <xs:element name="/***负责人*/principal" type="xs:string" />
        <xs:element name="/***更新时间*/moditime" type="xs:dateTime" />
        <xs:element name="sysusers" type="sysuser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysstation" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="/***个人电脑编号*/pccode" type="xs:string" />
        <xs:element name="/***pcip个人电脑ip*/pcip" type="xs:string" />
        <xs:element name="GeneratedName" type="sysuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysuser" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="/***用户状态*/status" type="xs:string" />
        <xs:element name="/***邮箱*/email" type="xs:string" />
        <xs:element name="/***登录用户名*/loginname" type="xs:string" />
        <xs:element name="/***用户名名称*/username" type="xs:string" />
        <xs:element name="/***密码策略*/password" type="xs:string" />
        <xs:element name="/***电话*/phone" type="xs:string" />
        <xs:element name="/***更新时间*/moditime" type="xs:dateTime" />
        <xs:element name="/***用户-角色列表（多对多）*@return*/sysroles" type="sysrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="sysorganization" nillable="true" minOccurs="0" />
        <xs:element name="portrait" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="syfunction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysuserrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<sysuser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="isysworkrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<syswork,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="isysstationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<sysstation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="isysuserdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="isysrolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<sysrole,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="batchdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractdao" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysorganizationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<sysorganization,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<userinfo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springfirstapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysroleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysworkservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysuserservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysorganizationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysstationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysstationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="isysstationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfoserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="userinfodao" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysroleserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="isysrolerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysorganizationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="isysorganizationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="isysuserrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysuserserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="isysuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isysworkserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 