JavaSource3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="favorite" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="objtype" type="xs:long" />
          <xs:element name="objid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="favoritedao" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<favorite,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="favoriteservice" >
      <xs:sequence>
        <xs:element name="dao" type="favoritedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoritemodule" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoritecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="favoriteservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 