SpringBoot-Hibernate-Postgresql/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="addrfeat" >
      <xs:sequence>
        <xs:element name="gid" type="xs:anyType" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="lfromhn" type="xs:string" />
        <xs:element name="ltohn" type="xs:string" />
        <xs:element name="rfromhn" type="xs:string" />
        <xs:element name="rtohn" type="xs:string" />
        <xs:element name="zipl" type="xs:string" />
        <xs:element name="zipr" type="xs:string" />
        <xs:element name="geom" type="xs:anyType" />
        <xs:element name="//geomname" type="xs:string" />
        <xs:element name="predirabrv" type="xs:string" />
        <xs:element name="pretypabrv" type="xs:string" />
        <xs:element name="suftypabrv" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="place" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="//countyplace" type="xs:string" />
        <xs:element name="//statename1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 