s-irk-buyers-club/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="organization" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***наименование.*/name" type="xs:string" />
        <xs:element name="/***инн.*/inn" type="xs:string" />
        <xs:element name="/***создан.*/createdat" type="xs:anyType" />
        <xs:element name="/***обновлен.*/updatedat" type="xs:anyType" />
        <xs:element name="/***пометканаудаление.*/deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="telegramuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***этобот.*/isbot" type="xs:anyType" />
        <xs:element name="/***наименование.*/username" type="xs:string" />
        <xs:element name="/***имя.*/firstname" type="xs:string" />
        <xs:element name="/***фамилия.*/lastname" type="xs:string" />
        <xs:element name="/***можетприсоединитсякгруппе.толькодлябота.*/canjoingroups" type="xs:anyType" />
        <xs:element name="/***можетприсоединитсякгруппе.*/canreadallgroupmessages" type="xs:anyType" />
        <xs:element name="/***.*/supportinlinequeries" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shop" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***наименование.*/name" type="xs:string" />
        <xs:element name="/***адрес.*/address" type="xs:string" />
        <xs:element name="/***организация.*/" type="organization" nillable="true" minOccurs="0" />
        <xs:element name="/***создан.*/createdat" type="xs:anyType" />
        <xs:element name="/***обновлен.*/updatedat" type="xs:anyType" />
        <xs:element name="/***пометканаудаление.*/deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cashier" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***наименование.*/name" type="xs:string" />
        <xs:element name="/***магазин.*/" type="shop" nillable="true" minOccurs="0" />
        <xs:element name="/***создан.*/createdat" type="xs:anyType" />
        <xs:element name="/***обновлен.*/updatedat" type="xs:anyType" />
        <xs:element name="/***пометканаудаление.*/deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***наименование.*/name" type="xs:string" />
        <xs:element name="/***группа.*/" type="productgroup" nillable="true" minOccurs="0" />
        <xs:element name="/***создан.*/createdat" type="xs:anyType" />
        <xs:element name="/***обновлен.*/updatedat" type="xs:anyType" />
        <xs:element name="/***пометканаудаление.*/deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productgroup" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***наименование.*/name" type="xs:string" />
        <xs:element name="/***создан.*/createdat" type="xs:anyType" />
        <xs:element name="/***обновлен.*/updatedat" type="xs:anyType" />
        <xs:element name="/***пометканаудаление.*/deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cashcheckline" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***товар.*/" type="product" nillable="true" minOccurs="0" />
        <xs:element name="/***цена.*/price" type="xs:anyType" />
        <xs:element name="/***количество.*/quantity" type="xs:anyType" />
        <xs:element name="/***сумма.*/totalsum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cashcheck" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***кассир.*/" type="cashier" nillable="true" minOccurs="0" />
        <xs:element name="/***номерчека(???).*/requestnumber" type="xs:string" />
        <xs:element name="/***номерсмены(???).*/shiftnumber" type="xs:string" />
        <xs:element name="/***рег.номеркассовогоаппарата(имяатрибутаоригинальное).*/kktregid" type="xs:string" />
        <xs:element name="/***номерплаты.*/fiscaldrivenumber" type="xs:string" />
        <xs:element name="/***номердокумента.*/fiscaldocumentnumber" type="xs:string" />
        <xs:element name="/***сумма.*/totalsum" type="xs:anyType" />
        <xs:element name="/***сумманаличные.*/cashsum" type="xs:anyType" />
        <xs:element name="/***суммабезналичные.*/ecashsum" type="xs:anyType" />
        <xs:element name="/***дата-время.*/checkdate" type="xs:anyType" />
        <xs:element name="/***товары.*/checklines" type="cashcheckline" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/***telegram-пользовательдобавивишийчек.*/" type="telegramuser" nillable="true" minOccurs="0" />
        <xs:element name="/***создан.*/createdat" type="xs:anyType" />
        <xs:element name="/***обновлен.*/updatedat" type="xs:anyType" />
        <xs:element name="/***пометканаудаление.*/deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productprice" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***магазин.*/" type="shop" nillable="true" minOccurs="0" />
        <xs:element name="/***товар.*/" type="product" nillable="true" minOccurs="0" />
        <xs:element name="/***цена.*/price" type="xs:anyType" />
        <xs:element name="/***дата-время.*/pricedate" type="xs:anyType" />
        <xs:element name="/***пометканаудаление.*/deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 