sandbox2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employeeservicetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfiguration" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securitywebapplicationinitializer" >
      <xs:complexContent>
       <xs:extension base="abstractsecuritywebapplicationinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeeleavemaster" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="" type="employee" nillable="true" minOccurs="0" />
          <xs:element name="leaveyear" type="xs:long" />
          <xs:element name="availableleavebalance" type="xs:long" />
          <xs:element name="openingleavebalance" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="role" type="xs:string" />
          <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aclsid" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="principal" type="xs:string" />
          <xs:element name="sid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="enabled" type="xs:long" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authority" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="authority" type="xs:string" />
          <xs:element name="name" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="employeename" type="xs:string" />
          <xs:element name="employeeid" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="manager" type="employee" nillable="true" minOccurs="0" />
          <xs:element name="reportees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="base" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="createdon" type="xs:anyType" />
        <xs:element name="modifiedon" type="xs:anyType" />
        <xs:element name="isdeleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="holiday" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="holidayname" type="xs:string" />
          <xs:element name="holidaydate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="leavestatus" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="statusvalue" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeeserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<employee>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="leaverequest" >
      <xs:complexContent>
       <xs:extension base="base">
         <xs:sequence>
          <xs:element name="requestorname" type="employee" nillable="true" minOccurs="0" />
          <xs:element name="approvername" type="employee" nillable="true" minOccurs="0" />
          <xs:element name="//@format(pattern" type="xs:anyType" />
          <xs:element name="//@format(pattern" type="xs:anyType" />
          <xs:element name="//todo-thisshouldbeamastertypeofleave" type="xs:string" />
          <xs:element name="leavedurationtype" type="xs:string" />
          <xs:element name="remarks" type="xs:string" />
          <xs:element name="availableleavebalance" type="xs:long" />
          <xs:element name="leaveduration" type="xs:long" />
          <xs:element name="" type="leavestatus" nillable="true" minOccurs="0" />
          <xs:element name="log" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="leaverequestdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="holidaydaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roledaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeleavemasterjpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leavestatusjpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leaverequestdaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="holidaydao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roledao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leavestatusdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeleavemasterdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="holidaydao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontextdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeleavemasterserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeeleavemasterdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeleavemasterdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="holidaydao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leaverequestserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="leavestatusdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="holidaydao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="leaverequestdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsecurityusercontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeleavemasterservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leaverequestservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetailsserviceimpl" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="userdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeleavemastercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeeleavemasterservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leaverequestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="leaverequestservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeeleavemasterservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringtojodadatetimeconverter" >
      <xs:complexContent>
       <xs:extension base="propertyeditorsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="leaverequesteditor" >
      <xs:complexContent>
       <xs:extension base="propertyeditorsupport">
         <xs:sequence>
          <xs:element name="" type="employeeservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usereditor" >
      <xs:complexContent>
       <xs:extension base="propertyeditorsupport">
         <xs:sequence>
          <xs:element name="" type="roleservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boot" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-route.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-resource.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metismenu.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metismenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gruntfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metismenu.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metismenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatables.lengthlinks" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatables.searchhighlight.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fnmultifilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fncolumnindextovisible" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fnstandingredraw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fnfilterall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fngetcolumndata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fnfindcellrowindexes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fnprocessingindicator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fnvisibletocolumnindex" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fndataupdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fndisplayrow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fnsortneutral" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fngetcolumnindex" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fnpaginginfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fnfindcellrownodes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fnadddataanddisplay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringmonthyear" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anti-the" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chinese-string" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="title-string" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="percent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="date-uk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alt-string" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ip-address" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numeric-comma" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="time" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enum" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="file-size" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scientific" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="turkish-string" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="korean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slovenian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="croatian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="malay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="irish" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albanian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hebrew" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="italian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="belarusian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ukranian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chinese-traditional" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="azerbaijan" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dutch" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uzbek" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="norwegian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="turkish" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filipino" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lithuanian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tamil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="urdu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hindi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arabic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slovak" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="catalan" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greek" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="portuguese-brasil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chinese" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="german" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="afrikaans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="english" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="georgian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="galician" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="portuguese" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bangla" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swahili" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indonesian-alternative" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icelandic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="japanese" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bulgarian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gujarati" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="macedonian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hungarian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finnish" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="russian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="czech" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swedish" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="french" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="estonian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="latvian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="polish" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thai" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spanish" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indonesian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="danish" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="romanian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serbian" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vietnamese" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatables.bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rotated-flipped" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stacked" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="core" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="larger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fixed-width" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spinning" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bordered-pulled" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extras" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mit-license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="effects" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selector-sizzle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajax" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alias" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tween" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animatedselector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="callbacks" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xhr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parsexml" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="script" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parsejson" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonce" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="load" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_evalurl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rcheckabletype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deferred" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="global" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="access" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parsehtml" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ready" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hiddenvisibleselectors" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addgethookif" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="curcss" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultdisplay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cssexpand" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rnumnonpx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getstyles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmargin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ishidden" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="push" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="class2type" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hasown" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="concat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="strundefined" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tostring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexof" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="outro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dimensions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="intro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sizzle.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="traversing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rneedscontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deprecated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accepts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data_user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data_priv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower.travis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examples" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="composer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="augment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flot.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".travis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.fillbetween" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.pie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery-ui.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth-5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth-1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth-4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-usa-gdp-growth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-japan-gdp-growth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth-2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data-eu-gdp-growth-3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:complexContent>
       <xs:extension base="to">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configbridge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsive-utilities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popovers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagination" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsive-embed" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="breadcrumbs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modals" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list-group" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dropdowns" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="button-groups" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".csscomb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="close" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scaffolding" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="media" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alerts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thumbnails" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="size" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="text-overflow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsive-visibility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clearfix" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendor-prefixes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="opacity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="center-block" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagination" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hide-text" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resize" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nav-vertical-align" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alerts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tab-focus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table-row" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="border-radius" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="background-variant" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reset-filter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grid-framework" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="text-emphasis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jumbotron" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component-animations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="badges" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="input-groups" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leftmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontainer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="holidaytests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="holidaygrid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rotated-flipped" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extras" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="larger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spinning" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bordered-pulled" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="core" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fixed-width" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stacked" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="packager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gemfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_shape" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_inline" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_element" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_skin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_shared" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_flexible-box-model" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_vertical-align" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_background" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_form" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_clearfix" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list-inline-block" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_pseudo-element" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_user-select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_block-inline-block" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_helper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_dropdown" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_overlay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_google-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_drop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_top-edge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_houndstooth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_madras" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_striped" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_noise" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_polka-dot" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_cicada" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_gradients" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_tablecloth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_stripes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_media-queries" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_keyframes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_effect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_ellipse" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_infinity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_heart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_polygon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_rectangle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_pentagon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_hexagon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_square" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_parallelogram" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_trapezoid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_octagon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_symbol" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_cutout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_tape" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_ui" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_shadow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_layout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_recipes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ofl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theme_images" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ios7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indicator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indexbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_spinner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indexbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_listpaging" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_dataview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_listpaging" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_card" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_float" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_dock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_abstract" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_box" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_img" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_table" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_radio" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indicator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_indexbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toggle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_fieldset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_picker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_sheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_textarea" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_field" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_segmentedbutton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="file-header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="build" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="segmenter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="droppable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="limitedcache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modifier" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="date" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="number" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="array" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updates" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icomoon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ios7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="full-page-master-bundle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cmd-packages" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plugin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="watch-impl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="packager-impl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codegen" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plugin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="403" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 