spring-boot-java-ref1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="owner" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
          <xs:element name="address" type="xs:string" />
          <xs:element name="city" type="xs:string" />
          <xs:element name="telephone" type="xs:string" />
          <xs:element name="pets" type="pet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="vet" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
          <xs:element name="specialities" type="speciality" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="visit" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="date" type="xs:anyType" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="" type="pet" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pettype" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pet" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="" type="pettype" nillable="true" minOccurs="0" />
          <xs:element name="" type="owner" nillable="true" minOccurs="0" />
          <xs:element name="birthdate" type="xs:anyType" />
          <xs:element name="visits" type="visit" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="speciality" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 