JavaLearningSamples2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="widget" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="partnumber" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="/***defaultvalueincludedtoremovewarning.removeormodifyatwill.*/serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 