jpa02/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userinfo" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="usertype" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="townid" type="xs:string" />
        <xs:element name="villageid" type="xs:string" />
        <xs:element name="loginname" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookstock" >
      <xs:sequence>
        <xs:element name="isbn" type="xs:string" />
        <xs:element name="stock" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 