MyProjects/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nav" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="global" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="local" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creditcarderror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unannotated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="link" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databaseexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databaseerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="/*springsecurityrelatedfields*/authorities" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="accountnonexpired" type="xs:anyType" />
        <xs:element name="accountnonlocked" type="xs:anyType" />
        <xs:element name="credentialsnonexpired" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uiapplication" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customauthenticationprovider" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hashutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 