MyProjects/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="/*springsecurityrelatedfields*/authorities" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="accountnonexpired" type="xs:anyType" />
        <xs:element name="accountnonlocked" type="xs:anyType" />
        <xs:element name="credentialsnonexpired" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 