spring-in-action-v5-translate2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ingredientserviceapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ingredient" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notesendpoint" >
      <xs:sequence>
        <xs:element name="notes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ingredientrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<ingredient,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wackohealthindicator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ingredientcontroller" >
      <xs:sequence>
        <xs:element name="repo" type="ingredientrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="developmentconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ingredientserviceapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 