Software-Engineering/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="projectapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcmembercontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pcmembercontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="chairservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessioncontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sessioncontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ticketservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="keywordcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="papersubjectservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logincontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roomcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chaircontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="chaircontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="authorcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conferencecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="conferencecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ticketcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="assignmentcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="assignmentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="papercontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="papercontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<assignment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="papersubjectconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<papersubject,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pcmemberconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<pcmember,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roomconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<room,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ticketconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<ticket,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="converter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="biddingconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<bidding,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ticketsconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<list<ticket>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<author,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paperconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<paper,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<keyword,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sessionconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<session,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="chairconverter" >
      <xs:complexContent>
       <xs:extension base="abstractconverter<chair,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="keyworddto" >
      <xs:sequence>
        <xs:element name="kid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persondto" >
      <xs:sequence>
        <xs:element name="uid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="website" type="xs:string" />
        <xs:element name="affiliation" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="academicrank" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authordto" >
      <xs:sequence>
        <xs:element name="aid" type="xs:long" />
        <xs:element name="uid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewerdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname,lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentdatadto" >
      <xs:sequence>
        <xs:element name="cardnumber" type="xs:string" />
        <xs:element name="expirationdate" type="xs:string" />
        <xs:element name="holdername" type="xs:string" />
        <xs:element name="ccv" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="biddingdto" >
      <xs:sequence>
        <xs:element name="pcid" type="xs:long" />
        <xs:element name="pid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketdto" >
      <xs:sequence>
        <xs:element name="tid" type="xs:long" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="seatno" type="xs:anyType" />
        <xs:element name="purchased" type="xs:dateTime" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomdto" >
      <xs:sequence>
        <xs:element name="rid" type="xs:long" />
        <xs:element name="capacity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentdto" >
      <xs:sequence>
        <xs:element name="pcid" type="xs:long" />
        <xs:element name="pid" type="xs:long" />
        <xs:element name="qualifier" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chairdto" >
      <xs:sequence>
        <xs:element name="cid" type="xs:long" />
        <xs:element name="uid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paperdto" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="authorid" type="xs:long" />
        <xs:element name="session" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="accepted" type="xs:string" />
        <xs:element name="abstracturl" type="xs:string" />
        <xs:element name="contenturl" type="xs:string" />
        <xs:element name="topic" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paperdecisiondto" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="decision" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcmemberdto" >
      <xs:sequence>
        <xs:element name="pcid" type="xs:long" />
        <xs:element name="uid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketsdto" >
      <xs:sequence>
        <xs:element name="tid" type="xs:long" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="seatno" type="xs:anyType" />
        <xs:element name="purchased" type="xs:dateTime" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="sessions" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="papersubjectdto" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="kid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessiondto" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="rid" type="xs:long" />
        <xs:element name="supervisor" type="xs:long" />
        <xs:element name="price" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configurations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageresponse" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chairsresponse" >
      <xs:sequence>
        <xs:element name="chairs" type="chairdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="papersresponse" >
      <xs:sequence>
        <xs:element name="papers" type="paperdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginresponse" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bytesresponse" >
      <xs:sequence>
        <xs:element name="s" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionsresponse" >
      <xs:sequence>
        <xs:element name="sessions" type="sessiondto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewersresponse" >
      <xs:sequence>
        <xs:element name="reviewers" type="reviewerdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomsresponse" >
      <xs:sequence>
        <xs:element name="rooms" type="roomdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcmemberresponse" >
      <xs:sequence>
        <xs:element name="pcmember" type="pcmemberdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcmembersresponse" >
      <xs:sequence>
        <xs:element name="pcmember" type="pcmemberdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewersrequest" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="reviewers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paycartrequest" >
      <xs:sequence>
        <xs:element name="tickets" type="ticketdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginrequest" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerrequest" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="website" type="xs:string" />
        <xs:element name="affiliation" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="academicrank" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagerequest" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketpurchaserequest" >
      <xs:sequence>
        <xs:element name="tickets" type="ticketsdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="paymentdata" type="paymentdatadto" nillable="true" minOccurs="0" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conferencerequest" >
      <xs:sequence>
        <xs:element name="conferencename" type="xs:string" />
        <xs:element name="preliminaryphasedeadline" type="xs:string" />
        <xs:element name="firstphasedeadline" type="xs:string" />
        <xs:element name="secondphasedeadline" type="xs:string" />
        <xs:element name="thirdphasedeadline" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paperrequest" >
      <xs:sequence>
        <xs:element name="paperid" type="xs:long" />
        <xs:element name="authorid" type="xs:long" />
        <xs:element name="papername" type="xs:string" />
        <xs:element name="keywords" type="xs:string" />
        <xs:element name="filename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractrequest" >
      <xs:sequence>
        <xs:element name="authorid" type="xs:long" />
        <xs:element name="papername" type="xs:string" />
        <xs:element name="keywords" type="xs:string" />
        <xs:element name="filename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="biddingrequest" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="accepted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getpcmemberbyidrequest" >
      <xs:sequence>
        <xs:element name="pcid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pctochairrequest" >
      <xs:sequence>
        <xs:element name="pcid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createsessionrequest" >
      <xs:sequence>
        <xs:element name="rid" type="xs:long" />
        <xs:element name="cid" type="xs:long" />
        <xs:element name="time" type="xs:string" />
        <xs:element name="papers" type="paperdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ticketservice" nillable="true" minOccurs="0" />
        <xs:element name="converter" type="ticketsconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="papersubjectservice" nillable="true" minOccurs="0" />
        <xs:element name="converter" type="papersubjectconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="keywordservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="papercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paperservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="keywordservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="papersubjectservice" nillable="true" minOccurs="0" />
        <xs:element name="converter" type="paperconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="biddingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="assignmentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pcmemberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chaircontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="chairservice" nillable="true" minOccurs="0" />
        <xs:element name="converter" type="chairconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conferencecontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="scheduler" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sessionservice" nillable="true" minOccurs="0" />
        <xs:element name="converter" type="sessionconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paperservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paperconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentcontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="assignmentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="assignmentconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="converter" type="personconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorcontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="paperservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="chairservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pcmemberservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roomservice" nillable="true" minOccurs="0" />
        <xs:element name="converter" type="roomconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcmembercontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pcmemberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="chairservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pcmemberconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="chairconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="keywordrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chairserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="chairrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduler" >
      <xs:sequence>
        <xs:element name="conferencename" type="xs:string" />
        <xs:element name="preliminaryphasedeadline" type="xs:string" />
        <xs:element name="firstphasedeadline" type="xs:string" />
        <xs:element name="secondphasedeadline" type="xs:string" />
        <xs:element name="thirdphasedeadline" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="biddingserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="biddingrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sessionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ticketrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="assignmentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="papersubjectservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="papersubjectserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="papersubjectrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="authorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="biddingservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paperserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paperrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignmentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcmemberservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ticketrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roomrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chairservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paperservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcmemberserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pcmemberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paper" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="aid" type="xs:long" />
        <xs:element name="session" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="accepted" type="xs:string" />
        <xs:element name="abstracturl" type="xs:string" />
        <xs:element name="contenturl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="papersubjectspk" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="kid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="biddingpk" >
      <xs:sequence>
        <xs:element name="pcid" type="xs:long" />
        <xs:element name="pid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="session" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="rid" type="xs:long" />
        <xs:element name="supervisor" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcmember" >
      <xs:sequence>
        <xs:element name="pcid" type="xs:long" />
        <xs:element name="uid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignment" >
      <xs:sequence>
        <xs:element name="pcid" type="xs:long" />
        <xs:element name="pid" type="xs:long" />
        <xs:element name="qualifier" type="xs:long" />
        <xs:element name="reviewurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="uid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="website" type="xs:string" />
        <xs:element name="affiliation" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="academicrank" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticket" >
      <xs:sequence>
        <xs:element name="tid" type="xs:long" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="seatno" type="xs:anyType" />
        <xs:element name="purchased" type="xs:dateTime" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="papersubject" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="kid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chair" >
      <xs:sequence>
        <xs:element name="cid" type="xs:long" />
        <xs:element name="uid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyword" >
      <xs:sequence>
        <xs:element name="kid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author" >
      <xs:sequence>
        <xs:element name="aid" type="xs:long" />
        <xs:element name="uid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bidding" >
      <xs:sequence>
        <xs:element name="pcid" type="xs:long" />
        <xs:element name="pid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="room" >
      <xs:sequence>
        <xs:element name="rid" type="xs:long" />
        <xs:element name="capacity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailsender" >
      <xs:sequence>
        <xs:element name="origin_email" type="xs:string" />
        <xs:element name="welcome_subject" type="xs:string" />
        <xs:element name="join_subject" type="xs:string" />
        <xs:element name="purchase_subject" type="xs:string" />
        <xs:element name="register_link" type="xs:string" />
        <xs:element name="login_link" type="xs:string" />
        <xs:element name="tickets_msg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filehelper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticketrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ticket,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roomrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<room,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignmentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<assignment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pcmemberrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<pcmember,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="papersubjectrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<papersubject,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="biddingrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<bidding,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<author,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="keywordrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<keyword,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paperrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<paper,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="chairrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<chair,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sessionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<session,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="projectapplication" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="log4j2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontent7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontent0" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontent9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontent8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontent1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontent6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontent5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontent2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontent3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontent4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoabstract2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoabstract5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoabstract4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoabstract3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoabstract9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoabstract0" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoabstract7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoabstract6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoabstract1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoabstract8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conference" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_progress-bars" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_images" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_navbars" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_inputs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_vendor-prefixes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_popovers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_labels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_tabs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paper-kit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="environment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="environment.prod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review-mark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginuserbody" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticket" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paperreviewrpair" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paperreviewerpair" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="program-committee" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conferencephase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcdto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="session" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="room" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chair" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment-data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bidding.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="structure-conference.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="all-reviews.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pc-home.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author-reviews.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author-reviews.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author-papers.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="success-buy.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="success-buy.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pc-register.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chair-home.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkout.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paper-detail-decision.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homepage.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author-home.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author-register.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update-conference.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update-conference.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upload-abstract.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-lock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tsconfig.app" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tsconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tslint" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tsconfig" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tsconfig.spec" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 