spring-security-fd/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="gurahafiapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shopproductfeedbackservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<shopproductfeedback>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productcategoryservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<productcategory>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerorderproductservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<customerorderproduct>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shopproductservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<shopproduct>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<customer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shopservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<shop>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productsubcategoryservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<productsubcategory>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sellerservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<seller>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerorderservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<customerorder>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shopcategoryservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<shopcategory>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<product>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerverifiedinshopservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<customerverifiedinshop>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="marketservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<market>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crudservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractjpadaoservice" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractjpadaoservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="seller" >
      <xs:sequence>
        <xs:element name="sellerid" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="secondname" type="xs:string" />
        <xs:element name="othername" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="whatsappnumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="tinnumber" type="xs:string" />
        <xs:element name="idnumber" type="xs:anyType" />
        <xs:element name="imageurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerorderproduct" >
      <xs:sequence>
        <xs:element name="customerorderproductid" type="xs:anyType" />
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="customerid" type="xs:anyType" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="dueamount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shopproduct" >
      <xs:sequence>
        <xs:element name="shopproductid" type="xs:anyType" />
        <xs:element name="shopid" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="price" type="xs:string" />
        <xs:element name="productquantity" type="xs:string" />
        <xs:element name="imageurl" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="recentup" type="xs:dateTime" />
        <xs:element name="latestup" type="xs:dateTime" />
        <xs:element name="timebefore" type="xs:anyType" />
        <xs:element name="certaintypercentage" type="xs:dateTime" />
        <xs:element name="//torateproductfrom1-10rate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="subcategory_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcategory" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="categoryname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerverifiedinshop" >
      <xs:sequence>
        <xs:element name="verificationid" type="xs:anyType" />
        <xs:element name="shop_id" type="xs:anyType" />
        <xs:element name="customer_id" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shopproductfeedback" >
      <xs:sequence>
        <xs:element name="feedbackid" type="xs:anyType" />
        <xs:element name="shop_product_id" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="bestquality" type="xs:anyType" />
        <xs:element name="mediumquality" type="xs:anyType" />
        <xs:element name="lowquality" type="xs:anyType" />
        <xs:element name="notavailable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="secondname" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="village" type="xs:string" />
        <xs:element name="cell" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shop" >
      <xs:sequence>
        <xs:element name="shopid" type="xs:anyType" />
        <xs:element name="shopname" type="xs:string" />
        <xs:element name="village" type="xs:string" />
        <xs:element name="cell" type="xs:string" />
        <xs:element name="sellerid" type="xs:string" />
        <xs:element name="categoryid" type="xs:string" />
        <xs:element name="marketid" type="xs:string" />
        <xs:element name="imageurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shopcategory" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="categoryname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerorder" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="customer_id" type="xs:string" />
        <xs:element name="shop_id" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="market" >
      <xs:sequence>
        <xs:element name="marketid" type="xs:anyType" />
        <xs:element name="cell" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="village" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productsubcategory" >
      <xs:sequence>
        <xs:element name="subcategoryid" type="xs:anyType" />
        <xs:element name="subcategoryname" type="xs:string" />
        <xs:element name="categoryid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sellercontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gurahafiapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 