NewFxRepo/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="popover" >
      <xs:sequence>
        <xs:element name="theme" type="xs:anyType" />
        <xs:element name="options" type="xs:anyType" />
        <xs:element name="ctrl" type="popover" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerproductview" >
      <xs:sequence>
        <xs:element name="root" type="xs:anyType" />
        <xs:element name="tableview" type="providerproductdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="c1" type="xs:anyType" />
        <xs:element name="c2" type="xs:anyType" />
        <xs:element name="c3" type="xs:anyType" />
        <xs:element name="c4" type="xs:anyType" />
        <xs:element name="c5" type="xs:anyType" />
        <xs:element name="c6" type="xs:anyType" />
        <xs:element name="addproductbtn" type="xs:anyType" />
        <xs:element name="////buttonediproductbtn////buttondeleteproductbtn//searchfield" type="xs:anyType" />
        <xs:element name="saveproduct" type="xs:anyType" />
        <xs:element name="productdialog" type="xs:anyType" />
        <xs:element name="productnamefield" type="xs:anyType" />
        <xs:element name="productdescfield" type="xs:anyType" />
        <xs:element name="productqtyfield" type="xs:anyType" />
        <xs:element name="productpricefield" type="xs:anyType" />
        <xs:element name="productdeleteconfirmdialog" type="xs:anyType" />
        <xs:element name="btn" type="xs:anyType" />
        <xs:element name="lbl_pname_err" type="xs:anyType" />
        <xs:element name="lbl_pqty_err" type="xs:anyType" />
        <xs:element name="lbl_pprice_err" type="xs:anyType" />
        <xs:element name="closedialog" type="xs:anyType" />
        <xs:element name="alertdialogbtn" type="xs:anyType" />
        <xs:element name="alertdialogtitle" type="xs:anyType" />
        <xs:element name="alertdialog" type="xs:anyType" />
        <xs:element name="logged" type="user" nillable="true" minOccurs="0" />
        <xs:element name="productsobservablelist" type="providerproductdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerbillview" >
      <xs:sequence>
        <xs:element name="sproot" type="xs:anyType" />
        <xs:element name="billlistappender" type="xs:anyType" />
        <xs:element name="alertdialogtitle" type="xs:anyType" />
        <xs:element name="alertdialogbtn" type="xs:anyType" />
        <xs:element name="alertdialog" type="xs:anyType" />
        <xs:element name="searchfield" type="xs:anyType" />
        <xs:element name="tableview" type="providerbilldto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="c1" type="xs:anyType" />
        <xs:element name="c2" type="xs:anyType" />
        <xs:element name="c3" type="xs:anyType" />
        <xs:element name="c4" type="xs:anyType" />
        <xs:element name="c5" type="xs:anyType" />
        <xs:element name="c6" type="xs:anyType" />
        <xs:element name="c7" type="xs:anyType" />
        <xs:element name="c8" type="xs:anyType" />
        <xs:element name="c9" type="xs:anyType" />
        <xs:element name="c10" type="xs:anyType" />
        <xs:element name="c11" type="xs:anyType" />
        <xs:element name="logged" type="user" nillable="true" minOccurs="0" />
        <xs:element name="billsobservablelist" type="providerbilldto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="snackbar" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
        <xs:element name="btn_theme" type="xs:anyType" />
        <xs:element name="options" type="xs:anyType" />
        <xs:element name="ctrl" type="config" nillable="true" minOccurs="0" />
        <xs:element name="invert" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerbillview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="drawer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:complexContent>
       <xs:extension base="toggle>">
         <xs:sequence>
          <xs:element name="avatar" type="xs:anyType" />
          <xs:element name="sidebar" type="xs:anyType" />
          <xs:element name="searc" type="xs:anyType" />
          <xs:element name="boxstatus" type="xs:anyType" />
          <xs:element name="info" type="xs:anyType" />
          <xs:element name="views" type="xs:anyType" />
          <xs:element name="cstatus" type="xs:anyType" />
          <xs:element name="status" type="xs:anyType" />
          <xs:element name="body" type="xs:anyType" />
          <xs:element name="title" type="xs:anyType" />
          <xs:element name="search" type="xs:anyType" />
          <xs:element name="scroll" type="xs:anyType" />
          <xs:element name="design" type="xs:anyType" />
          <xs:element name="controls" type="xs:anyType" />
          <xs:element name="charts" type="xs:anyType" />
          <xs:element name="home" type="xs:anyType" />
          <xs:element name="about" type="xs:anyType" />
          <xs:element name="hamburger" type="xs:anyType" />
          <xs:element name="searchicon" type="xs:anyType" />
          <xs:element name="root" type="xs:anyType" />
          <xs:element name="clear" type="xs:anyType" />
          <xs:element name="config" type="xs:anyType" />
          <xs:element name="drawer" type="xs:anyType" />
          <xs:element name="messages" type="xs:anyType" />
          <xs:element name="notifications" type="xs:anyType" />
          <xs:element name="bg_info" type="xs:anyType" />
          <xs:element name="group" type="xs:anyType" />
          <xs:element name="available" type="xs:anyType" />
          <xs:element name="navigation" type="xs:anyType" />
          <xs:element name="main" type="xs:anyType" />
          <xs:element name="filteredlist" type="xs:anyType" />
          <xs:element name="popconfig" type="popover" nillable="true" minOccurs="0" />
          <xs:element name="popup" type="popover" nillable="true" minOccurs="0" />
          <xs:element name="items" type="xs:anyType" />
          <xs:element name="designitems" type="xs:anyType" />
          <xs:element name="controlsitems" type="xs:anyType" />
          <xs:element name="chartsitems" type="xs:anyType" />
          <xs:element name="dialog" type="xs:anyType" />
          <xs:element name="dialog_layout" type="xs:anyType" />
          <xs:element name="path" type="xs:string" />
          <xs:element name="scrolling" type="xs:anyType" />
          <xs:element name="popcontent" type="xs:anyType" />
          <xs:element name="ctrl" type="main" nillable="true" minOccurs="0" />
          <xs:element name="//@fxml//voidanimatebuttons(){//title.settext("animatedbutton")//body.setcontent(viewmanager.getinstance().get("animated-button"))//}//@fxml//voidjfxtextfield(){//title.settext("jfxtextfield")//body.setcontent(viewmanager.getinstance().get("jfx-text-field"))//}//@fxml//voidalerts(){//title.settext("alerts")//body.setcontent(viewmanager.getinstance().get("alerts"))//}pop" type="popover" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="providerproductview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popover" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customercontroller" >
      <xs:complexContent>
       <xs:extension base="boolean>">
         <xs:sequence>
          <xs:element name="root" type="xs:anyType" />
          <xs:element name="tableview" type="customerentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="c1" type="xs:anyType" />
          <xs:element name="c2" type="xs:anyType" />
          <xs:element name="c3" type="xs:anyType" />
          <xs:element name="addcustomerbtn" type="xs:anyType" />
          <xs:element name="edicustomerbtn" type="xs:anyType" />
          <xs:element name="deletecustomerbtn" type="xs:anyType" />
          <xs:element name="//searchfield" type="xs:anyType" />
          <xs:element name="customerdialog" type="xs:anyType" />
          <xs:element name="customernamefield" type="xs:anyType" />
          <xs:element name="customeraddressfield" type="xs:anyType" />
          <xs:element name="customerqtyfield" type="xs:anyType" />
          <xs:element name="customerpricefield" type="xs:anyType" />
          <xs:element name="customerdeleteconfirmdialog" type="xs:anyType" />
          <xs:element name="btn" type="xs:anyType" />
          <xs:element name="customersobservablelist" type="customerentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="customeraddress" type="xs:string" />
        <xs:element name="accounts" type="accountsentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="bills" type="billentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="sum" type="xs:double" />
        <xs:element name="customerid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="bill" type="xs:dateTime" />
        <xs:element name="billno" type="xs:string" />
        <xs:element name="ispayed" type="xs:anyType" />
        <xs:element name="customerid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billcontroller" >
      <xs:sequence>
        <xs:element name="root" type="xs:anyType" />
        <xs:element name="tableview" type="customerentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="c1" type="xs:anyType" />
        <xs:element name="c2" type="xs:anyType" />
        <xs:element name="c3" type="xs:anyType" />
        <xs:element name="addcustomerbtn" type="xs:anyType" />
        <xs:element name="edicustomerbtn" type="xs:anyType" />
        <xs:element name="deletecustomerbtn" type="xs:anyType" />
        <xs:element name="//searchfield" type="xs:anyType" />
        <xs:element name="customerdialog" type="xs:anyType" />
        <xs:element name="customernamefield" type="xs:anyType" />
        <xs:element name="customeraddressfield" type="xs:anyType" />
        <xs:element name="customerqtyfield" type="xs:anyType" />
        <xs:element name="customerpricefield" type="xs:anyType" />
        <xs:element name="customerdeleteconfirmdialog" type="xs:anyType" />
        <xs:element name="btn" type="xs:anyType" />
        <xs:element name="customersobservablelist" type="customerentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="providerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerdaotest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="providerdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<provider>">
         <xs:sequence>
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<user>">
         <xs:sequence>
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="billproviderproductdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<billproviderproduct>">
         <xs:sequence>
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<product>">
         <xs:sequence>
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="javabeanresult" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="resultclass" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="providerproductdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<providerproduct>">
         <xs:sequence>
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicdao" >
      <xs:sequence>
        <xs:element name="entityclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<bill>">
         <xs:sequence>
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerdao" >
      <xs:complexContent>
       <xs:extension base="basicdao<customer>">
         <xs:sequence>
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customerdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="providerdao" nillable="true" minOccurs="0" />
        <xs:element name="1" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="providerdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="billdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="billproviderproductdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="providerproductdao" nillable="true" minOccurs="0" />
        <xs:element name="1" type="productdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericclass" >
      <xs:sequence>
        <xs:element name="ype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerproductdto" >
      <xs:sequence>
        <xs:element name="providerproductid" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="qtyavailable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerbilldto" >
      <xs:sequence>
        <xs:element name="billid" type="xs:anyType" />
        <xs:element name="bill" type="xs:dateTime" />
        <xs:element name="ispaid" type="xs:anyType" />
        <xs:element name="billamount" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerbilldto" >
      <xs:sequence>
        <xs:element name="billid" type="xs:anyType" />
        <xs:element name="bill" type="xs:dateTime" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="qtyrequested" type="xs:anyType" />
        <xs:element name="qtyavailable" type="xs:anyType" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="billamount" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productdto" >
      <xs:sequence>
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="qty" type="xs:anyType" />
        <xs:element name="rate" type="xs:double" />
        <xs:element name="amount" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:anyType" />
        <xs:element name="sum" type="xs:double" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerproduct" >
      <xs:sequence>
        <xs:element name="providerproductid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="provider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="qtyavailable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="userpassword" type="xs:string" />
        <xs:element name="iscustomer" type="xs:anyType" />
        <xs:element name="isprovider" type="xs:anyType" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="provider" nillable="true" minOccurs="0" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="register" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:anyType" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="bills" type="bill" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billproviderproduct" >
      <xs:sequence>
        <xs:element name="billproviderproductid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bill" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="providerproduct" nillable="true" minOccurs="0" />
        <xs:element name="qtyrequested" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provider" >
      <xs:sequence>
        <xs:element name="providerid" type="xs:anyType" />
        <xs:element name="providername" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="providerproducts" type="providerproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bill" >
      <xs:sequence>
        <xs:element name="billid" type="xs:anyType" />
        <xs:element name="bill" type="xs:dateTime" />
        <xs:element name="ispaid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="billamount" type="xs:double" />
        <xs:element name="billproviderproducts" type="billproviderproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="providerproducts" type="providerproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loader" >
      <xs:complexContent>
       <xs:extension base="preloader">
         <xs:sequence>
          <xs:element name="progressbar" type="xs:anyType" />
          <xs:element name="view" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
          <xs:element name="decorator" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="stylesheets" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="userdetail" nillable="true" minOccurs="0" />
          <xs:element name="increment" type="xs:double" />
          <xs:element name="progress" type="xs:double" />
          <xs:element name="" type="section" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
        <xs:element name="avatar" type="xs:anyType" />
        <xs:element name="box_username" type="xs:anyType" />
        <xs:element name="box_password" type="xs:anyType" />
        <xs:element name="username" type="xs:anyType" />
        <xs:element name="password" type="xs:anyType" />
        <xs:element name="login" type="xs:anyType" />
        <xs:element name="lbl_password" type="xs:anyType" />
        <xs:element name="lbl_username" type="xs:anyType" />
        <xs:element name="lbl_error" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="avatar" type="xs:anyType" />
        <xs:element name="box_fullname" type="xs:anyType" />
        <xs:element name="box_username" type="xs:anyType" />
        <xs:element name="box_email" type="xs:anyType" />
        <xs:element name="box_password" type="xs:anyType" />
        <xs:element name="fullname" type="xs:anyType" />
        <xs:element name="username" type="xs:anyType" />
        <xs:element name="email" type="xs:anyType" />
        <xs:element name="password" type="xs:anyType" />
        <xs:element name="lbl_password" type="xs:anyType" />
        <xs:element name="lbl_fullname" type="xs:anyType" />
        <xs:element name="lbl_email" type="xs:anyType" />
        <xs:element name="lbl_username" type="xs:anyType" />
        <xs:element name="lbl_error" type="xs:anyType" />
        <xs:element name="register" type="xs:anyType" />
        <xs:element name="acctype" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard" >
      <xs:sequence>
        <xs:element name="areachart" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customermain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerproductview" >
      <xs:complexContent>
       <xs:extension base="boolean>">
         <xs:sequence>
          <xs:element name="sproot" type="xs:anyType" />
          <xs:element name="product" type="xs:anyType" />
          <xs:element name="cartbadge" type="xs:anyType" />
          <xs:element name="productlistappender" type="xs:anyType" />
          <xs:element name="cartdialog" type="xs:anyType" />
          <xs:element name="cartlistappender" type="xs:anyType" />
          <xs:element name="cartbuynowbtn" type="xs:anyType" />
          <xs:element name="carttotalamt" type="xs:anyType" />
          <xs:element name="placeorderbtn" type="xs:anyType" />
          <xs:element name="placeorderdialog" type="xs:anyType" />
          <xs:element name="cancelplaceorderbtn" type="xs:anyType" />
          <xs:element name="placeorderlistview" type="xs:anyType" />
          <xs:element name="////fieldpayingamountfieldplaceorderbillto" type="xs:anyType" />
          <xs:element name="placeorderbilladdr" type="xs:anyType" />
          <xs:element name="placeordertotqty" type="xs:anyType" />
          <xs:element name="placeordertotamt" type="xs:anyType" />
          <xs:element name="alertdialogtitle" type="xs:anyType" />
          <xs:element name="alertdialogbtn" type="xs:anyType" />
          <xs:element name="alertdialog" type="xs:anyType" />
          <xs:element name="paynowpaylater" type="xs:anyType" />
          <xs:element name="searchfield" type="xs:anyType" />
          <xs:element name="logged" type="user" nillable="true" minOccurs="0" />
          <xs:element name="productsobservablelist" type="providerproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="productlistview" type="providerproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="cartlistview" type="providerproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="snackbar" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="drawer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customermyorderview" >
      <xs:complexContent>
       <xs:extension base="boolean>">
         <xs:sequence>
          <xs:element name="sproot" type="xs:anyType" />
          <xs:element name="snackbar" type="xs:anyType" />
          <xs:element name="myorderlistview" type="bill" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="alertdialogtitle" type="xs:anyType" />
          <xs:element name="alertdialogbtn" type="xs:anyType" />
          <xs:element name="alertdialog" type="xs:anyType" />
          <xs:element name="myorderstotalorders" type="xs:anyType" />
          <xs:element name="myorderpendingbills" type="xs:anyType" />
          <xs:element name="myorderpendingamt" type="xs:anyType" />
          <xs:element name="myorderpaidamt" type="xs:anyType" />
          <xs:element name="myordernumbertitle" type="xs:anyType" />
          <xs:element name="myorderdetaillistappender" type="xs:anyType" />
          <xs:element name="myordertotalamt" type="xs:anyType" />
          <xs:element name="myorderokbtn" type="xs:anyType" />
          <xs:element name="billlistappender" type="xs:anyType" />
          <xs:element name="myorderdetaildialog" type="xs:anyType" />
          <xs:element name="paynowpaylater" type="xs:anyType" />
          <xs:element name="radio" type="xs:anyType" />
          <xs:element name="logged" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customermain" >
      <xs:sequence>
        <xs:element name="items" type="xs:anyType" />
        <xs:element name="drawer" type="xs:anyType" />
        <xs:element name="scroll" type="xs:anyType" />
        <xs:element name="title" type="xs:anyType" />
        <xs:element name="hamburger" type="xs:anyType" />
        <xs:element name="root" type="xs:anyType" />
        <xs:element name="main" type="xs:anyType" />
        <xs:element name="navigation" type="xs:anyType" />
        <xs:element name="sidebarviews" type="xs:anyType" />
        <xs:element name="contentbody" type="xs:anyType" />
        <xs:element name="content" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectionmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alerts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialogcustom" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="dialog" type="xs:anyType" />
        <xs:element name="close" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetail" >
      <xs:complexContent>
       <xs:extension base="gncontrol">
         <xs:sequence>
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="root" type="popover" nillable="true" minOccurs="0" />
          <xs:element name="signout" type="xs:anyType" />
          <xs:element name="//buttonprofile" type="popover" nillable="true" minOccurs="0" />
          <xs:element name="header" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dateformatutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="section" >
      <xs:sequence>
        <xs:element name="logged" type="xs:anyType" />
        <xs:element name="userlogged" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringcheckerutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pdfgenerator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewmanager" >
      <xs:sequence>
        <xs:element name="instance" type="viewmanager" nillable="true" minOccurs="0" />
        <xs:element name="screens" type="xs:anyType" />
        <xs:element name="nameview" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alertfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mask" >
      <xs:complexContent>
       <xs:extension base="number>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="alertcell" >
      <xs:complexContent>
       <xs:extension base="hbox">
         <xs:sequence>
          <xs:element name="fonticon" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="path" type="xs:anyType" />
          <xs:element name="content" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="title" type="xs:anyType" />
          <xs:element name="time" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webviewtest" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="browser" >
      <xs:sequence>
        <xs:element name="browser" type="xs:anyType" />
        <xs:element name="btn" type="xs:anyType" />
        <xs:element name="engine" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="browser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skinaction" >
      <xs:complexContent>
       <xs:extension base="textfieldskin">
         <xs:sequence>
          <xs:element name="button" type="xs:anyType" />
          <xs:element name="graphic" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clearableskin" >
      <xs:complexContent>
       <xs:extension base="skinaction">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewerskin" >
      <xs:complexContent>
       <xs:extension base="skinaction">
         <xs:sequence>
          <xs:element name="shouldmasktext" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="helpers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shape" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typographic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="custom-scroll" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewer.js" >
      <xs:complexContent>
       <xs:extension base="baseviewer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotation-check" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation-help" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation-paragraph" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation-insert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation-newparagraph" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation-comment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation-noicon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation-key" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation-note" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locale" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jspdf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pdf.worker.js" >
      <xs:complexContent>
       <xs:extension base="basepdfmanager">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pdf.js" >
      <xs:complexContent>
       <xs:extension base="will">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 