NewFxRepo/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:anyType" />
        <xs:element name="sum" type="xs:double" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerproduct" >
      <xs:sequence>
        <xs:element name="providerproductid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="provider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="qtyavailable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="userpassword" type="xs:string" />
        <xs:element name="iscustomer" type="xs:anyType" />
        <xs:element name="isprovider" type="xs:anyType" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="provider" nillable="true" minOccurs="0" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="register" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:anyType" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="bills" type="bill" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billproviderproduct" >
      <xs:sequence>
        <xs:element name="billproviderproductid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bill" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="providerproduct" nillable="true" minOccurs="0" />
        <xs:element name="qtyrequested" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="provider" >
      <xs:sequence>
        <xs:element name="providerid" type="xs:anyType" />
        <xs:element name="providername" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="providerproducts" type="providerproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bill" >
      <xs:sequence>
        <xs:element name="billid" type="xs:anyType" />
        <xs:element name="bill" type="xs:dateTime" />
        <xs:element name="ispaid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="billamount" type="xs:double" />
        <xs:element name="billproviderproducts" type="billproviderproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="providerproducts" type="providerproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 