OSS22/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="managedbeanwebapptest" >
      <xs:complexContent>
       <xs:extension base="jerseytest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="widget" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="val" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myapplication" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="managedbeanperrequestresource" >
      <xs:sequence>
        <xs:element name="ui" type="xs:anyType" />
        <xs:element name="x" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managedbeansingletonresource" >
      <xs:sequence>
        <xs:element name="/***initialvalueshouldgetinjectedbyjavaeecontainer.*/counter" type="xs:long" />
        <xs:element name="ui" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managedbeanexceptionmapper" >
      <xs:sequence>
        <xs:element name="uifieldinject" type="xs:anyType" />
        <xs:element name="rc" type="xs:anyType" />
        <xs:element name="uimethodinject" type="xs:anyType" />
        <xs:element name="ui" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managedbeanexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 