snl-api/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mockuserrepository" >
      <xs:sequence>
        <xs:element name="encoded_asd_password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwttokenprovidertest" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="max_expiry_ms" type="xs:long" />
          <xs:element name="secret" type="xs:string" />
          <xs:element name="jwt_expiry_ms" type="xs:long" />
          <xs:element name="jtp" type="jwttokenprovider" nillable="true" minOccurs="0" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="//bcrypthashof"password"password" type="xs:string" />
          <xs:element name="fullname" type="xs:string" />
          <xs:element name="passwordlastupdated" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customuserdetailsservicetest" >
      <xs:sequence>
        <xs:element name="cuds" type="customuserdetailsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationfiltertest" >
      <xs:sequence>
        <xs:element name="bearer" type="xs:string" />
        <xs:element name="token_value" type="xs:string" />
        <xs:element name="invalid_token" type="xs:string" />
        <xs:element name="GeneratedName" type="jwtauthenticationfilter" nillable="true" minOccurs="0" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="response" type="xs:anyType" />
        <xs:element name="chain" type="xs:anyType" />
        <xs:element name="tokenprovider" type="jwttokenprovider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="userdetailsservice" type="customuserdetailsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2sauthenticationservicetest" >
      <xs:sequence>
        <xs:element name="secret_events" type="xs:string" />
        <xs:element name="default_expiry" type="xs:long" />
        <xs:element name="service_name_snl_api" type="xs:string" />
        <xs:element name="user_name_snl_api" type="xs:string" />
        <xs:element name="GeneratedName" type="s2sauthenticationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resttemplateconfigurationtest" >
      <xs:sequence>
        <xs:element name="response" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="h2dbextendeddialect" >
      <xs:complexContent>
       <xs:extension base="h2dialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventscommunicationservicetest" >
      <xs:sequence>
        <xs:element name="events_url" type="xs:string" />
        <xs:element name="ecs" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="s2sauthenticationservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="xs:anyType" />
        <xs:element name="sampleheaders" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="referencedatacontrollertest" >
      <xs:sequence>
        <xs:element name="url_room_types" type="xs:string" />
        <xs:element name="url_session_types" type="xs:string" />
        <xs:element name="url_hearing_types" type="xs:string" />
        <xs:element name="url_case_types" type="xs:string" />
        <xs:element name="response_body" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcontrollertest" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomcontrollertest" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertransactioncontrollertest" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hearingcontrollertest" >
      <xs:sequence>
        <xs:element name="response_body" type="xs:string" />
        <xs:element name="request_body" type="xs:string" />
        <xs:element name="hearings_url" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="hearingcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="problemcontrollertest" >
      <xs:sequence>
        <xs:element name="paged_problems_url" type="xs:string" />
        <xs:element name="problems_url" type="xs:string" />
        <xs:element name="response_body" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getwelcometest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statusconfigcontrollertest" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rulesenginecontrollertest" >
      <xs:sequence>
        <xs:element name="url_rules_status" type="xs:string" />
        <xs:element name="response_body" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hearingpartcontrollertest" >
      <xs:sequence>
        <xs:element name="hearings_url" type="xs:string" />
        <xs:element name="hearings_with_is_listed_param_url" type="xs:string" />
        <xs:element name="hearings_with_wrong_listed_param_url" type="xs:string" />
        <xs:element name="response_body" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="hpc" type="hearingpartcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessioncontrollertest" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportcontrollertest" >
      <xs:sequence>
        <xs:element name="report_url" type="xs:string" />
        <xs:element name="response_body" type="xs:string" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitylogcontrollertest" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
        <xs:element name="response_body" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mock" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitycontrollertest" >
      <xs:sequence>
        <xs:element name="officer1" type="xs:string" />
        <xs:element name="officer_reset_required" type="xs:string" />
        <xs:element name="officer_not_enabled" type="xs:string" />
        <xs:element name="unknown_user" type="xs:string" />
        <xs:element name="encoded_asd_password" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="integrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="integrationtestwithfakeevents" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseintegrationtest" >
      <xs:sequence>
        <xs:element name="port" type="xs:long" />
        <xs:element name="GeneratedName" type="loginhelper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseintegrationtestwithfakeevents" >
      <xs:complexContent>
       <xs:extension base="baseintegrationtest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sessioncontrollerinttest" >
      <xs:complexContent>
       <xs:extension base="baseintegrationtestwithfakeevents">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roomcontrollerintrealtest" >
      <xs:complexContent>
       <xs:extension base="baseintegrationtestwithfakeevents">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginhelper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="healthchecktest" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smoketest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config.aat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config.saat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db-changelog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sl-1583-secure-passwords-make-email-nullable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="truncate-all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="insert-testdata-postgresql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="liquibase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optimisticlockexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beanvalidationexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statusconfigcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hearingcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rootcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="problemcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rulesenginecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitylogcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="referencedatacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hearingpartcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertransactioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventscommunicationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="tokenprovider" type="jwttokenprovider" nillable="true" minOccurs="0" />
        <xs:element name="cudservice" type="customuserdetailsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="unauthorizedhandler" type="jwtauthenticationentrypoint" nillable="true" minOccurs="0" />
          <xs:element name="custom" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="swaggerconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resttemplateconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordencoderconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersessiondetails" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="authorities" type="xs:anyType" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="accountnonexpired" type="xs:anyType" />
          <xs:element name="accountnonlocked" type="xs:anyType" />
          <xs:element name="credentialsnonexpired" type="xs:anyType" />
          <xs:element name="enabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventscommunicationservice" >
      <xs:sequence>
        <xs:element name="eventsurl" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="s2sauthenticationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwttokenprovider" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="tokencreator" type="xs:anyType" />
        <xs:element name="jwtmaxexpirationinms" type="xs:long" />
        <xs:element name="jwtsecret" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userprincipal" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="fullname" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="authorities" type="xs:anyType" />
          <xs:element name="accountnonexpired" type="xs:anyType" />
          <xs:element name="accountnonlocked" type="xs:anyType" />
          <xs:element name="credentialsnonexpired" type="xs:anyType" />
          <xs:element name="enabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="passwordlastupdated" type="xs:anyType" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="resetrequired" type="xs:anyType" />
        <xs:element name="roles" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginrequest" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationresponse" >
      <xs:sequence>
        <xs:element name="accesstoken" type="xs:string" />
        <xs:element name="tokentype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apiresponse" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationfilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
          <xs:element name="tokenprovider" type="jwttokenprovider" nillable="true" minOccurs="0" />
          <xs:element name="userdetailsservice" type="customuserdetailsservice" nillable="true" minOccurs="0" />
          <xs:element name="newtokenheadername" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertoken" >
      <xs:sequence>
        <xs:element name="claims" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iusertoken" >
      <xs:sequence>
        <xs:element name="max_expiry_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokencreator" >
      <xs:sequence>
        <xs:element name="secret" type="xs:string" />
        <xs:element name="expiration" type="xs:long" />
        <xs:element name="claims" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidusertoken" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationentrypoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentuser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s2sauthenticationservice" >
      <xs:sequence>
        <xs:element name="header_name" type="xs:string" />
        <xs:element name="header_content_prefix" type="xs:string" />
        <xs:element name="tokencreator" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 