learning-jpa12/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="items" type="item" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//카테고리계층구조를위한필드들parent" type="category" nillable="true" minOccurs="0" />
        <xs:element name="child" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="//주문회원" type="member" nillable="true" minOccurs="0" />
          <xs:element name="orderitems" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="//배송정보" type="delivery" nillable="true" minOccurs="0" />
          <xs:element name="//주문시간order" type="xs:dateTime" />
          <xs:element name="//주문상태status" type="orderstatus" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="city" type="xs:string" />
          <xs:element name="street" type="xs:string" />
          <xs:element name="zipcode" type="xs:string" />
          <xs:element name="orders" type="order" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:complexContent>
       <xs:extension base="item">
         <xs:sequence>
          <xs:element name="director" type="xs:string" />
          <xs:element name="actor" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="album" >
      <xs:complexContent>
       <xs:extension base="item">
         <xs:sequence>
          <xs:element name="artist" type="xs:string" />
          <xs:element name="etc" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:complexContent>
       <xs:extension base="item">
         <xs:sequence>
          <xs:element name="author" type="xs:string" />
          <xs:element name="isbn" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//이름name" type="xs:string" />
        <xs:element name="//가격price" type="xs:long" />
        <xs:element name="//재고수량stockquantity" type="xs:long" />
        <xs:element name="categories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delivery" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="status" type="deliverystatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="item" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="//주문가격orderprice" type="xs:long" />
        <xs:element name="//주문수량count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 