openJPA14/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="testjpavalidation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="city" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creator" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="images" type="image" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="albums" type="album" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="album" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="images" type="image" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="creator" type="creator" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="type" type="imagetype" nillable="true" minOccurs="0" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="GeneratedName" type="location" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="creator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagecontentvalidator" >
      <xs:sequence>
        <xs:element name="allowedtypes" type="imagetype" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagevalidator" >
      <xs:sequence>
        <xs:element name="allowedtypes" type="imagetype" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagegroup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagecontent" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imageconstraint" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sequencedimagegroup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 