rewardpoint5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tmapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ensureidgenengine" >
      <xs:sequence>
        <xs:element name="managerconfig" type="txmanagerconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="managerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rpcexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querytmclusterexecuteservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="faststorage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asktransactionstateexecuteservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="transactionmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initclientservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="txmanagerconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="managerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creategroupexecuteservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transactionmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cleaninvalidtmexecuteservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="faststorage" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joingroupexecuteservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transactionmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dtxcontextregistry" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notifygroupexecuteservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transactionmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dtxcontextregistry" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="writetxexceptionexecuteservice" >
      <xs:sequence>
        <xs:element name="compensationservice" type="txexceptionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transactionmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="acquiredtxlockexecuteservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="faststorage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="releasedtxlockexecuteservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="faststorage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serverrpcanswer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="rpcbeanhelper" type="txlcnmanagerrpcbeanhelper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagecreator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rpcexecuteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managerrpcexceptionhandler" >
      <xs:sequence>
        <xs:element name="compensationservice" type="txexceptionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactioncmd" >
      <xs:sequence>
        <xs:element name="/***业务状态*/type" type="xs:anyType" />
        <xs:element name="/***请求唯一标识*/requestkey" type="xs:string" />
        <xs:element name="/***事务组id*/groupid" type="xs:string" />
        <xs:element name="/***txclient标识键*/remotekey" type="xs:string" />
        <xs:element name="/***通讯数据*/msg" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tmrpcserver" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="txmanagerconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asynctxexceptionlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="txmanagerconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="managerserviceport" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txexceptionlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultexurlprovider" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txlcnmanagerrpcbeanhelper" >
      <xs:sequence>
        <xs:element name="/***managerbean名称格式*manager_%s_%s*manager:前缀%s:业务处理(create,add,close)*/rpc_bean_name_format" type="xs:string" />
        <xs:element name="spring" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionlist" >
      <xs:sequence>
        <xs:element name="total" type="xs:long" />
        <xs:element name="exceptions" type="exceptioninfo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deleteexceptions" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletelogsreq" >
      <xs:sequence>
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="ltime" type="xs:string" />
        <xs:element name="rtime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptioninfo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***事务组id*/groupid" type="xs:string" />
        <xs:element name="/***事务单元id*/unitid" type="xs:string" />
        <xs:element name="/***资源管理服务地址*/modid" type="xs:string" />
        <xs:element name="/***异常情况。-1【未知】0【txmanager通知事务】，1【txclient查询事务状态】2【事务发起方通知事务组】*/registrar" type="xs:long" />
        <xs:element name="/***异常状态0待处理1已处理*/exstate" type="xs:long" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***备注*/remark" type="xs:string" />
        <xs:element name="/***事务信息*/transactioninfo" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txmanagerinfo" >
      <xs:sequence>
        <xs:element name="/***netty主机*/sockethost" type="xs:string" />
        <xs:element name="/***netty端口*/socketport" type="xs:long" />
        <xs:element name="/***netty心跳时间*/heartbeattime" type="xs:long" />
        <xs:element name="/***注册的资源管理服务数量*/clientcount" type="xs:long" />
        <xs:element name="/***事务并发处理等级*/concurrentlevel" type="xs:long" />
        <xs:element name="/***分布式事务时间*/dtxtime" type="xs:long" />
        <xs:element name="/***异常通知*/exurl" type="xs:string" />
        <xs:element name="/***允许系统日志*/enabletxlogger" type="xs:string" />
        <xs:element name="/***tmversion*/tmversion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="token" >
      <xs:sequence>
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listappmods" >
      <xs:sequence>
        <xs:element name="total" type="xs:long" />
        <xs:element name="appmods" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txmanagerlog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***事务组id*/groupid" type="xs:string" />
        <xs:element name="/***事务单元id*/unitid" type="xs:string" />
        <xs:element name="/***tag*/tag" type="xs:string" />
        <xs:element name="/***日志内容*/content" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dtxinfo" >
      <xs:sequence>
        <xs:element name="/***本周处理事务数量*/dtxcount" type="xs:long" />
        <xs:element name="/***本周失败的事务数量*/errordtxcount" type="xs:long" />
        <xs:element name="/***今天事务数量*/todaydtxcount" type="xs:long" />
        <xs:element name="/***今天失败的事务数量*/todayerrordtxcount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txloglist" >
      <xs:sequence>
        <xs:element name="total" type="xs:long" />
        <xs:element name="logs" type="txmanagerlog" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorresponse" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="writetxexceptiondto" >
      <xs:sequence>
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="unitid" type="xs:string" />
        <xs:element name="modid" type="xs:string" />
        <xs:element name="transactionstate" type="xs:anyType" />
        <xs:element name="registrar" type="xs:long" />
        <xs:element name="remark" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txmanageradminauthlogic" >
      <xs:complexContent>
       <xs:extension base="defaultsauthlogic">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaulttokenstorage" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="faststorage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultsauthlogic" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tokenstorage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sauthlogic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenstorage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokeninterceptor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="sauthlogic" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptorconfigurer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tokeninterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sauthhandleexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="redirectcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txmanagercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="managerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="adminservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="txexceptionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="faststorage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txlcnmanagerbanner" >
      <xs:sequence>
        <xs:element name="version" type="xs:string" />
        <xs:element name="banner" type="xs:string" />
        <xs:element name="server_info" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txexceptionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managerserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="faststorage" nillable="true" minOccurs="0" />
        <xs:element name="managerconfig" type="txmanagerconfig" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminserviceimpl" >
      <xs:sequence>
        <xs:element name="managerconfig" type="txmanagerconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="defaulttokenstorage" nillable="true" minOccurs="0" />
        <xs:element name="txloggerhelper" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txexceptionserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="txexceptionlistener" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="txexceptionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txexceptionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<txexception,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="txexception" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***事务组id*/groupid" type="xs:string" />
        <xs:element name="/***事务单元id*/unitid" type="xs:string" />
        <xs:element name="/***资源管理服务地址*/modid" type="xs:string" />
        <xs:element name="/***事务状态*/transactionstate" type="xs:anyType" />
        <xs:element name="/***上报方*@seetxexceptionparams*/registrar" type="xs:long" />
        <xs:element name="/***异常状态0待处理1已处理*/exstate" type="xs:long" />
        <xs:element name="/***发生时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***备注*/remark" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tmautocluster" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="faststorage" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="txmanagerconfig" nillable="true" minOccurs="0" />
        <xs:element name="manager_refresh_url" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tmproperties" >
      <xs:sequence>
        <xs:element name="host" type="xs:string" />
        <xs:element name="httpport" type="xs:anyType" />
        <xs:element name="transactionport" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultdtxcontext" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="faststorage" nillable="true" minOccurs="0" />
        <xs:element name="groupid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lockvalue" >
      <xs:sequence>
        <xs:element name="/***事务组id*/groupid" type="xs:string" />
        <xs:element name="/***锁类型*/locktype" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faststorageprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionunit" >
      <xs:sequence>
        <xs:element name="/***事务单元所在模块标识*/modid" type="xs:string" />
        <xs:element name="/***事务类型*/unittype" type="xs:string" />
        <xs:element name="/***相关业务方法签名*/unitid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faststorage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisstorage" >
      <xs:sequence>
        <xs:element name="redis_group_prefix" type="xs:string" />
        <xs:element name="redis_group_state" type="xs:string" />
        <xs:element name="redis_token_prefix" type="xs:string" />
        <xs:element name="redis_tm_list" type="xs:string" />
        <xs:element name="redis_machine_id_map_prefix" type="xs:string" />
        <xs:element name="redistemplate" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="managerconfig" type="txmanagerconfig" nillable="true" minOccurs="0" />
        <xs:element name="global_context" type="xs:string" />
        <xs:element name="global_lock_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupprops" >
      <xs:sequence>
        <xs:element name="/***事务组id*/groupid" type="xs:string" />
        <xs:element name="/***创建时间*/createtimemillis" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultdtxcontextregistry" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="faststorage" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dtxcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpletransactionmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="rpcexceptionhandler" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="exceptionservice" type="txexceptionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dtxcontextregistry" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dtxcontextregistry" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tmautoconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enabletransactionmanagerserver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="txmanagerconfig" >
      <xs:sequence>
        <xs:element name="port_change_value" type="xs:long" />
        <xs:element name="/***managerhost*/host" type="xs:string" />
        <xs:element name="/***supportport*/port" type="xs:long" />
        <xs:element name="/***nettyheartchecktime(ms)*/hearttime" type="xs:long" />
        <xs:element name="/***事务处理并发等级*/concurrentlevel" type="xs:long" />
        <xs:element name="/***分布式事务锁超时时间*/dtxlocktime" type="xs:long" />
        <xs:element name="/***分布式事务超时时间(ms)*/dtxtime" type="xs:long" />
        <xs:element name="/***后台密码*/adminkey" type="xs:string" />
        <xs:element name="/***是否允许异常回调*/exurlenabled" type="xs:anyType" />
        <xs:element name="/***异常回调地址*/exurl" type="xs:string" />
        <xs:element name="/***id序列长度*/seqlen" type="xs:long" />
        <xs:element name="machineid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 