robinbird/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="componententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="componentcategory" type="xs:string" />
        <xs:element name="ownerid" type="xs:string" />
        <xs:element name="metadata" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationentity" >
      <xs:sequence>
        <xs:element name="ownerid" type="xs:string" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="relationcategory" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="relatedcomponentid" type="xs:string" />
        <xs:element name="cardinality" type="xs:string" />
        <xs:element name="metadata" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 